<script>
  import { Route, Router } from 'svelte-navigator';

  import LawfirmList from './screens/LawfirmList.svelte';
  import Add from './screens/Add.svelte';
  import Edit from './screens/Edit.svelte';
</script>

<Router>
  <Route path="list"><LawfirmList /></Route>
  <Route path="add"><Add /></Route>
  <Route path="edit/:id" let:params><Edit id={params.id} /></Route>
  <!-- <Route path="details"><LawFirm /></Route>
  <Route path="details/:id" component={LawFirm} /> -->
</Router>
