<script>
  import { Route, Router } from 'svelte-navigator';
  import CampaignList from './screens/CampaignList.svelte';
  import Add from './screens/Add.svelte';
</script>

<Router>
  <Route path="list"><CampaignList /></Route>
  <Route path="add"><Add /></Route>
  <Route path="edit/:id" let:params><Add id={params.id} /></Route>
</Router>
