<script>
  import { Route, Router } from 'svelte-navigator';

  import TrainingCategoryListing from './screens/List.svelte';
  import TrainingCategoryAdd from './screens/Add.svelte';
</script>

<Router>
  <Route path="list"><TrainingCategoryListing /></Route>
  <Route path="add"><TrainingCategoryAdd /></Route>
  <Route path="edit/:id" component={TrainingCategoryAdd} />
</Router>
