<script>
	import Revenue from './screens/revenue.svelte';
	import Summary from './screens/summary.svelte';
  import SignUp from './screens/signUp.svelte';
    import { Route, Router } from 'svelte-navigator';

  </script>
  
  <Router>
    <Route path="revenue"><Revenue /></Route>
    <Route path="summary"><Summary /></Route>
    <Route path="signUp"><SignUp /></Route>
    <!-- <Route path=":id" let:params><View id={params.id} /></Route> -->
  </Router>