<script>
  export let checked = false;
  export let disabled = false;
  export let group = '';
  export let value = '';
  export let style = '';
  export let formType = null;
</script>

{#if group}
  <div class="form-control">
    <div class="gap-2 cursor-pointer label">
      <input
        type="checkbox"
        {value}
        bind:group
        class="border border-gray-300 checkbox checkbox-primary"
        {style}
      />
      <p class="label-text text-gray-label">
        <slot />
      </p>
    </div>
  </div>
{:else if formType === 'mybox'}
  <div class="flex">
    <div>
      <input
        type="checkbox"
        name="switch"
        class="check"
        {disabled}
        bind:checked
        {style}
      />
    </div>
    <div>
      <p class="ml-3 label-text text-gray-label">
        <slot />
      </p>
    </div>
  </div>
{:else}
  <div class="form-control">
    <div class="gap-2 cursor-pointer label">
      <input
        type="checkbox"
        {disabled}
        bind:checked
        class="border border-gray-300 checkbox checkbox-primary"
        {style}
      />
      <p class="label-text text-gray-label">
        <slot />
      </p>
    </div>
  </div>
{/if}

<style>
  /* jfghdl;as */
  :root {
    --form-control-color: #da3b3e;
    --form-control-disabled: #959495;
  }

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  .form-control {
    font-family: system-ui, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.1;
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
  }

  input[type='checkbox'] {
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--form-background);
    margin: 0;

    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 1.5px solid #da3b3e;
    border-radius: 0.15em;
    transform: translateY(-0.075em);

    display: grid;
    place-content: center;
  }

  input[type='checkbox']::before {
    content: '';
    width: 0.65em;
    height: 0.65em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    /* Windows High Contrast Mode */
    background-color: CanvasText;
  }

  input[type='checkbox']:checked::before {
    transform: scale(1);
  }
</style>
