<script>
  import { uploadAPI } from '../../services/api';
  import phone_countries from '../../json/country-phone.json';
  import EyeOutlined from '../icons/password/EyeOutlined.svelte';
  import EyeCrossOutlined from '../icons/password/EyeCrossOutlined.svelte';

  export let noMargin = false;
  export let formType = null;
  export let htmlType = 'text';
  export let preSelectType = '';
  export let className = '';
  export let required = false;
  export let name = '';
  export let label = null;
  export let value = '';
  export let preValue = null;
  export let country_code = null;
  export let placeholder = '';
  export let handleChange = null;
  export let error = '';
  export let bindValue = false;
  export let editValCountry = null;
  export let labelClass = '';
  export let onkeypress = '';
  export let defaultSelectValue = '';
  export let readonly = false;
  export let disabled = false;
  export let nothing=false;
  //file upload
  export let input = null;
  export let image = null;
  export let text = 'Choose';
  export let width = 'w-32';
  export let showImage = false;
  export let fileName = '';
  export let percentageSymbol = '';
  export let dollarSymbol = '';

  // fileImage
  export let imageUrl = null;
  let uploadLoading = false;

  // fileImage
  const onChangeImage = async (e) => {
    uploadLoading = true;
    const res = await uploadAPI(
      'POST',
      `customer-admin/common/upload`,
      e.target.files[0],
    );
    const imgUrl = await res.json();
    uploadLoading = false;
    if (res.status >= 200 && res.status <= 300) {
      imageUrl = imgUrl.url;
    } else {
      console.error(
        'Error',
        imgUrl.message ? imgUrl.message : 'backend err msg.',
      );
      toastAlert('error', 'Profile Image Fail!');
    }
  };

  const borderColor = 'border-gray-300';
  let show_password = false;

  const togglePassword = (name) => {
    show_password = !show_password;
    document.querySelector('#' + name).type = show_password
      ? 'text'
      : 'password';
  };

  // file upload
  function onChange() {
    const file = input.files[0];
    fileName = input.files[0].name;

    if (file) {
      showImage = true;
      const reader = new FileReader();
      reader.addEventListener('load', function () {
        image.setAttribute('src', reader.result);
      });
      reader.readAsDataURL(file);
      return;
    }
    showImage = false;
  }

  //$ inputNumber
  // const handleKeyUp = async (event) => {
  //   if (event) {
  //     value = event.target.value
  //       .replace(/\D/g, '')
  //       .replace(/\B(?=(\d{3})+(?!\d))/g, ',');
  //   } else {
  //     value = event.target.value;
  //   }
  // };
  const handleKeyUp = async (event) => {
    let KeyID = event.keyCode;
    value = event.target.value;
    if (KeyID !== 8) {
      if (value) {
        if (value.indexOf('.') !== -1) {
          value = value
            .replace(/\.00/g, '')
            .replace(/\D/g, '')
            .replace(/\B(?=(\d{3})+(?!\d))/g, ',');
          value = value.padEnd(value.length + 3, '.00');
        } else {
          value = event.target.value;
          value = value.padEnd(value.length + 3, '.00');
        }
      }
    }
    // console.log(value);
  };

  const handelKey = async (event) => {
    if (event) {
      value = event.target.value
        .replace(/\,/g, '')
        .replace(/\B(?=(\d{3})+(?!\d))/g, ',');
    } else {
      value = event.target.value;
    }
  };
</script>

<div class={`${noMargin ? 'mb-0' : 'mb-4'} form-control`}>
  {#if label}
    <label for={name} class="label">
      <span
        class={`label-text ${labelClass ? `${labelClass}` : `text-gray-label`}`}
      >
        {label}{#if required}<span class="text-xl text-dark-red">*</span>{/if}
      </span>
    </label>
  {/if}
  {#if formType == 'select'}
    <select
      class={`select select-bordered ${className} ${borderColor}`}
      id={name}
      {name}
      on:change={handleChange}
      bind:value
      on:input
    >
      <option value={defaultSelectValue} disabled selected>
        {placeholder}
      </option>
      <slot />
    </select>
  {:else if formType == 'file'}
    <div class="flex flex-col gap-2 md:flex-row md:items-center">
      {#if showImage}
        <div class={` ${width}  p-2 border rounded-md`}>
          <img bind:this={image} src="" alt="Preview" />
        </div>
      {/if}
      <button
        class="p-2 rounded-md bg-lighter-gray"
        on:click={() => {
          input.click();
        }}
      >
        {text}
      </button>
      <span class="text-sm text-gray-label"
        >{#if fileName} {fileName} {:else} No File Chosen {/if}</span
      >
      <input
        style="display: none;"
        class="text-gray-label"
        bind:this={input}
        on:change={onChange}
        type="file"
      />
    </div>
  {:else if formType == 'fileImage'}
    <div class="flex flex-col gap-2 md:flex-row md:items-center">
      {#if imageUrl}
        <div class={` ${width}  p-2 border rounded-md`}>
          <img src={imageUrl} alt="Bank logo" />
        </div>
      {/if}
      {#if uploadLoading}
        <button type="button" class="p-2 rounded-md bg-lighter-gray" disabled>
          Loading...
        </button>
      {:else}
        <button
          type="button"
          class="p-2 rounded-md bg-lighter-gray"
          on:click={() => {
            input.click();
          }}
        >
          {text}
        </button>
      {/if}
      {#if imageUrl}<span />{:else}
        <span class="text-sm text-gray-label"
          >{#if fileName} {fileName} {:else} No File Chosen {/if}</span
        >
      {/if}
      <input
        style="display: none;"
        class="text-gray-label"
        bind:this={input}
        on:change={onChangeImage}
        type="file"
      />
    </div>
  {:else if formType == 'textarea'}
    <textarea
      class={`textarea h-24 textarea-bordered ${className} ${borderColor}`}
      id={name}
      {name}
      {placeholder}
      on:change={handleChange}
      bind:value
      on:input
    />
  {:else if formType == 'inputPreSelect'}
    <label class="input-group">
      {#if preSelectType === 'countries'}
        <select
          class={`select select-bordered ${className} ${borderColor}`}
          id={name}
          {name}
          on:change={handleChange}
          bind:value={country_code}
        >
          {#each phone_countries as pc, i}
            <option value={pc.dial_code.substring(1)}
              >{'+' + pc.dial_code.substring(1)}</option
            >
          {/each}
        </select>
      {:else}
        <select
          class={`select select-bordered ${className} ${borderColor}`}
          id={name}
          {name}
          on:change={handleChange}
          bind:value={preValue}
        >
          <option />
          <option>Mr.</option>
          <option>Mrs.</option>
          <option>Mx.</option>
        </select>
      {/if}
      <input
        class={`input input-bordered w-full ${className} ${borderColor}`}
        type="text"
        id={name}
        {name}
        {placeholder}
        on:change={handleChange}
        bind:value
        on:input
        {onkeypress}
      />
    </label>
  {:else if htmlType == 'number'}
    <input
      class={`input input-bordered ${className} ${borderColor}`}
      type="number"
      step="any"
      id={name}
      {name}
      {placeholder}
      on:change={onChange}
      bind:value
    />
  {:else if htmlType == 'password'}
    <div class="relative">
      <input
        class={`input input-bordered w-full ${className} ${borderColor}`}
        type="password"
        id={name}
        {name}
        {placeholder}
        bind:value
      />
      <div
        class="absolute cursor-pointer"
        style="right: 1.25rem; top: 50%; transform: translateY(-50%);"
        on:click={() => togglePassword(name)}
      >
        {#if show_password}<EyeOutlined />{:else}<EyeCrossOutlined />{/if}
      </div>
    </div>
  {:else if bindValue}
    <input
      class={`input input-bordered ${className} ${borderColor}`}
      type="text"
      id={name}
      {name}
      {placeholder}
      {value}
      {onkeypress}
      on:input
      on:change
    />
  {:else if formType == 'numberInput'}
    <div class=" input-icon">
      <i>$</i>
      <input
        class={`w-full input input-bordered ${className} ${borderColor}`}
        step="any"
        type="text"
        id={name}
        {name}
        {placeholder}
        bind:value
        on:change={handleChange}
        on:keyup={handleKeyUp}
        onkeypress="return (event.charCode != 8 && event.charCode == 0 || (event.charCode >= 48 && event.charCode <= 57))"
      />
    </div>
  {:else if htmlType == 'percentage'}
    <div class="input-icon-right">
      <input
        class={`input input-bordered ${className} ${borderColor}`}
        type="text"
        id={name}
        {disabled}
        {name}
        {placeholder}
        {value}
        on:input={handleChange}
        onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46 || event.charCode == 0"
      />
      <i>%</i>
    </div>
  {:else if formType == 'priceInput'}
    <div class=" input-icon">
      <i class="text-gray-label">$</i>
      <input
        class={`w-full input input-bordered ${className} ${borderColor}`}
        step="any"
        type="text"
        id={name}
        {name}
        {placeholder}
        {value}
        on:change
        on:keypress
        on:keydown
        {onkeypress}
        on:keyup={handelKey}
      />
    </div>
  {:else if formType == 'priceInputIcon'}
    <div class=" input-icon">
      <i class="text-gray-label">$</i>
      <input
        class={`w-full input input-bordered ${className} ${borderColor}`}
        step="any"
        type="text"
        id={name}
        {name}
        {placeholder}
        {value}
        on:change
        on:keypress
        on:keydown
        on:keyup
        {onkeypress}
      />
    </div>
  {:else if formType == 'bindInputPreSelect'}
    <!-- on edit retains country code -->
    <label class="input-group">
      {#if preSelectType === 'countries'}
        <select
          class={`select select-bordered text-gray-700 ${className} ${borderColor}`}
          id={name}
          {name}
          on:change={handleChange}
          on:blur={country_code}
          {disabled}
        >
          <!-- <option value="65">65</option> -->
          {#each phone_countries as pc, i}
            {#if editValCountry && editValCountry == pc.dial_code.substring(1)}
              <option selected value={editValCountry}
                >{'+' + editValCountry}</option
              >
            {:else}
              <option value={pc.dial_code.substring(1)}
                >{'+' + pc.dial_code.substring(1)}</option
              >
            {/if}
          {/each}
        </select>
      {:else}
        <select
          class={`select select-bordered ${className} ${borderColor}`}
          id={name}
          {name}
          on:change={handleChange}
          bind:value={preValue}
        >
          <option />
          <option>Mr.</option>
          <option>Mrs.</option>
          <option>Mx.</option>
        </select>
      {/if}
      <input
        class={`input input-bordered w-full ${className} ${borderColor}`}
        type="number"
        id={name}
        {name}
        {placeholder}
        on:change
        {value}
        {disabled}
        on:input
        {onkeypress}
      />
    </label>
  {:else if formType == 'InputNumber'}
    <div class={`${percentageSymbol ? 'input-icon-right' : 'input-icon'}`}>
      {#if percentageSymbol}
        <i class="text-gray-label">%</i>
      {:else if dollarSymbol}
        <i class="text-gray-label">$</i>
      {:else}
        <i class="sr-only text-gray-label">#</i>
      {/if}
      <input
        class={`w-full input input-bordered ${className} ${borderColor}`}
        type="number"
        id={name}
        {name}
        {placeholder}
        on:change={handleChange}
        bind:value
      />
    </div>
  {:else if formType == 'bindInputNumber'}
    <div class=" input-icon">
      {#if percentageSymbol}
        <i class="text-gray-label">%</i>
      {:else if dollarSymbol}
        <i class="text-gray-label">$</i>
      {:else}
        <i class="sr-only text-gray-label">#</i>
      {/if}
      <input
        class={`w-full input input-bordered ${className} ${borderColor}`}
        type="number"
        step="any"
        id={name}
        {name}
        {placeholder}
        {value}
        on:change
        {onkeypress}
      />
    </div>
  {:else if formType == 'nummberWithDecimal'}
    <div class=" input-icon">
      {#if percentageSymbol}
        <i class="text-gray-label">%</i>
      {:else if dollarSymbol}
        <i class="text-gray-label">$</i>
      {:else if nothing}
      <span></span>
      {:else}
        <i class="sr-only text-gray-label">#</i>
      {/if}
      <input
        class={`w-full input input-bordered ${className} ${borderColor}`}
        type="number"
        id={name}
        {name}
        {placeholder}
        bind:value
        on:change
        step=".01"
      />
    </div>
  {:else}
    <input
      class={`input input-bordered ${className} ${borderColor}`}
      type="text"
      id={name}
      {name}
      {placeholder}
      on:change={handleChange}
      bind:value
      {readonly}
    />
  {/if}
  {#if error}
    <small class="flex justify-end mt-2 text-red-600">{error}</small>
  {/if}
</div>

<style>
  .input-icon {
    position: relative;
  }

  .input-icon > i {
    position: absolute;
    display: block;
    transform: translate(0, -50%);
    top: 50%;
    pointer-events: none;
    width: 25px;
    text-align: center;
    font-style: normal;
  }

  .input-icon > input {
    padding-left: 25px;
    padding-right: 0;
  }

  .input-icon-right {
    position: relative;
  }

  .input-icon-right > input {
    width: 100%;
    padding-right: 48px;
  }

  .input-icon-right > i {
    position: absolute;
    display: block;
    right: 0;
    transform: translate(0, -50%);
    top: 50%;
    pointer-events: none;
    width: 48px;
    text-align: center;
    font-style: normal;
  }
</style>
