<script>
  export let toggleText = null;
  export let checked = false;
</script>

<div class="form-control">
  <label class="cursor-pointer label gap-2">
    {#if toggleText}
      <span class="label-text">{toggleText}</span>
    {/if}
    <input type="checkbox" bind:checked class="toggle" />
  </label>
</div>
