<script>
  export let checked = false;
  export let disabled = false;
  export let group = '';
  export let value = '';
  export let style = '';
  export let formType = null;
</script>

{#if group}
  <div class="form-control">
    <div class="gap-2 cursor-pointer label">
      <input
        type="checkbox"
        {value}
        bind:group
        class="border border-gray-300 checkbox checkbox-primary"
        {style}
      />
      <p class="label-text text-gray-label">
        <slot />
      </p>
    </div>
  </div>
{:else if formType === 'mybox'}
  <div class="flex">
    <div>
      <input
        type="checkbox"
        name="switch"
        class="check"
        {disabled}
        bind:checked
        {style}
      />
    </div>
    <div>
      <p class="ml-3 label-text text-gray-label">
        <slot />
      </p>
    </div>
  </div>
{:else}
  <div class="form-control">
    <div class="gap-2 cursor-pointer label">
      <input
        type="checkbox"
        {disabled}
        bind:checked
        class="border border-gray-300 checkbox checkbox-primary"
        {style}
      />
      <p class="label-text text-gray-label">
        <slot />
      </p>
    </div>
  </div>
{/if}

<style>
  .check {
    -webkit-appearance: none; /*hides the default checkbox*/
    height: 24px;
    width: 24px;
    position: relative;
    top: 0px;
    left: 0px;
    transition: 0.1s;
    background-color: #c83939;
    text-align: center;
    font-weight: 600;
    color: white;
    border-radius: 3px;
    outline: none;
    border-style: solid;
    border-color: red;
  }

  .check:checked {
    background-color: #31b86b;
  }

  .check:before {
    content: '✖';
    color: white;
  }
  .check:checked:before {
    content: '✔';
    color: white;
  }

  .check:hover {
    cursor: pointer;
  }
</style>
