<div class="my-4 body-manual">
  <div class="flex flex-col">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <div
          class="overflow-hidden border-b border-gray-200 shadow sm:rounded-lg"
        >
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
              <tr>
                <th
                  scope="col"
                  class="w-1/2 px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase"
                  >Early Repayment Penality</th
                >

                <th scope="col" class="relative w-1/2 px-6 py-3">
                  <span class="sr-only">empty</span>
                </th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
              <tr>
                <td
                  class="w-1/2 px-6 py-4 text-sm font-medium text-gray-900 whitespace-nowrap"
                  >Year 1</td
                >

                <td
                  class="w-1/2 px-6 py-4 text-sm text-gray-500 whitespace-nowrap"
                  >Fixed (0.00)% + 1.000% = 1.000%</td
                >
              </tr>
              <tr>
                <td
                  class="w-1/2 px-6 py-4 text-sm font-medium text-gray-900 whitespace-nowrap"
                  >Year 2</td
                >

                <td
                  class="w-1/2 px-6 py-4 text-sm text-gray-500 whitespace-nowrap"
                  >Fixed (0.00)% + 1.000% = 1.000%</td
                >
              </tr>
              <tr>
                <td
                  class="w-1/2 px-6 py-4 text-sm font-medium text-gray-900 whitespace-nowrap"
                  >Year 3</td
                >

                <td
                  class="w-1/2 px-6 py-4 text-sm text-gray-500 whitespace-nowrap"
                  >36 FDR (0.720)% + 1.200% = 1.920%</td
                >
              </tr>
              <tr>
                <td
                  class="w-1/2 px-6 py-4 text-sm font-medium text-gray-900 whitespace-nowrap"
                  >Year 4</td
                >

                <td
                  class="w-1/2 px-6 py-4 text-sm text-gray-500 whitespace-nowrap"
                  >36 FDR (0.720)% + 1.200% = 1.920%</td
                >
              </tr>
              <tr>
                <td
                  class="w-1/2 px-6 py-4 text-sm font-medium text-gray-900 whitespace-nowrap"
                  >Year 5</td
                >

                <td
                  class="w-1/2 px-6 py-4 text-sm text-gray-500 whitespace-nowrap"
                  >36 FDR (0.720)% + 1.200% = 1.920%</td
                >
              </tr>
              <tr>
                <td
                  class="w-1/2 px-6 py-4 text-sm font-medium text-gray-900 whitespace-nowrap"
                  >Thereafter</td
                >

                <td
                  class="w-1/2 px-6 py-4 text-sm text-gray-500 whitespace-nowrap"
                  >36 FDR (0.720)% + 1.200% = 1.920%</td
                >
              </tr>
              <!-- More people... -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
