<div class="my-4 body-manual">
  <div class="flex flex-col">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <div
          class="overflow-hidden border-b border-gray-200 shadow sm:rounded-lg"
        >
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
              <tr>
                <th
                  scope="col"
                  class="w-1/2 px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase"
                  >Key Features</th
                >

                <th scope="col" class="relative w-1/2 px-6 py-3">
                  <span class="sr-only">empty</span>
                </th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
              <tr>
                <td
                  class="w-1/2 px-6 py-4 text-sm font-medium text-gray-900 whitespace-nowrap"
                  >Property Type</td
                >

                <td
                  class="w-1/2 px-6 py-4 text-sm text-gray-500 whitespace-nowrap"
                  >Private Residential</td
                >
              </tr>
              <tr>
                <td
                  class="w-1/2 px-6 py-4 text-sm font-medium text-gray-900 whitespace-nowrap"
                  >Type of Loan</td
                >

                <td
                  class="w-1/2 px-6 py-4 text-sm text-gray-500 whitespace-nowrap"
                  >New Purchase/ Refinance</td
                >
              </tr>
              <tr>
                <td
                  class="w-1/2 px-6 py-4 text-sm font-medium text-gray-900 whitespace-nowrap"
                  >Lock in Period</td
                >

                <td
                  class="w-1/2 px-6 py-4 text-sm text-gray-500 whitespace-nowrap"
                  >2 Years</td
                >
              </tr>
              <tr>
                <td
                  class="w-1/2 px-6 py-4 text-sm font-medium text-gray-900 whitespace-nowrap"
                  >Min Loan Amount</td
                >

                <td
                  class="w-1/2 px-6 py-4 text-sm text-gray-500 whitespace-nowrap"
                  >$1,200,000</td
                >
              </tr>
              <tr>
                <td
                  class="w-1/2 px-6 py-4 text-sm font-medium text-gray-900 whitespace-nowrap"
                  >Deposit to Place</td
                >

                <td
                  class="w-1/2 px-6 py-4 text-sm text-gray-500 whitespace-nowrap"
                  >To deposit Fresh funds within from LO</td
                >
              </tr>
              <tr>
                <td
                  class="w-1/2 px-6 py-4 text-sm font-medium text-gray-900 whitespace-nowrap"
                  >Remarks for Applicant</td
                >

                <td
                  class="w-1/2 px-6 py-4 text-sm text-gray-500 whitespace-nowrap"
                  >1 Free Conversion after Lock in Period</td
                >
              </tr>
              <tr>
                <td
                  class="w-1/2 px-6 py-4 text-sm font-medium text-gray-900 whitespace-nowrap"
                  >Remarks for Broker</td
                >

                <td
                  class="w-1/2 px-6 py-4 text-sm text-gray-500 whitespace-nowrap"
                  >Last Submission on 15/11/2021</td
                >
              </tr>
              <!-- More people... -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
