<script>
  import { Link } from 'svelte-navigator';

  import PdfFile from '../../../../components/icons/PdfFile.svelte';

  import { onMount } from 'svelte';
  import { fetchApi } from '../../../../services/api';
  import { toastAlert } from '../../../../utils/toaster';

  import { paginate, LightPaginationNav } from 'svelte-paginate';

  let bankName = [];
  let items = [];
  let currentPage = 1;
  let pageSize = 10;

  let page = 1;
  let total = 0;

  $: paginatedItems = paginate({ items, pageSize, currentPage });

  onMount(async () => {
    // get user List
    fetchBankList();
  });

  const onChangePage = (newPage) => {
    // console.log("change page v33", newPage);
    page = newPage;
    fetchBankList();
  };

  const fetchBankList = async (query) => {
    const response = await fetchApi(
      'GET',
      `customer/bank/banks?page=${page}&has_form=true`,
    );
    const banks = await response.json();

    //bank filter
    total = banks;

    items = banks.results;
    // items = items.filter(filterData);
    console.log('bankform', banks);
    if(res.status === 403){
      if(banks.name === 'MEMBERSHIP_ACL_CHECK'){
        toastAlert('error', banks.message ? banks.message: 'We have encountered a technical difficulty. Please try again later.')
      }else{
        toastAlert('error', banks.detail ? banks.detail : 'We have encountered a technical difficulty onboarding you. Please try again later.');
      }
    }
  };

  // const filterData = (items) => {
  //   return items.bank_form != null;
  //   console.log('bank form', items);
  // };

  //download bank forms
  const downloadFile = (uri, name = 'file_name') => {
    var link = document.createElement('a');
    // If you don't know the name or want to use
    // the webserver default set name = ''
    link.setAttribute('download', name);
    link.href = uri;
    document.body.appendChild(link);
    link.click();
    link.remove();
  };

  // Backup: unused
  // function downloadDoc(id, bank_form, name) {
  //   console.log(id, bank_form, name);
  //   // fetch(`${bank_form}`)
  //   if (bank_form) {
  //     fetch(`${bank_form}`, {
  //       mode: 'no-cors',
  //     })
  //       .then((resp) => resp.blob())
  //       .then((blob) => {
  //         const url = window.URL.createObjectURL(blob);
  //         const a = document.createElement('a');
  //         a.style.display = 'none';
  //         a.href = url;
  //         // the filename you want
  //         a.download = name;
  //         document.body.appendChild(a);
  //         a.click();
  //         window.URL.revokeObjectURL(url);
  //       });
  //     // console.log(url);
  //   } else {
  //     toastAlert('error', 'Download failed');
  //   }
  // }
</script>

<section>
  <div class="pb-6 pl-2 pr-3 mt-0 bg-base-100 rounded-box">
    {#each paginatedItems as data}
      {#each data.forms as form}
        <div class="flex justify-between w-full px-2 my-3 text-gray-label">
          <div class="py-2 text-base capitalize">
            {form.name}
          </div>
          <div>
            <div class="flex pt-1">
              <!-- <a href={data.bank_form === null ? '#' : data.bank_form}>
              {#if data.bank_form === null}
                -
              {:else}
                <div><PdfFile /></div>
              {/if}
            </a> -->
              <button>
                {#if form.url === null}
                  -
                {:else}
                  <div on:click={() => downloadFile(form.url, form.name)}>
                    <PdfFile />
                  </div>
                {/if}
              </button>
            </div>
          </div>
        </div>
      {/each}

      <hr />
    {/each}
    <div class="flex justify-end w-full mt-5 mb-1 mr-3">
      <LightPaginationNav
        totalItems={total.count}
        {pageSize}
        limit={1}
        bind:page
        showStepOptions={true}
        currentPage={page}
        on:setPage={(e) => {
          onChangePage(e.detail.page);
        }}
      />
    </div>
  </div>
</section>

<style>
  :global(.light-pagination-nav .option.active) {
    background-color: #ffffff !important;
    border: #df5356 solid 1px !important;
    color: #df5356 !important;
    padding: 6px !important;
  }

  :global(.light-pagination-nav .option) {
    padding: 6px !important;
  }

  :global(.option.number, .light-pagination-nav .option.ellipsis) {
    padding: 5px 10px !important;
    color: #df5356 !important;
  }

  :global(.pagination-nav) {
    box-shadow: 0 1px 2px rgb(0 0 0 / 0%) !important;
    height: 35px;
  }

  /* handle hover */
  :global(.option.ellipsis:hover) {
    padding: 5px 10px !important;
    color: #ffffff !important;
    background-color: #df5356 !important;
  }

  :global(.option.number:hover) {
    background-color: #df5356 !important;
    border: #df5356 2px solid !important;
    color: white !important;
    padding: 6px !important;
  }

  /* arrow buttons part with svg */
  :global(.option.prev) {
    color: #ffffff !important;
    background-color: #df5356 !important;
  }
  :global(.option.next) {
    color: #ffffff !important;
    background-color: #df5356 !important;
  }

  :global(.option.prev svg) {
    width: 16px !important;
  }

  :global(.option.next svg) {
    width: 16px !important;
  }

  :global(.option.prev svg path) {
    fill: currentcolor !important;
  }

  :global(.option.next svg path) {
    fill: currentcolor !important;
  }

  /* for hover of arrows */

  /* :global(.option.prev:hover) {
      background-color: #DF5356 !important;
  }
  :global(.option.next:hover) {
      background-color: #DF5356 !important;
  } */

  /* responsive part */

  @media screen and (min-width: 320px) {
    :global(.option.number, .light-pagination-nav .option.ellipsis) {
      padding: 5px 6px !important;
      font-size: 14px !important;
    }
    :global(.light-pagination-nav .option.active) {
      padding: 6px !important;
    }
    :global(.option.number:hover) {
      padding: 6px !important;
    }
    :global(.light-pagination-nav .option) {
      padding: 6px !important;
    }
  }

  @media screen and (min-width: 620px) {
    :global(.option.number, .light-pagination-nav .option.ellipsis) {
      padding: 5px 7px !important;
      font-size: 14px !important;
    }
    :global(.light-pagination-nav .option.active) {
      padding: 9px !important;
    }
    :global(.option.number:hover) {
      padding: 9px !important;
    }
    :global(.light-pagination-nav .option) {
      padding: 6px !important;
    }
  }

  @media screen and (min-width: 1000px) {
    :global(.option.number, .light-pagination-nav .option.ellipsis) {
      padding: 5px 10px !important;
      font-size: 15px !important;
    }
    :global(.light-pagination-nav .option.active) {
      padding: 10px !important;
    }
    :global(.option.number:hover) {
      padding: 9px !important;
    }
    :global(.light-pagination-nav option) {
      padding: 8px !important;
    }
  }
</style>
