<script>
  import Web from '../../../../components/icons/Web.svelte';
  import { fetchApi } from '../../../../services/api';

  import { onMount } from 'svelte';

  let ImpLinkResult = [];

  onMount(async () => {
    basicModule();
  });

  const basicModule = async () => {
    const res = await fetchApi(
      'GET',
      `resources/search?resource_category=ImportantLinks`,
      null,
      'cmsApi',
    );

    const importantList = await res.json();
    ImpLinkResult = importantList;
    if(res.status === 403){
      if(importantList.name === 'MEMBERSHIP_ACL_CHECK'){
        toastAlert('error', importantList.message ? importantList.message: 'We have encountered a technical difficulty. Please try again later.')
      }else{
        toastAlert('error', importantList.detail ? importantList.detail : 'We have encountered a technical difficulty onboarding you. Please try again later.');
      }
    }
  };
</script>

<section>
  <div class="pl-2 pr-3 mt-0 bg-base-100 rounded-box">
    {#each ImpLinkResult as importantData}
      <div class="flex justify-between w-full px-2 my-3 text-gray-label">
        <div class="text-base">{importantData.name}</div>
        {#if importantData.document != null}
          {#each importantData.document as doc}
            <!-- doc{doc.url} -->
            <div>
              <div class="flex">
                <a
                  href={`https://iqrate-strapi.dprizm.dev${doc.url}`}
                  target="_blank"
                >
                  <div>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="w-6 h-6 mr-1 "
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                      stroke-width="2"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M8 7v8a2 2 0 002 2h6M8 7V5a2 2 0 012-2h4.586a1 1 0 01.707.293l4.414 4.414a1 1 0 01.293.707V15a2 2 0 01-2 2h-2M8 7H6a2 2 0 00-2 2v10a2 2 0 002 2h8a2 2 0 002-2v-2"
                      />
                    </svg>
                  </div>
                </a>
              </div>
            </div>
          {/each}
        {:else}
          <div>
            <div class="flex">
              <a href={importantData.link} target="_blank">
                <div><Web /></div>
              </a>
            </div>
          </div>
        {/if}
      </div>

      <hr />
    {/each}
  </div>
</section>
