<script>
  import { Link } from 'svelte-navigator';

  import PdfFile from '../../../../components/icons/PdfFile.svelte';
</script>

<section>
  <div class="p-6 mt-0 border bg-base-100 rounded-box">
    <div class="flex justify-between w-full my-3 text-gray-label">
      <div>File 1</div>
      <div>
        <div class="flex">
          <div><PdfFile /></div>
        </div>
      </div>
    </div>

    <hr />

    <div class="flex justify-between w-full my-3 text-gray-label">
      <div>File 2</div>
      <div>
        <div class="flex">
          <div><PdfFile /></div>
        </div>
      </div>
    </div>

    <hr />
  </div>
</section>
