<script>
  import { navigate } from 'svelte-navigator';
  import Button from '../../../../../../components/Button.svelte';
  import Stepper from '../../../../../../components/icons/Stepper.svelte';

  let data = [
      {
        title: '',
        completed: true,
      },
      {
        title: '',
        completed: true,
      },    
      {
        title: '',
        completed: true,
      }
    ];

  const hadleCloseBtn = () => {
    navigate(`./new-lead-mortgage-repayment`);
  }
</script>

<main>
    <Stepper bind:data={data}/>
    <h2 class="mt-6 mb-10 text-3xl font-bold text-dark-red">Your Savings from Refinancing</h2>
    <div class="my-10 bg-base-100">
        <p>Based On Maximum Loan Tenure</p>
        <hr>
        <div class="my-10 ml-6 flex justify-center">
            <table class="table-fixed bodered p-1">
                <thead class="border">
                  <tr class="border">
                    <th class="border p-1 text-dark-red"></th>
                    <th class="border p-2 text-dark-red">
                        <p class="font-normal">Current <br> (2.5%)</p>
                    </th>
                    <th class="border p-2 text-dark-red">
                        <p class="font-normal">Package 1 <br> (1.3%)</p>
                    </th>
                    <th class="border p-2 text-dark-red">
                        <p class="font-normal">Package 2 <br> (1.4%)</p>
                    </th>
                    <th class="border p-2 text-dark-red">
                        <p class="font-normal">Package 3 <br> (1.5%)</p>
                    </th>
                    <th class="border p-2 text-dark-red">
                        <p class="font-normal">Package 4 <br> (1.4%)</p>
                    </th>
                  </tr>
                </thead>
                <tbody class="border">
                    <tr class="border">
                        <td class="border p-2">
                            <p class="font-normal text-sm">Monthly Installment</p>
                        </td>
                        <td class="border p-2">
                            <p class="font-normal text-sm">$3,012</p>
                        </td>
                        <td class="border p-2">
                            <p class="font-normal text-sm">$2,734</p>
                        </td>
                        <td class="border p-2">
                            <p class="font-normal text-sm">$2,756</p>
                        </td>
                        <td class="border p-2">
                            <p class="font-normal text-sm">$2,734</p>
                        </td>
                        <td class="border p-2">
                            <p class="font-normal text-sm">$2,756</p>
                        </td>
                    </tr>
                    <tr class="border">
                        <td class="border p-2">
                            <p class="font-normal text-sm">Total Principal</p>
                        </td>
                        <td class="border p-2">
                            <p class="font-normal text-sm">$73,580.198</p>
                        </td>
                        <td class="border p-2">
                            <p class="font-normal text-sm">$80,438.80</p>
                        </td>
                        <td class="border p-2">
                            <p class="font-normal text-sm">$79,834.23</p>
                        </td>
                        <td class="border p-2">
                            <p class="font-normal text-sm">$80,438.80</p>
                        </td>
                        <td class="border p-2">
                            <p class="font-normal text-sm">$79,834.23</p>
                        </td>
                    </tr>
                    <tr class="border">
                        <td class="border p-2">
                            <p class="font-normal text-sm">Total Interest</p>
                        </td>
                        <td class="border p-2">
                            <p class="font-normal text-sm">$34,851.51</p>
                        </td>
                        <td class="border p-2">
                            <p class="font-normal text-sm">$80,438.80</p>
                        </td>
                        <td class="border p-2">
                            <p class="font-normal text-sm">$79,834.23</p>
                        </td>
                        <td class="border p-2">
                            <p class="font-normal text-sm">$80,438.80</p>
                        </td>
                        <td class="border p-2">
                            <p class="font-normal text-sm">$79,834.23</p>
                        </td>
                    </tr>
                    <tr class="border">
                        <td class="border p-2">
                            <p class="font-normal text-sm">Cash/Rebate Subsidy</p>
                        </td>
                        <td class="border p-2">
                            <p class="font-normal text-sm">$73,580.198</p>
                        </td>
                        <td class="border p-2">
                            <p class="font-normal text-sm">$80,438.80</p>
                        </td>
                        <td class="border p-2">
                            <p class="font-normal text-sm">$79,834.23</p>
                        </td>
                        <td class="border p-2">
                            <p class="font-normal text-sm">$80,438.80</p>
                        </td>
                        <td class="border p-2">
                            <p class="font-normal text-sm">$79,834.23</p>
                        </td>
                    </tr>
                    <tr class="border">
                        <td class="border p-2">
                            <p class="font-normal text-sm">Savings</p>
                        </td>
                        <td class="border p-2">
                            <p class="font-normal text-sm">$73,580.198</p>
                        </td>
                        <td class="border p-2">
                            <p class="font-normal text-sm">$80,438.80</p>
                        </td>
                        <td class="border p-2">
                            <p class="font-normal text-sm">$79,834.23</p>
                        </td>
                        <td class="border p-2">
                            <p class="font-normal text-sm">$80,438.80</p>
                        </td>
                        <td class="border p-2">
                            <p class="font-normal text-sm">$79,834.23</p>
                        </td>
                    </tr>
                </tbody>
              </table>
        </div>
    </div>
    <div class="my-10 bg-base-100">
        <p>Based On Maximum Loan Tenure</p>
        <hr>
        <div class="my-10 ml-6 flex justify-center">
            <table class="table-fixed bodered p-1">
                <thead class="border">
                  <tr class="border">
                    <th class="border p-1 text-dark-red"></th>
                    <th class="border p-2 text-dark-red">
                        <p class="font-normal">Current <br> (2.5%)</p>
                    </th>
                    <th class="border p-2 text-dark-red">
                        <p class="font-normal">Package 1 <br> (1.3%)</p>
                    </th>
                    <th class="border p-2 text-dark-red">
                        <p class="font-normal">Package 2 <br> (1.4%)</p>
                    </th>
                    <th class="border p-2 text-dark-red">
                        <p class="font-normal">Package 3 <br> (1.5%)</p>
                    </th>
                    <th class="border p-2 text-dark-red">
                        <p class="font-normal">Package 4 <br> (1.4%)</p>
                    </th>
                  </tr>
                </thead>
                <tbody class="border">
                    <tr class="border">
                        <td class="border p-2">
                            <p class="font-normal text-sm">Monthly Installment</p>
                        </td>
                        <td class="border p-2">
                            <p class="font-normal text-sm">$3,012</p>
                        </td>
                        <td class="border p-2">
                            <p class="font-normal text-sm">$2,734</p>
                        </td>
                        <td class="border p-2">
                            <p class="font-normal text-sm">$2,756</p>
                        </td>
                        <td class="border p-2">
                            <p class="font-normal text-sm">$2,734</p>
                        </td>
                        <td class="border p-2">
                            <p class="font-normal text-sm">$2,756</p>
                        </td>
                    </tr>
                    <tr class="border">
                        <td class="border p-2">
                            <p class="font-normal text-sm">Total Principal</p>
                        </td>
                        <td class="border p-2">
                            <p class="font-normal text-sm">$73,580.198</p>
                        </td>
                        <td class="border p-2">
                            <p class="font-normal text-sm">$80,438.80</p>
                        </td>
                        <td class="border p-2">
                            <p class="font-normal text-sm">$79,834.23</p>
                        </td>
                        <td class="border p-2">
                            <p class="font-normal text-sm">$80,438.80</p>
                        </td>
                        <td class="border p-2">
                            <p class="font-normal text-sm">$79,834.23</p>
                        </td>
                    </tr>
                    <tr class="border">
                        <td class="border p-2">
                            <p class="font-normal text-sm">Total Interest</p>
                        </td>
                        <td class="border p-2">
                            <p class="font-normal text-sm">$34,851.51</p>
                        </td>
                        <td class="border p-2">
                            <p class="font-normal text-sm">$80,438.80</p>
                        </td>
                        <td class="border p-2">
                            <p class="font-normal text-sm">$79,834.23</p>
                        </td>
                        <td class="border p-2">
                            <p class="font-normal text-sm">$80,438.80</p>
                        </td>
                        <td class="border p-2">
                            <p class="font-normal text-sm">$79,834.23</p>
                        </td>
                    </tr>
                    <tr class="border">
                        <td class="border p-2">
                            <p class="font-normal text-sm">Cash/Rebate Subsidy</p>
                        </td>
                        <td class="border p-2">
                            <p class="font-normal text-sm">$73,580.198</p>
                        </td>
                        <td class="border p-2">
                            <p class="font-normal text-sm">$80,438.80</p>
                        </td>
                        <td class="border p-2">
                            <p class="font-normal text-sm">$79,834.23</p>
                        </td>
                        <td class="border p-2">
                            <p class="font-normal text-sm">$80,438.80</p>
                        </td>
                        <td class="border p-2">
                            <p class="font-normal text-sm">$79,834.23</p>
                        </td>
                    </tr>
                    <tr class="border">
                        <td class="border p-2">
                            <p class="font-normal text-sm">Savings</p>
                        </td>
                        <td class="border p-2">
                            <p class="font-normal text-sm">$73,580.198</p>
                        </td>
                        <td class="border p-2">
                            <p class="font-normal text-sm">$80,438.80</p>
                        </td>
                        <td class="border p-2">
                            <p class="font-normal text-sm">$79,834.23</p>
                        </td>
                        <td class="border p-2">
                            <p class="font-normal text-sm">$80,438.80</p>
                        </td>
                        <td class="border p-2">
                            <p class="font-normal text-sm">$79,834.23</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="flex justify-center mb-10">
        <div class="w-2/4">
          <Button
            gradient={true}
            htmlType="button"
            text="Close"
            btnclick={hadleCloseBtn}
          />
        </div>
    </div> 
</main>