<svg
  width="50"
  height="74"
  viewBox="0 0 40 74"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <path
    d="M32.9432 36.6944C32.9432 36.6944 34.5773 37.9943 34.5773 39.1456C34.5773 40.2969 34.5773 51.0304 34.5773 51.0304H35.9515V38.8856C35.9515 38.8856 36.1372 38.0314 36.3601 37.8828C36.5458 37.7343 33.686 34.9116 33.686 34.9116L32.5718 35.5059L32.9432 36.6944Z"
    fill="#DF5356"
  />
  <path
    d="M33.278 34.7631C33.3152 34.7259 36.5463 31.7547 36.6949 31.7918C36.8806 31.7918 38.5148 32.4604 38.5891 33.8346C38.6633 35.2087 38.849 36.8058 36.5092 38.1057C36.5092 38.1057 36.2492 38.3285 36.1007 38.2542C35.9521 38.1428 33.278 34.7631 33.278 34.7631Z"
    fill="#DF5356"
  />
  <path
    d="M33.9468 34.8744L35.2095 36.36C35.2095 36.36 36.8437 35.1344 36.4723 34.1316C36.1009 33.0917 35.2467 33.7231 35.2467 33.7231L33.9468 34.8744Z"
    fill="#FEBC46"
  />
  <path
    d="M37.6233 32.5721C37.6233 32.5721 38.6261 31.9035 38.7375 32.015C38.8489 32.0892 39.4432 34.132 39.3689 34.4291C39.2946 34.6891 38.4775 34.7633 38.329 34.6519C38.1804 34.4662 37.6233 32.5721 37.6233 32.5721Z"
    fill="#DF5356"
  />
  <path
    d="M35.2091 35.5057L30.3066 39.1454L29.7124 38.2169L34.912 34.3543C34.912 34.3543 35.432 34.0572 35.6919 34.5029C35.9891 34.9486 35.6548 35.1343 35.6548 35.1343L35.2091 35.5057Z"
    fill="#E6E6E6"
  />
  <path
    d="M40.0007 71.0492C40.0007 72.2748 38.9236 73.2776 37.6237 73.2776C36.3238 73.2776 35.2468 72.2748 35.2468 71.0492C35.2468 69.8236 36.3238 68.8208 37.6237 68.8208C38.9236 68.8208 40.0007 69.8236 40.0007 71.0492Z"
    fill="#AB8061"
  />
  <path
    d="M39.0342 71.0489C39.0342 71.7546 38.4028 72.3488 37.66 72.3488C36.8801 72.3488 36.2858 71.7546 36.2858 71.0489C36.2858 70.3433 36.9172 69.749 37.66 69.749C38.44 69.749 39.0342 70.3433 39.0342 71.0489Z"
    fill="#FFD648"
  />
  <path
    d="M37.0286 70.0089L36.1744 70.826L34.3545 72.5716H6.6109C6.6109 72.5716 8.02223 70.9374 8.05937 70.826C8.09651 70.6774 7.27942 70.4175 7.27942 70.4175L7.61369 69.8604L37.0286 70.0089Z"
    fill="#FFD648"
  />
  <path
    d="M36.1744 70.8262L34.3545 72.5718H6.6109C6.6109 72.5718 8.02223 70.9376 8.05937 70.8262H36.1744Z"
    fill="#DF5356"
  />
  <path
    d="M37.028 70.0091L38.1422 68.9692C38.1422 68.9692 38.7364 68.5978 37.8822 68.115C37.028 67.6321 36.6937 63.6582 36.6937 62.4325C36.6937 61.2069 36.6937 50.7334 36.6937 50.7334H34.1311V68.1892C34.1311 68.1892 33.314 68.5235 33.314 68.932C33.314 69.3406 33.314 70.0091 33.314 70.0091H37.028Z"
    fill="#DF5356"
  />
  <path
    d="M6.94612 71.0492C6.94612 72.2748 5.86905 73.2776 4.56915 73.2776C3.26925 73.2776 2.1922 72.2748 2.1922 71.0492C2.1922 69.8236 3.26925 68.8208 4.56915 68.8208C5.86905 68.8208 6.94612 69.8236 6.94612 71.0492Z"
    fill="#AB8061"
  />
  <path
    d="M5.90462 71.0489C5.90462 71.7546 5.27324 72.3488 4.53044 72.3488C3.78764 72.3488 3.15625 71.7546 3.15625 71.0489C3.15625 70.3433 3.78764 69.749 4.53044 69.749C5.27324 69.749 5.90462 70.3433 5.90462 71.0489Z"
    fill="#FFD648"
  />
  <path
    d="M7.65129 69.8606H5.90572C5.90572 69.8606 5.57146 69.1921 4.53153 69.1921C3.49161 69.1921 3.15735 69.8606 3.15735 69.8606H1.82031L2.67453 68.3379H6.61137C6.61137 68.3379 8.28267 68.8579 8.28267 69.8606H7.65129Z"
    fill="#FF911E"
  />
  <path d="M36.1738 51.7363H34.614V52.2563H36.1738V51.7363Z" fill="#E6E6E6" />
  <path d="M36.1738 52.8877H34.614V53.4076H36.1738V52.8877Z" fill="#E6E6E6" />
  <path d="M36.1738 55.2275H34.614V55.7475H36.1738V55.2275Z" fill="#E6E6E6" />
  <path d="M36.1738 57.4556H34.614V57.9755H36.1738V57.4556Z" fill="#E6E6E6" />
  <path d="M36.1738 62.061H34.614V62.581H36.1738V62.061Z" fill="#E6E6E6" />
  <path d="M36.1738 65.478H34.614V65.998H36.1738V65.478Z" fill="#E6E6E6" />
  <path
    d="M27.5218 32.3861C27.5218 32.3861 22.6193 27.9293 21.8765 27.0751C21.1337 26.1837 12.8514 13.4447 12.5543 13.3704C12.2572 13.2961 14.0028 18.6072 14.0028 18.6072L18.0139 26.778C18.0139 26.778 23.5849 31.1605 23.8449 31.3462C24.1049 31.5691 27.2246 32.9804 27.2246 32.9804L27.5218 32.3861Z"
    fill="#E6E6E6"
  />
  <path
    d="M14.8184 5.08805V5.60801V5.64515C14.7813 5.83085 14.5213 8.13353 14.5213 8.17067C14.4841 8.20781 14.6327 8.72778 14.7441 9.0249C14.7813 9.17346 14.6698 9.32202 14.5213 9.35916L14.2984 9.3963C14.187 9.3963 14.1127 9.47058 14.0756 9.582C13.927 10.0648 13.5185 11.4761 13.3699 11.4761C13.2956 11.4761 12.9242 11.3276 12.4414 11.0676C11.3644 10.5476 9.69306 9.65627 9.5445 9.47057C9.43308 9.32201 9.17309 8.98776 8.95025 8.6535C8.69027 8.31924 8.46744 8.02211 8.4303 7.98497C8.35602 7.94783 8.0589 7.3536 7.98462 7.20504C7.98462 7.1679 7.94749 7.16789 7.94749 7.13075L7.6875 5.31089C7.6875 5.19947 7.72463 5.08805 7.83605 5.05091L9.24739 4.34525C9.28453 4.34525 9.32166 4.30811 9.3588 4.30811C9.58164 4.30811 10.473 4.30811 10.5473 4.30811C10.6216 4.30811 11.7358 4.45667 11.9215 4.49381H11.9586C12.1072 4.53095 12.8871 4.82807 13.0728 4.90235C13.2214 4.97663 14.187 4.90235 14.5213 4.90235C14.5955 4.90235 14.6698 4.93949 14.707 4.97663C14.7812 5.01377 14.8184 5.08805 14.8184 5.08805Z"
    fill="#F9B776"
  />
  <path
    d="M12.4426 11.105C12.1455 10.9565 11.8855 11.1793 11.6998 11.4764C11.5141 11.7735 11.4027 12.1449 11.4027 12.1449L8.13434 10.6965L8.87714 8.69092C9.13712 9.02518 9.35995 9.35943 9.47137 9.50799C9.54565 9.58227 9.80563 9.76798 10.2142 9.99082C10.8827 10.3251 11.7741 10.7708 12.4426 11.105Z"
    fill="#6774FF"
  />
  <path
    d="M12.4412 11.1049C12.1441 10.9564 11.8841 11.1792 11.6984 11.4763C11.587 11.1049 10.3242 10.065 10.2499 9.99072C10.8813 10.325 11.7727 10.7707 12.4412 11.1049Z"
    fill="#4F5CD1"
  />
  <path
    d="M14.8562 5.45969C14.8562 5.45969 14.6705 5.97965 14.4476 6.01679C14.1876 6.05393 11.105 5.68252 10.7336 5.9425C10.3622 6.16534 10.1765 6.61103 10.1765 6.61103L10.4365 4.60547L12.442 4.97687L14.8562 5.45969Z"
    fill="#4F5CD1"
  />
  <path
    d="M10.1758 6.61094C10.1758 6.61094 10.25 5.27389 9.80435 5.23675C9.39581 5.19961 8.09589 5.31103 8.39301 6.12811C8.72727 6.94519 8.76443 7.5023 8.98727 7.5023C9.21011 7.5023 9.24725 8.17082 9.24725 8.17082C9.24725 8.17082 8.98726 9.24788 8.8387 9.28502C8.69014 9.32216 8.4673 9.3593 8.17018 9.50786C7.87306 9.65642 3.89907 6.53665 6.87028 3.71401C6.87028 3.71401 7.65022 0.111423 11.2157 0.965644C15.8953 2.07985 16.6381 1.07706 17.1209 0C17.1209 0 18.3837 6.0167 14.8183 5.6453C11.2528 5.27389 10.9557 5.19961 10.77 5.38531C10.5471 5.60815 10.1758 6.61094 10.1758 6.61094Z"
    fill="#4A4A4F"
  />
  <path
    d="M6.83334 12.739C6.83334 12.739 7.16759 11.6248 7.61327 11.7734C8.05895 11.922 12.4043 13.1847 12.5529 13.3333C12.7015 13.4819 18.5324 24.3268 18.681 25.7752C18.8296 27.2237 17.9754 31.7919 17.6411 31.6433C17.3068 31.4948 11.6987 30.7148 8.35607 32.6833C8.35607 32.6833 7.87326 33.0918 7.50186 32.6833C7.13045 32.2747 6.94475 31.3462 7.50186 30.4177C7.50186 30.4177 7.61328 29.2292 7.31615 28.3379C7.05617 27.4465 5.31059 21.7269 5.83055 18.57C6.42479 15.4503 6.83334 12.739 6.83334 12.739Z"
    fill="#FFD648"
  />
  <path
    d="M7.94758 18.9414L17.5668 30.6405L16.9726 31.3091C16.9726 31.3091 13.5557 31.2348 12.293 31.7176C12.293 31.7176 12.6272 29.6006 11.8101 29.7492C11.8101 29.7492 13.37 29.5263 13.0358 28.9692C12.9986 28.9692 7.5019 20.5756 7.94758 18.9414Z"
    fill="#FFBB46"
  />
  <path
    d="M3.04549 61.541L0 62.9895C0 62.9895 1.00277 67.8177 1.52273 67.8548C2.0427 67.892 6.2024 68.5976 6.27668 68.2634C6.35096 67.9291 5.79386 67.7063 5.4596 67.4092C5.12534 67.112 4.49396 66.4435 4.79108 66.1093C5.0882 65.775 5.75671 65.3293 5.75671 65.3293L3.56544 61.5039H3.04549V61.541Z"
    fill="#C1B9B9"
  />
  <path
    d="M2.89685 61.3181C2.89685 61.3181 5.31096 65.9235 5.57094 65.9606C5.83092 65.9978 6.75943 65.9978 6.94513 65.9606C7.13083 65.9235 16.193 55.8214 16.5273 55.5614C16.8615 55.3014 19.3128 52.6645 19.4985 52.2188C19.6842 51.8102 19.9442 49.0619 19.8327 48.5048C19.7213 47.9848 12.4047 40.3711 12.4047 40.3711L11.4019 41.2625C11.4019 41.2625 14.0017 48.9505 14.4474 49.619C14.8931 50.2875 14.0389 50.0275 14.0017 50.2132C13.9275 50.3989 13.8903 50.9189 13.7046 51.0674C13.5189 51.2903 2.89685 61.3181 2.89685 61.3181Z"
    fill="#DADADA"
  />
  <path
    d="M28.4503 65.9981C28.4503 65.9981 28.5989 67.7436 30.6787 68.375C32.7957 69.0064 32.3129 68.8207 32.4614 69.1178C32.61 69.415 32.5357 69.7863 32.4614 69.8235C32.3872 69.8606 23.8449 70.0835 23.6964 69.8235C23.5478 69.5635 23.4735 68.375 23.5478 68.2265C23.6221 68.0779 24.1049 66.9266 24.2535 66.4809C24.402 66.0723 25.6648 65.8124 26.259 65.9981C26.8533 66.1838 28.4503 65.9981 28.4503 65.9981Z"
    fill="#C1B9B9"
  />
  <path
    d="M23.5474 66.8522C23.5474 66.8522 28.8584 66.778 29.3041 66.8522C29.7127 66.9265 29.7127 66.9265 29.7127 66.9265C29.7127 66.9265 27.0014 49.7678 26.4072 48.8393C25.8129 47.9108 17.9021 37.4002 17.7535 36.8802C17.5678 36.3602 17.7536 34.169 17.605 33.649C17.4564 33.129 17.0479 32.8691 16.6393 32.8319C16.2308 32.7948 9.47132 33.9461 9.09992 34.2433C8.69138 34.5404 6.53724 37.883 9.32275 39.9257C12.1083 41.9312 18.0135 47.2051 19.202 48.2822C20.3905 49.3593 21.4676 50.882 21.5418 51.142C21.6161 51.402 21.3562 51.4762 21.6904 51.7362C22.0247 51.9962 23.2131 61.0955 23.3988 63.4353C23.5845 65.7752 23.5474 66.8522 23.5474 66.8522Z"
    fill="#DADADA"
  />
  <path
    d="M7.4281 11.7732C7.4281 11.7732 7.83665 9.99048 7.94807 10.0648C8.05949 10.139 11.8849 11.7361 11.8849 11.7361C11.8849 11.7361 12.1078 11.8475 12.0706 12.0703C11.9963 12.2932 11.8106 13.036 11.8106 13.036L7.4281 11.7732Z"
    fill="#FF931E"
  />
  <path
    d="M7.87368 32.8692C7.87368 32.8692 6.79663 34.8005 8.69077 34.7634C8.69077 34.7634 16.4902 32.9435 17.6044 33.6863C17.6044 33.6863 19.2757 32.9435 17.6415 31.6436C16.0074 30.3437 9.28501 31.4207 7.87368 32.8692Z"
    fill="#FF931E"
  />
  <path
    d="M30.8641 34.0947C30.8641 34.0947 31.7555 34.5776 32.164 34.5033C32.5726 34.4661 33.4268 34.5776 33.6868 34.5033C33.9467 34.429 34.3182 34.7261 34.3182 34.7261C34.3182 34.7261 33.6125 35.2461 33.5382 35.3946C33.4639 35.5432 33.9468 37.4002 34.3182 37.7345C34.6896 38.0687 34.9124 38.2544 34.7267 38.4401C34.541 38.5887 34.4296 38.7744 34.0953 38.8858C33.7982 39.0344 31.7183 39.2201 31.2727 38.8858C30.8641 38.5515 29.2671 36.9916 29.2671 36.9916C29.2671 36.9916 29.3042 34.5775 30.8641 34.0947Z"
    fill="#C1B9B9"
  />
  <path
    d="M8.35684 17.2702C8.35684 17.2702 9.95386 15.8589 11.1423 16.7131C12.3308 17.5673 19.5732 27.0752 19.8331 27.3352C20.0931 27.5951 29.1181 33.389 29.2667 33.4633C29.4153 33.5747 28.561 36.1374 28.2639 36.2859C27.9668 36.4345 18.4218 32.6833 17.3819 31.6806C16.3048 30.6778 11.1423 24.2526 10.9938 24.104C10.8452 23.9554 8.5054 20.5385 8.35684 20.1671C8.24542 19.87 7.24264 18.3473 8.35684 17.2702Z"
    fill="white"
  />
  <path
    d="M27.707 35.9888C27.6698 36.026 27.5213 36.4345 27.707 36.6202C27.8927 36.7688 29.2669 37.1402 29.2669 37.0288C29.2669 36.9545 30.2325 34.3918 30.8639 34.0947C30.901 33.9833 31.1238 33.5376 30.6782 33.389C30.2325 33.2405 29.3411 33.1291 29.1554 33.2033C28.9697 33.2776 27.707 35.9888 27.707 35.9888Z"
    fill="#FF931E"
  />
</svg>
