<script>
  import { Router, Route } from 'svelte-navigator';
  import LeadList from '../LeadList/screens/LeadList.svelte';
  import Manage from './screens/Manage.svelte';
</script>

<Router>
  <Route path="list"><LeadList /></Route>
  <Route path="manage/:id"><Manage /></Route>
  <Route path="manage/:id/:menu"><Manage /></Route>
</Router>
