<script>
</script>

<div class="bg-white border rounded-lg">
  <p class="px-4 py-6">
    To co-broke means to split commission with another broker. In real estate,
    the listing agent. will secure a commission from the seller that is split
    with a buyer's agent
  </p>
</div>
