<script>
  import { Tab, TabList, TabPanel, Tabs } from 'svelte-tabs';
  import { onMount } from 'svelte';
  import { useParams } from 'svelte-navigator';
  import Profile from '../userDetails/Profile.svelte';
  import PaymentHistory from './PaymentHistory.svelte';
  import Transactions from '../userDetails/Transactions.svelte';
  import Leads from '../userDetails/Leads.svelte';

  import { fetchApi } from '../../../../services/api';

  const params = useParams();
  $: userId = $params.id;

  let userData;

  const fetchSingleUser = async () => {
    const res = await fetchApi('GET', `api-admin/user/${userId}`);
    const users = await res.json();
    userData = users;
  };
  onMount(() => {
    fetchSingleUser();
  });
</script>

<div class="w-full">
  <div class="w-full">
    <h2 class="mt-6 mb-12 ml-6 text-3xl font-semibold text-dark-red">
      User Details
    </h2>
    <div class="w-full p-6 border bg-base-100 rounded-box">
      <Tabs>
        <TabList>
          <div class="flex justify-around w-full">
            <div class="w-full">
              <Tab>Profile</Tab>
            </div>
            <div class="w-full">
              <Tab>Payment History</Tab>
            </div>
            <div class="w-full">
              <Tab>Transactions</Tab>
            </div>
            <div class="w-full">
              <Tab>Leads</Tab>
            </div>
          </div>
        </TabList>

        <TabPanel>
          <Profile data={userData} />
        </TabPanel>

        <TabPanel>
          <PaymentHistory data={userData} />
        </TabPanel>

        <TabPanel>
          <Transactions data={userData} />
        </TabPanel>

        <TabPanel>
          <Leads />
        </TabPanel>
      </Tabs>
    </div>
  </div>
</div>

<style>
  :global(.svelte-tabs) {
    text-align: center;
  }
  :global(.svelte-tabs__tab) {
    color: #df5356 !important;
  }

  :global(.svelte-tabs li.svelte-tabs__selected) {
    border-bottom: 4px solid #df5356;
    width: 100%;
    color: #df5356;
    text-align: center;
    outline: none;
  }
  :global(.svelte-tabs li.svelte-tabs__selected):focus {
    outline: none;
  }
</style>
