<script>
  import { onMount } from 'svelte';
  import moment from 'moment';
  import FilterIcon from '../../../../components/icons/Filter.svelte';
  import Button from '../../../../components/Button.svelte';
  import DatePicker from '../../../../components/SveltyPickerDate.svelte';
  import { fetchApi } from '../../../../services/api';
  import StaticTable from '../../../../components/StaticTable.svelte';
  import { toastAlert } from '../../../../utils/toaster';
  import { currency } from '../../../../utils/currency';
  import Filter from '../../../../components/Filter.svelte';
  import IconButton from '../../../../components/IconButton.svelte';
  import FormItem from '../../../../components/forms/FormItem.svelte';
  import { serialize } from '../../../../utils/serialize';
  import MultiSelect from '../../../../components/MultiSelectDrop.svelte';
  import { allKv } from '../../../../stores';
  import { useNavigate, useParams } from 'svelte-navigator';

  const params = useParams();
  $: userId = $params.id;
  let filter;

  // Form
  let filter_page = {
    lead_name: '',
    lead_status: '',
  };

  let leadStatuses = [
    {
      value: 'pending',
      label: 'Pending',
    },
    {
      value: 'won',
      label: 'Won',
    },
    {
      value: 'submitted',
      label: 'Submitted',
    },
    {
      value: 'rework',
      label: 'Rework',
    },
    {
      value: 'lost',
      label: 'Lost',
    },
  ];

  let tableColumn = [
    {
      key: 'created',
      title: 'Creation Date',
      align: 'left',
    },
    {
      key: 'id',
      title: 'Lead ID',
      align: 'left',
    },
    {
      key: 'lead_name',
      title: 'Lead',
      align: 'left',
      renderHtml: (e) =>
        `<span class="text-left capitalize whitespace-nowrap">${e}</span>`,
    },
    {
      key: 'loan_amount',
      title: 'Loan Amount',
      align: 'left',
      render: (e) => currency(e),
    },
    {
      key: 'lead_status',
      title: 'Lead Status',
      align: 'left',
    },
    {
      key: 'banker',
      title: 'Banker',
      align: 'left',
    },
    {
      key: 'co_broker',
      title: 'Co-Broker',
      align: 'left',
    },
    {
      key: 'payout_amount',
      title: 'Payout Amount',
      align: 'left',
      render: (e) => (e ? e : '-'),
    },
    {
      key: 'payout_status',
      title: 'Payout Status',
      align: 'left',
      render: (e) => (e ? e : '-'),
    },
    {
      key: 'law_firm',
      title: 'Lawfirm',
      align: 'left',
      render: (e) => (e ? e : '-'),
    },
  ];
  let page = 1;
  let total = 0;
  $: page,
    () => {
      // console.log("change page v2", page);
      // getUserDetail(); // - validate user cookie
      // getAllKV();
    };

  const onFilter = () => {
    page = 1;
    fetchUserList();
    filter = false;
  };

  const onResetFilter = () => {
    // console.log("onresetfilter");
    filter_page = {
      lead_name: '',
      lead_status: '',
    };
    page = 1;
    fetchUserList();
    filter = false;
  };

  let loading = false;
  let tableDatas = [];
  let dataLength = 0;

  export let data;
  $: console.log('atish', data);

  const generateQuery = () => {
    let tempFilter = filter_page;
    Object.keys(tempFilter).forEach((key) => {
      if (tempFilter[key] === '') {
        delete tempFilter[key];
      }
    });
    let queryy = serialize(tempFilter);
    return queryy;
  };
  const fetchUserList = async (query) => {
    loading = true;
    const res = await fetchApi(
      'GET',
      `customer-admin/lead/user/${userId}?page=${page}${
        query || generateQuery() ? `&${generateQuery()}` : ''
      }`,
    );
    const users = await res.json();
    loading = false;
    tableDatas = users.results;
    dataLength = users.count;
  };

  // onMount(() => {
  //   if (data.stripe_customer_id) {
  //     fetchUserList();
  //   } else {
  //     toastAlert('error', 'Lead is missing.');
  //   }
  // });
  onMount(async () => {
    // get user List
    fetchUserList();
  });
</script>

<section>
  <div>
    <div class="flex justify-end gap-6 mt-10">
      <IconButton
        className="border border-dark-red"
        text={'i'}
        textIcon={FilterIcon}
        htmlType="button"
        bind:filter
      />
    </div>
    <!-- Filter Slot -->
    <div class="absolute top-0 right-0 z-10 sm:px-0">
      {#if filter}
        <div>
          <Filter on:close={() => (filter = false)} {onFilter} {onResetFilter}>
            <div class="gap-3 w-80">
              <div class="w-full mt-3">
                <FormItem
                  label="Lead Name"
                  labelClass="text-dark-red text-lg"
                  name="Lead Name"
                  placeholder="Enter Lead Name"
                  bind:value={filter_page.lead_name}
                />
                <!-- <div class="mb-4 text-left">
                  <MultiSelect
                    selectTitle="Lead Status"
                    bind:selectValue={filter_page.lead_status}
                    options={leadStatuses}
                  />
                </div> -->
              </div>
            </div>
          </Filter>
        </div>
      {/if}
    </div>

    <!-- table -->
    <div>
      {#if loading}
        <p>Loading...</p>
      {:else}
        <StaticTable {tableColumn} {tableDatas} total={dataLength} />
      {/if}
    </div>
  </div>
</section>
