<script>
  import { onMount } from 'svelte';
  import moment from 'moment';

  import Button from '../../../../components/Button.svelte';
  import DatePicker from '../../../../components/SveltyPickerDate.svelte';
  import { fetchApi } from '../../../../services/api';
  import StaticTable from '../../../../components/StaticTable.svelte';
  import { toastAlert } from '../../../../utils/toaster';
  import { currency } from '../../../../utils/currency';

  // Form
  let state = {
    startDate: '',
    endDate: '',
  };

  let tableColumn = [
    {
      key: 'total',
      title: 'Amount',
      align: 'left',
      render: (e) => currency(e),
    },
    {
      key: 'status',
      title: 'Status',
      align: 'center',
      renderHtml: (e) => `<span class="badge badge-success">${e}</span>`,
    },
    {
      key: 'number',
      title: 'Invoice Number',
      align: 'left',
    },
    {
      key: 'paid_at',
      title: 'Date',
      align: 'center',
    },
    {
      key: 'invoice_pdf',
      title: 'Download Invoice',
      align: 'center',
    },
  ];

  let loading = false;
  let tableDatas = [];
  let dataLength = 0;

  export let data;

  const fetchTransaction = async (query) => {
    loading = true;
    const res = await fetchApi(
      'GET',
      `api-admin/subscription/invoices/${data.stripe_customer_id}${
        query || ''
      }`,
    );
    const users = await res.json();
    loading = false;
    tableDatas = users.data;
    dataLength = users.pagination.total_count;
  };

  onMount(() => {
    if (data.stripe_customer_id) {
      fetchTransaction();
    } else {
      toastAlert('error', 'Payment history is missing.');
    }
  });

  const onFilterTransaction = () => {
    let start_date =
      moment(state.startDate.split('-').reverse().join('-')).valueOf() / 1000 +
      25200;
    let end_date =
      moment(state.endDate.split('-').reverse().join('-')).valueOf() / 1000 +
      111599;
    if (start_date >= end_date) {
      toastAlert('error', 'End date should be minimum 1 day after Start date.');
    } else if (start_date && end_date) {
      fetchTransaction(`?start_date=${start_date}&end_date=${end_date}`);
    } else {
      toastAlert('error', 'The start date must be earlier than the end date');
      state.startDate = '';
      state.endDate = '';
    }
  };
</script>

<section>
  <div>
    <!-- <div class="flex justify-end my-10"> -->
    <!-- <div class="mr-2">
          <Datepicker
            calendarType="datePicker"
            lable="Start Date"
            name="date"
            placeholder="Pick Your End Date"
            type="text"
            bind:value={state.startDate}
          />
        </div>
        <div class="mr-2">
          <Datepicker
            calendarType="datePicker"
            lable="End Date"
            name="date"
            placeholder="Pick Your End Date"
            type="text"
            bind:value={state.endDate}
          />
        </div> -->
    <div class="flex items-end justify-end my-10">
      <div class="mr-2">
        <!-- <p class="mb-2 mr-24 text-lg text-dark-red">Start Date</p>
        <input
          bind:value={state.startDate}
          class="border-gray-300 input input-bordered"
          type="date"
          name="date"
          placeholder="Pick Your End Date"
        /> -->
        <DatePicker
          label="Start Date"
          required={true}
          bind:value={state.startDate}
          placeholder="Pick Your Start Date"
          className="mb-0"
        />
      </div>
      <div class="mr-2">
        <!-- <p class="mb-2 mr-24 text-lg text-dark-red">End Date</p>
        <input
          bind:value={state.endDate}
          class="border-gray-300 input input-bordered"
          type="date"
          name="date"
          placeholder="Pick Your End Date"
        /> -->
        <DatePicker
          label="End Date"
          required={true}
          bind:value={state.endDate}
          placeholder="Pick Your End Date"
          className="mb-0"
        />
      </div>
      <div class="text-center">
        <Button
          gradient={true}
          htmlType="button"
          text="Search"
          className="px-12"
          btnclick={onFilterTransaction}
        />
      </div>
    </div>
    <!-- table -->
    <div>
      {#if loading}
        <p>Loading...</p>
      {:else}
        <StaticTable
          {tableColumn}
          {tableDatas}
          total={dataLength}
          pagination={false}
        />
      {/if}
    </div>
  </div>
</section>
