<script>
  import Formitems from '../../../../../components/forms/FormItem.svelte';
  import Button from '../../../../../components/Button.svelte';
  import { toastAlert } from '../../../../../utils/toaster';
  import { fetchApi } from '../../../../../services/api';
  import * as yup from 'yup';
  import { Form, Message } from 'svelte-yup';

  // validation
  let schema = yup.object().shape({
    existing_housing_loans: yup
      .number()
      .typeError('Please select total number Of existing housing loan')
      .required('')
      .label('Total Number of existing housing loan'),
    current_valuation: yup
      .string()
      .required()
      .typeError('Please enter current valuation ')
      .label('Current valuation*'),
    total_cpf: yup.string().nullable().label('Total CPF ssed'),
    outstanding_loan: yup.string().nullable().label('Outstanding loan'),
  });

  // fields
  $: fields = {
    existing_housing_loans: null,
    current_valuation: null,
    total_cpf: null,
    outstanding_loan: null,
    loan_tagged: 'yes',
  };

  // validation
  let submitted = false;
  let isValid;

  // show the calculation
  $: show = false;
  $: total = null;

  // Add
  async function formSubmit() {
    submitted = true;

    // remove commas all string value to number
    let checkDatatype = {
      existing_housing_loans: fields.existing_housing_loans,
      current_valuation: Number(
        parseFloat(fields.current_valuation.replace(/,/g, '')),
      ),
      total_cpf: fields.total_cpf
        ? Number(parseFloat(fields.total_cpf.replace(/,/g, '')))
        : null,
      outstanding_loan: fields.outstanding_loan
        ? Number(parseFloat(fields.outstanding_loan.replace(/,/g, '')))
        : null,
      loan_tagged: fields.loan_tagged,
    };

    isValid = schema.isValidSync(checkDatatype);
    if (isValid) {
      {
        const res = await fetchApi(
          'POST',
          `user/api/calculator/equity-loan`,
          JSON.stringify(checkDatatype),
        );
        const data = await res.json();
        console.log(data);
        if (res.status >= 200 && res.status <= 300) {
          show = true;
          total = data.maximum_equity_loan;
          // total = data.calculator_response["Maximum Equity Loan"];
        } else if(res.status === 403){
          if(data.name === 'MEMBERSHIP_ACL_CHECK'){
            toastAlert('error', data.message ? data.message : 'We have encountered a technical difficulty onboarding you. Please try again later.');
          }else{
            toastAlert('error', data.detail ? data.detail : 'We have encountered a technical difficulty onboarding you. Please try again later.');
          }
        }
        if (data.statusCode >= 400 && data.statusCode <= 500) {
          if (data.message.length >= 0) {
            data.message.forEach((element) => {
              toastAlert('error', element ? element : 'backend error');
            });
          }
        }
      }
    }
  }

  // Clean feilds and max equity loan
  $: remove = () => {
    fields.existing_housing_loans = null;
    fields.current_valuation = null;
    fields.total_cpf = null;
    fields.outstanding_loan = null;
    fields.loan_tagged = 'yes';
    show = false;
    total = null;
    submitted = false;
    isValid = null;
  };
</script>

<main>
  <div class="">
    <h2
      class="my-6 ml-6 text-2xl font-semibold lg:mt-6 lg:mb-10 lg:text-3xl text-dark-red"
    >
      Equity Loan
    </h2>
    <Form {schema} {fields} submitHandler={formSubmit} {submitted}>
      <div class="p-6 border bg-base-100 rounded-box">
        <div class="w-full p-3 lg:w-1/2">
          <div class="flex flex-col justify-center gap-3 my-5 lg:px-1">
            <Formitems
              label="Total Number of Existing Housing Loan*"
              formType="select"
              name="existing_housing_loans"
              bind:value={fields.existing_housing_loans}
            >
              <option value={0}>0</option>
              <option value={1}>1</option>
              <option value={2}>2 or more</option>
            </Formitems>
            <div>
              <div class="mb-2 text-left">
                <Message name="existing_housing_loans" />
              </div>
              {#if fields.existing_housing_loans === 1}
                <div>
                  <Formitems
                    label="Is the housing loan tagged to the property that you plan to take equity loan?"
                    formType="select"
                    name="existing_housing_loans"
                    bind:value={fields.loan_tagged}
                  >
                    <option selected value="yes">Yes</option>
                    <option value="no">No</option>
                  </Formitems>
                </div>
              {/if}

              <span
                class="inline-block w-full m-1 my-2 text-left text-md text-gray-label"
                >Details of Subject Property (For Equity Loan)
              </span>

              <!-- <div class="my-3 space-y-3">
                  <label
                    for="current_valuation"
                    class="label-text text-gray-label"
                    >Current valuation*</label
                  >
                  <div class=" input-icon">
                    <i>$</i>
                    <input
                      class={`w-full input input-bordered `}
                      step="any"
                      type="number"
                      id={'current_valuation'}
                      name={'current_valuation'}
                      value={fields.current_valuation}
                      on:blur={onBlur('current_valuation')}
                      on:input={(e) =>
                        (fields.current_valuation = e.target.value)}
                      placeholder={'Current valuation'}
                    />
                  </div>
                </div> -->
              <Formitems
                class="w-full"
                label="Current Valuation*"
                formType="priceInput"
                name="current_valuation"
                bind:value={fields.current_valuation}
                placeholder="Current Valuation"
              />
              <div class="mb-2 text-left">
                <Message name="current_valuation" />
              </div>

              <!-- <div class="my-3 space-y-3">
                  <label
                    for="current_valuation"
                    class="my-3 label-text text-gray-label"
                    >Total CPF used(If any)</label
                  >

                  <div class=" input-icon">
                    <i>$</i>
                    <input
                      class={`w-full input input-bordered `}
                      step="any"
                      type="number"
                      id={'total_cpf'}
                      name={'total_cpf'}
                      value={fields.total_cpf}
                      on:blur={onBlur('total_cpf')}
                      on:input={(e) => (fields.total_cpf = e.target.value)}
                      placeholder={'Total CPF used'}
                    />
                  </div>
                </div> -->
              <Formitems
                class="w-full"
                label="Total CPF used(If Any)"
                formType="priceInput"
                name="total_cpf"
                bind:value={fields.total_cpf}
                placeholder="Total CPF used"
              />
              <div class="mb-2 text-left">
                <Message name="total_cpf" />
              </div>

              <!-- <div class="my-3 space-y-3">
                  <label
                    for="current_valuation"
                    class="label-text text-gray-label"
                    >Current outstanding loan (If any)</label
                  >
                  <div class=" input-icon">
                    <i>$</i>
                    <input
                      class={`w-full input input-bordered `}
                      step="any"
                      type="number"
                      id={'outstanding_loan'}
                      name={'outstanding_loan'}
                      value={fields.outstanding_loan}
                      on:blur={onBlur('outstanding_loan')}
                      on:input={(e) => (fields.outstanding_loan = e.target.value)}
                      placeholder={'Outstanding loan'}
                    />
                  </div>
                </div> -->
              <Formitems
                class="w-full"
                label="Current Outstanding Loan (If Any)"
                formType="priceInput"
                name="outstanding_loan"
                bind:value={fields.outstanding_loan}
                placeholder="Outstanding Loan"
              />
              <div class="mb-6 text-left">
                <Message name="outstanding_loan" />
              </div>
              <!-- {#if !show}
                  <div class="pt-5">
                    <Button
                      gradient={true}
                      htmlType={'submit'}
                      text={'Calculate'}
                    />
                  </div>
                {/if} -->
            </div>
          </div>
          {#if show}
            <div class="space-y-3 ">
              <div class="w-full my-10 overflow-hidden rounded-lg ">
                <div
                  class="px-4 py-4 bg-gray-50 text-dark-red rounded-md-tr rounded-mg-tl"
                >
                  Maximum Equity Loan
                </div>
                <hr class="text-dark-red" />
                <div
                  class="px-4 py-4 text-black bg-gray-50 rounded-md-bl rounded-md-br"
                >
                  ${total}
                </div>
              </div>

              <p class="w-full m-1 my-2 text-sm text-left text-gray-label">
                Disclaimer : Please check with respective banks for their
                loan-to-value ratio for equity loan
              </p>
            </div>
          {/if}
          <div class="pt-5">
            <Button gradient={true} htmlType={'submit'} text={'Calculate'} />
          </div>
        </div>
      </div>
    </Form>
  </div>
</main>

<style>
  .input-icon {
    position: relative;
  }

  .input-icon > i {
    position: absolute;
    display: block;
    transform: translate(0, -50%);
    top: 50%;
    pointer-events: none;
    width: 25px;
    text-align: center;
    font-style: normal;
  }

  .input-icon > input {
    padding-left: 25px;
    padding-right: 0;
  }
</style>
