<script>
</script>

<h1>About everything that matters</h1>
;

<style>
  h1 {
    font-size: 3rem;
    font-weight: normal;
    font-family: "Griffy", cursive;
    text-align: center;
    color: mintcream;
  }
</style>
