<script>
  //Form ref: https://svelte-forms-lib-sapper-docs.vercel.app/basic

  import { createForm } from 'svelte-forms-lib';
  import * as yup from 'yup';
  import { Accordion, AccordionItem } from 'svelte-collapsible';

  import FormItem from '../components/forms/FormItem.svelte';
  import Button from '../components/Button.svelte';
  import FormCheckbox from '../components/forms/FormCheckbox.svelte';
  import FormToggle from '../components/forms/FormToggle.svelte';

  import SideBar from '../components/dashboard/SideBar.svelte';
  import RecentNotification from '../components/dashboard/RecentNotification.svelte';
  import CreateLead from '../components/lead/CreateLead.svelte';
  import LeadList from '../components/lead/LeadList.svelte';
  import ProfileList from '../components/profile/ProfileLists.svelte';
  import BankAccInfo from '../components/profile/BankAccInfo.svelte';
  import Export from '../components/Export.svelte';

  const { form, errors, handleChange, handleSubmit } = createForm({
    initialValues: {
      name: '',
      email: '',
    },
    validationSchema: yup.object().shape({
      title: yup.string().oneOf(['Mr.', 'Mrs.', 'Mx.']).required(),
      name: yup.string().required(),
      email: yup.string().email().required(),
      password: yup.string().required(),
    }),
    onSubmit: (values) => {
      alert(JSON.stringify(values));
    },
  });

  let isChecked = false;
  let isToggled = false;

  let notificationList = [
    {
      image: 'https://miro.medium.com/max/1400/0*0fClPmIScV5pTLoE.jpg',
      link: '/kishor',
      name: 'Kishor Jadav',
      status: 'Loan Has Been Approved',
      time: '5h',
    },
    {
      image: '',
      link: '/stanley',
      name: 'Stanley',
      status: 'Client meet @12pm today sghajwqwqwqwqwqw',
      time: '10h',
    },
  ];
</script>

<!-- Forms -->
<div class="flex">
  <form on:submit={handleSubmit}>
    <FormItem
      formType="select"
      name="title"
      value={$form.title}
      error={$errors.title}
      {handleChange}
    />
    <FormItem
      name="name"
      value={$form.name}
      error={$errors.name}
      className="rounded-full"
      {handleChange}
    />
    <FormItem
      name="email"
      value={$form.email}
      error={$errors.email}
      className="rounded-full"
      {handleChange}
    />
    <FormItem
      name="password"
      htmlType="password"
      value={$form.password}
      error={$errors.password}
      className="rounded-full"
      {handleChange}
    />
    <FormItem
      name="testName"
      formType="inputPreSelect"
      preValue={'Mrs.'}
      value={$form.name}
      error={$errors.name}
      className="rounded-full"
      {handleChange}
    />
    <Button htmlType="submit" text="submit" />
  </form>
</div>
<hr />
<div class="flex">
  <!-- <Dropdown dropdownType="hover" label="MyDropdown" dropdownChevron="down"
    ><li><Link>testttt</Link></li></Dropdown
  > -->
  <FormCheckbox bind:checked={isChecked} />
  <FormToggle bind:checked={isToggled} toggleText="test" />
</div>

<div class="flex mt-24 ">
  <div>
    <SideBar />
  </div>
  <div class="ml-10">
    <RecentNotification {notificationList} />
  </div>
</div>
<div class="mt-24 ">
  <CreateLead title="Create Lead" />
</div>

<div class="mt-24 ">
  <LeadList title="Lead List" subTitle="Estimated Total Payout: $10,000" />
</div>

<h1 class="pl-3 my-5">Profile Tab Dropdown</h1>
<div>
  <Accordion>
    <div class="my-2">
      <AccordionItem key="a">
        <div
          slot="header"
          class="flex justify-between w-full my-1 border rounded-lg"
        >
          <div class="py-2.5 text-xl font-medium">
            <h1 class="pl-3 text-dark-red">Profile</h1>
          </div>
          <div class="pt-3 pr-3">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-5 h-5 "
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fill-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd"
              />
            </svg>
          </div>
        </div>

        <p slot="body">
          <ProfileList />
        </p>
      </AccordionItem>
    </div>

    <div class="my-2">
      <AccordionItem key="b">
        <div
          slot="header"
          class="flex justify-between w-full my-1 border rounded-lg"
        >
          <div class="py-2.5 text-xl font-medium">
            <h1 class="pl-3 text-dark-red">Bank Account Information</h1>
          </div>
          <div class="pt-3 pr-3">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-5 h-5 "
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fill-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd"
              />
            </svg>
          </div>
        </div>
        <p slot="body">
          <BankAccInfo />
        </p>
      </AccordionItem>
    </div>
  </Accordion>
</div>

<div>
  <Export />
</div>
