<script>
  import { Tab, TabList, TabPanel, Tabs } from 'svelte-tabs';
  import { useParams } from 'svelte-navigator';
  import { fetchApi } from '../../../../../../../services/api';
  import { onMount } from 'svelte';
  import moment from 'moment';
  import Button from '../../../../../../../components/Button.svelte';
  import NoDataFound from '../../../../../../../components/icons/NoDataFound.svelte';
  import Loading from '../../../../../../../components/icons/Loading.svelte';

  const params = useParams();

  $: list = [];
  $: details = [];
  $: show = false;
  $: loading = false;

  $: leadId = $params.id;
  // $: console.log(leadId);

  onMount(async () => {
    fetchListOfEmails();
  });

  // fetch list of emails
  $: fetchListOfEmails = async (email_type) => {
    list = [];
    loading = true;
    if (leadId) {
      const res = await fetchApi(
        'GET',
        `customer/submission/email-logs/${leadId}${
          email_type ? `?email_type=${email_type}` : ''
        }`,
      );
      const data = await res.json();
      list = data;
      // console.log(list);
      loading = false;

      if(res.status === 403){
        if(data.name === 'MEMBERSHIP_ACL_CHECK'){
          toastAlert('error', data.message ? data.message : 'We have encountered a technical difficulty onboarding you. Please try again later.');
        }else{
          toastAlert('error', data.detail ? data.detail : 'We have encountered a technical difficulty onboarding you. Please try again later.');
        }
      }
    }
  };

  // function to show email details
  $: showDetails = async (id) => {
    if (id) {
      const res = await fetchApi(
        'GET',
        `customer/submission/email-logs/detail/${id}`,
      );
      details = await res.json();
      // switch to details
      if (details.id) {
        show = true;
      }
    }
  };

  // download attachment function
  async function download(uri, name) {
    var link = document.createElement('a');
    // If you don't know the name or want to use
    // the webserver default set name = ''
    link.setAttribute('download', name);
    link.href = uri;
    document.body.appendChild(link);
    link.click();
    link.remove();
  }

  // list of tabs and thier display names
  let tabs = [
    ['', 'All'],
    ['lead', 'Lead', 'Lead Log'],
    ['banker', 'Banker', 'Banker Log'],
    ['law_firm', 'Law Firm', 'Law Firm Log'],
  ];

  // reset tabs fucntion
  let resetTab = () => {
    // loading = true;
    show = false;
    list = [];
    fetchListOfEmails();
    // loading = false;
  };
</script>

<div class="w-full">
  <div class="w-full">
    <h2
      class="my-6 ml-6 text-2xl font-semibold lg:mt-6 lg:mb-10 lg:text-3xl text-dark-red"
    >
      Email Log
    </h2>
    <!-- tabs -->
    {#if !show}
      <div class="w-full p-6 my-4 border shadow bg-base-100 rounded-box">
        <Tabs>
          <!-- Tab headers -->
          <TabList>
            <div class="flex justify-between w-full">
              {#each tabs as tab}
                <div on:click={() => fetchListOfEmails(tab[0])} class="w-full">
                  <Tab>{tab[1]}</Tab>
                </div>
              {/each}
            </div>
          </TabList>

          <!-- Tab data -->
          {#each tabs as tab}
            <TabPanel>
              <div class="p-10">
                {#if list.length}
                  <div class="grid  md:grid-cols-2 gap-3  md:gap-5">
                    {#each list as li}
                      <div
                        on:click={() => showDetails(li.id)}
                        class="cursor-pointer shadow-md p-3 md:p-5 rounded-lg flex md:justify-between"
                      >
                        <p>
                          Email sent on {moment(li.created).format(
                            'Do MMMM YYYY',
                          )}
                        </p>
                        <span class="inline-block px-2">
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="h-6 w-6 text-gray-800"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                            strokeWidth={2}
                          >
                            <path
                              strokeLinecap="round"
                              strokeLinejoin="round"
                              d="M9 5l7 7-7 7"
                            />
                          </svg>
                        </span>
                      </div>
                    {/each}
                  </div>
                  <!-- loading -->
                {:else if loading && list.length === 0}
                  <div class="w-full justify-center items-center">
                    <Loading />
                  </div>
                {:else if !loading}
                  <!-- No data -->
                  <div class="flex w-full justify-center items-center">
                    <NoDataFound />
                  </div>
                {/if}
              </div>
            </TabPanel>
          {/each}
        </Tabs>
      </div>
    {/if}
  </div>
</div>

<!-- email details -->
{#if show}
  <div class="w-full p-6 my-4 border shadow bg-base-100 rounded-box">
    <h1 class="py-4  border-b-2 border-dark-red">
      <span class="inline-block text-dark-red text-base"
        >Email to
        {#each tabs as tab}
          {#if tab[0] === details.email_type}
            {tab[2]}
          {/if}
        {/each}
      </span>
      - Email sent on {moment(details.created).format('Do MMMM YYYY')}
    </h1>

    <div class="my-4">
      <!-- Email data -->
      <div class="grid grid-cols-4 gap-2">
        <div class="col-span-1 text-left text-base">
          <ul class="space-y-4  w-full text-gray-500">
            {#each tabs as tab}
            <!-- {tab[0]} -->
              {#if tab[0] === 'lead'  && details.email_type === tab[0]}
                <li>Lead full name:</li>
                <li>Lead Email address:</li>
                <li>Subject:</li>
              {:else if tab[0] === 'banker' && details.email_type === tab[0]}
                <li>Banker name:</li>
                <li>Email address:</li>
                <!-- <li>Law firm selection </li>  MISSING FIELD !!-->
                <li>Subject:</li>
              {:else if tab[0] === 'law_firm' && details.email_type === tab[0]}
                <li>Law Firm:</li>
                <li>Email address:</li>
                <li>Subject:</li>
              {/if}
            {/each}
          </ul>
        </div>

        <div class="col-span-3 text-left">
          <ul class="space-y-4 text-left">
            <li>{details.name}</li>
            <li>{details.to_email}</li>
            <li>{details.subject}</li>
          </ul>
        </div>
      </div>

      <br />
      <span class="text-gray-500 text-base "> Email content:</span>
      <!-- Email content -->
      <br />
      <br />
      <p class="my-4">
        {@html details.content}
      </p>

      <br />
      <!-- Email attachments -->
      {#if details.attachments.length}
        <span class="text-gray-500  text-base"> Attachments:</span>
        <div class="space-y-4 my-4">
          {#each details.attachments as att}
            <div
              on:click={() => download(att.file, att.name)}
              class="flex items-center  m-2"
            >
              <span class="inline-block">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-6 w-6 text-gray-600"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  stroke-width="2"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M15.172 7l-6.586 6.586a2 2 0 102.828 2.828l6.414-6.586a4 4 0 00-5.656-5.656l-6.415 6.585a6 6 0 108.486 8.486L20.5 13"
                  />
                </svg>
              </span>
              <p class="px-3">{att.name}</p>
            </div>
          {/each}
        </div>
      {/if}
    </div>

    <Button
      btnclick={() => resetTab()}
      gradient={true}
      htmlType={'submit'}
      text={`Close`}
    />
  </div>
{/if}

<style>
  :global(.svelte-tabs li.svelte-tabs__selected) {
    border-bottom: solid 4px #df5356 !important;
    width: 100%;
    text-align: center;
    background-color: transparent !important;
    color: #df5356;
    border-radius: 0px !important;
    border-color: #df5356;
    padding-top: 5px;
    padding-bottom: 15px;
  }

  :global(.svelte-tabs li.svelte-tabs__tab) {
    border-bottom: solid 4px rgb(205, 203, 203);
    color: #df5356;
    width: 100%;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 15px;
  }

  :global(.svelte-tabs__tab-list.svelte-12yby2a) {
    border-bottom: none !important;
  }
</style>
