<script>
  import FormItem from '../../../../components/forms/FormItem.svelte';
  import Button from '../../../../components/Button.svelte';

  import { onMount } from 'svelte';

  import { fetchApi } from '../../../../services/api';
  import { getUserDetail } from '../../../../services/getUserInfo';
  import { toastAlert } from '../../../../utils/toaster';

  import * as yup from 'yup';
  import { Form, Message } from 'svelte-yup';

  let result;

  //validation
  let schema = yup.object().shape({
    bank_ac_number: yup
      .number()
      .typeError("That doesn't look like a bank account number")
      .required('Please enter a valid bank account number'),
    bank_name: yup.string().required('Please enter a valid bank name'),
  });

  let submitted = false;
  let isValid;

  let fields = {
    bank_ac_number: '',
    bank_name: '',
  };

  export let activeBank;

  // let bankList = [
  //   { bankName: "SBI" },
  //   { bankName: "ICICI" },
  //   { bankName: "HDFC" },
  //   { bankName: "KOTAK" },
  // ];

  let bankList = [];
  onMount(async () => {
    const res = await fetchApi('GET', `customer/bank/banks?page_size=500`);
    const json = await res.json();

    bankList = json.results;
    if (activeBank) {
      fields = {
        bank_ac_number: activeBank?.bank_ac_number || '',
        bank_name: activeBank?.bank_name || '',
      };
    }
    console.log(' bank names list', bankList);
    // result = JSON.stringify(nationalityList);
  });

  const onUpdate = async () => {
    console.log(fields);
    submitted = true;
    isValid = schema.isValidSync(fields);
    if (isValid) {
      const res = await fetchApi(
        'PUT',
        `user/updateBankdetail`,
        JSON.stringify(fields),
      );
      const json = await res.json();
      if (res.status >= 200 && res.status <= 300) {
        console.log('json', json);
        toastAlert(
          'success',
          'Congratulations ! Bank details has been updated successfully.',
        );
        submitted = false;
        getUserDetail();
      }else if(res.status === 403){
          if(json.name === 'MEMBERSHIP_ACL_CHECK'){
            toastAlert('error', json.message ? json.message: 'We have encountered a technical difficulty. Please try again later.')
          }else{
            toastAlert('error', json.detail ? json.detail : 'We have encountered a technical difficulty onboarding you. Please try again later.');
          }
      } else {
        console.log('Error', json.message ? json.message : 'backend err msg.');
        toastAlert(
          'error',
          'We have encountered a technical difficulty onboarding you. Please try again later.',
        );
      }
      result = JSON.stringify(json);
    }
  };
</script>

<main class="mt-8">
  <section class="px-6 pb-6">
    <!-- Form -->
    <div class="mx-2">
      <div class="md:grid md:grid-cols-4 md:gap-4">
        <!-- Left -->
        <div class="col-span-2 ">
          <!-- <form on:submit|preventDefault={onUpdate}> -->
          <Form
            class="form"
            {schema}
            {fields}
            submitHandler={onUpdate}
            {submitted}
          >
            <FormItem
              formType="select"
              label="Bank Name"
              name="bankName"
              bind:value={fields.bank_name}
            >
              {#each bankList as list}
                <option value={list.name}>{list.name}</option>
              {/each}
            </FormItem>
            <div class="flex justify-end text-dark-red">
              <Message name="bank_name" />
            </div>
            <!--Accout number -->
            <div class="mb-9">
              <FormItem
                bindValue={true}
                label="Bank Account Number"
                name="bankaccountnumber"
                placeholder="Enter your Bank Account Number"
                bind:value={fields.bank_ac_number}
                on:input={(event) =>
                  (fields.bank_ac_number = event.target.value)}
                onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))"
              />
              <div class="flex justify-end text-dark-red">
                <Message name="bank_ac_number" />
              </div>
            </div>

            <!-- Update Button -->
            <div class="mt-5 mb-3 text-center">
              <Button
                htmlType="submit"
                text="Update"
                className="w-full"
                gradient
              />
            </div>
          </Form>
          <!-- </form> -->
        </div>
      </div>
    </div>
  </section>
</main>
