<script>
  import Avatar from '../../../../components/Avatar.svelte';
  import Button from '../../../../components/Button.svelte';
  import FormItem from '../../../../components/forms/FormItem.svelte';
  import Datepicker from '../../../../components/IqRateDatePicker.svelte';

  import { fetchApi } from '../../../../services/api';
  import { uploadAPI } from '../../../../services/upload';

  import { updateUserInfo } from '../../../../utils/storage';
  import { toastAlert } from '../../../../utils/toaster';

  import { userDetail } from '../../../../stores';
  import * as yup from 'yup';

  import { Form, Message } from 'svelte-yup';

  let submitted = false;
  let isValid;
  //validation
  let schema = yup.object().shape({
    full_name: yup.string().required('Name is required'),
    dob: yup.string().required('Dob is required'),
  });

  // Form
  let fields = {
    loading: false,
    photo: null,
    full_name: '',
    dob: '',
  };

  userDetail.subscribe((user) => {
    fields.full_name = user?.full_name ? user?.full_name : 'Guest';
    fields.dob = user?.dob ? user?.dob : '';
    fields.photo = user?.photo ? user?.photo : '';
    console.log(fields.dob);
  });

  let getAge = (dateString) => {
    let today = new Date();
    let birthDate = new Date(dateString.split('-').reverse());
    console.log('befor convert', dateString);
    let age = today.getFullYear() - birthDate.getFullYear();
    let m = today.getMonth() - birthDate.getMonth();
    if (m < 0 || (m === 0 && today.getDate() < birthDate.getDate())) {
      age--;
    }
    return age;
  };

  const onUpdate = async () => {
    if (getAge(fields.dob) < 21) {
      toastAlert(
        'error',
        'You must be 21 year old and above to access iqrate services. ',
      );
    } else {
      submitted = true;
      isValid = schema.isValidSync(fields);
      if (isValid) {
        const res = await fetchApi(
          'PUT',
          `user/updateNameDOB`,
          // JSON.stringify(...fields,dob:fields.dob),
          JSON.stringify({
            ...fields,
            // dob: fields.dob.split('-').reverse().join('/'),
          }),
        );
        const json = await res.json();
        if (res.status >= 200 && res.status <= 300) {
          console.log('json', json);
          updateUserInfo({ full_name: fields.full_name, dob: fields.dob });
          toastAlert('success', 'Your Profile has been updated successfully.');
        }else if(res.status === 403){
            if(json.name === 'MEMBERSHIP_ACL_CHECK'){
              toastAlert('error', json.message ? json.message: 'We have encountered a technical difficulty. Please try again later.')
            }else{
              toastAlert('error', json.detail ? json.detail : 'We have encountered a technical difficulty onboarding you. Please try again later.');
            }
        } else {
          console.log(
            'Error',
            json.message ? json.message : 'backend err msg.',
          );
          toastAlert(
            'error',
            json.message
              ? json.message
              : 'We have encountered a technical difficulty onboarding you. Please try again later.',
          );
        }
      }
    }
  };

  const onUploadPhoto = async (image) => {
    fields.loading = true;
    const res = await uploadAPI('PUT', `user/image/update`, image);
    const imgUrl = await res.json();
    fields.loading = false;
    if (res.status >= 200 && res.status <= 300) {
      console.log('after update image', imgUrl);
      updateUserInfo({ photo: imgUrl });
      toastAlert('success', 'Profile Image Updated');
    }else if(res.status === 403){
          if(imgUrl.name === 'MEMBERSHIP_ACL_CHECK'){
            toastAlert('error', imgUrl.message ? imgUrl.message: 'We have encountered a technical difficulty. Please try again later.')
          }else{
            toastAlert('error', imgUrl.detail ? imgUrl.detail : 'We have encountered a technical difficulty onboarding you. Please try again later.');
          }
    } else {
      console.log(
        'Error',
        imgUrl.message ? imgUrl.message : 'backend err msg.',
      );
      toastAlert('error', 'Profile Image Fail!');
    }
  };
</script>

<main class="mt-6">
  <section class="px-6 py-6">
    <!-- Form -->
    <div class="mx-2">
      <div class="md:grid md:grid-cols-4 md:gap-4">
        <!-- Left -->
        <div class="col-span-2 ">
          <!-- <form on:submit|preventDefault={onUpdate}> -->
          <Form
            class="form"
            {schema}
            {fields}
            submitHandler={onUpdate}
            {submitted}
          >
            <div class="flex justify-start w-full mt-3 rounded-full">
              <Avatar
                className="rounded-full w-24 h-24"
                name="profile-avatar"
                img={fields.photo}
                uploadAble
                loading={fields.loading}
                onFileSelected={onUploadPhoto}
              />
            </div>
            <!-- Name -->
            <div class="mt-5">
              <FormItem
                label="Name as per NRIC*"
                name="name"
                placeholder="Enter your Name as per NRIC"
                bind:value={fields.full_name}
              />
              <div class="flex justify-end text-dark-red">
                <Message name="full_name" />
              </div>
            </div>
            <!-- dob -->
            <div class="mt-2">
              <!-- Date -->

              <div>
                <Datepicker
                  calendarType="datePicker"
                  lable={' Date Of Birth*'}
                  name="date"
                  placeholder="Date Of Birth"
                  type="text"
                  bind:value={fields.dob}
                />
                <div class="flex justify-end text-dark-red">
                  <Message name="dob" />
                </div>
              </div>
            </div>
            <!-- Update Button -->
            <div class="text-center ">
              <Button
                htmlType="submit"
                text="Update"
                className="w-full mt-10 mb-5"
                gradient
              />
            </div>
          </Form>
          <!-- </form> -->
        </div>
      </div>
    </div>
  </section>
</main>

<!-- <script>
  import Avatar from "../../../../components/Avatar.svelte";
  import Button from "../../../../components/Button.svelte";
  import FormItem from "../../../../components/forms/FormItem.svelte";
  import Datepicker from "../../../../components/IqRateDatePicker.svelte";

  import { fetchApi } from "../../../../services/api";
  import { uploadAPI } from "../../../../services/upload";

  import { updateUserInfo } from "../../../../utils/storage";
  import { toastAlert } from "../../../../utils/toaster";

  import { userDetail } from "../../../../stores";

  // Form
  let state = {
    loading: false,
    photo: null,
    full_name: "",
    dob: "",
  };

  userDetail.subscribe((user) => {
    state.full_name = user.full_name ? user.full_name : "Guest";
    state.dob = user.dob ? user.dob : "";
    state.photo = user.photo ? user.photo : "";
  });

  const onUpdate = async () => {
    console.log(state);
    const res = await fetchApi(
      "PUT",
      `user/updateNamePhone`,
      JSON.stringify(state)
    );
    const json = await res.json();
    if (res.status >= 200 && res.status <= 300) {
      console.log("json", json);
      updateUserInfo({ full_name: state.full_name, dob: state.dob });
      toastAlert("info", "Profile Updated");
    } else {
      console.log("Error", json.message ? json.message : "backend err msg.");
      toastAlert("info", "Updation Failed!");
    }
  };

  const onUploadPhoto = async (image) => {
    state.loading = true;
    const res = await uploadAPI("PUT", `user/image/update`, image);
    const imgUrl = await res.json();
    state.loading = false;
    if (res.status >= 200 && res.status <= 300) {
      console.log("after update image", imgUrl);
      updateUserInfo({ photo: imgUrl });
      toastAlert("info", "Profile Image Updated");
    } else {
      console.log(
        "Error",
        imgUrl.message ? imgUrl.message : "backend err msg."
      );
      toastAlert("error", "Profile Image Fail!");
    }
  };
</script>

<main class="border rounded-lg shadow">
  <section class="px-6 py-6">
   
    <div class="mx-2">
      <div class="md:grid md:grid-cols-4 md:gap-4">
    
        <div class="col-span-2 ">
          <form on:submit|preventDefault={onUpdate}>
            <div class="flex justify-start w-full rounded-full">
              <Avatar
                className="rounded-full w-24 h-24"
                name="profile-avatar"
                img={state.photo}
                uploadAble
                loading={state.loading}
                onFileSelected={onUploadPhoto}
              />
            </div>
          
            <div class="mb-9">
              <FormItem
                label="Name as per NRIC"
                name="name"
                placeholder="Enter your Name as per NRIC"
                bind:value={state.full_name}
              />
            </div>
         
            <div>
           
              <div class="">
                <Datepicker
                  calendarType="datePicker"
                  lable={"Date Of Birth"}
                  name="date"
                  placeholder="Pick Your DOB"
                  type="text"
                  bind:value={state.dob}
                />
              </div>
            </div>
         
            <div class="mt-4 text-center">
              <Button htmlType="submit" text="Update" className="w-full" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</main> -->
