<script>
  import { onMount } from 'svelte';

  import Button from '../../../../components/Button.svelte';
  import FormItem from '../../../../components/forms/FormItem.svelte';

  import * as yup from 'yup';
  import { Form, Message } from 'svelte-yup';

  import { fetchApi } from '../../../../services/api';
  import { toastAlert } from '../../../../utils/toaster';

  //validation
  let schema = yup.object().shape({
    old_password: yup.string().required('Please enter a current password'),
    new_password: yup
      .string()
      .required('Please enter a new password')
      .min(8, 'Password must be 8 alphanumeric characters')
      // .matches(/[a-zA-Z][0-9]+/gi, 'Minimum 8 characters with Alphanumeric'),
      .matches(
        /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}$/,
        'Password must be atleast 1 uppercase, 1 lowercase & 1 numeric letter',
      ),
    confirm_password: yup
      .string()
      .required('Please enter a confirm password')
      .oneOf(
        [yup.ref('new_password'), null],
        'New and confirm password should be same.',
      )
      .min(8, 'Password must be 8 alphanumeric characters'),
  });
  let result;
  let fields = { old_password: '', new_password: '', confirm_password: '' };
  let submitted = false;
  let isValid;

  const onUpdate = async () => {
    console.log(fields);
    submitted = true;
    isValid = schema.isValidSync(fields);
    if (isValid) {
      const res = await fetchApi(
        'PUT',
        `user/changePassword`,
        JSON.stringify(fields),
      );
      const json = await res.json();
      if (res.status >= 200 && res.status <= 300) {
        console.log('json', json);
        toastAlert(
          'success',
          'Congratulations ! Password has been updated successfully.',
        );
        fields.old_password = '';
        fields.new_password = '';
        fields.confirm_password = '';
        submitted = false;
      }else if(res.status === 403){
          if(json.name === 'MEMBERSHIP_ACL_CHECK'){
            toastAlert('error', json.message ? json.message: 'We have encountered a technical difficulty. Please try again later.')
          }else{
            toastAlert('error', json.detail ? json.detail : 'We have encountered a technical difficulty onboarding you. Please try again later.');
          }
      } else {
        console.log('Error', json.message ? json.message : 'backend err msg.');
        toastAlert('error', 'Invalid current password!');
      }
      result = JSON.stringify(json);
    }
  };
</script>

<main class="mt-8">
  <section class="px-6 pb-6">
    <!-- Form -->
    <div class="mx-2">
      <div class="md:grid md:grid-cols-4 md:gap-4">
        <!-- Left -->
        <div class="col-span-2 ">
          <!-- <form on:submit|preventDefault={onUpdate}> -->
          <Form
            class="form"
            {schema}
            {fields}
            submitHandler={onUpdate}
            {submitted}
          >
            <!-- Registered Mobile -->
            <div class="mb-5">
              <FormItem
                htmlType="password"
                label="Current Password"
                name="password"
                placeholder="Enter your current password"
                bind:value={fields.old_password}
              />
              <div class="flex justify-end text-dark-red">
                <Message name="old_password" />
              </div>
            </div>
            <!--New Mobile -->
            <div class="my-5">
              <FormItem
                htmlType="password"
                label="Choose New Password"
                name="npassword"
                placeholder="Enter your new password"
                bind:value={fields.new_password}
              />
              <div class="flex justify-end text-dark-red">
                <Message name="new_password" />
              </div>
            </div>
            <!-- Name -->
            <div class="my-5">
              <FormItem
                htmlType="password"
                label="Confirm Password"
                name="cpassword"
                placeholder="Confirm password"
                bind:value={fields.confirm_password}
              />
              <div class="flex justify-end text-dark-red">
                <Message name="confirm_password" />
              </div>
            </div>
            <!-- Update Button -->
            <div class="text-center">
              <Button
                htmlType="submit"
                text="Update"
                className="w-full mb-3 mt-5"
                gradient
              />
            </div>
          </Form>
        </div>
      </div>
    </div>
  </section>
</main>
