<script>
  import QRCode from 'qrcode';
  import Lock from '../../../../components/icons/dashboard/profile/Lock.svelte';
  import Success from '../../../../components/icons/dashboard/profile/Success.svelte';
  import Button from '../../../../components/Button.svelte';
  import OtpInput from '../../../../components/input/OtpInput.svelte';
  import { getUserInfo } from '../../../../utils/storage';
  import { fetchApi } from '../../../../services/api';
  import { getUserDetail } from '../../../../services/getUserInfo';
  import { toastAlert } from '../../../../utils/toaster';
  import { userDetail } from '../../../../stores';

  $: authentication = $userDetail.isTwoFactorAuthenticationEnabled;
  console.log('auth', authentication);
  export let step2fa = 1;
  let OtpValue = '';
  let qr;
  let secret;

  const generateQR = async (text) => {
    try {
      let result = await QRCode.toDataURL(text);
      qr = result;
    } catch (err) {
      console.error(err);
    }
  };
  const getQR = async () => {
    const res = await fetchApi('POST', `user/enable_mfa`);
    const json = await res.json();
    if (res.status >= 200 && res.status <= 300) {
      generateQR(json.otpauthUrl);
      secret = json.secret;
    }else if(res.status === 403){
          if(json.name === 'MEMBERSHIP_ACL_CHECK'){
            toastAlert('error', json.message ? json.message: 'We have encountered a technical difficulty. Please try again later.')
          }else{
            toastAlert('error', json.detail ? json.detail : 'We have encountered a technical difficulty onboarding you. Please try again later.');
          }
    } else {
      console.log('Error', json.message ? json.message : 'backend err msg.');
      toastAlert('error', json.message ? json.message : 'backend err msg.');
    }
  };

  const disable2FA = async () => {
    const res = await fetchApi('PUT', `user/disable2FA`);
    const json = await res.json();
    if (res.status >= 200 && res.status <= 300) {
      toastAlert(
        'success',
        json.message ? json.message : 'Successfully disabaled!',
      );
      authentication = getUserInfo().isTwoFactorAuthenticationEnabled;
      getUserDetail();
      step2fa = 1;
    }else if(res.status === 403){
          if(json.name === 'MEMBERSHIP_ACL_CHECK'){
            toastAlert('error', json.message ? json.message: 'We have encountered a technical difficulty. Please try again later.')
          }else{
            toastAlert('error', json.detail ? json.detail : 'We have encountered a technical difficulty onboarding you. Please try again later.');
          }
    } else {
      console.log('Error', json.message ? json.message : 'backend err msg.');
      toastAlert('error', json.message ? json.message : 'backend err msg.');
    }
  };

  const validateQR = async () => {
    if (OtpValue.length < 6) {
      toastAlert('error', 'Invalid OTP code should contain 6 digit.');
    } else {
      const res = await fetchApi('PUT', `user/chk2FAstatus/${OtpValue}`);
      const json = await res.json();
      if (res.status >= 200 && res.status <= 300) {
        toastAlert('success', json.message ? json.message : 'success');
        getUserDetail();
        step2fa = 4;
      }else if(res.status === 403){
          if(json.name === 'MEMBERSHIP_ACL_CHECK'){
            toastAlert('error', json.message ? json.message: 'We have encountered a technical difficulty. Please try again later.')
          }else{
            toastAlert('error', json.detail ? json.detail : 'We have encountered a technical difficulty onboarding you. Please try again later.');
          }
      } else {
        console.log('Error', json.message ? json.message : 'backend err msg.');
        toastAlert('error', json.message ? json.message : 'backend err msg.');
      }
    }
  };
</script>

{#if authentication}
  <main class="">
    <section class="lg:px-6 lg:py-6">
      <!-- Form -->
      <div class="mx-2">
        <div class="lg:grid lg:grid-cols-5 lg:gap-4">
          <!-- Left -->
          <div class="col-span-3 ">
            <div>
              <h1
                class="py-2 pl-5 font-medium rounded-t-xl bg-gray-bgcol text-dark-red"
                style="background-color:#EAEAEA;"
              >
                Two-Step-authentication
              </h1>
            </div>
            <div class="border">
              <div class="flex justify-center w-full ">
                <div
                  class="flex items-center justify-center w-24 h-24 mt-3 mb-5 text-center rounded-full"
                  style="background-color:#EAEAEA;"
                >
                  <Lock />
                </div>
              </div>
              <h1 class="text-center text-dark-red">
                Disable 2 factor Authentication
              </h1>
              <hr class="mt-6 mb-10" />
              <div class="mx-8 lg:mx-16">
                <p>
                  <span style="color: #458D6F;">Action - </span>
                  Are you sure want to to disable 2 factor authentication
                </p>
                <!-- Update Button -->
                <div class="mb-4 text-center mt-14">
                  <Button
                    btnclick={disable2FA}
                    text="Disable Authentication App"
                    className="w-full"
                    gradient
                  />
                </div>
                <div class="mb-6">
                  <!-- <Button text="Cancel" className="w-full" isOutlined /> -->
                </div>
              </div>
            </div>

            <div
              class="flex items-center justify-center w-full h-10 text-center border rounded-b-xl"
              style="background-color:#EAEAEA;"
            />
          </div>
        </div>
      </div>
    </section>
  </main>
{:else if step2fa === 1}
  <main class="">
    <section class="lg:px-6 lg:py-6">
      <!-- Form -->
      <div class="mx-2">
        <div class="lg:grid lg:grid-cols-5 lg:gap-4">
          <!-- Left -->
          <div class="col-span-3 ">
            <div>
              <h1
                class="py-2 pl-5 font-medium rounded-t-xl bg-gray-bgcol text-dark-red"
                style="background-color:#EAEAEA;"
              >
                Two-Step-authentication
              </h1>
            </div>
            <div class="border">
              <div class="flex justify-center w-full ">
                <div
                  class="flex items-center justify-center w-24 h-24 mt-3 mb-5 text-center rounded-full"
                  style="background-color:#EAEAEA;"
                >
                  <Lock />
                </div>
              </div>
              <h1 class="text-center text-dark-red">
                Download Authentication App
              </h1>
              <hr class="mt-6 mb-10" />
              <div class="mx-8 lg:mx-16">
                <p>
                  <span style="color: #458D6F;">Recommended</span> · Download Google
                  Authenticator from Google play store & App store to generate verification
                  codes for more protection
                </p>
                <!-- Update Button -->
                <div class="mb-4 text-center mt-14">
                  <Button
                    btnclick={() => {
                      step2fa = 2;
                      getQR();
                    }}
                    text="Use Authentication App"
                    className="w-full"
                    gradient
                  />
                </div>
                <div class="mb-6">
                  <!-- <Button text="Cancel" className="w-full" isOutlined /> -->
                </div>
              </div>
            </div>

            <div
              class="flex items-center justify-center w-full h-10 text-center border rounded-b-xl"
              style="background-color:#EAEAEA;"
            />
          </div>
        </div>
      </div>
    </section>
  </main>
{:else if step2fa === 2}
  <main class="">
    <section class="lg:px-6 lg:py-6">
      <!-- Form -->
      <div class="mx-2">
        <div class="lg:grid lg:grid-cols-5 lg:gap-4">
          <!-- Left -->
          <div class="col-span-3 ">
            <div>
              <h1
                class="py-2 pl-5 font-medium rounded-t-xl bg-gray-bgcol text-dark-red"
                style="background-color:#EAEAEA;"
              >
                Two-Step-authentication
              </h1>
            </div>
            <div class="border">
              <div class="flex justify-center w-full ">
                <div
                  class="flex items-center justify-center w-24 h-24 mt-3 mb-5 text-center rounded-full"
                  style="background-color:#EAEAEA;"
                >
                  <Lock />
                </div>
              </div>
              <h1 class="text-center text-dark-red">
                Scan through Google Authenticator
              </h1>
              <hr class="mt-6 mb-10" />
              <div class="mx-8 lg:mx-10">
                <p class="lg:text-justify">
                  <span style="color: #458D6F;">Recommended</span> · Please use your
                  authentication app ( Google Authenticator) to scan this QR code
                  or Enter the code Manually into your app
                </p>
                <div
                  class="flex flex-col justify-center w-full mt-6 place-items-center "
                >
                  <div class="">
                    <img src={qr} alt="QR Code" class=" w-28 lg:w-40" />
                  </div>
                  <div class="flex place-items-center">OR</div>
                  <div
                    class="grid my-3 ml-2 text-center card rounded-box place-items-center"
                    style="background-color:#EAEAEA;"
                  >
                    <div class="p-2 mx-0">
                      <p class="text-sm ">
                        Enter this code into your authentication app
                      </p>
                      <p
                        class="mt-2 text-sm font-bold text-center lg:text-base"
                      >
                        {secret ? secret : '7654325'}
                      </p>
                    </div>
                  </div>
                </div>

                <!-- Update Button -->
                <div class="mb-4 text-center mt-14">
                  <Button
                    btnclick={() => {
                      step2fa = 3;
                    }}
                    text="Use Authentication App"
                    className="w-full"
                    gradient
                  />
                </div>
                <div class="mb-6">
                  <Button
                    text="Cancel"
                    className="w-full"
                    isOutlined
                    btnclick={() => {
                      step2fa = 1;
                    }}
                  />
                </div>
              </div>
            </div>

            <div
              class="flex items-center justify-center w-full h-10 text-center border rounded-b-xl"
              style="background-color:#EAEAEA;"
            />
          </div>
        </div>
      </div>
    </section>
  </main>
{:else if step2fa === 3}
  <main class="border rounded-lg shadow">
    <section class="px-6 py-6">
      <!-- Form -->
      <div class="mx-2">
        <div class="md:grid md:grid-cols-4 md:gap-4">
          <!-- Left -->
          <div class="col-span-2 ">
            <div>
              <h1
                class="py-2 pl-5 font-medium rounded-t-xl bg-gray-bgcol text-dark-red"
                style="background-color:#EAEAEA;"
              >
                Two-Step-authentication
              </h1>
            </div>
            <div class="border">
              <div class="flex justify-center w-full ">
                <div
                  class="flex items-center justify-center w-24 h-24 mt-3 mb-5 text-center rounded-full"
                  style="background-color:#EAEAEA;"
                >
                  <Lock />
                </div>
              </div>
              <h1 class="text-center text-dark-red">Enter confirmation code</h1>
              <hr class="mt-6 mb-10" />
              <div class="mx-8 lg:mx-16">
                <p>
                  <span style="color: #458D6F;">Recommended</span> · Please enter
                  the confirmation code that you see on your authentication app
                </p>
                <div class="flex justify-between mt-10">
                  <OtpInput count={6} bind:value={OtpValue} />
                </div>
                <!-- Update Button -->
                <div class="mb-10 text-center mt-14">
                  <Button
                    btnclick={validateQR}
                    text="Verify"
                    className="w-full mb-6"
                    gradient
                  />
                  <div class="mb-6">
                    <Button
                      text="Cancel"
                      className="w-full"
                      isOutlined
                      btnclick={() => {
                        step2fa = 2;
                      }}
                    />
                  </div>
                </div>
              </div>
            </div>

            <div
              class="flex items-center justify-center w-full h-10 text-center border rounded-b-xl"
              style="background-color:#EAEAEA;"
            />
          </div>
        </div>
      </div>
    </section>
  </main>
{:else}
  <main class="border rounded-lg shadow">
    <section class="px-6 py-6">
      <!-- Form -->
      <div class="mx-2">
        <div class="md:grid md:grid-cols-4 md:gap-4">
          <!-- Left -->
          <div class="col-span-2 ">
            <div>
              <h1
                class="py-2 pl-5 font-medium rounded-t-xl bg-gray-bgcol text-dark-red"
                style="background-color:#EAEAEA;"
              >
                Two-Step-authentication
              </h1>
            </div>
            <div class="border">
              <div class="flex justify-center w-full ">
                <div
                  class="flex items-center justify-center w-24 h-24 mt-3 mb-5 text-center rounded-full"
                  style="background-color:#EAEAEA;"
                >
                  <Success />
                </div>
              </div>
              <h1 class="text-center text-dark-red">Successfuly Enabled</h1>
              <hr class="mt-6 mb-10" />
              <div class="mx-8 lg:mx-16">
                <p class="mb-10 text-center">
                  <span style="color: #458D6F;"
                    >Your Authentication code will be sent to google
                    Authenticator app for future log-in.
                  </span>
                </p>
                <!-- <div class="flex justify-between mt-10">
                  <OtpInput count={6} bind:value={OtpValue} />
                </div> -->
                <!-- Update Button -->
                <!-- <div class="mb-10 text-center mt-14">
                  <Button
                    text="Verify"
                    className="w-full"
                    btnclick={validateQR}
                  />
                </div> -->
              </div>
            </div>

            <div
              class="flex items-center justify-center w-full h-10 text-center border rounded-b-xl"
              style="background-color:#EAEAEA;"
            />
          </div>
        </div>
      </div>
    </section>
  </main>
{/if}
