<script>
  import { onMount } from 'svelte';
  import { Link } from 'svelte-navigator';
  import { tweened } from 'svelte/motion';

  import Button from '../../../../components/Button.svelte';
  import FormItem from '../../../../components/forms/FormItem.svelte';
  import ModelPopUp from '../../../../components/ModelPopUp.svelte';
  import EmailVerify from '../../../../components/icons/dashboard/profile/EmailVerify.svelte';

  import * as yup from 'yup';
  import { Form, Message } from 'svelte-yup';

  import Loading from '../../../../components/icons/Loading.svelte';
  import OtpInput from '../../../../components/input/OtpInput.svelte';

  import { fetchApi } from '../../../../services/api';
  import { getUserInfo } from '../../../../utils/storage';
  import { toastAlert } from '../../../../utils/toaster';

  let OtpValue = '';

  //timer 30sec
  let resendCodeCount = 0;
  let resendCodeLoading = false;
  let original = 60; // TYPE NUMBER OF SECONDS HERE
  let timer = tweened(original);

  setInterval(() => {
    if ($timer > 0) $timer--;
  }, 1000);

  $: minutes = Math.floor($timer / 60);
  $: seconds = Math.floor($timer - minutes * 60);

  //validation
  let schema = yup.object().shape({
    email: yup
      .string()
      .required('Please enter a valid email')
      .email('Please enter a valid email'),
  });

  let submitted = false;
  let isValid;

  // Form
  let fields = {
    email: '',
  };
  onMount(() => {
    console.log('emailverified', getUserInfo());
    fields.email = getUserInfo().email ? getUserInfo().email : 'Guess';
  });

  const onUpdate = async () => {
    // console.log(fields);
    submitted = true;
    isValid = schema.isValidSync(fields);
    if (isValid) {
      const res = await fetchApi(
        'PUT',
        `user/changeEmail`,
        JSON.stringify(fields),
      );
      const json = await res.json();
      if (res.status >= 200 && res.status <= 300) {
        console.log('json', json);
        toastAlert(
          'success',
          json.message
            ? json.message
            : 'Congratulations ! Your email address has been successfully verified.',
        );
      }else if(res.status === 403){
          if(json.name === 'MEMBERSHIP_ACL_CHECK'){
            toastAlert('error', json.message ? json.message: 'We have encountered a technical difficulty. Please try again later.')
          }else{
            toastAlert('error', json.detail ? json.detail : 'We have encountered a technical difficulty onboarding you. Please try again later.');
          }
      } else {
        console.log('Error', json.message ? json.message : 'backend err msg.');
        toastAlert(
          'error',
          json.errMessage
            ? json.errMessage
            : 'We have encountered a technical difficulty onboarding you. Please try again later.',
        );
      }
    }
  };

  const onVerifyEmail = () => {
    console.log('onverify');
  };
</script>

<main class="mt-8">
  <section class="px-6 pb-6">
    <!-- Form -->
    <div class="mx-2">
      <div class="md:grid md:grid-cols-4 md:gap-4">
        <!-- Left -->
        <div class="col-span-2 ">
          <!-- Registered Email -->
          <!-- <form on:submit|preventDefault={onUpdate}> -->
          <Form
            class="form"
            {schema}
            {fields}
            submitHandler={onUpdate}
            {submitted}
          >
            <div class="mb-3">
              <div>
                <div class="-mb-5">
                  {#if getUserInfo().is_email_verified === 1}
                    <img
                      class="w-5 h-5 ml-44 "
                      src="/assets/images/verified.gif"
                      alt="s"
                    />
                  {:else}
                    <img
                      class="w-5 h-5 ml-44 "
                      src="/assets/images/cancel.png"
                      alt="s"
                    />
                  {/if}
                </div>
                <FormItem
                  label="Registered email address"
                  name="emailAddress"
                  placeholder="Enter your Email Address"
                  bind:value={fields.email}
                />

                <div class="flex justify-end text-dark-red">
                  <Message name="email" />
                </div>
              </div>
              <div>
                <Button
                  text="UPDATE"
                  htmlType="submit"
                  className="w-full mt-5"
                  gradient
                />
              </div>
            </div>
          </Form>
          <!-- </form> -->
          <!-- Update Button -->
          <div class="mt-4 text-center" style="display: none">
            <!-- <Button htmlType="submit" text="Update" className="w-full" /> -->
            <form>
              <ModelPopUp
                props={{
                  btnKey: '2',
                  btnLabel: 'Update',
                }}
              >
                <div class="flex justify-center">
                  <EmailVerify />
                </div>
                <p class="mt-3 text-dark-red">
                  Please verify your email address
                </p>
                <p class="mx-4 mt-3 text-gray-label">
                  An email has been sent to your registered email address.
                  Please enter the verification code.
                </p>
                <div class="flex justify-between mx-4 mt-10 mb-5">
                  <OtpInput count={4} bind:value={OtpValue} />
                </div>
                <div class="flex justify-between mx-4">
                  <div class="text-sm text-gray-label">
                    {resendCodeCount}/3 Tries
                  </div>
                  <div>
                    <Link
                      to=""
                      class="text-sm text-gray-label hover:text-dark-red"
                      >Didn’t receive the code?
                    </Link>
                  </div>
                </div>
                <div
                  class="flex justify-end w-full pr-4 text-sm text-gray-label"
                >
                  {#if seconds === 0}
                    {#if resendCodeLoading}
                      <div class="mt-2">
                        <Loading />
                      </div>
                    {/if}
                    <Button
                      text="Resend Code"
                      className="btn-ghost text-dark-red hover:bg-transparent px-0"
                      disabled={resendCodeLoading}
                    />
                    <!-- <button class="mt-5 mb-3 hover:text-dark-red">Resend Code</button> -->
                  {:else}
                    <div class="mt-2">
                      <Loading />
                    </div>

                    <div>
                      <p class="mt-5 mb-3 cursor-pointer" id="some_div">
                        Resend Code in
                        <span class="pr-1 text-dark-red">{seconds}</span>Seconds
                      </p>
                    </div>
                  {/if}
                </div>
                <div class="mx-4 mt-4 mb-6">
                  <Button
                    text="Continue"
                    className="w-full "
                    btnclick={onVerifyEmail}
                    isOnce
                  />
                </div>
              </ModelPopUp>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
