<script>
  import { Route, Router } from 'svelte-navigator';
  import AdminListing from './view/List.svelte';
  import AdminAdd from './view/Add.svelte';
</script>

<Router>
  <Route path="list"><AdminListing /></Route>
  <Route path="add"><AdminAdd /></Route>
  <Route path="edit/:id" component={AdminAdd} />
</Router>
