<script>
  //Form ref: https://svelte-forms-lib-sapper-docs.vercel.app/basic

  import { createForm } from 'svelte-forms-lib';
  import * as yup from 'yup';
  import { Accordion, AccordionItem } from 'svelte-collapsible';
  import Spinner from '../components/Timer.svelte';
  import FormItem from '../components/forms/FormItem.svelte';
  import Button from '../components/Button.svelte';
  import Dropdown from '../components/Dropdown.svelte';
  import DropdownV2 from '../components/v2/Dropdown.svelte';
  import FormCheckbox from '../components/forms/FormCheckbox.svelte';
  import FormToggle from '../components/forms/FormToggle.svelte';

  import SideBar from '../components/dashboard/SideBar.svelte';
  import RecentNotification from '../components/dashboard/RecentNotification.svelte';

  import TabSwitch from '../components/TabSwitch.svelte';

  import AccordionMenu from '../components/AccordionMenu.svelte';

  // import MultiSelect from '../../../../../components/MultiSelect.svelte';
  import MultiSelect from '../components/MultiSelectDrop.svelte';
  import { allKv } from '../stores';

  let dummyValue = 'a';

  let dummyOptions = [
    { label: 'Option 1', value: 1 },
    { label: 'Option 2', value: 2 },
    { label: 'Option 3', value: 3 },
    { label: 'Option a', value: 'a' },
    { label: 'Option b', value: 'b' },
    { label: 'Option c', value: 'c' },
    { label: 'Option aa', value: 'aa' },
    { label: 'Option bc', value: 'bc' },
  ];

  const { form, errors, state, handleChange, handleSubmit } = createForm({
    initialValues: {
      name: '',
      email: '',
    },
    validationSchema: yup.object().shape({
      title: yup.string().oneOf(['Mr.', 'Mrs.', 'Mx.']).required(),
      name: yup.string().required(),
      email: yup.string().email().required(),
      password: yup.string().required(),
    }),
    onSubmit: (values) => {
      console.log('val', values);
      alert(JSON.stringify(values));
    },
  });

  let isChecked = false;
  let isToggled = false;

  let notificationList = [
    {
      image: 'https://miro.medium.com/max/1400/0*0fClPmIScV5pTLoE.jpg',
      link: '/kishor',
      name: 'Kishor Jadav',
      status: 'Loan Has Been Approved',
      time: '5h',
    },
    {
      image: '',
      link: '/stanley',
      name: 'Stanley',
      status: 'Client meet @12pm today sghajwqwqwqwqwqw',
      time: '10h',
    },
  ];

  let speak = () => {
    alert('howdy!');
  };

  let customUser = {
    picture:
      'https://iqrate-images.s3.ap-southeast-1.amazonaws.com/1648465611705%20-%20default-profile-3.png',
    name: 'Ahbeng',
  };
</script>

<h1>MultiSelect</h1>

<MultiSelect
  selectTitle={'Deposit to Place Remarks'}
  bind:selectValue={dummyValue}
  options={dummyOptions}
/>

<Spinner
  on:click={speak}
  timeOutMessage="time is up"
  message="test if the component works"
  time="1"
/>

<div class="flex justify-center">
  <DropdownV2 type="button" text="Heyy" user={customUser}>
    <a href="/api/logout" class="block px-4 py-2 hover:bg-gray-100">Profile</a
    ><a href="/api/logout" class="block px-4 py-2 hover:bg-gray-100">Logout</a>
  </DropdownV2>
</div>

<!-- Forms -->
<!-- <div class="flex">
  <form on:submit={handleSubmit}>
    <FormItem
      formType="select"
      name="title"
      value={$form.title}
      error={$errors.title}
      {handleChange}
    />
    <FormItem
      name="name"
      value={$form.name}
      error={$errors.name}
      className="rounded-full"
      {handleChange}
    />
    <FormItem
      name="email"
      value={$form.email}
      error={$errors.email}
      className="rounded-full"
      {handleChange}
    />
    <FormItem
      name="password"
      htmlType="password"
      value={$form.password}
      error={$errors.password}
      className="rounded-full"
      {handleChange}
    />
    <FormItem
      name="testName"
      formType="inputPreSelect"
      preValue={"Mrs."}
      value={$form.name}
      error={$errors.name}
      className="rounded-full"
      {handleChange}
    />
    <Button htmlType="submit" text="submit" />
  </form>
</div>
<hr />
<div class="flex">
 
  <FormCheckbox bind:checked={isChecked} />
  <FormToggle bind:checked={isToggled} toggleText="test" />
</div>

<div class="flex mt-24 ">
  <div>
  </div>
  <div class="ml-10">
    <RecentNotification {notificationList} />
  </div>
</div>

<h1 class="pl-3 my-5">Profile Tab Dropdown</h1>

<TabSwitch props={{ tabName: "Lead Profile" }} /> -->
