<script>
  import Inputs from '../components/Inputs.svelte';
  // import DropDown from "../components/IqRateDropdown.svelte";
  // import CheckBox from "../components/IqRateCheckbox.svelte";
  // import ToggleBtn from "../components/IqRateToggle.svelte";
  import CKEditor from '../components/IqRateTextEditor.svelte';
  import DatePicker from '../components/IqRateDatePicker.svelte';

  import Button from '../components/Button.svelte';
  let acceptTerms = false;
</script>

<main class="mb-6">
  <div class="flex">
    <Button text="Sign Up" isRounded postIcon="rightArrow" />
    <Button text="Disabled button" disabled isRounded postIcon="rightArrow" />
    <Button text="Sign up" preIcon="google" isOutlined isRounded />
    <Button text="See all Rates" isOutlined />
    <Button text="Create a Lead" />
    <Button text="Pdpa button" isPdpa postIcon="infoCircle" />
  </div>
  <div class="flex">
    <!-- left -->
    <div class="mx-4 my-4 rounded-lg bg-light-red">
      <div>
        <h1 class="px-10 py-6 text-dark-red">Buttons</h1>
      </div>
    </div>
    <!-- right -->
    <div>
      <p class="mt-20 text-dark-red">Submit Buttons</p>
      <div class="flex justify-between w-full mt-4">
        <div class="w-40 mr-20" style="width: 500px; margin-right: 80px;">
          <p>Enable</p>
          <!-- <IqRateButtons btntype="signUp" label="Sign Up" /> -->
        </div>
        <div class="w-40" style="width: 500px;">
          <p>Disable</p>
          <!-- <IqRateButtons btntype="disable" label="Sign Up" /> -->
        </div>
      </div>
    </div>
  </div>

  <!-- google Auth -->

  <div class="flex">
    <!-- left -->
    <div class="mx-4 mt-4 rounded-lg bg-light-red">
      <div>
        <h1 class="px-10 py-6 text-dark-red">Buttons</h1>
      </div>
    </div>
    <!-- right -->
    <div>
      <p class="mt-20 text-dark-red">Google Auth</p>
      <div class="flex justify-between w-full mt-4">
        <div class="w-40 mr-20" style="width: 500px; margin-right: 80px;">
          <p>Enable</p>
          <!-- <IqRateButtons btntype="googleAuth" label="Sign Up" /> -->
        </div>
        <div class="w-40" style="width: 500px;" />
      </div>
    </div>
  </div>

  <!-- secondary Buttons -->
  <div class="flex">
    <!-- left -->
    <div class="mx-4 mt-4 rounded-lg bg-light-red">
      <div>
        <h1 class="px-10 py-6 text-dark-red">Buttons</h1>
      </div>
    </div>
    <!-- right -->
    <div>
      <p class="mt-20 text-dark-red">Secondary Buttons</p>
      <div class="flex justify-between w-full mt-4">
        <div class="w-40 mr-20" style="width: 500px; margin-right: 80px;">
          <p>Enable</p>
          <!-- <IqRateButtons btntype="btn-white" label="See all Rates" /> -->
        </div>
        <div class="w-40" style="width: 500px;" />
      </div>
    </div>
  </div>

  <!-- Other Buttons -->
  <div class="flex">
    <!-- left -->
    <div class="mx-4 mt-4 rounded-lg bg-light-red">
      <div>
        <h1 class="px-10 py-6 text-dark-red">Buttons</h1>
      </div>
    </div>
    <!-- right -->
    <div>
      <p class="mt-20 text-dark-red">Other Buttons</p>
      <div class="flex justify-between w-full mt-4">
        <div class="w-40 mr-20" style="width: 500px; margin-right: 80px;">
          <p>Btn</p>
          <!-- <IqRateButtons btntype="btn-red" label="Create a Lead" /> -->
        </div>
        <div class="w-40" style="width: 500px;">
          <p>PDPA</p>
          <!-- <IqRateButtons btntype="btn-pdpa" label="Send for PDPA Approval" /> -->
        </div>
      </div>
    </div>
  </div>

  <!--Full rounded Inputs -->
  <div class="flex mb-4">
    <!-- left -->
    <div class="mx-4 my-4 rounded-lg bg-light-red">
      <div>
        <h1 class="px-10 py-6 text-dark-red">Inputs</h1>
      </div>
    </div>
    <!-- right -->
    <div>
      <p class="mt-10 text-dark-red">Inputs Types</p>
      <div class="flex justify-between w-full mt-4">
        <div class="w-40 mr-20" style="width: 500px; margin-right: 80px;">
          <p>Enable</p>
          <Inputs inputType="input" label="First Name" />
        </div>
        <div class="w-40" style="width: 500px;">
          <p>Error</p>
          <Inputs
            inputType="inputMessage"
            label="First Name"
            error="Error Message Here"
          />
        </div>
      </div>
    </div>
  </div>

  <!--Large Rounded Inputs with error-->
  <div class="flex mb-4">
    <!-- left -->
    <div class="mx-4 my-4 rounded-lg bg-light-red">
      <div>
        <h1 class="px-10 py-6 text-dark-red">Inputs</h1>
      </div>
    </div>
    <!-- right -->
    <div>
      <p class="mt-10 text-dark-red">Inputs Types</p>
      <div class="flex justify-between w-full mt-4">
        <div class="w-40 mr-20" style="width: 500px; margin-right: 80px;">
          <p>Enable</p>
          <Inputs inputType="squreinput" label="First Name" />
        </div>
        <div class="w-40" style="width: 500px;">
          <p>Error</p>
          <Inputs
            inputType="squreinputMessage"
            label="First Name"
            error="Error Message Here"
            placeholder="Enter Your Name"
          />
        </div>
      </div>
    </div>
  </div>

  <!--Large Rounded calendar with error-->
  <div class="flex mb-4">
    <!-- left -->
    <div class="mx-4 my-4 rounded-lg bg-light-red">
      <div>
        <h1 class="px-10 py-6 text-dark-red">Inputs</h1>
      </div>
    </div>
    <!-- right -->
    <div>
      <p class="mt-10 text-dark-red">Inputs Types Calendar</p>
      <div class="flex justify-between w-full mt-4">
        <div class="w-40 mr-20" style="width: 500px; margin-right: 80px;">
          <Inputs
            inputType="calendar"
            label="Calendar"
            type="date"
            id="date"
            name="date"
          />
        </div>
        <div class="w-40" style="width: 500px;">
          <!--<p>Error</p>
           <Inputs
            inputType="squreinputMessage"
            label="First Name"
            error="Error Message Here"
            placeholder="Enter Your Name"
          /> -->
        </div>
      </div>
    </div>
  </div>

  <!--Full rounded TEXTAREA -->
  <div class="flex mb-4">
    <!-- left -->
    <div class="mx-4 my-4 rounded-lg bg-light-red">
      <div>
        <h1 class="px-10 py-6 text-dark-red">Inputs</h1>
      </div>
    </div>
    <!-- right -->
    <div>
      <p class="mt-10 text-dark-red">Inputs Types</p>
      <div class="flex justify-between w-full mt-4">
        <div class="w-40 mr-20" style="width: 500px; margin-right: 80px;">
          <p>Enable</p>
          <Inputs
            inputType="textArea"
            label="Descripion"
            rows="4"
            error=""
            placeholder="Enter Here Description Here"
          />
        </div>
        <div class="w-40" style="width: 500px;">
          <p>Error</p>
          <Inputs
            inputType="textArea"
            label="Descripion"
            rows="4"
            placeholder="Enter Here Description Here"
            error="Error Message Here"
          />
        </div>
      </div>
    </div>
  </div>

  <!--DropDown -->
  <div class="flex mb-4">
    <!-- left -->
    <div class="mx-4 my-4 rounded-lg bg-light-red">
      <div>
        <h1 class="px-10 py-6 text-dark-red">DropDown</h1>
      </div>
    </div>
    <!-- right -->
    <div>
      <p class="mt-10 text-dark-red">Dropdown</p>
      <div class="flex justify-between w-full mt-4">
        <div class="w-40 mr-20" style="width: 500px; margin-right: 80px;">
          <p />
          <!-- <DropDown btntype="dropDown" btnlable="DropDown" /> -->
        </div>
        <div class="w-40" style="width: 500px;">
          <p class="text-dark-red" />
        </div>
      </div>
    </div>
  </div>

  <!--checkBox -->
  <div class="flex mb-4">
    <!-- left -->
    <div class="mx-4 my-4 rounded-lg bg-light-red">
      <div>
        <h1 class="px-10 py-6 text-dark-red">Check Box</h1>
      </div>
    </div>
    <!-- right -->
    <div>
      <p class="mt-10 text-dark-red">Check Box</p>
      <div class="flex justify-between w-full mt-4">
        <div class="w-40 mr-20" style="width: 500px; margin-right: 80px;">
          <p />
          <!-- <CheckBox
            btntype="checkBox"
            type="checkbox"
            name="checkbox"
            id="checkbox"
            btnlable="By creating an account, you agree to our Privacy Policy, Term
                and Conditions and Notification settings"
          />

          <CheckBox
            btntype="checkBox"
            type="checkbox"
            name="checkbox"
            id="checkbox"
            btnlable="Gender  "
          /> -->
        </div>
        <div class="w-40" style="width: 500px;">
          <p class="text-dark-red" />
        </div>
      </div>
    </div>
  </div>

  <!--Toggle btn -->
  <div class="flex mb-4">
    <!-- left -->
    <div class="mx-4 my-4 rounded-lg bg-light-red">
      <div>
        <h1 class="px-10 py-6 text-dark-red">Toggle Btn</h1>
      </div>
    </div>
    <!-- right -->
    <div>
      <p class="mt-10 text-dark-red">Toggle Btn</p>
      <div class="flex justify-between w-full mt-4">
        <div class="w-40 mr-20" style="width: 500px; margin-right: 80px;">
          <p />
          <!-- <ToggleBtn bind:checked={acceptTerms} /> -->
        </div>
        <div class="w-40" style="width: 500px;">
          <p class="text-dark-red" />
        </div>
      </div>
    </div>
  </div>

  <!--Toggle btn -->
  <div class="flex mb-4">
    <!-- left -->
    <div class="mx-4 my-4 rounded-lg bg-light-red">
      <div>
        <h1 class="px-10 py-6 text-dark-red">Text Editor</h1>
      </div>
    </div>
    <!-- right -->
    <div>
      <p class="mt-10 text-dark-red">CK Editor</p>
      <div class="flex justify-between w-full mt-4">
        <div class="w-40" style="width: 500px; ">
          <p />
          <CKEditor />
        </div>
        <div class="w-40" style="width: 500px;">
          <p class="text-dark-red" />
        </div>
      </div>
    </div>
  </div>

  <!--DatePicker btn -->
  <div class="flex mb-4">
    <!-- left -->
    <div class="mx-4 my-4 rounded-lg bg-light-red">
      <div>
        <h1 class="px-10 py-6 text-dark-red">Date Picker</h1>
      </div>
    </div>
    <!-- right -->
    <div>
      <p class="mt-10 text-dark-red">Date Picker</p>
      <div class="flex justify-between w-full mt-4">
        <div class="w-40" style="width: 500px; ">
          <p />
          <DatePicker
            calendarType="full"
            lable="Select Date"
            name="date"
            placeholder="Pick Date"
            type="text"
          />
        </div>
        <div class="w-40" style="width: 500px; margin-left: 10px;">
          <p class="text-dark-red" />
          <DatePicker
            calendarType="squre"
            lable="Select Date"
            name="date"
            placeholder="Pick Date"
            type="text"
          />
        </div>
      </div>
    </div>
  </div>

  <!--DatePicker from and to  -->
  <div class="flex mb-4">
    <!-- left -->
    <div class="mx-4 my-4 rounded-lg bg-light-red">
      <div>
        <h1 class="px-10 py-6 text-dark-red">Date_Picker</h1>
      </div>
    </div>
    <!-- right -->
    <div class="">
      <div>
        <p class="mt-10 text-dark-red">Date Picker</p>
        <div class="flex justify-between w-full mt-4">
          <div class="flex w-40" style="width: 500px; ">
            <div>
              <p />
              <DatePicker
                calendarType="full"
                lable="Select Date"
                name="date"
                placeholder="From Date"
                type="text"
              />
            </div>
            <div
              class=""
              style="margin-top: 30px; margin-left: 7px; margin-right: 5px;"
            >
              <label class="pt-5" for="">to</label>
            </div>
            <div>
              <p />
              <DatePicker
                calendarType="full"
                lable="Select Date"
                name="date"
                placeholder="End Date"
                type="text"
              />
            </div>
          </div>
          <div class="flex w-40 " style="width: 500px; ">
            <div>
              <p />
              <DatePicker
                calendarType="squre"
                lable="Select Date"
                name="date"
                placeholder="Start Date"
                type="text"
              />
            </div>
            <div
              class=""
              style="margin-top: 30px; margin-left: 7px; margin-right: 5px;"
            >
              <label class="pt-5" for="">to</label>
            </div>
            <div>
              <p />
              <DatePicker
                calendarType="squre"
                lable="Select Date"
                name="date"
                placeholder="End Date"
                type="text"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
