<script>
  import { Route, Router } from 'svelte-navigator';

  import ConfiList from './view/List.svelte';
  import ConfigAdd from './view/Add.svelte';
</script>

<Router>
  <Route path="list"><ConfiList /></Route>
  <Route path="add"><ConfigAdd /></Route>
  <Route path="add/:id" component={ConfigAdd} />
</Router>
