<script>
  import { Route, Router } from 'svelte-navigator';

  import FaqCategoryListing from './screens/List.svelte';
  import FaqCategoryAdd from './screens/Add.svelte';
</script>

<Router>
  <Route path="list"><FaqCategoryListing /></Route>
  <Route path="add"><FaqCategoryAdd /></Route>
  <Route path="edit/:id" component={FaqCategoryAdd} />
</Router>
