<svg
  width="120"
  height="110"
  viewBox="0 0 178 117"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <g clip-path="url(#clip0_713_758)" filter="url(#filter0_d_713_758)">
    <path
      d="M22.462 12H104.27C107.044 12.0031 109.703 13.1064 111.665 15.0677C113.626 17.029 114.729 19.6883 114.732 22.462V67.2176C114.729 69.9913 113.626 72.6506 111.665 74.6119C109.703 76.5732 107.044 77.6764 104.27 77.6796H22.462C19.6882 77.6764 17.029 76.5732 15.0677 74.6119C13.1064 72.6506 12.0031 69.9913 12 67.2176V22.462C12.0031 19.6883 13.1064 17.029 15.0677 15.0677C17.029 13.1064 19.6882 12.0031 22.462 12Z"
      fill="#F2F2F2"
    />
    <path
      d="M22.4618 15.0118H104.27C106.246 15.0141 108.139 15.7997 109.536 17.1964C110.933 18.5931 111.718 20.4868 111.72 22.462V67.2177C111.718 69.1929 110.933 71.0866 109.536 72.4833C108.139 73.88 106.245 74.6656 104.27 74.6678H22.4618C20.4866 74.6656 18.5929 73.88 17.1962 72.4833C15.7996 71.0866 15.0139 69.1929 15.0117 67.2177V22.462C15.0139 20.4868 15.7996 18.5931 17.1962 17.1964C18.5929 15.7997 20.4866 15.0141 22.4618 15.0118Z"
      fill="white"
    />
    <path
      d="M23.262 93.7036C23.0151 93.7029 22.7708 93.6535 22.5431 93.5582C22.2032 93.4216 21.9125 93.1856 21.7089 92.881C21.5054 92.5764 21.3986 92.2174 21.4024 91.8511V76.3794L42.0291 75.6854L24.5568 93.1577C24.3879 93.3299 24.1864 93.4668 23.9642 93.5605C23.7419 93.6542 23.5032 93.7029 23.262 93.7036Z"
      fill="#F2F2F2"
    />
    <path
      d="M94.0261 26.1442H32.5103C30.0474 26.1442 28.0508 28.1408 28.0508 30.6037V30.6037C28.0508 33.0666 30.0474 35.0632 32.5103 35.0632H94.0261C96.489 35.0632 98.4856 33.0666 98.4856 30.6037C98.4856 28.1408 96.489 26.1442 94.0261 26.1442Z"
      fill="#F2F2F2"
    />
    <path
      d="M94.1237 40.3802H32.6079C30.145 40.3802 28.1484 42.3768 28.1484 44.8398V44.8398C28.1484 47.3027 30.145 49.2993 32.6079 49.2993H94.1237C96.5867 49.2993 98.5833 47.3027 98.5833 44.8398C98.5833 42.3768 96.5867 40.3802 94.1237 40.3802Z"
      fill="#F2F2F2"
    />
    <path
      d="M94.2253 54.6165H32.7095C30.2466 54.6165 28.25 56.613 28.25 59.076V59.076C28.25 61.5389 30.2466 63.5355 32.7095 63.5355H94.2253C96.6882 63.5355 98.6848 61.5389 98.6848 59.076C98.6848 56.613 96.6882 54.6165 94.2253 54.6165Z"
      fill="#F2F2F2"
    />
    <path
      d="M151.645 34.826H69.837C67.0632 34.8292 64.404 35.9324 62.4427 37.8937C60.4814 39.8551 59.3781 42.5143 59.375 45.288V90.0437C59.3781 92.8174 60.4814 95.4766 62.4427 97.438C64.404 99.3993 67.0632 100.503 69.837 100.506H151.645C154.419 100.503 157.078 99.3993 159.04 97.438C161.001 95.4766 162.104 92.8174 162.107 90.0437V45.288C162.104 42.5143 161.001 39.8551 159.04 37.8937C157.078 35.9324 154.419 34.8292 151.645 34.826Z"
      fill="#E6E6E6"
    />
    <path
      d="M151.63 37.7462H69.8213C67.8461 37.7484 65.9524 38.5341 64.5557 39.9308C63.159 41.3275 62.3733 43.2212 62.3711 45.1964V89.952C62.3733 91.9273 63.159 93.821 64.5557 95.2177C65.9524 96.6144 67.8461 97.4 69.8213 97.4022H151.63C153.605 97.4 155.499 96.6143 156.895 95.2176C158.292 93.8209 159.078 91.9273 159.08 89.952V45.1964C159.078 43.2212 158.292 41.3275 156.895 39.9308C155.499 38.5341 153.605 37.7485 151.63 37.7462Z"
      fill="white"
    />
    <path
      d="M145.421 115.984L127.949 98.5115L148.576 99.2055V114.677C148.58 115.043 148.473 115.402 148.269 115.707C148.066 116.012 147.775 116.248 147.435 116.384C147.207 116.48 146.963 116.529 146.716 116.53C146.475 116.529 146.236 116.48 146.014 116.387C145.792 116.293 145.59 116.156 145.421 115.984Z"
      fill="#E6E6E6"
    />
    <path
      d="M108.029 80.2097C107.303 80.211 106.596 79.9761 106.015 79.5405L105.979 79.5134L98.3944 73.7046C98.0432 73.4354 97.7484 73.0996 97.5269 72.7164C97.3053 72.3332 97.1614 71.9102 97.1034 71.4713C97.0453 71.0325 97.0742 70.5866 97.1884 70.1589C97.3026 69.7313 97.5 69.3303 97.7691 68.979C98.0382 68.6276 98.3739 68.3327 98.757 68.1111C99.14 67.8895 99.563 67.7456 100.002 67.6875C100.44 67.6294 100.886 67.6583 101.314 67.7726C101.741 67.8868 102.142 68.0842 102.493 68.3534L107.406 72.1216L119.015 56.9764C119.285 56.6252 119.62 56.3304 120.003 56.1089C120.387 55.8875 120.81 55.7437 121.248 55.6857C121.687 55.6278 122.133 55.6569 122.56 55.7713C122.988 55.8857 123.389 56.0833 123.74 56.3526L123.667 56.4506L123.742 56.354C124.45 56.8986 124.913 57.702 125.03 58.588C125.147 59.4739 124.908 60.3701 124.365 61.0799L110.71 78.8942C110.394 79.3047 109.988 79.6369 109.523 79.8651C109.058 80.0932 108.547 80.2111 108.029 80.2097Z"
      fill="#DF5356"
    />
  </g>
  <defs>
    <filter
      id="filter0_d_713_758"
      x="0"
      y="0"
      width="178"
      height="116.478"
      filterUnits="userSpaceOnUse"
      color-interpolation-filters="sRGB"
    >
      <feFlood flood-opacity="0" result="BackgroundImageFix" />
      <feColorMatrix
        in="SourceAlpha"
        type="matrix"
        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
        result="hardAlpha"
      />
      <feOffset dx="2" dy="2" />
      <feGaussianBlur stdDeviation="7" />
      <feComposite in2="hardAlpha" operator="out" />
      <feColorMatrix
        type="matrix"
        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0"
      />
      <feBlend
        mode="normal"
        in2="BackgroundImageFix"
        result="effect1_dropShadow_713_758"
      />
      <feBlend
        mode="normal"
        in="SourceGraphic"
        in2="effect1_dropShadow_713_758"
        result="shape"
      />
    </filter>
    <clipPath id="clip0_713_758">
      <rect
        width="150"
        height="88.4783"
        fill="white"
        transform="translate(12 12)"
      />
    </clipPath>
  </defs>
</svg>
