<script>
  export let repaymentReport;
  let result = repaymentReport['IQrate Lowest Buc Package'];
  //   console.log('keyfeaturetable', result);
</script>

<div class="my-4 body-manual">
  <div class="flex flex-col">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <div
          class="overflow-hidden border-b border-gray-200 shadow sm:rounded-lg"
        >
          <table class="min-w-full divide-y divide-gray-200">
            <!-- <thead class="bg-gray-50">
              <tr>
                <th
                  scope="col"
                  class="w-1/2 px-6 py-3 text-xs font-medium tracking-wider text-left uppercase text-gray-label"
                  >Bank ‘s Subsidy</th
                >
                <th scope="col" class="relative w-1/2 px-6 py-3">
                  <span class="sr-only">empty</span>
                </th>
              </tr>
            </thead> -->
            <thead>
              <tr>
                <th />
                <th />
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
              <tr>
                <td
                  class="w-1/2 px-6 py-4 font-medium text-md text-gray-label whitespace-nowrap"
                  >Cash Rebate / Legal Subsidy</td
                >
                <td
                  class="w-1/2 px-6 py-4 font-normal text-md text-gray-label whitespace-nowrap"
                  >{repaymentReport['IQrate Lowest Buc Package']['details'][
                    'cash_rebate_legal_subsidy'
                  ]}</td
                >
              </tr>
              <tr>
                <td
                  class="w-1/2 px-6 py-4 font-medium text-md text-gray-label whitespace-nowrap"
                  >Valuation Subsidy</td
                >
                <td
                  class="w-1/2 px-6 py-4 font-normal text-md text-gray-label whitespace-nowrap"
                  >{repaymentReport['IQrate Lowest Buc Package']['details'][
                    'valuation_subsidy'
                  ]}</td
                >
              </tr>
              <tr>
                <td
                  class="w-1/2 px-6 py-4 font-medium text-md text-gray-label whitespace-nowrap"
                  >Fire Insurance Subsidy</td
                >
                <td
                  class="w-1/2 px-6 py-4 font-normal text-md text-gray-label whitespace-nowrap"
                  >{repaymentReport['IQrate Lowest Buc Package']['details'][
                    'fire_insurance_subsidy'
                  ]}</td
                >
              </tr>
              <tr>
                <td
                  class="w-1/2 px-6 py-4 font-medium text-md text-gray-label whitespace-nowrap"
                  >Cash Rebate / Subsidy Clawback Period (Years)</td
                >
                <td
                  class="w-1/2 px-6 py-4 font-normal text-md text-gray-label whitespace-nowrap"
                  >{repaymentReport['IQrate Lowest Buc Package']['details'][
                    'cash_rebate_subsidy_clawback_period_years'
                  ]} Years</td
                >
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
