<script>
  export let repaymentReport;
  let result = repaymentReport['IQrate Lowest Buc Package'];
  //   console.log('keyfeaturetable', result);
</script>

<div class="my-4 body-manual">
  <div class="flex flex-col">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <div
          class="overflow-hidden border-b border-gray-200 shadow sm:rounded-lg"
        >
          <table class="min-w-full divide-y divide-gray-200">
            <!-- <thead class="bg-gray-50">
              <tr>
                <th
                  scope="col"
                  class="w-1/2 px-6 py-3 text-xs font-medium tracking-wider text-left uppercase text-gray-label"
                  >Early Repayment Penality</th
                >
                <th scope="col" class="relative w-1/2 px-6 py-3">
                  <span class="sr-only">empty</span>
                </th>
              </tr>
            </thead> -->
            <thead>
              <tr>
                <th />
                <th />
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
              <tr>
                <td
                  class="w-1/2 px-6 py-4 font-medium text-md text-gray-label whitespace-nowrap"
                  >Partial Repayment Penality</td
                >
                <td
                  class="w-1/2 px-6 py-4 font-normal text-md text-gray-label whitespace-nowrap"
                  ><p class="text-center">
                    {repaymentReport['IQrate Lowest Buc Package']['details'][
                      'partial_repayment_penalty'
                    ]} %
                  </p>
                  <p class="text-sm">
                    ({repaymentReport['IQrate Lowest Buc Package']['details'][
                      'full_repayment_penalty_remarks'
                    ]})
                  </p>
                </td>
              </tr>
              <tr>
                <td
                  class="w-1/2 px-6 py-4 font-medium text-md text-gray-label whitespace-nowrap"
                  >Full Repayment Penality</td
                >
                <td
                  class="w-1/2 px-6 py-4 font-normal text-md text-gray-label whitespace-nowrap"
                  ><p class="text-center">
                    {repaymentReport['IQrate Lowest Buc Package']['details'][
                      'full_repayment_penalty'
                    ]} %
                  </p>
                  <p class="text-sm">
                    ({repaymentReport['IQrate Lowest Buc Package']['details'][
                      'full_repayment_penalty_remarks'
                    ]})
                  </p>
                </td>
              </tr>
              <tr>
                <td
                  class="w-1/2 px-6 py-4 font-medium text-md text-gray-label whitespace-nowrap"
                  >Cancellation Fee</td
                >
                <td
                  class="w-1/2 px-6 py-4 font-normal text-md text-gray-label whitespace-nowrap"
                  ><p class="text-center">
                    ({repaymentReport['IQrate Lowest Buc Package']['details'][
                      'cancellation_fee'
                    ]})
                  </p>
                  {#if repaymentReport['IQrate Lowest Buc Package']['details']['cancellation_fee_remarks'] !== undefined}
                    <p class="text-sm">
                      ({repaymentReport['IQrate Lowest Buc Package']['details'][
                        'cancellation_fee_remarks'
                      ]})
                    </p>
                  {/if}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
