<script>
  export let repaymentReport;
  let result = repaymentReport['IQrate Lowest Buc Package'];
  //   console.log('keyfeaturetable', result);
</script>

<div class="my-4 body-manual">
  <div class="flex flex-col">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <div
          class="overflow-hidden border-b border-gray-200 shadow sm:rounded-lg"
        >
          <table class="min-w-full divide-y divide-gray-200">
            <thead>
              <!-- <thead class="bg-gray-50"> -->
              <tr>
                <!-- <th
                  scope="col"
                  class="w-1/2 px-6 py-3 text-xs font-medium tracking-wider text-left uppercase text-gray-label"
                  >Key Features</th
                >
                <th scope="col" class="relative w-1/2 px-6 py-3">
                  <span class="sr-only">empty</span>
                </th> -->
                <th />
                <th />
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
              <tr>
                <td
                  class="w-1/2 px-6 py-4 font-medium text-md text-gray-label whitespace-nowrap"
                  >Property Type</td
                >
                <td
                  class="w-1/2 px-6 py-4 font-normal text-md text-gray-label whitespace-nowrap"
                >
                  <ul>
                    {#each repaymentReport['IQrate Lowest Buc Package']['details']['property_types'] as property_types, i}
                      <li class="capitalize">
                        {property_types.replaceAll('_', ' ')}
                      </li>
                      <!-- {#if i / 3}
                      <br />
                    {/if} -->
                    {/each}
                  </ul>
                  <!-- {repaymentReport['IQrate Lowest Buc Package']['details'][
                    'property_types'
                  ]} -->
                </td>
              </tr>
              <tr>
                <td
                  class="w-1/2 px-6 py-4 font-medium text-md text-gray-label whitespace-nowrap"
                  >Type of Loan</td
                >

                <td
                  class="w-1/2 px-6 py-4 font-normal text-md text-gray-label whitespace-nowrap "
                >
                  <ul>
                    {#each repaymentReport['IQrate Lowest Buc Package']['details']['loan_category'] as loan_catogory, i}
                      <li class="capitalize">
                        {loan_catogory.replaceAll('_', ' ')}
                      </li>
                      <!-- {#if i / 3}
                      <br />
                    {/if} -->
                    {/each}
                  </ul>
                </td>
              </tr>
              <tr>
                <td
                  class="w-1/2 px-6 py-4 font-medium text-md text-gray-label whitespace-nowrap"
                  >Lock in Period</td
                >
                <td
                  class="w-1/2 px-6 py-4 font-normal text-md text-gray-label whitespace-nowrap"
                  >{repaymentReport['IQrate Lowest Buc Package']['details'][
                    'lock_in_period'
                  ]} Year</td
                >
              </tr>
              <tr>
                <td
                  class="w-1/2 px-6 py-4 font-medium text-md text-gray-label whitespace-nowrap"
                  >Min Loan Amount</td
                >
                <td
                  class="w-1/2 px-6 py-4 font-normal text-md text-gray-label whitespace-nowrap"
                  >$
                  <!-- {repaymentReport['IQrate Lowest Buc Package']['details'][
                    'min_loan_amount'
                  ].toLocaleString()} -->
                  {Number(
                    parseFloat(
                      repaymentReport['IQrate Lowest Buc Package']['details'][
                        'min_loan_amount'
                      ],
                    ).toFixed(2),
                  ).toLocaleString('en', { minimumFractionDigits: 2 })}
                </td>
              </tr>
              <tr>
                <td
                  class="w-1/2 px-6 py-4 font-medium text-md text-gray-label whitespace-nowrap"
                  >Deposit to Place</td
                >
                <td
                  class="w-1/2 px-6 py-4 font-normal text-md text-gray-label whitespace-nowrap"
                  >$
                  <!-- {repaymentReport['IQrate Lowest Buc Package']['details'][
                    'deposit_to_place'
                  ].toLocaleString()} -->
                  {Number(
                    parseFloat(
                      repaymentReport['IQrate Lowest Buc Package']['details'][
                        'deposit_to_place'
                      ],
                    ).toFixed(2),
                  ).toLocaleString('en', { minimumFractionDigits: 2 })}
                </td>
              </tr>
              <tr>
                <td
                  class="w-1/2 px-6 py-4 font-medium text-md text-gray-label whitespace-nowrap"
                  >Remarks for Applicant</td
                >
                <td
                  class="w-1/2 px-6 py-4 font-normal text-md text-gray-label whitespace-nowrap"
                  >{repaymentReport['IQrate Lowest Buc Package']['details'][
                    'remarks_for_client'
                  ]}</td
                >
              </tr>
              <tr>
                <td
                  class="w-1/2 px-6 py-4 font-medium text-md text-gray-label whitespace-nowrap"
                  >Remarks for Broker</td
                >
                <td
                  class="w-1/2 px-6 py-4 font-normal text-md text-gray-label whitespace-nowrap"
                  >{repaymentReport['IQrate Lowest Buc Package']['details'][
                    'remarks_for_broker'
                  ]}</td
                >
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
