<script>
  export let repaymentReport;
  let result = repaymentReport['IQrate Lowest Buc Package'];
</script>

<div class="my-4 body-manual">
  <div class="flex flex-col">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <div
          class="overflow-hidden border-b border-gray-200 shadow sm:rounded-lg"
        >
          <table class="min-w-full divide-y divide-gray-200">
            <!-- <thead class="bg-gray-50"> -->
            <thead>
              <tr>
                <!-- <th
                  scope="col"
                  class="w-1/2 px-6 py-3 text-xs font-medium tracking-wider text-left uppercase text-gray-label"
                  >Rates
                </th>
                <th scope="col" class="relative w-1/2 px-6 py-3">
                  <span class="sr-only">empty</span>
                </th> -->
                <th />
                <th />
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
              {#if repaymentReport['IQrate Lowest Buc Package']['details']['rates'][0].year === 'thereafter'}
                {#each repaymentReport['IQrate Lowest Buc Package']['details']['rates'].reverse() as rates, i}
                  <tr>
                    <td
                      class="w-1/2 px-6 py-4 font-medium capitalize text-md text-gray-label whitespace-nowrap"
                      >{rates.year.replaceAll('_', ' ')}</td
                    >
                    <td
                      class="w-1/2 px-6 py-4 font-normal capitalize text-md text-gray-label whitespace-nowrap"
                    >
                      <!-- {repaymentReport['IQrate Lowest Buc Package']['details'][
                      'rate_type'
                    ]} -->
                      <!-- {rates.bank_spread}% + {rates.total_interest_rate}% = -->
                      <span class="mr-4 uppercase"
                        >{rates.reference_rate.reference}</span
                      >
                      {#if rates.reference_rate.rate_type === 'fixed'}
                        {rates.total_interest_rate.toFixed('2')}%
                      {:else}
                        ({rates.reference_rate.interest_rate})% {rates
                          .reference_rate.equation}
                        ({rates.bank_spread})% =
                        {rates.total_interest_rate.toFixed('2')}%
                      {/if}
                    </td>
                  </tr>
                {/each}
              {:else}
                {#each repaymentReport['IQrate Lowest Buc Package']['details']['rates'] as rates, i}
                  <tr>
                    <td
                      class="w-1/2 px-6 py-4 font-medium capitalize text-md text-gray-label whitespace-nowrap"
                      >{rates.year.replaceAll('_', ' ')}</td
                    >
                    <td
                      class="w-1/2 px-6 py-4 font-normal capitalize text-md text-gray-label whitespace-nowrap"
                    >
                      <!-- {repaymentReport['IQrate Lowest Buc Package']['details'][
                      'rate_type'
                    ]} -->
                      <!-- {rates.bank_spread}% + {rates.total_interest_rate}% = -->
                      <span class="mr-4 uppercase"
                        >{rates.reference_rate.reference}</span
                      >
                      {#if rates.reference_rate.rate_type === 'fixed'}
                        {rates.total_interest_rate.toFixed('2')}%
                      {:else}
                        ({rates.reference_rate.interest_rate})% {rates
                          .reference_rate.equation}
                        ({rates.bank_spread})% =
                        {rates.total_interest_rate.toFixed('2')}%
                      {/if}
                    </td>
                  </tr>
                {/each}
              {/if}
              <!-- <tr>
                <td
                  class="w-1/2 px-6 py-4 text-sm font-medium text-gray-label whitespace-nowrap"
                  >Year 2</td
                >
                <td
                  class="w-1/2 px-6 py-4 text-sm text-gray-label whitespace-nowrap"
                  >Fixed (0.00)% + 1.000% = 1.000%</td
                >
              </tr>
              <tr>
                <td
                  class="w-1/2 px-6 py-4 text-sm font-medium text-gray-label whitespace-nowrap"
                  >Year 3</td
                >
                <td
                  class="w-1/2 px-6 py-4 text-sm text-gray-label whitespace-nowrap"
                  >36 FDR (0.720)% + 1.200% = 1.920%</td
                >
              </tr>
              <tr>
                <td
                  class="w-1/2 px-6 py-4 text-sm font-medium text-gray-label whitespace-nowrap"
                  >Year 4</td
                >
                <td
                  class="w-1/2 px-6 py-4 text-sm text-gray-label whitespace-nowrap"
                  >36 FDR (0.720)% + 1.200% = 1.920%</td
                >
              </tr>
              <tr>
                <td
                  class="w-1/2 px-6 py-4 text-sm font-medium text-gray-label whitespace-nowrap"
                  >Year 5</td
                >
                <td
                  class="w-1/2 px-6 py-4 text-sm text-gray-label whitespace-nowrap"
                  >36 FDR (0.720)% + 1.200% = 1.920%</td
                >
              </tr>
              <tr>
                <td
                  class="w-1/2 px-6 py-4 text-sm font-medium text-gray-label whitespace-nowrap"
                  >Thereafter</td
                >
                <td
                  class="w-1/2 px-6 py-4 text-sm text-gray-label whitespace-nowrap"
                  >36 FDR (0.720)% + 1.200% = 1.920%</td
                >
              </tr> -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
