<script>
  import { useNavigate } from 'svelte-navigator';
  import { userToken } from '../../stores';

  const navigate = useNavigate();

  $: if ($userToken) {
    navigate('/');
  }
</script>

{#if !$userToken}
  <slot />
{/if}
