<script>
  import { useLocation, useNavigate } from 'svelte-navigator';
  import { userToken } from '../../stores';

  const navigate = useNavigate();
  const location = useLocation();

  $: if (!$userToken) {
    navigate('/signin', {
      state: { from: $location.pathname },
      replace: true,
    });
  }
</script>

{#if $userToken}
  <slot />
{/if}
