<script>
  import FormItem from '../../components/forms/FormItem.svelte';
  import Button from '../../components/Button.svelte';
</script>

<main class="border">
  <!-- <div
    class="flex justify-between text-xl font-medium collapse-title text-dark-red"
  >
    <div>Bank Account Information</div>
  </div> -->
  <div class="px-6 mx-6 my-8">
    <div class="md:flex">
      <!-- BankName -->
      <div class="w-full md:w-6/12 md:mx-1">
        <FormItem formType="select" label="Bank Name" name="bankName" />
      </div>
      <!-- Bank Account Number -->
      <div class="w-full md:w-6/12 md:mx-1">
        <FormItem
          label="Bank Account Number"
          name="bankaccountnumber"
          placeholder="Enter your Bank Account Number"
        />
      </div>
    </div>
    <div class="md:flex">
      <!-- BankName -->
      <div class="w-full md:w-6/12 md:mx-1">
        <FormItem
          label="Bank Branch Code"
          name="bankbranckcode"
          placeholder="Enter your Bank Branch Code"
        />
      </div>
      <!-- Bank Account Number -->
      <div class="w-full md:w-6/12 md:mx-1">
        <FormItem
          label="Country"
          name="country"
          placeholder="Enter your Country"
        />
      </div>
    </div>
    <!-- Update Button -->
    <div class="mt-4 text-center">
      <Button htmlType="submit" text="Update" className="w-6/12" />
    </div>
  </div>
</main>
