<script>
  import { Link } from 'svelte-navigator';
  import Avatar from '../Avatar.svelte';
  import EditIcon from '../icons/dashboard/EditIcon.svelte';

  import FormItem from '../../components/forms/FormItem.svelte';
  import Datepicker from '../../components/Datepicker.svelte';
</script>

<main class="border">
  <!-- <div class="flex justify-between text-xl font-medium collapse-title">
    <div class="text-dark-red">Profile</div>
  </div> -->
  <div class="mx-6 my-8">
    <section class="px-6">
      <div>
        <div class="flex justify-center mb-2">
          <Avatar
            img={'https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50'}
          />
        </div>
        <h1 class="mb-1 font-bold text-center capitalize">Jhon</h1>
        <h1 class="text-center text-gray-label">Content Writer</h1>
      </div>
      <!-- Form -->
      <div class="mx-2">
        <div class="flex">
          <h1 class="mb-1 mr-6 text-xl font-medium capitalize">
            Personal Details
          </h1>
          <div
            class="flex items-center justify-center w-8 h-8 rounded-md bg-lighter-blue"
          >
            <span><EditIcon /></span>
          </div>
        </div>
        <div class="md:grid md:grid-cols-4 md:gap-4">
          <!-- Left -->
          <div class="col-span-2 ">
            <!-- FirstName -->
            <div class="mb-9">
              <FormItem
                label="Full name"
                name="fullName"
                placeholder="Enter your Full Name"
              />
            </div>
            <!-- Email Address -->
            <div>
              <FormItem
                label="email address"
                name="emailAddress"
                placeholder="Enter your Email Address"
              />
              <span>
                <Link to="" class="flex justify-end text-sm text-dark-red"
                  >Change my Email Address</Link
                ></span
              >
            </div>
            <!-- Occuption -->
            <div>
              <FormItem
                label="Occupation"
                name="occupation"
                placeholder="Whats your occupation"
              />
            </div>
          </div>
          <!-- Right -->
          <div class="col-span-2 ">
            <!-- Mobile -->
            <div>
              <FormItem
                formType="inputPreSelect"
                preSelectType="countries"
                type="text"
                label="Mobile No"
                name="mobileNo"
                placeholder="Enter your Mobile Number"
              />
              <span>
                <Link to="" class="flex justify-end text-sm text-dark-red"
                  >Change my Mobile Number</Link
                ></span
              >
            </div>
            <!-- Date -->
            <div class="flex justify-between w-full mb-5">
              <Datepicker label={'Date Of Birth'} />
            </div>
            <!-- nationality -->
            <div>
              <FormItem
                formType="select"
                label="nationality"
                name="nationality"
              />
            </div>
          </div>
        </div>
        <div class="flex">
          <h1 class="mb-1 mr-6 text-xl font-medium capitalize">Address</h1>
          <div
            class="flex items-center justify-center w-8 h-8 rounded-md bg-lighter-blue"
          >
            <span><EditIcon /></span>
          </div>
        </div>
        <div class="md:grid md:grid-cols-4 md:gap-4">
          <div class="col-span-2 ">
            <FormItem
              formType="textarea"
              label="Address"
              name="address"
              placeholder="Enter ypur address"
            />
          </div>
          <!-- Postal Code -->
          <div class="col-span-2 ">
            <FormItem
              label="Postal code"
              name="postalcode"
              placeholder="Enter postal to retrieve address"
            />
            <span>
              <Link to="" class="flex justify-end text-sm text-dark-red"
                >Retrive Postal Address</Link
              >
            </span>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
