<script>
  export let textColor = 'text-gray-label';
</script>

<svg
  class={`w-7 h-7 ${textColor}`}
  viewBox="0 0 27 25"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <path
    d="M13.2895 22.0256C19.4058 22.0256 24.3641 17.5432 24.3641 12.014C24.3641 6.48468 19.4058 2.00232 13.2895 2.00232C7.17312 2.00232 2.21484 6.48468 2.21484 12.014C2.21484 17.5432 7.17312 22.0256 13.2895 22.0256Z"
    stroke="#111111"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M16.6116 9.0105L9.9668 15.0175"
    stroke="#111111"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M9.9668 9.0105L16.6116 15.0175"
    stroke="#111111"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
