<script>
  export let textColor = 'text-gray-label';
</script>

<svg
  class={`w-7 h-7 ${textColor}`}
  viewBox="0 0 30 30"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <path
    d="M18.2217 8.70116L20.9228 6L24.9307 10.0078L22.2295 12.709L18.2217 8.70116Z"
    fill="#8F8E8E"
  />
  <path
    d="M6.63617 20.2868L6 24.9308L10.644 24.2947L21.6634 13.2752L17.6558 9.26758L6.63617 20.2868Z"
    fill="#8F8E8E"
  />
</svg>
