<script>
  export let textColor = 'text-gray-label';
</script>

<!-- <svg width="27" height="31" class={`mt-6 ml-6 ${textColor}`} viewBox="0 0 27 31" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M8.68402 10.6635H18.3176C19.0304 10.6635 19.4409 9.77069 19.0304 9.10105L14.2136 1.04105C13.868 0.470692 13.1121 0.470692 12.7664 1.04105L7.97122 9.07625C7.56078 9.74571 7.99277 10.6634 8.68402 10.6634V10.6635Z" fill="#C1C1C1"/>
    <path d="M18.3172 14.1348H8.68358C7.97078 14.1348 7.56034 15.0276 7.97078 15.6972L12.7876 23.7324C13.1332 24.3027 13.8891 24.3027 14.2348 23.7324L19.0516 15.6972C19.4405 15.0525 19.0085 14.1348 18.3172 14.1348H18.3172Z" fill="#C1C1C1"/>
</svg> -->

<svg
  width="32"
  height="33"
  class={`${textColor}`}
  viewBox="0 0 32 33"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <path
    d="M21.2322 3.67383H8.6827C7.62395 3.67383 6.7627 4.562 6.7627 5.65383V20.7461C6.7627 21.838 7.62395 22.7261 8.6827 22.7261H23.3177C24.3764 22.7261 25.2377 21.838 25.2377 20.7461V8.48145L21.2322 3.67383ZM16.0002 19.866C14.657 19.866 13.5682 18.7432 13.5682 17.358C13.5682 15.9728 14.657 14.8501 16.0002 14.8501C17.3434 14.8501 18.4321 15.9728 18.4321 17.358C18.4321 18.7432 17.3434 19.866 16.0002 19.866ZM19.0721 10.956H9.40814V6.33598H19.0721V10.956Z"
    fill="#8E8A8A"
  />
</svg>
