<script>
  export let textColor = 'text-gray-label';
</script>

<svg
  width="27"
  height="31"
  class={`mt-6 ml-6 ${textColor}`}
  viewBox="0 0 27 31"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <path
    d="M8.68402 10.6635H18.3176C19.0304 10.6635 19.4409 9.77069 19.0304 9.10105L14.2136 1.04105C13.868 0.470692 13.1121 0.470692 12.7664 1.04105L7.97122 9.07625C7.56078 9.74571 7.99277 10.6634 8.68402 10.6634V10.6635Z"
    fill="#C1C1C1"
  />
  <path
    d="M18.3172 14.1348H8.68358C7.97078 14.1348 7.56034 15.0276 7.97078 15.6972L12.7876 23.7324C13.1332 24.3027 13.8891 24.3027 14.2348 23.7324L19.0516 15.6972C19.4405 15.0525 19.0085 14.1348 18.3172 14.1348H18.3172Z"
    fill="#C1C1C1"
  />
</svg>
