<svg
  width="22"
  height="19"
  viewBox="0 0 19 16"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <mask
    id="mask0_645_375"
    style="mask-type:alpha"
    maskUnits="userSpaceOnUse"
    x="0"
    y="0"
    width="22"
    height="19"
  >
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M18.0205 6.54545H9.32829V9.63636H14.3316C13.8652 11.6 11.9148 12.7273 9.32829 12.7273C6.27539 12.7273 3.81612 10.6182 3.81612 8C3.81612 5.38182 6.27539 3.27273 9.32829 3.27273C10.6427 3.27273 11.83 3.67273 12.7628 4.32727L15.4765 2C13.8228 0.763636 11.7028 0 9.32829 0C4.15533 0 0 3.56364 0 8C0 12.4364 4.15533 16 9.32829 16C13.9924 16 18.2326 13.0909 18.2326 8C18.2326 7.52727 18.1478 7.01818 18.0205 6.54545Z"
      fill="white"
    />
  </mask>
  <g mask="url(#mask0_645_375)">
    <path
      d="M-0.847656 12.728V3.27344L6.36057 8.00071L-0.847656 12.728Z"
      fill="#FBBC05"
    />
  </g>
  <mask
    id="mask1_645_375"
    style="mask-type:alpha"
    maskUnits="userSpaceOnUse"
    x="0"
    y="0"
    width="22"
    height="19"
  >
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M18.0205 6.54545H9.32829V9.63636H14.3316C13.8652 11.6 11.9148 12.7273 9.32829 12.7273C6.27539 12.7273 3.81612 10.6182 3.81612 8C3.81612 5.38182 6.27539 3.27273 9.32829 3.27273C10.6427 3.27273 11.83 3.67273 12.7628 4.32727L15.4765 2C13.8228 0.763636 11.7028 0 9.32829 0C4.15533 0 0 3.56364 0 8C0 12.4364 4.15533 16 9.32829 16C13.9924 16 18.2326 13.0909 18.2326 8C18.2326 7.52727 18.1478 7.01818 18.0205 6.54545Z"
      fill="white"
    />
  </mask>
  <g mask="url(#mask1_645_375)">
    <path
      d="M-0.847656 3.27344L6.36057 8.00071L9.32866 5.78253L19.505 4.36435V-0.726562H-0.847656V3.27344Z"
      fill="#EA4335"
    />
  </g>
  <mask
    id="mask2_645_375"
    style="mask-type:alpha"
    maskUnits="userSpaceOnUse"
    x="0"
    y="0"
    width="22"
    height="19"
  >
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M18.0205 6.54545H9.32829V9.63636H14.3316C13.8652 11.6 11.9148 12.7273 9.32829 12.7273C6.27539 12.7273 3.81612 10.6182 3.81612 8C3.81612 5.38182 6.27539 3.27273 9.32829 3.27273C10.6427 3.27273 11.83 3.67273 12.7628 4.32727L15.4765 2C13.8228 0.763636 11.7028 0 9.32829 0C4.15533 0 0 3.56364 0 8C0 12.4364 4.15533 16 9.32829 16C13.9924 16 18.2326 13.0909 18.2326 8C18.2326 7.52727 18.1478 7.01818 18.0205 6.54545Z"
      fill="white"
    />
  </mask>
  <g mask="url(#mask2_645_375)">
    <path
      d="M-0.847656 12.728L11.8727 4.36435L15.2224 4.72798L19.505 -0.726562V16.728H-0.847656V12.728Z"
      fill="#34A853"
    />
  </g>
  <mask
    id="mask3_645_375"
    style="mask-type:alpha"
    maskUnits="userSpaceOnUse"
    x="0"
    y="0"
    width="22"
    height="19"
  >
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M18.0205 6.54545H9.32829V9.63636H14.3316C13.8652 11.6 11.9148 12.7273 9.32829 12.7273C6.27539 12.7273 3.81612 10.6182 3.81612 8C3.81612 5.38182 6.27539 3.27273 9.32829 3.27273C10.6427 3.27273 11.83 3.67273 12.7628 4.32727L15.4765 2C13.8228 0.763636 11.7028 0 9.32829 0C4.15533 0 0 3.56364 0 8C0 12.4364 4.15533 16 9.32829 16C13.9924 16 18.2326 13.0909 18.2326 8C18.2326 7.52727 18.1478 7.01818 18.0205 6.54545Z"
      fill="white"
    />
  </mask>
  <g mask="url(#mask3_645_375)">
    <path
      d="M19.5045 16.728L6.36011 8.00071L4.66406 6.9098L19.5045 3.27344V16.728Z"
      fill="#4285F4"
    />
  </g>
</svg>
