<script>
  import SupportButton from '../../components/Button.svelte';
</script>

<main>
  <div class="mb-10">
    <div>
      <svg
        width="168"
        height="214"
        viewBox="0 0 168 214"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect
          opacity="0.08"
          y="46"
          width="168"
          height="168"
          rx="24"
          fill="#DF5356"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M25 118.099V94.5142C25 90.3652 33.4076 87 43.7737 87H86.2263C96.596 87 105 90.3652 105 94.5142V119L25 118.099Z"
          fill="#B0D4FF"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M84.4004 3.30169C79.3827 0.655218 71.7451 0.297428 70.5062 0.130241C55.661 -1.87236 46.7262 19.7827 46.2015 26.3458C45.2322 38.4404 38.859 40.2842 29.8914 47.8571C11.9051 63.0467 17.1778 80.6947 27.0127 87.2505C32.9158 91.1869 43.3155 87.2505 43.3155 87.2505C43.4612 87.3529 71.7597 71.3695 85.7085 63.6576C106.621 60.6724 97.1868 10.0441 84.4004 3.30169Z"
          fill="#233862"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M62.6436 57.1725C58.2575 55.2607 54.9385 48.1557 55.0009 48.1521C56.9959 48.0617 59.9326 45.2755 61.6196 34L62 34.2683L76 40.4327C76 40.4327 74.9658 44.9465 74.2947 49.2435C73.7336 52.8538 73.4292 56.3124 74.2103 56.8219C74.2727 56.8617 67.3011 59.2035 62.6436 57.1725Z"
          fill="#FFB27D"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M76 40.1091C76 40.1091 74.9859 44.664 74.3278 49C66.2867 47.534 63.1292 39.409 62 35L76 40.1091Z"
          fill="#ED975D"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M78.9236 43.9951C78.9236 43.9951 59.2923 41.3976 61.1202 29.3896C62.948 17.3817 61.6472 8.95794 74.2581 10.1043C86.869 11.2543 88.6011 16.1954 88.9807 20.3492C89.3603 24.503 84.0756 44.3579 78.9236 43.9951Z"
          fill="#FFB27D"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M88 14.9706C88 14.9706 75.7764 25.9412 67.4636 26.8262C59.1473 27.7111 56 24.9293 56 24.9293C56 24.9293 60.9002 20.6911 63.8503 13.8504C64.7178 11.834 66.5567 10.4524 68.6717 10.262C74.6078 9.728 85.86 9.48529 88 14.9706Z"
          fill="#233862"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M80 13.3415C80 13.3415 84.1397 17.3952 85.447 20.4015C86.7034 23.3049 87.0811 30.2436 86.0788 33C86.0788 33 92.5353 20.2986 88.8786 14.128C85.0039 7.58253 80 13.3415 80 13.3415Z"
          fill="#233862"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M86.5477 120.157C85.511 121.043 82.6046 121.572 78.7816 121.821C66.7523 122.613 45.6109 120.651 44.807 118.451C42.0316 110.839 43.9922 108.473 41.6787 96.8174C41.435 95.5788 41.1368 94.2357 40.7876 92.7738C38.856 84.7694 36.9791 82.0473 43.8249 69.1855C50.0342 57.5372 56.0124 47.6666 56.5944 48.0086C72.9743 57.6334 74.1775 50.602 74.1775 50.602C74.1775 50.602 91.2838 66.8198 90.9964 85.7596C90.4108 124.586 90.8364 116.47 86.5477 120.157Z"
          fill="white"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M45.9824 118.463C43.1804 110.732 44.3356 107.314 42 95.4772L48.3963 80C48.3963 80 47.4305 98.2867 52.8435 103.095C58.2564 107.904 75.0167 112.379 77.6497 116.398C78.9203 118.329 79.7576 120.259 80 121.813C67.8558 122.618 46.7939 120.697 45.9824 118.463Z"
          fill="#EBF3FF"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M65 114.015C65 114.015 76.861 111.118 78.7736 112.271C80.6861 113.429 85.3622 117.634 85.9512 119.099C86.5366 120.564 81.6897 117.986 80.1116 117.523C79.0935 117.223 76.4028 118.245 75.0756 118.732C69.476 120.783 66.0472 119.73 66.0472 119.73L65 114.015Z"
          fill="#FFB27D"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M35.885 55.9893C28.1671 66.6959 12.8616 112.321 21.635 118.41C31.5145 125.261 66.5936 120.201 66.5936 120.201C66.5936 120.201 67.7612 114.774 66.1381 112.145C64.5114 109.519 38.119 105.279 36.9008 104.067C35.6825 102.855 52.1268 80.4309 52.1268 76.7948C52.1268 73.1588 56.5944 48 56.5944 48C56.5944 48 41.3652 48.3827 35.885 55.9893Z"
          fill="white"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M79 116C79 116 81.6763 119.301 82.5541 119.694C83.4318 120.087 84 119.989 84 119.989L82.1975 116.887L79 116Z"
          fill="#FFB27D"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M78 113L86 116.533C86 116.533 85.6578 117.038 84.6754 116.998C83.689 116.957 81.2048 116.13 81.2048 116.13L78 113Z"
          fill="#FFB27D"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M83 124H139.886L157 81H100.201L83 124Z"
          fill="#FDC748"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M140 122H65V124H139.335L140 122Z"
          fill="#E6B137"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M124.882 102.498C125.341 101.119 124.42 100 122.825 100C121.235 100 119.574 101.119 119.116 102.498C118.662 103.878 119.582 105 121.173 105C122.768 105 124.428 103.878 124.882 102.498Z"
          fill="white"
        />

        <!-- <g filter="url(#filter0_d_407_11072)">
    <rect x="19" y="140" width="129" height="48" rx="14" fill="#DF5356" />
  </g> -->
        <!-- <path
    fill-rule="evenodd"
    clip-rule="evenodd"
    d="M48.1169 153H47.6169C46.1421 152.996 44.6847 153.341 43.3661 154.008C40.1518 155.614 38.1183 158.902 38.1169 162.5L38.1232 162.868C38.1638 163.972 38.3994 165.059 38.8182 166.081L38.9239 166.325L38.2286 168.003C37.9156 168.758 37.9243 169.608 38.2527 170.357L38.3282 170.516C39.0443 171.922 40.742 172.541 42.2051 171.899L43.8029 171.197L44.0364 171.299C45.1711 171.764 46.3884 172.003 47.6195 172C51.2149 171.999 54.5031 169.965 56.1114 166.747C56.7756 165.432 57.1208 163.975 57.117 162.498L57.117 162C56.8542 157.211 53.1382 153.411 48.4391 153.02L48.1169 153ZM47.6144 155L48.0749 154.999L48.0618 154.999C51.8687 155.209 54.9084 158.248 55.1185 162.055L55.117 162.5C55.12 163.665 54.8484 164.812 54.3243 165.849C53.0527 168.394 50.4568 169.999 47.6165 170C46.452 170.003 45.3053 169.732 44.2678 169.208C44.0013 169.073 43.6886 169.064 43.4152 169.184L41.4017 170.068C40.8959 170.289 40.3061 170.059 40.0842 169.554C39.9748 169.304 39.9719 169.021 40.0762 168.769L40.9407 166.683C41.0523 166.414 41.0409 166.109 40.9095 165.849C40.3855 164.812 40.1139 163.665 40.1169 162.503C40.118 159.66 41.7234 157.064 44.264 155.795C45.3053 155.269 46.4519 154.997 47.6144 155Z"
    fill="white"
  /> -->
        <!-- <path
    d="M72.12 169.16C71.2347 169.16 70.4133 169.048 69.656 168.824C68.8987 168.589 68.2587 168.275 67.736 167.88L68.36 166.264C68.8827 166.637 69.4533 166.925 70.072 167.128C70.7013 167.331 71.384 167.432 72.12 167.432C72.9627 167.432 73.576 167.293 73.96 167.016C74.344 166.728 74.536 166.36 74.536 165.912C74.536 165.539 74.3973 165.245 74.12 165.032C73.8533 164.819 73.3893 164.643 72.728 164.504L70.968 164.136C68.9627 163.709 67.96 162.68 67.96 161.048C67.96 160.344 68.1467 159.731 68.52 159.208C68.8933 158.685 69.4107 158.28 70.072 157.992C70.7333 157.704 71.496 157.56 72.36 157.56C73.128 157.56 73.848 157.677 74.52 157.912C75.192 158.136 75.752 158.456 76.2 158.872L75.576 160.408C74.6907 159.661 73.6133 159.288 72.344 159.288C71.608 159.288 71.032 159.443 70.616 159.752C70.2 160.061 69.992 160.467 69.992 160.968C69.992 161.352 70.12 161.661 70.376 161.896C70.632 162.12 71.0693 162.296 71.688 162.424L73.432 162.792C74.488 163.016 75.272 163.368 75.784 163.848C76.3067 164.328 76.568 164.968 76.568 165.768C76.568 166.44 76.3867 167.032 76.024 167.544C75.6613 168.056 75.144 168.456 74.472 168.744C73.8107 169.021 73.0267 169.16 72.12 169.16ZM80.9658 169.16C79.0458 169.16 78.0858 168.083 78.0858 165.928V161.176H80.0858V165.96C80.0858 166.515 80.1978 166.925 80.4218 167.192C80.6458 167.459 81.0031 167.592 81.4938 167.592C82.0271 167.592 82.4644 167.411 82.8058 167.048C83.1471 166.675 83.3178 166.184 83.3178 165.576V161.176H85.3177V169H83.3658V167.832C82.8431 168.717 82.0431 169.16 80.9658 169.16ZM87.3994 171.88V161.176H89.3514V162.424C89.5754 161.997 89.9114 161.656 90.3594 161.4C90.818 161.144 91.3354 161.016 91.9114 161.016C92.594 161.016 93.1914 161.181 93.7034 161.512C94.226 161.843 94.6314 162.312 94.9194 162.92C95.2074 163.517 95.3514 164.237 95.3514 165.08C95.3514 165.912 95.2074 166.637 94.9194 167.256C94.6314 167.864 94.2314 168.333 93.7194 168.664C93.2074 168.995 92.6047 169.16 91.9114 169.16C91.3567 169.16 90.8554 169.043 90.4074 168.808C89.97 168.563 89.634 168.237 89.3994 167.832V171.88H87.3994ZM91.3514 167.64C91.9487 167.64 92.4287 167.427 92.7914 167C93.154 166.563 93.3354 165.923 93.3354 165.08C93.3354 164.227 93.154 163.592 92.7914 163.176C92.4287 162.749 91.9487 162.536 91.3514 162.536C90.754 162.536 90.274 162.749 89.9114 163.176C89.5487 163.592 89.3674 164.227 89.3674 165.08C89.3674 165.923 89.5487 166.563 89.9114 167C90.274 167.427 90.754 167.64 91.3514 167.64ZM96.9931 171.88V161.176H98.9451V162.424C99.1691 161.997 99.5051 161.656 99.9531 161.4C100.412 161.144 100.929 161.016 101.505 161.016C102.188 161.016 102.785 161.181 103.297 161.512C103.82 161.843 104.225 162.312 104.513 162.92C104.801 163.517 104.945 164.237 104.945 165.08C104.945 165.912 104.801 166.637 104.513 167.256C104.225 167.864 103.825 168.333 103.313 168.664C102.801 168.995 102.198 169.16 101.505 169.16C100.95 169.16 100.449 169.043 100.001 168.808C99.5638 168.563 99.2278 168.237 98.9931 167.832V171.88H96.9931ZM100.945 167.64C101.542 167.64 102.022 167.427 102.385 167C102.748 166.563 102.929 165.923 102.929 165.08C102.929 164.227 102.748 163.592 102.385 163.176C102.022 162.749 101.542 162.536 100.945 162.536C100.348 162.536 99.8678 162.749 99.5051 163.176C99.1425 163.592 98.9611 164.227 98.9611 165.08C98.9611 165.923 99.1425 166.563 99.5051 167C99.8678 167.427 100.348 167.64 100.945 167.64ZM110.155 169.16C109.344 169.16 108.64 168.995 108.043 168.664C107.446 168.333 106.982 167.864 106.651 167.256C106.32 166.637 106.155 165.912 106.155 165.08C106.155 164.248 106.32 163.528 106.651 162.92C106.982 162.312 107.446 161.843 108.043 161.512C108.64 161.181 109.344 161.016 110.155 161.016C110.966 161.016 111.67 161.181 112.267 161.512C112.864 161.843 113.328 162.312 113.659 162.92C113.99 163.528 114.155 164.248 114.155 165.08C114.155 165.912 113.99 166.637 113.659 167.256C113.328 167.864 112.864 168.333 112.267 168.664C111.67 168.995 110.966 169.16 110.155 169.16ZM110.155 167.64C110.752 167.64 111.232 167.427 111.595 167C111.958 166.563 112.139 165.923 112.139 165.08C112.139 164.227 111.958 163.592 111.595 163.176C111.232 162.749 110.752 162.536 110.155 162.536C109.558 162.536 109.078 162.749 108.715 163.176C108.352 163.592 108.171 164.227 108.171 165.08C108.171 165.923 108.352 166.563 108.715 167C109.078 167.427 109.558 167.64 110.155 167.64ZM115.806 169V161.176H117.758V162.552C118.142 161.624 118.963 161.112 120.222 161.016L120.83 160.968L120.958 162.664L119.806 162.776C118.494 162.904 117.838 163.576 117.838 164.792V169H115.806ZM126.108 169.16C124.039 169.16 123.004 168.136 123.004 166.088V162.68H121.5V161.176H123.004V158.84H125.004V161.176H127.372V162.68H125.004V165.976C125.004 166.488 125.116 166.872 125.34 167.128C125.564 167.384 125.927 167.512 126.428 167.512C126.578 167.512 126.732 167.496 126.892 167.464C127.052 167.421 127.218 167.379 127.388 167.336L127.692 168.808C127.5 168.915 127.255 169 126.956 169.064C126.668 169.128 126.386 169.16 126.108 169.16Z"
    fill="white"
  /> -->
        <!-- <defs>
    <filter
      id="filter0_d_407_11072"
      x="7"
      y="134"
      width="153"
      height="72"
      filterUnits="userSpaceOnUse"
      color-interpolation-filters="sRGB"
    >
      <feFlood flood-opacity="0" result="BackgroundImageFix" />
      <feColorMatrix
        in="SourceAlpha"
        type="matrix"
        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
        result="hardAlpha"
      />
      <feOffset dy="6" />
      <feGaussianBlur stdDeviation="6" />
      <feColorMatrix
        type="matrix"
        values="0 0 0 0 0.247059 0 0 0 0 0.54902 0 0 0 0 1 0 0 0 0.263686 0"
      />
      <feBlend
        mode="normal"
        in2="BackgroundImageFix"
        result="effect1_dropShadow_407_11072"
      />
      <feBlend
        mode="normal"
        in="SourceGraphic"
        in2="effect1_dropShadow_407_11072"
        result="shape"
      />
    </filter>
  </defs> -->
      </svg>
    </div>
    <div style="margin-top: -70px;">
      <SupportButton text="Support" preIcon="support" className="mx-1 " />
    </div>
  </div>
</main>
