<script>
  import StaticTable from '../../../../../components/StaticTable.svelte';
  import IconButton from '../../../../../components/IconButton.svelte';
  import FilterIcon from '../../../../../components/icons/Filter.svelte';
  import Formitems from '../../../../../components/forms/FormItem.svelte';
  import Filter from '../../../../../components/Filter.svelte';
  import Button from '../../../../../components/Button.svelte';
  import FilterButton from '../../../../../components/FilterButton.svelte';
  import { Link } from 'svelte-navigator';
  import { onMount } from 'svelte';
  import { fetchApi } from '../../../../../services/api';
  import PageCount from '../../../../../components/PageCount.svelte';
  import { serialize } from '../../../../../utils/serialize';
  import CustomAction from '../../../../../components/table/CustomAction.svelte';
  import { toastAlert } from '../../../../../utils/toaster';

  let loading = false;
  let usersData = [];
  let page = 1;
  let total = 0;
  let filter_page = {
    name: '',
    name_masked: '',
    status: '',
  };
  const onChangePage = (newPage) => {
    page = newPage;
    fetchUserList();
  };

  const generateQuery = () => {
    let tempFilter = filter_page;
    Object.keys(tempFilter).forEach((key) => {
      if (tempFilter[key] === '') {
        delete tempFilter[key];
      }
    });
    let queryy = serialize(tempFilter);
    return queryy;
  };

  const fetchUserList = async (query) => {
    loading = true;
    const res = await fetchApi(
      'GET',
      `customer-admin/bank/all?page=${page}${
        query || generateQuery() ? `&${generateQuery()}` : ''
      }`,
    );

    const users = await res.json();
    if (res.status >= 200 && res.status <= 300) {
      loading = false;
      total = users.count || 0;
      usersData = users.results;
    } else {
      loading = false;
      total = 0;
      if (users.name === 'NOT_FOUND') {
        usersData = [];
        toastAlert('error', users.message ? users.message : 'backend err msg.');
      } else {
        toastAlert('error', users.message ? users.message : 'backend err msg.');
      }
    }
  };

  onMount(async () => {
    // get user List
    fetchUserList();
  });

  const onFilter = () => {
    page = 1;
    fetchUserList();
    filter = false;
  };

  const onResetFilter = () => {
    filter_page = {
      name: '',
      name_masked: '',
      status: '',
    };
    page = 1;
    fetchUserList();
    filter = false;
  };

  const onChangeStatusFilter = (val) => {
    filter_page = { ...filter_page, status: val };
  };

  //icon filterbtn
  let filter;
  // Form

  let tableColumn = [
    {
      key: 'name',
      title: 'Bank Name',
    },
    {
      key: `name_masked`,
      title: 'Display Name',
      // render: (e) => (e ? e[0].slice(0, 1) + '*****' : e),
    },
    {
      key: 'status',
      title: 'Active',
      render: (e) => (e === false ? 'No' : 'Yes'),
    },
    {
      key: 'customAction', // need to be refactor for dynamic use
      title: '',
      component: {
        component: CustomAction,
        props: { url: '/bank/edit', urlId: true, labelUrl: 'Edit' },
      },
    },
  ];
</script>

<main>
  <div class="">
    <h2
      class="my-6 ml-6 text-2xl font-semibold lg:mt-6 lg:mb-10 lg:text-3xl text-dark-red"
    >
      Bank Listing
    </h2>
    <div class="p-6 border shadow-lg drop-shadow-lg bg-base-100 rounded-box">
      <div class="flex justify-end gap-6">
        <Link to={'/bank/add'}>
          <Button
            htmlType={'submit'}
            gradient={true}
            text={'+ Add'}
            className="px-10 text-lg rounded-2xl"
          />
        </Link>
        <IconButton
          className="border border-dark-red"
          text={'i'}
          textIcon={FilterIcon}
          htmlType="button"
          bind:filter
        />
      </div>
      <!-- Filter Slot -->
      <div class="absolute top-0 right-0 z-10 sm:px-0">
        {#if filter}
          <div>
            <Filter
              on:close={() => {
                filter = false;
              }}
              {onFilter}
              {onResetFilter}
            >
              <div class="gap-3 w-80">
                <div class="w-full mt-3 mr-2">
                  <Formitems
                    labelClass="text-dark-red text-lg"
                    label="Bank Name"
                    name="bankName"
                    placeholder="Search a Bank Name"
                    bind:value={filter_page.name}
                  />
                  <Formitems
                    labelClass="text-dark-red text-lg"
                    label="Display Name"
                    name="displayName"
                    placeholder="Search a Display Name"
                    bind:value={filter_page.name_masked}
                  />
                  <div class="mt-3">
                    <h1 class="text-lg capitalize text-dark-red">Status</h1>
                    <div class="grid grid-cols-3 gap-2 mt-2">
                      <FilterButton
                        text="Active"
                        btnValue={filter_page.status}
                        activeValue={true}
                        btnclick={() => onChangeStatusFilter(true)}
                      />
                      <FilterButton
                        text="Inactive"
                        btnValue={filter_page.status}
                        activeValue={false}
                        btnclick={() => onChangeStatusFilter(false)}
                      />
                    </div>
                  </div>
                </div>
              </div>
            </Filter>
          </div>
        {/if}
      </div>

      <!-- Filter Slot -->
      <!-- <div class="relative">
        {#if shown}
          <div>
            <Export />
          </div>
        {/if}
      </div> -->

      <!-- Table -->
      <div class="">
        {#if loading}
          <p>Loading...</p>
        {:else}
          <PageCount {total} currentCount={usersData.length} />
          <StaticTable
            tableDatas={usersData}
            {tableColumn}
            {total}
            currentPage={page}
            {onChangePage}
            isCheckbox={false}
          />
        {/if}
      </div>
    </div>
  </div>
</main>
