<script>
  import { Route, Router } from 'svelte-navigator';

  import FaqListing from './screens/List.svelte';
  import FaqAdd from './screens/Add.svelte';
</script>

<Router>
  <Route path="list"><FaqListing /></Route>
  <Route path="add"><FaqAdd /></Route>
  <Route path="edit/:id" component={FaqAdd} />
</Router>
