<script>
  import { Route, Router } from 'svelte-navigator';

  import RateList from './view/List.svelte';
  import RateAdd from './view/Add.svelte';
  import RateEdit from './view/Edit.svelte';
</script>

<Router>
  <Route path="list">
    <RateList />
  </Route>
  <Route path="add">
    <RateAdd />
  </Route>
  <Route path="edit/:id">
    <RateEdit />
  </Route>
</Router>
