<script>
  import Card from '../../../components/Card.svelte';
  import PaymentIcon from '../../../components/icons/dashboard/Payment.svelte';
  import BirthdayIcon from '../../../components/icons/dashboard/Birthday.svelte';
  import WonIcon from '../../../components/icons/dashboard/Won.svelte';
  import ClockIcon from '../../../components/icons/dashboard/Clock.svelte';
  import RenewalIcon from '../../../components/icons/dashboard/Renewal.svelte';
  import ConversionRate from '../../../components/icons/dashboard/CoversionRate.svelte';
  import IQrate from '../../../components/icons/dashboard/IQrate.svelte';
  import WeightIcon from '../../../components/icons/dashboard/Weight.svelte';
  import PartnerIcon from '../../../components/icons/dashboard/Partner.svelte';
  import ProfileIcon from '../../../components/icons/dashboard/Profile.svelte';
  import { tooltip } from '../../../components/ToolTip';
  import { onMount } from 'svelte';
  import { fetchApi } from '../../../services/api';
  import { toastAlert } from '../../../utils/toaster';
  import { currency } from '../../../utils/currency';

  let loading = false;
  let usersData = [];
  const fetchUserList = async () => {
    loading = true;
    const res = await fetchApi('GET', `customer-admin/dashboard/all`);
    const users = await res.json();
    if (res.status >= 200 && res.status <= 300) {
      loading = false;
      usersData = users;
    } else {
      loading = false;
      if (users.name === 'NOT_FOUND') {
        usersData = [];
        toastAlert('error', users.message ? users.message : 'backend err msg.');
      } else {
        toastAlert('error', users.message ? users.message : 'backend err msg.');
      }
    }
    console.log('after fetch user list', usersData);
  };

  onMount(async () => {
    // get user List
    fetchUserList();
  });
</script>

<main>
  <div class="">
    <h2 class="mt-6 mb-16 ml-6 text-3xl font-semibold text-dark-red">
      Dashboard
    </h2>
    <!-- <h2 use:tooltip={{text: "It's a demo tooltip. You can use it any where"}} class="relative flex p-2 px-4 ">
      Tooltip
    </h2> -->
    <!-- This little button got a tooltip -->
    <div
      class="grid grid-cols-1 gap-6 mx-20 md:mx-0 md:grid-cols-2 lg:grid-cols-3 lg:gap-4"
    >
      {#each usersData as user, i}
        <div>
          <!-- icon={IQrate}
          iconBg={3} -->
          <Card
            title={user.name}
            contentLabel={`${user.cases === null ? 0 : user.cases} ${
              user.cases > 1 ? 'Cases' : 'Case'
            }`}
            contentValue={currency(user.amount)}
          />
        </div>
      {:else}
        <h1>Loading...</h1>
      {/each}
      <!-- <div>
        <Card
          title={'Pending Bank Payout'}
          icon={PaymentIcon}
          iconBg={0}
          contentLabel={'0 Cases'}
          contentValue={'$0'}
        />
      </div>
      <div>
        <Card
          title={'Pending IQrate Payout'}
          icon={IQrate}
          iconBg={3}
          contentLabel={'0 Cases'}
          contentValue={'$0'}
        />
      </div>
      <div>
        <Card
          title={'Pending User Payout'}
          icon={ProfileIcon}
          iconBg={3}
          contentLabel={'0 Cases'}
          contentValue={'$0'}
        />
      </div>
      <div>
        <Card
          title={'Pending Co broker Payout'}
          icon={PartnerIcon}
          iconBg={4}
          contentLabel={'0 Leads'}
          contentValue={'$0'}
        />
      </div>
      <div>
        <Card
          title={'Total Won'}
          icon={WonIcon}
          iconBg={2}
          contentLabel={'0 Cases'}
          contentValue={'$0'}
        />
      </div>
      <div>
        <Card
          title={'Conversion Rate Summary'}
          icon={ConversionRate}
          iconBg={5}
          contentLabel={'0 Cases'}
          contentValue={'$0'}
        />
      </div>
      <div>
        <Card
          title={'No of work on Progress Leads'}
          icon={ClockIcon}
          iconBg={3}
          contentLabel={'0 Cases'}
          contentValue={'$0'}
        />
      </div>
      <div>
        <Card
          title={'Renewal for the Month'}
          icon={RenewalIcon}
          iconBg={5}
          contentLabel={'0 Cases'}
          contentValue={'$0'}
        />
      </div>
      <div>
        <Card
          title={'No of cases to Partnered Law Firm'}
          icon={WeightIcon}
          iconBg={4}
          contentLabel={'0 Clients'}
          contentValue={'$0'}
        />
      </div>
      <div>
        <Card
          title={'No of Lead Birthday in the Month'}
          icon={BirthdayIcon}
          iconBg={5}
          contentLabel={'0 Clients'}
          contentValue={'$0'}
        />
      </div> -->
    </div>
  </div>
</main>
