<script>
  import { Route, Router } from 'svelte-navigator';

  import ResourcesCategoryListing from './screens/List.svelte';
  import ResourcesCategoryAdd from './screens/Add.svelte';
</script>

<Router>
  <Route path="list"><ResourcesCategoryListing /></Route>
  <Route path="add"><ResourcesCategoryAdd /></Route>
  <Route path="edit/:id" component={ResourcesCategoryAdd} />
</Router>
