<script>
  import FormItem from '../../../components/forms/FormItem.svelte';
  import Button from '../../../components/Button.svelte';

  import { getUserInfo } from '../../../utils/storage';
  import { onMount } from 'svelte';
  import { fetchApi } from '../../../services/api';
  import { toastAlert } from '../../../utils/toaster';

  import * as yup from 'yup';
  import { Form, Message } from 'svelte-yup';

  onMount(() => {
    UserData();
  });

  let fields = {
    name: '',
    email: '',
    message: '',
  };

  //validation
  let schema = yup.object().shape({
    message: yup
      .string()
      .required('Please enter a valid message')
      .min(2, 'Message must be longer than or equal to 2 characters'),
  });

  let submitted = false;
  let isValid;

  const UserData = async () => {
    fields.name = getUserInfo().full_name ? getUserInfo().full_name : '';
    fields.email = getUserInfo().email ? getUserInfo().email : '';
    fields.message = '';
  };

  const onSubmit = async () => {
    submitted = true;
    isValid = schema.isValidSync(fields);
    if (isValid) {
      const res = await fetchApi(
        'PUT',
        `user/contactUs`,
        JSON.stringify(fields),
      );
      const json = await res.json();

      if (res.status >= 200 && res.status <= 300) {
        toastAlert(
          'success',
          json.errmessage
            ? json.errmessage
            : 'Successfull ! We have received your message, we will get in touch with you shortly.',
        );
        submitted = false;
        UserData();
      } else if(res.status === 403){
        if(json.name === 'MEMBERSHIP_ACL_CHECK'){
          toastAlert('error', json.message ? json.message : 'We have encountered a technical difficulty onboarding you. Please try again later.');
        }else{
          toastAlert('error', json.detail ? json.detail : 'We have encountered a technical difficulty onboarding you. Please try again later.');
        }
      } else {
        toastAlert(
          'error',
          json.message
            ? json.message
            : 'We have encountered a technical difficulty. Please try again later.',
        );
      }
    }
  };
</script>

<div class="w-full ">
  <h2 class="mt-6 mb-6 text-3xl font-bold md:mb-10 text-dark-red">
    Contact Us
  </h2>
  <Form class="form" {schema} {fields} submitHandler={onSubmit} {submitted}>
    <div class="w-full rounded-lg ">
      <div class="w-full md:w-1/2">
        <FormItem
          label="Name*"
          name="name"
          placeholder="Name"
          bind:value={fields.name}
          readonly
        />
      </div>
      <div class="w-full md:w-1/2">
        <FormItem
          label="Email Address*"
          name="emailAddress"
          placeholder="Email Address"
          bind:value={fields.email}
          readonly={true}
        />
      </div>
      <div class="w-full md:w-1/2">
        <FormItem
          label="Message*"
          formType="textarea"
          name="message"
          placeholder="Message Here"
          bind:value={fields.message}
        />
        <div class="flex justify-end text-dark-red">
          <Message name="message" />
        </div>
      </div>
      <div class="w-full md:w-1/2">
        <Button
          text="Submit"
          htmlType="submit"
          className="w-full mt-5"
          gradient
        />
      </div>
    </div>
  </Form>
</div>
