<p>
    Dear <strong>{{ banker_name }}</strong>
</p>
<br>
<p>
    Our IQrate app user <strong>{{ agent_name }} {{ agent_phone }}</strong> has referred a mortgage loan application to IQrate.
    <br>
    IQrate is submitting the mortgage loan application to you for your bank’s approval.
</p>
<br>
<p>
    <strong>Loan Application Details :</strong><br>
</p>
<ol>
    <li>Name of Lead: <strong>{{ lead_name }}</strong></li>
    <li>Lead’s contact no: <strong>{{ lead_phone }}</strong></li>
    <li>Lead’s email address: <strong>{{ lead_email }}</strong></li>
    <li>Type of Loan: <strong>{{ loan_type }}</strong></li>
    <li>Loan Amount: <strong>{{ loan_amount }}</strong></li>
    <li>Name of Law Firm: {{ law_firm_name }}</li>
    {% if has_additional_notice %}
        <li>Client will be getting a referral fee (benefit) from IQrate</li>
    {% endif %}
    <li>Remarks: {% if remarks.strip %}{{ remarks }}{% else %}Nil{% endif %}</li>
</ol>
<br>
<br>
<p>
    Have a great day ahead.
</p>
<br>
<p>
    Thank you.
</p>
<br>
<p>
    From IQrate Admin<br>
    (Please DO NOT reply to the email)
</p>
<br>