<p>Dear <strong>{{ name }}</strong>,</p>
<br>
<p>
    Thank you for applying your home loan via IQrate. <strong>{{ agent_name }}</strong> <strong>{{ agent_phone }}</strong> has referred you to
    IQrate for your home loan application. IQrate will be submitting your home loan application to the bank(s) shortlisted by you.
</p>
<br>
<p>
    <strong>Application details:</strong>
    <br>
    Type of Loan : <strong>{{ loan_type }}</strong><br>
    Loan amount : <strong>{{ loan_amount }}</strong><br>
    Shortlisted Bank : <strong>{{ bank_name }}</strong><br>
    Banker's Details : <strong>{{ banker.name }} +{{ banker.country_code }}{{ banker.phone_number }}</strong>
</p>
<br>
{% if bank_form %}
    <p>
        Please refer to the Bank Form and List of Documents Required (attached in this email) and submit via this link -
        <br>
        <a href="{{ magic_link }}">{{ magic_link }}</a>
    </p>
{% else %}
    <p>
        Please refer to the Bank Form and List of Documents Required (attached in this email) and submit via this link -
        <br>
        <a href="{{ magic_link }}">{{ magic_link }}</a>
    </p>
{% endif %}
<br>
<p>
    Please do not hesitate to contact <strong>{{ agent_name }}</strong> <strong>{{ agent_phone }}</strong> if you have any queries.
</p>
<br>
<p>
    {{ remarks }}
</p>
<br>
<div style="display: block; background-color: rgb(242, 213, 169);text-align: center;padding-top: 20px;padding-bottom: 20px; font-weight: bold">
    <p>In the event that the banks do a verification check with you,</p>
    <p>please quote IQrate as your mortgage broker who referred you to the banks.</p>
</div>
<p>
    Have a great day ahead.
</p>
<br>
<p>
    Thank you.
</p>
<br>
<p>
    From IQrate Admin<br>
    (Please DO NOT reply to the email)
</p>
<br>