<script>
  import FormItem from '../../../../../../components/forms/FormItem.svelte';
  import Datepicker from '../../../../../../components/IqRateDatePicker.svelte';
  import Button from '../../../../../../components/Button.svelte';
  import Bin from '../../../../../../components/icons/dashboard/myLeads/Bin.svelte';

  import { fetchApi } from '../../../../../../services/api';
  import { onMount } from 'svelte';

  import { toastAlert } from '../../../../../../utils/toaster';
  import { allKv } from '../../../../../../stores';
  import { useNavigate } from 'svelte-navigator';
  import { useParams } from 'svelte-navigator';

  const params = useParams();
  const navigate = useNavigate();
  $: editId = $params.id;
  console.log('add allplicant', $params.id);
  //   export let id;

  let state = [];

  const addApplicant = () => {
    console.log('adding 2', state);
    if (state.length > 3) {
      console.log('max limit reached');
    } else {
      state = [
        ...state,
        {
          name: '',
          lead: editId,
          main_applicant: false,
          country_code: '',
          phone_number: '',
          email: '',
          dob: '',
          nationality: '',
          annual_income: '',
        },
      ];
    }
  };

  let nationalityList = [];
  onMount(async () => {
    nationalityList = $allKv[11].value;
    // console.log("nationalityList", nationalityList);
    // Get Lead ID, and check if lead exist, if exist kick out from this route. - solved on CheckLead function
    checkLead();
  });

  const checkLead = async () => {
    fetchApi('GET', `customer/lead/${editId}`)
      .then((res) => res.json())
      .then((res) => {
        if (res?.clients.length > 0) {
          // kick user from createLead
          // navigate("/customer/lead/all");
        }
      })
      .catch((err) => console.log('err checkLead', err));
  };

  const addLead = async () => {
    // Promise api fetch all.
    Promise.all(
      state.map((applicant) => {
        createApplicant(applicant);
      }),
    ).then(function (values) {
      console.log('after all create', values);
      navigate('/lead/list');
      // navigate(`/lead/manage/${editId}`);

      toastAlert('success', 'Applicant Added Successfully!');
    });
  };

  //to create New Lead

  const createApplicant = (data) => {
    console.log('befor applicant:', data.annual_income);
    data.annual_income = data.annual_income.replace(/,/g, '');
    console.log('after applicant:', data.annual_income);

    fetchApi(
      'POST',
      `customer/lead/clients/create`,
      JSON.stringify(data),
      // `${CUSTOMER_BASE_URL}`
    );
  };

  const removeApplicant = async (index) => {
    if (index > -1) {
      state.splice(index, 1);
      state = state; // update state var
      toastAlert('info', 'Applicant Deleted!');
    }
  };

  //pdpa
  const pdpaVerificationLink = async () => {
    const res = await fetchApi('GET', `customer/lead/client/token/${editId}`);
    const json = await res.json();
    selectedlead = json;
    isChecked = true;

    if (res.status == 400) {
      isChecked = false;
      toastAlert('info', 'PDPA is Already Verified');
    } else if(res.status === 403){
        if(json.name === 'MEMBERSHIP_ACL_CHECK'){
          toastAlert('error', json.message ? json.message : 'We have encountered a technical difficulty onboarding you. Please try again later.');
        }else{
          toastAlert('error', json.detail ? json.detail : 'We have encountered a technical difficulty onboarding you. Please try again later.');
        }
    } else {
      isChecked = true;
    }
    console.log(selectedlead);
  };
</script>

<div class="w-full md:w-full">
  {#each state as applicant, i}
    {#if i >= 0}
      <div
        class="flex justify-between rounded-md"
        style="background-color:#EAEAEA"
      >
        <div>
          <h1 class="pl-2 my-4 text-xl">
            Add Joint Applicant
            <!-- #{i + 1} -->
          </h1>
        </div>
        <div
          class="my-4 cursor-pointer hover:text-dark-red"
          on:click={() => removeApplicant(i)}
        >
          <Bin />
        </div>
      </div>
    {/if}

    <main>
      <div>
        <FormItem
          label="Lead Full Name*"
          name={`lead_name-${i}`}
          placeholder="Lead Full Name"
          $borderColor
          bind:value={applicant.name}
        />
      </div>
      <!-- Lead Mobile -->
      <div class="flex ">
        <div class="w-full">
          <FormItem
            formType="inputPreSelect"
            preSelectType="countries"
            type="text"
            label="Lead Mobile No*"
            name="mobileNo"
            placeholder="Lead Mobile Number"
            bind:value={applicant.phone_number}
            bind:country_code={applicant.country_code}
            onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))"
          />
        </div>
        <!-- <div class="w-48 mt-8 ml-1 lg:mt-9">
          <Button
            text="PDPA Pending"
            isPdpa
            postIcon="infoCircle"
            className="w-full "
            gradient
            btnclick={pdpaVerificationLink}
          />
        </div> -->
      </div>
      <!-- <div>
        <FormItem
          formType="inputPreSelect"
          preSelectType="countries"
          type="text"
          label="Lead Mobile No*"
          name="mobileNo"
          placeholder="Lead Mobile Number"
          bind:value={applicant.phone_number}
          bind:country_code={applicant.country_code}
        />
      </div> -->
      <!-- Lead Email Address -->
      <div>
        <FormItem
          label="Lead Email Address*"
          name="emailAddress"
          placeholder="Lead Email Address"
          bind:value={applicant.email}
        />
      </div>

      <!-- Date -->
      <!-- <div class="mt-5">
        <Datepicker
          calendarType="datePicker"
          lable={"Date Of Birth*"}
          name={`create_lead-${i}`}
          placeholder="Date Of Birth"
          type="text"
          bind:value={applicant.dob}
        />
      </div> -->
      <div class="md:w-full">
        <div>
          <span
            for="endDate"
            class="inline-block w-full m-1 text-left text-gray-label"
            >Date Of Birth*
          </span>
          <input
            value={applicant.dob}
            type="date"
            name="dob"
            id="dob"
            class="w-full p-2 border rounded-md focus:outline-none"
            on:input={(event) => (applicant.dob = event.target.value)}
          />
        </div>
      </div>
      <!-- Nationality -->
      <div>
        <FormItem
          label="Nationality*"
          name={`nationality-${i}`}
          formType="select"
          bind:value={applicant.nationality}
        >
          {#each nationalityList as list}
            <option>{list}</option>
          {/each}
        </FormItem>
      </div>
      <!-- Income -->
      <div>
        <FormItem
          formType="numberInput"
          label="Annual Income"
          name="annual_income"
          placeholder="25,000"
          bind:value={applicant.annual_income}
          onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))"
        />
      </div>
    </main>
  {/each}
</div>

{#if state.length < 1}
  <Button
    text="Add Joint Applicant"
    className="w-full "
    isOutlined
    btnclick={addApplicant}
  />
{/if}

<div class="my-2">
  {#if state.length >= 1}
    <Button btnclick={addLead} text="Save" className="w-full mt-5" gradient />
  {/if}
</div>
