<script>
  import AccordionMenu from '../../../../../../components/accordion/AccordionForTable.svelte';
  import { refinanceReport } from './../../../../../../stores.js';
  import { onMount } from 'svelte';

  export let pack = null;
  export let mortgageType = '';


  let data =
    mortgageType === 'max'
      ? $refinanceReport.Package_details[pack].maximum_loan_tenure
      : $refinanceReport.Package_details[pack].prefered_loan_tenure;

  $: interval = [];
  onMount(() => {
    setYears();
  });

  $: setYears = () => {
    
    for (let i = 0; i < 40; i++) {
      if (i % 5 === 0 && i !== 0) interval = [...interval, i];
    }

    let endYear =data.Mortgage_Payment_List[data.Mortgage_Payment_List.length - 1]['year'];
    let num = interval.find((ele) => ele === roundUpNearest10(endYear));
    let found = interval.indexOf(num);
    interval = interval.slice(0, found + 1);
  };

  $: roundUpNearest10 = (num) => {
    return Math.ceil(Number(num) / 5) * 5;
  };


  // add commas and two decimal points
  $: addComma = (string) => {
    return string.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,');
  };



  //   table scroll
  const scrollLeft = () => {
    document.getElementById('container').scrollLeft += 336;
  };
  const scrollRight = () => {
    document.getElementById('container').scrollLeft -= 336;
  };
</script>

<main class="text-gray-label">
  <h2 class="mt-6 mb-5 text-3xl text-dark-red">Mortgage Repayment</h2>
  <p class="mb-6 text-gray-label">
    {#if mortgageType === 'max'}
      Based On Maximum Loan Tenure
    {:else}
      Based On Preferred Loan Tenure
    {/if}
  </p>
  <div
    id="container"
    class="w-full p-2 my-10 overflow-x-auto text-sm rounded-md shadow-md lg:border no-scrollbar lg:p-6 bg-base-100"
  >
    <table class="w-full p-1 ">
      <thead class="w-full">
        <tr class="border">
          <th class="p-6 text-left border whitespace-nowrap text-dark-red">
            <p class="font-normal">Year</p>
          </th>
          <th class="p-3 text-left border whitespace-nowrap text-dark-red">
            <p class="font-normal">Interest <br /> Rate</p>
          </th>
          <th class="p-3 text-left border whitespace-nowrap text-dark-red">
            <p class="font-normal">Installment <br /> Amount</p>
          </th>

          <th class="p-3 text-left border whitespace-nowrap text-dark-red">
            <p class="font-normal">Interest <br /> Repayment</p>
          </th>
          <th class="p-3 text-left border whitespace-nowrap text-dark-red">
            <p class="font-normal">Principal <br /> Repayment</p>
          </th>
          <th class="p-3 text-left border whitespace-nowrap text-dark-red">
            <p class="font-normal">Outstanding <br /> Amount</p>
          </th>
          <th class="p-3 text-left border whitespace-nowrap text-dark-red">
            <p class="font-normal">Cum <br /> Interest Paid</p>
          </th>
        </tr>
      </thead>
      <tbody class="w-full">
        {#if data.Mortgage_Payment_List}
          {#each interval as space, i}
            <tr class="w-full mt-4">
              <td colspan="7">
                <AccordionMenu
                  props={{
                    contentLabel:
                      space == 5
                        ? `Year 1-${space}`
                        : `Year ${space - 5}-${space}`,
                    id: i,
                  }}
                >
                  <div class="text-gray-label">
                    <table class="w-full p-1 ">
                      <tbody class="border">
                        {#each Object.values(data.Mortgage_Payment_List) as list}
                          {#if list['year'] <= 5 && space === 5}
                            <tr
                              class={`border ${
                                list['month'] === 12 || list['month'] === '12'
                                  ? 'bg-gray-footer'
                                  : ''
                              } `}
                            >
                              <td class="whitespace-nowrap">
                                <tbody class="w-full whitespace-nowrap">
                                  <td class="w-full p-2 border-r"
                                    >Yr {list['year']}</td
                                  >
                                  <td class="p-3">{list['month']}</td>
                                </tbody>
                              </td>
                              <td class="p-2 border whitespace-nowrap">
                                <p
                                  class="text-sm font-normal text-left text-black"
                                >
                                  {#if list['interest_rate']}
                                    {list['interest_rate']}%
                                  {:else}
                                    -
                                  {/if}
                                </p>
                              </td>
                              <td class="p-2 border whitespace-nowrap">
                                <p
                                  class="text-sm font-normal text-left text-black"
                                >
                                  {#if list['interest_rate']}
                                    ${addComma(list['installment_amount'])}
                                  {:else}
                                    -
                                  {/if}
                                  <!-- ${addComma(list['installment_amount'])} -->
                                </p>
                              </td>
                              <td class="p-2 border whitespace-nowrap">
                                <p
                                  class="text-sm font-normal text-left text-black"
                                >
                                  {#if list['interest_rate']}
                                    ${addComma(list['interest_repayment'])}
                                  {:else}
                                    -
                                  {/if}

                                  <!-- ${addComma(list['interest_repayment'])} -->
                                </p>
                              </td>
                              <td class="p-2 border whitespace-nowrap">
                                <p
                                  class="text-sm font-normal text-left text-black"
                                >
                                  {#if list['interest_rate']}
                                    ${addComma(list['principal_repayment'])}
                                  {:else}
                                    -
                                  {/if}

                                  <!-- ${addComma(list['principal_repayment'])} -->
                                </p>
                              </td>
                              <td class="p-2 border whitespace-nowrap">
                                <p
                                  class="text-sm font-normal text-left text-black"
                                >
                                  {#if list['interest_rate']}
                                    ${addComma(list['outstanding_amount'])}
                                  {:else}
                                    -
                                  {/if}

                                  <!-- ${addComma(list['outstanding_amount'])} -->
                                </p>
                              </td>
                              <td class="p-2 border whitespace-nowrap">
                                <p
                                  class="text-sm font-normal text-left text-black"
                                >
                                  {#if list['interest_rate']}
                                    ${addComma(list['cum_interest_paid'])}
                                  {:else}
                                    -
                                  {/if}

                                  <!-- ${addComma(list['cum_interest_paid'])} -->
                                </p>
                              </td>
                            </tr>
                          {:else if list['year'] > 5 && list['year'] <= 10 && space === 10}
                            <tr
                              class={`border ${
                                list['month'] === 12 || list['month'] === '12'
                                  ? 'bg-gray-footer'
                                  : ''
                              } `}
                            >
                              <td class="">
                                <tbody class="w-full whitespace-nowrap">
                                  <td class="w-full p-1 border-r "
                                    >Yr {list['year']}</td
                                  >
                                  <td class="p-2">{list['month']}</td>
                                </tbody>
                              </td>
                              <td class="p-2 border whitespace-nowrap">
                                <p
                                  class="text-sm font-normal text-left text-black"
                                >
                                  {#if list['interest_rate']}
                                    {list['interest_rate']}%
                                  {:else}
                                    -
                                  {/if}
                                </p>
                              </td>
                              <td class="p-2 border whitespace-nowrap">
                                <p
                                  class="text-sm font-normal text-left text-black"
                                >
                                  {#if list['interest_rate']}
                                    ${addComma(list['installment_amount'])}
                                  {:else}
                                    -
                                  {/if}
                                  <!-- ${addComma(list['installment_amount'])} -->
                                </p>
                              </td>
                              <td class="p-2 border whitespace-nowrap">
                                <p
                                  class="text-sm font-normal text-left text-black"
                                >
                                  {#if list['interest_rate']}
                                    ${addComma(list['interest_repayment'])}
                                  {:else}
                                    -
                                  {/if}

                                  <!-- ${addComma(list['interest_repayment'])} -->
                                </p>
                              </td>
                              <td class="p-2 border whitespace-nowrap">
                                <p
                                  class="text-sm font-normal text-left text-black"
                                >
                                  {#if list['interest_rate']}
                                    ${addComma(list['principal_repayment'])}
                                  {:else}
                                    -
                                  {/if}

                                  <!-- ${addComma(list['principal_repayment'])} -->
                                </p>
                              </td>
                              <td class="p-2 border whitespace-nowrap">
                                <p
                                  class="text-sm font-normal text-left text-black"
                                >
                                  {#if list['interest_rate']}
                                    ${addComma(list['outstanding_amount'])}
                                  {:else}
                                    -
                                  {/if}

                                  <!-- ${addComma(list['outstanding_amount'])} -->
                                </p>
                              </td>
                              <td class="p-2 border whitespace-nowrap">
                                <p
                                  class="text-sm font-normal text-left text-black"
                                >
                                  {#if list['interest_rate']}
                                    ${addComma(list['cum_interest_paid'])}
                                  {:else}
                                    -
                                  {/if}

                                  <!-- ${addComma(list['cum_interest_paid'])} -->
                                </p>
                              </td>
                            </tr>
                          {:else if list['year'] > 10 && list['year'] <= 15 && space === 15}
                            <tr
                              class={`border ${
                                list['month'] === 12 || list['month'] === '12'
                                  ? 'bg-gray-footer'
                                  : ''
                              } `}
                            >
                              <td class="">
                                <tbody class="w-full whitespace-nowrap">
                                  <td class="w-full p-1 border-r "
                                    >Yr {list['year']}</td
                                  >
                                  <td class="p-2">{list['month']}</td>
                                </tbody>
                              </td>
                              <td class="p-2 border whitespace-nowrap">
                                <p
                                  class="text-sm font-normal text-left text-black"
                                >
                                  {#if list['interest_rate']}
                                    {list['interest_rate']}%
                                  {:else}
                                    -
                                  {/if}
                                </p>
                              </td>
                              <td class="p-2 border whitespace-nowrap">
                                <p
                                  class="text-sm font-normal text-left text-black"
                                >
                                  {#if list['interest_rate']}
                                    ${addComma(list['installment_amount'])}
                                  {:else}
                                    -
                                  {/if}
                                  <!-- ${addComma(list['installment_amount'])} -->
                                </p>
                              </td>
                              <td class="p-2 border whitespace-nowrap">
                                <p
                                  class="text-sm font-normal text-left text-black"
                                >
                                  {#if list['interest_rate']}
                                    ${addComma(list['interest_repayment'])}
                                  {:else}
                                    -
                                  {/if}

                                  <!-- ${addComma(list['interest_repayment'])} -->
                                </p>
                              </td>
                              <td class="p-2 border whitespace-nowrap">
                                <p
                                  class="text-sm font-normal text-left text-black"
                                >
                                  {#if list['interest_rate']}
                                    ${addComma(list['principal_repayment'])}
                                  {:else}
                                    -
                                  {/if}

                                  <!-- ${addComma(list['principal_repayment'])} -->
                                </p>
                              </td>
                              <td class="p-2 border whitespace-nowrap">
                                <p
                                  class="text-sm font-normal text-left text-black"
                                >
                                  {#if list['interest_rate']}
                                    ${addComma(list['outstanding_amount'])}
                                  {:else}
                                    -
                                  {/if}

                                  <!-- ${addComma(list['outstanding_amount'])} -->
                                </p>
                              </td>
                              <td class="p-2 border whitespace-nowrap">
                                <p
                                  class="text-sm font-normal text-left text-black"
                                >
                                  {#if list['interest_rate']}
                                    ${addComma(list['cum_interest_paid'])}
                                  {:else}
                                    -
                                  {/if}

                                  <!-- ${addComma(list['cum_interest_paid'])} -->
                                </p>
                              </td>
                            </tr>
                          {:else if list['year'] > 15 && list['year'] <= 20 && space === 20}
                            <tr
                              class={`border ${
                                list['month'] === 12 || list['month'] === '12'
                                  ? 'bg-gray-footer'
                                  : ''
                              } `}
                            >
                              <td class="">
                                <tbody class="w-full whitespace-nowrap">
                                  <td class="w-full p-1 border-r "
                                    >Yr {list['year']}</td
                                  >
                                  <td class="p-2">{list['month']}</td>
                                </tbody>
                              </td>
                              <td class="p-2 border whitespace-nowrap">
                                <p
                                  class="text-sm font-normal text-left text-black"
                                >
                                  {#if list['interest_rate']}
                                    {list['interest_rate']}%
                                  {:else}
                                    -
                                  {/if}
                                </p>
                              </td>
                              <td class="p-2 border whitespace-nowrap">
                                <p
                                  class="text-sm font-normal text-left text-black"
                                >
                                  {#if list['interest_rate']}
                                    ${addComma(list['installment_amount'])}
                                  {:else}
                                    -
                                  {/if}
                                  <!-- ${addComma(list['installment_amount'])} -->
                                </p>
                              </td>
                              <td class="p-2 border whitespace-nowrap">
                                <p
                                  class="text-sm font-normal text-left text-black"
                                >
                                  {#if list['interest_rate']}
                                    ${addComma(list['interest_repayment'])}
                                  {:else}
                                    -
                                  {/if}

                                  <!-- ${addComma(list['interest_repayment'])} -->
                                </p>
                              </td>
                              <td class="p-2 border whitespace-nowrap">
                                <p
                                  class="text-sm font-normal text-left text-black"
                                >
                                  {#if list['interest_rate']}
                                    ${addComma(list['principal_repayment'])}
                                  {:else}
                                    -
                                  {/if}

                                  <!-- ${addComma(list['principal_repayment'])} -->
                                </p>
                              </td>
                              <td class="p-2 border whitespace-nowrap">
                                <p
                                  class="text-sm font-normal text-left text-black"
                                >
                                  {#if list['interest_rate']}
                                    ${addComma(list['outstanding_amount'])}
                                  {:else}
                                    -
                                  {/if}

                                  <!-- ${addComma(list['outstanding_amount'])} -->
                                </p>
                              </td>
                              <td class="p-2 border whitespace-nowrap">
                                <p
                                  class="text-sm font-normal text-left text-black"
                                >
                                  {#if list['interest_rate']}
                                    ${addComma(list['cum_interest_paid'])}
                                  {:else}
                                    -
                                  {/if}

                                  <!-- ${addComma(list['cum_interest_paid'])} -->
                                </p>
                              </td>
                            </tr>
                          {:else if list['year'] > 20 && list['year'] <= 25 && space === 25}
                            <tr
                              class={`border ${
                                list['month'] === 12 || list['month'] === '12'
                                  ? 'bg-gray-footer'
                                  : ''
                              } `}
                            >
                              <td class="">
                                <tbody class="w-full whitespace-nowrap">
                                  <td class="w-full p-1 border-r "
                                    >Yr {list['year']}</td
                                  >
                                  <td class="p-2">{list['month']}</td>
                                </tbody>
                              </td>
                              <td class="p-2 border whitespace-nowrap">
                                <p
                                  class="text-sm font-normal text-left text-black"
                                >
                                  {#if list['interest_rate']}
                                    {list['interest_rate']}%
                                  {:else}
                                    -
                                  {/if}
                                </p>
                              </td>
                              <td class="p-2 border whitespace-nowrap">
                                <p
                                  class="text-sm font-normal text-left text-black"
                                >
                                  {#if list['interest_rate']}
                                    ${addComma(list['installment_amount'])}
                                  {:else}
                                    -
                                  {/if}
                                  <!-- ${addComma(list['installment_amount'])} -->
                                </p>
                              </td>
                              <td class="p-2 border whitespace-nowrap">
                                <p
                                  class="text-sm font-normal text-left text-black"
                                >
                                  {#if list['interest_rate']}
                                    ${addComma(list['interest_repayment'])}
                                  {:else}
                                    -
                                  {/if}

                                  <!-- ${addComma(list['interest_repayment'])} -->
                                </p>
                              </td>
                              <td class="p-2 border whitespace-nowrap">
                                <p
                                  class="text-sm font-normal text-left text-black"
                                >
                                  {#if list['interest_rate']}
                                    ${addComma(list['principal_repayment'])}
                                  {:else}
                                    -
                                  {/if}

                                  <!-- ${addComma(list['principal_repayment'])} -->
                                </p>
                              </td>
                              <td class="p-2 border whitespace-nowrap">
                                <p
                                  class="text-sm font-normal text-left text-black"
                                >
                                  {#if list['interest_rate']}
                                    ${addComma(list['outstanding_amount'])}
                                  {:else}
                                    -
                                  {/if}

                                  <!-- ${addComma(list['outstanding_amount'])} -->
                                </p>
                              </td>
                              <td class="p-2 border whitespace-nowrap">
                                <p
                                  class="text-sm font-normal text-left text-black"
                                >
                                  {#if list['interest_rate']}
                                    ${addComma(list['cum_interest_paid'])}
                                  {:else}
                                    -
                                  {/if}

                                  <!-- ${addComma(list['cum_interest_paid'])} -->
                                </p>
                              </td>
                            </tr>
                          {:else if list['year'] > 25 && list['year'] <= 30 && space === 30}
                            <tr
                              class={`border ${
                                list['month'] === 12 || list['month'] === '12'
                                  ? 'bg-gray-footer'
                                  : ''
                              } `}
                            >
                              <td class="">
                                <tbody class="w-full whitespace-nowrap">
                                  <td class="w-full p-1 border-r "
                                    >Yr {list['year']}</td
                                  >
                                  <td class="p-2">{list['month']}</td>
                                </tbody>
                              </td>
                              <td class="p-2 border whitespace-nowrap">
                                <p
                                  class="text-sm font-normal text-left text-black"
                                >
                                  {#if list['interest_rate']}
                                    {list['interest_rate']}%
                                  {:else}
                                    -
                                  {/if}
                                </p>
                              </td>
                              <td class="p-2 border whitespace-nowrap">
                                <p
                                  class="text-sm font-normal text-left text-black"
                                >
                                  {#if list['interest_rate']}
                                    ${addComma(list['installment_amount'])}
                                  {:else}
                                    -
                                  {/if}
                                  <!-- ${addComma(list['installment_amount'])} -->
                                </p>
                              </td>
                              <td class="p-2 border whitespace-nowrap">
                                <p
                                  class="text-sm font-normal text-left text-black"
                                >
                                  {#if list['interest_rate']}
                                    ${addComma(list['interest_repayment'])}
                                  {:else}
                                    -
                                  {/if}

                                  <!-- ${addComma(list['interest_repayment'])} -->
                                </p>
                              </td>
                              <td class="p-2 border whitespace-nowrap">
                                <p
                                  class="text-sm font-normal text-left text-black"
                                >
                                  {#if list['interest_rate']}
                                    ${addComma(list['principal_repayment'])}
                                  {:else}
                                    -
                                  {/if}

                                  <!-- ${addComma(list['principal_repayment'])} -->
                                </p>
                              </td>
                              <td class="p-2 border whitespace-nowrap">
                                <p
                                  class="text-sm font-normal text-left text-black"
                                >
                                  {#if list['interest_rate']}
                                    ${addComma(list['outstanding_amount'])}
                                  {:else}
                                    -
                                  {/if}

                                  <!-- ${addComma(list['outstanding_amount'])} -->
                                </p>
                              </td>
                              <td class="p-2 border whitespace-nowrap">
                                <p
                                  class="text-sm font-normal text-left text-black"
                                >
                                  {#if list['interest_rate']}
                                    ${addComma(list['cum_interest_paid'])}
                                  {:else}
                                    -
                                  {/if}

                                  <!-- ${addComma(list['cum_interest_paid'])} -->
                                </p>
                              </td>
                            </tr>
                          {:else if list['year'] > 25 && list['year'] <= 35 && space === 35}
                            <tr
                              class={`border ${
                                list['month'] === 12 || list['month'] === '12'
                                  ? 'bg-gray-footer'
                                  : ''
                              } `}
                            >
                              <td class="">
                                <tbody class="w-full whitespace-nowrap">
                                  <td class="w-full p-1 border-r "
                                    >Yr {list['year']}</td
                                  >
                                  <td class="p-2">{list['month']}</td>
                                </tbody>
                              </td>
                              <td class="p-2 border whitespace-nowrap">
                                <p
                                  class="text-sm font-normal text-left text-black"
                                >
                                  {#if list['interest_rate']}
                                    {list['interest_rate']}%
                                  {:else}
                                    -
                                  {/if}
                                </p>
                              </td>
                              <td class="p-2 border whitespace-nowrap">
                                <p
                                  class="text-sm font-normal text-left text-black"
                                >
                                  {#if list['interest_rate']}
                                    ${addComma(list['installment_amount'])}
                                  {:else}
                                    -
                                  {/if}
                                  <!-- ${addComma(list['installment_amount'])} -->
                                </p>
                              </td>
                              <td class="p-2 border whitespace-nowrap">
                                <p
                                  class="text-sm font-normal text-left text-black"
                                >
                                  {#if list['interest_rate']}
                                    ${addComma(list['interest_repayment'])}
                                  {:else}
                                    -
                                  {/if}

                                  <!-- ${addComma(list['interest_repayment'])} -->
                                </p>
                              </td>
                              <td class="p-2 border whitespace-nowrap">
                                <p
                                  class="text-sm font-normal text-left text-black"
                                >
                                  {#if list['interest_rate']}
                                    ${addComma(list['principal_repayment'])}
                                  {:else}
                                    -
                                  {/if}

                                  <!-- ${addComma(list['principal_repayment'])} -->
                                </p>
                              </td>
                              <td class="p-2 border whitespace-nowrap">
                                <p
                                  class="text-sm font-normal text-left text-black"
                                >
                                  {#if list['interest_rate']}
                                    ${addComma(list['outstanding_amount'])}
                                  {:else}
                                    -
                                  {/if}

                                  <!-- ${addComma(list['outstanding_amount'])} -->
                                </p>
                              </td>
                              <td class="p-2 border whitespace-nowrap">
                                <p
                                  class="text-sm font-normal text-left text-black"
                                >
                                  {#if list['interest_rate']}
                                    ${addComma(list['cum_interest_paid'])}
                                  {:else}
                                    -
                                  {/if}

                                  <!-- ${addComma(list['cum_interest_paid'])} -->
                                </p>
                              </td>
                            </tr>
                          {/if}
                        {/each}
                      </tbody>
                    </table>
                  </div>
                </AccordionMenu>
              </td>
            </tr>
          {/each}
          <!-- {:else}
        <p class="text-center text-gray-400">No data is found!</p> -->
        {/if}
      </tbody>
    </table>
  </div>
  <slot>
    <!-- button -->
  </slot>
</main>

<style>
  .bg-gray-footer {
    background-color: #eaeaea;
  }
</style>
