<script>
  import { Accordion, AccordionItem } from 'svelte-collapsible';
  import DownArrow from '../components/icons/dashboard/profile/DownArrow.svelte';

  export let props = '';
</script>

<main>
  <div>
    <Accordion>
      <div class="my-0">
        <AccordionItem key={props.key}>
          <div
            slot="header"
            class="flex justify-between w-full my-1 rounded-lg shadow"
          >
            <div class="py-2.5 text-xl font-medium">
              <h1 class="pl-3 text-dark-red">{props.contentLabel}</h1>
            </div>
            <div class="pt-3 pr-3">
              <DownArrow />
            </div>
          </div>

          <div slot="body">
            <slot />
          </div>
        </AccordionItem>
      </div>
    </Accordion>
  </div>
</main>
