<script>
  import Loading from './icons/Loading.svelte';

  let fileinput;
  export let name = 'avatar';
  export let img = null;
  export let fallbackName = 'U';
  export let isSmall = false;
  export let value = null;
  export let className = '';
  export let uploadAble = false;
  export let loading = false;
  export let onClick = null;
  export let onFileSelected = null;
  console.log('prof img', img);
</script>

{#if uploadAble}
  <div
    class="btn rounded-2xl bg-slate-300 w-12 h-12 flex items-center justify-center p-0 overflow-hidden border-0 {className}"
    on:click={() => {
      fileinput.click();
    }}
  >
    {#if img.length < 2}
      <div class="avatar placeholder">
        <div
          class={`${
            isSmall ? '' : 'w-24 h-24'
          } rounded-full cursor-pointer bg-neutral-focus text-neutral-content`}
        >
          {#if uploadAble}
            {#if loading}
              <Loading />
            {:else}
              <span>+</span>
            {/if}
          {/if}
        </div>
      </div>
    {:else}
      <img src={img} alt={'U'} />
    {/if}
  </div>
  <input
    type="file"
    {name}
    accept="image/*"
    style="visibility: hidden;"
    on:change={(e) => {
      // console.log('ee', e.target.files[0].name);
      onFileSelected(e.target.files[0]);
    }}
    bind:this={fileinput}
    bind:value
  />
{:else}
  <div
    class="btn rounded-2xl bg-slate-300 w-12 h-12 flex items-center justify-center p-0 overflow-hidden border-0 {className}"
    on:click={onClick}
  >
    {#if img}
      <img src={img} alt={'U'} />
    {:else}
      <div class="avatar placeholder">
        <div
          class={`${
            isSmall ? '' : 'w-24 h-24'
          } rounded-full cursor-pointer bg-neutral-focus text-neutral-content`}
        >
          <span>{fallbackName}</span>
        </div>
      </div>
    {/if}
  </div>
{/if}
