<script>
  export let type = 'info';
  export let title = '';
  export let contentLabel = '';
  export let contentValue = '';
  export let buttonProps = null;
  import { Link } from 'svelte-navigator';
  import PaymentIcon from '../components/icons/dashboard/Payment.svelte';
  import BirthdayIcon from '../components/icons/dashboard/Birthday.svelte';
  import WonIcon from '../components/icons/dashboard/Won.svelte';
  import ClockIcon from '../components/icons/dashboard/Clock.svelte';
  import RenewalIcon from '../components/icons/dashboard/Renewal.svelte';
  import ConversionRate from '../components/icons/dashboard/CoversionRate.svelte';
  import IQrate from '../components/icons/dashboard/IQrate.svelte';
  import WeightIcon from '../components/icons/dashboard/Weight.svelte';
  import PartnerIcon from '../components/icons/dashboard/Partner.svelte';
  import ProfileIcon from '../components/icons/dashboard/Profile.svelte';
</script>

<div
  class="w-auto max-w-sm transition duration-500 transform card custom-shadow hover:border-2 hover:shadow-lg hover:scale-110"
>
  <div class="p-4">
    <div class="flex items-center justify-between gap-4">
      <p class="text-lg font-semibold text-gray-label">{title}</p>
      <div
        class="flex items-center justify-center w-14 h-14 rounded-3xl"
        style={`background: ${
          title == 'Pending Bank Payout'
            ? '#E4E4FF'
            : title == 'Pending IQrate Payout'
            ? '#FFDED2'
            : title == 'Pending User Payout'
            ? '#FFDED2'
            : title == 'Pending Co-Broker Payout'
            ? '#FEF8EB'
            : title == 'Total Won Cases'
            ? '#D9F7E7'
            : title == 'Conversion Rate'
            ? '#FEF8EB'
            : title == 'Work-In-Progress Leads'
            ? '#FFDED2'
            : title == 'Rework Leads'
            ? '#FFDED2'
            : title == 'Renewal for the Month'
            ? '#F4E7DA'
            : title == 'Cases to Partnered Law Firms'
            ? '#FBEECE'
            : title == 'Leads Birthday for the Month'
            ? '#e4e4f0'
            : '#F4D7E3'
        }`}
      >
        {#if title == 'Pending Bank Payout'}
          <svelte:component this={PaymentIcon} />
        {:else if title == 'Pending IQrate Payout'}
          <svelte:component this={IQrate} />
        {:else if title == 'Pending User Payout'}
          <svelte:component this={ProfileIcon} />
        {:else if title == 'Pending Co-Broker Payout'}
          <svelte:component this={PartnerIcon} />
        {:else if title == 'Total Won Cases'}
          <svelte:component this={WonIcon} />
        {:else if title == 'Conversion Rate'}
          <svelte:component this={ConversionRate} />
        {:else if title == 'Work-In-Progress Leads'}
          <svelte:component this={ClockIcon} />
        {:else if title == 'Rework Leads'}
          <svelte:component this={ClockIcon} />
        {:else if title == 'Renewal for the Month'}
          <svelte:component this={RenewalIcon} />
        {:else if title == 'Cases to Partnered Law Firms'}
          <svelte:component this={WeightIcon} />
        {:else if title == 'Leads Birthday for the Month'}
          <svelte:component this={BirthdayIcon} />
        {:else}
          <span>?icon</span>
        {/if}
      </div>
    </div>
    <p class="mb-3 text-lg text-gray-label">
      {contentLabel}
    </p>
    <div>
      {#if type == 'info'}
        <span class="text-2xl font-medium" style="color: #77C19C"
          >{contentValue}</span
        >
      {:else}
        <Link to={buttonProps.link}>
          <button class="btn btn-ghost">{buttonProps.title}</button>
        </Link>
      {/if}
    </div>
  </div>
</div>
