<script>
  import { onMount } from 'svelte';

  import FormItem from '../components/forms/FormItem.svelte';

  export let label = 'Date Of Birth';
  export let value = '';

  let date;
  let month;
  let year;
  let eachValue = value.split('-');

  let currentYear;
  let paddedYear;

  onMount(() => {
    date = Number(eachValue[0]);
    month = Number(eachValue[1]);
    year = Number(eachValue[2]);

    currentYear = new Date().getFullYear();
    paddedYear = new Date().getFullYear() - 100;
  });

  $: value =
    ('0' + date).slice(-2) + '-' + ('0' + month).slice(-2) + '-' + year;
</script>

<div class="form-control w-full">
  <label for={label} class="label"
    ><span class="capitalize label-text text-gray-label">{label}</span></label
  >
  <div class="flex justify-between">
    <FormItem formType="select" name="title" className="w-32" bind:value={date}>
      {#each { length: 30 } as _, i}
        <option value={i + 1}>{i + 1}</option>
      {/each}
    </FormItem>
    <FormItem
      formType="select"
      name="title"
      className="w-32"
      bind:value={month}
    >
      {#each { length: 12 } as _, i}
        <option value={i + 1}>{i + 1}</option>
      {/each}
    </FormItem>
    <FormItem formType="select" name="title" className="w-32" bind:value={year}>
      {#each { length: 100 } as _, i}
        <option value={i + paddedYear} disabled={i > 88}
          >{i + paddedYear}</option
        >
      {/each}
    </FormItem>
  </div>
</div>
