<script>
  import Button from '../components/Button.svelte';
  import { createEventDispatcher } from 'svelte';
  const dispatch = createEventDispatcher();
  const closeIt = () => {
    dispatch('close');
  };
  const deleteData = () => {
    dispatch('delete');
  };
</script>

<div class="fixed inset-0 z-10 overflow-y-auto">
  <div
    on:click={closeIt}
    class="fixed inset-0 transition-opacity bg-gray-500 bg-opacity-75"
  />
  <div
    class="flex items-end justify-center min-h-screen px-4 pt-4 pb-20 text-center sm:block sm:p-0"
  >
    <span
      class="hidden sm:inline-block sm:align-middle sm:h-screen"
      aria-hidden="true">&#8203;</span
    >
    <div
      class="relative inline-block overflow-hidden text-left transition-all transform bg-white rounded-lg shadow-xl align-center sm:my-8 sm:align-middle sm:max-w-lg sm:w-full"
    >
      <div class="px-4 pt-5 pb-4 bg-white sm:p-6 sm:pb-4">
        <h3
          class="text-lg font-medium leading-6 text-center text-gray-label"
          id="modal-title"
        >
          Are you sure you want to delete this?
        </h3>
      </div>
      <div class="mx-16 sm:mx-32">
        <Button
          gradient={true}
          htmlType="button"
          text="Delete Now"
          className="rounded-2xl mb-3"
          btnclick={deleteData}
        />
        <Button
          gradientInverse={true}
          htmlType="button"
          text="Cancel"
          btnclick={closeIt}
          className="rounded-2xl mb-3"
        />
      </div>
    </div>
  </div>
</div>
