<script>
  import { createEventDispatcher } from 'svelte';
  import Button from '../components/Button.svelte';
  import FormItem from '../components/forms/FormItem.svelte';
  import { toastAlert } from '../utils/toaster';
  const dispatch = createEventDispatcher();
  export let loading = false;
  export let downloadAll;
  export let checkboxDownloadHandler;
  // for only export and cancle button
  export let onlyAll=false;
  let state = {
    data: '',
  };
  let dataList = [{ data: 'Selected' }, { data: 'All' }];

  const handleClose = () => {
    dispatch('close');
  };
  const handleNullData = () => {
    toastAlert('error', 'Please select any one dropdown');
  };
</script>

{#if onlyAll}
<div class="fixed inset-0 z-10 overflow-y-auto">
  <div
    class="fixed inset-0 transition-opacity bg-gray-500 bg-opacity-75"
    on:click={handleClose}
  />
  <div class="absolute top-0 z-50 right-2">
    <ul class="h-screen border w-80 menu bg-base-100">
      <div class="mx-6">
        <form action="">
          <div class="mt-8">
            <h1 class="text-lg font-bold text-center text-dark-red">Export</h1>
          </div>
          <div class="gap-3 w-72">
            <div class="mt-12 ml-3 w-60">
              {#if loading}
                <div>Exporting...</div>
              {:else}
                <div>
                  <div class="my-10">
                    <div class="my-4">
                      
                        <Button
                          text="Export to CSV"
                          className="rounded-2xl"
                          gradient={true}
                          btnclick={downloadAll}
                        />
                    </div>
                    <Button
                      text="Cancel"
                      className="rounded-2xl"
                      gradientInverse={true}
                      btnclick={handleClose}
                    />
                  </div>
                </div>
              {/if}
            </div>
          </div>
        </form>
      </div>
    </ul>
  </div>
</div>

{:else}
<div class="fixed inset-0 z-10 overflow-y-auto">
  <div
    class="fixed inset-0 transition-opacity bg-gray-500 bg-opacity-75"
    on:click={handleClose}
  />
  <div class="absolute top-0 z-50 right-2">
    <ul class="h-screen border w-80 menu bg-base-100">
      <div class="mx-6">
        <form action="">
          <div class="mt-8">
            <h1 class="text-lg font-bold text-center text-dark-red">Export</h1>
          </div>
          <div class="gap-3 w-72">
            <div class="mt-12 ml-3 w-60">
              {#if loading}
                <div>Exporting...</div>
              {:else}
                <div>
                  <FormItem
                    formType="select"
                    label="Data"
                    labelClass="text-dark-red text-lg"
                    name="bankName"
                    bind:value={state.data}
                  >
                    {#each dataList as list}
                      <option value={list.data}>{list.data}</option>
                    {/each}
                  </FormItem>
                  <div class="my-10">
                    <div class="my-4">
                      {#if state.data === 'Selected'}
                        {#if checkboxDownloadHandler}
                          <Button
                            text="Export to CSV"
                            className="rounded-2xl"
                            gradient={true}
                            btnclick={checkboxDownloadHandler}
                          />
                        {/if}
                      {:else if state.data === 'All'}
                        <Button
                          text="Export to CSV"
                          className="rounded-2xl"
                          gradient={true}
                          btnclick={downloadAll}
                        />
                      {:else}
                        <Button
                          text="Export to CSV"
                          className="rounded-2xl"
                          gradient={true}
                          btnclick={handleNullData}
                        />
                      {/if}
                    </div>
                    <Button
                      text="Cancel"
                      className="rounded-2xl"
                      gradientInverse={true}
                      btnclick={handleClose}
                    />
                  </div>
                </div>
              {/if}
            </div>
          </div>
        </form>
      </div>
    </ul>
  </div>
</div>
{/if}
