<script>
  import Button from '../components/Button.svelte';
  import { createEventDispatcher } from 'svelte';
  const dispatch = createEventDispatcher();
  export let onFilter;
  export let onResetFilter;
</script>

<div class="fixed inset-0 z-10 overflow-y-auto">
  <div
    class="fixed inset-0 transition-opacity bg-gray-500 bg-opacity-75"
    on:click={() => dispatch('close')}
  />
  <div class="absolute top-0 z-50 right-2">
    <ul
      class="w-full h-auto overflow-y-auto border rounded md:h-screen menu bg-base-100"
    >
      <div class="mx-4">
        <div class="flex items-center mt-8 space-x-2">
          <div class="w-full">
            <Button
              text="Reset"
              className="w-full text-lg bg-pink-50 text-pink-600 border-2 border-pink-50 hover:bg-pink-100 hover:border-pink-100"
              isRounded
              btnclick={onResetFilter}
            />
          </div>
          <div class="w-6 h-7">
            <button on:click={() => dispatch('close')}>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-7 h-7"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="2"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
                />
              </svg>
            </button>
          </div>
        </div>
        <slot />
        <div class="my-10">
          <Button
            text="Filter"
            className="w-100 text-lg rounded-2xl"
            gradient={true}
            btnclick={onFilter}
          />
        </div>
      </div>
    </ul>
  </div>
</div>
