<script>
  export let text = '';
  export let className = '';

  export let btnclick;
  export let btnValue;
  export let activeValue;
</script>

<button
  class={` ${className} w-auto text-center capitalize break-all py-2.5 text-xs border border-gray-400 rounded-full hover:border-dark-red ${
    btnValue === activeValue ? 'bg-dark-red text-white' : ''
  }`}
  on:click={btnclick}
>
  {text}
</button>
