<script>
  import BinIcon from './icons/Bin.svelte';
  import BinCancelIcon from './icons/BinCancel.svelte';
  import BinEditIcon from './icons/BinEdit.svelte';
  import BinUpDownIcon from './icons/BinUpDown.svelte';
  import BinSaveIcon from './icons/BinSave.svelte';
  import DuplicateIcon from './icons/Duplicate.svelte';

  export let htmlType = null;
  export let textIcon = null;

  export let text = '';

  export let className = '';
  export let disabled = false;

  //export let btnclick = null;
  export let shown = false;
  export let notification = false;
  export let filter = false;
  export let bin = false;
  export let binCancel = false;
  export let binEdit = false;
  export let binUpDown = false;
  export let binSave = false;
  export let duplicate = false;

  export const show = () => {
    shown = true;
    filter = !filter;
    notification = !notification;
  };
</script>

{#if bin}
  <button on:click class={`p-2 focus:outline-none ${className}`}>
    <BinIcon />
  </button>
{:else if binCancel}
  <button on:click>
    <BinCancelIcon />
  </button>
{:else if binEdit}
  <button on:click>
    <BinEditIcon />
  </button>
{:else if binUpDown}
  <button on:click class={`${className}`}>
    <BinUpDownIcon />
  </button>
{:else if binSave}
  <button on:click class={`${className}`} {disabled}>
    <BinSaveIcon />
  </button>
{:else if duplicate}
  <button on:click class={`p-2 focus:outline-none ${className}`}>
    <DuplicateIcon />
  </button>
{:else}
  <button
    type={htmlType === 'submit' ? 'submit' : 'button'}
    on:click={show}
    class={`btn rounded-lg bg-transparent border-1 border-dark-red custom-shadow hover:shadow-lg hover:bg-transparent ${className}`}
    {disabled}
  >
    {#if textIcon == null}
      {text}
    {:else}
      <svelte:component this={textIcon} />
    {/if}
  </button>

  {#if shown}
    <slot />
  {:else}
    <slot />
  {/if}
{/if}

<!-- <button
  type={htmlType === "submit" ? "submit" : "button"}
  on:click={btnclick}
  class={`btn rounded-lg bg-transparent border-0 custom-shadow hover:shadow-lg hover:bg-transparent ${className}`}
  {disabled}
>
  {#if textIcon == null}
    {text}
  {:else}
    <svelte:component this={textIcon} />
  {/if}
</button> -->
