<script>
  import Flatpickr from 'svelte-flatpickr';
  import 'flatpickr/dist/flatpickr.css';
  import 'flatpickr/dist/themes/light.css';

  let date = null;
  const flatpickrOptions = {
    element: '#my-picker',
  };
  export let lable = '';
  export let name = '';
  export let placeholder = '';
  export let value = '';
</script>

<div>
  <Flatpickr options={flatpickrOptions} bind:value={date} element="#my-picker">
    <div class="flatpickr" id="my-picker">
      <div>
        <label for="email" class="text-gray-label">{lable}</label>
        <div class="relative">
          <div
            class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"
          >
            <svg
              class="w-5 h-5 text-gray-500 dark:text-gray-400"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
              ><path
                fill-rule="evenodd"
                d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
                clip-rule="evenodd"
              /></svg
            >
          </div>
          <input
            data-input
            id={name}
            {name}
            {placeholder}
            bind:value
            class="block w-full p-3 pl-10 text-gray-900 border border-gray-300 rounded-lg sm:text-sm focus:outline-none focus:border-dark-red"
          />
        </div>
      </div>
    </div>
  </Flatpickr>
</div>
