<script>
  import { onMount } from 'svelte';

  import Button from './Button.svelte';

  export let selectTitle = '';
  export let selectPlaceholder = '';
  export let selectValue = [];
  export let options = [];
  let showOptions = false;
  let menu = null; // menu wrapper DOM reference
  onMount(() => {
    const handleOutsideClick = (event) => {
      if (showOptions && !menu.contains(event.target)) {
        showOptions = false;
      }
    };
    const handleEscape = (event) => {
      if (showOptions && event.key === 'Escape') {
        showOptions = false;
      }
    };
    // add events when element is added to the DOM
    document.addEventListener('click', handleOutsideClick, false);
    document.addEventListener('keyup', handleEscape, false);
    // remove events when element is removed from the DOM
    return () => {
      document.removeEventListener('click', handleOutsideClick, false);
      document.removeEventListener('keyup', handleEscape, false);
    };
  });

  const handleOK = () => {
    showOptions = false;
  };
  const handleClear = () => {
    selectValue = [];
  };
</script>

<div class="w-full" bind:this={menu}>
  <div class="relative mb-5">
    <p class="mb-2 text-lg text-dark-red">{selectTitle}</p>
    <input
      class="w-full select select-bordered multiselect"
      value={options
        .filter((option) => selectValue.includes(option.value))
        .map((option) => option.label)
        .join(', ')}
      placeholder={selectPlaceholder}
      on:focus={() => {
        showOptions = true;
      }}
      type="text"
      disabled={showOptions}
    />
    {#if showOptions}
      <div
        class="absolute z-10 grid grid-cols-1 w-full h-auto mt-2 bg-white border rounded-md"
      >
        <div class="grid grid-cols-1 w-full h-auto max-h-96 overflow-y-scroll">
          <div class="p-3">
            {#each options as option}
              <div class="flex">
                <div>
                  <input
                    type="checkbox"
                    class="w-5 h-5 border border-gray-300 checkbox checkbox-primary"
                    bind:group={selectValue}
                    value={option.value}
                  />
                </div>
                <p class="ml-2 text-gray-label">
                  {option.label}
                </p>
              </div>
            {/each}
          </div>
        </div>

        <div class="grid grid-cols-1 gap-4 my-2 p-2 w-full h-auto">
          <Button gradient htmlType="button" text="OK" btnclick={handleOK} />

          <Button
            isOutlined
            htmlType="button"
            text="Clear"
            btnclick={handleClear}
          />
        </div>
      </div>
    {/if}
  </div>
</div>

<style>
  .multiselect::placeholder {
    font-weight: 600;
    color: inherit;
  }
</style>
