<script>
  import { Link } from 'svelte-routing';
  export let to = '';

  function getProps({ href, isPartiallyCurrent, isCurrent }) {
    // ToCheck: -stan, removed location props
    const isActive = href === '/' ? isCurrent : isPartiallyCurrent || isCurrent;
    // The object returned here is spread on the anchor element's attributes
    if (isActive) {
      return { class: 'active' };
    }
    return {};
  }
</script>

<Link {to} {getProps}>
  <slot />
</Link>

<style>
  :global(a) {
    color: mintcream;

    font-weight: 400;

    text-decoration: none;
  }
  :global(a:hover) {
    color: rgb(154, 92, 212);
    text-decoration: underline;
    cursor: pointer;
  }
  :global(a.active) {
    color: rgb(110, 39, 177);
    text-decoration: none;
    cursor: default;
    user-select: none;
  }
</style>
