<svg width="61" height="61" viewBox="0 0 61 61" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M30.5 0C13.6615 0 0 13.6615 0 30.5C0 47.3385 13.6615 61 30.5 61C47.3385 61 61 47.3385 61 30.5C61 13.6615 47.3385 0 30.5 0ZM46.1948 23.1292L28.276 41.1115C27.7043 41.6832 26.8781 42.0644 26.0519 42.0644C25.2256 42.0644 24.3999 41.7466 23.8277 41.1115L14.8052 32.0885C13.5345 30.8178 13.5345 28.848 14.8052 27.5769C16.0759 26.3061 18.0457 26.3061 19.3169 27.5769L26.0522 34.3122L41.747 18.6174C43.0177 17.3466 44.9875 17.3466 46.2587 18.6174C47.4656 19.8885 47.4656 21.8582 46.1948 23.1291L46.1948 23.1292Z" fill="#34A853"/>
</svg>
    