<script>
  import { createEventDispatcher, onMount } from 'svelte';
  import { LightPaginationNav } from 'svelte-paginate';
  import moment from 'moment';
  import NoDataFound from '../components/icons/NoDataFound.svelte';
  import PdfDownloadIcon from './icons/PdfDownload.svelte';
  import jsPDF from 'jspdf';
  import 'jspdf-autotable';
  import { tooltip } from '../components/ToolTip';

  const dispatch = createEventDispatcher();

  export let title = '';
  export let subTitle = '';
  export let isCheckbox = true;
  export let pagination = true;
  export let className = '';

  export let tableColumn = [];
  export let tableDatas = [];

  export let total = 0;
  export let currentPage = 1;
  export let onChangePage = () => {};
  //pagination
  export let pageSize = 10;

  // All checkbox select
  let names = tableDatas;
  export let selectedCheckbox = [];
  let selected = [];
  let allCheckbox = false;
  const selectAllCheckbox = () => {
    allCheckbox === true ? (selected = names) : (selected = []);
    clickCheck();
  };
  //Download data to PDF
  const downloadPDF = () => {
    const doc = new jsPDF();
    doc.autoTable({ html: '#my-table' });
    doc.save('table.pdf');
  };

  const clickCheck = (e) => {
    dispatch('SingleCheckbox', e);
    dispatch('CheckBoxClick', [selected]);
  };

  onMount(() => {
    localStorage.removeItem('userChecklist');
    localStorage.removeItem('leadChecklist');
    localStorage.removeItem('payoutChecklist');
    selected = tableDatas.filter((x) => selectedCheckbox.includes(x.id));
  });
</script>

<main>
  <!-- <button on:click={downloadPDF}>Download PDF</button> -->
  <h1 class="mb-5 text-2xl text-dark-red">{title}</h1>
  <p class="mb-5">{subTitle}</p>
  <div class="flex flex-col">
    <div class="overflow-x-auto ">
      <div class="inline-block w-full py-2 sm:px-6 lg:px-8">
        <div class=" sm:rounded-lg">
          {#if tableDatas.length < 1}
            <div class="flex flex-col items-center justify-center">
              <NoDataFound />
              <p class="text-lg font-semibold text-gray-label">No Data Found</p>
            </div>
          {:else}
            <table
              id="my-table"
              class="min-w-full border-t border-b divide-y divide-gray-200"
            >
              <thead class="border-t">
                <tr class="border-t">
                  {#if isCheckbox}
                    <th
                      class="px-2 py-4 tracking-wider whitespace-nowrap text-lef"
                    >
                      <input
                        bind:checked={allCheckbox}
                        on:change={selectAllCheckbox}
                        type="checkbox"
                        class="border-gray-300 cursor-pointer checkbox checkbox-primary"
                      />
                    </th>
                    <!-- <CheckBox /> -->
                  {/if}
                  {#each tableColumn as head}
                    <th
                      class="{className
                        ? ''
                        : 'whitespace-nowrap'} px-2 py-3 font-sans font-medium tracking-wider {head.align
                        ? `text-${head.align}`
                        : 'text-left'} capitalize  text-dark-red"
                    >
                      {head.title}
                    </th>
                  {/each}
                </tr>
              </thead>
              <tbody class="bg-white divide-y divide-gray-200 text-gray-label">
                {#each tableDatas as datas, index}
                  <tr
                    class={`${
                      index % 2 === 0 ? 'bg-gray-50' : ''
                    } hover:shadow-lg`}
                  >
                    {#if isCheckbox}
                      <!-- <CheckBox group={selected} value={datas.id} /> -->
                      <td class="px-2 py-2.5 text-left">
                        <input
                          class="border border-gray-300 checkbox checkbox-primary"
                          type="checkbox"
                          bind:group={selected}
                          value={datas}
                          on:change={() => clickCheck(datas.id)}
                        />
                      </td>
                    {/if}
                    <!-- first user and second user -->
                    {#each tableColumn as tabHead}
                      {#if tabHead.key === 'invoice_pdf'}
                        <td>
                          <a
                            href={`${datas[tabHead.key]}`}
                            target="_blank"
                            class="flex justify-center underline hover:text-gray-900 text-dark-red"
                          >
                            <PdfDownloadIcon /></a
                          >
                        </td>
                      {:else if tabHead.key === 'transaction_pdf'}
                        <td>
                          <a
                            href={`${datas.charges.data[0].receipt_url}`}
                            target="_blank"
                            class={`underline hover:text-gray-900 text-dark-red flex justify-center ${
                              datas.charges.data[0].receipt_url
                                ? ''
                                : 'cursor-not-allowed'
                            }`}
                          >
                            <PdfDownloadIcon /></a
                          >
                        </td>
                      {:else if tabHead.key === 'customAction'}
                        <td>
                          {#if datas.code}
                            <svelte:component
                              this={tabHead.component.component}
                              {...(null,
                              {
                                propsId: datas.code,
                                props: tabHead.component.props,
                              })}
                            />
                          {:else}
                            <svelte:component
                              this={tabHead.component.component}
                              {...(null,
                              {
                                propsId: datas.id,
                                props: tabHead.component.props,
                              })}
                            />
                          {/if}
                        </td>
                      {:else if tabHead.key === 'created' && datas[tabHead.key].length > 10}
                        <td class="px-2 py-2.5 text-left">
                          {datas[tabHead.key]
                            .slice(0, 10)
                            .split('-')
                            .reverse()
                            .join('-')}
                        </td>
                      {:else if tabHead.key === 'paid_at' || tabHead.key === 'created' || tabHead.key === 'period_start' || tabHead.key === 'period_end'}
                        <td class="px-2 py-2.5 text-left">
                          {moment.unix(datas[tabHead.key]).format('DD-MM-YYYY')}
                        </td>
                      {:else if tabHead.key === 'remarks' || tabHead.key === 'message'}
                        <td>
                          {#if datas[tabHead.key] !== null && datas[tabHead.key].length > 15}
                            <p
                              use:tooltip={{
                                text: datas[tabHead.key],
                              }}
                              class="relative flex p-2 "
                            >
                              {datas[tabHead.key]
                                ? datas[tabHead.key].slice(0, 15) +
                                  (datas[tabHead.key].length > 15 ? '...' : '')
                                : '-'}
                            </p>
                          {:else}
                            <p class="relative flex p-2 ">
                              {datas[tabHead.key] === null
                                ? '-'
                                : datas[tabHead.key]}
                            </p>
                          {/if}
                        </td>
                      {:else if tabHead.renderHtml}
                        {@html `<td>${tabHead.renderHtml(
                          datas[tabHead.key],
                          datas,
                        )}</td>`}
                      {:else if tabHead.tooltip && tabHead.renderText}
                        <td class="px-2 py-2.5 text-left">
                          {#if tabHead.renderText(datas[tabHead.key]).length > 15}
                            <p
                              class="relative flex p-2"
                              use:tooltip={{
                                text: tabHead.renderText(datas[tabHead.key]),
                              }}
                            >
                              {tabHead
                                .renderText(datas[tabHead.key])
                                .slice(0, 15) +
                                (tabHead.renderText(datas[tabHead.key]).length >
                                15
                                  ? '...'
                                  : '') || '-'}
                            </p>
                          {:else}
                            <p class="relative flex p-2">
                              {tabHead.renderText(datas[tabHead.key]) || '-'}
                            </p>
                          {/if}
                        </td>
                      {:else if tabHead.key === 'banker' && typeof datas[tabHead.key] !== 'object'}
                        <td class="px-2 py-2.5 text-left capitalize"
                          >{datas[tabHead.key]}</td
                        >
                      {:else if tabHead.key === 'client' || tabHead.key === 'agent' || tabHead.key === 'co_broke_agent' || tabHead.key === 'banker' || tabHead.key === 'co_broker'}
                        <!-- {#if typeof tabHead.key === 'object'} -->
                        <td class="px-2 py-2.5 text-left">
                          {#if datas[tabHead.key] !== null}
                            {#each Object.values(datas[tabHead.key]) as d}
                              <p class="capitalize whitespace-nowrap">{d}</p>
                            {/each}
                          {:else}
                            -
                          {/if}
                        </td>
                        <!-- {:else}
                        <td
                        class="px-2 py-2.5 text-left"
                        >{datas[tabHead.key]}</td
                      >
                        {/if} -->
                      {:else if tabHead.key === 'loan_acceptance_date'}
                        <td class="px-2 py-2.5 text-left whitespace-nowrap"
                          >{tabHead.render
                            ? tabHead.render(datas[tabHead.key])
                            : datas[tabHead.key]}</td
                        >
                      {:else}
                        <td
                          class={`px-2 py-2.5 text-left ${
                            tabHead.key === 'email' ||
                            tabHead.key === 'referal_code'
                              ? ` `
                              : `capitalize`
                          }`}
                          >{tabHead.render
                            ? tabHead.render(datas[tabHead.key])
                            : datas[tabHead.key]}</td
                        >
                      {/if}
                    {/each}
                  </tr>
                {/each}
              </tbody>
            </table>
          {/if}
        </div>
      </div>
    </div>
  </div>
  {#if pagination}
    <div class="flex justify-end mt-4 mr-6">
      <LightPaginationNav
        totalItems={total}
        {pageSize}
        bind:currentPage
        limit={1}
        showStepOptions={true}
        on:setPage={(e) => {
          currentPage = e.detail.page;
          onChangePage(e.detail.page);
        }}
      />
    </div>
  {/if}
</main>

<style>
  :global(.light-pagination-nav .option.active) {
    background-color: #ffffff !important;
    border: #df5356 solid 1px !important;
    color: #df5356 !important;
    padding: 6px !important;
  }
  :global(.light-pagination-nav .option) {
    padding: 6px !important;
  }
  :global(.option.number, .light-pagination-nav .option.ellipsis) {
    padding: 5px 10px !important;
    color: #df5356 !important;
  }
  :global(.pagination-nav) {
    box-shadow: 0 1px 2px rgb(0 0 0 / 0%) !important;
    height: 35px;
  }
  /* handle hover */
  :global(.option.ellipsis:hover) {
    padding: 5px 10px !important;
    color: #ffffff !important;
    background-color: #df5356 !important;
  }
  :global(.option.number:hover) {
    background-color: #df5356 !important;
    border: #df5356 2px solid !important;
    color: white !important;
    padding: 6px !important;
  }
  /* arrow buttons part with svg */
  :global(.option.prev) {
    color: #ffffff !important;
    background-color: #df5356 !important;
  }
  :global(.option.next) {
    color: #ffffff !important;
    background-color: #df5356 !important;
  }
  :global(.option.prev svg) {
    width: 16px !important;
  }
  :global(.option.next svg) {
    width: 16px !important;
  }
  :global(.option.prev svg path) {
    fill: currentcolor !important;
  }
  :global(.option.next svg path) {
    fill: currentcolor !important;
  }
  /* for hover of arrows */
  /* :global(.option.prev:hover) {
      background-color: #DF5356 !important;
  }
  :global(.option.next:hover) {
      background-color: #DF5356 !important;
  } */
  /* responsive part */
  @media screen and (min-width: 320px) {
    :global(.option.number, .light-pagination-nav .option.ellipsis) {
      padding: 5px 6px !important;
      font-size: 14px !important;
    }
    :global(.light-pagination-nav .option.active) {
      padding: 6px !important;
    }
    :global(.option.number:hover) {
      padding: 6px !important;
    }
    :global(.light-pagination-nav .option) {
      padding: 6px !important;
    }
  }
  @media screen and (min-width: 620px) {
    :global(.option.number, .light-pagination-nav .option.ellipsis) {
      padding: 5px 7px !important;
      font-size: 14px !important;
    }
    :global(.light-pagination-nav .option.active) {
      padding: 9px !important;
    }
    :global(.option.number:hover) {
      padding: 9px !important;
    }
    :global(.light-pagination-nav .option) {
      padding: 6px !important;
    }
  }
  @media screen and (min-width: 1000px) {
    :global(.option.number, .light-pagination-nav .option.ellipsis) {
      padding: 5px 10px !important;
      font-size: 15px !important;
    }
    :global(.light-pagination-nav .option.active) {
      padding: 10px !important;
    }
    :global(.option.number:hover) {
      padding: 9px !important;
    }
    :global(.light-pagination-nav option) {
      padding: 8px !important;
    }
  }
</style>
