<script>
  import { Link } from 'svelte-navigator';
  import CheckBox from '../components/forms/FormCheckbox.svelte';
  import { LightPaginationNav, paginate } from 'svelte-paginate';
  import BinButton from '../components/IconButton.svelte';
  import { createEventDispatcher } from 'svelte';
  import NoDataFound from '../components/icons/NoDataFound.svelte';

  const dispatch = createEventDispatcher();
  // const navigate = useNavigate();
  export let tableHead = [];
  export let tableData = [];
  export let productShowDelete = true;

  export let title = '';
  export let subTitle = '';
  export let action = '';
  export let editAction = '';
  export let isCheckbox = true;
  export let upDownBtn = false;
  export let pagination = true;
  export let actionRoute = '';
  export let className = '';
  export let onChangePage = () => {};
  export let total = 0;

  //pagination
  // let items = tableData;
  export let currentPage = 1;
  let pageSize = 10;
  // $: paginatedtable = paginate({ items, pageSize, currentPage });

  // All checkbox select
  let names = tableData.map((item) => item.id);
  let selected = [];
  let allCheckbox = false;
  const selectAllCheckbox = () => {
    allCheckbox === true ? (selected = names) : (selected = []);
  };
  const remove = () => {
    // dispatch('delete', { url: `${row.id}` }); ToCheck: -useful?
    // navigate(`/${actionRoute}/${row.id}`);
  };
  // //Edit Button
  let field = '';
  let saveBtn = false;
  const Edit = () => {
    // let enteredValue = e.target.value
    // name=enteredValue;
    saveBtn = true;
    field.focus();
  };
  const save = () => {
    // console.log('save');
  };
</script>

<main>
  <h1 class="mb-5 text-2xl text-dark-red">{title}</h1>
  <p class="mb-5">{subTitle}</p>
  <div class="flex flex-col">
    <div class="overflow-x-auto">
      <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
        <div class="overflow-hidden sm:rounded-lg ">
          {#if tableData.length < 1}
            {#if productShowDelete === true}
              <div class="flex flex-col items-center justify-center">
                <NoDataFound />
                <p class="text-lg font-semibold text-gray-label">
                  No Data Found
                </p>
              </div>
            {/if}
          {:else}
            <table
              class="min-w-full border-t border-b divide-y divide-gray-200"
            >
              <thead class="border-t">
                <tr class="border-t">
                  {#if isCheckbox}
                    <input
                      bind:checked={allCheckbox}
                      on:change={selectAllCheckbox}
                      type="checkbox"
                      class="m-1 mt-3 border-gray-300 cursor-pointer checkbox checkbox-primary"
                    />
                    <!-- <CheckBox /> -->
                  {/if}
                  {#each tableHead as table}
                    <th
                      class="{className
                        ? ''
                        : 'whitespace-nowrap'} px-2 py-3 font-sans font-medium tracking-wider text-left capitalize  text-dark-red"
                    >
                      {table.heading}
                    </th>
                  {/each}
                </tr>
              </thead>
              <tbody class="bg-white divide-y divide-gray-200 text-gray-label">
                {#each Object.values(tableData) as row, index (row.id)}
                  <tr
                    class={`${
                      index % 2 === 0 ? 'bg-gray-50' : ''
                    } hover:shadow-lg`}
                  >
                    {#if isCheckbox}
                      <CheckBox group={selected} value={row.id} />
                    {/if}
                    {#if upDownBtn}
                      <BinButton binUpDown={true} on:click={remove} />
                    {/if}
                    {#each Object.values(row.details) as cell}
                      <td
                        class="{className
                          ? ''
                          : 'whitespace-nowrap'} px-2 py-2.5 text-sm text-left"
                      >
                        {#if typeof cell === 'object' && cell !== null}
                          {#each Object.values(cell) as c, i}
                            <p class="capitalize">{c}</p>
                          {/each}
                        {:else if upDownBtn}
                          <input
                            type="text"
                            value={cell}
                            bind:this={field}
                            class="w-full px-3 py-2 focus:outline-none focus:border focus:ring-gray-300 focus:ring-2"
                          />
                        {:else if cell.includes('@') && (cell.includes('.com') || cell.includes('.net'))}
                          {cell}
                        {:else}
                          <span class="capitalize"> {cell} </span>
                        {/if}
                      </td>
                    {/each}
                    <td
                      class="{className
                        ? ''
                        : 'whitespace-nowrap'} px-2 py-2.5 text-sm font-medium text-right"
                    >
                      <Link
                        to=""
                        class="underline hover:text-gray-900 text-dark-red"
                      >
                        {#if editAction === 'edit'}
                          <div class="flex justify-end space-x-2">
                            {#if saveBtn}
                              <BinButton binSave={true} on:click={save} />
                            {:else}
                              <BinButton binEdit={true} on:click={Edit} />
                            {/if}
                            <BinButton bin={true} on:click={remove} />
                          </div>
                        {:else if action === 'delete'}
                          <BinButton
                            bin={true}
                            on:click={dispatch('delete', `${row.id}`)}
                          />
                        {:else}
                          <Link to={`/${actionRoute}/${row.id}`}>
                            {action}
                          </Link>
                        {/if}
                        <!-- {row.id} here is the id to send in the url -->
                      </Link>
                    </td>
                  </tr>
                {/each}
              </tbody>
            </table>
          {/if}
        </div>
      </div>
    </div>
  </div>
  {#if pagination}
    <div class="flex justify-end mt-4 mr-4">
      <LightPaginationNav
        totalItems={total}
        {pageSize}
        bind:currentPage
        limit={1}
        showStepOptions={true}
        on:setPage={(e) => {
          currentPage = e.detail.page;
          onChangePage(e.detail.page);
        }}
      />
    </div>
  {/if}
</main>
