<script>
  import Dropzone from 'svelte-file-dropzone';
  import { toastAlert } from '../../../../../utils/toaster';
  import { fetchApi } from '../../../../../services/api';
  import { useNavigate, useParams } from 'svelte-navigator';
  import Toggle from '../../../../../components/forms/FormToggle.svelte';
  import { onMount } from 'svelte';
  import * as yup from 'yup';
  import { Form, Message } from 'svelte-yup';
  import Formitems from '../../../../../components/forms/FormItem.svelte';
  import Button from '../../../../../components/Button.svelte';

  const params = useParams();
  const navigate = useNavigate();
  // dropzone
  let files = {
    accepted: [],
    rejected: [],
  };
  let fileTooBig = null;
  let fileSize = null;
  let fileFormat = '';
  // validate
  let submitted = false;
  let isValid;

  $: checkDoc =
    files.accepted[0] &&
    (files.accepted[0].type === 'image/jpeg' ||
      files.accepted[0].type === 'image/png' ||
      files.accepted[0].type === 'application/pdf' ||
      files.accepted[0].type === 'image/jpg' ||
      files.accepted[0].type === 'image/tiff');

  // Checking for file size
  const units = ['bytes', 'KB', 'MB', 'GB'];

  let resource_categories = [
    { value: 'document', label: 'Document' },
    { value: 'pdf', label: 'PDF' },
    { value: 'excel', label: 'Excel' },
  ];
  const fields = {
    name: '',
    toggle: false,
    link: '',
    resource_category: '',
    document: null,
  };

  function handleFilesSelect(e) {
    const { acceptedFiles, fileRejections } = e.detail;
    // check size less than 3MB
    let size = acceptedFiles[0].size / 1024 / 1024 / 1024;
    if (size > 3) {
      toastAlert('error', 'Max size is 3MB');
    } else {
      files.accepted = [...files.accepted, ...acceptedFiles];
      files.rejected = [...files.rejected, ...fileRejections];
    }
  }
  // dropzone allow to remove the uploaded file
  function handleRemoveAll() {
    files.accepted = [];
  }
  // checking for file size
  $: bytesCkeck = (el) => {
    if (el.innerHTML.length) {
      let x = el.innerHTML;
      let l = 0,
        n = parseInt(x, 10) || 0;

      while (n >= 1024 && ++l) {
        n = n / 1024;
      }
      el.innerHTML = n.toFixed(n < 10 && l > 0 ? 1 : 0) + ' ' + units[l];
      fileTooBig = Number(n.toFixed(n < 10 && l > 0 ? 1 : 0));
      fileFormat = units[l];
    }
  };
  let back = () => {
    navigate('/resources/list');
  };
  const onToggle = () => {
    fields.toggle = !fields.toggle;
  };
</script>

<main>
  <div class="">
    <h2
      class="my-6 ml-6 text-2xl font-semibold lg:mt-6 lg:mb-10 lg:text-3xl text-dark-red"
    >
      Resources
    </h2>
    <div class="p-6 border shadow-lg drop-shadow-lg bg-base-100 rounded-box">
      <!-- <Form {schema} {fields} submitHandler={formSubmit} {submitted}> -->
      <div class="flex flex-col w-full md:w-1/2">
        <Formitems
          className="w-full"
          label="Title"
          name="name"
          bind:value={fields.name}
          placeholder="Name"
        />
        <div class="mt-4">
          <div class="text-sm text-gray-label">Upload</div>
          <div class="flex mt-3 space-x-6">
            <p>Link</p>
            <Toggle Green={true} checked={fields.toggle} onChange={onToggle} />
            <p>Document</p>
          </div>
        </div>
        {#if fields.toggle === false}
          <div class="mt-6">
            <Formitems
              htmlType="url"
              className="w-full"
              label="Link"
              name="link"
              bind:value={fields.link}
              placeholder="Enter url link"
            />
          </div>
        {:else}
          <div class="mt-6">
            <label
              for="file"
              class="mb-2 capitalize label-text text-gray-label"
            >
              Attach Documents*
            </label>

            <Dropzone
              id="file"
              on:drop={handleFilesSelect}
              name="file"
              bind:input={fields.document}
            >
              <button
                class="flex flex-col items-center space-y-4 focus:outline-none"
              >
                <span class="inline-block">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="w-5 h-5 md:w-6 md:h-6"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    stroke-width="2"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-8l-4-4m0 0L8 8m4-4v12"
                    />
                  </svg>
                </span>
                <p>Drag and Drop here</p>
              </button>
              <p>OR</p>
              <p class="font-normal underline cursor-pointer text-dark-red">
                Browse files
              </p>
            </Dropzone>
            {#if !checkDoc}
              <div class="mt-2 mb-2 text-left">
                <Message name="file" />
              </div>
            {/if}

            {#if files.accepted.length > 1}
              <p class="my-2 text-sm text-red-400">
                Please note only one file can be added at a time
              </p>
            {/if}
            {#if fileTooBig && fileFormat === 'MB' && fileTooBig > 3}
              <p class="my-2 text-sm text-red-400">
                Please note the max file size accepted is 3MB
              </p>
            {/if}
            <div style="margin: 5px;">
              {#each files.accepted as item, index}
                {#if index === 0}
                  <div class="flex flex-col justify-center my-2 ">
                    <div class="flex items-start justify-between space-x-2">
                      <div class="w-4/5 text-gray-500">{item.name}</div>
                      <button
                        class="flex items-center justify-center w-5 h-5 border rounded-full border-dark-red"
                        on:click={handleRemoveAll}
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="w-4 h-4 text-gray-500"
                          viewBox="0 0 20 20"
                          fill="currentColor"
                        >
                          <path
                            fill-rule="evenodd"
                            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                            clip-rule="evenodd"
                          />
                        </svg>
                      </button>
                    </div>
                    <div class="flex w-full text-xs text-gray-400">
                      (<span class="inline-block" use:bytesCkeck
                        >{item.size}</span
                      >)
                    </div>
                  </div>
                {/if}
              {/each}
            </div>
          </div>
        {/if}
        <div class="mt-4">
          <Formitems
            formType="select"
            name="resource_category"
            label="Resource Category"
            defaultSelectValue={''}
            bind:value={fields.resource_category}
          >
            {#each resource_categories as format}
              <option value={format.value}>{format.label}</option>
            {/each}
          </Formitems>
        </div>

        <div class="mt-10 md:flex md:justify-end">
          <div class="w-full mt-4 md:w-32">
            <Button gradient={true} htmlType="submit" text="Save" />
          </div>
          <div class="w-full mt-4 md:w-32 md:ml-3">
            <Button
              gradientInverse={true}
              htmlType={'button'}
              isOutlined={true}
              text={'Back'}
              btnclick={back}
            />
          </div>
        </div>
      </div>
      <!-- </Form> -->
    </div>
  </div>
</main>
