<script>
  import { Link } from 'svelte-navigator';
  import { onMount } from 'svelte';
  import { fetchApi } from '../../../../../services/api';

  import _ from 'lodash';

  let param = 'display_order';
  let order = 'asc';

  let basicModuleResult = [];

  onMount(async () => {
    basicModule();
  });

  const basicModule = async () => {
    const res = await fetchApi(
      'GET',
      `trainings/search?membership_types=premium-plus&training_category=ApplicationDemo`,
      null,
      'cmsApi',
    );

    const basicList = await res.json();
    basicModuleResult = basicList;
    if (res.status === 403) {
      if (basicList.name === 'MEMBERSHIP_ACL_CHECK') {
        toastAlert(
          'error',
          basicList.message
            ? basicList.message
            : 'We have encountered a technical difficulty. Please try again later.',
        );
      } else {
        toastAlert(
          'error',
          basicList.detail
            ? basicList.detail
            : 'We have encountered a technical difficulty onboarding you. Please try again later.',
        );
      }
    }
  };
</script>

<section>
  <div class="bg-white rounded-lg">
    <div
      class="max-w-2xl px-4 py-12 mx-auto sm:py-8 sm:px-6 lg:max-w-7xl lg:px-8"
    >
      <h2 class="sr-only">Training</h2>

      <div
        class="grid grid-cols-1 gap-y-10 sm:grid-cols-2 gap-x-6 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8"
      >
        {#each _.orderBy(basicModuleResult, [param], [order]) as basicModule (basicModule.display_order)}
          <Link
            to="/training/application-demo{`/${basicModule.id}`}"
            class="group"
          >
            <div
              class="w-full h-40 overflow-hidden bg-gray-200 rounded-lg aspect-w-1 aspect-h-1 xl:aspect-w-7 xl:aspect-h-8"
            >
              <!-- {#if basicModule.media}
                <img
                  src={`https://iqrate-strapi.dprizm.dev${basicModule.media.url}`}
                  alt="noImage."
                  class="object-cover object-center w-full h-full group-hover:opacity-75"
                />
              {:else} -->

              {#if basicModule.Thumbnail}
                <!-- src={`https://iqrate-strapi.dprizm.dev${basicModule.Thumbnail.url}`} -->
                <img
                  src={basicModule.Thumbnail.url}
                  alt="noImage."
                  class="object-cover object-center w-full h-full group-hover:opacity-75"
                />
              {:else}
                <div class="flex items-center justify-center w-full h-full">
                  <img
                    src="/assets/images/logo.png"
                    alt="noImage."
                    class="flex items-center justify-center group-hover:opacity-75"
                  />
                </div>
              {/if}

              <!-- {/if} -->
            </div>
            <h3 class="mt-4 text-base text-left capitalize text-gray-label">
              {basicModule.Title}
            </h3>
            <!-- <p class="mt-1 text-sm text-gray-400">1hr 20 mins 1 Module</p> -->
          </Link>
        {/each}
      </div>
    </div>
  </div>
</section>
