<script>
  import { useParams } from 'svelte-navigator';
  import { fetchApi } from '../../../../../services/api';

  import { onMount } from 'svelte';

  import BackArrow from '../../../../../components/icons/BackArrow.svelte';

  const params = useParams();
  $: editId = $params.id;

  let basicDetailsResult = [];

  onMount(async () => {
    basicDetailsModule();
  });

  const basicDetailsModule = async () => {
    const res = await fetchApi('GET', `trainings/${editId}`, null, 'cmsApi');

    const basicList = await res.json();
    basicDetailsResult = basicList;
    if (res.status === 403) {
      if (basicList.name === 'MEMBERSHIP_ACL_CHECK') {
        toastAlert(
          'error',
          basicList.message
            ? basicList.message
            : 'We have encountered a technical difficulty. Please try again later.',
        );
      } else {
        toastAlert(
          'error',
          basicList.detail
            ? basicList.detail
            : 'We have encountered a technical difficulty onboarding you. Please try again later.',
        );
      }
    }
  };
</script>

<div
  class="flex w-full h-10 pt-1 mt-4 text-3xl font-bold text-dark-red rounded-xl"
>
  <div class="mt-2.5">
    <a href="/training">
      <BackArrow />
    </a>
  </div>
  <div
    class="w-full h-10 pt-1 pl-3 text-3xl font-bold text-dark-red rounded-xl"
  >
    Training
  </div>
</div>
<div class="mt-6">
  <h1 class="text-xl font-bold">{basicDetailsResult.Title}</h1>
  <div class="flex text-gray-label">
    <div>
      {basicDetailsResult.publishedAt
        ? basicDetailsResult.publishedAt
            .slice(0, 10)
            .split('-')
            .reverse()
            .join('-') + ''
        : basicDetailsResult.publishedAt}
    </div>
    <!-- <div>4 min read</div> -->
  </div>
  <div class="text-justify text-gray-600">
    <p class="mt-4">
      {basicDetailsResult.Body}
    </p>
  </div>
  <div class="my-6">
    {#if basicDetailsResult.Media}
      <!-- {basicDetailsResult.Media.ext} -->
      {#if basicDetailsResult.Media.ext === '.mp4' || basicDetailsResult.Media.ext === '.mpeg' || basicDetailsResult.Media.ext === '.avi' || basicDetailsResult.Media.ext === '.mpg' || basicDetailsResult.Media.ext === '.mkv'}
        <!-- src={`https://iqrate-strapi.dprizm.dev${basicDetailsResult.Media.url}`} -->
        <video class="w-full" height="720" controls>
          <source src={basicDetailsResult.Media.url} type="video/mp4" />
        </video>
      {:else}
        <!-- src={`https://iqrate-strapi.dprizm.dev${basicDetailsResult.Media.url}`} -->
        <img
          src={basicDetailsResult.Media.url}
          class="w-full rounded-lg "
          alt="noImage"
        />
      {/if}
    {/if}
  </div>
</div>
