<script>
  import { Router, Route, Link } from 'svelte-navigator';

  import ApplicationDemoDetails from '../ApplicationDemo/ApplicationDemoDetails.svelte';
</script>

<Router>
  <Route path=":id" let:params><ApplicationDemoDetails id={params.id} /></Route>
</Router>
