<script>
  import { Tab, TabList, TabPanel, Tabs } from 'svelte-tabs';
  import { toastAlert } from '../../../../utils/toaster';
  import { fetchApi } from '../../../../services/api';
  import { useNavigate } from 'svelte-navigator';
  import * as yup from 'yup';
  import { Form, Message } from 'svelte-yup';
  import FormItem from '../../../../components/forms/FormItem.svelte';
  import Button from '../../../../components/Button.svelte';

  const navigate = useNavigate();
  // Add tab
  let submitted = false;
  let isValid;
  let fields = {
    name: '',
    email: '',
    priority: 0,
    remarks: null,
    status: true,
  };
  let status_list = [{ status: true }, { status: false }];

  let schema = yup.object().shape({
    name: yup.string().required().max(254).label('Law Firm'),
    email: yup.string().required().email().label('Email'),
    priority: yup
      .number()
      .min(0, 'Min value 0.')
      .max(2147483647, 'Max value 2147483647.')
      .typeError('Priority is a required and should be number field')
      .label('Priority'),
  });
  const formSubmit = async () => {
    fields.remarks = fields.remarks === '' ? null : fields.remarks;
    fields.priority = fields.priority === '' ? 0 : fields.priority;
    submitted = true;
    isValid = schema.isValidSync(fields);
    const res = await fetchApi(
      'POST',
      `customer-admin/lawfirm/create`,
      JSON.stringify(fields),
    );
    const json = await res.json();
    if (isValid) {
      if (res.status >= 200 && res.status <= 300) {
        toastAlert(
          'success',
          json.message ? json.message : 'Lawfirm has been created!',
        );
        clear();
        submitted = false;
        navigate('/law-firm/list');
      } else if (res.status === 400) {
        toastAlert(
          'error',
          json.priority ? json.priority : 'The priority has to be unique.',
        );
      } else if (res.status === 403) {
        toastAlert('error', json.message ? json.message : 'backend err msg.');
      } else {
        console.error(
          'Error',
          json.error_description ? json.error_description : 'backend err msg.',
        );
        toastAlert(
          'error',
          json.error_description ? json.error_description : 'backend err msg.',
        );
      }
    }
  };
  const back = () => {
    navigate('/law-firm/list');
  };
  const clear = () => {
    fields.name = '';
    fields.email = '';
    fields.priority = 0;
    fields.remarks = null;
    fields.status = true;
  };
</script>

<main>
  <div class="w-full">
    <div class="w-full">
      <h2
        class="my-6 ml-6 text-2xl font-semibold lg:mt-6 lg:mb-10 lg:text-3xl text-dark-red"
      >
        Law Firm
      </h2>
      <div class="w-full p-6 border shadow bg-base-100 rounded-box">
        <Tabs>
          <TabList>
            <div class="flex justify-between w-full">
              <div class="w-full">
                <Tab>Details</Tab>
              </div>
            </div>
          </TabList>

          <TabPanel>
            <div class="flex justify-left">
              <div class="my-6 md:w-1/2">
                <Form {schema} {fields} submitHandler={formSubmit} {submitted}>
                  <div class="mt-4">
                    <FormItem
                      required={true}
                      label="law firm"
                      name="name"
                      placeholder="Law Firm"
                      bind:value={fields.name}
                    />
                    <div class="text-left">
                      <Message name="name" />
                    </div>
                  </div>
                  <div class="mt-4">
                    <FormItem
                      label="email"
                      htmlType="email"
                      required={true}
                      name="email"
                      placeholder="Email"
                      bind:value={fields.email}
                    />
                    <div class="text-left">
                      <Message name="email" />
                    </div>
                  </div>
                  <div class="mt-4">
                    <FormItem
                      htmlType="number"
                      label="law firm priority (with 1 being the highest priority)"
                      name="firm_priority"
                      placeholder="Priority"
                      bind:value={fields.priority}
                    />
                    <div class="text-left">
                      <Message name="priority" />
                    </div>
                  </div>
                  <div class="mt-4">
                    <FormItem
                      formType="textarea"
                      label="remarks"
                      name="remark"
                      placeholder="Remarks"
                      bind:value={fields.remarks}
                    />
                  </div>
                  <div class="mt-4">
                    <FormItem
                      label="Law Firm status"
                      formType={'select'}
                      name="status"
                      required={true}
                      bind:value={fields.status}
                    >
                      {#each status_list as list}
                        <option value={list.status}
                          >{list.status ? 'Active' : 'Inactive'}</option
                        >
                      {/each}
                    </FormItem>
                  </div>
                  <div class="flex justify-end mt-10 space-x-4">
                    <div class="w-1/2 md:w-28">
                      <Button gradient={true} htmlType="submit" text="Save" />
                    </div>
                    <div class="w-1/2 md:w-28">
                      <Button
                        gradientInverse={true}
                        htmlType="button"
                        text="Back"
                        btnclick={back}
                      />
                    </div>
                  </div>
                </Form>
              </div>
            </div>
          </TabPanel>
        </Tabs>
      </div>
    </div>
  </div>
</main>

<style>
  :global(.svelte-tabs) {
    text-align: center;
  }
  :global(.svelte-tabs__tab) {
    color: #df5356 !important;
  }

  :global(.svelte-tabs li.svelte-tabs__selected) {
    border-bottom: 4px solid #df5356;
    width: 100%;
    color: #df5356;
    text-align: center;
    outline: none;
  }
  :global(.svelte-tabs li.svelte-tabs__selected):focus {
    outline: none;
  }
</style>
