<script>
  // import Dropzone from 'svelte-file-dropzone';
  import { toastAlert } from '../../../../../utils/toaster';
  import { fetchApi } from '../../../../../services/api';
  import { useNavigate, useParams } from 'svelte-navigator';
  import { onMount } from 'svelte';
  import * as yup from 'yup';
  import { Form, Message } from 'svelte-yup';

  import Formitems from '../../../../../components/forms/FormItem.svelte';
  import Button from '../../../../../components/Button.svelte';

  const params = useParams();
  const navigate = useNavigate();
  let trainingCategory;
  const fields = {
    title: '',
    training_category: '',
    body: '',
    thumbnail: null,
    detail_image: null,
  };

  // dropzone
  //   function handleFilesSelect(e) {
  //     const { acceptedFiles, fileRejections } = e.detail;
  //     // check size less than 3MB
  //     let size = acceptedFiles[0].size / 1024 / 1024 / 1024;
  //     if (size > 3) {
  //       toastAlert('error', 'Max size is 3MB');
  //     } else {
  //       files.accepted = [...files.accepted, ...acceptedFiles];
  //       files.rejected = [...files.rejected, ...fileRejections];
  //     }
  //   }

  let back = () => {
    navigate('/training/list');
  };
</script>

<main>
  <div class="">
    <h2
      class="my-6 ml-6 text-2xl font-semibold lg:mt-6 lg:mb-10 lg:text-3xl text-dark-red"
    >
      Training Category
    </h2>
    <div class="p-6 border shadow-lg drop-shadow-lg bg-base-100 rounded-box">
      <!-- <Form {schema} {fields} submitHandler={formSubmit} {submitted}> -->
      <div class="flex flex-col w-full md:w-1/2">
        <Formitems
          className="w-full"
          label="Category"
          required={false}
          name="name"
          bind:value={fields.title}
          on:input={(event) => {
            fields.title = event.target.value;
          }}
          placeholder="Title"
        />

        <div class=" md:flex md:justify-end md:mt-2">
          <div class="w-full mt-4 md:w-32 md:mt-2">
            <Button gradient={true} htmlType="submit" text="Save" />
          </div>
          <div class="w-full mt-4 md:mt-2 md:w-32 md:ml-3">
            <Button
              gradientInverse={true}
              htmlType={'button'}
              isOutlined={true}
              text={'Back'}
              btnclick={back}
            />
          </div>
        </div>
      </div>
      <!-- </Form> -->
    </div>
  </div>
</main>
