<script>
  import { Route, Router } from 'svelte-navigator';

  import LeadList from './List/index.svelte';
  import Details from './Details/index.svelte';
</script>

<Router>
  <Route path="list"><LeadList /></Route>
  <Route path="details/:id" component={Details} />
</Router>
