<!DOCTYPE html>
<html>
<head>
    <style>
        /*
            Note: puppeteer doesnt support flexbox layout so the hack we're going to use display: -webkit-flex;
            To align / justify styles, prefix it with -webkit. E.g. -webkit-justify-content.
        */
        * {
            font-family: "SC Prosper Sans";
        }

        h1 {
            font-size: 16px;
            margin: 12mm 0mm 12mm 0mm;
            font-weight: 500;
        }

        h2 {
            font-size: 12px;
            margin: 4mm 0mm 4mm 0mm;
            font-weight: 500;
        }

        h3 {
            font-size: 12px;
            margin: 6mm 0mm 6mm 0mm;
            color: <%- palette.grey %>;
        }

        span {
            margin: 2px 0px 0px 0px;
            font-size: 12px;
            line-height: 16px;
        }

        p {
            margin: 6mm 0mm 6mm 0mm;
            font-size: 12px;
            line-height: 18px;
        }

        table, th, td {
            border-collapse: collapse;
            font-size: 12px;
        }

        th, td {
            padding: 2.1mm;
            text-align: left;
        }

        th {
            background: <%- palette.lightgrey %>;
            font-weight: 500;
            width: 1%;
            white-space: nowrap;
        }

        td {
            background: <%- palette.white %>;
        }

        html {
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;
            zoom: 0.68; /*workaround for phantomJS2 rendering pages too large*/
        }

        /* Specify page margins or padding here. */
        body {
            padding: 0;
            margin: 0mm 19mm 0mm 24mm;
        }

        .page {
            display: -webkit-flex;
            -webkit-flex-direction: column;
            width: 210mm;
            height: 297mm;
        }

        .form-header, .row-flex {
            display: -webkit-flex;
            -webkit-flex-direction: row;
            -webkit-justify-content: space-between;
        }

        .form-header {
            margin-top: 14mm;
        }

        .form-header-column, .scb-address-wrapper, .account-details {
            display: -webkit-flex;
            -webkit-flex-direction: column;
        }

        .blue-th {
            background-color: <%- palette.lightblue %>;
            color: <%- palette.blue %>;
        }

        .scb-address-wrapper {
            margin-top: 20px;
        }

        .dummy-spacing {
            -webkit-flex: 1 1 auto;
        }

        .form-terms-and-conditions {
            margin-top: 8mm;
        }

        /* Needed for puppeteer to render the correct size */
        @media print {
            .page {
                margin: 0;
                width: 100%;
                height: 100%;
            }
        }
    </style>
</head>
<body>
<div class='page'>

    <div class='form-header' id='pageHeader'>
        <div class='form-header-column' style='margin-bottom: 4mm;'>
            <img src='<%- logo %>' width='80px' height='145px'></img>
        </div>
        <div class='form-header-column' style='text-align: right;'>
            <div>
                <img src='<%- organizationName %>' width='140px' height='50px'></img>
            </div>
            <div class='scb-address-wrapper'>
                <% for (var i = 0; i < data.scbAddress.length; i++) { %>
                    <span style='color: rgb(150, 150, 150);'><%= data.scbAddress[i] %></span>
                <% } %>
            </div>
        </div>
    </div>

    <h1 style='margin-top: 0;'>SC Shilingi Mutual Fund - Confirmation Notice</h1>

    <div class='row-flex'>
        <div class='form-header-column' style='width: 65%;'>
            <span style='font-weight: 500;'><%= data.customerName %></span>
            <span><%= data.poBoxNumber %></span>
            <span><%= data.town %></span>
            <span><%= data.country %></span>
            <span><%= data.postalCode %></span>
        </div>
        <div class='account-details' style='width: 35%;'>
            <h2 style='margin-top: 0px; margin-left: 8px;'>Account Details</h2>
            <% for (var i = 0; i < data.accountDetails.length; i++) { %>
                <table style='width: 100%;'>
                    <tr>
                        <th style='text-align: center;' class='blue-th'><%= data.accountDetails[i].field %></th>
                    </tr>
                    <tr>
                        <td style='text-align: center;'><%= data.accountDetails[i].value %></td>
                    </tr>
                </table>
            <% } %>
        </div>
    </div>

    <div class='transaction-details'>
        <h2>Transaction Details</h2>
        <div class='row-flex' style='-webkit-align-items: flex-end;'>
            <table style='width: calc(50% - 5px); margin-right: 5px'>
                <% for (var i = 0; i < Math.ceil(data.transactionDetails.length / 2); i++) { %>
                    <tr style='border-bottom: 5px solid white;'>
                        <th><%= data.transactionDetails[i].field %></th>
                        <td><%= data.transactionDetails[i].value %></td>
                    </tr>
                <% } %>
            </table>
            <table style='width: calc(50% - 5px); margin-left: 5px'>
                <% for (var i = Math.ceil(data.transactionDetails.length / 2); i < data.transactionDetails.length; i++) { %>
                    <tr style='border-bottom: 5px solid white;'>
                        <th><%= data.transactionDetails[i].field %></th>
                        <td><%= data.transactionDetails[i].value %></td>
                    </tr>
                <% } %>
            </table>
        </div>
    </div>

    <div class='dummy-spacing'></div>

    <div class='form-terms-and-conditions'>
        <p style='color: <%- palette.grey %>;'>
            Investment products are distributed by Standard Chartered Investment Services Ltd (SCIS), a wholly-owned
            subsidiary of Standard Chartered Bank Kenya Limited that is licensed by the Capital Markets Authority as a
            fund manager. Standard Chartered Investment Services Limited acts in the capacity of an agent of the
            issuer/fund house.
        </p>
        <p style='color: <%- palette.grey %>;'>
            Please notify Standard Chartered Bank of any discrepancies herein within 30 days from the date of this
            statement, failing which the above information shall be deemed correct and be conclusive and binding upon
            you. Any indication of potential returns, either implied or expressed does not constitute a guarantee
            undertaken by Standard Chartered or any of its affiliates. Past performance is no guarantee of future
            results. SCIS will charge an Administration fee of 1% of the amount being invested either through a lumpsum
            investment and/or through a Recurring plan for this investment. The Fund manager will charge an annual
            management fee of 1.2% of the fund’s assets under management. Please refer to the fact sheet / prospectus
            for more information on the money market fund. Refer to the information memorandum of the fund for more
            information on tax implications of this investment. If you have any concerns or need clarification please do
            not hesitate to contact the Call Centre on 329 3900 / 0703093900, contact your relationship manager, visit a
            Standard Chartered branch or visit us at Standard Chartered @ Chiromo, 48 Westlands Road.
        </p>
        <h3 style='color: <%- palette.grey %>;'>
            This is a computer-generated document; no signature is required.
        </h3>
    </div>

</div>
</body>
</html>