<div>
    Dear {{ name}}, <br><br>

    <div style="margin-left: 10px;;">
        Please use below verification code to active email. <br><br>
    </div>
    <div style="margin-left: 10px;font-size: 20px;margin-bottom:10px;">
        {{ verification_code}}
    </div>
</div>