<!DOCTYPE html>
<html>
<head>
    <style>
        /*
            Note: puppeteer doesnt support flexbox layout so the hack we're going to use display: -webkit-flex;
            To align / justify styles, prefix it with -webkit. E.g. -webkit-justify-content.
        */
        * {
            font-family: "SC Prosper Sans";
        }

        h1 {
            font-size: 16px;
            margin: 12mm 0mm 12mm 0mm;
            font-weight: 500;
        }

        h2 {
            font-size: 12px;
            margin: 4mm 0mm 4mm 0mm;
            font-weight: 500;
        }

        h3 {
            font-size: 12px;
            margin: 6mm 0mm 6mm 0mm;
            color: <%- palette.grey %>;
        }

        span {
            margin: 2px 0px 0px 0px;
            font-size: 12px;
            line-height: 16px;
        }

        p {
            margin: 6mm 0mm 6mm 0mm;
            font-size: 12px;
            line-height: 18px;
        }

        table {
            border-spacing: 0;
            border-collapse: separate;
        }

        table, th, td {
            font-size: 12px;
        }

        th, td {
            padding: 2.1mm;
            text-align: center;
        }

        th {
            background: <%- palette.lightgrey %>;
            font-weight: 500;
        }

        th:last-child {
            border-right: 0;
        }

        tr:nth-child(odd) {
            background: <%- palette.lightgrey %>;
        }

        .summary-of-accounts-table th {
            width: 1%;
            white-space: nowrap;
        }

        .summary-of-accounts-table tr th {
            border-left: 1px solid white;
        }

        .summary-of-accounts-table tr:nth-child(1) th:nth-child(2),
        .summary-of-accounts-table tr:nth-child(1) th:nth-child(3) {
            border-right: 1px solid<%- palette.bordergrey %>;
        }

        .summary-of-accounts-table tr:nth-child(3) th:nth-child(1),
        .summary-of-accounts-table tr:nth-child(3) th:nth-child(4),
        .summary-of-accounts-table tr:nth-child(3) th:nth-child(7),
        .summary-of-accounts-table tr td:nth-child(1),
        .summary-of-accounts-table tr td:nth-child(4),
        .summary-of-accounts-table tr td:nth-child(7) {
            border-right: 1px solid<%- palette.bordergrey %>;
        }

        .transactions-table th {
            border-left: 1px solid white;
        }

        .transactions-table tr th:nth-child(7),
        .transactions-table tr td:nth-child(7) {
            border-right: 1px solid<%- palette.bordergrey %>;
        }

        .transactions-table td {
            width: 1%;
            white-space: nowrap;
        }

        .fund-dist-table td {
            width: 1%;
            white-space: nowrap;
        }

        .fund-dist-table th {
            border-left: 1px solid white;
        }

        html {
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;
            zoom: 0.68; /*workaround for phantomJS2 rendering pages too large*/
        }

        /* Specify page margins or padding here. */
        body {
            padding: 0;
            margin: 0mm 19mm 0mm 24mm;
        }

        .page {
            display: block;
            /*-webkit-flex-direction: column;*/
            max-height: 140mm;
            width: 297mm;
        }

        .form-header {
            display: -webkit-flex;
            -webkit-flex-direction: row;
            -webkit-justify-content: space-between;
        }

        .form-header {
            margin-top: 14mm;
        }

        .form-header-column, .scb-address-wrapper {
            display: -webkit-flex;
            -webkit-flex-direction: column;
        }

        .blue-th {
            background-color: <%- palette.lightblue %>;
            color: <%- palette.blue %>;
        }

        .scb-address-wrapper {
            margin-top: 20px;
        }

        .form-terms-and-conditions {
            margin-top: 8mm;
        }

        /* Needed for puppeteer to render the correct size */
        @media print {
            .page {
                margin: 0;
                width: 100%;
                height: 100%;
            }
        }
    </style>
</head>
<body>
<div class='page'>

    <script>
        var pos = 0;
        var pageNum = 1;
        var pageHeight = parseFloat(getComputedStyle(document.querySelector('.page'), null).getPropertyValue('max-height').split('px')[0]);

        // function to get element height.
        function getElHeight(el) {
            return el.getBoundingClientRect().height + parseFloat(getComputedStyle(el, null).getPropertyValue('margin-bottom').split('px')[0]) + parseFloat(getComputedStyle(el, null).getPropertyValue('margin-top').split('px')[0]);
        }

        function createTextEl(title, elType) {
            var el = document.createElement(elType);
            el.appendChild(document.createTextNode(title));
            return el;
        }

        // function to create page breaks.
        function createPageBreakAndTitle(title, elType) {
            var continuation = document.createElement(elType);
            continuation.appendChild(document.createTextNode(title));
            continuation.style.cssText += 'page-break-before:always; margin-top: 0;';
            return continuation;
        }
    </script>

    <div class='form-header' id='pageHeader'>
        <div class='form-header-column' style='margin-bottom: 4mm;'>
            <img src='<%- logo %>' width='80px' height='145px'></img>
        </div>
        <div class='form-header-column' style='text-align: right;'>
            <div>
                <img src='<%- organizationName %>' width='140px' height='50px'></img>
            </div>
            <div class='scb-address-wrapper'>
                <% for (var i = 0; i < data.scbAddress.length; i++) { %>
                    <span style='color: rgb(150, 150, 150);'><%= data.scbAddress[i] %></span>
                <% } %>
            </div>
        </div>
    </div>

    <div class='form-header' id='pageTitleSection' style='margin-top: 0;'>
        <div class='form-header-column' style='width: 50%;'>
            <h1 style='margin-top: 0; margin-bottom: 0;'>SC Shilingi Mutual Fund Account Statement
                - <%= data.statementMonth %> <%= data.statementYear %></h1>
            <span><%= data.statementPeriod %></span>
            <h2 style='margin-bottom: 3px;'><%= data.customerName %></h2>
            <span><%= data.poBoxNumber %></span>
            <span><%= data.town %></span>
            <span><%= data.country %></span>
            <span><%= data.postalCode %></span>
        </div>
        <div class='form-header-column' style='width: 50%;'>
            <table style='width: 100%;'>
                <tr>
                    <th class='blue-th' style='width: 50%;'>Investment Account Number</th>
                    <th class='blue-th' style='width: 50%;'>Fund Name</th>
                </tr>
                <tr>
                    <td><%= data.investmentAccountNumber %></td>
                    <td><%= data.fundName %></td>
                </tr>
            </table>
            <table style='width: 100%;'>
                <tr>
                    <th class='blue-th' style='width: 50%;'>Statement Date</th>
                    <th class='blue-th' style='width: 50%;'>Fund Currency</th>
                </tr>
                <tr>
                    <td><%= data.statementDate %></td>
                    <td><%= data.fundCurrency %></td>
                </tr>
            </table>
        </div>
    </div>

    <script>
        var h1Element = document.querySelector('#pageTitleSection');
        pos += getElHeight(h1Element);
    </script>

    <script type='text/javascript'>
        // summary of accounts
        var summaryOfAccounts = JSON.parse('<%- JSON.stringify(data.summaryOfAccounts) %>');
        var summaryOfAccountsCurrRow;

        var bodyEl = document.querySelector('.page');

        var summaryOfAccountsTitleEl = createTextEl('Summary Of Accounts', 'h2');

        // use grid layout
        var summaryOfAccountsTableEl = document.createElement('table');
        summaryOfAccountsTableEl.className = 'summary-of-accounts-table';
        summaryOfAccountsTableEl.style.cssText += 'width: 100%;';

        var balanceText = createTextEl('Balance as of:', 'th');
        balanceText.style.cssText += 'text-align: right; background: white; font-weight: normal;';

        // todo replace these
        var openingText = createTextEl(summaryOfAccounts.opening + ' (Opening)', 'th');
        openingText.colSpan = '3';
        var closingText = createTextEl(summaryOfAccounts.closing + ' (Closing)', 'th');
        closingText.colSpan = '3';

        summaryOfAccountsCurrRow = document.createElement('tr');
        summaryOfAccountsCurrRow.appendChild(balanceText);
        summaryOfAccountsCurrRow.appendChild(openingText);
        summaryOfAccountsCurrRow.appendChild(closingText);

        summaryOfAccountsTableEl.appendChild(summaryOfAccountsCurrRow);

        var whiteSpaceRowEl = document.createElement('tr');
        var whiteSpaceEl = createTextEl('', 'td');
        whiteSpaceEl.style.cssText += 'padding: 0; background: white; height: 1px; border-right: 1px solid <%- palette.bordergrey %>;';
        whiteSpaceEl.colSpan = '4';
        whiteSpaceRowEl.appendChild(whiteSpaceEl);
        whiteSpaceEl = createTextEl('', 'td');
        whiteSpaceEl.style.cssText += 'padding: 0; background: white; height: 1px; border-right: 1px solid <%- palette.bordergrey %>;';
        whiteSpaceEl.colSpan = '3';
        whiteSpaceRowEl.appendChild(whiteSpaceEl);
        summaryOfAccountsTableEl.appendChild(whiteSpaceRowEl);
        summaryOfAccountsCurrRow = document.createElement('tr');

        var fundNameTextEl = createTextEl('Fund Name', 'th');
        summaryOfAccountsCurrRow.appendChild(fundNameTextEl);

        for (var i = 0; i < 2; i++) {
            var numberOfUnitsTextEl = createTextEl('Number Of Units', 'th');
            var unitPriceTextEl = createTextEl('Unit Price (<%- data.fundCurrencyShort %>)', 'th');
            var marketValueEl = createTextEl('Market Value (<%- data.fundCurrencyShort %> )', 'th');

            summaryOfAccountsCurrRow.appendChild(numberOfUnitsTextEl);
            summaryOfAccountsCurrRow.appendChild(unitPriceTextEl);
            summaryOfAccountsCurrRow.appendChild(marketValueEl);
        }
        summaryOfAccountsTableEl.appendChild(summaryOfAccountsCurrRow);

        // add the data
        for (var i = 0; i < summaryOfAccounts.rows.length; i++) {
            summaryOfAccountsCurrRow = document.createElement('tr');

            var fundNameValueTextEl = createTextEl(summaryOfAccounts.rows[i].fundName, 'td');
            fundNameValueTextEl.style.cssText += 'width: 20%;';
            var openingNumOfUnits = createTextEl(summaryOfAccounts.rows[i].opening.numberOfUnits, 'td');
            var openingUnitPrice = createTextEl(summaryOfAccounts.rows[i].opening.unitPrice, 'td');
            var openingMarketValue = createTextEl(summaryOfAccounts.rows[i].opening.marketValue, 'td');

            var closingNumOfUnits = createTextEl(summaryOfAccounts.rows[i].closing.numberOfUnits, 'td');
            var closingUnitPrice = createTextEl(summaryOfAccounts.rows[i].closing.unitPrice, 'td');
            var closingMarketValue = createTextEl(summaryOfAccounts.rows[i].closing.marketValue, 'td');

            var toBeAppended = [fundNameValueTextEl, openingNumOfUnits, openingUnitPrice, openingMarketValue, closingNumOfUnits, closingUnitPrice, closingMarketValue];
            for (var j = 0; j < toBeAppended.length; j++) {
                summaryOfAccountsCurrRow.appendChild(toBeAppended[j]);
            }
            summaryOfAccountsTableEl.appendChild(summaryOfAccountsCurrRow);
        }

        bodyEl.appendChild(summaryOfAccountsTitleEl);
        bodyEl.appendChild(summaryOfAccountsTableEl);

        pos += getElHeight(summaryOfAccountsTitleEl);
        pos += getElHeight(summaryOfAccountsTableEl);
    </script>

    <script>
        function createTransactionTableHeaderRow() {
            var transactionsTableHeaderRowEl = document.createElement('tr');

            var transactionDateHeaderEl = createTextEl('Transaction Date', 'th');
            var transactionIdHeaderEl = createTextEl('Transaction ID', 'th');
            var fundNameHeaderEl = createTextEl('Fund Name', 'th');
            var transactionTypeHeaderEl = createTextEl('Transaction', 'th');
            var numberOfUnitsHeaderEl = createTextEl('Number of Units', 'th');
            var unitPriceHeaderEl = createTextEl('Transaction Unit Price(KES)', 'th');
            var transactionAmountHeaderEl = createTextEl('Amount(KES)', 'th');
            var adminFeeHeaderEl = createTextEl('Admin Fees(KES)', 'th');
            var toBeAppended = [transactionDateHeaderEl, transactionIdHeaderEl, fundNameHeaderEl, transactionTypeHeaderEl, numberOfUnitsHeaderEl, unitPriceHeaderEl, transactionAmountHeaderEl, adminFeeHeaderEl];

            for (var j = 0; j < toBeAppended.length; j++) {
                transactionsTableHeaderRowEl.appendChild(toBeAppended[j]);
            }
            return transactionsTableHeaderRowEl;
        }

        // dynamic rows and custom overflow handling for transactions
        var transactions = JSON.parse('<%- JSON.stringify(data.transactions) %>');
        var i = 0;
        var transactionsTitle = createTextEl('Transactions', 'h2');
        var transactionsTableEl = document.createElement('table');
        transactionsTableEl.className = 'transactions-table';

        var transactionsTableHeaderRowEl = createTransactionTableHeaderRow();

        transactionsTableEl.appendChild(transactionsTableHeaderRowEl);

        bodyEl.appendChild(transactionsTitle);
        bodyEl.appendChild(transactionsTableEl);
        pos += getElHeight(transactionsTitle) + getElHeight(transactionsTableEl);
        if (pos > pageHeight - 50) {
            transactionsTitle.style.cssText += 'page-break-before:always; margin-top: 0;';
            pos = getElHeight(transactionsTitle) + getElHeight(transactionsTableEl);
        }

        while (i < transactions.rows.length) {
            var curr = document.createElement('tr');
            var transactionDateEl = createTextEl(transactions.rows[i].transactionDate, 'td');
            var transactionIdEl = createTextEl(transactions.rows[i].transactionId, 'td');
            var fundNameEl = createTextEl(transactions.rows[i].fundName, 'td');
            var transactionTypeEl = createTextEl(transactions.rows[i].transaction, 'td');
            var numberOfUnitsEl = createTextEl(transactions.rows[i].numberOfUnits, 'td');
            var unitPriceEl = createTextEl(transactions.rows[i].transactionUnitPrice, 'td');
            var transactionAmountEl = createTextEl(transactions.rows[i].transactionAmount, 'td');
            var adminFeeEl = createTextEl(transactions.rows[i].adminfee, 'td');

            toBeAppended = [transactionDateEl, transactionIdEl, fundNameEl, transactionTypeEl, numberOfUnitsEl, unitPriceEl, transactionAmountEl, adminFeeEl];
            for (var j = 0; j < toBeAppended.length; j++) {
                curr.appendChild(toBeAppended[j]);
            }

            transactionsTableEl.appendChild(curr);
            pos += getElHeight(curr);
            if (pos > pageHeight) {
                transactionsTableEl.removeChild(curr);
                pos = 0;
                break;
            } else {
                i++;
            }
        }

        while (i < transactions.rows.length) {
            var continuationText = createPageBreakAndTitle('Transactions (Continued)', 'h2');
            transactionsTableEl = document.createElement('table');
            transactionsTableEl.className = 'transactions-table';

            transactionsTableHeaderRowEl = createTransactionTableHeaderRow();

            transactionsTableEl.appendChild(transactionsTableHeaderRowEl);

            pos = 0;
            bodyEl.appendChild(continuationText);
            bodyEl.appendChild(transactionsTableEl);

            pos += getElHeight(continuationText) + getElHeight(transactionsTableEl);

            while (i < transactions.rows.length) {
                var curr = document.createElement('tr');
                var transactionDateEl = createTextEl(transactions.rows[i].transactionDate, 'td');
                var transactionIdEl = createTextEl(transactions.rows[i].transactionId, 'td');
                var fundNameEl = createTextEl(transactions.rows[i].fundName, 'td');
                var transactionTypeEl = createTextEl(transactions.rows[i].transaction, 'td');
                var numberOfUnitsEl = createTextEl(transactions.rows[i].numberOfUnits, 'td');
                var unitPriceEl = createTextEl(transactions.rows[i].transactionUnitPrice, 'td');
                var transactionAmountEl = createTextEl(transactions.rows[i].transactionAmount, 'td');
                var adminFeeEl = createTextEl(transactions.rows[i].adminfee, 'td');

                toBeAppended = [transactionDateEl, transactionIdEl, fundNameEl, transactionTypeEl, numberOfUnitsEl, unitPriceEl, transactionAmountEl, adminFeeEl];
                for (var j = 0; j < toBeAppended.length; j++) {
                    curr.appendChild(toBeAppended[j]);
                }
                transactionsTableEl.appendChild(curr);

                pos += getElHeight(curr);
                if (pos > pageHeight) {
                    transactionsTableEl.removeChild(curr);
                    break;
                } else {
                    i++;
                }
            }

            if (i === transactions.rows.length) break;
        }

        var summaryRowEl = document.createElement('tr');
        summaryRowEl.style.cssText += 'background: white;';
        var totalEl = createTextEl('Total', 'td');
        totalEl.colSpan = '4';
        totalEl.style.cssText += 'text-align: left; padding-left: 28px;';
        var totalNumberOfUnitsEl = createTextEl(transactions.summary.numberOfUnits, 'td');
        var transactionUnitPriceEl = createTextEl(transactions.summary.transactionUnitPrice, 'td');
        var totalTransactionAmountEl = createTextEl(transactions.summary.transactionAmount, 'td');
        totalTransactionAmountEl.style.cssText += 'border-right: 1px solid <%- palette.bordergrey %>;';
        var totalAdminFee = createTextEl(transactions.summary.adminfee, 'td');
        toBeAppended = [totalEl, totalNumberOfUnitsEl, transactionUnitPriceEl, totalTransactionAmountEl, totalAdminFee];
        for (var j = 0; j < toBeAppended.length; j++) {
            summaryRowEl.appendChild(toBeAppended[j]);
        }

        transactionsTableEl.appendChild(summaryRowEl);
        pos += getElHeight(summaryRowEl);

        if (pos > pageHeight - 5) {
            transactionsTableEl.removeChild(summaryRowEl);

            var continuationText = createPageBreakAndTitle('Transactions (Continued)', 'h2');
            transactionsTableEl = document.createElement('table');
            transactionsTableEl.className = 'transactions-table';

            transactionsTableHeaderRowEl = createTransactionTableHeaderRow();

            transactionsTableEl.appendChild(transactionsTableHeaderRowEl);
            transactionsTableEl.appendChild(summaryRowEl);

            pos = 0;
            bodyEl.appendChild(continuationText);
            bodyEl.appendChild(transactionsTableEl);

            pos += getElHeight(continuationText) + getElHeight(transactionsTableEl);
        } else {
            var greyLineEl = document.createElement('tr');
            var partition = createTextEl('', 'th');
            partition.colSpan = '8';
            partition.style.cssText += 'border-left: 0; border-right: 1px solid <%- palette.bordergrey %>; border-top: 1px solid <%- palette.bordergrey %>; padding: 0;';
            greyLineEl.appendChild(partition);

            transactionsTableEl.removeChild(summaryRowEl);
            transactionsTableEl.appendChild(greyLineEl);
            transactionsTableEl.appendChild(summaryRowEl);
            pos += getElHeight(greyLineEl);
        }
    </script>

    <script>
        // fund distributions table
        var fundDistributions = JSON.parse('<%- JSON.stringify(data.fundDistributions) %>');

        function createFundDistributionHeaderRow() {
            var fundDistTableHeaderRowEl = document.createElement('tr');

            var fundNameHeaderEl = createTextEl('Fund Name', 'th');
            var transactionDateHeaderEl = createTextEl('Transaction Date', 'th');
            var grossInterestEarnedHeaderEl = createTextEl('Gross Interest Earned (<%- data.fundCurrencyShort %>)', 'th');
            var withholdingTaxHeaderEl = createTextEl('Withholding Tax (<%- data.fundCurrencyShort %>)', 'th');
            var netInterestEarnedHeaderEl = createTextEl('Net Interest Earned (<%- data.fundCurrencyShort %>)', 'th');
            var toBeAppended = [fundNameHeaderEl, transactionDateHeaderEl, grossInterestEarnedHeaderEl, withholdingTaxHeaderEl, netInterestEarnedHeaderEl];

            for (var j = 0; j < toBeAppended.length; j++) {
                fundDistTableHeaderRowEl.appendChild(toBeAppended[j]);
            }
            return fundDistTableHeaderRowEl;
        }

        // dynamic rows and custom overflow handling for fund distributions
        var i = 0;
        var fundDistTitleEl = createTextEl('Fund Distributions', 'h2');
        var fundDistTableEl = document.createElement('table');
        fundDistTableEl.className = 'fund-dist-table';

        var fundDistTableHeaderRowEl = createFundDistributionHeaderRow();

        fundDistTableEl.appendChild(fundDistTableHeaderRowEl);

        bodyEl.appendChild(fundDistTitleEl);
        bodyEl.appendChild(fundDistTableEl);
        pos += getElHeight(fundDistTitleEl) + getElHeight(fundDistTableEl);
        if (pos > pageHeight - 50) {
            fundDistTitleEl.style.cssText += 'page-break-before:always; margin-top: 0;';
            pos = getElHeight(fundDistTitleEl) + getElHeight(fundDistTableEl);
        }
        while (i < fundDistributions.rows.length) {
            var curr = document.createElement('tr');

            var fundNameEl = createTextEl(fundDistributions.rows[i].fundName, 'td');
            var transactionDateEl = createTextEl(fundDistributions.rows[i].transactionDate, 'td');
            var grossInterestEarnedEl = createTextEl(fundDistributions.rows[i].grossInterestEarned, 'td');
            var withholdingTaxEl = createTextEl(fundDistributions.rows[i].withholdingTax, 'td');
            var netInterestEarnedEl = createTextEl(fundDistributions.rows[i].netInterestEarned, 'td');

            toBeAppended = [fundNameEl, transactionDateEl, grossInterestEarnedEl, withholdingTaxEl, netInterestEarnedEl];
            for (var j = 0; j < toBeAppended.length; j++) {
                curr.appendChild(toBeAppended[j]);
            }

            fundDistTableEl.appendChild(curr);
            pos += getElHeight(curr);
            if (pos > pageHeight) {
                fundDistTableEl.removeChild(curr);
                pos = 0;
                break;
            } else {
                i++;
            }
        }

        while (i < fundDistributions.rows.length) {
            var continuationText = createPageBreakAndTitle('Fund Distributions (Continued)', 'h2');
            fundDistTableEl = document.createElement('table');
            fundDistTableEl.className = 'fund-dist-table';

            fundDistTableHeaderRowEl = createTransactionTableHeaderRow();

            fundDistTableEl.appendChild(fundDistTableHeaderRowEl);

            pos = 0;
            bodyEl.appendChild(continuationText);
            bodyEl.appendChild(fundDistTableEl);

            pos += getElHeight(continuationText) + getElHeight(fundDistTableEl);

            while (i < fundDistributions.rows.length) {
                var curr = document.createElement('tr');

                var fundNameEl = createTextEl(fundDistributions.rows[i].fundName, 'td');
                var transactionDateEl = createTextEl(fundDistributions.rows[i].transactionDate, 'td');
                var grossInterestEarnedEl = createTextEl(fundDistributions.rows[i].grossInterestEarned, 'td');
                var withholdingTaxEl = createTextEl(fundDistributions.rows[i].withholdingTax, 'td');
                var netInterestEarnedEl = createTextEl(fundDistributions.rows[i].netInterestEarned, 'td');

                toBeAppended = [fundNameEl, transactionDateEl, grossInterestEarnedEl, withholdingTaxEl, netInterestEarnedEl];
                for (var j = 0; j < toBeAppended.length; j++) {
                    curr.appendChild(toBeAppended[j]);
                }
                fundDistTableEl.appendChild(curr);

                pos += getElHeight(curr);
                if (pos > pageHeight) {
                    fundDistTableEl.removeChild(curr);
                    break;
                } else {
                    i++;
                }
            }

            if (i === fundDistributions.rows.length) break;
        }
    </script>

    <div class='form-terms-and-conditions'>
        <p style='color: <%- palette.grey %>;'>
            Investment products are distributed by Standard Chartered Investment Services Ltd (SCIS), a wholly-owned
            subsidiary of Standard Chartered Bank Kenya Limited that is licensed by the Capital Markets Authority as a
            fund manager. Standard Chartered Investment Services Limited acts in the capacity of an agent of the
            issuer/fund house.
        </p>
        <p style='color: <%- palette.grey %>;'>
            Please notify Standard Chartered Bank of any discrepancies herein within 30 days from the date of this
            statement, failing which the above information shall be deemed correct and be conclusive and binding upon
            you. Any indication of potential returns, either implied or expressed does not constitute a guarantee
            undertaken by Standard Chartered or any of its affiliates. Past performance is no guarantee of future
            results. SCIS will charge an Administration fee of 1% of the amount being invested either through a lumpsum
            investment and/or through a Recurring plan for this investment. The Fund manager will charge an annual
            management fee of 1.2% of the fund’s assets under management. Please refer to the fact sheet / prospectus
            for more information on the money market fund. Refer to the information memorandum of the fund for more
            information on tax implications of this investment. If you have any concerns or need clarification please do
            not hesitate to contact the Call Centre on 329 3900 / 0703093900, contact your relationship manager, visit a
            Standard Chartered branch or visit us at Standard Chartered @ Chiromo, 48 Westlands Road.
        </p>
        <h3 style='color: <%- palette.grey %>;'>
            This is a computer-generated document; no signature is required.
        </h3>
    </div>

    <script>
        var termsAndConditionsEl = document.getElementsByClassName('form-terms-and-conditions')[0];
        var tncElHeight = getElHeight(termsAndConditionsEl);
        pos += tncElHeight;
        var whitespace;

        bodyEl.removeChild(termsAndConditionsEl);
        if (pos > pageHeight) {
            whitespace = createPageBreakAndTitle('', 'div');
            whitespace.style.cssText += 'height: ' + (pageHeight - tncElHeight) + 'px;';
        } else {
            whitespace = createTextEl('', 'div');
            whitespace.style.cssText += 'height: ' + (pageHeight - 1.04 * pos) + 'px; margin: 0; padding: 0;';
        }
        bodyEl.appendChild(whitespace);
        bodyEl.appendChild(termsAndConditionsEl);

        pos = pageHeight;
    </script>
</div>
</body>
</html>