<div>
    Dear {{ full_name}}, <br><br>

    <div style="margin-left: 10px;;">
        Please use below link to reset your password. <br><br>
    </div>
    <div style="margin-left: 10px;font-size: 20px;margin-bottom:10px;">
        <a href="{{ url }}">Reset Password</a>
    </div>
</div>