<div>
    Dear {{ full_name}}, <br><br>

    <div style="margin-left: 10px;;">
        Your password has been changed. Please login to your account <br><br>
    </div>
    <div style="margin-left: 10px;font-size: 20px;margin-bottom:10px;">
        <a href="{{ url }}">Login</a>
    </div>
</div>