<script>
  import { onMount } from 'svelte';
  import { useNavigate } from 'svelte-navigator';
  import update from 'immutability-helper';
  import * as yup from 'yup';
  import { Form, Message } from 'svelte-yup';

  import { allKv } from '../../../../../stores';

  import { fetchApi } from '../../../../../services/api';

  import { toastAlert } from '.../../../../../utils/toaster';

  import FormItem from '../../../../../components/forms/FormItem.svelte';
  import MultiSelectDrop from '../../../../../components/MultiSelectDrop.svelte';
  import Button from '../../../../../components/Button.svelte';

  const navigate = useNavigate();
  const formDataSchema = yup.object().shape({
    banks: yup.array().of(yup.number()).min(1).required().label('Bank'),
    rate_type: yup.string().required().label().label('Rate Type'),
    reference: yup.string().required().label('Reference Rate'),
    interest_rate: yup
      .number()
      .min(0)
      .max(100)
      .required()
      .label('Interest Rate %')
      .typeError('Interest Rate % is required and must be a number'),
    equation: yup.string().required().label('Equation'),
    remarks: yup.string().optional().label('Remarks'),
  });

  let formData = {
    banks: [],
    rate_type: '',
    reference: '',
    interest_rate: null,
    equation: '',
    remarks: '',
  };
  let added = false;
  let options = {
    banks: [],
    types: [],
    equations: [],
  };

  const fetchOptions = async () => {
    try {
      const banksCountQuery = new URLSearchParams();
      banksCountQuery.set('page_size', 0);
      banksCountQuery.set('status', true);

      const banksCountRes = await fetchApi(
        'GET',
        `customer-admin/bank/all?${banksCountQuery}`,
      );

      if (!banksCountRes.ok) {
        throw banksCountRes;
      }

      const banksCountResData = await banksCountRes.json();

      const banksQuery = new URLSearchParams();
      banksQuery.set('page_size', banksCountResData.count);
      banksQuery.set('status', true);

      const banksRes = await fetchApi(
        'GET',
        `customer-admin/bank/all?${banksQuery}`,
      );

      if (!banksRes.ok) {
        throw res;
      }

      const banksResData = await banksRes.json();

      if ($allKv !== null) {
        const rateTypesFromKV =
          $allKv.find((kv) => kv.code === 'rate_type') || null;
        const equationsFromKV =
          $allKv.find((kv) => kv.code === 'equation') || null;

        options = update(options, {
          banks: {
            $set: banksResData.results,
          },
          types: {
            $set:
              rateTypesFromKV !== null &&
              Object.keys(rateTypesFromKV.value).map((rateTypeKey) => ({
                value: rateTypeKey,
                label: rateTypesFromKV.value[rateTypeKey],
              })),
          },
          equations: {
            $set:
              equationsFromKV !== null &&
              equationsFromKV.value.map((equation) => ({
                value: equation,
                label: equation,
              })),
          },
        });
      }
    } catch (err) {
      if (typeof err.json !== 'undefined') {
        const errData = await err.json();

        if (errData.name === 'ADMIN_ACL_CHECK') {
          toastAlert('error', errData.message);
        } else {
          toastAlert(
            'error',
            errData.detail ? errData.detail : errData.message,
          );
        }
      } else {
        toastAlert('error');
      }
    }
  };

  onMount(() => {
    fetchOptions();
  });

  const handleAdd = async () => {
    try {
      added = true;

      const isFormDataValid = await formDataSchema.isValid(formData);

      if (isFormDataValid) {
        const res = await fetchApi(
          'POST',
          'customer-admin/bank/rate/create',
          JSON.stringify(formData),
        );

        if (!res.ok) {
          throw res;
        }

        toastAlert('success', 'Rate has been successfully created!');

        handleBack();
      }
    } catch (err) {
      if (typeof err.json !== 'undefined') {
        const errData = await err.json();

        if (errData.name === 'ADMIN_ACL_CHECK') {
          toastAlert('error', errData.message);
        } else {
          toastAlert(
            'error',
            errData.detail ? errData.detail : errData.message,
          );
        }
      } else {
        toastAlert('error');
      }
    }
  };
  const handleBack = () => {
    navigate('/rate/list');
  };
</script>

<main>
  <div>
    <h2 class="mt-6 mb-12 text-3xl font-bold text-dark-red">Rate</h2>
    <div class="p-6 border shadow-lg drop-shadow-lg bg-base-100 rounded-box">
      <Form
        schema={formDataSchema}
        fields={formData}
        submitHandler={handleAdd}
        submitted={added}
      >
        <div class="flex flex-col justify-start w-full gap-2 my-6 md:w-1/2">
          <div>
            <span class={`capitalize label-text text-gray-label`}>
              Bank<span class="text-xl text-dark-red">*</span>
            </span>
            <MultiSelectDrop
              bind:selectValue={formData.banks}
              options={options.banks.map((bank) => ({
                value: bank.id,
                label: bank.name,
              }))}
            />
            <Message name="banks" />
          </div>

          <div>
            <FormItem
              required
              label="Rate Type"
              formType="select"
              name="rate_type"
              bind:value={formData.rate_type}
            >
              {#each options.types as type}
                <option value={type.value}>{type.label}</option>
              {/each}
            </FormItem>
            <Message name="rate_type" />
          </div>

          <div>
            <FormItem
              htmlType="percentage"
              required
              label="Interest Rate %"
              placeholder="Interest Rate %"
              name="interest_rate"
              bind:value={formData.interest_rate}
            />
            <Message name="interest_rate" />
          </div>

          <div>
            <FormItem
              required
              label="Reference Rate"
              placeholder="Reference Rate"
              name="reference"
              bind:value={formData.reference}
            />
            <Message name="reference" />
          </div>

          <div>
            <FormItem
              required
              label="Equation"
              formType="select"
              name="equation"
              bind:value={formData.equation}
            >
              {#each options.equations as equation}
                <option value={equation.value}>{equation.label}</option>
              {/each}
            </FormItem>
            <Message name="equation" />
          </div>

          <div>
            <FormItem
              className="mb-2"
              label="Remarks"
              placeholder="Remarks"
              name="remarks"
              formType="textarea"
              bind:value={formData.remarks}
            />
          </div>

          <div class="flex justify-end space-x-4">
            <div class="w-1/2 md:w-28">
              <Button gradient={true} htmlType="submit" text="Save" />
            </div>
            <div class="w-1/2 md:w-28">
              <Button
                gradientInverse={true}
                htmlType="button"
                text="Back"
                btnclick={handleBack}
              />
            </div>
          </div>
        </div>
      </Form>
    </div>
  </div>
</main>
