<script>
  import { Route, Router } from 'svelte-navigator';

  import BankListing from './view/List.svelte';
  import BankAdd from './view/Add.svelte';
</script>

<Router>
  <Route path="list"><BankListing /></Route>
  <Route path="add"><BankAdd /></Route>
  <Route path="edit/:id" component={BankAdd} />
</Router>
