<script>
  import Button from '../../../../components/Button.svelte';
  import StaticTable from '../../../../components/StaticTable.svelte';
  import IconButton from '../../../../components/IconButton.svelte';
  import FilterIcon from '../../../../components/icons/Filter.svelte';
  import Filter from '../../../../components/Filter.svelte';
  import FilterButton from '../../../../components/FilterButton.svelte';
  import FormItem from '../../../../components/forms/FormItem.svelte';
  import PageCount from '../../../../components/PageCount.svelte';
  import { onMount } from 'svelte';
  import { fetchApi } from '../../../../services/api';
  import { Link } from 'svelte-navigator';
  import { toastAlert } from '../../../../utils/toaster';
  import { serializeCaseSensetive } from '../../../../utils/serialize';
  import CustomAction from '../../../../components/table/CustomAction.svelte';

  let filter_page = {
    code: [],
    status: '',
  };

  let loading = false;
  let usersData = [];
  let page = 1;
  let total = 0;
  $: page,
    () => {
      // console.log("change page v2", page);
      // getUserDetail(); // - validate user cookie
      // getAllKV();
    };

  const onChangePage = (newPage) => {
    page = newPage;
    fetchUserList();
  };

  const onChangeStatusFilter = (val) => {
    filter_page = { ...filter_page, status: val };
  };

  const generateQuery = () => {
    let tempFilter = filter_page;
    Object.keys(tempFilter).forEach((key) => {
      if (tempFilter[key] === '') {
        delete tempFilter[key];
      }
    });
    let queryy = serializeCaseSensetive(tempFilter);
    return queryy;
  };

  const fetchUserList = async (query) => {
    loading = true;
    const res = await fetchApi(
      'GET',
      `api-admin/allCampaign?page=${page}${
        query || generateQuery() ? `&${generateQuery()}` : ''
      }`,
    );
    const users = await res.json();
    if (res.status >= 200 && res.status <= 300) {
      loading = false;
      total = users.total || 0;
      usersData = users.data;
    } else {
      loading = false;
      total = 0;
      if (users.name === 'NOT_FOUND') {
        usersData = [];
        toastAlert('error', users.message ? users.message : 'backend err msg.');
      } else {
        toastAlert('error', users.message ? users.message : 'backend err msg.');
      }
    }
  };

  onMount(async () => {
    // get user List
    fetchUserList();
  });

  const onFilter = () => {
    page = 1;
    fetchUserList();
    filter = false;
  };

  const onResetFilter = () => {
    filter_page = {
      // name: '',
      // email: '',
      code: [],
      status: '',
    };
    page = 1;
    fetchUserList();
    filter = false;
  };

  //icon filterbtn
  let filter;
  // Form

  let tableColumn = [
    {
      key: 'referal_code',
      title: 'Referral Code',
    },
    {
      key: 'usage_limt',
      title: 'Usage Limit',
    },
    {
      key: 'userInfo',
      title: 'Numbers of Users',
      render: (e) => e.length,
    },
    {
      key: 'start_date',
      title: 'Start Date',
      render: (e) => e.split('-').reverse().join('-'),
    },
    {
      key: 'end_date',
      title: 'End Date',
      render: (e) => e.split('-').reverse().join('-'),
    },
    {
      key: 'status',
      title: 'Status',
      render: (e) => (e === 0 ? 'Inactive' : 'Active'),
    },
    {
      key: 'customAction', // need to be refactor for dynamic use
      title: '',
      component: {
        component: CustomAction,
        props: {
          url: '/campaign-management/edit',
          urlId: true,
          labelUrl: 'Edit',
        },
      },
    },
  ];
</script>

<main>
  <div class="">
    <h2
      class="my-6 ml-6 text-2xl font-semibold lg:mt-6 lg:mb-10 lg:text-3xl text-dark-red"
    >
      Campaign Listing
    </h2>
    <div
      class="p-6 border shadow-lg md:h-auto bg-base-100 rounded-box drop-shadow-lg"
    >
      <div class="flex justify-end gap-6">
        <Link to={'/campaign-management/add'}>
          <Button
            htmlType={'submit'}
            gradient={true}
            text={'+ Add'}
            className="px-10 text-lg rounded-2xl"
          />
        </Link>
        <IconButton
          className="border border-dark-red"
          text={'i'}
          textIcon={FilterIcon}
          htmlType="button"
          bind:filter
        />
      </div>
      <!-- Filter Slot -->
      <div class="absolute top-0 right-0 z-10 sm:px-0">
        {#if filter}
          <div>
            <Filter
              on:close={() => {
                filter = false;
              }}
              {onFilter}
              {onResetFilter}
            >
              <div class="gap-3 w-80">
                <div class="w-full mr-2">
                  <div class="grid grid-cols-4 gap-2 whitespace-nowrap" />
                  <div class="mt-2">
                    <FormItem
                      label="Referral Code"
                      labelClass="text-dark-red text-lg"
                      name="name"
                      placeholder="Enter Referral Code"
                      bind:value={filter_page.code}
                    />
                  </div>
                  <div class="mt-3">
                    <h1 class="text-lg capitalize text-dark-red">Status</h1>
                    <div class="grid grid-cols-3 gap-2 mt-2">
                      <FilterButton
                        text="Active"
                        btnValue={filter_page.status}
                        activeValue={'1'}
                        btnclick={() => onChangeStatusFilter('1')}
                      />
                      <FilterButton
                        text="Inactive"
                        btnValue={filter_page.status}
                        activeValue={'0'}
                        btnclick={() => onChangeStatusFilter('0')}
                      />
                    </div>
                  </div>
                </div>
              </div>
            </Filter>
          </div>
        {/if}
      </div>
      <!-- Table -->
      <div class="">
        <PageCount {total} currentCount={usersData.length} />
        {#if loading}
          <p>Loading...</p>
        {:else}
          <StaticTable
            tableDatas={usersData}
            {tableColumn}
            {total}
            currentPage={page}
            {onChangePage}
            isCheckbox={false}
          />
        {/if}
      </div>
    </div>
  </div>
</main>
