<script>
  import Button from '../../../../../../../components/Button.svelte';
  import { fetchApi } from '../../../../../../../services/api';
  import { toastAlert } from '../../../../../../../utils/toaster';
  import DocumentDrawer from './DocumentDrawer.svelte';
  import { setCookie, getCookie } from '../../../../../../../utils/cookie';
  import { onMount } from 'svelte';

  $: baseUrl = window.location.href;
  $: console.log('Baseurllll', baseUrl);
  $: drawerId = baseUrl.substring(baseUrl.lastIndexOf('/') + 1);
  $: otp = [];
  $: nextScreen = false;
  $: token = null;
  $: drawerToken = null;

  // otp input function
  $: clickEvent = (first, last) => {
    if (first.target.value.length) {
      document.getElementById(last).focus();
    }
  };

  // $:console.log(otp.join(""));

  //get drawer token if verified already
  onMount(() => {
    drawerToken = getCookie('magic_drawer_token');
    if (drawerToken.length > 2) token = drawerToken;
  });

  // http://localhost:5000/magic/drawer/6888b919-3985-426e-8f23-7c84edf642ed

  async function sendOtp() {
    const res = await fetchApi(
      'POST',
      `magic/drawer/get-otp`,
      JSON.stringify({
        drawer: drawerId,
      }),
    );

    if (res.status >= 200 && res.status <= 300) {
      toastAlert('success', 'Otp sent successfully');
      nextScreen = true;
    } else if (res.status >= 400 && res.status <= 500) {
      const json = await res.json();
      Object.values(json).forEach((ele) => {
        if (ele.includes('Client needs to verify PDPA Before')) {
          toastAlert('error', 'Please verify PDPA  ');
        } else {
          toastAlert('error', ele ? ele : 'backend error');
        }
      });
    } else if(res.status === 403){
        if(json.name === 'MEMBERSHIP_ACL_CHECK'){
          toastAlert('error', json.message ? json.message : 'We have encountered a technical difficulty onboarding you. Please try again later.');
        }else{
          toastAlert('error', json.detail ? json.detail : 'We have encountered a technical difficulty onboarding you. Please try again later.');
        }
    }
  }

  async function validateOtp() {
    const res = await fetchApi(
      'POST',
      `magic/drawer/validate-otp`,
      JSON.stringify({
        drawer: drawerId,
        otp: otp.join(''),
      }),
    );
    const json = await res.json();
    if (res.status >= 200 && res.status <= 300) {
      toastAlert('success', 'Otp verified successfully');
      nextScreen = true;
      token = json.token;
      setCookie('magic_drawer_token', json.token, 1 / 2);
    } else if (res.status >= 400 && res.status <= 500) {
      Object.values(json).forEach((ele) => {
        toastAlert('error', ele ? ele : 'backend error');
      });
    } else if(res.status === 403){
        if(json.name === 'MEMBERSHIP_ACL_CHECK'){
          toastAlert('error', json.message ? json.message : 'We have encountered a technical difficulty onboarding you. Please try again later.');
        }else{
          toastAlert('error', json.detail ? json.detail : 'We have encountered a technical difficulty onboarding you. Please try again later.');
        }
    }
  }
</script>

{#if !token}
  <div class="fixed z-10 w-screen h-screen bg-white">
    <div
      class="flex flex-col items-center justify-center w-full h-full p-6 mx-auto space-y-4 sm:max-w-xs md:max-w-sm lg:max-w-md md:space-y-8 "
    >
      <div class="flex justify-center flex-shrink-0 pr-4">
        <img class="" src="/assets/images/logo.png" alt="iQrate" />
      </div>

      <h2 class="mt-6 mb-8 text-xl font-semibold md:text-3xl text-dark-red">
        Document Upload
      </h2>
      {#if nextScreen}
        <p class=" text-gray-label">
          An OTP has been sent to your registered mobile number and email
          address. Please enter the verification code.
        </p>
        <div class="flex justify-center w-full space-x-2 md:space-x-4">
          <input
            bind:value={otp[0]}
            type="text"
            class="w-10 text-center border border-gray-600 rounded-md h-14 md:h-16 md:w-11 focus:outline-none"
            id="ist"
            maxlength="1"
            on:keyup={(e) => clickEvent(e, 'sec')}
          />
          <input
            bind:value={otp[1]}
            class="w-10 text-center border border-gray-600 rounded-md h-14 md:h-16 md:w-11 focus:outline-none"
            type="text"
            id="sec"
            maxlength="1"
            on:keyup={(e) => clickEvent(e, 'third')}
          />
          <input
            bind:value={otp[2]}
            class="w-10 text-center border border-gray-600 rounded-md h-14 md:h-16 md:w-11 focus:outline-none"
            type="text"
            id="third"
            maxlength="1"
            on:keyup={(e) => clickEvent(e, 'fourth')}
          />
          <input
            bind:value={otp[3]}
            class="w-10 text-center border border-gray-600 rounded-md h-14 md:h-16 md:w-11 focus:outline-none"
            type="text"
            id="fourth"
            maxlength="1"
            on:keyup={(e) => clickEvent(e, 'fifth')}
          />
          <input
            bind:value={otp[4]}
            class="w-10 text-center border border-gray-600 rounded-md h-14 md:h-16 md:w-11 focus:outline-none"
            type="text"
            id="fifth"
            maxlength="1"
            on:keyup={(e) => clickEvent(e, 'sixth')}
          />
          <input
            bind:value={otp[5]}
            class="w-10 text-center border border-gray-600 rounded-md h-14 md:h-16 md:w-11 focus:outline-none"
            type="text"
            id="sixth"
            maxlength="1"
          />
        </div>

        <div class="w-full text-left">
          <p class=" text-gray-label">Didn't receive the OTP?</p>
          <p on:click={sendOtp} class="underline cursor-pointer text-dark-red">
            Resend OTP
          </p>
        </div>

        <Button
          className={'w-full mt-4'}
          htmlType={'submit'}
          btnclick={validateOtp}
          text={'Continue'}
        />
      {:else}
        <p class=" text-gray-label">
          An OTP will be sent to your registered mobile number and your email
          address to access the document drawer
        </p>
        <Button
          className={'w-full mt-4'}
          htmlType={'submit'}
          btnclick={sendOtp}
          text={'send OTP'}
        />
      {/if}
    </div>
  </div>
{:else if token}
  <DocumentDrawer />
{/if}
