<script>
  import { fetchApi } from '../../../services/api';
  import MyTab from '../../../components/MyTab.svelte';

  import { onMount } from 'svelte';

  import _ from 'lodash';

  let param = 'display_order';
  let order = 'asc';

  let faqResult = [];

  onMount(async () => {
    faqs();
  });

  const faqs = async () => {
    const res = await fetchApi('GET', `faqs`, null, 'cmsApi');
    const faqList = await res.json();
    faqResult = faqList;
  };
  function search_animal() {
    let input = document.getElementById('searchbar').value;
    input = input.toLowerCase();
    let x = document.getElementsByClassName('animals');

    for (let i = 0; i < x.length; i++) {
      if (!x[i].innerHTML.toLowerCase().includes(input)) {
        x[i].style.display = 'none';
      } else {
        x[i].style.display = 'list-item';
      }
    }
  }
</script>

<main>
  <div class="">
    <h2 class="mt-6 mb-10 text-3xl font-bold text-dark-red">
      Frequently Asked Questions ( FAQ)
    </h2>
    <input
      id="searchbar"
      on:keyup={search_animal}
      type="text"
      name="search"
      placeholder="Search Headings.."
      class="w-full px-4 py-2 mb-6 border-2 rounded-lg md:w-1/2 border-dark-red"
    />
    <div class="w-full md:w-full">
      {#each _.orderBy(faqResult, [param], [order]) as faq}
        <!-- {#each Object.entries(faqResult) as [key, faq]} -->
        <MyTab
          props={{
            title: faq.Title.replace(/([a-z])([A-Z])([0-9])/, '$1 $2'),
            id: faq.id,
          }}
        >
          <div class="bg-white rounded-lg">
            <p
              class="py-6 mr-3 text-base font-normal tracking-wide text-justify text-gray-label"
            >
              {faq.Description}
            </p>
          </div>
        </MyTab>
        <!-- <AccordionMenu
          props={{
            key: `{faq.id}`,
            contentLabel: faq.Title.replace(/([a-z])([A-Z])([0-9])/, '$1 $2'),
          }}
        >
          <div class="body-manual">
            <div class="bg-white rounded-lg">
              <p class="px-8 py-6 text-justify text-gray-label">
                {faq.Description}
              </p>
            </div>
          </div>
        </AccordionMenu> -->
      {/each}
    </div>
  </div>
</main>

<style>
  .icon-rtl {
    padding-right: 25px;
    background: url('https://static.thenounproject.com/png/101791-200.png')
      no-repeat right;
    background-size: 20px;
  }
</style>
