<script>
  import FormItem from '../../../../components/forms/FormItem.svelte';
  import Button from '../../../../components/Button.svelte';

  import { fetchApi } from '../../../../services/api';
  import { toastAlert } from '../../../../utils/toaster';

  let result;
  let state = {
    bank_ac_number: '',
    bank_name: '',
  };

  let bankList = [
    { bankName: 'SBI' },
    { bankName: 'ICICI' },
    { bankName: 'HDFC' },
    { bankName: 'KOTAK' },
  ];

  const onUpdate = async () => {
    const res = await fetchApi(
      'PUT',
      `user/updateBankdetail`,
      JSON.stringify(state),
    );
    const json = await res.json();
    if (res.status >= 200 && res.status <= 300) {
      toastAlert('info', 'Bank Details Updated');
    } else {
      console.error('Error', json.message ? json.message : 'backend err msg.');
      toastAlert('info', 'Updation Failed!');
    }
    result = JSON.stringify(json);
  };
</script>

<main class="border rounded-lg shadow">
  <section class="px-6 py-6">
    <!-- Form -->
    <div class="mx-2">
      <div class="md:grid md:grid-cols-4 md:gap-4">
        <!-- Left -->
        <div class="col-span-2 ">
          <form on:submit|preventDefault={onUpdate}>
            <FormItem
              formType="select"
              label="Bank Name"
              name="bankName"
              bind:value={state.bank_name}
            >
              {#each bankList as list}
                <option>{list.bankName}</option>
              {/each}
            </FormItem>
            <!--Accout number -->
            <div class="mb-9">
              <FormItem
                label="Bank Account Number"
                name="bankaccountnumber"
                placeholder="Enter your Bank Account Number"
                bind:value={state.bank_ac_number}
              />
              {result}
            </div>

            <!-- Update Button -->
            <div class="mt-4 text-center">
              <Button htmlType="submit" text="Update" className="w-full" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</main>
