<script>
  import { fetchApi } from '../../../../services/api';
  import { uploadAPI } from '../../../../services/upload';
  import { toastAlert } from '../../../../utils/toaster';
  import { onMount } from 'svelte';
  import { relativeTimeRounding } from 'moment';

  let avatar,
    fileinput,
    image = '';

  onMount(() => {
    // user_name = getUserInfo().full_name;
    fetchData();
  });

  const fetchData = async () => {
    const res = await fetchApi('GET', `api-admin/getMyProfile`);

    const users = await res.json();
    avatar = users.photo;

    // console.log('files', users.photo);
  };

  const onFileSelected = (e) => {
    image = e.target.files[0];
    let reader = new FileReader();
    reader.readAsDataURL(image);
    reader.onload = (e) => {
      avatar = e.target.result;
    };

    if (image.name) {
      //   image = image;
      uploadImage();
    }
  };

  const uploadImage = async () => {
    // fields.loading = true;
    const res = await uploadAPI('POST', `api-admin/imageUpdate`, image);
    const json = await res.json();
    if (res.status >= 200 && res.status <= 300) {
      toastAlert(
        'success',
        json.message ? json.message : 'Profile Image Uploaded!',
      );
      location.reload();
      fetchData();
    } else {
      toastAlert('error', json.message ? json.message : 'Error!');
    }
  };
</script>

<div id="app">
  {#if avatar}
    <img
      class="rounded-full shadow-lg avatar"
      src={avatar}
      alt="d"
      on:click={() => {
        fileinput.click();
      }}
    />
  {:else}
    <img
      class="rounded-full shadow-lg avatar"
      src="https://imgs.search.brave.com/3m9Mki16Wq9my035-JAnDuA6NUNWV8L9TCa2nmApios/rs:fit:512:512:1/g:ce/aHR0cHM6Ly9jZG4y/Lmljb25maW5kZXIu/Y29tL2RhdGEvaWNv/bnMvcGVvcGxlLWZs/YXQtZGVzaWduLzY0/L0FkZC1Vc2VyLVBy/b2ZpbGUtTmV3LU1v/cmUtUGx1cy1Db250/YWN0LTUxMi5wbmc"
      alt=""
      on:click={() => {
        fileinput.click();
      }}
    />
  {/if}
  <!-- <img
    class="upload"
    src="https://static.thenounproject.com/png/625182-200.png"
    alt=""
    on:click={() => {
      fileinput.click();
    }}
  />
  <div
    class="chan"
    on:click={() => {
      fileinput.click();
    }}
  >
    Choose Image
  </div> -->
  <input
    style="display:none"
    type="file"
    accept=".jpg, .jpeg, .png"
    on:change={(e) => onFileSelected(e)}
    bind:this={fileinput}
  />
</div>

<style>
  #app {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
  }

  .upload {
    display: flex;
    height: 50px;
    width: 50px;
    cursor: pointer;
  }
  .avatar {
    display: flex;
    height: 130px;
    width: 130px;
  }
</style>
