<script>
  import Avatar from '../../../../components/Avatar.svelte';
  import Button from '../../../../components/Button.svelte';
  import FormItem from '../../../../components/forms/FormItem.svelte';
  import { useNavigate, useParams } from 'svelte-navigator';
  import { onMount } from 'svelte';
  import * as country_json from '../../../../json/country-phone.json';

  import { fetchApi } from '../../../../services/api';
  import ProfileImage from '../screens/ProfileImage.svelte';

  import { toastAlert } from '../../../../utils/toaster';

  // import { userDetail } from '../../../../stores';
  import * as yup from 'yup';

  import { Form, Message } from 'svelte-yup';

  const navigate = useNavigate();

  let submitted = false;
  let isValid;

  //validation
  let schema = yup.object().shape({
    full_name: yup.string().required('Name is required'),
    mobile: yup
      .string()
      .required('Please enter a valid number')
      .matches(/^[0-9]+$/, 'Must be only numbers')
      .min(7, "That doesn't look like a valid number")
      .max(12, "That doesn't look like a valid number"),

    // password: yup
    //   .string()
    //   .nullable()
    //   // required('Please enter a password')
    //   .min(8, 'Password must be 8 alphanumeric characters')
    //   .matches(
    //     /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}$/,
    //     'Must be atleast 1 uppercase, 1 lowercase & 1 numeric letter',
    //   ),
  });

  // Form
  let fields = {
    loading: false,

    files: '',
    full_name: '',
    password: '',
    country_code: '65',
    mobile: '',
    country_code_label: '',
  };

  onMount(async () => {
    fetchData();
  });

  const fetchData = async () => {
    const res = await fetchApi('GET', `api-admin/getMyProfile`);

    const users = await res.json();
    fields.full_name = users.full_name ? users.full_name : '';
    fields.country_code = users.country_code ? users.country_code : '';
    fields.mobile = users.mobile ? users.mobile : '';
  };

  const onUpdate = async () => {
    submitted = true;
    isValid = schema.isValidSync(fields);

    if (isValid) {
      fields.country_code_label = country_json.default.find(
        (x) => x.dial_code.toString() === '+' + fields.country_code.toString(),
      ).code;
      const res = await fetchApi(
        'PUT',
        `api-admin/updtaeMyProfile`,
        JSON.stringify({
          ...fields,
        }),
      );
      const json = await res.json();
      if (res.status >= 200 && res.status <= 300) {
        toastAlert('success', 'Your Profile has been updated successfully.');
      } else {
        toastAlert(
          'error',
          json.message
            ? json.message
            : 'We have encountered a technical difficulty onboarding you. Please try again later.',
        );
      }
    }
  };

  let back = () => {
    navigate('/');
  };
</script>

<main class="mt-6 rounded-md shadow">
  <section class="px-6 py-6">
    <!-- Form -->
    <div class="mx-2">
      <div class="md:grid md:grid-cols-4 md:gap-4">
        <!-- Left -->
        <div class="col-span-2 ">
          <!-- <form on:submit|preventDefault={onUpdate}> -->
          <Form
            class="form"
            {schema}
            {fields}
            submitHandler={onUpdate}
            {submitted}
          >
            <div class="flex justify-start w-full mt-3 rounded-full">
              <ProfileImage />
            </div>
            <!-- Name -->
            <div class="mt-5">
              <FormItem
                label="Full Name*"
                name="name"
                placeholder="Full Name"
                bind:value={fields.full_name}
              />
              <div class="flex justify-end text-dark-red">
                <Message name="full_name" />
              </div>
            </div>
            <div>
              <FormItem
                formType="inputPreSelect"
                preSelectType="countries"
                type="text"
                label="Mobile No*"
                name="mobile"
                placeholder="Enter your Mobile Number"
                bind:value={fields.mobile}
                bind:country_code={fields.country_code}
              />
              <div class="flex justify-end text-dark-red">
                <Message name="mobile" />
              </div>
            </div>
            <!-- Password -->
            <div class="mt-0">
              <FormItem
                htmlType="password"
                label="password "
                name="password"
                placeholder="Enter your password"
                bind:value={fields.password}
              />
              <!-- <div class="flex justify-end text-dark-red">
                <Message name="password" />
              </div> -->
            </div>
            <!-- Update Button -->
            <div class="mt-4 md:justify-end md:space-x-4 md:flex">
              <div class="w-full md:w-28">
                <Button gradient={true} htmlType={'submit'} text={'Save'} />
              </div>
              <div class="w-full mt-4 md:w-28 md:mt-0">
                <Button
                  htmlType={'button'}
                  isOutlined={true}
                  text={'Back'}
                  gradientInverse
                  btnclick={back}
                />
              </div>
            </div>
          </Form>
          <!-- </form> -->
        </div>
      </div>
    </div>
  </section>
</main>
