<script>
  import Button from '../../../../components/Button.svelte';
  import FormItem from '../../../../components/forms/FormItem.svelte';

  import * as yup from 'yup';
  import { Form, Message } from 'svelte-yup';

  import { fetchApi } from '../../../../services/api';
  import { toastAlert } from '../../../../utils/toaster';

  //validation
  let schema = yup.object().shape({
    old_password: yup.string().required('Password is required'),
    new_password: yup.string().required('New Password is required'),
    confirm_password: yup
      .string()
      .required('Please confirm your password')
      .oneOf([yup.ref('new_password'), null], 'Passwords do not match'),
  });
  let result;
  let fields = { old_password: '', new_password: '', confirm_password: '' };
  let submitted = false;
  let isValid;

  const onUpdate = async () => {
    submitted = true;
    isValid = schema.isValidSync(fields);
    if (isValid) {
      const res = await fetchApi(
        'PUT',
        `user/changePassword`,
        JSON.stringify(fields),
      );
      const json = await res.json();
      if (res.status >= 200 && res.status <= 300) {
        toastAlert('info', 'Password Successfully Updated');
      } else {
        console.error(
          'Error',
          json.message ? json.message : 'backend err msg.',
        );
        toastAlert('info', 'Updation failed check your current password!');
      }
      result = JSON.stringify(json);
    }
  };
</script>

<main class="border rounded-lg shadow">
  <section class="px-6 py-6">
    <!-- Form -->
    <div class="mx-2">
      <div class="md:grid md:grid-cols-4 md:gap-4">
        <!-- Left -->
        <div class="col-span-2 ">
          <!-- <form on:submit|preventDefault={onUpdate}> -->
          <Form
            class="form"
            {schema}
            {fields}
            submitHandler={onUpdate}
            {submitted}
          >
            <!-- Registered Mobile -->
            <div class="mb-9">
              <FormItem
                htmlType="password"
                label="Current Password"
                name="password"
                placeholder="Enter your current password"
                bind:value={fields.old_password}
              />
              <Message name="old_password" />
            </div>
            <!--New Mobile -->
            <div class="mb-9">
              <FormItem
                htmlType="password"
                label="Choose new password"
                name="npassword"
                placeholder="Enter your new password"
                bind:value={fields.new_password}
              />
              <Message name="new_password" />
            </div>
            <!-- Name -->
            <div class="mb-9">
              <FormItem
                htmlType="password"
                label="Confirm Password"
                name="cpassword"
                placeholder="Confirm password"
                bind:value={fields.confirm_password}
              />
              <Message name="confirm_password" />
            </div>
            <!-- Update Button -->
            <div class="mt-4 text-center">
              <Button htmlType="submit" text="Update" className="w-full" />
            </div>
          </Form>
        </div>
      </div>
    </div>
  </section>
</main>
