<script>
  import Lock from '../../../../components/icons/dashboard/profile/Lock.svelte';
  import Success from '../../../../components/icons/dashboard/profile/Success.svelte';

  import Button from '../../../../components/Button.svelte';
  import OtpInput from '../../../../components/input/OtpInput.svelte';

  let OtpValue = '';
</script>

<main class="border rounded-lg shadow">
  <section class="px-6 py-6">
    <!-- Form -->
    <div class="mx-2">
      <div class="md:grid md:grid-cols-4 md:gap-4">
        <!-- Left -->
        <div class="col-span-2 ">
          <div>
            <h1
              class="py-2 pl-5 font-medium rounded-t-xl bg-gray-bgcol text-dark-red"
              style="background-color:#EAEAEA;"
            >
              Two-Step-authentication
            </h1>
          </div>
          <div class="border">
            <div class="flex justify-center w-full ">
              <div
                class="flex items-center justify-center w-24 h-24 mt-3 mb-5 text-center rounded-full"
                style="background-color:#EAEAEA;"
              >
                <Lock />
              </div>
            </div>
            <h1 class="text-center text-dark-red">
              Download Authentication App
            </h1>
            <hr class="mt-6 mb-10" />
            <div class="mx-8 lg:mx-16">
              <p>
                <span style="color: #458D6F;">Recommended</span> · Download Google
                Authenticator from Google play store & App store to generate verification
                codes for more protection
              </p>
              <!-- Update Button -->
              <div class="mb-4 text-center mt-14">
                <Button
                  htmlType="submit"
                  text="Use Authentication App"
                  className="w-full"
                />
              </div>
              <div class="mb-6">
                <Button text="Cancel" className="w-full" isOutlined />
              </div>
            </div>
          </div>

          <div
            class="flex items-center justify-center w-full h-10 text-center border rounded-b-xl"
            style="background-color:#EAEAEA;"
          />
        </div>
      </div>
    </div>
  </section>
</main>

<main class="border rounded-lg shadow">
  <section class="px-6 py-6">
    <!-- Form -->
    <div class="mx-2">
      <div class="md:grid md:grid-cols-4 md:gap-4">
        <!-- Left -->
        <div class="col-span-2 ">
          <div>
            <h1
              class="py-2 pl-5 font-medium rounded-t-xl bg-gray-bgcol text-dark-red"
              style="background-color:#EAEAEA;"
            >
              Two-Step-authentication
            </h1>
          </div>
          <div class="border">
            <div class="flex justify-center w-full ">
              <div
                class="flex items-center justify-center w-24 h-24 mt-3 mb-5 text-center rounded-full"
                style="background-color:#EAEAEA;"
              >
                <Lock />
              </div>
            </div>
            <h1 class="text-center text-dark-red">
              Scan through Google Authenticator
            </h1>
            <hr class="mt-6 mb-10" />
            <div class="mx-8 lg:mx-16">
              <p class="lg:text-justify">
                <span style="color: #458D6F;">Recommended</span> · Please use your
                authentication app ( Google Authenticator) to scan this QR code or
                Enter the code Manually into your app
              </p>
              <div class="flex flex-row w-full mt-6">
                <div
                  class="grid w-full h-32 card rounded-box place-items-center"
                  style="background-color:#EAEAEA;"
                >
                  Qr Code
                </div>
                <div class="divider divider-vertical">OR</div>
                <div
                  class="grid w-full h-32 card rounded-box place-items-center"
                  style="background-color:#EAEAEA;"
                >
                  <div class="mx-4">
                    <p class="text-sm ">
                      Enter this code into your authentication app
                    </p>
                    <h1 class="text-xl font-bold text-center">7654325</h1>
                  </div>
                </div>
              </div>

              <!-- Update Button -->
              <div class="mb-4 text-center mt-14">
                <Button
                  htmlType="submit"
                  text="Use Authentication App"
                  className="w-full"
                />
              </div>
              <div class="mb-6">
                <Button text="Cancel" className="w-full" isOutlined />
              </div>
            </div>
          </div>

          <div
            class="flex items-center justify-center w-full h-10 text-center border rounded-b-xl"
            style="background-color:#EAEAEA;"
          />
        </div>
      </div>
    </div>
  </section>
</main>

<main class="border rounded-lg shadow">
  <section class="px-6 py-6">
    <!-- Form -->
    <div class="mx-2">
      <div class="md:grid md:grid-cols-4 md:gap-4">
        <!-- Left -->
        <div class="col-span-2 ">
          <div>
            <h1
              class="py-2 pl-5 font-medium rounded-t-xl bg-gray-bgcol text-dark-red"
              style="background-color:#EAEAEA;"
            >
              Two-Step-authentication
            </h1>
          </div>
          <div class="border">
            <div class="flex justify-center w-full ">
              <div
                class="flex items-center justify-center w-24 h-24 mt-3 mb-5 text-center rounded-full"
                style="background-color:#EAEAEA;"
              >
                <Lock />
              </div>
            </div>
            <h1 class="text-center text-dark-red">Enter confirmation code</h1>
            <hr class="mt-6 mb-10" />
            <div class="mx-8 lg:mx-16">
              <p>
                <span style="color: #458D6F;">Recommended</span> · Please enter the
                confirmation code that you see on your authentication app
              </p>
              <div class="flex justify-between mt-10">
                <OtpInput count={6} bind:value={OtpValue} />
              </div>
              <!-- Update Button -->
              <div class="mb-10 text-center mt-14">
                <Button htmlType="submit" text="Verify" className="w-full" />
              </div>
            </div>
          </div>

          <div
            class="flex items-center justify-center w-full h-10 text-center border rounded-b-xl"
            style="background-color:#EAEAEA;"
          />
        </div>
      </div>
    </div>
  </section>
</main>

<main class="border rounded-lg shadow">
  <section class="px-6 py-6">
    <!-- Form -->
    <div class="mx-2">
      <div class="md:grid md:grid-cols-4 md:gap-4">
        <!-- Left -->
        <div class="col-span-2 ">
          <div>
            <h1
              class="py-2 pl-5 font-medium rounded-t-xl bg-gray-bgcol text-dark-red"
              style="background-color:#EAEAEA;"
            >
              Two-Step-authentication
            </h1>
          </div>
          <div class="border">
            <div class="flex justify-center w-full ">
              <div
                class="flex items-center justify-center w-24 h-24 mt-3 mb-5 text-center rounded-full"
                style="background-color:#EAEAEA;"
              >
                <Success />
              </div>
            </div>
            <h1 class="text-center text-dark-red">Successfuly Enabled</h1>
            <hr class="mt-6 mb-10" />
            <div class="mx-8 lg:mx-16">
              <p>
                <span style="color: #458D6F;"
                  >Your Authentication code will be sent to google Authneticator
                  app for future log-in.
                </span>
              </p>
              <div class="flex justify-between mt-10">
                <OtpInput count={6} bind:value={OtpValue} />
              </div>
              <!-- Update Button -->
              <div class="mb-10 text-center mt-14">
                <Button htmlType="submit" text="Verify" className="w-full" />
              </div>
            </div>
          </div>

          <div
            class="flex items-center justify-center w-full h-10 text-center border rounded-b-xl"
            style="background-color:#EAEAEA;"
          />
        </div>
      </div>
    </div>
  </section>
</main>
