<script>
  import { onMount } from 'svelte';
  import { Link } from 'svelte-navigator';
  import { tweened } from 'svelte/motion';

  import Button from '../../../../components/Button.svelte';
  import FormItem from '../../../../components/forms/FormItem.svelte';
  import ModelPopUp from '../../../../components/ModelPopUp.svelte';
  import Verify from '../../../../components/icons/dashboard/profile/Verify.svelte';
  import Loading from '../../../../components/icons/Loading.svelte';
  import OtpInput from '../../../../components/input/OtpInput.svelte';

  import { getUserInfo } from '../../../../utils/storage';

  let OtpValue = '';

  //timer 30sec
  // let resendCodeCount = 0; ToCheck: used?
  let resendCodeLoading = false;
  let original = 60; // TYPE NUMBER OF SECONDS HERE
  let timer = tweened(original);

  setInterval(() => {
    if ($timer > 0) $timer--;
  }, 1000);

  $: minutes = Math.floor($timer / 60);
  $: seconds = Math.floor($timer - minutes * 60);

  // Form
  let state = {
    country_code: '',
    mobile: '',
  };
  onMount(() => {
    state.country_code = getUserInfo().country_code
      ? getUserInfo().country_code
      : 'Guess';
    state.mobile = getUserInfo().mobile ? getUserInfo().mobile : 'Guess';
  });

  const onUpdate = () => {
    // console.log(state);
  };

  const onVerifyOtp = () => {
    // console.log(OtpValue);
  };
</script>

<main class="border rounded-lg shadow">
  <section class="px-6 py-6">
    <!-- Form -->
    <div class="mx-2">
      <div class="md:grid md:grid-cols-4 md:gap-4">
        <!-- Left -->
        <div class="col-span-2 ">
          <!-- Registered Mobile -->
          <div class="mb-9">
            <form on:submit|preventDefault={onUpdate}>
              <FormItem
                formType="inputPreSelect"
                preSelectType="countries"
                type="text"
                label="Mobile No"
                name="mobileNo"
                placeholder="Enter your Mobile Number"
                bind:value={state.mobile}
                bind:country_code={state.country_code}
              />
            </form>
          </div>

          <!-- Update Button -->
          <div class="mt-4 text-center">
            <!-- <Button htmlType="submit" text="Update" className="w-full" /> -->
            <ModelPopUp
              props={{ btnKey: '1', btnLabel: 'Update', btnSubmit: 'Continue' }}
            >
              <div class="flex justify-center">
                <Verify />
              </div>
              <p class="mt-3 text-dark-red">Please verify your Mobile No.</p>
              <p class="mt-3 text-gray-label">
                An OTP has been sent to your registered mobile no. Please enter
                the verification code.
              </p>
              <div class="flex justify-between mx-4 mt-10 mb-5">
                <OtpInput count={4} bind:value={OtpValue} />
              </div>
              <div class="flex justify-between mx-4">
                <div class="text-sm text-gray-label">0/3 Tries</div>
                <div>
                  <Link
                    to=""
                    class="text-sm text-gray-label hover:text-dark-red"
                    >Didn’t receive the code?
                  </Link>
                </div>
              </div>
              <div class="flex justify-end w-full pr-4 text-sm text-gray-label">
                {#if seconds === 0}
                  {#if resendCodeLoading}
                    <div class="mt-2">
                      <Loading />
                    </div>
                  {/if}
                  <Button
                    text="Resend Code"
                    className="btn-ghost text-dark-red hover:bg-transparent px-0"
                    disabled={resendCodeLoading}
                  />
                  <!-- <button class="mt-5 mb-3 hover:text-dark-red">Resend Code</button> -->
                {:else}
                  <div class="mt-2">
                    <Loading />
                  </div>

                  <div>
                    <p class="mt-5 mb-3 cursor-pointer" id="some_div">
                      Resend Code in
                      <span class="pr-1 text-dark-red">{seconds}</span>Seconds
                    </p>
                  </div>
                {/if}
              </div>
              <div class="mx-4 mt-4 mb-6">
                <Button
                  text="Continue"
                  className="w-full "
                  btnclick={onVerifyOtp}
                  isOnce
                />
              </div>
            </ModelPopUp>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
