<script>
  import { Router, Route, Link } from 'svelte-navigator';

  import BasicModuleDetails from '../BasicModule/BasicModuleDetail.svelte';
</script>

<Router>
  <Route path=":id" let:params><BasicModuleDetails id={params.id} /></Route>
</Router>
