<script>
  import Profile from './Profile.svelte';
  import BlockOutDates from './BlockOutDates.svelte';
  import BinButton from '../../../../../components/IconButton.svelte';
  import DeletePopup from '../../../../../components/DeleteModal.svelte';
  import { fetchApi } from '../../../../../services/api';
  import { toastAlert } from '../../../../../utils/toaster';
  import { useNavigate, useParams } from 'svelte-navigator';
  import { Tab, TabList, TabPanel, Tabs } from 'svelte-tabs';

  const navigate = useNavigate();
  const params = useParams();

  $: editId = $params.id;
  let bank;
  $: bankID = (e) => {
    bank = e.detail.id;
  };

  async function removeRecord() {
    const res = await fetchApi(
      'DELETE',
      `customer-admin/bank/banker/${editId}`,
    );
    if (res.status >= 200 && res.status <= 300) {
      toastAlert(
        'success',
        // json.message ? json.message :
        'Banker has been deleted!',
      );
      back();
    } else if (res.status === 403) {
      toastAlert(
        'error',
        'Ask administrator to set specific role to access it',
      );
    } else {
      console.error('Error', 'backend err msg.');
      toastAlert(
        'error',
        // json.error_description ? json.error_description :
        'backend err msg.',
      );
    }
  }

  let back = () => {
    navigate('/banker/list');
  };

  //Delete popup
  let deletePop = false;
  const deletePopup = () => {
    deletePop = true;
  };
</script>

<div class="w-full">
  <div class="w-full">
    <h2
      class="my-6 ml-6 text-2xl font-semibold lg:mt-6 lg:mb-10 lg:text-3xl text-dark-red"
    >
      Banker
    </h2>
    <div class="w-full p-6 border shadow bg-base-100 rounded-box">
      <div class="flex justify-end cursor-pointer">
        {#if editId}
          <BinButton
            bin={true}
            on:click={deletePopup}
            className="border rounded-lg border-dark-red"
          />
        {/if}
      </div>
      <Tabs>
        <TabList>
          <div class="flex justify-between w-full">
            <div class="w-full">
              <Tab>Profile</Tab>
            </div>
            {#if editId}
              <div class="w-full">
                <Tab>Block Out Dates</Tab>
              </div>
            {/if}
          </div>
        </TabList>

        <TabPanel>
          <div class="pt-10">
            <Profile {editId} on:bankID={bankID} />
          </div>
        </TabPanel>

        <TabPanel>
          <div class="p-10">
            <BlockOutDates {editId} {bank} />
          </div>
        </TabPanel>
      </Tabs>
    </div>
  </div>
</div>
<!-- Delete Popup -->
<div class="absolute top-0 right-0 z-10 sm:px-0">
  {#if deletePop}
    <DeletePopup
      on:close={() => (deletePop = false)}
      on:delete={removeRecord}
    />
  {/if}
</div>

<!-- 

<script>

  import { f7ready, Tabs, Tab } from "framework7-svelte";
  import { onMount } from "svelte";

  let elTab1;
  let elTab2;
  let elTab3;

  function getActiveTabId() {

      if (elTab1.classList.contains("tab-active")) return elTab1.id;

      if (elTab2.classList.contains("tab-active")) return elTab2.id;

      if (elTab3.classList.contains("tab-active")) return elTab3.id;

      return undefined;

  }

  onMount(() => {

      f7ready(() => {

          alert(getActiveTabId());

      });

  });

</script>

<div class="tabs">

Tab 1, active by default 
  <div id="tab1" bind:this={elTab1} class="tab tab-active">... Tab 1 content ...</div>

  Tab 2
  <div id="tab2" bind:this={elTab2} class="tab">... Tab 2 content ...</div>

  Tab 3
  <div id="tab3" bind:this={elTab3} class="tab">... Tab 3 content ...</div>

</div> -->
<style>
  :global(.svelte-tabs) {
    text-align: center;
  }
  :global(.svelte-tabs__tab) {
    color: #df5356 !important;
  }

  :global(.svelte-tabs li.svelte-tabs__selected) {
    border-bottom: 4px solid #df5356;
    width: 100%;
    color: #df5356;
    text-align: center;
    outline: none;
  }
  :global(.svelte-tabs li.svelte-tabs__selected):focus {
    outline: none;
  }
</style>
