<script>
  import Formitems from '../../../../../components/forms/FormItem.svelte';
  import Button from '../../../../../components/Button.svelte';
  import { fetchApi } from '../../../../../services/api';
  import { toastAlert } from '../../../../../utils/toaster';
  import { useNavigate } from 'svelte-navigator';
  import { createEventDispatcher, onMount } from 'svelte';
  import * as yup from 'yup';
  import { Form, Message } from 'svelte-yup';
  const dispatch = createEventDispatcher();

  const navigate = useNavigate();
  let schema = yup.object().shape({
    bank: yup.number().typeError('Bank is a requried field').label('Bank'),
    name: yup.string().required().max(254).label('Banker Name'),
    email: yup.string().required().email().label('Banker Email Address'),
    phone_number: yup
      .number()
      .positive()
      .integer()
      .nullable(true)
      .typeError('Please enter number only')
      .label('Mobile Number'),
    referral_link: yup.string().nullable().url().label('Referral Link'),
  });

  const fields = {
    bank: null,
    email: '',
    name: '',
    country_code: '65',
    phone_number: null,
    referral_link: null,
    remarks: null,
    status: true,
  };

  let submitted = false;
  let isValid;
  export let editId = '';
  let all = [];
  let allBank = [];

  onMount(async () => {
    fetchBankList();
  });
  const fetchBankList = async () => {
    const res2 = await fetchApi('GET', `customer-admin/bank/all?page_size=100`);
    const bankDrop = await res2.json();
    allBank = bankDrop.results;
    if (editId) {
      const res = await fetchApi('GET', `customer-admin/bank/banker/${editId}`);
      const bank = await res.json();
      all = bank;

      fields.bank = all.bank.id;
      fields.email = all.email;
      fields.name = all.name;
      fields.country_code = all.country_code.toString();
      fields.phone_number = all.phone_number;
      fields.referral_link = all.referral_link;
      fields.remarks = all.remarks;
      fields.status = all.status;
    }
  };
  async function formSubmit() {
    fields.phone_number =
      fields.phone_number === '' ? null : fields.phone_number;
    submitted = true;
    isValid = schema.isValidSync(fields);
    if (isValid) {
      if (editId) {
        const res = await fetchApi(
          'PUT',
          `customer-admin/bank/banker/${editId}`,
          JSON.stringify(fields),
        );

        const json = await res.json();
        if (res.status >= 200 && res.status <= 300) {
          toastAlert(
            'success',
            json.message ? json.message : 'Banker has been updated!',
          );
          remove();
          back();
        } else if (res.status === 403) {
          toastAlert('error', json.message ? json.message : 'backend err msg.');
        } else {
          console.error(
            'Error',
            json.error_description
              ? json.error_description
              : 'backend err msg.',
          );
          toastAlert(
            'error',
            json.error_description
              ? json.error_description
              : 'backend err msg.',
          );
        }
      } else {
        const res = await fetchApi(
          'POST',
          `customer-admin/bank/banker/create`,
          JSON.stringify(fields),
        );
        const json = await res.json();
        if (res.status >= 200 && res.status <= 300) {
          toastAlert(
            'success',
            json.message ? json.message : 'Banker has been added!',
          );
          remove();
          back();
        } else if (res.status === 403) {
          toastAlert('error', json.message ? json.message : 'backend err msg.');
        } else {
          console.error(
            'Error',
            json.error_description
              ? json.error_description
              : 'backend err msg.',
          );
          toastAlert(
            'error',
            json.error_description
              ? json.error_description
              : 'backend err msg.',
          );
        }
      }
    }
  }

  let remove = () => {
    fields.bank = '';
    fields.email = '';
    fields.name = '';
    fields.phone_number = null;
    fields.referral_link = null;
    fields.remarks = null;
    fields.country_code = '';
    fields.status = true;
  };

  let back = () => {
    navigate('/banker/list');
  };
  $: if (fields.bank) {
    dispatch('bankID', {
      id: fields.bank,
    });
  }
  $: console.log(fields.bank);
</script>

<main class="">
  <div class="flex flex-col justify-start w-full gap-3 lg:w-6/12 ">
    <!-- <Formitems
      className={"w-full"}
      label={"Bank Email"}
      name={"bank_email"}
      bind:value={fields.name}
      placeholder={"Bank Name"}
      validation={{ type: "isEmail", errMsg: "Invalid Bank email" }}
    /> -->
    <Form {schema} {fields} submitHandler={formSubmit} {submitted}>
      <div class="flex flex-col space-y-1 text-left">
        <label for="bank" class="capitalize label-text text-gray-label">
          Bank <span class="text-xl text-dark-red">*</span>
        </label>
        <select
          bindSelect={true}
          class="text-gray-700 border border-gray-300 select select-bordered"
          name="bank"
          bind:value={fields.bank}
          placeholder="Bank"
        >
          <option>select</option>
          {#if allBank !== undefined}
            {#each allBank as ban}
              {#if ban.status !== false}
                {#if editId && fields.bank === ban.id}
                  <option name={ban.name} selected value={ban.id}
                    >{ban.name}</option
                  >
                {:else}
                  <option name={ban.name} value={ban.id}>{ban.name}</option>
                {/if}
              {/if}
            {/each}
          {/if}
        </select>
        <Message name="bank" />
      </div>
      <div class="mt-1">
        <Formitems
          className="w-full "
          label="Banker Name"
          required={true}
          name="name"
          bind:value={fields.name}
          placeholder="Banker Name"
        />
      </div>
      <div class="mb-2 text-left">
        <Message name="name" />
      </div>

      <!-- <Formitems
        formType="inputPreSelect"
        preSelectType="countries"
        label="Banker Mobile Number"
        name="phone_number"
        placeholder="Enter your Mobile Number"
        bind:value={fields.phone_number}
        bind:country_code={fields.country_code}
      /> -->
      <div>
        <Formitems
          formType="inputPreSelect"
          preSelectType="countries"
          type="text"
          label="Banker Mobile Number"
          name="phone_number"
          placeholder="Enter your Mobile Number"
          bind:value={fields.phone_number}
          bind:country_code={fields.country_code}
        />

        <div class="mb-2 text-left">
          <Message name="phone_number" />
        </div>
      </div>

      <div class="-mt-2">
        <Formitems
          className="w-full"
          label="Banker Email Address"
          required={true}
          name="email"
          bind:value={fields.email}
          placeholder="Bank Email Address"
        />
        <div class="mb-2 text-left">
          <Message name="email" />
        </div>
      </div>
      <div>
        <Formitems
          className="w-full"
          label="Bank Referral Link"
          name="referral_link"
          bind:value={fields.referral_link}
          placeholder="Bank Referral Link"
        />
        <div class="flex justify-end text-dark-red">
          <Message name="referral_link" />
        </div>
      </div>
      <div>
        <!-- <Formitems
          className="w-full"
          label="Remarks"
          name="remarks"
          bind:value={fields.remarks}
          placeholder="Remarks"
        /> -->

        <Formitems
          formType="textarea"
          label="remarks"
          name="remark"
          bind:value={fields.remarks}
        />
        <Message name="remarks" />
      </div>

      <div class="flex flex-col mt-4 mb-2 space-y-1 text-left">
        <label for="status" class="mb-1 capitalize label-text text-gray-label"
          >Banker status</label
        >
        <select
          bindSelect={true}
          class="text-gray-700 border border-gray-300 select select-bordered"
          name="status"
          bind:value={fields.status}
          placeholder="status"
        >
          <!-- <option>select</option> -->
          <option value={true}>Active</option>
          <option value={false}>Inactive</option>
        </select>
      </div>
      <div class=" md:flex md:justify-end md:mt-5">
        <div class="w-full mt-4 md:w-32 md:mt-2">
          <Button gradient={true} htmlType={'submit'} text={'Save'} />
        </div>
        <div class="w-full mt-4 md:mt-2 md:w-32 md:ml-3">
          <Button
            gradientInverse={true}
            htmlType={'button'}
            isOutlined={true}
            text={'Back'}
            btnclick={back}
          />
        </div>
      </div>
      <!-- <div class="flex flex-col w-full gap-3 mt-4">
        <Button gradient={true} htmlType={'submit'} text={'Save'} />

        <Button
          gradientInverse={true}
          htmlType={'button'}
          isOutlined={true}
          text={'Back'}
          btnclick={back}
        />
      </div> -->
    </Form>
  </div>
</main>
