<script>
  import { Link } from 'svelte-navigator';
  import CalculatorLanding from '../Calculator/CalLanding/CalculatorLand.svelte';
</script>

<div>
  <CalculatorLanding />
</div>

<!-- <h1>LandingPage</h1>

<Link to={'/equity'}>Equity</Link>
dfvdfv vdfvdfv vdfvdfvdf dvdfvd

<Link to={'/stampDuty'}>Buyer stamp duty</Link> -->
