<script>
  import { Route, Router } from 'svelte-navigator';
  import ContactList from './screens/ContactList.svelte';
  import View from './screens/View.svelte';
</script>

<Router>
  <Route path="list"><ContactList /></Route>
  <Route path=":id" let:params><View id={params.id} /></Route>
</Router>
