<script>
  import { Route, Router } from 'svelte-navigator';

  import ResourceListing from './screens/List.svelte';
  import ResourceAdd from './screens/Add.svelte';
</script>

<Router>
  <Route path="list"><ResourceListing /></Route>
  <Route path="add"><ResourceAdd /></Route>
  <Route path="edit/:id" component={ResourceAdd} />
</Router>
