<script>
  import { Accordion, AccordionItem } from 'svelte-collapsible';
  // import { Accordion, AccordionItem } from "svelte-accessible-accordion";
  import DownArrow from '../components/icons/dashboard/profile/DownArrow.svelte';

  export let props = '';
  export let fileSize = '';
  export let activeKey = null;
  export let className = '';
  let toggle = false;
</script>

<main>
  <div class="w-full mb-4">
    <Accordion bind:key={activeKey}>
      <div class={`my-0 rounded-lg shadow ${className ? '' : 'shadow'} `}>
        <AccordionItem key={props.key}>
          <div
            slot="header"
            class="flex justify-between w-full my-1 "
            on:click={() => (toggle = !toggle)}
          >
            <div class="py-3 text-xl font-medium">
              <h1
                class={`pt-1 pl-8 ${className} ${
                  props.textColor ? 'text-gray-label' : 'text-dark-red'
                } `}
              >
                {props.contentLabel}
              </h1>
            </div>

            {#if fileSize}
              <div class="flex">
                <div class="pt-2.5 pr-3 text-gray-label">{fileSize}</div>
                <div class="pt-3 pr-3">
                  <DownArrow {toggle} />
                </div>
              </div>
            {:else}
              <div class="pt-3 pr-3">
                <DownArrow {toggle} />
              </div>
            {/if}
          </div>

          <div class="w-full" slot="body">
            <slot />
          </div>
        </AccordionItem>
      </div>
    </Accordion>
  </div>
</main>
