<script>
  export let isPdpa = false;
  export let isOutlined = false;
  export let isRounded = false;
  export let htmlType = null;
  export let preIcon = '';
  export let postIcon = null;
  export let gradient = false;
  export let gradientInverse = false;
  export let isOnce = false;

  export let text = '';
  export let width = false;

  export let className = '';
  export let disabled = false;

  export let btnclick = null;

  import RightArrow from './icons/RightArrow.svelte';
  import InfoCircleOutlined from './icons/InfoCircleOutlined.svelte';
  import GoogleColor from './icons/GoogleColor.svelte';
  import SupportChat from './icons/sidebar/Support.svelte';
</script>

<!-- Child is same, dif only in |once -->
{#if isOnce}
  <button
    type={htmlType === 'submit' ? 'submit' : 'button'}
    on:click|once={() => btnclick}
    class={`btn ${
      isPdpa ? `btn-secondary text-slate-900` : `btn-primary text-white`
    } capitalize ${isOutlined ? `btn-outline` : ``} ${
      isRounded ? `rounded-full` : ``
    } ${className}`}
    {disabled}
  >
    {#if preIcon}
      <span class="pr-1.5">
        {#if preIcon == 'google'}
          <GoogleColor />
        {:else if preIcon == 'support'}
          <SupportChat />
        {/if}
      </span>
    {/if}

    {text}

    {#if postIcon}
      <span class="pl-1">
        {#if postIcon == 'infoCircle'}
          <InfoCircleOutlined />
        {:else if postIcon == 'rightArrow'}
          <RightArrow />
        {/if}
      </span>
    {/if}
  </button>
{:else if gradient}
  <!-- gradient save button  -->
  <button
    type={htmlType === 'submit' ? 'submit' : 'button'}
    on:click={btnclick}
    {disabled}
    class={`font-medium text-white capitalize border-0 rounded-md btn focus:outline-none bg-gradient-to-r from-yellow-500 to-red-500 ${
      width ? `` : `w-full`
    } ${className} `}
  >
    {text}

    {#if postIcon}
      <span class="pl-1">
        {#if postIcon == 'infoCircle'}
          <InfoCircleOutlined />
        {:else if postIcon == 'rightArrow'}
          <RightArrow />
        {/if}
      </span>
    {/if}
  </button>
{:else if gradientInverse}
  <!-- gradient back button  -->
  <button
    class="w-full p-0.5 border-0 btn mb-1 focus:outline-none rounded-lg bg-gradient-to-r from-yellow-500 to-red-500 "
  >
    <button
      type={htmlType === 'submit' ? 'submit' : 'button'}
      on:click={btnclick}
      {disabled}
      class="w-full h-full font-medium capitalize border-0 rounded-md text-dark-red hover:text-white focus:outline-none bg-gradient-to-r from-white to-white hover:from-yellow-500 hover:to-red-500 "
    >
      {text}

      {#if postIcon}
        <span class="pl-1">
          {#if postIcon == 'infoCircle'}
            <InfoCircleOutlined />
          {:else if postIcon == 'rightArrow'}
            <RightArrow />
          {/if}
        </span>
      {/if}
    </button>
  </button>
{:else}
  <button
    type={htmlType === 'submit' ? 'submit' : 'button'}
    on:click={btnclick}
    class={`btn ${
      isPdpa ? `btn-secondary text-slate-900` : `btn-primary text-white`
    } capitalize ${isOutlined ? `btn-outline` : ``} ${
      isRounded ? `rounded-full` : ``
    } ${className}`}
    {disabled}
  >
    {#if preIcon}
      <span class="pr-1.5">
        {#if preIcon == 'google'}
          <GoogleColor />
        {:else if preIcon == 'support'}
          <SupportChat />
        {/if}
      </span>
    {/if}

    {text}

    {#if postIcon}
      <span class="pl-1">
        {#if postIcon == 'infoCircle'}
          <InfoCircleOutlined />
        {:else if postIcon == 'rightArrow'}
          <RightArrow />
        {/if}
      </span>
    {/if}
  </button>
{/if}
