<script>
  export let type = 'info';
  export let title = '';
  export let contentLabel = '';
  export let contentValue = '';
  export let buttonProps = null;
  export let icon = null;
  export let iconBg = 0;
  export let className='';

  import { Link } from 'svelte-navigator';
</script>

<div class={`w-full h-56 max-w-sm card custom-shadow ${className}`}>
  <div class="card-body">
    <div class="flex items-center justify-between gap-4 mb-4">
      <p class="text-lg font-semibold">{title}</p>
      <div
        class="flex items-center justify-center w-14 h-14 rounded-3xl"
        style={`background: ${
          iconBg == 0
            ? '#E4E4FF'
            : iconBg == 1
            ? '#FBEECE'
            : iconBg == 2
            ? '#D9F7E7'
            : iconBg == 3
            ? '#FFDED2'
            : iconBg == 4
            ? '#F4E7DA'
            : '#F4D7E3'
        }`}
      >
        {#if icon}
          <svelte:component this={icon} />
        {:else}
          <span>?icon</span>
        {/if}
      </div>
    </div>
    <p class="mb-2 text-xl text-gray-label">
      {contentLabel}
    </p>
    <div>
      {#if type == 'info'}
        <span class="mb-4 text-2xl font-bold" style="color: #77C19C"
          >{contentValue}</span
        >
      {:else}
        <Link to={buttonProps.link}>
          <button
            class="text-white btn btn-ghost bg-gradient-to-r from-yellow-500 to-red-500 hover:bg-yellow-500 "
            >{buttonProps.title}</button
          >
        </Link>
      {/if}
    </div>
  </div>
</div>
