<script>
	export let progress
	export let color
	export let textColor
	const angle = (360 / 100) * Number(progress)
	
	// Adapt the logic according to the approach
	const	background = `radial-gradient(white 50%, transparent 51%),
    conic-gradient(transparent 0deg ${angle}deg, gainsboro ${angle}deg 360deg),
    conic-gradient(${color});`;
	
	$: cssVarStyles = `--background:${background}`
</script>

<style>
#progress-circle {
  background: var(--background);
  border-radius: 50%;
  width: 120px;
  height: 120px;
	transition: all 500ms ease-in;
	will-change: transform;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
p{
	text-align:center;
	vertical-align: middle;
	line-height: 115px;  
}
</style>

<div id="progress-circle" style="{cssVarStyles}">
	<p class="{textColor} text-sm">{progress}%</p>
</div>
