<script>
    import { createEventDispatcher } from 'svelte';
  
    export let props = '';
    export let checked = false;
    export let className = null;
    const dispatch = createEventDispatcher();
  </script>
  
  <div>
    <input
      type="checkbox"
      id={`my-modal-${props.btnKey}`}
      class="modal-toggle"
      {checked}
      on:change={(e) => (checked = e.target.checked)}
    />
    <div class=" modal">
      <div class={` ${className ? className : ''} `}>
        <slot />
      </div>
    </div>
  </div>
  