<script>
  export let dropdownType = null;
  export let dropdownChevron = null;
  export let label = 'Dropdown';
  export let className = '';

  import ChevronDown from '../components/icons/ChevronDown.svelte';
</script>

<div
  class={`dropdown${
    dropdownType === 'hover' ? ' dropdown-hover' : ''
  } ${className}`}
>
  <div tabindex="0" class="m-1 btn">
    {label}{#if dropdownChevron === 'down'}<ChevronDown />{/if}
  </div>
  <ul
    tabindex="0"
    class="p-2 shadow menu dropdown-content bg-base-100 rounded-box w-52"
  >
    <slot />
  </ul>
</div>
