<script>
  import Button from '../components/Button.svelte';
  import { createEventDispatcher } from 'svelte';

  const dispatch = createEventDispatcher();
  export let onFilter;
  export let onResetFilter;
</script>

<!-- <div class="fixed inset-0 transition-opacity bg-gray-500 bg-opacity-50" /> -->
<div class="fixed inset-0 z-10 overflow-y-auto">
  <div
    class="fixed inset-0 transition-opacity bg-gray-500 bg-opacity-50"
    on:click={() => dispatch('close')}
  />
  <div class={`absolute right-0 md:right-0 z-50  top-0 lg:mr-0 lg:mt-0 `}>
    <ul class="h-screen overflow-y-auto border w-80 md:w-96 menu bg-base-100">
      <div class="mx-4 md:mx-6">
        <div class="flex items-center mt-8 ">
          <div class="w-full">
            <Button
              text="Reset"
              className="w-full text-lg bg-pink-50 text-pink-600 border-2 border-pink-50 hover:bg-pink-100 hover:border-pink-100"
              isRounded
              btnclick={onResetFilter}
            />
          </div>
          <div class="w-6 h-7">
            <button on:click={() => dispatch('close')}>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-7 h-7"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="2"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
                />
              </svg>
            </button>
          </div>
        </div>
        <slot />
        <div class="px-0 my-14">
          <Button
            text="Filter"
            className="rounded-xl"
            gradient={true}
            btnclick={onFilter}
          />
        </div>
      </div>
    </ul>
  </div>
</div>
