<script>
  export let htmlType = null;
  export let textIcon = null;

  export let text = '';

  export let className = '';
  export let disabled = false;

  //export let btnclick = null;
  export let shown = false;
  export let filter = false;
  export let RecentNotify = false;

  export const show = () => {
    shown = !shown;
    filter = !filter;
    RecentNotify = !RecentNotify;
  };
</script>

<button
  type={htmlType === 'submit' ? 'submit' : 'button'}
  on:click={show}
  class={`btn rounded-lg bg-transparent border-1 border-dark-red custom-shadow hover:shadow-lg hover:bg-transparent ${className}`}
  {disabled}
>
  {#if textIcon == null}
    {text}
  {:else}
    <svelte:component this={textIcon} />
  {/if}
</button>

{#if shown}
  <slot />
{:else}
  <slot />
{/if}

<!-- <button
  type={htmlType === "submit" ? "submit" : "button"}
  on:click={btnclick}
  class={`btn rounded-lg bg-transparent border-0 custom-shadow hover:shadow-lg hover:bg-transparent ${className}`}
  {disabled}
>
  {#if textIcon == null}
    {text}
  {:else}
    <svelte:component this={textIcon} />
  {/if}
</button> -->
