<script>
  export let inputType = null;
  export let label = null;
  export let type = null;
  export let name = null;
  export let id = null;
  export let error = null;
  export let placeholder = null;
  export let rows = null;

  let visible = true;
  let password = '';

  function toggle() {
    visible = !visible;
    document.querySelector('#input').type = visible ? 'text' : 'password';
  }
</script>

<!-- Full rounded Input with no error message-->
{#if inputType == 'input'}
  <div class="mt-5">
    <label for="fullname" class="text-gray-label">{label}</label>
    <div class="mt-1">
      <input
        {type}
        {id}
        {name}
        {placeholder}
        class="block w-full px-4 py-3 border border-gray-300 rounded-full shadow-sm sm:text-sm focus:outline-none focus:border-dark-red"
      />
    </div>
  </div>
{/if}

<!-- Mobile -->
{#if inputType == 'mobile'}
  <div class="mt-5">
    <label for="fullname" class="" style="color: #7D8592;">{label}</label>
    <div class="relative mt-1 rounded-md shadow-sm">
      <div class="absolute inset-y-0 left-0 flex items-center">
        <label for="country" class="sr-only">Country</label>
        <select
          id="country"
          name="country"
          autocomplete="country"
          class="h-full py-0 pl-3 pr-3 text-gray-500 bg-transparent border-transparent rounded-full focus:outline-none focus:ring-dark-red focus:border-dark-red sm:text-sm"
        >
          <option>US</option>
          <option value="ca">CA</option>
          <option>EU</option>
        </select>
      </div>
      <input
        {type}
        {name}
        {id}
        class="block w-full py-3 pl-16 border border-gray-300 rounded-full focus:outline-none focus:ring-dark-red focus:border-dark-red sm:text-sm"
        {placeholder}
      />
    </div>
  </div>
{/if}

<!--Full rounded Input with error message-->
{#if inputType == 'inputMessage'}
  <div class="mt-5">
    <label for="fullname" class="text-gray-label">{label}</label>
    <div class="mt-1">
      <input
        {type}
        {id}
        {name}
        {placeholder}
        class="block w-full px-4 py-3 border border-gray-300 rounded-full shadow-sm sm:text-sm focus:outline-none focus:border-dark-red"
      />
    </div>
    <p class="flex justify-end w-full text-dark-red">{error}</p>
  </div>
{/if}

<!--calendar-->
{#if inputType == 'calendar'}
  <div class="mt-5">
    <label for="fullname" class="text-gray-label">{label}</label>
    <div class="mt-1">
      <input
        {type}
        {id}
        {name}
        class="block w-full px-4 py-3 border border-gray-300 rounded-full shadow-sm sm:text-sm focus:outline-none focus:border-dark-red"
      />
    </div>
  </div>
{/if}

<!-- large rounded Input with no error message-->
{#if inputType == 'squreinput'}
  <div class="mt-5">
    <label for="fullname" class="text-gray-label">{label}</label>
    <div class="mt-1">
      <input
        {type}
        {id}
        {name}
        {placeholder}
        class="block w-full px-4 py-3 border border-gray-300 rounded-lg shadow-sm sm:text-sm focus:outline-none focus:border-dark-red"
      />
    </div>
  </div>
{/if}

<!--large rounded Input with error message-->
{#if inputType == 'squreinputMessage'}
  <div class="mt-5">
    <label for="fullname" class="text-gray-label">{label}</label>
    <div class="mt-1">
      <input
        {type}
        {id}
        {name}
        {placeholder}
        class="block w-full px-4 py-3 border border-gray-300 rounded-lg shadow-sm sm:text-sm focus:outline-none focus:border-dark-red"
      />
    </div>
    <p class="flex justify-end w-full text-dark-red">{error}</p>
  </div>
{/if}

<!-- large rounded TEXTAREA with no error message-->
{#if inputType == 'textArea'}
  <div class="mt-5">
    <label for="fullname" class="text-gray-label">{label}</label>
    <div class="mt-1">
      <textarea
        {rows}
        {id}
        {name}
        {placeholder}
        {error}
        class="block w-full pt-2 pl-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:border-dark-red sm:text-sm"
      />
    </div>
    <p class="flex justify-end w-full text-dark-red">{error}</p>
  </div>
{/if}

<!-- Full rounded Input with no error message-->
{#if inputType == 'password'}
  <div class="mt-5">
    <label for="fullname" class="text-gray-label">{label}</label>
    <div class="relative">
      <input
        data-input
        {name}
        {type}
        {placeholder}
        id="input"
        class="block w-full p-3 pl-4 text-gray-900 border border-gray-300 rounded-full sm:text-sm focus:outline-none focus:border-dark-red"
      />
      <div
        class="absolute inset-y-0 right-0 flex items-center justify-end pr-4 "
      >
        {#if !visible}
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-6 h-6 text-gray-label"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            on:click={() => toggle()}
            vFlip={true}
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
            />
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"
            />
          </svg>
        {:else}
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-6 h-6 text-gray-label"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            on:click={() => toggle()}
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.268-2.943-9.543-7a9.97 9.97 0 011.563-3.029m5.858.908a3 3 0 114.243 4.243M9.878 9.878l4.242 4.242M9.88 9.88l-3.29-3.29m7.532 7.532l3.29 3.29M3 3l3.59 3.59m0 0A9.953 9.953 0 0112 5c4.478 0 8.268 2.943 9.543 7a10.025 10.025 0 01-4.132 5.411m0 0L21 21"
            />
          </svg>
        {/if}
      </div>
    </div>
  </div>
{/if}
