<script>
  import CKEditor from 'ckeditor5-svelte';
  import DecoupledEditor from '@ckeditor/ckeditor5-build-decoupled-document/build/ckeditor';

  // Setting up editor prop to be sent to wrapper component
  let editor = DecoupledEditor;
  // Reference to initialised editor instance
  let editorInstance = null;
  // Setting up any initial data for the editor
  let editorData = 'Hello World';

  // If needed, custom editor config can be passed through to the component
  // Uncomment the custom editor config if you need to customise the editor.
  // Note: If you don't pass toolbar object then Document editor will use default set of toolbar items.
  let editorConfig = {
    toolbar: {
      items: [
        'heading',
        '|',
        'fontfamily',
        'fontsize',
        '|',
        'alignment',
        '|',
        'fontColor',
        'fontBackgroundColor',
        '|',
        'bold',
        'italic',
        'strikethrough',
        'underline',
        'subscript',
        'superscript',

        'link',

        'outdent',
        'indent',

        'bulletedList',
        'numberedList',

        'code',
        'codeBlock',

        'insertTable',

        'uploadImage',
        'blockQuote',

        'undo',
        'redo',
      ],
      shouldNotGroupWhenFull: true,
    },
  };

  function onReady({ detail: editor }) {
    // Insert the toolbar before the editable area.
    editorInstance = editor;
    editor.ui
      .getEditableElement()
      .parentElement.insertBefore(
        editor.ui.view.toolbar.element,
        editor.ui.getEditableElement(),
      );
  }
</script>

<main>
  <div class="border border-gray-300  focus:outline-none focus:border-dark-red">
    <CKEditor
      bind:editor
      on:ready={onReady}
      bind:config={editorConfig}
      bind:value={editorData}
    />
  </div>
</main>

<style>
</style>
