<script>
  // Layout for Auth user
  import { useNavigate, useLocation } from 'svelte-navigator';
  import Sidebar from '../components/dashboard/SideBar.svelte';
  import Header from '../components/dashboard/Header.svelte';
  import MobileMenu from '../components/MobileMenu.svelte';
  import TrendLine from './icons/sidebar/TrendLine.svelte';
  import CalculatorIcon from './icons/sidebar/Calculator.svelte';
  import ResourcesIcon from './icons/sidebar/Resources.svelte';
  import TrainingIcon from './icons/sidebar/Training.svelte';
  import ProfileIcon from './icons/sidebar/Profile.svelte';
  import MyLeadsIcon from './icons/sidebar/MyLeads.svelte';
  import Faq from './icons/sidebar/Faq.svelte';
  import Rates from './icons/sidebar/Rates.svelte';
  import { getUserDetail } from '../services/getUserInfo';
  import { fetchApi } from '../services/api';
  import { setUserInfo, setKvInfo } from '../utils/storage';
  import { deleteCookie } from '../utils/cookie';
  import { toastAlert } from '../utils/toaster';
  import { userDetail, userToken, allKv } from '../stores';
  import { globalHistory } from 'svelte-navigator';

  // check for client(drawer magic link)
  const historyStore = { subscribe: globalHistory.listen };
  $: url = $historyStore.location.pathname;
  // $: Client = (url.includes('/magic/drawer/'));
  $: Client = url.includes('/magic/ui/drawer/');
  const guestUrls = [
    '/page-not-found',
    '/email-verified',
    '/magic/pdpa',
    '/reset-password',
  ];
  $: GuessMode = guestUrls.some((gUrl) => url.includes(gUrl));

  const location = useLocation();

  //mobileMenu
  let MobileMenus = false;

  // disable routing if is_mobile_verified
  $: if (
    $userDetail &&
    $userToken &&
    $location.pathname !== '/profile' &&
    ($userDetail?.is_mobile_verified === 0 ||
      $userDetail?.is_email_verified === 0)
  ) {
    navigate('/profile');
    toastAlert(
      'warning',
      `You need to verify ${
        userDetail?.is_mobile_verified === 0 ? 'phone number' : 'phone number'
      } before granted full access.`,
    );
  }

  let menuList = [
    { link: '/', text: 'Dashboard', icon: TrendLine },
    {
      link: '',
      parentLink: ['/create-lead/', '/lead/manage/', '/create-lead'],
      text: 'My Leads',
      icon: MyLeadsIcon,
      menuChildren: [
        { link: '/create-lead', text: 'Create Lead' },
        { link: '/lead/list', text: 'Lead List' },
      ],
    },
    { link: '/rates', text: 'Rates', icon: Rates },
    // {
    //   link: '',
    //   text: 'Calculators',
    //   icon: CalculatorIcon,
    //   menuChildren: [
    //     { link: '/equity/add', text: 'Equity Loan' },
    //     { link: '/buyer/add', text: 'Buyer Stamp Duty' },
    //     { link: '/seller/add', text: 'Seller Stamp Duty' },
    //   ],
    // },
    {
      parentLink: [
        '/calculators/new-purchase/existing-lead-loan-application',
        '/calculators/new-purchase/existing-lead-property-loan-details',
        '/calculators/new-purchase/existing-lead-download-report',
        '/calculators/new-purchase/new-lead-loan-application/',
        '/calculators/new-purchase/new-lead-property-loan-details',
        '/calculators/new-purchase/new-lead-download-report',
        '/calculators/refinance/new-lead-loan-application/',
        '/calculators/refinance/new-lead-property-loan-details/',
        '/calculators/refinance/new-lead-generate-report',
        '/calculators/mortgage-repayment/add',
        '/calculators/buc-mortgage/add',
        '/calculators/equity/add',
        '/calculators/buyer/add',
        '/calculators/seller/add',
        '/calculators/refinance/existing-lead-loan-application/',
        '/calculators/refinance/existing-lead-generate-report',
      ],
      link: '/calculators',
      text: 'Calculators',
      icon: CalculatorIcon,
    },
    { link: '/resource', text: 'Resources', icon: ResourcesIcon },
    { link: '/training', text: 'Training', icon: TrainingIcon },

    { link: '/faq', text: 'Faq', icon: Faq },
    { link: '/profile', text: 'Profile', icon: ProfileIcon },
  ];

  let isAuth = false;

  userToken.subscribe((value) => {
    isAuth = value && value !== '' ? true : false;
  });

  const navigate = useNavigate();

  $: if ($userToken) {
    getUserDetail();
    getAllKV();
  }

  const getAllKV = async () => {
    // get userInfo
    const res = await fetchApi('GET', `customer/kvstore/all`);
    const json = await res.json();
    console.log('kvStore', json);
    if (res.status >= 200 && res.status <= 300) {
      // set user data in localStorage
      setKvInfo(json);
      allKv.set(json);
    } else {
      // kick user
      console.log('Error', json.message ? json.message : 'backend err msg.');
      toastAlert('error', json.message ? json.message : 'backend err msg.');
      deleteCookie('cookie');
      navigate('/');
    }
  };
</script>

{#if isAuth && !Client && !GuessMode}
  <main>
    <!-- Mobile Menu-->
    <div>
      {#if MobileMenus}
        <MobileMenu on:open={() => (MobileMenus = !MobileMenus)} {menuList} />
      {/if}

      <!--  Sidebar for desktop -->
      <section>
        <Sidebar {menuList} />
      </section>

      <div class="md:pl-64">
        <div class="flex flex-col w-full mx-auto md:px-8 xl:px-12">
          <!-- Header -->
          <section>
            <Header on:open={() => (MobileMenus = !MobileMenus)} />
          </section>

          <main class="flex-1">
            <div class="">
              <div class="px-4 sm:px-6 md:px-0">
                <div class="">
                  <div class="">
                    <slot />
                  </div>
                </div>
              </div>
            </div>
          </main>
        </div>
      </div>
    </div>
  </main>
{:else}
  <slot />
{/if}

<!-- <div class="flex w-full md:gap-6 lg:w-full">
    <div class="flex">
      <Sidebar {menuList} />
    </div>
    <div class="flex flex-col items-start w-full lg:w-4/5">
      <Header />
      <div class="w-full ">
        <slot />
      </div>
    </div>
  </div>
{:else}
  <slot />
{/if} -->
