<script>
  import { createEventDispatcher } from 'svelte';
  import { Link, useNavigate } from 'svelte-navigator';

  import { userToken } from '../stores';
  import { deleteCookie, getCookie } from '../utils/cookie';

  //importing icons
  import LogoutIcon from '../components/icons/sidebar/Logout.svelte';
  import { fetchApi } from '../services/api';
  import { toastAlert } from '../utils/toaster';
  import { userDetail } from '../stores';

  import { globalHistory } from 'svelte-navigator';

  const dispatch = createEventDispatcher();

  export let menuList = [];

  const navigate = useNavigate();
  const historyStore = { subscribe: globalHistory.listen };
  $: url = $historyStore.location.pathname;

  const onLogout = async () => {
    // backend - after logout, still can login with old access_token via GetUserDetail
    const res = await fetchApi(
      'PATCH',
      'auth/logout',
      JSON.stringify({
        refresh_token: getCookie('refresh_token'),
      }),
    );
    if (res.status >= 200 && res.status <= 300) {
      userToken.set('');
      deleteCookie('cookie');
      deleteCookie('refresh_token');
      localStorage.removeItem('user_info');
      userDetail.set(null);
      toastAlert('info', 'Logout success');
      navigate('/signin');
    } else {
      console.log('fail logout.', res);
    }
  };

  $: activeLink = '';
  $: activeHeading = '';

  $: getUrl = (link, text) => {
    // console.log(link,text)
    if (link) {
      activeLink = link;
      activeHeading = text;
    }
    navigate(`${link}`);
  };
</script>

<main>
  <div
    class="fixed inset-0 z-40 flex md:hidden"
    role="dialog"
    aria-modal="true"
  >
    <div class="fixed inset-0 bg-gray-600 bg-opacity-75" aria-hidden="true" />

    <div
      class="relative flex flex-col flex-1 w-full max-w-xs pt-5 pb-4 bg-white"
    >
      <div class="absolute top-0 right-0 pt-2 -mr-12">
        <button
          on:click={() => dispatch('open')}
          type="button"
          class="flex items-center justify-center w-10 h-10 ml-1 rounded-full focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
        >
          <span class="sr-only">Close sidebar</span>
          <svg
            class="w-6 h-6 text-white"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12"
            />
          </svg>
        </button>
      </div>

      <div class="flex justify-center flex-shrink-0 px-4">
        <img class="" src="/assets/images/logo.png" alt="iQrate" />
      </div>
      <div class="flex-1 h-0 mt-5 overflow-y-auto">
        <nav class="px-2 space-y-1">
          <section>
            <ul class="p-3 menu">
              {#each menuList as menu}
                {#if menu.link !== ''}
                  <li
                    class={` hover:text-white hover:from-yellow-500 hover:to-red-500 rounded-lg bg-gradient-to-r ${
                      url == menu.link
                        ? ' from-yellow-500 to-red-500 text-white'
                        : 'from-white to-white text-gray-label '
                    } `}
                  >
                    <Link
                      on:click={() => navigate(`${menu.link}`)}
                      to={menu.link}
                      class="flex items-start gap-3 "
                    >
                      <div class="w-5">
                        <svelte:component this={menu.icon} />
                      </div>
                      <div class="text-sm whitespace-nowrap">{menu.text}</div>
                    </Link>
                  </li>
                {:else}
                  <div
                    tabindex="0"
                    class="w-full rounded-lg collapse text-gray-label "
                  >
                    <div class=" collapse-title">
                      <li>
                        <div
                          class={`flex py-3 rounded-lg hover:text-white bg-gradient-to-r
                       ${
                         url == activeLink && menu.text == activeHeading
                           ? ' from-yellow-500 to-red-500 text-white'
                           : 'from-white to-white text-gray-label '
                       }  hover:from-yellow-500 hover:to-red-500 `}
                        >
                          <div class="pl-5 ">
                            <svelte:component this={menu.icon} />
                          </div>
                          <div class="pl-3 text-sm whitespace-nowrap">
                            {menu.text}
                          </div>
                        </div>
                      </li>
                    </div>
                    <div
                      style="background-color: white;"
                      class=" collapse-content"
                    >
                      <div class="">
                        {#each menu.menuChildren as menuChild}
                          <div
                            class="inline"
                            on:click={() => {
                              getUrl(menuChild.link, menu.text);
                            }}
                          >
                            <li
                              class={` ${
                                url == menuChild.link
                                  ? ' text-dark-red'
                                  : ' text-gray-label '
                              } text-sm flex items-start justify-start py-1.5 rounded-md  pl-9  hover:text-dark-red whitespace-nowrap`}
                            >
                              {menuChild.text}
                            </li>
                          </div>
                        {/each}
                      </div>
                    </div>
                  </div>
                {/if}
              {/each}
              <li class="text-gray-label" on:click|once={onLogout}>
                <div
                  class="flex items-start gap-3 px-5 py-3 rounded-lg cursor-pointer hover:text-white bg-gradient-to-r from-white to-white hover:from-yellow-500 hover:to-red-500"
                >
                  <div class="w-5">
                    <svelte:component this={LogoutIcon} />
                  </div>
                  <div class="text-sm">Logout</div>
                </div>
              </li>
            </ul>
          </section>
        </nav>
      </div>
    </div>
  </div>
</main>

<style>
  .collapse-title {
    padding: 0rem 0rem 0rem 0rem;
    width: 100%;
    min-height: 0rem;
    transition: background-color 0.2s ease-in-out;
  }
</style>
