<script>
  import { createEventDispatcher } from 'svelte';

  import Close from '../components/icons/dashboard/profile/Close.svelte';
  import Button from '../components/Button.svelte';

  export let props = '';
  export let checked = false;
  export let className = null;
  export let showCloseButton = true;
  const dispatch = createEventDispatcher();
</script>

<div>
  <input
    type="checkbox"
    id={`my-modal-${props.btnKey}`}
    class="modal-toggle"
    {checked}
    on:change={(e) => (checked = e.target.checked)}
  />
  <div class=" modal">
    <div class={`modal-box ${className ? className : ''}`}>
      {#if showCloseButton}
        <div class="flex justify-end">
          <!-- <label for={`my-modal-${props.btnKey}`}>
          <Close />
        </label> -->
          <button
            on:click={() => dispatch('close')}
            type="button"
            class="flex items-center justify-center w-10 h-10 ml-1 rounded-full focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
          >
            <Close />
          </button>
        </div>
      {/if}
      <slot />

      <!-- <div class="mx-4 mb-4 modal-action">
          <label for={`my-modal-${props.btnKey}`} class="w-full btn btn-primary"
            >{props.btnSubmit}</label
          >
        </div> -->
    </div>
  </div>
</div>
