<script>
  import Close from '../components/icons/dashboard/profile/Close.svelte';
  export let props = '';
</script>

<div>
  <label
    for={`my-modal-${props.btnKey}`}
    class="w-full btn btn-primary modal-button">{props.btnLabel}</label
  >
  <input type="checkbox" id={`my-modal-${props.btnKey}`} class="modal-toggle" />
  <div class="modal">
    <div class="modal-box">
      <div class="flex justify-end">
        <label for={`my-modal-${props.btnKey}`}>
          <Close />
        </label>
      </div>
      <slot />
      <!-- <div class="mx-4 mb-4 modal-action">
        <label for={`my-modal-${props.btnKey}`} class="w-full btn btn-primary"
          >{props.btnSubmit}</label
        >
      </div> -->
    </div>
  </div>
</div>
