<script>
  import { onMount } from 'svelte';

  import Button from './Button.svelte';

  export let selectTitle = '';
  export let selectValue = '';
  export let options = [];
  export let maxHeight = null;
  let showOptions = false;
  let menu = null; // menu wrapper DOM reference
  onMount(() => {
    const handleOutsideClick = (event) => {
      if (showOptions && !menu.contains(event.target)) {
        showOptions = false;
      }
    };
    const handleEscape = (event) => {
      if (showOptions && event.key === 'Escape') {
        showOptions = false;
      }
    };
    // add events when element is added to the DOM
    document.addEventListener('click', handleOutsideClick, false);
    document.addEventListener('keyup', handleEscape, false);
    // remove events when element is removed from the DOM
    return () => {
      document.removeEventListener('click', handleOutsideClick, false);
      document.removeEventListener('keyup', handleEscape, false);
    };
  });

  const handleOK = () => {
    showOptions = false;
  };
  const handleClear = () => {
    selectValue = [];
  };
</script>

<div class="w-full" bind:this={menu}>
  <div class="relative mb-5">
    <p class="mb-2 text-lg text-dark-red">{selectTitle}</p>
    <!-- <input
      bind:value={selectValue}
      class="absolute w-full top-1 input input-bordered "
      on:focus={() => {
        showOptions = true;
      }}
      type="text"
      disabled={showOptions}
    /> -->
    <input
      class="w-full select select-bordered"
      value={options
        .filter((option) => selectValue.includes(option.value))
        .map((option) => option.label)
        .join(', ')}
      on:focus={() => {
        showOptions = true;
      }}
      type="text"
      disabled={showOptions}
    />
    {#if showOptions}
      <div
        class="absolute z-10 grid w-full h-auto grid-cols-1 mt-2 bg-white border rounded-md"
      >
        <div class="grid w-full h-auto grid-cols-1 overflow-y-scroll max-h-96">
          <div class="p-3">
            {#each options as option}
              <div class="flex p-2">
                <div>
                  <input
                    type="checkbox"
                    class="w-6 h-6 border border-dark-red checkbox checkbox-primary"
                    bind:group={selectValue}
                    value={option.value}
                  />
                </div>
                <p class="ml-2 text-gray-label">
                  {option.label}
                </p>
              </div>
            {/each}
          </div>
        </div>
        <div class="grid w-full h-auto grid-cols-1 gap-4 p-2 my-2">
          <Button gradient htmlType="button" text="OK" btnclick={handleOK} />

          <Button
            isOutlined
            htmlType="button"
            text="Clear"
            btnclick={handleClear}
          />
        </div>
      </div>
    {/if}
  </div>
</div>

<style>
  /* width */
  .scrollbar::-webkit-scrollbar {
    width: 4px;
  }

  /* Track */
  .scrollbar::-webkit-scrollbar-track {
    background: #ffff;
  }

  /* Handle */
  .scrollbar::-webkit-scrollbar-thumb {
    background: #dfe5f4;
    border-radius: 1rem;
  }

  /* Handle on hover */
  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #dfe5f4;
  }
</style>
