<script>
  import DownArrow from '../components/icons/dashboard/profile/DownArrow.svelte';
  export let fileSize = '';
  export let props = '';
  export let className = '';
  // to keep the first tab open
  export let firstTabId = '';
  let toggle = false;
</script>

<main class="container">
  <div class={`${className ? '' : 'my-4'}`}>
    <div class="head">
      <label
        class={`block w-full py-4 pl-4 text-lg font-semibold rounded-lg text-dark-red label animals ${
          className ? 'border-none' : 'border'
        } `}
        for={props.id}
        >{props.title}
        <!-- on:click={() => (toggle = !toggle)} -->
        <span class="absolute text-left right-10 md:right-16">
          <div class="">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="block w-6 h-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M5 15l7-7 7 7"
              />
            </svg>
          </div>
        </span>
        <input
          type="radio"
          name="panel"
          id={props.id}
          checked={Number(firstTabId) === Number(props.id) &&
            Number(firstTabId)}
        />

        <div
          class=" collapsible no-scrollbar text-gray-label"
          style="color:#6F767E"
        >
          <slot />
        </div>
      </label>
    </div>
  </div>
</main>

<style>
  input[name='panel'] {
    display: none;
  }

  /*label {
    display: block;
    padding: 0.8em;
    width: 100%;
    height: 2.5em;
    border: 0.1em solid hsl(197, 7%, 81%);
    background: hsl(0, 0%, 100%);
    color: rgb(160, 14, 14);
    text-transform: uppercase;
    font-size: 1.8em;
    line-height: 1em;
    cursor: pointer;
  }*/

  .collapsible {
    display: block;

    width: 100%;
    height: auto;
    background: hsl(0, 0%, 100%);
    /* color: #7d8592 !important; */
  }

  input[name='panel'] + .collapsible {
    color: rgba(223, 83, 86, var(--tw-text-opacity));
    overflow: hidden;
    height: 0;
    content: '\f00d';
    -webkit-transition: height 1s ease;
    -moz-transition: height 1s ease;
    -ms-transition: height 1s ease;
    -o-transition: height 1s ease;
    transition: height 1s ease;
    content: 'i';
  }

  input[name='panel']:checked + .collapsible {
    overflow: auto;
    height: auto; /* needs a numeric value here to keep transition */
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .container svg {
    transition: all 0.6s ease;
  }

  .container svg:hover {
    transform: rotateZ(180deg);
  }
  .head:hover svg {
    transform: rotateZ(180deg);
  }
  .animals {
    list-style-type: none;
  }
</style>
