<script>
  import NavLink from './NavLink.svelte';
</script>

<!-- <div class="box">
  <h1 class="content">
    <nav>
      <NavLink to="/">Home</NavLink>
      <NavLink to="/about">About</NavLink>
    </nav>
  </h1>
  
</div> -->

<!-- --------------------- -->
<style>
  nav {
    display: flex;
    width: 30rem;
    justify-content: space-between;
  }

  .box {
    background: lightskyblue;
    width: 100%;
    height: 70px;
    padding: 20px;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .content {
    font-size: 3rem;
    font-weight: normal;
    font-family: sans-serif;
    color: honeydew;
    user-select: none;
    position: relative;
  }
  .logo {
    height: 5rem;
  }
</style>
