<script>
  let pageSize = 10;
  export let page = 12;
  export let currentCount = 0;
  export let total = 126;
</script>

<div class="flex justify-end mt-6 text-gray-label">
  <!-- <p>
    Showing {total - page * pageSize < 10 ? total - page * pageSize : pageSize} out
    of {total}
  </p> -->
  <p>
    Showing {currentCount} out of {total}
  </p>
</div>
