<script>
  import { createEventDispatcher, onMount } from 'svelte';
  import { Link } from 'svelte-navigator';
  import CheckBox from '../components/forms/FormCheckbox.svelte';
  import NoDataFound from '../components/icons/NoDataFound.svelte';
  import { LightPaginationNav } from 'svelte-paginate';
  import moment from 'moment';
  import PdfDownloadIcon from './icons/PdfDownload.svelte';

  const dispatch = createEventDispatcher();

  export let tableData = [];
  export let title = '';
  export let subTitle = '';
  export let action = '';
  export let editAction = '';
  export let isCheckbox = true;
  export let upDownBtn = false;
  export let pagination = true;
  export let className = '';
  export let tableColumn = [];
  export let tableDatas = [];
  export let total = 0;
  export let currentPage = 1;
  export let onChangePage = '';
  export let selectedCheckbox = [];
  //pagination
  let items = tableData;
  export let pageSize = 10;

  // All checkbox select
  let names = tableDatas.map((item) => item.id);
  let selected = [];
  let allCheckbox = false;
  const selectAllCheckbox = () => {
    allCheckbox === true ? (selected = names) : (selected = []);
    clickCheck();
  };

  const clickCheck = (e) => {
    dispatch('SingleCheckbox', e);
    dispatch('CheckBoxClick', [selected]);
  };

  onMount(() => {
    localStorage.removeItem('userChecklist')
    selected = tableDatas.filter((x) => selectedCheckbox.includes(x.id));
  });
</script>

<main>
  <h1 class="mb-5 text-2xl text-dark-red">{title}</h1>
  <p class="mb-5">{subTitle}</p>
  <div class="flex flex-col">
    <div class="overflow-x-auto ">
      <div class="inline-block w-full py-2 sm:px-6 lg:px-8">
        <div class=" sm:rounded-lg">
          {#if tableDatas.length < 1}
            <div class="flex flex-col items-center justify-center">
              <NoDataFound />
              <p class="text-lg font-semibold text-gray-label">No Data Found</p>
            </div>
          {:else}
            <table
              class="min-w-full border-t border-b divide-y divide-gray-200"
            >
              <thead class="border-t">
                <tr class="border-t">
                  {#if isCheckbox}
                    <input
                      bind:checked={allCheckbox}
                      on:change={selectAllCheckbox}
                      type="checkbox"
                      class="m-1 mt-3 border-gray-300 cursor-pointer checkbox checkbox-primary"
                    />
                    <!-- <CheckBox /> -->
                  {/if}
                  {#each tableColumn as head}
                    <th
                      class="{className
                        ? ''
                        : 'whitespace-nowrap'} px-2 py-3 font-sans font-medium tracking-wider text-left capitalize  text-dark-red"
                    >
                      {head.title}
                    </th>
                  {/each}
                </tr>
              </thead>
              <tbody class="bg-white divide-y divide-gray-200 text-gray-label">
                {#each tableDatas as datas, index}
                  <tr
                    class={`${
                      index % 2 === 0 ? 'bg-gray-50' : ''
                    } hover:shadow-lg`}
                  >
                    {#if isCheckbox}
                      <!-- <CheckBox group={selected} value={datas.id} /> -->
                      <div class="form-control">
                        <div class="gap-2 cursor-pointer label">
                          <input
                            class="border border-gray-300 checkbox checkbox-primary"
                            type="checkbox"
                            bind:group={selected}
                            value={datas}
                            on:change={() => clickCheck(datas.id)}
                          />
                        </div>
                      </div>
                    {/if}
                    <!-- first user and second user -->
                    {#each tableColumn as tabHead}
                      {#if tabHead.key === 'invoice_pdf'}
                        <td>
                          <a
                            href={`${datas[tabHead.key]}`}
                            target="_blank"
                            class="underline hover:text-gray-900 text-dark-red"
                          >
                            <PdfDownloadIcon /></a
                          >
                        </td>
                      {:else if tabHead.key === 'customAction'}
                        <td class="text-center">
                          <svelte:component
                            this={tabHead.component.component}
                            {...(null,
                            {
                              propsId: datas.id,
                              props: tabHead.component.props,
                            })}
                          />
                        </td>
                      {:else if tabHead.key === 'paid_at' || tabHead.key === 'created'}
                        <td>
                          {moment.unix(datas[tabHead.key]).format('DD-MM-YYYY')}
                        </td>
                      {:else if tabHead.renderHtml}
                        {@html `<td><span class="badge badge-success">${
                          datas[tabHead.key]
                        }</span></td>`}
                      {:else if tabHead.customRender}
                        <td class="px-2.5 py-2 capitalize whitespace-nowrap"
                          >{tabHead.customRender
                            ? tabHead.customRender(datas[tabHead.key][0]?.name)
                            : datas[tabHead.key]}</td
                        >
                      {:else if tabHead.customRenderBank}
                        <td class="px-2.5 py-2 capitalize whitespace-nowrap"
                          >{tabHead.customRenderBank
                            ? tabHead.customRenderBank(datas[tabHead.key]?.name)
                            : datas[tabHead.key]}</td
                        >
                      {:else}
                        <td class="px-2 py-3 capitalize whitespace-nowrap"
                          >{tabHead.render
                            ? tabHead.render(datas[tabHead.key])
                            : datas[tabHead.key]}</td
                        >
                      {/if}
                    {/each}
                  </tr>
                {/each}
              </tbody>
            </table>
          {/if}
        </div>
      </div>
    </div>
  </div>
  {#if pagination}
    <div class="flex justify-end mt-4 ">
      <LightPaginationNav
        totalItems={total}
        {pageSize}
        bind:currentPage
        limit={1}
        showStepOptions={true}
        on:setPage={(e) => {
          currentPage = e.detail.page;
          onChangePage(e.detail.page);
        }}
      />
    </div>
  {/if}
</main>

<style>
  :global(.light-pagination-nav .option.active) {
    background-color: #ffffff !important;
    border: #df5356 solid 1px !important;
    color: #df5356 !important;
    padding: 6px !important;
  }

  :global(.light-pagination-nav .option) {
    padding: 6px !important;
  }

  :global(.option.number, .light-pagination-nav .option.ellipsis) {
    padding: 5px 10px !important;
    color: #df5356 !important;
  }

  :global(.pagination-nav) {
    box-shadow: 0 1px 2px rgb(0 0 0 / 0%) !important;
    height: 35px;
  }

  /* handle hover */
  :global(.option.ellipsis:hover) {
    padding: 5px 10px !important;
    color: #ffffff !important;
    background-color: #df5356 !important;
  }

  :global(.option.number:hover) {
    background-color: #df5356 !important;
    border: #df5356 2px solid !important;
    color: white !important;
    padding: 6px !important;
  }

  /* arrow buttons part with svg */
  :global(.option.prev) {
    color: #ffffff !important;
    background-color: #df5356 !important;
  }
  :global(.option.next) {
    color: #ffffff !important;
    background-color: #df5356 !important;
  }

  :global(.option.prev svg) {
    width: 16px !important;
  }

  :global(.option.next svg) {
    width: 16px !important;
  }

  :global(.option.prev svg path) {
    fill: currentcolor !important;
  }

  :global(.option.next svg path) {
    fill: currentcolor !important;
  }

  /* for hover of arrows */

  /* :global(.option.prev:hover) {
      background-color: #DF5356 !important;
  }
  :global(.option.next:hover) {
      background-color: #DF5356 !important;
  } */

  /* responsive part */

  @media screen and (min-width: 320px) {
    :global(.option.number, .light-pagination-nav .option.ellipsis) {
      padding: 5px 6px !important;
      font-size: 14px !important;
    }
    :global(.light-pagination-nav .option.active) {
      padding: 6px !important;
    }
    :global(.option.number:hover) {
      padding: 6px !important;
    }
    :global(.light-pagination-nav .option) {
      padding: 6px !important;
    }
  }

  @media screen and (min-width: 620px) {
    :global(.option.number, .light-pagination-nav .option.ellipsis) {
      padding: 5px 7px !important;
      font-size: 14px !important;
    }
    :global(.light-pagination-nav .option.active) {
      padding: 9px !important;
    }
    :global(.option.number:hover) {
      padding: 9px !important;
    }
    :global(.light-pagination-nav .option) {
      padding: 6px !important;
    }
  }

  @media screen and (min-width: 1000px) {
    :global(.option.number, .light-pagination-nav .option.ellipsis) {
      padding: 5px 10px !important;
      font-size: 15px !important;
    }
    :global(.light-pagination-nav .option.active) {
      padding: 10px !important;
    }
    :global(.option.number:hover) {
      padding: 9px !important;
    }
    :global(.light-pagination-nav option) {
      padding: 8px !important;
    }
  }
</style>
