<script>
  import SveltyPicker from 'svelty-picker';
  export let label = null;
  export let value = '';
  export let className = null;
  export let required = false;
  export let placeholder = 'dd-mm-yyyy';

</script>

<div class={`${className || 'mb-4'} form-control`}>
  <h1 class="mb-2 text-sm text-left text-gray-label">
    {label}
    {#if required}
      <span class="text-xl text-dark-red">*</span>
    {/if}
  </h1>
  <SveltyPicker
    format="dd-mm-yyyy"
    inputClasses="w-full p-2 border rounded-md focus:outline-none border-gray-300 h-12"
    {placeholder}
    bind:value
  />
</div>
