<script>
  import { Link } from 'svelte-navigator';
  import CheckBox from '../components/forms/FormCheckbox.svelte';
  import { paginate, LightPaginationNav } from 'svelte-paginate';
  import BinButton from '../components/IconButton.svelte';
  import { useNavigate } from 'svelte-navigator';

  const navigate = useNavigate();
  export let tableHead = [];
  export let tableData = [];

  export let title = '';
  export let subTitle = '';
  export let action = '';
  export let editAction = '';
  export let isCheckbox = true;
  export let upDownBtn = false;
  export let pagination = true;
  export let actionRoute = '';
  export let className = '';

  //pagination
  let items = tableData;
  let currentPage = 1;
  let pageSize = 10;
  $: paginatedtable = paginate({ items, pageSize, currentPage });

  // All checkbox select
  let names = tableData.map((item) => item.id);
  let selected = [];
  let allCheckbox = false;
  const selectAllCheckbox = () => {
    allCheckbox === true ? (selected = names) : (selected = []);
  };
  const remove = () => {
    // {`/${actionRoute}/${row.id}`}
    navigate(`/${actionRoute}/${row.id}`);
  };
  // //Edit Button
  let field = '';
  let saveBtn = false;
  const Edit = () => {
    // let enteredValue = e.target.value
    // name=enteredValue;
    saveBtn = true;
    field.focus();
  };
  const save = () => {
    console.log('save');
  };
</script>

<main>
  <h1 class="mb-5 text-2xl text-dark-red">{title}</h1>
  <p class="mb-5">{subTitle}</p>
  <div class="flex flex-col">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
        <div class="overflow-hidden sm:rounded-lg ">
          <table
            class="z-0 min-w-full border-t border-b divide-y divide-gray-200"
          >
            <thead class="border-t">
              <tr class="border-t">
                {#if isCheckbox}
                  <input
                    bind:checked={allCheckbox}
                    on:change={selectAllCheckbox}
                    type="checkbox"
                    class="m-1 mt-3 border-gray-300 cursor-pointer checkbox checkbox-primary"
                  />
                  <!-- <CheckBox /> -->
                {/if}
                {#each tableHead as table}
                  <th
                    class="{className
                      ? ''
                      : 'whitespace-nowrap'} px-6 py-3 font-sans font-medium tracking-wider text-left capitalize text-dark-red"
                  >
                    {table.heading}
                  </th>
                {/each}
              </tr>
            </thead>
            <tbody class="z-0 bg-white divide-y divide-gray-200">
              {#each Object.values(paginatedtable) as row (row.id)}
                <tr>
                  {#if isCheckbox}
                    <CheckBox group={selected} value={row.id} />
                  {/if}
                  {#if upDownBtn}
                    <BinButton binUpDown={true} on:click={remove} />
                  {/if}
                  {#each Object.values(row.details) as cell}
                    <td
                      class="{className
                        ? ''
                        : 'whitespace-nowrap'} px-6 py-4 text-sm text-left text-gray-500 "
                    >
                      {#if typeof cell === 'object' && cell !== null}
                        {#each Object.values(cell) as c}
                          <p class="truncat">{c}</p>
                        {/each}
                      {:else if upDownBtn}
                        <input
                          type="text"
                          value={cell}
                          bind:this={field}
                          class="w-full px-3 py-2 focus:outline-none focus:border focus:ring-gray-300 focus:ring-2"
                        />
                      {:else}
                        {cell}
                      {/if}
                    </td>
                  {/each}
                  <td
                    class="{className
                      ? ''
                      : 'whitespace-nowrap'} px-2 py-4 text-sm font-medium text-right"
                  >
                    <Link
                      to=""
                      class="underline hover:text-gray-900 text-dark-red"
                    >
                      {#if editAction === 'edit'}
                        <div class="flex justify-end space-x-2">
                          {#if saveBtn}
                            <BinButton binSave={true} on:click={save} />
                          {:else}
                            <BinButton binEdit={true} on:click={Edit} />
                          {/if}
                          <BinButton bin={true} on:click={remove} />
                        </div>
                      {:else if action === 'delete'}
                        <BinButton bin={true} on:click={remove} />
                      {:else}
                        <Link to={`/${actionRoute}/${row.id}`}>
                          {action}
                        </Link>
                      {/if}
                      <!-- {row.id} here is the id to send in the url -->
                    </Link>
                  </td>
                </tr>
              {/each}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  {#if pagination}
    <div class="flex justify-end mt-4">
      <LightPaginationNav
        totalItems={items.length}
        {pageSize}
        {currentPage}
        limit={1}
        showStepOptions={true}
        on:setPage={(e) => (currentPage = e.detail.page)}
      />
    </div>
  {/if}
</main>

<!-- <script>
  import { Link } from "svelte-navigator";
  import CheckBox from "../components/forms/FormCheckbox.svelte";
  import { paginate, LightPaginationNav } from "svelte-paginate";
  import BinButton from "../components/IconButton.svelte";

  export let tableHead = [];
  export let tableData = [];

  export let title = "";
  export let subTitle = "";
  export let action = "";
  export let isCheckbox = true;
  export let actionRoute = "";
  export let className = "";

  //pagination
  let items = tableData;
  let currentPage = 1;
  let pageSize = 10;
  $: paginatedtable = paginate({ items, pageSize, currentPage });

  // All checkbox select
  let names = tableData.map((item) => item.id);
  let selected = [];
  let allCheckbox = false;
  const selectAllCheckbox = () => {
    allCheckbox === true ? (selected = names) : (selected = []);
  };
  const remove = () => {
    console.log("remove data");
  };
</script>

<main class="">
  <h1 class="mb-5 text-2xl text-dark-red">{title}</h1>
  <p class="mb-5">{subTitle}</p>
  <div class="flex flex-col">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <div
          class="z-50 overflow-hidden border-b border-gray-200 shadow sm:rounded-lg"
        >
          <table
            class="z-0 min-w-full border-t border-b divide-y divide-gray-200"
          >
            <thead class="z-0 border-t">
              <tr class="border-t">
                {#if isCheckbox}
                  <input
                    bind:checked={allCheckbox}
                    on:change={selectAllCheckbox}
                    type="checkbox"
                    class="m-1 mt-3 border-gray-300 cursor-pointer checkbox checkbox-primary"
                  />
                  
                {/if}
                {#each tableHead as table}
                  <th
                    class="px-6 py-3 font-sans font-medium tracking-wider text-left capitalize text-dark-red"
                  >
                    {table.heading}
                  </th>
                {/each}
              </tr>
            </thead>
            <tbody class="z-0 bg-white divide-y divide-gray-200">
              {#each Object.values(paginatedtable) as row (row.id)}
                <tr>
                  {#if isCheckbox}
                    <CheckBox group={selected} value={row.id} />
                    
                  {/if}
                  {#each Object.values(row.details) as cell}
                    <td
                      class="px-6 py-4 text-sm text-left text-gray-500 whitespace-nowrap"
                    >
                      {cell}
                    </td>
                  {/each}
                  <td
                    class="{className
                      ? ''
                      : 'whitespace-nowrap'} px-6 py-4 text-sm font-medium text-right whitespace-nowrap"
                  >
                    <Link
                      to=""
                      class="underline hover:text-gray-900 text-dark-red"
                    >
                      {#if action === "delete"}
                        <BinButton bin={true} on:click={remove} />
                      {:else}
                        <Link to={`/${actionRoute}/${row.id}`}>
                          {action}
                        </Link>
                      {/if}
                      
                    </Link>
                  </td>
                </tr>
              {/each}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="flex justify-end mt-4">
    <LightPaginationNav
      totalItems={items.length}
      {pageSize}
      {currentPage}
      limit={1}
      showStepOptions={true}
      on:setPage={(e) => (currentPage = e.detail.page)}
    />
  </div>
</main> -->
