<script>
  import { Tabs, Tab, TabList, TabPanel } from 'svelte-tabs';
  import LeadProfile from '../layouts/App/Lead/LeadList/screens/LeadProfile/index.svelte';
  import RateSubmission from '../layouts/App/Lead/LeadList/screens/RateSubmission/index.svelte';
  import BankSubmission from '../layouts/App/Lead/LeadList/screens/BankSubmission/index.svelte';
  import DocumentDrawer from '../layouts/App/Lead/LeadList/screens/DocumentDrawer/index.svelte';
  import WonDetails from '../layouts/App/Lead/LeadList/screens/SubmitforPayout/index.svelte';
  import LawFirmSubmission from '../layouts/App/Lead/LeadList/screens/LawFirmSubmission/index.svelte';
  import HeatMap from '../layouts/App/Lead/LeadList/screens/HeatMap/index.svelte';
</script>

<Tabs>
  <div class="w-full md:flex">
    <div
      style="background-color: #EAEAEA; border-radius: 25px; padding-left: 3px;  "
      class="flex flex-wrap justify-center w-full my-1 md:my-0"
    >
      <TabList>
        <Tab>Lead Profile</Tab>
        <Tab>Rate Selection</Tab>
        <Tab>Bank Submission</Tab>
        <Tab>Document Drawer</Tab>
        <Tab>Submit for Payout$</Tab>
        <Tab>Law firm Submission</Tab>
      </TabList>
    </div>

    <div>
      <div
        style="background-color: #EAEAEA; border-radius: 25px; padding-left: 0px;  "
        class="flex justify-center my-1 w-52 md:my-0 whitespace-nowrap"
      >
        <TabList>
          <Tab>Heatmap: Warm</Tab>
          <Tab>Update</Tab>
        </TabList>
      </div>
    </div>
  </div>
  <slot />
  <TabPanel>
    <div>
      <LeadProfile />
    </div>
  </TabPanel>

  <TabPanel>
    <div>
      <RateSubmission />
    </div>
  </TabPanel>

  <TabPanel>
    <div>
      <BankSubmission />
    </div>
  </TabPanel>

  <TabPanel>
    <div>
      <DocumentDrawer />
    </div>
  </TabPanel>

  <TabPanel>
    <div>
      <WonDetails />
    </div>
  </TabPanel>

  <TabPanel>
    <div>
      <LawFirmSubmission />
    </div>
  </TabPanel>

  <TabPanel>
    <div>
      <HeatMap />
    </div>
  </TabPanel>

  <TabPanel>
    <div>update</div>
  </TabPanel>
</Tabs>

<!-- <div
      style="background-color: #EAEAEA; border-radius: 25px; padding-left: 25px; "
    ></div> -->
<style>
  :global(.svelte-tabs li.svelte-tabs__tab) {
    color: #df5356;
    border: none;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  :global(.svelte-tabs li.svelte-tabs__selected) {
    background-color: #df5356;
    color: white;
    border-radius: 25px;
    border-color: #df5356;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 16px;
    padding-right: 16px;
  }
</style>
