<script>
  import { tweened } from 'svelte/motion';
  import Loading from '../components/icons/Loading.svelte';

  export let time = 1; //in minutes
  export let message = 'resend data in';
  export let timeOutMessage = "time's up..!!";

  let original = time * 60;
  let timer = tweened(original);

  setInterval(() => {
    if ($timer > 0) $timer--;
  }, 1000);

  $: minutes = Math.floor($timer / 60);
  $: minname = minutes > 1 ? 'mins' : 'min';
  $: seconds = Math.floor($timer - minutes * 60);
</script>

<div class="flex items-center justify-center space-x-2">
  {#if seconds}
    <div class="mt-2">
      <Loading />
    </div>

    <div>
      <p class="mt-5 mb-3 capitalize " id="">
        {message}

        {#if minutes > 0}
          <span class="inline-block pr-1 text-dark-red">{minutes}</span
          >{minname}
        {/if}
        <!-- {minutes} -->
        <span class="inline-block pr-1 text-dark-red">{seconds}</span>seconds!

        <!-- <span class="inline-block pr-1 text-dark-red">{seconds}</span>Seconds -->
      </p>
    </div>
  {:else}
    <p
      on:click
      class="mt-5 mb-3 font-semibold capitalize cursor-pointer text-dark-red"
      id=""
    >
      {timeOutMessage}
    </p>
  {/if}
</div>
