<script>
  import { navigate } from 'svelte-navigator';
  import Button from '../../../../../../components/Button.svelte';
  import Stepper from '../../../../../../components/icons/Stepper.svelte';
  import { refinanceReport } from './../../../../../../stores.js';


  //  current
  $: currentMax =  $refinanceReport.Package_details[0].maximum_loan_tenure
    ? $refinanceReport.Package_details[0].maximum_loan_tenure
    : '';
  $: currentPrefered =  $refinanceReport.Package_details[0].prefered_loan_tenure 
    ? $refinanceReport.Package_details[0].prefered_loan_tenure
    : '';
  // package 1
  $: pack1Max = $refinanceReport.Package_details[1].maximum_loan_tenure
    ? $refinanceReport.Package_details[1].maximum_loan_tenure
    : '';
  $: pack1Prefered = $refinanceReport.Package_details[1].prefered_loan_tenure 
    ? $refinanceReport.Package_details[1].prefered_loan_tenure
    : '';
  // package 2
  $: pack2Max =
    $refinanceReport.Package_details.length === 3
      ? $refinanceReport.Package_details[2].maximum_loan_tenure
      : '';
  $: pack2Prefered =
    $refinanceReport.Package_details.length === 3
      ? $refinanceReport.Package_details[2].prefered_loan_tenure
      : '';

 $:preferedShow= Object.keys(currentPrefered).length > 1 || Object.keys(pack1Prefered).length > 1  || Object.keys(pack2Prefered).length > 1 ? true : false;

  let data = [
    {
      title: '',
      completed: true,
    },
    {
      title: '',
      completed: true,
    },
    {
      title: '',
      completed: true,
    },
  ];

  // add comma and decimals
  $:countFix=(string)=>{
    if(string){
    return Number(string).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,');
    }else{
      return 0;
    }
  }


</script>

<main class="text-gray-label">
  <Stepper bind:data />
  <h2 class="mt-6 mb-10 text-3xl font-bold text-dark-red">
    Your savings from refinancing
  </h2>
  <div class="my-10 bg-base-100">
    <p>Based On Maximum Loan Tenure</p>
    <hr />
    <div class="flex justify-center my-10 ml-6">
      <table class="p-1 table-fixed bodered">
        <thead class="border">
          <tr class="border">
            <th class="p-1 border text-dark-red" />
            <th class="p-2 border text-dark-red">
              <p class="font-normal">Current <br /> ({currentMax.Rate}%)</p>
            </th>
            <th class="p-2 border text-dark-red">
              <p class="font-normal">Package 1 <br /> ({pack1Max.Rate}%)</p>
            </th>
            {#if pack2Max && pack2Prefered}
              <th class="p-2 border text-dark-red">
                <p class="font-normal">Package 2 <br /> ({pack2Max.Rate}%)</p>
              </th>
            {/if}
          
          </tr>
        </thead>
        <tbody class="border text-gray-label">
          <tr class="border">
            <td class="p-2 border">
              <p class="text-sm font-normal">Monthly Installment</p>
            </td>
            <td class="p-2 border">
              <p class="text-sm font-normal">
                ${countFix(currentMax.Monthly_Installment)}
              </p>
            </td>
            <td class="p-2 border">
              <p class="text-sm font-normal">${countFix(pack1Max.Monthly_Installment)}</p>
            </td>
            {#if pack2Max }
              <td class="p-2 border">
                <p class="text-sm font-normal">
                  ${countFix(pack2Max.Monthly_Installment)}
                </p>
              </td>
            {/if}
         
          </tr>
          <tr class="border">
            <td class="p-2 border">
              <p class="text-sm font-normal">Total Principal</p>
            </td>
            <td class="p-2 border">
              <p class="text-sm font-normal">${countFix(currentMax.Total_Principal)}</p>
            </td>
            <td class="p-2 border">
              <p class="text-sm font-normal">${countFix(pack1Max.Total_Principal)}</p>
            </td>
            {#if pack2Max }
              <td class="p-2 border">
                <p class="text-sm font-normal">${countFix(pack2Max.Total_Principal)}</p>
              </td>
            {/if}
         
          </tr>
          <tr class="border">
            <td class="p-2 border">
              <p class="text-sm font-normal">Total Interest</p>
            </td>
            <td class="p-2 border">
              <p class="text-sm font-normal">${countFix(currentMax.Total_Interest)}</p>
            </td>
            <td class="p-2 border">
              <p class="text-sm font-normal">${countFix(pack1Max.Total_Interest)}</p>
            </td>
            {#if pack2Max}
              <td class="p-2 border">
                <p class="text-sm font-normal">${countFix(pack2Max.Total_Interest)}</p>
              </td>
            {/if}
            
          </tr>
          <tr class="border">
            <td class="p-2 border">
              <p class="text-sm font-normal">Cash/Rebate Subsidy</p>
            </td>
            <td class="p-2 border">
              <p class="text-sm font-normal">${countFix(currentMax.Cash_Subsidy)}</p>
            </td>
            <td class="p-2 border">
              <p class="text-sm font-normal">${countFix(pack1Max.Cash_Subsidy)}</p>
            </td>
            {#if pack2Max }
              <td class="p-2 border">
                <p class="text-sm font-normal">${countFix(pack2Max.Cash_Subsidy)}</p>
              </td>
            {/if}
          
          </tr>
          <tr class="border">
            <td class="p-2 border">
              <p class="text-sm font-normal">Savings</p>
            </td>
            <td class="p-2 border">
              <p class="text-sm font-normal">${countFix(currentMax.Savings)}</p>
            </td>
            <td class="p-2 border">
              <p class="text-sm font-normal">${countFix(pack1Max.Savings)}</p>
            </td>
            {#if pack2Max }
              <td class="p-2 border">
                <p class="text-sm font-normal">${countFix(pack2Max.Savings)}</p>
              </td>
            {/if}
          
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  {#if preferedShow}
  <div class="my-10 bg-base-100">
    <p>Based On Preferred Loan Tenure</p>
    <hr />
    <div class="flex justify-center my-10 ml-6">
      <table class="p-1 table-fixed bodered">
        <thead class="border">
          <tr class="border">
            <th class="p-1 border text-dark-red" />
            <th class="p-2 border text-dark-red">
              <p class="font-normal">
                Current <br /> ({currentPrefered.Rate}%)
              </p>
            </th>
            <th class="p-2 border text-dark-red">
              <p class="font-normal">Package 1 <br />({pack1Prefered.Rate}%)</p>
            </th>
            {#if pack2Prefered}
              <th class="p-2 border text-dark-red">
                <p class="font-normal">
                  Package 2 <br />({pack2Prefered.Rate}%)
                </p>
              </th>
            {/if}
          
          </tr>
        </thead>
        <tbody class="border text-gray-label">
          <tr class="border">
            <td class="p-2 border">
              <p class="text-sm font-normal">Monthly Installment</p>
            </td>
            <td class="p-2 border">
              <p class="text-sm font-normal">
                ${countFix(currentPrefered.Monthly_Installment)}
              </p>
            </td>
            <td class="p-2 border">
              <p class="text-sm font-normal">
                ${countFix(pack1Prefered.Monthly_Installment)}
              </p>
            </td>
            {#if pack2Prefered}
              <td class="p-2 border">
                <p class="text-sm font-normal">
                  ${countFix(pack2Prefered.Monthly_Installment)}
                </p>
              </td>
            {/if}
         
          </tr>
          <tr class="border">
            <td class="p-2 border">
              <p class="text-sm font-normal">Total Principal</p>
            </td>
            <td class="p-2 border">
              <p class="text-sm font-normal">${countFix(currentPrefered.Total_Principal)}</p>
            </td>
            <td class="p-2 border">
              <p class="text-sm font-normal">${countFix(pack1Prefered.Total_Principal)}</p>
            </td>
            {#if  pack2Prefered}
              <td class="p-2 border">
                <p class="text-sm font-normal">${countFix(pack2Prefered.Total_Principal)}</p>
              </td>
            {/if}
         
          </tr>
          <tr class="border">
            <td class="p-2 border">
              <p class="text-sm font-normal">Total Interest</p>
            </td>
            <td class="p-2 border">
              <p class="text-sm font-normal">${countFix(currentPrefered.Total_Interest)}</p>
            </td>
            <td class="p-2 border">
              <p class="text-sm font-normal">${countFix(pack1Prefered.Total_Interest)}</p>
            </td>
            {#if  pack2Prefered}
              <td class="p-2 border">
                <p class="text-sm font-normal">${countFix(pack2Prefered.Total_Interest)}</p>
              </td>
            {/if}
        
          </tr>
          <tr class="border">
            <td class="p-2 border">
              <p class="text-sm font-normal">Cash/Rebate Subsidy</p>
            </td>
            <td class="p-2 border">
              <p class="text-sm font-normal">${countFix(currentPrefered.Cash_Subsidy)}</p>
            </td>
            <td class="p-2 border">
              <p class="text-sm font-normal">${countFix(pack1Prefered.Cash_Subsidy)}</p>
            </td>
            {#if  pack2Prefered}
              <td class="p-2 border">
                <p class="text-sm font-normal">${countFix(pack2Prefered.Cash_Subsidy)}</p>
              </td>
            {/if}
        
          </tr>
          <tr class="border">
            <td class="p-2 border">
              <p class="text-sm font-normal">Savings</p>
            </td>
            <td class="p-2 border">
              <p class="text-sm font-normal">${countFix(currentPrefered.Savings)}</p>
            </td>
            <td class="p-2 border">
              <p class="text-sm font-normal">${countFix(pack1Prefered.Savings)}</p>
            </td>
            {#if  pack2Prefered}
              <td class="p-2 border">
                <p class="text-sm font-normal">${countFix(pack2Prefered.Savings)}</p>
              </td>
            {/if}
           
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  {/if}
  
  <slot>
    <!-- button -->
  </slot>
</main>
