<script>
  import { onMount } from 'svelte';
  import { scale } from 'svelte/transition';

  export let user;
  export let type = 'avatar';
  export let text = 'dropdown';
  export let className = '';

  let show = false; // menu state
  let menu = null; // menu wrapper DOM reference

  onMount(() => {
    const handleOutsideClick = (event) => {
      if (show && !menu.contains(event.target)) {
        show = false;
      }
    };

    const handleEscape = (event) => {
      if (show && event.key === 'Escape') {
        show = false;
      }
    };

    // add events when element is added to the DOM
    document.addEventListener('click', handleOutsideClick, false);
    document.addEventListener('keyup', handleEscape, false);

    // remove events when element is removed from the DOM
    return () => {
      document.removeEventListener('click', handleOutsideClick, false);
      document.removeEventListener('keyup', handleEscape, false);
    };
  });
</script>

<div class={`relative bg-gray-700 text-white ${className}`} bind:this={menu}>
  <div>
    {#if type == 'avatar'}
      <button
        on:click={() => (show = !show)}
        class="menu focus:outline-none focus:shadow-solid "
      >
        {#if user.picture}
          <img
            class="w-10 h-10 rounded-full"
            src={user.picture}
            alt={user.name}
          />
        {:else}
          <p class="text-xl font-bold capitalize animate-bounce">{user.name}</p>
        {/if}
      </button>
    {:else if type == 'button'}
      <button
        on:click={() => (show = !show)}
        class="menu focus:outline-none focus:shadow-solid"
        >{text}
      </button>
    {:else}
      <p>Undeclared dropdown</p>
    {/if}

    {#if show}
      <div
        in:scale={{ duration: 100, start: 0.95 }}
        out:scale={{ duration: 75, start: 0.95 }}
        class="absolute right-0 w-48 py-2 mt-4 origin-top-right bg-white rounded shadow-md"
      >
        <slot />
      </div>
    {/if}
  </div>
</div>
