<svg
  width="232"
  height="176"
  viewBox="0 0 232 176"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <path d="M178.526 40.3633H21.0234V93.4368H178.526V40.3633Z" fill="#F9FEFA" />
  <path
    opacity="0.65"
    d="M178.526 40.3633H21.0234V42.7679H178.526V40.3633Z"
    fill="url(#paint0_linear_2987_11371)"
  />
  <path
    d="M182.931 39.5046H182.874L182.072 40.3633H16.0956L15.2368 39.5046L15.0078 39.3328L17.1262 38.3595L20.7904 36.6992L21.1339 36.5274L24.34 35.0388L24.7408 34.8671L27.947 33.4357L28.2905 33.264L31.4967 31.7754L31.8974 31.6036L35.0464 30.1723L35.4471 30.0006L38.6533 28.512L38.9968 28.3402L42.203 26.9089L42.5465 26.7371L45.7527 25.2486L46.1534 25.0768L49.3596 23.6455L49.7031 23.4165L52.9093 21.9851L53.3101 21.8134L56.459 20.3248L56.8597 20.153L60.0659 18.7217L60.4094 18.55L63.6156 17.0614L64.0164 16.8896L67.2225 15.4583L67.566 15.2865L70.7722 13.798L71.1157 13.6262L74.3219 12.1949L74.7227 12.0231L77.9288 10.5345L78.2724 10.3628L81.4785 8.87421L81.822 8.70245L85.0282 7.27113L85.429 7.09937L88.5779 5.61079L88.9787 5.43903L92.1848 4.00771L92.5283 3.83595L95.7345 2.34737L96.1353 2.17561L100.945 0L105.525 2.17561L105.868 2.34737L108.903 3.83595L109.246 4.00771L112.281 5.43903L112.681 5.61079L115.716 7.09937L116.059 7.27113L119.094 8.70245L119.437 8.87421L122.472 10.3628L122.872 10.5345L125.907 12.0231L126.25 12.1949L129.285 13.6262L129.628 13.798L132.663 15.2865L133.006 15.4583L136.041 16.8896L136.441 17.0614L139.476 18.55L139.819 18.7217L142.854 20.153L143.197 20.3248L146.232 21.8134L146.575 21.9851L149.667 23.4165L150.01 23.6455L153.045 25.0768L153.388 25.2486L156.423 26.7371L156.766 26.9089L159.801 28.3402L160.201 28.512L163.236 30.0006L163.579 30.1723L166.614 31.6036L166.957 31.7754L169.992 33.264L170.335 33.4357L173.37 34.8671L173.77 35.0388L176.805 36.5274L177.148 36.6992L180.583 38.3595L182.931 39.5046Z"
    fill="#4F4957"
  />
  <path
    d="M184.015 38.3595L182.928 39.5046H182.87L182.069 40.3634L181.84 40.5924H16.3214L16.0924 40.3634L15.2336 39.5046L15.0046 39.3328L14.0312 38.3595H184.015Z"
    fill="#2F243A"
  />
  <path
    opacity="0.33"
    d="M180.633 39.619L179.602 40.5923H19.3509L18.3203 39.619H180.633Z"
    fill="#4F4957"
  />
  <path
    d="M80.2849 44.8833L47.0781 45.0052L47.187 74.6622L80.3937 74.5403L80.2849 44.8833Z"
    fill="#F4F1EC"
  />
  <path
    d="M79.0808 46.0331L48.3359 46.146L48.436 73.3984L79.1809 73.2855L79.0808 46.0331Z"
    fill="#444054"
  />
  <path
    d="M78.2174 46.8379L49.3047 46.944L49.3986 72.5361L78.3114 72.4299L78.2174 46.8379Z"
    fill="#CCD7E0"
  />
  <path
    d="M78.2043 46.8328V52.6726L67.6125 72.4821H64.5781L77.7463 47.348L78.0326 46.8328H78.2043Z"
    fill="url(#paint1_linear_2987_11371)"
  />
  <path
    d="M71.9076 46.89L71.6213 47.348L61.4875 66.4133L58.4531 66.2988L68.4151 47.348L68.7014 46.89H71.9076Z"
    fill="url(#paint2_linear_2987_11371)"
  />
  <path
    d="M63.2121 52.7298L52.6776 72.5393H49.5859L49.8149 72.1386L62.8114 47.4053L63.0976 46.89L63.1549 46.7755V46.89V47.4053L63.2121 52.7298Z"
    fill="url(#paint3_linear_2987_11371)"
  />
  <path
    d="M57.5387 46.9473L57.2525 47.4053L49.8096 61.4896L49.3516 62.2911V56.4513L49.7523 55.5925L54.0463 47.4053L54.3326 46.9473H57.5387Z"
    fill="url(#paint4_linear_2987_11371)"
  />
  <path
    d="M78.2096 46.8326V47.3479L49.7549 47.4624L49.8121 72.5392H49.4114L49.2969 46.9472L78.2096 46.8326Z"
    fill="#C5D0D9"
  />
  <path d="M64.6371 46.6039H63.3203V72.7112H64.6371V46.6039Z" fill="#444054" />
  <path
    d="M78.7266 60.3287V59.0118L48.8978 59.0118V60.3287L78.7266 60.3287Z"
    fill="#444054"
  />
  <path d="M56.635 46.432H56.0625V73.1691H56.635V46.432Z" fill="#444054" />
  <path d="M72.0178 46.432H71.4453V73.1691H72.0178V46.432Z" fill="#444054" />
  <path d="M79.0109 53.1878H48.9531V53.7603H79.0109V53.1878Z" fill="#444054" />
  <path d="M79.0109 66.2416H48.9531V66.8141H79.0109V66.2416Z" fill="#444054" />
  <path
    d="M149.957 44.8835L116.75 45.0054L116.859 74.6625L150.066 74.5406L149.957 44.8835Z"
    fill="#F4F1EC"
  />
  <path
    d="M148.823 46.0331L118.078 46.146L118.178 73.3984L148.923 73.2855L148.823 46.0331Z"
    fill="#444054"
  />
  <path
    d="M147.897 46.8382L118.984 46.9443L119.078 72.5364L147.991 72.4303L147.897 46.8382Z"
    fill="#CCD7E0"
  />
  <path
    d="M147.892 46.833V52.6728L137.357 72.4824H134.266L147.491 47.3483L147.72 46.833H147.892Z"
    fill="url(#paint5_linear_2987_11371)"
  />
  <path
    d="M141.608 46.8903L141.379 47.3483L131.245 66.4135L128.211 66.299L138.173 47.3483L138.402 46.8903H141.608Z"
    fill="url(#paint6_linear_2987_11371)"
  />
  <path
    d="M132.947 52.7301L122.412 72.5396H119.32L119.549 72.1388L132.546 47.4055L132.775 46.8903L132.832 46.7758V46.8903V47.4055L132.947 52.7301Z"
    fill="url(#paint7_linear_2987_11371)"
  />
  <path
    d="M127.226 46.9476L126.997 47.4056L119.497 61.4898L119.096 62.2914H119.039V56.4516L119.497 55.5928L123.791 47.4056L124.02 46.9476H127.226Z"
    fill="url(#paint8_linear_2987_11371)"
  />
  <path
    d="M147.879 46.833V47.3483L119.424 47.4628L119.539 72.5396H119.081L119.023 46.9475L147.879 46.833Z"
    fill="#C5D0D9"
  />
  <path d="M134.379 46.6038H133.062V72.7111H134.379V46.6038Z" fill="#444054" />
  <path
    d="M148.438 60.3021V58.9852L118.609 58.9852V60.3021L148.438 60.3021Z"
    fill="#444054"
  />
  <path d="M126.369 46.4319H125.797V73.169H126.369V46.4319Z" fill="#444054" />
  <path d="M141.713 46.4319H141.141V73.169H141.713V46.4319Z" fill="#444054" />
  <path d="M148.753 53.1878H118.695V53.7604H148.753V53.1878Z" fill="#444054" />
  <path d="M148.753 66.2415H118.695V66.814H148.753V66.2415Z" fill="#444054" />
  <path d="M185.35 92.4636H10.1562V150.461H185.35V92.4636Z" fill="#F9FEFA" />
  <path d="M185.923 91.7194H10.1562V94.353H185.923V91.7194Z" fill="#444054" />
  <path d="M18.4547 91.891H13.0156V152.121H18.4547V91.891Z" fill="#444054" />
  <path
    opacity="0.65"
    d="M18.4547 146.968H13.0156V152.064H18.4547V146.968Z"
    fill="url(#paint9_linear_2987_11371)"
  />
  <path
    opacity="0.65"
    d="M13.0156 97.0438H18.4547V91.9483H13.0156V97.0438Z"
    fill="url(#paint10_linear_2987_11371)"
  />
  <path d="M183.392 91.891H177.953V152.121H183.392V91.891Z" fill="#444054" />
  <path
    opacity="0.65"
    d="M183.392 146.968H177.953V152.064H183.392V146.968Z"
    fill="url(#paint11_linear_2987_11371)"
  />
  <path
    opacity="0.65"
    d="M177.953 97.0438H183.392V91.9483H177.953V97.0438Z"
    fill="url(#paint12_linear_2987_11371)"
  />
  <path
    d="M195.178 90.1161H0.117188L0.3462 90.0588L4.75468 88.971L5.26996 88.7993L11.5678 87.1962L12.0831 87.0817L18.3809 85.4786L18.8962 85.3641L25.194 83.761L25.7093 83.6465L32.0071 82.0434L32.5224 81.8717L38.8202 80.2686L39.3355 80.1541L45.6333 78.551L46.1486 78.4365L52.4464 76.8334L52.9044 76.7189L56.4541 75.8029H156.246L158.651 76.7189L158.994 76.8334L163.345 78.4365L163.746 78.551L168.097 80.1541L168.441 80.2686L172.792 81.8717L173.136 82.0434L177.487 83.6465L177.888 83.761L182.239 85.3641L182.582 85.4786L186.934 87.0817L187.277 87.1962L195.064 90.0588L195.178 90.1161Z"
    fill="#D7D7D7"
  />
  <path
    d="M195.633 90.0588L194.374 91.2039H194.317L193.401 92.0627L193.114 92.2917H2.63364L2.34737 92.0627L1.37407 91.2039L1.14506 91.0321L0 90.0588H195.633Z"
    fill="#2F243A"
  />
  <path
    opacity="0.33"
    d="M191.746 91.3185L190.544 92.2918H6.132L4.92969 91.3185H191.746Z"
    fill="#444054"
  />
  <path
    d="M191.337 88.9711H4.75L5.26528 88.7993H190.879L191.337 88.9711Z"
    fill="#2F243A"
  />
  <path
    d="M187.272 87.1963H11.5625L12.0778 87.0818H186.928L187.272 87.1963Z"
    fill="#2F243A"
  />
  <path
    d="M182.577 85.4786H18.375L18.8903 85.3641H182.233L182.577 85.4786Z"
    fill="#2F243A"
  />
  <path
    d="M177.881 83.7611H25.1875L25.7028 83.6466H177.48L177.881 83.7611Z"
    fill="#2F243A"
  />
  <path
    d="M173.129 82.0435H32L32.5153 81.8717H172.785L173.129 82.0435Z"
    fill="#2F243A"
  />
  <path
    d="M168.433 80.2687H38.8125L39.3278 80.1542H168.09L168.433 80.2687Z"
    fill="#2F243A"
  />
  <path
    d="M163.738 78.551H45.625L46.1403 78.4365H163.337L163.738 78.551Z"
    fill="#2F243A"
  />
  <path
    d="M158.985 76.8335H52.4375L52.8955 76.719H158.642L158.985 76.8335Z"
    fill="#2F243A"
  />
  <path d="M187.113 150.232H7.79688V156.072H187.113V150.232Z" fill="#444054" />
  <path
    d="M90.6799 100.346L48.6562 100.5L48.794 138.001L90.8177 137.847L90.6799 100.346Z"
    fill="#F4F1EC"
  />
  <path
    d="M89.2445 101.783L50.3125 101.926L50.4393 136.449L89.3713 136.307L89.2445 101.783Z"
    fill="#444054"
  />
  <path
    d="M88.0534 102.818L51.4688 102.952L51.5877 135.357L88.1724 135.223L88.0534 102.818Z"
    fill="#CCD7E0"
  />
  <path
    d="M88.0535 102.826V110.155L74.7135 135.289H70.8203L87.5382 103.456L87.8817 102.826H88.0535Z"
    fill="url(#paint13_linear_2987_11371)"
  />
  <path
    d="M80.0901 102.884L79.7465 103.456L66.9791 127.56L63.0859 127.502L75.6816 103.513L76.0251 102.884H80.0901Z"
    fill="url(#paint14_linear_2987_11371)"
  />
  <path
    d="M69.1003 110.327L55.8176 135.346H51.8672L52.1535 134.831L68.5851 103.513L68.9286 102.884L68.9858 102.769V102.884L69.0431 103.513L69.1003 110.327Z"
    fill="url(#paint15_linear_2987_11371)"
  />
  <path
    d="M61.9435 102.941L61.6 103.571L52.096 121.376L51.5807 122.407L51.5234 114.964L52.096 113.934L57.535 103.571L57.8785 102.941H61.9435Z"
    fill="url(#paint16_linear_2987_11371)"
  />
  <path
    d="M88.0587 102.826V103.456L52.0465 103.571L52.161 135.346H51.6458L51.5312 102.941L88.0587 102.826Z"
    fill="#C5D0D9"
  />
  <path d="M70.926 102.54H69.2656V135.575H70.926V102.54Z" fill="#444054" />
  <path d="M88.7344 119.902V118.242H51.0047V119.902H88.7344Z" fill="#444054" />
  <path d="M60.799 102.311H60.0547V136.091H60.799V102.311Z" fill="#444054" />
  <path d="M80.2599 102.311H79.5156V136.091H80.2599V102.311Z" fill="#444054" />
  <path d="M89.0785 110.899H51.0625V111.643H89.0785V110.899Z" fill="#444054" />
  <path d="M89.0785 127.331H51.0625V128.075H89.0785V127.331Z" fill="#444054" />
  <path d="M157.859 96.8148H123.336V150.346H157.859V96.8148Z" fill="#DB8A74" />
  <path d="M156.947 98.3033H124.312V150.232H156.947V98.3033Z" fill="#FAF7ED" />
  <path d="M156.021 99.2766H125.219V150.804H156.021V99.2766Z" fill="#596F71" />
  <path d="M153.681 103.284H128.031V115.995H153.681V103.284Z" fill="#2F243A" />
  <path d="M153.176 103.8H128.672V115.422H153.176V103.8Z" fill="#CCD7E0" />
  <path
    d="M144.76 103.8L144.417 104.201L135.371 115.422H129.359L138.405 104.201L138.749 103.8H144.76Z"
    fill="url(#paint17_linear_2987_11371)"
  />
  <path
    d="M153.129 103.8V106.319L145.801 115.422H139.789L148.892 104.201L149.179 103.8H153.129Z"
    fill="url(#paint18_linear_2987_11371)"
  />
  <path
    d="M153.119 103.8V104.201H129.073V115.422H128.672V103.8H153.119Z"
    fill="#CCD7E0"
  />
  <path
    d="M153.678 125.27C153.678 126.014 153.048 126.644 152.304 126.644C151.559 126.644 150.93 126.014 150.93 125.27C150.93 124.525 151.559 123.896 152.304 123.896C153.048 123.953 153.678 124.525 153.678 125.27Z"
    fill="#2F243A"
  />
  <path d="M151.328 135.747H131.461V138.152H151.328V135.747Z" fill="#2F243A" />
  <path
    d="M231.998 76.49C231.998 76.49 227.59 109.868 217.227 127.903C214.765 132.197 212.246 135.976 209.613 139.354C201.254 150.003 192.15 155.957 182.246 158.362L137.188 145.938C137.188 145.938 154.879 129.564 163.295 105.517C171.768 81.471 172.341 69.4479 172.341 69.4479L231.998 76.49Z"
    fill="#FAEBE6"
  />
  <g opacity="0.34">
    <g opacity="0.34">
      <path
        opacity="0.34"
        d="M151.234 139.526C151.234 139.526 178.601 148.801 193.487 151.491"
        stroke="#5E6472"
        stroke-width="0.6428"
        stroke-miterlimit="10"
      />
      <path
        opacity="0.34"
        d="M152.258 137.121C152.258 137.121 180.77 146.281 194.911 148.858"
        stroke="#5E6472"
        stroke-width="0.6428"
        stroke-miterlimit="10"
      />
      <path
        opacity="0.34"
        d="M153.352 134.716C153.352 134.716 182.951 143.762 196.406 146.167"
        stroke="#5E6472"
        stroke-width="0.6428"
        stroke-miterlimit="10"
      />
      <path
        opacity="0.34"
        d="M154.383 132.369C154.383 132.369 185.07 141.3 197.838 143.59"
        stroke="#5E6472"
        stroke-width="0.6428"
        stroke-miterlimit="10"
      />
      <path
        opacity="0.34"
        d="M155.469 129.964C155.469 129.964 187.244 138.781 199.325 140.957"
        stroke="#5E6472"
        stroke-width="0.6428"
        stroke-miterlimit="10"
      />
      <path
        opacity="0.34"
        d="M156.555 127.56C156.555 127.56 189.418 136.262 200.754 138.266"
        stroke="#5E6472"
        stroke-width="0.6428"
        stroke-miterlimit="10"
      />
      <path
        opacity="0.34"
        d="M157.586 125.155C157.586 125.155 191.594 133.743 202.186 135.632"
        stroke="#5E6472"
        stroke-width="0.6428"
        stroke-miterlimit="10"
      />
      <path
        opacity="0.34"
        d="M158.68 122.75C158.68 122.75 193.776 131.224 203.681 132.999"
        stroke="#5E6472"
        stroke-width="0.6428"
        stroke-miterlimit="10"
      />
      <path
        opacity="0.34"
        d="M159.711 120.403C159.711 120.403 195.895 128.705 205.113 130.365"
        stroke="#5E6472"
        stroke-width="0.6428"
        stroke-miterlimit="10"
      />
      <path
        opacity="0.34"
        d="M160.805 117.998C160.805 117.998 198.076 126.186 206.607 127.731"
        stroke="#5E6472"
        stroke-width="0.6428"
        stroke-miterlimit="10"
      />
      <path
        opacity="0.34"
        d="M161.828 115.594C161.828 115.594 200.245 123.666 208.031 125.098"
        stroke="#5E6472"
        stroke-width="0.6428"
        stroke-miterlimit="10"
      />
      <path
        opacity="0.34"
        d="M162.914 113.189C162.914 113.189 202.419 121.147 209.461 122.407"
        stroke="#5E6472"
        stroke-width="0.6428"
        stroke-miterlimit="10"
      />
      <path
        opacity="0.34"
        d="M163.938 110.785C163.938 110.785 204.53 118.628 210.885 119.773"
        stroke="#5E6472"
        stroke-width="0.6428"
        stroke-miterlimit="10"
      />
      <path
        opacity="0.34"
        d="M165.039 108.437C165.039 108.437 206.719 116.166 212.387 117.197"
        stroke="#5E6472"
        stroke-width="0.6428"
        stroke-miterlimit="10"
      />
      <path
        opacity="0.34"
        d="M166.062 106.032C166.062 106.032 208.83 113.647 213.811 114.506"
        stroke="#5E6472"
        stroke-width="0.6428"
        stroke-miterlimit="10"
      />
      <path
        opacity="0.34"
        d="M167.148 103.628C167.148 103.628 211.061 111.128 215.298 111.872"
        stroke="#5E6472"
        stroke-width="0.6428"
        stroke-miterlimit="10"
      />
      <path
        opacity="0.34"
        d="M168.242 101.223C168.242 101.223 213.243 108.609 216.793 109.239"
        stroke="#5E6472"
        stroke-width="0.6428"
        stroke-miterlimit="10"
      />
      <path
        opacity="0.34"
        d="M169.266 98.876C169.266 98.876 215.354 106.147 218.16 106.605"
        stroke="#5E6472"
        stroke-width="0.6428"
        stroke-miterlimit="10"
      />
      <path
        opacity="0.34"
        d="M170.352 96.4714C170.352 96.4714 217.528 103.571 219.646 103.972"
        stroke="#5E6472"
        stroke-width="0.6428"
        stroke-miterlimit="10"
      />
      <path
        opacity="0.34"
        d="M171.391 94.0667C171.391 94.0667 219.655 101.052 221.086 101.338"
        stroke="#5E6472"
        stroke-width="0.6428"
        stroke-miterlimit="10"
      />
      <path
        opacity="0.34"
        d="M172.477 91.6621C172.477 91.6621 222.229 98.5325 222.916 98.647"
        stroke="#5E6472"
        stroke-width="0.6428"
        stroke-miterlimit="10"
      />
      <path
        opacity="0.34"
        d="M173.508 89.2574L224.005 96.0705"
        stroke="#5E6472"
        stroke-width="0.6428"
        stroke-miterlimit="10"
      />
    </g>
  </g>
  <path
    d="M193.287 89.8155L191.838 89.6294L191.933 88.8303L193.149 88.9866C193.363 89.0141 193.543 89.0095 193.686 88.9729C193.831 88.9336 193.943 88.8654 194.024 88.7681C194.108 88.6686 194.159 88.5413 194.179 88.3863C194.202 88.2107 194.186 88.0643 194.133 87.9472C194.083 87.8304 193.991 87.7385 193.858 87.6716C193.727 87.6049 193.553 87.5576 193.336 87.5298L192.53 87.4263L191.923 92.1569L190.76 92.0077L191.485 86.3665L193.453 86.6193C193.781 86.6614 194.07 86.7301 194.321 86.8252C194.574 86.9207 194.782 87.0434 194.947 87.1931C195.111 87.3429 195.229 87.5208 195.3 87.7268C195.371 87.9302 195.389 88.1637 195.356 88.4271C195.326 88.6596 195.245 88.8672 195.114 89.0499C194.986 89.2329 194.801 89.372 194.56 89.4671C194.322 89.5626 194.023 89.5937 193.662 89.5605L193.287 89.8155ZM192.918 92.2848L191.202 92.0644L191.772 91.216L193.035 91.3782C193.239 91.4044 193.41 91.3935 193.547 91.3455C193.685 91.295 193.792 91.2168 193.869 91.1112C193.945 91.0055 193.993 90.879 194.012 90.7318C194.033 90.5665 194.023 90.4195 193.982 90.2908C193.943 90.1624 193.867 90.0581 193.754 89.978C193.642 89.8952 193.486 89.8411 193.287 89.8155L192.167 89.6717L192.277 88.8746L193.672 89.0537L193.899 89.4019C194.243 89.4409 194.512 89.537 194.705 89.6905C194.901 89.8417 195.034 90.0228 195.104 90.234C195.176 90.4455 195.198 90.6649 195.169 90.8922C195.122 91.2538 195.005 91.5485 194.815 91.7762C194.626 92.0013 194.371 92.1563 194.05 92.2412C193.732 92.3263 193.355 92.3409 192.918 92.2848ZM199.668 87.4174L200.826 87.5662L200.347 91.2934C200.292 91.7274 200.152 92.0809 199.928 92.3541C199.706 92.6276 199.423 92.8183 199.078 92.9263C198.736 93.0347 198.355 93.0618 197.934 93.0077C197.513 92.9536 197.148 92.8306 196.839 92.6387C196.533 92.4471 196.306 92.1908 196.158 91.8699C196.013 91.5493 195.968 91.172 196.024 90.7381L196.502 87.0109L197.665 87.1602L197.186 90.8874C197.153 91.1405 197.167 91.3523 197.226 91.5227C197.286 91.6931 197.386 91.8254 197.526 91.9196C197.669 92.0141 197.843 92.0746 198.05 92.1011C198.262 92.1283 198.446 92.1139 198.603 92.0579C198.762 92.0022 198.891 91.8993 198.989 91.7491C199.09 91.5993 199.156 91.3978 199.189 91.1446L199.668 87.4174ZM204.569 91.8789L205.727 92.0277C205.655 92.4044 205.508 92.7281 205.284 92.9986C205.063 93.2695 204.776 93.4664 204.424 93.5893C204.075 93.7124 203.669 93.7443 203.207 93.685C202.845 93.6385 202.529 93.5349 202.258 93.3741C201.988 93.2107 201.766 92.9984 201.592 92.7371C201.42 92.4762 201.303 92.1723 201.24 91.8255C201.177 91.4787 201.172 91.0987 201.225 90.6854L201.275 90.2941C201.328 89.8808 201.431 89.5146 201.582 89.1953C201.736 88.8738 201.93 88.6086 202.164 88.3998C202.401 88.1912 202.671 88.0421 202.974 87.9524C203.277 87.8626 203.606 87.8405 203.959 87.8859C204.429 87.9463 204.815 88.0825 205.116 88.2944C205.42 88.5067 205.641 88.7741 205.781 89.0966C205.923 89.4194 205.988 89.7743 205.975 90.1612L204.813 90.012C204.829 89.783 204.808 89.5848 204.751 89.4173C204.694 89.2472 204.592 89.112 204.445 89.0117C204.301 88.9091 204.099 88.8412 203.841 88.8081C203.647 88.7832 203.473 88.7976 203.319 88.8514C203.166 88.9051 203.03 88.9993 202.913 89.1339C202.796 89.2685 202.698 89.445 202.62 89.6635C202.545 89.8796 202.489 90.1375 202.45 90.4371L202.399 90.8362C202.361 91.1281 202.35 91.3879 202.366 91.6157C202.382 91.8409 202.425 92.0355 202.496 92.1995C202.569 92.3612 202.674 92.4901 202.808 92.5862C202.946 92.68 203.118 92.7402 203.325 92.7667C203.567 92.7979 203.773 92.7849 203.94 92.7276C204.108 92.6704 204.243 92.5709 204.345 92.4291C204.45 92.2876 204.524 92.1043 204.569 91.8789Z"
    fill="#DF5356"
  />
  <path
    d="M171.894 105.383L173.979 105.769C174.407 105.848 174.763 105.98 175.046 106.164C175.332 106.35 175.535 106.583 175.656 106.865C175.776 107.147 175.802 107.471 175.734 107.837C175.679 108.137 175.58 108.384 175.438 108.581C175.298 108.775 175.123 108.926 174.913 109.036C174.705 109.143 174.47 109.216 174.209 109.255L173.808 109.38L171.995 109.044L172.154 108.144L173.502 108.394C173.704 108.431 173.879 108.426 174.025 108.379C174.171 108.332 174.29 108.251 174.38 108.135C174.473 108.02 174.535 107.877 174.566 107.708C174.599 107.529 174.595 107.368 174.552 107.225C174.51 107.082 174.427 106.964 174.304 106.869C174.181 106.775 174.017 106.709 173.812 106.671L172.879 106.499L172.012 111.189L170.859 110.976L171.894 105.383ZM173.986 111.554L173.172 108.825L174.391 109.043L175.229 111.728L175.219 111.782L173.986 111.554ZM177.729 112.325C177.406 112.266 177.126 112.161 176.889 112.011C176.652 111.859 176.461 111.674 176.316 111.456C176.174 111.239 176.077 111 176.028 110.739C175.978 110.476 175.979 110.206 176.03 109.93L176.059 109.776C176.117 109.461 176.215 109.181 176.353 108.937C176.491 108.692 176.661 108.489 176.863 108.328C177.067 108.167 177.299 108.058 177.559 108C177.819 107.939 178.1 107.937 178.403 107.993C178.697 108.047 178.949 108.144 179.159 108.284C179.369 108.423 179.534 108.597 179.655 108.804C179.778 109.012 179.856 109.249 179.889 109.515C179.922 109.778 179.911 110.062 179.855 110.367L179.769 110.827L176.466 110.217L176.602 109.479L178.819 109.889L178.834 109.804C178.863 109.651 178.86 109.509 178.826 109.378C178.795 109.245 178.731 109.133 178.634 109.04C178.537 108.948 178.403 108.887 178.231 108.855C178.085 108.828 177.954 108.837 177.837 108.881C177.72 108.926 177.618 109 177.53 109.103C177.445 109.206 177.371 109.333 177.309 109.483C177.25 109.631 177.203 109.797 177.169 109.981L177.14 110.135C177.11 110.301 177.104 110.459 177.124 110.609C177.147 110.758 177.192 110.893 177.26 111.011C177.331 111.13 177.424 111.229 177.539 111.309C177.657 111.389 177.796 111.444 177.958 111.474C178.157 111.511 178.35 111.507 178.536 111.461C178.725 111.414 178.896 111.323 179.051 111.187L179.481 111.871C179.371 111.98 179.229 112.078 179.057 112.166C178.887 112.253 178.69 112.315 178.467 112.35C178.244 112.383 177.997 112.375 177.729 112.325ZM181.805 109.528L180.889 114.483L179.783 114.278L180.847 108.524L181.872 108.714L181.805 109.528ZM184.208 111.247L184.193 111.328C184.138 111.63 184.05 111.904 183.93 112.149C183.813 112.395 183.669 112.601 183.498 112.768C183.327 112.933 183.131 113.05 182.909 113.12C182.69 113.188 182.449 113.198 182.188 113.15C181.935 113.103 181.724 113.011 181.556 112.874C181.388 112.737 181.257 112.564 181.163 112.356C181.072 112.146 181.011 111.911 180.98 111.651C180.948 111.391 180.938 111.116 180.949 110.827L180.988 110.616C181.085 110.321 181.195 110.056 181.318 109.819C181.442 109.58 181.584 109.379 181.743 109.218C181.906 109.055 182.089 108.939 182.292 108.871C182.498 108.803 182.726 108.792 182.977 108.839C183.241 108.887 183.464 108.98 183.645 109.117C183.829 109.254 183.971 109.429 184.072 109.641C184.176 109.853 184.239 110.095 184.26 110.367C184.284 110.639 184.267 110.932 184.208 111.247ZM183.083 111.122L183.098 111.042C183.131 110.865 183.146 110.7 183.142 110.545C183.142 110.389 183.12 110.249 183.077 110.124C183.037 110 182.971 109.898 182.88 109.818C182.792 109.735 182.676 109.681 182.533 109.654C182.382 109.626 182.248 109.627 182.131 109.655C182.017 109.685 181.918 109.739 181.835 109.819C181.751 109.899 181.681 110 181.624 110.122C181.567 110.244 181.52 110.384 181.482 110.544L181.383 111.078C181.361 111.27 181.366 111.447 181.397 111.609C181.428 111.768 181.497 111.903 181.604 112.013C181.711 112.123 181.864 112.196 182.064 112.233C182.21 112.26 182.339 112.251 182.45 112.205C182.562 112.157 182.66 112.081 182.743 111.977C182.828 111.874 182.897 111.749 182.951 111.602C183.007 111.457 183.051 111.297 183.083 111.122ZM186.92 112.976L187.262 111.124C187.287 110.991 187.286 110.873 187.26 110.77C187.234 110.665 187.181 110.577 187.098 110.506C187.019 110.436 186.907 110.387 186.764 110.361C186.641 110.338 186.53 110.34 186.433 110.367C186.336 110.392 186.255 110.439 186.192 110.509C186.129 110.577 186.088 110.664 186.069 110.769L184.962 110.564C184.995 110.387 185.067 110.227 185.178 110.084C185.29 109.94 185.434 109.823 185.613 109.731C185.792 109.637 185.995 109.575 186.223 109.546C186.454 109.517 186.703 109.527 186.972 109.577C187.295 109.637 187.572 109.744 187.803 109.898C188.034 110.052 188.201 110.249 188.305 110.491C188.411 110.733 188.434 111.015 188.375 111.338L188.046 113.116C188.004 113.344 187.983 113.534 187.984 113.685C187.986 113.834 188.004 113.967 188.038 114.084L188.026 114.15L186.908 113.943C186.875 113.82 186.86 113.672 186.863 113.498C186.869 113.321 186.888 113.147 186.92 112.976ZM187.36 111.409L187.252 112.036L186.634 111.922C186.488 111.895 186.358 111.888 186.244 111.902C186.131 111.915 186.034 111.946 185.953 111.995C185.873 112.041 185.809 112.1 185.761 112.174C185.716 112.247 185.684 112.332 185.667 112.426C185.649 112.521 185.655 112.611 185.684 112.696C185.714 112.778 185.766 112.849 185.84 112.907C185.914 112.963 186.007 113.002 186.117 113.022C186.283 113.053 186.434 113.046 186.569 113.002C186.704 112.959 186.814 112.894 186.899 112.809C186.986 112.725 187.039 112.639 187.058 112.552L187.263 113.075C187.203 113.172 187.126 113.271 187.034 113.37C186.944 113.47 186.836 113.56 186.71 113.64C186.584 113.718 186.44 113.774 186.277 113.81C186.114 113.844 185.929 113.841 185.722 113.803C185.458 113.754 185.229 113.658 185.033 113.513C184.84 113.366 184.698 113.187 184.607 112.977C184.52 112.765 184.498 112.539 184.542 112.298C184.583 112.08 184.659 111.895 184.773 111.741C184.886 111.587 185.032 111.467 185.212 111.381C185.396 111.293 185.613 111.242 185.865 111.228C186.117 111.211 186.401 111.231 186.719 111.29L187.36 111.409ZM189.971 114.025L191.756 110.541L192.942 110.76L190.387 115.234C190.332 115.332 190.263 115.436 190.179 115.545C190.098 115.654 189.996 115.753 189.874 115.842C189.753 115.934 189.61 116 189.444 116.04C189.28 116.082 189.088 116.082 188.868 116.041C188.763 116.022 188.678 116 188.614 115.974C188.55 115.949 188.473 115.917 188.386 115.877L188.535 115.066C188.564 115.071 188.593 115.077 188.624 115.082C188.654 115.091 188.683 115.097 188.711 115.103C188.857 115.13 188.979 115.135 189.078 115.119C189.176 115.103 189.26 115.065 189.329 115.006C189.398 114.95 189.459 114.871 189.512 114.77L189.971 114.025ZM190.192 110.252L190.538 113.43L190.479 114.631L189.711 114.572L189.005 110.033L190.192 110.252ZM194.331 111.907L193.722 115.203L192.612 114.998L193.38 110.841L194.421 111.034L194.331 111.907ZM193.98 112.95L193.672 112.894C193.726 112.604 193.81 112.344 193.924 112.114C194.041 111.881 194.184 111.688 194.353 111.534C194.525 111.377 194.721 111.268 194.942 111.206C195.162 111.143 195.406 111.137 195.672 111.186C195.857 111.22 196.021 111.279 196.164 111.364C196.307 111.446 196.423 111.556 196.512 111.695C196.603 111.831 196.662 111.998 196.689 112.196C196.717 112.392 196.706 112.619 196.659 112.878L196.146 115.651L195.039 115.446L195.53 112.796C195.565 112.607 195.566 112.456 195.534 112.344C195.501 112.232 195.442 112.147 195.354 112.088C195.27 112.03 195.162 111.989 195.032 111.965C194.888 111.939 194.757 111.945 194.639 111.984C194.523 112.023 194.421 112.089 194.332 112.181C194.244 112.271 194.171 112.382 194.112 112.514C194.053 112.646 194.009 112.792 193.98 112.95ZM196.477 113.281L196.072 113.258C196.122 112.986 196.202 112.74 196.312 112.52C196.424 112.299 196.563 112.113 196.729 111.961C196.897 111.809 197.09 111.703 197.308 111.643C197.526 111.58 197.766 111.573 198.027 111.621C198.227 111.658 198.403 111.721 198.556 111.81C198.71 111.897 198.832 112.014 198.924 112.16C199.019 112.305 199.079 112.483 199.104 112.694C199.131 112.906 199.118 113.156 199.064 113.446L198.573 116.1L197.463 115.895L197.954 113.24C197.99 113.048 197.991 112.898 197.958 112.788C197.928 112.677 197.87 112.593 197.782 112.537C197.697 112.479 197.591 112.438 197.463 112.415C197.33 112.39 197.208 112.395 197.099 112.431C196.989 112.463 196.893 112.52 196.809 112.6C196.726 112.68 196.656 112.778 196.6 112.895C196.544 113.009 196.503 113.138 196.477 113.281ZM201.329 116.689C201.006 116.629 200.726 116.524 200.489 116.375C200.252 116.222 200.061 116.037 199.916 115.82C199.774 115.603 199.677 115.364 199.628 115.103C199.578 114.84 199.579 114.57 199.63 114.293L199.659 114.139C199.717 113.824 199.815 113.545 199.953 113.3C200.091 113.055 200.261 112.852 200.463 112.691C200.667 112.53 200.899 112.421 201.159 112.363C201.419 112.303 201.7 112.3 202.003 112.356C202.297 112.411 202.549 112.508 202.759 112.647C202.969 112.786 203.134 112.96 203.255 113.168C203.378 113.376 203.456 113.613 203.489 113.878C203.522 114.141 203.511 114.425 203.455 114.73L203.369 115.191L200.066 114.58L200.202 113.843L202.419 114.252L202.434 114.168C202.463 114.014 202.46 113.872 202.426 113.741C202.395 113.609 202.331 113.496 202.234 113.404C202.137 113.312 202.003 113.25 201.831 113.218C201.685 113.191 201.554 113.2 201.437 113.245C201.32 113.289 201.218 113.363 201.13 113.466C201.045 113.569 200.971 113.696 200.909 113.846C200.85 113.994 200.803 114.16 200.769 114.345L200.74 114.498C200.71 114.665 200.704 114.823 200.724 114.972C200.747 115.122 200.792 115.256 200.86 115.375C200.931 115.494 201.024 115.593 201.139 115.672C201.257 115.752 201.396 115.807 201.558 115.837C201.757 115.874 201.95 115.87 202.136 115.825C202.325 115.778 202.496 115.686 202.651 115.551L203.081 116.234C202.971 116.343 202.829 116.442 202.657 116.529C202.487 116.617 202.29 116.678 202.067 116.714C201.844 116.747 201.597 116.738 201.329 116.689ZM205.366 113.975L204.761 117.244L203.655 117.039L204.424 112.883L205.461 113.075L205.366 113.975ZM205.011 114.99L204.712 114.935C204.769 114.627 204.859 114.358 204.984 114.127C205.109 113.893 205.26 113.703 205.436 113.555C205.612 113.405 205.807 113.302 206.021 113.246C206.238 113.188 206.47 113.182 206.716 113.228C206.91 113.264 207.083 113.325 207.234 113.411C207.385 113.497 207.507 113.612 207.599 113.756C207.694 113.901 207.754 114.08 207.778 114.294C207.804 114.508 207.791 114.761 207.737 115.053L207.247 117.703L206.133 117.497L206.623 114.843C206.658 114.659 206.658 114.511 206.626 114.399C206.594 114.287 206.532 114.201 206.439 114.142C206.35 114.08 206.234 114.036 206.09 114.01C205.942 113.982 205.807 113.988 205.686 114.026C205.568 114.065 205.463 114.131 205.372 114.223C205.284 114.312 205.209 114.423 205.147 114.554C205.086 114.686 205.041 114.831 205.011 114.99ZM210.892 114.079L210.747 114.863L208.327 114.415L208.472 113.632L210.892 114.079ZM209.261 112.717L210.367 112.922L209.641 116.851C209.618 116.971 209.617 117.066 209.636 117.136C209.657 117.206 209.698 117.26 209.757 117.298C209.817 117.332 209.895 117.359 209.992 117.377C210.062 117.39 210.123 117.398 210.178 117.403C210.236 117.406 210.285 117.407 210.325 117.407L210.178 118.222C210.077 118.235 209.971 118.24 209.857 118.238C209.744 118.235 209.62 118.222 209.487 118.197C209.244 118.152 209.039 118.073 208.872 117.96C208.707 117.845 208.593 117.689 208.529 117.492C208.465 117.294 208.46 117.05 208.514 116.758L209.261 112.717Z"
    fill="#DF5356"
  />
  <path
    d="M179.33 95.4698L180.308 95.6374L181.042 100L183.187 96.1311L184.165 96.2987L181.179 101.557L180.394 101.423L179.33 95.4698ZM178.802 95.3794L179.776 95.5464L179.266 99.5885L178.993 101.182L177.841 100.985L178.802 95.3794ZM183.719 96.2221L184.697 96.3897L183.736 101.995L182.581 101.798L182.854 100.204L183.719 96.2221ZM184.852 100.086L184.866 100.005C184.918 99.7 185.01 99.4264 185.141 99.1847C185.273 98.9404 185.438 98.7376 185.638 98.5762C185.837 98.4149 186.068 98.3025 186.33 98.2391C186.592 98.173 186.881 98.1671 187.197 98.2212C187.512 98.2753 187.784 98.3774 188.012 98.5274C188.241 98.6749 188.422 98.8579 188.556 99.0764C188.693 99.2954 188.783 99.542 188.826 99.8162C188.869 100.088 188.864 100.376 188.812 100.682L188.798 100.763C188.746 101.066 188.654 101.339 188.523 101.583C188.392 101.825 188.225 102.028 188.022 102.191C187.823 102.353 187.592 102.465 187.33 102.528C187.068 102.592 186.78 102.596 186.464 102.542C186.148 102.488 185.876 102.387 185.648 102.24C185.422 102.093 185.241 101.91 185.104 101.691C184.97 101.47 184.881 101.223 184.838 100.952C184.795 100.678 184.8 100.389 184.852 100.086ZM185.975 100.195L185.961 100.276C185.931 100.451 185.918 100.616 185.923 100.773C185.928 100.93 185.954 101.072 186.001 101.199C186.051 101.323 186.125 101.427 186.225 101.511C186.324 101.594 186.453 101.649 186.612 101.676C186.766 101.702 186.904 101.693 187.026 101.648C187.147 101.603 187.251 101.529 187.337 101.428C187.423 101.324 187.495 101.198 187.552 101.052C187.611 100.907 187.656 100.746 187.686 100.572L187.699 100.491C187.728 100.322 187.739 100.16 187.731 100.005C187.726 99.8484 187.699 99.7063 187.65 99.579C187.603 99.4494 187.53 99.3419 187.431 99.2562C187.333 99.1706 187.205 99.1143 187.048 99.0875C186.892 99.0606 186.752 99.0711 186.631 99.119C186.511 99.1672 186.407 99.2444 186.317 99.3506C186.231 99.4547 186.159 99.5798 186.103 99.726C186.046 99.8696 186.004 100.026 185.975 100.195ZM190.797 99.8529L190.239 103.11L189.13 102.92L189.844 98.7542L190.887 98.933L190.797 99.8529ZM192.213 99.1324L192.017 100.157C191.964 100.14 191.9 100.123 191.824 100.104C191.751 100.084 191.684 100.068 191.622 100.058C191.465 100.031 191.326 100.028 191.203 100.049C191.084 100.068 190.979 100.11 190.889 100.174C190.801 100.238 190.729 100.322 190.671 100.426C190.616 100.53 190.574 100.652 190.545 100.793L190.333 100.685C190.38 100.415 190.449 100.172 190.542 99.9557C190.635 99.7365 190.747 99.551 190.879 99.3992C191.013 99.2479 191.164 99.139 191.331 99.0725C191.498 99.0061 191.68 98.9896 191.875 99.023C191.936 99.0335 191.998 99.0495 192.061 99.0707C192.123 99.0894 192.174 99.11 192.213 99.1324ZM194.965 99.6319L194.83 100.417L192.404 100.002L192.539 99.2161L194.965 99.6319ZM193.316 98.2911L194.425 98.4812L193.75 102.42C193.729 102.54 193.728 102.635 193.748 102.705C193.771 102.775 193.812 102.828 193.871 102.865C193.932 102.899 194.011 102.924 194.108 102.941C194.177 102.953 194.239 102.961 194.294 102.965C194.352 102.967 194.401 102.967 194.441 102.966L194.305 103.783C194.204 103.798 194.097 103.804 193.984 103.804C193.871 103.803 193.747 103.791 193.614 103.768C193.37 103.726 193.164 103.65 192.995 103.539C192.829 103.426 192.713 103.271 192.646 103.075C192.58 102.879 192.571 102.634 192.622 102.341L193.316 98.2911ZM198.233 100.192L199.238 100.364L198.548 104.392C198.483 104.771 198.343 105.079 198.128 105.314C197.916 105.553 197.647 105.714 197.324 105.799C197 105.886 196.639 105.895 196.241 105.827C196.066 105.797 195.886 105.742 195.698 105.663C195.514 105.584 195.341 105.48 195.181 105.352C195.023 105.225 194.898 105.076 194.805 104.907L195.407 104.337C195.509 104.508 195.638 104.649 195.794 104.76C195.949 104.873 196.129 104.948 196.334 104.983C196.534 105.017 196.71 105.009 196.862 104.959C197.012 104.91 197.137 104.822 197.236 104.694C197.334 104.568 197.4 104.406 197.434 104.209L197.961 101.136L198.233 100.192ZM195.065 101.845L195.079 101.764C195.133 101.446 195.221 101.163 195.343 100.917C195.467 100.669 195.617 100.464 195.793 100.301C195.972 100.139 196.174 100.024 196.399 99.957C196.625 99.89 196.868 99.8789 197.13 99.9238C197.407 99.9713 197.631 100.062 197.8 100.197C197.97 100.332 198.099 100.505 198.187 100.715C198.276 100.923 198.331 101.161 198.354 101.43C198.38 101.696 198.386 101.983 198.373 102.293L198.342 102.47C198.254 102.753 198.15 103.013 198.03 103.249C197.911 103.484 197.772 103.685 197.614 103.851C197.457 104.014 197.275 104.131 197.07 104.202C196.868 104.273 196.639 104.286 196.382 104.242C196.125 104.198 195.902 104.106 195.712 103.965C195.525 103.825 195.374 103.647 195.26 103.432C195.147 103.217 195.072 102.974 195.036 102.704C195.003 102.434 195.013 102.148 195.065 101.845ZM196.188 101.954L196.174 102.035C196.144 102.207 196.133 102.37 196.141 102.525C196.149 102.679 196.178 102.82 196.227 102.948C196.28 103.073 196.353 103.177 196.447 103.259C196.545 103.339 196.666 103.391 196.813 103.416C197.015 103.451 197.188 103.437 197.331 103.375C197.474 103.309 197.591 103.206 197.681 103.066C197.771 102.926 197.839 102.757 197.883 102.561L197.969 102.057C197.992 101.895 197.995 101.746 197.978 101.611C197.962 101.473 197.927 101.352 197.874 101.248C197.821 101.144 197.743 101.057 197.641 100.986C197.54 100.916 197.413 100.868 197.262 100.842C197.116 100.817 196.983 100.829 196.864 100.877C196.747 100.923 196.644 100.996 196.552 101.097C196.464 101.198 196.388 101.322 196.326 101.47C196.264 101.616 196.218 101.777 196.188 101.954ZM201.796 104.124L202.114 102.268C202.137 102.135 202.135 102.017 202.107 101.914C202.081 101.809 202.025 101.722 201.942 101.652C201.862 101.583 201.75 101.536 201.606 101.511C201.483 101.49 201.372 101.494 201.275 101.522C201.178 101.548 201.099 101.596 201.036 101.667C200.974 101.736 200.934 101.823 200.916 101.928L199.807 101.738C199.838 101.561 199.908 101.4 200.017 101.255C200.126 101.11 200.27 100.99 200.447 100.897C200.625 100.8 200.827 100.736 201.055 100.703C201.285 100.672 201.535 100.679 201.804 100.725C202.127 100.78 202.406 100.883 202.639 101.034C202.872 101.185 203.042 101.381 203.148 101.621C203.258 101.862 203.285 102.144 203.229 102.467L202.924 104.25C202.885 104.478 202.867 104.668 202.87 104.819C202.873 104.968 202.893 105.101 202.928 105.218L202.917 105.283L201.797 105.091C201.762 104.969 201.745 104.821 201.746 104.646C201.75 104.47 201.767 104.296 201.796 104.124ZM202.216 102.551L202.116 103.18L201.497 103.074C201.35 103.049 201.22 103.044 201.107 103.059C200.993 103.073 200.897 103.106 200.817 103.156C200.737 103.203 200.674 103.263 200.627 103.337C200.583 103.411 200.552 103.496 200.536 103.591C200.52 103.686 200.527 103.776 200.557 103.86C200.588 103.942 200.641 104.012 200.716 104.07C200.791 104.125 200.883 104.162 200.994 104.181C201.161 104.209 201.311 104.201 201.446 104.155C201.581 104.109 201.69 104.044 201.773 103.958C201.859 103.872 201.911 103.786 201.928 103.699L202.14 104.219C202.081 104.317 202.006 104.416 201.915 104.517C201.826 104.618 201.72 104.709 201.595 104.791C201.47 104.87 201.327 104.929 201.164 104.967C201.002 105.002 200.817 105.002 200.609 104.967C200.345 104.922 200.114 104.828 199.916 104.686C199.722 104.541 199.578 104.365 199.484 104.156C199.393 103.945 199.369 103.718 199.41 103.477C199.448 103.259 199.522 103.072 199.633 102.917C199.744 102.762 199.889 102.64 200.068 102.552C200.25 102.461 200.467 102.407 200.718 102.39C200.97 102.369 201.255 102.386 201.573 102.441L202.216 102.551ZM206.958 101.687L207.963 101.86L207.272 105.887C207.207 106.267 207.067 106.574 206.853 106.81C206.64 107.048 206.372 107.21 206.048 107.294C205.724 107.381 205.363 107.391 204.965 107.323C204.791 107.293 204.61 107.238 204.423 107.158C204.238 107.079 204.066 106.975 203.905 106.848C203.748 106.72 203.622 106.572 203.53 106.403L204.131 105.832C204.234 106.003 204.363 106.144 204.518 106.255C204.673 106.369 204.853 106.443 205.058 106.478C205.259 106.513 205.434 106.505 205.586 106.454C205.737 106.406 205.862 106.318 205.96 106.189C206.058 106.063 206.124 105.902 206.158 105.704L206.685 102.632L206.958 101.687ZM203.789 103.34L203.803 103.259C203.858 102.941 203.946 102.659 204.067 102.413C204.191 102.165 204.342 101.959 204.517 101.796C204.696 101.634 204.898 101.519 205.123 101.452C205.349 101.385 205.593 101.374 205.854 101.419C206.132 101.467 206.355 101.558 206.525 101.693C206.695 101.827 206.823 102 206.912 102.211C207 102.419 207.056 102.657 207.078 102.925C207.104 103.191 207.11 103.479 207.097 103.788L207.067 103.965C206.978 104.249 206.874 104.508 206.755 104.744C206.635 104.98 206.496 105.181 206.338 105.346C206.181 105.51 206 105.627 205.795 105.697C205.592 105.768 205.363 105.782 205.106 105.738C204.85 105.694 204.626 105.601 204.436 105.46C204.249 105.32 204.099 105.142 203.985 104.927C203.871 104.712 203.796 104.469 203.761 104.199C203.728 103.929 203.737 103.643 203.789 103.34ZM204.912 103.449L204.898 103.53C204.869 103.702 204.858 103.865 204.866 104.02C204.873 104.175 204.902 104.315 204.952 104.443C205.004 104.568 205.078 104.672 205.172 104.754C205.269 104.834 205.391 104.887 205.537 104.912C205.74 104.947 205.913 104.933 206.056 104.87C206.199 104.805 206.316 104.702 206.406 104.561C206.496 104.421 206.563 104.253 206.607 104.057L206.693 103.552C206.716 103.39 206.719 103.241 206.703 103.106C206.687 102.969 206.652 102.848 206.598 102.744C206.545 102.639 206.467 102.552 206.366 102.482C206.264 102.411 206.138 102.363 205.986 102.337C205.84 102.312 205.707 102.324 205.588 102.372C205.472 102.418 205.368 102.492 205.277 102.592C205.188 102.693 205.113 102.818 205.05 102.966C204.988 103.111 204.942 103.272 204.912 103.449ZM210.015 106.579C209.692 106.524 209.41 106.422 209.171 106.276C208.933 106.127 208.739 105.944 208.591 105.729C208.446 105.513 208.347 105.276 208.294 105.016C208.241 104.753 208.238 104.483 208.286 104.206L208.312 104.052C208.366 103.736 208.461 103.455 208.595 103.209C208.73 102.962 208.897 102.757 209.097 102.593C209.3 102.43 209.53 102.317 209.789 102.256C210.048 102.192 210.329 102.186 210.632 102.238C210.927 102.289 211.181 102.382 211.393 102.519C211.604 102.656 211.772 102.827 211.895 103.033C212.021 103.24 212.102 103.475 212.138 103.741C212.175 104.003 212.168 104.287 212.115 104.593L212.036 105.055L208.725 104.487L208.852 103.748L211.073 104.129L211.088 104.044C211.114 103.89 211.109 103.748 211.074 103.618C211.041 103.485 210.975 103.374 210.877 103.283C210.779 103.192 210.644 103.132 210.472 103.102C210.326 103.077 210.195 103.088 210.078 103.134C209.962 103.18 209.861 103.255 209.774 103.359C209.69 103.464 209.618 103.591 209.558 103.742C209.501 103.891 209.456 104.058 209.425 104.243L209.398 104.397C209.37 104.563 209.366 104.721 209.388 104.87C209.413 105.02 209.46 105.154 209.53 105.271C209.602 105.389 209.696 105.487 209.812 105.565C209.931 105.644 210.071 105.697 210.233 105.725C210.433 105.759 210.626 105.752 210.811 105.705C210.999 105.655 211.17 105.561 211.323 105.424L211.761 106.102C211.653 106.212 211.513 106.313 211.341 106.402C211.173 106.492 210.977 106.556 210.754 106.595C210.531 106.63 210.285 106.625 210.015 106.579Z"
    fill="#DF5356"
  />
  <path
    d="M209.671 139.239V139.297C201.313 149.946 192.209 155.9 182.305 158.305L182.133 146.854C182.133 146.854 194.614 148.171 209.671 139.239Z"
    fill="#DCB7AE"
  />
  <path
    d="M34.9183 117.151L33.2266 120.04C33.2266 120.04 35.2072 120.906 36.5689 120.081C37.9305 119.256 38.0956 119.008 38.0956 119.008L39.3335 118.76L39.2097 117.11L34.9183 117.151Z"
    fill="#DB8A74"
  />
  <path
    d="M31.7476 117.316L32.7379 117.44C32.7379 117.44 34.2646 116.326 35.0073 116.161C35.7501 116.037 36.4515 116.037 36.5753 116.285C36.6991 116.532 36.5341 116.739 36.0802 116.904C35.585 117.069 34.2233 117.729 34.2233 117.729L32.6141 119.627L31.5 119.586L31.7476 117.316Z"
    fill="#EE9B93"
  />
  <path
    d="M34.5041 117.357L36.072 117.976L37.8051 119.049C37.8464 119.091 37.8876 119.132 37.8876 119.173C37.8876 119.338 37.8876 119.751 37.475 119.751C37.475 119.751 37.5162 120.37 36.9798 120.37C36.9798 120.37 36.9386 120.865 36.5259 120.865C36.5259 120.865 36.5259 121.195 35.9483 121.195C35.3706 121.236 34.4628 121.236 34.1327 121.071C33.8026 120.906 32.5234 119.668 32.5234 119.668L34.5041 117.357Z"
    fill="#EE9B93"
  />
  <path
    d="M35.9141 119.049C35.9141 119.049 37.3995 119.751 37.482 119.751"
    stroke="#444054"
    stroke-width="0.098291"
    stroke-miterlimit="10"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M36.9755 120.37L35.5312 119.792"
    stroke="#444054"
    stroke-width="0.098291"
    stroke-miterlimit="10"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M36.5335 120.865C36.5335 120.865 35.5845 120.617 35.1719 120.493"
    stroke="#444054"
    stroke-width="0.098291"
    stroke-miterlimit="10"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M39.1344 116.45C39.1344 116.45 36.9062 116.656 36.6586 116.574C36.3698 116.491 34.9669 116.037 34.5542 116.326C34.1416 116.615 32.945 117.729 33.0275 117.935C33.11 118.142 34.3479 117.605 34.8018 117.481C35.297 117.358 39.2582 117.935 39.2582 117.935L39.1344 116.45Z"
    fill="#DB8A74"
  />
  <path
    d="M33.5625 111.044C33.5625 111.044 34.1814 110.59 34.9242 110.962C35.6669 111.333 35.3781 111.87 35.3781 111.87L33.5625 111.044Z"
    fill="#444054"
  />
  <path
    d="M25.1016 115.831L32.0337 110.343L36.944 112.447L30.7958 117.646L25.1016 115.831Z"
    fill="#AED9E0"
  />
  <path
    d="M31.4615 114.098C31.4202 114.304 31.4615 114.552 31.544 114.758C31.7091 115.171 31.9154 115.583 32.163 115.913C32.2455 116.037 32.3693 116.161 32.4931 116.244C32.6169 116.326 32.7819 116.326 32.9057 116.285C33.0295 116.202 33.112 116.078 33.1533 115.913C33.1533 115.748 33.112 115.625 33.0707 115.46C32.9057 114.964 32.6581 114.51 32.3693 114.139C32.2455 114.015 32.0804 113.685 31.8741 113.685C31.6678 113.603 31.4615 113.892 31.4615 114.098Z"
    fill="#FFA69E"
  />
  <path
    d="M30.9224 114.923C30.8812 115.129 30.9224 115.377 31.005 115.583C31.17 115.996 31.3763 116.409 31.6239 116.739C31.7064 116.862 31.8302 116.986 31.954 117.069C32.0778 117.151 32.2429 117.151 32.3666 117.11C32.4904 117.028 32.573 116.904 32.6142 116.739C32.6142 116.574 32.573 116.45 32.5317 116.285C32.3667 115.79 32.1191 115.336 31.8302 114.964C31.7064 114.841 31.5414 114.51 31.3351 114.51C31.1288 114.469 30.9637 114.758 30.9224 114.923Z"
    fill="#FFA69E"
  />
  <path
    d="M30.2584 115.625C30.2171 115.831 30.2584 116.078 30.3409 116.285C30.506 116.697 30.7123 117.11 30.9598 117.44C31.0424 117.564 31.1662 117.688 31.2899 117.77C31.4137 117.853 31.5788 117.853 31.7026 117.812C31.8264 117.729 31.9089 117.605 31.9501 117.44C31.9501 117.275 31.9089 117.151 31.8676 116.986C31.7026 116.491 31.455 116.037 31.1662 115.666C31.0424 115.542 30.8773 115.212 30.671 115.212C30.4647 115.129 30.2996 115.418 30.2584 115.625Z"
    fill="#FFA69E"
  />
  <g opacity="0.09">
    <path
      opacity="0.09"
      d="M31.4615 114.098C31.4202 114.304 31.4615 114.552 31.544 114.758C31.7091 115.171 31.9154 115.583 32.163 115.913C32.2455 116.037 32.3693 116.161 32.4931 116.244C32.6169 116.326 32.7819 116.326 32.9057 116.285C33.0295 116.202 33.112 116.078 33.1533 115.913C33.1533 115.748 33.112 115.625 33.0707 115.46C32.9057 114.964 32.6581 114.51 32.3693 114.139C32.2455 114.015 32.0804 113.685 31.8741 113.685C31.6678 113.603 31.4615 113.892 31.4615 114.098Z"
      fill="#EE9B93"
    />
    <path
      opacity="0.09"
      d="M30.9224 114.923C30.8812 115.129 30.9224 115.377 31.005 115.583C31.17 115.996 31.3763 116.409 31.6239 116.739C31.7064 116.862 31.8302 116.986 31.954 117.069C32.0778 117.151 32.2429 117.151 32.3666 117.11C32.4904 117.028 32.573 116.904 32.6142 116.739C32.6142 116.574 32.573 116.45 32.5317 116.285C32.3667 115.79 32.1191 115.336 31.8302 114.964C31.7064 114.841 31.5414 114.51 31.3351 114.51C31.1288 114.469 30.9637 114.758 30.9224 114.923Z"
      fill="#EE9B93"
    />
    <path
      opacity="0.09"
      d="M30.2584 115.625C30.2171 115.831 30.2584 116.078 30.3409 116.285C30.506 116.697 30.7123 117.11 30.9598 117.44C31.0424 117.564 31.1662 117.688 31.2899 117.77C31.4137 117.853 31.5788 117.853 31.7026 117.812C31.8264 117.729 31.9089 117.605 31.9501 117.44C31.9501 117.275 31.9089 117.151 31.8676 116.986C31.7026 116.491 31.455 116.037 31.1662 115.666C31.0424 115.542 30.8773 115.212 30.671 115.212C30.4647 115.129 30.2996 115.418 30.2584 115.625Z"
      fill="#EE9B93"
    />
  </g>
  <path
    d="M31.4531 114.469C31.4531 114.469 32.1546 115.418 32.5672 116.285"
    stroke="#444054"
    stroke-width="0.1114"
    stroke-miterlimit="10"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M30.9609 115.294C30.9609 115.294 31.7862 116.45 31.9925 117.028"
    stroke="#444054"
    stroke-width="0.1114"
    stroke-miterlimit="10"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M23.25 104.071C23.25 104.071 24.3641 104.937 24.6942 105.309C25.0243 105.68 26.6336 109.187 26.7574 110.013C26.8811 110.838 26.7161 115.129 26.7161 115.129L27.8302 127.508L25.1894 128.168L23.25 104.071Z"
    fill="#61E0EB"
  />
  <path
    d="M24.8984 105.639C24.8984 105.639 25.3936 108.486 26.1363 110.632"
    stroke="#61E0EB"
    stroke-width="0.1857"
    stroke-miterlimit="10"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M30.3593 161.179C30.1943 161.674 26.4806 161.261 25.2015 161.138C23.9636 160.972 21.9417 160.807 21.8179 160.23C21.6941 159.693 21.9004 159.281 22.1893 158.62C22.2305 158.538 22.2718 158.373 22.3131 158.249C22.5194 157.424 22.6844 155.98 22.6844 155.98L24.9126 155.815C24.9126 155.815 24.8713 156.97 25.1602 157.424C25.4078 157.836 26.6457 158.868 28.0486 159.487C28.1724 159.528 28.2962 159.57 28.3787 159.652C29.6991 160.147 30.5656 160.56 30.3593 161.179Z"
    fill="#FFA69E"
  />
  <path
    d="M30.3593 161.179C30.1943 161.674 26.4806 161.261 25.2015 161.138C23.9636 160.973 21.9417 160.807 21.8179 160.23C21.6941 159.693 21.9004 159.281 22.1893 158.621C22.2305 158.538 22.2718 158.373 22.3131 158.249C22.3131 158.29 22.3543 158.29 22.3543 158.332C22.4368 158.455 22.5194 158.538 22.6432 158.621C22.932 158.827 23.2621 158.909 23.5509 158.992C25.0364 159.363 26.5631 159.611 28.1311 159.817C28.2136 159.817 28.2962 159.817 28.3787 159.776C28.42 159.735 28.42 159.693 28.4612 159.611C29.6991 160.147 30.5656 160.56 30.3593 161.179Z"
    fill="#444054"
  />
  <path
    opacity="0.25"
    d="M30.3593 161.179C30.1943 161.674 26.4806 161.261 25.2015 161.138C23.9636 160.973 21.9417 160.807 21.8179 160.23C21.6941 159.693 21.9004 159.281 22.1893 158.621C22.2305 158.538 22.2718 158.373 22.3131 158.249C22.3131 158.29 22.3543 158.29 22.3543 158.332C22.4368 158.455 22.5194 158.538 22.6432 158.621C22.932 158.827 23.2621 158.909 23.5509 158.992C25.0364 159.363 26.5631 159.611 28.1311 159.817C28.2136 159.817 28.2962 159.817 28.3787 159.776C28.42 159.735 28.42 159.693 28.4612 159.611C29.6991 160.147 30.5656 160.56 30.3593 161.179Z"
    fill="#444054"
  />
  <path
    d="M24.8771 161.798C24.6708 162.334 20.6683 161.922 19.3067 161.757C17.945 161.591 15.7993 161.385 15.6342 160.807C15.5104 160.23 15.758 159.776 16.0469 159.074C16.0881 158.951 16.1294 158.827 16.1707 158.662C16.4182 157.754 16.5833 156.227 16.5833 156.227L19.0178 156.062C19.0178 156.062 18.9765 157.3 19.3067 157.795C19.5955 158.249 20.9159 159.322 22.4426 160.023C22.5664 160.065 22.6902 160.147 22.814 160.189C24.1757 160.684 25.1247 161.096 24.8771 161.798Z"
    fill="#FFA69E"
  />
  <path
    d="M24.8771 161.798C24.6708 162.334 20.6683 161.922 19.3067 161.757C17.945 161.591 15.7993 161.385 15.6342 160.807C15.5104 160.23 15.758 159.776 16.0469 159.074C16.0881 158.951 16.1294 158.827 16.1707 158.662C16.1707 158.703 16.2119 158.703 16.2119 158.744C16.2945 158.868 16.4182 158.992 16.542 159.074C16.8309 159.281 17.2022 159.363 17.5323 159.446C19.1416 159.817 20.7921 160.147 22.4839 160.312C22.5664 160.312 22.6902 160.312 22.7315 160.271C22.7727 160.23 22.814 160.189 22.814 160.106C24.1757 160.684 25.1247 161.096 24.8771 161.798Z"
    fill="#444054"
  />
  <path
    d="M15.098 127.219L15.9232 141.001C15.9232 141.001 15.1392 146.53 15.5931 150.533C16.047 154.535 16.3771 156.269 16.3771 156.269L19.2655 156.145L21.2874 140.135C21.2874 140.135 20.9573 142.734 21.535 148.8C22.1127 154.907 22.2777 156.392 22.2777 156.392L25.4137 156.31C25.4137 156.31 25.455 146.613 25.9501 142.404C26.4865 138.237 26.6928 125.404 26.6928 125.404L26.5278 118.142L17.5737 118.1C17.615 118.142 14.9742 123.63 15.098 127.219Z"
    fill="#444054"
  />
  <path
    d="M19.2578 156.186C19.2578 156.186 20.2481 148.057 20.6195 144.963C20.9909 141.868 21.2384 140.382 21.2384 140.382C21.2384 140.382 23.5079 131.511 24.0031 129.984C24.4982 128.416 24.7458 128.003 24.7458 128.003L25.9012 125.734"
    stroke="#2F243A"
    stroke-width="0.1857"
    stroke-miterlimit="10"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M25.198 119.627C25.198 120.906 25.1568 122.144 25.198 123.423C25.198 123.588 25.198 123.712 25.2806 123.877C25.3631 124.001 25.4869 124.125 25.6519 124.125C25.7757 124.125 25.8995 124.001 25.9408 123.877C25.982 123.753 25.982 123.63 25.982 123.465C25.982 122.227 25.8995 120.989 25.817 119.751"
    stroke="#2F243A"
    stroke-width="0.1857"
    stroke-miterlimit="10"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M18.2229 128.292C18.5117 137.618 15.7058 146.984 17.15 156.186"
    stroke="#2F243A"
    stroke-width="0.1857"
    stroke-miterlimit="10"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M22.2656 136.297C22.2656 142.941 22.5957 149.749 23.0909 156.351"
    stroke="#2F243A"
    stroke-width="0.1857"
    stroke-miterlimit="10"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M27.0433 103.328C27.2084 103.782 27.0846 104.277 26.8783 104.69C26.672 105.103 26.3419 105.474 26.0118 105.804C25.8467 105.763 25.6817 105.763 25.4754 105.721C25.6404 105.226 25.6817 104.69 25.6404 104.153C25.4753 104.69 25.2278 105.185 24.8977 105.639C23.3709 105.391 21.8442 105.144 20.3587 104.855C20.2349 100.852 21.7204 96.9737 24.2787 93.879C25.0214 93.8378 25.7642 94.3742 25.9705 95.1169C26.1355 95.7359 25.9292 96.4373 26.1768 97.0563C26.3831 97.6752 27.0021 98.1291 27.1671 98.7893C27.2909 99.367 27.0433 99.9859 26.837 100.522C26.5894 101.059 26.3831 101.678 26.5482 102.255C26.6307 102.668 26.9195 102.957 27.0433 103.328Z"
    fill="#444054"
  />
  <path
    d="M19.8707 101.43C19.8707 101.43 22.1401 102.998 22.9654 103.246C22.9654 103.246 23.213 104.649 23.997 105.969C24.781 107.289 26.1014 109.806 26.1839 111.003C26.2664 112.2 25.8951 118.719 25.8951 118.719L17.9313 118.967L15.7031 105.68C15.7031 105.68 16.4459 104.236 17.6837 103.617C18.509 103.204 18.9216 102.255 19.1279 101.636C19.2105 101.389 19.5406 101.265 19.7469 101.389L19.8707 101.43Z"
    fill="#DB8A74"
  />
  <path
    d="M22.4766 105.433L22.9305 103.287L23.6319 105.309"
    stroke="#444054"
    stroke-width="0.1857"
    stroke-miterlimit="10"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M18.758 102.42C18.758 102.42 21.3575 104.03 22.3066 105.226C23.0493 106.175 24.411 108.734 24.4935 110.508C24.5761 112.323 23.9571 119.916 23.9571 119.916L24.3285 128.168L14.3429 128.375C14.3429 128.375 13.7239 125.28 15.2506 122.061C16.7773 118.843 16.7361 117.275 16.6536 116.12C16.5298 114.964 14.6317 107.001 15.7871 105.309C16.9424 103.699 18.758 102.42 18.758 102.42Z"
    fill="#61E0EB"
  />
  <path
    d="M17.3984 103.617L20.9471 104.731L20.6169 106.051C20.6169 106.051 23.7942 107.496 24.4131 111.746"
    stroke="#13316D"
    stroke-width="0.1857"
    stroke-miterlimit="10"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M17.2376 104.772C17.2376 104.772 19.7547 104.69 20.7862 106.959C21.8178 109.229 23.1795 114.015 23.1795 114.015L31.8447 116.615L31.4734 120.37C31.4734 120.37 22.313 119.709 21.1163 118.265C19.961 116.821 16.2886 111.292 16.2886 111.292C16.2886 111.292 14.6793 105.556 17.2376 104.772Z"
    fill="#66C1C9"
  />
  <path
    d="M16.9062 104.978C17.4014 104.772 17.9378 104.855 18.433 105.02C18.9281 105.226 19.3408 105.556 19.7122 105.886C20.7437 106.877 21.4039 108.197 21.8165 109.559C22.2292 110.92 22.9719 112.571 23.1782 114.015L31.8434 116.615"
    stroke="#13316D"
    stroke-width="0.1857"
    stroke-miterlimit="10"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M16.4453 112.53C16.4453 112.53 20.4891 118.43 22.3047 119.049C24.1202 119.668 29.7732 120.328 31.4238 120.411"
    stroke="#13316D"
    stroke-width="0.1857"
    stroke-miterlimit="10"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M23.0926 113.974C22.5975 114.18 22.1023 114.428 21.6484 114.717"
    stroke="#13316D"
    stroke-width="0.1857"
    stroke-miterlimit="10"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M20.6094 117.77C21.9298 117.605 23.2915 118.265 23.9517 119.421"
    stroke="#13316D"
    stroke-width="0.1857"
    stroke-miterlimit="10"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M23.1199 113.974C22.7898 114.386 22.501 114.84 22.3359 115.336"
    stroke="#13316D"
    stroke-width="0.1857"
    stroke-miterlimit="10"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M18.8412 115.748C19.3364 119.998 16.8606 124.125 17.0669 128.416"
    stroke="#13316D"
    stroke-width="0.1857"
    stroke-miterlimit="10"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M31.0174 116.408C30.6873 117.687 30.481 118.967 30.3984 120.246"
    stroke="#13316D"
    stroke-width="0.1857"
    stroke-miterlimit="10"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M19.7578 125.404C20.418 123.959 21.0782 122.515 21.7384 121.071"
    stroke="#13316D"
    stroke-width="0.1857"
    stroke-miterlimit="10"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M20.0787 104.979C20.6151 105.432 24.0399 107.578 24.0399 107.207C23.9987 106.835 23.1321 105.35 22.9671 104.896C22.7608 104.401 22.7608 103.988 22.8845 103.452C22.9258 103.287 22.9671 103.122 23.0083 102.957C23.0496 102.833 23.2972 102.09 23.2147 102.008L20.1612 99.6556L19.3359 104.442C19.3359 104.401 19.4597 104.483 20.0787 104.979Z"
    fill="#FFA69E"
  />
  <path
    opacity="0.46"
    d="M20.6562 100.976C20.6975 101.058 20.7388 101.141 20.78 101.224C21.2339 102.049 21.8941 102.668 22.6369 103.245C22.7194 103.328 22.8019 103.369 22.9257 103.41C22.967 103.245 23.0082 103.08 23.0495 102.915C23.0908 102.792 23.3383 102.049 23.2558 101.966L20.78 100.728L20.6562 100.976Z"
    fill="url(#paint19_linear_2987_11371)"
  />
  <path
    d="M24.2504 94.4566C24.3742 94.5391 24.498 94.6629 24.6218 94.7867C25.0757 95.2819 25.1995 95.9833 25.282 96.6435C25.3232 96.9737 25.282 97.6339 25.5295 97.9227C25.7771 98.1703 26.4786 98.5829 26.3961 98.8717C26.3135 99.1606 25.8597 99.6557 25.8184 99.8208C25.7771 99.9858 25.5708 101.925 25.1582 102.173C24.3742 102.627 22.6824 102.049 22.6824 102.049C22.2285 101.925 21.8159 101.76 21.4033 101.554C20.6605 101.141 20.4129 100.522 20.1654 99.7383C19.8353 98.5416 19.6289 97.1387 20.1654 95.9833C20.6605 94.8692 21.8571 94.044 23.095 94.1265C23.5489 94.1265 23.9203 94.2503 24.2504 94.4566Z"
    fill="#FFA69E"
  />
  <path
    d="M24.3828 98.0463C24.3828 98.1701 24.5066 98.2526 24.6717 98.2526C24.7954 98.2526 24.878 98.1288 24.878 97.9637C24.878 97.8399 24.7542 97.7574 24.5891 97.7574C24.4653 97.7987 24.3828 97.9225 24.3828 98.0463Z"
    fill="#2F243A"
  />
  <path
    opacity="0.46"
    d="M25.1183 98.1701L24.8708 98.5415C24.8295 98.5415 25.1596 98.8303 25.1183 98.1701Z"
    fill="url(#paint20_linear_2987_11371)"
  />
  <path
    opacity="0.46"
    d="M21.6953 99.6556C21.7366 100.522 22.438 101.182 23.3046 101.182C24.1711 101.141 24.8313 100.44 24.8313 99.5731C24.79 98.7065 24.0886 98.0463 23.222 98.0463C22.3555 98.0876 21.6953 98.7891 21.6953 99.6556Z"
    fill="url(#paint21_linear_2987_11371)"
  />
  <path
    d="M25.7339 99.3256H25.4863C25.445 99.2843 25.4863 99.1605 25.5688 99.078C25.5688 99.078 25.5688 99.078 25.5688 99.0367C25.5688 99.0367 25.5688 99.0367 25.5275 99.0367C25.4863 99.078 25.445 99.1192 25.445 99.1605C25.4037 99.2018 25.4037 99.2843 25.445 99.3256C25.445 99.3256 25.445 99.3668 25.4863 99.3668H25.6926L25.6513 99.4493V99.4906H25.6926L25.7751 99.3668C25.7751 99.3668 25.7751 99.3668 25.7339 99.3256C25.7751 99.3256 25.7751 99.3256 25.7339 99.3256Z"
    fill="#2F243A"
  />
  <path
    d="M24.5234 99.697C24.8123 99.9858 25.1837 100.11 25.5963 100.11"
    stroke="#2F243A"
    stroke-width="0.1857"
    stroke-miterlimit="10"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M24.9062 100.44C25.0713 100.563 25.2776 100.605 25.4839 100.563"
    stroke="#2F243A"
    stroke-width="0.1114"
    stroke-miterlimit="10"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M23.6998 97.799C23.6585 97.4689 23.9061 97.18 24.2362 97.0562C24.4013 97.015 24.5663 97.015 24.7314 97.0975C24.8964 97.18 24.979 97.2626 25.0615 97.4276C24.7314 97.4276 24.5251 97.4276 24.36 97.5101C24.1537 97.5514 23.9887 97.6752 23.6998 97.799Z"
    fill="#444054"
  />
  <path
    d="M23.5445 103.988C23.9571 104.483 24.1634 105.144 24.1221 105.763C24.0809 106.382 23.792 107.001 23.3382 107.454C20.8624 107.001 18.5516 106.547 16.1584 106.093C15.9933 105.35 15.9934 104.607 16.1997 103.865C15.6633 104.442 15.3744 105.185 15.3744 105.969C14.9618 105.886 14.5904 105.845 14.1778 105.763C13.7239 104.772 13.9715 103.534 14.7967 102.792C15.003 102.585 15.2506 102.42 15.3744 102.173C15.622 101.678 15.2506 101.141 15.1268 100.605C14.9618 99.8621 15.2506 99.0368 15.8283 98.5416C16.1584 98.2941 16.571 98.0877 16.8599 97.7989C17.5201 97.0974 17.2725 95.9833 17.5613 95.0755C17.8502 94.209 18.5929 93.5076 19.5007 93.1775C20.3672 92.8474 21.3575 92.8061 22.3066 92.9299C23.2556 93.0537 24.4935 93.3838 24.6173 94.2503C24.9061 95.9008 24.1634 97.6338 22.7605 98.6242C23.3381 99.0781 23.4619 99.9446 23.1318 100.605C22.9668 100.894 22.7192 101.141 22.5129 101.43C22.3066 101.719 22.1415 102.049 22.2241 102.379C22.4304 103.081 23.0906 103.452 23.5445 103.988Z"
    fill="#444054"
  />
  <path
    d="M57.4589 157.259C57.4589 157.259 56.056 159.239 55.0244 160.065C53.9516 160.89 52.92 161.798 53.2501 162.582C53.5802 163.407 56.1798 163.118 57.5414 162.54C58.9031 161.963 59.6871 161.179 60.3061 161.014C60.925 160.849 61.3376 160.56 61.3376 160.271C61.3376 159.982 60.925 157.176 60.925 157.176L57.4589 157.259Z"
    fill="#2F243A"
  />
  <path
    d="M46.0699 157.919C45.0795 158.29 44.0067 158.538 43.0989 159.116C42.8101 159.281 42.5625 159.569 42.5625 159.858C42.5625 160.106 42.7276 160.271 42.9339 160.395C43.1402 160.519 43.3878 160.519 43.5941 160.56C45.0795 160.725 46.565 160.642 48.0505 160.56C49.3296 160.477 50.65 160.436 51.9292 160.353C52.053 160.353 52.1768 160.353 52.3006 160.271C52.4244 160.147 52.4656 159.941 52.4656 159.776C52.4656 159.116 52.4656 158.373 52.4656 157.671C52.4656 157.259 52.4656 156.268 52.218 155.938C51.9705 155.567 51.4753 156.062 51.0627 155.938C50.6501 155.815 50.1962 155.732 49.7423 155.691C49.4122 155.691 48.8757 155.691 48.5869 155.938C48.3806 156.145 48.2568 156.475 48.0092 156.681C47.5141 157.3 46.8126 157.671 46.0699 157.919Z"
    fill="#2F243A"
  />
  <path
    d="M47.0246 126.477C47.0246 126.477 46.9833 138.69 47.396 141.826C47.7673 144.962 47.7673 156.599 47.7673 156.599L52.6776 157.094L53.5854 140.96L55.566 157.424C55.566 157.424 59.321 159.116 61.5904 157.919C61.5904 157.919 60.6001 140.96 60.1462 138.195C59.6923 135.431 59.9399 126.724 59.9399 126.724L47.0246 126.477Z"
    fill="#444054"
  />
  <path
    d="M48.9609 130.727L51.1066 132.79C51.1066 132.79 53.3761 139.144 53.6649 141.125C53.9538 143.106 55.6043 157.424 55.6043 157.424"
    stroke="#2F243A"
    stroke-width="0.1857"
    stroke-miterlimit="10"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M58.3281 129.159C58.5344 138.855 59.2772 148.552 60.5976 158.208"
    stroke="#2F243A"
    stroke-width="0.1857"
    stroke-miterlimit="10"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M52.9569 138.402C52.6268 144.591 52.3379 150.78 52.0078 156.97"
    stroke="#2F243A"
    stroke-width="0.1857"
    stroke-miterlimit="10"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M52.5943 104.484C52.5943 104.484 50.6962 105.598 50.1185 106.423C49.5408 107.289 48.3442 112.736 47.8903 116.409C47.4364 120.081 44.4655 128.127 45.0845 128.994C45.7034 129.86 48.9219 127.261 48.9219 127.261L52.5943 104.484Z"
    fill="#D0E3E4"
  />
  <path
    d="M53.2906 103.369L52.4241 104.277L52.3828 105.68L53.5794 104.649L53.3319 103.287"
    fill="#AED9E0"
  />
  <path
    opacity="0.29"
    d="M53.2906 103.369L52.4241 104.277L52.3828 105.68L53.5794 104.649L53.3319 103.287"
    fill="#AED9E0"
  />
  <path
    d="M56.9534 102.214C54.8903 104.607 53.2398 104.566 53.2398 104.566L53.1985 104.03L53.0335 102.709L52.9922 102.379L56.4583 99.4082L56.9534 102.214Z"
    fill="#DB8A74"
  />
  <path
    opacity="0.46"
    d="M55.342 100.894C55.1769 101.471 55.0531 102.049 54.8056 102.585C54.558 103.122 54.1453 103.617 53.6502 103.947C53.5264 104.03 53.3613 104.112 53.1963 104.071L53.0312 102.75C53.8978 102.255 54.6818 101.636 55.342 100.894Z"
    fill="url(#paint22_linear_2987_11371)"
  />
  <path
    d="M49.8657 95.158C49.907 95.4469 49.9895 95.6944 50.0308 95.9833C50.072 96.3547 50.0308 96.7673 50.2371 97.0974C50.4846 97.51 51.0623 97.5925 51.475 97.345C51.8876 97.0974 52.1352 96.6435 52.2177 96.1483C52.3827 95.4056 52.2177 94.5803 51.8051 93.9614C51.3924 93.3012 50.691 93.3425 50.2371 93.9201C49.9895 94.2915 49.8244 94.7454 49.8657 95.158Z"
    fill="#444054"
  />
  <path
    d="M51.9325 94.0026C51.7675 94.0851 51.6437 94.2089 51.5199 94.374C51.0247 94.9104 50.9009 95.6944 50.8184 96.4371C50.7771 96.8085 50.8184 97.5512 50.5296 97.84C50.2407 98.1289 49.3742 98.7891 49.4155 99.1192C49.4155 99.6969 50.1995 99.7381 50.2407 99.9445C50.282 100.151 50.5296 102.503 50.9835 102.792C51.85 103.328 53.7068 102.627 53.7068 102.627C54.202 102.42 54.6971 102.173 55.1098 101.843C55.8112 101.265 56.2239 100.728 56.4714 99.8619C56.8428 98.5415 57.0491 96.9735 56.4714 95.6944C55.935 94.4565 54.5733 93.5487 53.2117 93.6312C52.7578 93.6312 52.3039 93.755 51.9325 94.0026Z"
    fill="#DB8A74"
  />
  <path
    d="M51.7557 98.0056C51.7144 98.1706 51.5906 98.2531 51.4668 98.2119C51.3018 98.1706 51.2193 98.0468 51.2605 97.923C51.3018 97.758 51.4255 97.6755 51.5493 97.7167C51.6731 97.7167 51.7969 97.8405 51.7557 98.0056Z"
    fill="#2F243A"
  />
  <path
    opacity="0.46"
    d="M50.9807 98.1292L51.2696 98.5418C51.2696 98.5418 50.8982 98.8307 50.9807 98.1292Z"
    fill="url(#paint23_linear_2987_11371)"
  />
  <path
    opacity="0.46"
    d="M54.739 99.7385C54.6977 100.688 53.9137 101.43 52.9647 101.389C52.0156 101.348 51.2729 100.564 51.3141 99.6147C51.3554 98.6657 52.1394 97.9229 53.0884 97.9642C54.0375 98.0055 54.7802 98.7895 54.739 99.7385Z"
    fill="url(#paint24_linear_2987_11371)"
  />
  <path
    d="M50.2913 99.3669C50.3738 99.3669 50.5801 99.4082 50.5801 99.3669C50.6214 99.3256 50.5388 99.1606 50.4976 99.1193C50.4976 99.1193 50.4976 99.1193 50.4976 99.0781C50.4976 99.0781 50.4976 99.0781 50.5388 99.0781C50.5801 99.1193 50.6214 99.1606 50.6626 99.2018C50.7039 99.2431 50.7039 99.3669 50.6626 99.4082C50.6214 99.4082 50.6214 99.4082 50.5801 99.4082C50.5388 99.4082 50.5388 99.4082 50.4976 99.4082C50.4563 99.4082 50.415 99.4082 50.3738 99.4082L50.415 99.4907V99.532H50.3738L50.25 99.3669C50.25 99.4494 50.25 99.4082 50.2913 99.3669C50.25 99.4082 50.2913 99.3669 50.2913 99.3669Z"
    fill="#2F243A"
  />
  <path
    d="M51.9308 99.8618C51.3944 100.316 50.8992 100.357 50.4453 100.274"
    stroke="#2F243A"
    stroke-width="0.2052"
    stroke-miterlimit="10"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M51.1893 100.728C50.9829 100.811 50.7766 100.852 50.5703 100.77"
    stroke="#2F243A"
    stroke-width="0.1231"
    stroke-miterlimit="10"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M51.1463 97.0972C51.1875 97.1385 51.3114 97.1797 51.3939 97.1797C51.6415 97.221 51.889 97.2623 52.0954 97.3448C52.2191 97.3861 52.3017 97.3861 52.4255 97.3448C52.5492 97.3035 52.6318 97.221 52.6318 97.0972C52.6318 96.9734 52.5905 96.8909 52.508 96.8084C52.3017 96.6021 51.889 96.4783 51.6002 96.5195C51.3939 96.5608 50.94 96.8909 51.1463 97.0972Z"
    fill="#444054"
  />
  <path
    d="M50.9689 94.9518C51.134 95.4882 51.5053 95.9008 52.0005 96.1484C52.2893 96.3134 52.6607 96.3547 52.867 96.6023C53.032 96.8086 53.1146 97.0974 53.3209 97.2625C53.7335 97.5513 54.3937 97.2212 54.7651 97.5513C55.0127 97.7989 54.9714 98.2941 55.3015 98.5004C55.6316 98.6654 56.0442 98.3766 56.3331 98.6242C56.4981 98.748 56.5394 98.9543 56.4981 99.1606C56.4569 99.3669 56.3331 99.532 56.2918 99.697C56.1268 100.068 56.0855 100.564 56.2918 100.935C56.4569 101.182 56.7457 101.348 57.0346 101.389C57.3234 101.43 57.6535 101.306 57.8185 101.059C58.1074 100.729 58.1486 100.192 58.4375 99.8208C58.6438 99.5732 58.9326 99.4494 59.1802 99.2431C59.6341 98.8305 59.7992 98.129 59.5516 97.5926C59.4278 97.3038 59.1802 97.0149 59.0977 96.7261C58.9327 96.1484 59.2628 95.5295 59.2215 94.9518C59.1802 94.4979 58.9327 94.0853 58.6026 93.7964C58.2724 93.4663 57.9011 93.26 57.5297 93.0124C56.8282 92.5585 56.0443 92.1046 55.1777 92.1871C54.5175 92.2284 53.9398 92.5998 53.2796 92.641C52.867 92.6823 52.4956 92.5998 52.083 92.641C51.134 92.7648 50.7213 94.0852 50.9689 94.9518Z"
    fill="#444054"
  />
  <path
    d="M56.3222 97.4277C56.6936 97.4689 57.0236 97.7165 57.1887 98.0466C57.4775 98.6243 57.2712 99.3258 56.7761 99.7796C56.5698 99.9447 56.3222 100.11 56.0746 100.192C55.7858 100.275 55.4969 100.234 55.2493 100.11C54.1765 99.4495 55.0843 97.3451 56.3222 97.4277Z"
    fill="#DB8A74"
  />
  <path
    d="M56.0703 98.1293C56.4417 98.4181 56.6067 98.9133 56.5655 99.3672"
    stroke="#2F243A"
    stroke-width="0.2052"
    stroke-miterlimit="10"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M56.4036 98.5419C56.156 98.6245 55.9497 98.872 55.8672 99.1196"
    stroke="#2F243A"
    stroke-width="0.2052"
    stroke-miterlimit="10"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M54.597 98.5416C54.6382 98.6654 54.7207 98.7892 54.8445 98.7892C54.9683 98.7892 55.0509 98.6654 55.0921 98.5829C55.2984 98.2528 55.4635 97.9227 55.6698 97.5926C55.7523 97.4275 55.8349 97.3037 55.8349 97.0974C55.8349 96.8499 55.6285 96.6848 55.4222 96.6023C55.0096 96.4785 54.4319 96.6848 54.3081 97.1387C54.2669 97.3037 54.3494 97.5101 54.3907 97.6751C54.3907 98.0052 54.4732 98.2941 54.597 98.5416Z"
    fill="#444054"
  />
  <path
    d="M40.1319 115.666L38.9766 115.955L39.3479 119.132L40.6271 118.925L40.1319 115.666Z"
    fill="#AED9E0"
  />
  <path
    d="M50.1116 106.464L43.7159 114.428L39.9609 115.212L40.291 119.214C40.291 119.214 45.2013 118.678 45.9853 118.224C46.7693 117.811 48.6674 115.831 48.6674 115.831L50.2767 106.382"
    fill="#E2F0F1"
  />
  <path
    d="M43.7266 114.428C44.3455 114.717 44.9232 115.212 45.3358 115.789"
    stroke="#5E6472"
    stroke-width="0.1857"
    stroke-miterlimit="10"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M43.7266 114.386C44.3868 114.51 44.9645 114.758 45.5009 115.17"
    stroke="#5E6472"
    stroke-width="0.1857"
    stroke-miterlimit="10"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M41.375 114.923C41.6226 116.243 41.7464 117.605 41.7876 118.967"
    stroke="#5E6472"
    stroke-width="0.1857"
    stroke-miterlimit="10"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M59.1621 130.19C59.1621 130.19 58.5431 132.295 58.5431 132.749C58.5431 133.203 58.048 135.885 58.4194 135.926C58.7907 135.967 59.5335 133.574 59.5335 133.574C59.5335 133.574 59.5335 134.771 59.5335 135.183C59.5335 135.596 59.1621 137.205 59.3272 137.37C59.4509 137.535 61.5553 137.205 61.8854 136.462C62.2155 135.72 62.3806 133.698 62.3393 132.955C62.3393 132.212 61.968 129.902 61.968 129.902L59.1621 130.19Z"
    fill="#DB8A74"
  />
  <path
    d="M60.0703 137.411C60.4417 136.215 60.6067 134.936 60.5655 133.656"
    stroke="#E2F0F1"
    stroke-width="0.2052"
    stroke-miterlimit="10"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M60.8984 137.205C61.2698 136.091 61.4349 134.894 61.3936 133.698"
    stroke="#E2F0F1"
    stroke-width="0.2052"
    stroke-miterlimit="10"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M61.5938 136.834C61.8826 135.761 62.0889 134.688 62.0889 133.574"
    stroke="#E2F0F1"
    stroke-width="0.2052"
    stroke-miterlimit="10"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M58.7891 128.911V130.273L62.1314 129.943L62.0901 128.54L58.7891 128.911Z"
    fill="#AED9E0"
  />
  <path
    d="M56.8765 101.677L53.2041 103.988C53.2041 103.988 52.5439 105.102 51.8837 106.34C51.141 107.784 50.1094 111.25 50.1094 111.25L54.4833 105.597L57.1241 102.503L56.8765 101.677Z"
    fill="#AED9E0"
  />
  <path
    d="M53.1562 104.071L53.7339 105.804L57.0762 102.42"
    stroke="#5E6472"
    stroke-width="0.1857"
    stroke-miterlimit="10"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M50.1094 111.209C50.1094 111.209 51.3885 108.032 52.0487 106.629C52.7502 105.185 53.1216 104.071 53.1216 104.071"
    stroke="#5E6472"
    stroke-width="0.1857"
    stroke-miterlimit="10"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M57.219 102.42C57.219 102.42 61.3866 105.144 62.2118 106.753C63.0371 108.362 62.707 130.397 62.707 130.397L57.7142 131.016L57.7967 129.901C57.7967 129.901 50.5344 131.593 49.379 128.994C48.2649 126.394 48.3062 120.906 48.9664 116.615C49.5854 112.365 50.2868 110.838 50.2868 110.838L54.2481 105.804L57.219 102.42Z"
    fill="#E2F0F1"
  />
  <path
    d="M48.814 109.641C48.814 109.641 48.1538 115.294 47.9062 116.697"
    stroke="#5E6472"
    stroke-width="0.1857"
    stroke-miterlimit="10"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M60.2351 105.391C60.2351 105.391 57.3467 106.877 56.8516 109.146"
    stroke="#5E6472"
    stroke-width="0.1857"
    stroke-miterlimit="10"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M56.7266 111.787L58.2946 121.154L57.7581 130.974"
    stroke="#5E6472"
    stroke-width="0.1857"
    stroke-miterlimit="10"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M58.2996 121.071C58.2996 121.071 58.2583 121.03 58.2996 121.071C58.8773 120.576 59.7025 120.328 60.4865 120.411"
    stroke="#5E6472"
    stroke-width="0.1857"
    stroke-miterlimit="10"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M58.3047 121.112C58.8824 120.906 59.5013 120.865 60.1202 120.906"
    stroke="#5E6472"
    stroke-width="0.1857"
    stroke-miterlimit="10"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M57.8828 128.829C59.4921 128.457 61.1013 128.251 62.7518 128.21"
    stroke="#5E6472"
    stroke-width="0.1857"
    stroke-miterlimit="10"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M50.2884 110.797C49.2569 114.428 48.6379 118.059 48.5141 121.855C48.4316 123.671 48.5967 125.528 48.7617 127.343"
    stroke="#5E6472"
    stroke-width="0.1857"
    stroke-miterlimit="10"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M50.3281 110.797C51.6073 109.848 53.0515 109.022 54.4957 108.403C54.2069 108.197 53.9593 108.032 53.7117 107.826C54.7433 107.372 55.8161 107 56.8889 106.67C57.219 105.432 57.5904 104.236 58.0443 103.039"
    stroke="#5E6472"
    stroke-width="0.1857"
    stroke-miterlimit="10"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M50.5364 106.01C50.7015 106.258 50.8253 106.547 50.9903 106.794C50.6602 106.918 50.3301 107.124 50 107.289C50.2888 108.445 50.3714 109.6 50.3301 110.755"
    stroke="#5E6472"
    stroke-width="0.1857"
    stroke-miterlimit="10"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M52.1094 120.947C52.9759 122.061 53.9249 123.134 54.9978 124.083"
    stroke="#5E6472"
    stroke-width="0.1857"
    stroke-miterlimit="10"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M50.6193 115.129C50.4955 115.253 50.2479 115.253 50.1241 115.129C50.0003 115.006 50.0003 114.758 50.1241 114.634C50.2479 114.51 50.4955 114.51 50.6193 114.634C50.743 114.758 50.743 115.006 50.6193 115.129Z"
    fill="#5E6472"
  />
  <path
    d="M50.1739 118.018C50.0502 118.141 49.8026 118.141 49.6788 118.018C49.555 117.894 49.555 117.646 49.6788 117.523C49.8026 117.399 50.0502 117.399 50.1739 117.523C50.339 117.646 50.339 117.853 50.1739 118.018Z"
    fill="#5E6472"
  />
  <path
    d="M49.9161 121.319C49.7923 121.443 49.5448 121.443 49.421 121.319C49.2972 121.195 49.2972 120.947 49.421 120.824C49.5448 120.7 49.7923 120.7 49.9161 120.824C50.0399 120.947 50.0399 121.195 49.9161 121.319Z"
    fill="#5E6472"
  />
  <path
    d="M203.816 165.177H199.277C196.525 164.077 192.673 163.527 188.408 163.527C184.143 163.527 180.291 164.214 177.54 165.177H173V169.165V169.302C173 172.465 179.879 175.215 188.271 175.215C196.663 175.215 203.541 172.602 203.541 169.302V169.165V165.177H203.816Z"
    fill="#C4C4C4"
  />
  <path
    d="M188.536 171.09C196.97 171.09 203.807 168.442 203.807 165.177C203.807 161.911 196.97 159.264 188.536 159.264C180.103 159.264 173.266 161.911 173.266 165.177C173.266 168.442 180.103 171.09 188.536 171.09Z"
    fill="#DF5356"
  />
  <path
    d="M188.54 169.302C194.543 169.302 199.409 167.455 199.409 165.177C199.409 162.899 194.543 161.052 188.54 161.052C182.538 161.052 177.672 162.899 177.672 165.177C177.672 167.455 182.538 169.302 188.54 169.302Z"
    fill="#E2F0F1"
  />
  <path
    d="M194.868 164.352C194.73 164.214 194.455 164.077 194.18 163.939C194.043 163.802 193.905 163.802 193.767 163.802L195.006 163.389L193.63 162.839L192.254 163.389C191.841 163.252 191.429 163.252 191.154 163.114C189.915 162.977 188.815 162.977 187.852 163.252C187.714 163.252 187.577 163.389 187.302 163.389C187.164 163.389 187.026 163.527 186.889 163.527C186.889 163.527 186.751 163.527 186.751 163.664C186.201 164.077 186.201 164.489 186.751 164.902C186.889 165.039 187.026 165.177 187.164 165.177L187.302 165.314C187.989 165.864 188.127 166.139 187.714 166.277H187.577C187.026 166.552 186.063 166.414 185.375 166.139C184.412 165.727 183.862 165.314 183.587 165.039L181.523 165.452C181.799 165.727 182.486 166.277 183.312 166.552L181.936 167.102L183.312 167.652L184.825 167.102C186.201 167.515 187.714 167.515 188.952 167.377C189.365 167.24 189.778 167.24 190.053 167.102C191.291 166.552 191.429 166.002 190.328 165.177C190.191 165.039 190.053 164.902 189.915 164.902C189.503 164.489 189.365 164.214 189.778 164.077C190.191 163.939 190.878 163.939 191.841 164.214C192.254 164.352 192.529 164.489 192.804 164.627C193.217 164.902 193.355 165.039 193.492 165.177L195.556 164.764C195.281 164.627 195.143 164.489 194.868 164.352Z"
    fill="#13316D"
  />
  <path
    d="M203.816 156.226H199.277C196.525 155.126 192.673 154.576 188.408 154.576C184.143 154.576 180.291 155.264 177.54 156.226H173V160.214V160.351C173 163.514 179.879 166.264 188.271 166.264C196.663 166.264 203.541 163.651 203.541 160.351V160.214V156.226H203.816Z"
    fill="#C4C4C4"
  />
  <path
    d="M188.536 162.139C196.97 162.139 203.807 159.492 203.807 156.226C203.807 152.96 196.97 150.313 188.536 150.313C180.103 150.313 173.266 152.96 173.266 156.226C173.266 159.492 180.103 162.139 188.536 162.139Z"
    fill="#DF5356"
  />
  <path
    d="M188.54 160.351C194.543 160.351 199.409 158.504 199.409 156.226C199.409 153.948 194.543 152.101 188.54 152.101C182.538 152.101 177.672 153.948 177.672 156.226C177.672 158.504 182.538 160.351 188.54 160.351Z"
    fill="#E2F0F1"
  />
  <path
    d="M194.868 155.263C194.73 155.126 194.455 154.988 194.18 154.851C194.043 154.713 193.905 154.713 193.767 154.713L195.006 154.301L193.63 153.751L192.254 154.301C191.841 154.163 191.429 154.163 191.154 154.026C190.878 154.026 190.603 153.888 190.328 153.888C189.365 153.751 188.54 153.888 187.852 154.026C187.714 154.026 187.577 154.163 187.302 154.163C187.026 154.301 186.889 154.301 186.751 154.438C186.201 154.851 186.201 155.263 186.751 155.676C186.889 155.813 187.026 155.951 187.302 156.088C187.439 156.226 187.577 156.226 187.714 156.363C188.127 156.776 188.127 156.914 187.577 157.189C187.026 157.464 186.063 157.326 185.375 157.051C185.1 156.914 184.825 156.776 184.55 156.639C184.137 156.363 183.725 156.088 183.587 155.813L181.523 156.226C181.661 156.363 181.936 156.638 182.211 156.776C182.486 156.914 182.899 157.189 183.312 157.326L181.936 157.876L183.312 158.426L184.825 157.876C185.238 158.014 185.651 158.151 186.201 158.151C186.614 158.289 187.164 158.289 187.577 158.289C188.265 158.289 188.815 158.151 189.365 158.151C189.64 158.151 189.915 158.014 190.191 157.876C191.154 157.464 191.429 157.051 191.016 156.363C190.878 156.226 190.741 156.088 190.466 155.951C190.328 155.813 190.191 155.676 190.053 155.676C189.64 155.263 189.503 154.988 189.915 154.851C190.328 154.713 191.016 154.713 191.979 154.988C192.392 155.126 192.667 155.263 192.942 155.401C193.355 155.676 193.492 155.813 193.63 155.951L195.694 155.538C195.281 155.676 195.143 155.401 194.868 155.263Z"
    fill="#13316D"
  />
  <path
    d="M203.816 147.275H199.277C196.525 146.175 192.673 145.625 188.408 145.625C184.143 145.625 180.291 146.313 177.54 147.275H173V151.263V151.4C173 154.563 179.879 157.313 188.271 157.313C196.663 157.313 203.541 154.701 203.541 151.4V151.263V147.275H203.816Z"
    fill="#C4C4C4"
  />
  <path
    d="M188.536 153.188C196.97 153.188 203.807 150.541 203.807 147.275C203.807 144.01 196.97 141.362 188.536 141.362C180.103 141.362 173.266 144.01 173.266 147.275C173.266 150.541 180.103 153.188 188.536 153.188Z"
    fill="#DF5356"
  />
  <path
    d="M188.54 151.401C194.543 151.401 199.409 149.554 199.409 147.275C199.409 144.997 194.543 143.15 188.54 143.15C182.538 143.15 177.672 144.997 177.672 147.275C177.672 149.554 182.538 151.401 188.54 151.401Z"
    fill="#E2F0F1"
  />
  <path
    d="M194.868 146.313C194.73 146.175 194.455 146.038 194.18 145.9C194.043 145.763 193.905 145.763 193.767 145.763L194.868 145.35L195.143 145.213L193.767 144.663L193.355 144.8L192.804 144.938L192.392 145.075C191.979 144.938 191.566 144.938 191.291 144.8C190.053 144.663 188.952 144.663 187.989 144.938C187.852 144.938 187.714 145.075 187.439 145.075C187.164 145.213 187.026 145.213 186.889 145.35C186.476 145.625 186.339 145.9 186.476 146.175C186.614 146.313 186.614 146.45 186.751 146.588C186.889 146.725 187.026 146.863 187.302 147C187.439 147.138 187.577 147.275 187.714 147.275C188.127 147.688 187.989 147.825 187.577 147.963C187.026 148.238 186.063 148.1 185.375 147.825C185.1 147.688 184.825 147.55 184.55 147.413C184.137 147.138 183.725 146.863 183.587 146.588L181.523 147C181.661 147.138 181.936 147.413 182.211 147.55C182.486 147.688 182.899 147.963 183.312 148.1L181.936 148.65L183.312 149.2L184.825 148.65C185.238 148.788 185.651 148.925 186.201 148.925C187.302 149.063 188.402 149.063 189.365 148.788C189.64 148.788 189.915 148.65 190.191 148.513C190.741 148.238 191.016 148.1 191.154 147.825C191.291 147.55 191.154 147.413 191.016 147C190.878 146.863 190.741 146.725 190.466 146.45C190.328 146.313 190.191 146.175 190.053 146.175C189.64 145.763 189.503 145.488 189.915 145.35C190.328 145.213 191.016 145.213 191.979 145.488C192.392 145.625 192.667 145.763 192.804 145.9C193.217 146.175 193.355 146.313 193.492 146.45L195.556 146.038C195.281 146.588 195.143 146.45 194.868 146.313Z"
    fill="#13316D"
  />
  <path
    d="M203.816 138.324H199.277C196.525 137.224 192.673 136.674 188.408 136.674C184.143 136.674 180.291 137.362 177.54 138.324H173V142.312V142.45C173 145.612 179.879 148.362 188.271 148.362C196.663 148.362 203.541 145.75 203.541 142.45V142.312V138.324H203.816Z"
    fill="#C4C4C4"
  />
  <path
    d="M188.536 144.237C196.97 144.237 203.807 141.59 203.807 138.324C203.807 135.059 196.97 132.412 188.536 132.412C180.103 132.412 173.266 135.059 173.266 138.324C173.266 141.59 180.103 144.237 188.536 144.237Z"
    fill="#DF5356"
  />
  <path
    d="M188.54 142.45C194.543 142.45 199.409 140.603 199.409 138.324C199.409 136.046 194.543 134.199 188.54 134.199C182.538 134.199 177.672 136.046 177.672 138.324C177.672 140.603 182.538 142.45 188.54 142.45Z"
    fill="#E2F0F1"
  />
  <path
    d="M194.18 137.087C194.043 136.949 193.905 136.949 193.767 136.949L195.006 136.537L193.63 135.987L192.254 136.537C191.566 136.399 190.741 136.262 190.053 136.262C188.952 136.262 188.127 136.399 187.302 136.674C187.164 136.674 187.026 136.812 187.026 136.812C187.026 136.812 186.889 136.812 186.889 136.949C186.063 137.362 186.476 138.049 187.302 138.737C187.439 138.874 187.577 139.012 187.714 139.012C188.127 139.424 187.989 139.562 187.577 139.7C187.439 139.7 187.302 139.837 187.302 139.837C186.751 139.975 186.063 139.837 185.375 139.562C185.1 139.424 184.825 139.287 184.55 139.149C184.137 138.874 183.725 138.599 183.587 138.324L181.523 138.737C181.661 138.874 181.936 139.149 182.211 139.287C182.486 139.424 182.899 139.699 183.312 139.837L181.936 140.387L183.312 140.937L184.825 140.387C185.238 140.525 185.651 140.662 186.201 140.662C187.302 140.8 188.265 140.8 189.09 140.662C189.228 140.662 189.228 140.662 189.228 140.662C189.503 140.662 189.778 140.525 190.053 140.387C190.741 140.112 191.016 139.837 191.154 139.562C191.154 139.424 191.154 139.149 190.878 139.012C190.741 138.874 190.603 138.737 190.328 138.462C189.64 137.912 189.365 137.499 189.778 137.362C190.053 137.224 190.466 137.224 191.016 137.362C191.291 137.362 191.566 137.499 191.841 137.637C192.942 138.049 193.217 138.462 193.355 138.599L195.281 138.187H195.418C195.143 137.499 194.868 137.362 194.18 137.087Z"
    fill="#13316D"
  />
  <path
    d="M211.245 141.212L206.98 139.974C204.641 138.187 201.064 136.537 197.075 135.299C192.948 134.199 189.095 133.787 186.206 133.924L181.942 132.687L180.841 136.537C180.841 136.537 180.841 136.674 180.703 136.674C179.878 139.837 185.656 144.237 193.773 146.437C201.89 148.775 209.181 148.087 210.144 145.062V144.925L211.245 141.212Z"
    fill="#C4C4C4"
  />
  <path
    d="M211.245 141.212C210.695 143.137 207.806 144.1 203.816 144.1C203.679 144.1 203.541 144.1 203.266 144.1C202.028 144.1 200.515 143.962 199.001 143.687C198.314 143.55 197.626 143.412 196.938 143.275H196.8C196.112 143.137 195.562 143 194.874 142.725C194.324 142.587 193.774 142.45 193.361 142.312C193.223 142.312 193.223 142.175 193.086 142.175C192.948 142.175 192.948 142.037 192.811 142.037C191.435 141.625 190.197 141.075 189.096 140.524H188.959C188.408 140.249 187.858 139.974 187.308 139.699C186.895 139.424 186.482 139.149 186.069 138.874C185.106 138.324 184.419 137.637 183.731 137.087C183.043 136.399 182.493 135.849 182.217 135.162C181.942 134.474 181.805 133.924 181.805 133.374C181.805 133.374 181.805 133.374 181.805 133.237C181.805 133.099 181.805 133.099 181.805 132.962C182.08 132.274 182.63 131.724 183.456 131.174C186.207 129.661 191.985 129.661 198.176 131.449C202.166 132.549 205.605 134.199 207.944 135.987C210.282 137.637 211.658 139.562 211.245 141.212Z"
    fill="#DF5356"
  />
  <path
    d="M206.871 139.92C207.495 137.729 203.322 134.62 197.55 132.976C191.777 131.333 186.591 131.776 185.967 133.967C185.342 136.158 189.516 139.267 195.288 140.911C201.061 142.555 206.246 142.111 206.871 139.92Z"
    fill="#E2F0F1"
  />
  <path
    d="M202.582 137.499C202.444 137.362 202.444 137.362 202.307 137.224C202.169 137.087 202.032 137.087 201.894 136.949L203.27 136.812L202.032 135.849L200.518 135.987C198.868 135.024 197.079 134.612 195.703 134.612C195.428 134.612 195.291 134.612 195.153 134.749C195.016 134.749 195.016 134.749 194.878 134.887C194.465 135.162 194.465 135.574 194.878 136.124C195.016 136.262 195.016 136.399 195.153 136.537C195.291 136.812 195.428 136.949 195.428 137.087C195.566 137.362 195.428 137.637 195.153 137.637C194.603 137.637 193.777 137.362 193.089 136.812C192.952 136.812 192.952 136.674 192.814 136.674C192.539 136.537 192.402 136.262 192.264 136.124C191.989 135.849 191.851 135.437 191.714 135.299L189.513 135.162C189.513 135.299 189.65 135.437 189.65 135.437C189.788 135.574 189.788 135.712 189.925 135.712C190.063 135.849 190.063 135.987 190.2 135.987C190.338 136.124 190.476 136.262 190.476 136.262C190.613 136.399 190.751 136.399 190.751 136.537H190.613L189.375 136.674L189.513 136.812L190.613 137.637H191.301L192.126 137.499C193.915 138.462 195.841 139.012 197.079 138.874C198.18 138.737 198.592 138.462 198.18 137.637C198.042 137.499 198.042 137.224 197.767 137.087C197.217 136.399 197.079 135.987 197.492 135.849H197.629C198.042 135.849 198.73 135.987 199.555 136.537C200.381 137.087 200.656 137.637 200.794 137.912L202.857 138.049V137.912C203.132 138.049 202.857 137.912 202.582 137.499Z"
    fill="#13316D"
  />
  <defs>
    <linearGradient
      id="paint0_linear_2987_11371"
      x1="100.027"
      y1="52.4213"
      x2="99.5575"
      y2="31.764"
      gradientUnits="userSpaceOnUse"
    >
      <stop offset="0.00372349" stop-color="#E1EDF7" stop-opacity="0" />
      <stop offset="1" stop-color="#444758" />
    </linearGradient>
    <linearGradient
      id="paint1_linear_2987_11371"
      x1="71.3477"
      y1="44.8095"
      x2="71.3975"
      y2="74.5335"
      gradientUnits="userSpaceOnUse"
    >
      <stop offset="0.00744879" stop-color="#F4F1EC" />
      <stop offset="1" stop-color="#F4F1EC" stop-opacity="0" />
    </linearGradient>
    <linearGradient
      id="paint2_linear_2987_11371"
      x1="65.1624"
      y1="45.3221"
      x2="65.2003"
      y2="67.9293"
      gradientUnits="userSpaceOnUse"
    >
      <stop offset="0.00744879" stop-color="#F4F1EC" />
      <stop offset="1" stop-color="#F4F1EC" stop-opacity="0" />
    </linearGradient>
    <linearGradient
      id="paint3_linear_2987_11371"
      x1="56.3831"
      y1="44.7386"
      x2="56.4331"
      y2="74.5977"
      gradientUnits="userSpaceOnUse"
    >
      <stop offset="0.00744879" stop-color="#F4F1EC" />
      <stop offset="1" stop-color="#F4F1EC" stop-opacity="0" />
    </linearGradient>
    <linearGradient
      id="paint4_linear_2987_11371"
      x1="53.4198"
      y1="45.6989"
      x2="53.4497"
      y2="63.5316"
      gradientUnits="userSpaceOnUse"
    >
      <stop offset="0.00744879" stop-color="#F4F1EC" />
      <stop offset="1" stop-color="#F4F1EC" stop-opacity="0" />
    </linearGradient>
    <linearGradient
      id="paint5_linear_2987_11371"
      x1="141.062"
      y1="44.8098"
      x2="141.112"
      y2="74.5338"
      gradientUnits="userSpaceOnUse"
    >
      <stop offset="0.00744879" stop-color="#F4F1EC" />
      <stop offset="1" stop-color="#F4F1EC" stop-opacity="0" />
    </linearGradient>
    <linearGradient
      id="paint6_linear_2987_11371"
      x1="134.889"
      y1="45.3223"
      x2="134.927"
      y2="67.9295"
      gradientUnits="userSpaceOnUse"
    >
      <stop offset="0.00744879" stop-color="#F4F1EC" />
      <stop offset="1" stop-color="#F4F1EC" stop-opacity="0" />
    </linearGradient>
    <linearGradient
      id="paint7_linear_2987_11371"
      x1="126.087"
      y1="44.7389"
      x2="126.137"
      y2="74.5979"
      gradientUnits="userSpaceOnUse"
    >
      <stop offset="0.00744879" stop-color="#F4F1EC" />
      <stop offset="1" stop-color="#F4F1EC" stop-opacity="0" />
    </linearGradient>
    <linearGradient
      id="paint8_linear_2987_11371"
      x1="123.134"
      y1="45.6991"
      x2="123.164"
      y2="63.5318"
      gradientUnits="userSpaceOnUse"
    >
      <stop offset="0.00744879" stop-color="#F4F1EC" />
      <stop offset="1" stop-color="#F4F1EC" stop-opacity="0" />
    </linearGradient>
    <linearGradient
      id="paint9_linear_2987_11371"
      x1="15.2417"
      y1="142.334"
      x2="15.946"
      y2="152.898"
      gradientUnits="userSpaceOnUse"
    >
      <stop offset="0.00372349" stop-color="#E1EDF7" stop-opacity="0" />
      <stop offset="1" stop-color="#444758" />
    </linearGradient>
    <linearGradient
      id="paint10_linear_2987_11371"
      x1="15.6442"
      y1="102.549"
      x2="15.7616"
      y2="90.4596"
      gradientUnits="userSpaceOnUse"
    >
      <stop offset="0.00372349" stop-color="#E1EDF7" stop-opacity="0" />
      <stop offset="1" stop-color="#444758" />
    </linearGradient>
    <linearGradient
      id="paint11_linear_2987_11371"
      x1="180.195"
      y1="142.334"
      x2="180.9"
      y2="152.898"
      gradientUnits="userSpaceOnUse"
    >
      <stop offset="0.00372349" stop-color="#E1EDF7" stop-opacity="0" />
      <stop offset="1" stop-color="#444758" />
    </linearGradient>
    <linearGradient
      id="paint12_linear_2987_11371"
      x1="180.598"
      y1="102.549"
      x2="180.715"
      y2="90.4596"
      gradientUnits="userSpaceOnUse"
    >
      <stop offset="0.00372349" stop-color="#E1EDF7" stop-opacity="0" />
      <stop offset="1" stop-color="#444758" />
    </linearGradient>
    <linearGradient
      id="paint13_linear_2987_11371"
      x1="79.4059"
      y1="100.257"
      x2="79.4689"
      y2="137.865"
      gradientUnits="userSpaceOnUse"
    >
      <stop offset="0.00744879" stop-color="#F4F1EC" />
      <stop offset="1" stop-color="#F4F1EC" stop-opacity="0" />
    </linearGradient>
    <linearGradient
      id="paint14_linear_2987_11371"
      x1="71.5734"
      y1="100.906"
      x2="71.6213"
      y2="129.509"
      gradientUnits="userSpaceOnUse"
    >
      <stop offset="0.00744879" stop-color="#F4F1EC" />
      <stop offset="1" stop-color="#F4F1EC" stop-opacity="0" />
    </linearGradient>
    <linearGradient
      id="paint15_linear_2987_11371"
      x1="60.4596"
      y1="100.168"
      x2="60.5229"
      y2="137.946"
      gradientUnits="userSpaceOnUse"
    >
      <stop offset="0.00744879" stop-color="#F4F1EC" />
      <stop offset="1" stop-color="#F4F1EC" stop-opacity="0" />
    </linearGradient>
    <linearGradient
      id="paint16_linear_2987_11371"
      x1="56.717"
      y1="101.383"
      x2="56.7547"
      y2="123.945"
      gradientUnits="userSpaceOnUse"
    >
      <stop offset="0.00744879" stop-color="#F4F1EC" />
      <stop offset="1" stop-color="#F4F1EC" stop-opacity="0" />
    </linearGradient>
    <linearGradient
      id="paint17_linear_2987_11371"
      x1="137.06"
      y1="102.856"
      x2="137.032"
      y2="116.355"
      gradientUnits="userSpaceOnUse"
    >
      <stop offset="0.00744879" stop-color="#F4F1EC" />
      <stop offset="1" stop-color="#F4F1EC" stop-opacity="0" />
    </linearGradient>
    <linearGradient
      id="paint18_linear_2987_11371"
      x1="146.498"
      y1="102.859"
      x2="146.471"
      y2="116.353"
      gradientUnits="userSpaceOnUse"
    >
      <stop offset="0.00744879" stop-color="#F4F1EC" />
      <stop offset="1" stop-color="#F4F1EC" stop-opacity="0" />
    </linearGradient>
    <linearGradient
      id="paint19_linear_2987_11371"
      x1="21.5328"
      y1="103.179"
      x2="21.8969"
      y2="101.742"
      gradientUnits="userSpaceOnUse"
    >
      <stop offset="0.00744879" stop-color="#FFA69E" stop-opacity="0" />
      <stop offset="1" stop-color="#DB8A74" />
    </linearGradient>
    <linearGradient
      id="paint20_linear_2987_11371"
      x1="25.3943"
      y1="98.9151"
      x2="24.6642"
      y2="97.9536"
      gradientUnits="userSpaceOnUse"
    >
      <stop offset="0.00744879" stop-color="#FFA69E" stop-opacity="0" />
      <stop offset="1" stop-color="#DB8A74" />
    </linearGradient>
    <linearGradient
      id="paint21_linear_2987_11371"
      x1="21.5462"
      y1="100.679"
      x2="25.87"
      y2="98.0127"
      gradientUnits="userSpaceOnUse"
    >
      <stop offset="0.00744879" stop-color="#FFA69E" stop-opacity="0" />
      <stop offset="1" stop-color="#DB8A74" />
    </linearGradient>
    <linearGradient
      id="paint22_linear_2987_11371"
      x1="54.9417"
      y1="104.376"
      x2="54.101"
      y2="102.049"
      gradientUnits="userSpaceOnUse"
    >
      <stop offset="0.00744879" stop-color="#FFA69E" stop-opacity="0" />
      <stop offset="1" stop-color="#DB8A74" />
    </linearGradient>
    <linearGradient
      id="paint23_linear_2987_11371"
      x1="50.6757"
      y1="98.928"
      x2="51.4828"
      y2="97.865"
      gradientUnits="userSpaceOnUse"
    >
      <stop offset="0.00744879" stop-color="#FFA69E" stop-opacity="0" />
      <stop offset="1" stop-color="#DB8A74" />
    </linearGradient>
    <linearGradient
      id="paint24_linear_2987_11371"
      x1="54.9348"
      y1="100.877"
      x2="50.1552"
      y2="97.9305"
      gradientUnits="userSpaceOnUse"
    >
      <stop offset="0.00744879" stop-color="#FFA69E" stop-opacity="0" />
      <stop offset="1" stop-color="#DB8A74" />
    </linearGradient>
  </defs>
</svg>
