<svg
  width="180"
  height="212"
  viewBox="0 0 180 212"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <path d="M141.283 44.2571H14.3618V151.853H141.283V44.2571Z" fill="#ECECEC" />
  <path d="M141.275 148.806H9.50732V152.174H141.275V148.806Z" fill="#3A3442" />
  <path
    d="M134.469 46.983H7.54834L51.5308 17.799H134.469V46.983Z"
    fill="#4F4957"
  />
  <path
    d="M179.337 47.3037V43.1346L125.481 0L71.6245 43.1346V47.3037H179.337Z"
    fill="#3A3442"
  />
  <path
    d="M176.645 151.853H74.3184V44.2571L125.482 3.36743L176.645 44.2571V151.853Z"
    fill="#ECECEC"
  />
  <path d="M120.449 56.4438H86.1611V86.5899H120.449V56.4438Z" fill="white" />
  <path d="M119.182 57.5663H87.5864V85.3071H119.182V57.5663Z" fill="#5DA9A9" />
  <path
    d="M88.8431 59.0095H119.182V57.5663H87.5864V85.3071H88.8431V59.0095Z"
    fill="#258E88"
  />
  <path d="M103.935 56.9248H102.499V85.9485H103.935V56.9248Z" fill="white" />
  <path d="M120.448 63.9803H86.8779V65.2631H120.448V63.9803Z" fill="white" />
  <path d="M56.3645 56.4438H22.0762V86.5899H56.3645V56.4438Z" fill="white" />
  <path d="M55.097 57.5663H23.5015V85.3071H55.097V57.5663Z" fill="#5DA9A9" />
  <path
    d="M24.7581 59.0095H54.9175V57.5663H23.5015V85.3071H24.7581V59.0095Z"
    fill="#258E88"
  />
  <path d="M39.8502 56.9248H38.4141V85.9485H39.8502V56.9248Z" fill="white" />
  <path d="M56.1797 63.9803H22.6094V65.2632H56.1797V63.9803Z" fill="white" />
  <path d="M135.368 18.28H114.185V38.6447H135.368V18.28Z" fill="white" />
  <path d="M133.755 19.4026H115.444V37.362H133.755V19.4026Z" fill="#5DA9A9" />
  <path
    d="M116.88 20.8457H133.934V19.4026H115.444V37.362H116.88V20.8457Z"
    fill="#258E88"
  />
  <path d="M34.1018 104.87H23.8691V139.666H34.1018V104.87Z" fill="white" />
  <path d="M33.0273 105.832H25.1284V138.544H33.0273V105.832Z" fill="#5DA9A9" />
  <path
    d="M26.2055 107.115H32.8478V105.832H25.1284V138.544H26.2055V107.115Z"
    fill="#258E88"
  />
  <path d="M70.5569 104.87H60.3242V139.666H70.5569V104.87Z" fill="white" />
  <path d="M69.4824 105.832H61.5835V138.544H69.4824V105.832Z" fill="#5DA9A9" />
  <path
    d="M62.6606 107.115H69.3028V105.832H61.5835V138.544H62.6606V107.115Z"
    fill="#258E88"
  />
  <path d="M165.336 56.4438H131.047V86.5899H165.336V56.4438Z" fill="white" />
  <path d="M164.069 57.5663H132.473V85.3071H164.069V57.5663Z" fill="#5DA9A9" />
  <path
    d="M133.73 59.0095H163.889V57.5663H132.473V85.3071H133.73V59.0095Z"
    fill="#258E88"
  />
  <path d="M148.822 56.9248H147.386V85.9485H148.822V56.9248Z" fill="white" />
  <path d="M165.151 63.9803H131.581V65.2632H165.151V63.9803Z" fill="white" />
  <path d="M120.449 104.229H86.1611V134.375H120.449V104.229Z" fill="white" />
  <path d="M119.182 105.351H87.5864V133.092H119.182V105.351Z" fill="#5DA9A9" />
  <path
    d="M88.8431 106.794H119.182V105.351H87.5864V133.092H88.8431V106.794Z"
    fill="#258E88"
  />
  <path d="M103.935 104.71H102.499V133.733H103.935V104.71Z" fill="white" />
  <path d="M120.448 111.765H86.8779V113.048H120.448V111.765Z" fill="white" />
  <path d="M165.336 104.229H131.047V134.375H165.336V104.229Z" fill="white" />
  <path d="M164.069 105.351H132.473V133.092H164.069V105.351Z" fill="#5DA9A9" />
  <path
    d="M133.73 106.794H163.889V105.351H132.473V133.092H133.73V106.794Z"
    fill="#258E88"
  />
  <path d="M148.822 104.71H147.386V133.733H148.822V104.71Z" fill="white" />
  <path d="M165.151 111.765H131.581V113.048H165.151V111.765Z" fill="white" />
  <path d="M74.317 46.983H7.35596V49.0676H74.317V46.983Z" fill="#3A3442" />
  <path d="M178.44 147.844H73.9595V152.334H178.44V147.844Z" fill="#4F4957" />
  <path
    d="M74.3255 87.0709H12.5705L0.183594 98.9369H74.3255V87.0709Z"
    fill="#4F4957"
  />
  <path d="M74.3214 98.7766H0V100.38H74.3214V98.7766Z" fill="#3A3442" />
  <path d="M74.3216 100.541H14.3618V102.144H74.3216V100.541Z" fill="#D1D1D1" />
  <path d="M74.3216 49.2279H14.3618V50.8314H74.3216V49.2279Z" fill="#D1D1D1" />
  <path d="M56.2108 104.71H37.1816V139.666H56.2108V104.71Z" fill="white" />
  <path d="M42.9208 105.511H38.0737V112.406H42.9208V105.511Z" fill="#5DA9A9" />
  <path d="M49.0305 105.511H44.0039V112.406H49.0305V105.511Z" fill="#5DA9A9" />
  <path d="M55.3015 105.511H50.2749V112.406H55.3015V105.511Z" fill="#5DA9A9" />
  <path d="M42.9208 113.208H38.0737V117.217H42.9208V113.208Z" fill="#5DA9A9" />
  <path d="M49.0305 113.208H44.0039V117.217H49.0305V113.208Z" fill="#5DA9A9" />
  <path d="M55.3015 113.208H50.2749V117.217H55.3015V113.208Z" fill="#5DA9A9" />
  <path
    d="M38.7918 106.634H42.9208V105.511H38.0737V112.406H38.7918V106.634Z"
    fill="#258E88"
  />
  <path
    d="M44.9015 106.634H49.0305V105.511H44.0039V112.406H44.9015V106.634Z"
    fill="#258E88"
  />
  <path
    d="M50.993 106.634H55.3015V105.511H50.2749V112.406H50.993V106.634Z"
    fill="#258E88"
  />
  <path
    d="M38.7918 114.331H42.9208V113.208H38.0737V117.217H38.7918V114.331Z"
    fill="#258E88"
  />
  <path
    d="M44.9015 114.331H49.0305V113.208H44.0039V117.217H44.9015V114.331Z"
    fill="#258E88"
  />
  <path
    d="M50.993 114.331H55.3015V113.208H50.2749V117.217H50.993V114.331Z"
    fill="#258E88"
  />
  <path d="M42.9208 118.019H38.0737V122.027H42.9208V118.019Z" fill="#5DA9A9" />
  <path d="M49.0305 118.019H44.0039V122.027H49.0305V118.019Z" fill="#5DA9A9" />
  <path d="M55.3015 118.019H50.2749V122.027H55.3015V118.019Z" fill="#5DA9A9" />
  <path
    d="M38.7918 119.141H42.9208V118.019H38.0737V122.027H38.7918V119.141Z"
    fill="#258E88"
  />
  <path
    d="M44.9015 119.141H49.0305V118.019H44.0039V122.027H44.9015V119.141Z"
    fill="#258E88"
  />
  <path
    d="M50.993 119.141H55.3015V118.019H50.2749V122.027H50.993V119.141Z"
    fill="#258E88"
  />
  <path d="M42.9208 122.829H38.0737V126.838H42.9208V122.829Z" fill="#5DA9A9" />
  <path d="M49.0305 122.829H44.0039V126.838H49.0305V122.829Z" fill="#5DA9A9" />
  <path d="M55.3015 122.829H50.2749V126.838H55.3015V122.829Z" fill="#5DA9A9" />
  <path
    d="M38.7918 123.952H42.9208V122.829H38.0737V126.838H38.7918V123.952Z"
    fill="#258E88"
  />
  <path
    d="M44.9015 123.952H49.0305V122.829H44.0039V126.838H44.9015V123.952Z"
    fill="#258E88"
  />
  <path
    d="M50.993 123.952H55.3015V122.829H50.2749V126.838H50.993V123.952Z"
    fill="#258E88"
  />
  <path d="M42.9208 127.8H38.0737V139.025H42.9208V127.8Z" fill="#5DA9A9" />
  <path d="M49.0305 127.8H44.0039V139.025H49.0305V127.8Z" fill="#5DA9A9" />
  <path d="M55.3015 127.8H50.2749V139.025H55.3015V127.8Z" fill="#5DA9A9" />
  <path
    d="M38.7918 128.762H42.9208V127.8H38.0737V139.025H38.7918V128.762Z"
    fill="#258E88"
  />
  <path
    d="M44.9015 128.762H49.0305V127.8H44.0039V139.025H44.9015V128.762Z"
    fill="#258E88"
  />
  <path
    d="M50.993 128.762H55.3015V127.8H50.2749V139.025H50.993V128.762Z"
    fill="#258E88"
  />
  <path d="M73.973 139.987H23.5278V143.034H73.973V139.987Z" fill="#4F4957" />
  <path d="M73.9669 142.873H17.9565V145.92H73.9669V142.873Z" fill="#484351" />
  <path d="M73.9689 145.92H12.7524V148.967H73.9689V145.92Z" fill="#403B49" />
  <path
    d="M125.482 3.36743L74.3184 44.2571V47.9452L125.482 7.0555L176.645 47.9452V44.2571L125.482 3.36743Z"
    fill="#D1D1D1"
  />
  <path
    opacity="0.1"
    d="M176.49 80.3475C175.296 82.1262 174.101 84.2606 173.106 86.395C171.314 89.9524 169.721 93.8654 167.93 98.1343C166.536 101.514 165.341 105.249 164.147 109.162C163.749 110.407 163.351 111.83 162.952 113.075C161.957 116.632 160.962 120.19 159.966 123.925C158.373 130.15 156.98 136.731 155.586 143.49C155.586 143.846 155.387 144.024 155.387 144.38C154.591 148.293 153.794 152.384 152.998 156.653C152.799 157.364 152.6 158.253 152.6 158.965C152.202 161.099 151.804 163.234 151.405 165.368H105.018C105.018 164.834 105.217 164.479 105.217 163.945C106.412 155.941 107.606 147.937 108.801 139.933C109 138.332 109.398 136.731 109.597 135.308C109.995 132.996 110.393 130.684 110.792 128.372C110.991 126.949 111.389 125.526 111.588 124.103C111.787 122.68 112.185 121.079 112.384 119.656C112.583 118.945 112.583 118.411 112.782 117.7C113.579 113.431 114.773 109.34 115.769 105.249C118.158 96.7113 120.746 88.1737 124.13 80.1697H176.49V80.3475Z"
    fill="black"
  />
  <path
    d="M170.917 74.4779C169.723 76.2566 168.727 78.2131 167.533 80.3475C165.542 84.4385 163.551 88.8852 161.759 94.0433C160.565 97.6007 159.37 101.336 158.176 105.249C157.977 105.605 157.977 106.138 157.778 106.672C156.782 109.873 155.986 113.253 154.99 116.632C153.995 120.19 153.199 123.925 152.402 127.66C151.606 131.573 150.61 135.664 149.814 139.933C149.416 141.89 149.018 143.668 148.62 145.625C147.823 149.36 147.226 153.095 146.43 156.83C146.231 157.542 146.031 158.431 146.031 159.143C145.633 161.277 145.235 163.411 144.837 165.546C144.041 169.459 143.443 173.372 142.647 177.285H72.5684C74.3601 164.301 76.351 151.317 78.7401 138.51C79.5364 134.241 80.3328 130.15 81.3282 126.059C82.1246 122.146 83.12 118.411 84.3145 114.498C84.7127 112.719 85.3099 111.119 85.9072 109.34C89.6899 97.0671 94.4679 85.1499 100.839 74.3H170.917V74.4779Z"
    fill="#596F71"
  />
  <path
    d="M117.156 78.5688H149.807C148.214 84.2606 152.395 89.063 158.965 89.063C147.617 110.229 144.232 131.573 139.454 160.566C132.685 160.566 126.115 165.19 124.523 171.06H91.8724C93.4651 165.368 89.2842 160.566 82.7144 160.566C84.7052 135.664 92.2705 100.802 102.225 89.063C108.795 88.8851 115.564 84.2606 117.156 78.5688Z"
    fill="#E2F0F1"
  />
  <path
    d="M128.42 135.413C138.611 128.561 141.995 117.217 135.979 110.074C129.962 102.932 116.824 102.696 106.633 109.548C96.442 116.4 93.0579 127.745 99.0744 134.887C105.091 142.029 118.229 142.265 128.42 135.413Z"
    fill="#596F71"
  />
  <path
    d="M118.64 132.016C122.225 132.194 124.216 130.415 124.216 127.926C124.216 126.859 124.017 125.792 123.22 124.903C122.424 123.658 121.03 122.591 118.839 121.346C116.251 119.746 115.056 119.034 115.056 117.967L115.056 117.79C115.255 117.078 115.852 116.545 117.645 117.078C118.441 117.256 119.038 117.434 119.636 117.612C120.831 118.145 121.627 118.679 122.225 119.034L123.021 116.011C122.225 115.478 121.03 114.766 119.238 114.233C119.038 114.233 118.839 114.055 118.441 114.055L118.441 111.388L115.454 110.676L115.454 113.344C112.268 113.166 110.476 114.589 110.277 116.9C110.277 117.078 110.277 117.256 110.277 117.434C110.277 120.101 112.268 121.88 115.056 123.48C115.255 123.658 115.653 123.836 115.852 123.836C118.242 125.081 119.238 125.97 119.238 127.037C119.238 128.281 118.043 128.637 116.251 128.104C114.259 127.57 112.467 126.681 111.073 125.614L110.078 128.815C111.272 129.704 113.264 130.593 115.454 131.127L115.454 133.794L117.645 134.328L118.441 134.505L118.441 132.016L118.64 132.016Z"
    fill="white"
  />
  <path
    opacity="0.1"
    d="M137.266 127.127C137.266 127.304 137.067 127.304 137.067 127.482C136.47 128.016 135.873 128.372 135.276 128.549C134.678 128.727 134.28 128.727 134.28 128.727L132.488 130.862L132.09 130.328C127.909 133.352 123.53 136.198 119.747 138.154C118.353 138.866 117.159 139.399 115.964 139.933C115.566 140.111 115.168 140.289 114.77 140.467C113.376 141 112.182 141.178 111.186 141.356C110.589 141.356 109.793 141.178 108.996 140.822C108.598 140.644 108.001 140.289 107.403 140.111C107.005 139.755 106.408 139.577 106.01 139.221C106.01 139.399 106.01 139.577 106.01 139.755C106.408 142.601 107.005 145.269 107.802 147.937C108.797 151.494 109.793 154.696 110.987 157.542C115.765 157.364 120.543 157.364 124.525 157.898C126.914 158.253 129.104 158.609 130.896 159.32C132.488 159.854 133.484 160.743 134.081 161.633C134.081 161.811 134.28 161.811 134.28 161.988C134.678 162.7 134.877 164.123 135.077 165.902C135.475 168.925 135.674 173.016 135.873 177.641H124.525C124.127 175.862 123.729 174.617 123.53 173.728C122.136 169.993 114.969 173.728 106.806 173.194C107.403 174.795 108.2 176.218 108.598 177.819H90.4811C88.092 174.083 85.703 169.459 85.5039 164.479C85.3048 164.301 84.9066 164.301 84.7076 164.123C84.3094 163.056 83.9112 161.988 83.7121 161.099C83.3139 160.032 83.1149 158.965 82.7167 157.898C80.5267 150.783 79.1331 144.38 78.7349 139.221C78.1377 133.352 78.934 128.905 81.124 126.949C81.124 126.949 81.3231 126.949 81.3231 126.771C82.9158 125.881 85.3048 125.17 88.092 124.636C88.2911 124.636 88.4902 124.636 88.6893 124.459C88.8884 123.747 89.0875 122.858 89.0875 122.146L88.6893 121.968L87.6939 121.079C87.4948 121.079 87.2957 120.901 87.0966 120.901V120.545L84.5085 118.589L84.1103 115.209L83.7121 111.474L85.5039 110.051L90.282 106.316L93.2683 105.96L95.0601 105.782L97.25 108.984L99.0418 111.83C99.0418 111.83 98.0464 112.008 96.6528 112.186C97.4491 114.32 97.6482 117.166 97.25 119.3C96.8519 120.723 96.2546 121.968 95.0601 122.324C94.861 122.324 94.6619 122.502 94.4628 122.502C94.6619 123.036 94.861 123.569 95.0601 124.103C95.2592 124.103 95.6573 124.103 95.8564 124.103L96.4537 123.391L98.2455 121.079L97.8473 120.901L99.2409 119.656L100.037 119.123C100.037 119.123 102.824 114.854 104.218 114.676C106.01 114.498 103.82 116.988 104.417 118.055C104.815 118.767 105.811 116.988 105.811 118.233C105.811 118.945 104.218 120.19 103.621 120.545C103.422 120.723 103.422 120.723 103.422 120.723L103.024 123.391L102.426 123.036C102.227 123.569 102.028 123.925 101.829 124.459C102.824 124.636 103.82 124.814 104.815 125.17L110.589 132.285L112.381 134.597L117.159 132.64L130.099 127.304L129.9 126.949L132.688 126.237C132.688 126.237 132.887 125.526 133.285 124.814C133.484 124.281 133.882 123.747 134.081 123.925C134.678 123.925 134.28 124.814 134.877 125.17C135.475 125.348 135.674 123.036 137.067 123.213C137.466 123.213 137.864 123.747 138.063 124.459C138.063 124.992 138.063 126.237 137.266 127.127Z"
    fill="black"
  />
  <path
    d="M82.9158 121.435L86.6984 127.304L102.227 113.075L105.214 115.032C99.8382 123.569 93.8655 131.573 88.6893 134.241C86.1011 135.308 83.1148 129.083 79.5312 126.949L82.9158 121.435Z"
    fill="white"
  />
  <path
    d="M105.214 114.854C105.214 114.854 107.802 113.609 108.002 112.719C108.201 111.474 107.006 113.075 106.608 112.363C106.21 111.118 108.798 108.984 107.006 108.984C105.612 108.984 102.228 112.897 102.228 112.897L105.214 114.854Z"
    fill="#FBD783"
  />
  <path
    d="M102.229 112.897L99.8403 114.32L104.419 117.522L105.216 114.854L102.229 112.897Z"
    fill="#13316D"
  />
  <path
    d="M50.8577 196.673C50.8577 196.673 49.4641 196.851 48.4686 197.74C47.2741 198.629 43.8896 193.471 43.8896 193.471C43.8896 193.471 45.4823 192.937 47.4732 192.404C49.4641 191.87 50.6586 192.048 50.6586 192.048L50.8577 196.673Z"
    fill="#FBD783"
  />
  <path
    d="M81.519 152.917C76.94 165.724 91.0751 177.641 85.1025 180.842C79.1299 184.044 49.0678 192.048 49.0678 192.048C48.4706 193.293 49.6651 195.961 51.0587 197.028C66.1893 196.139 94.8578 190.803 99.835 188.135C106.007 184.4 100.233 161.633 94.2605 152.206L81.519 152.917Z"
    fill="#13316D"
  />
  <path
    d="M45.0835 192.582C43.2917 192.582 42.0971 193.115 41.3008 194.182C43.6898 197.918 45.8798 201.653 48.2688 205.032C49.8615 204.321 49.4634 199.696 48.8661 197.384C46.8752 196.317 45.6807 194.716 45.0835 192.582Z"
    fill="#13316D"
  />
  <path
    d="M122.724 203.965C122.724 203.965 122.525 205.21 123.122 206.455C123.719 207.7 117.149 208.945 117.149 208.945C117.149 208.945 117.149 207.523 117.149 205.566C117.349 203.609 117.747 202.72 117.747 202.72L122.724 203.965Z"
    fill="#FBD783"
  />
  <path
    d="M87.4902 157.72C97.0464 174.617 115.96 163.945 117.154 169.993C118.349 176.04 117.353 203.965 117.353 203.965C118.548 204.855 121.733 204.677 123.127 203.787C126.909 190.803 130.891 164.834 129.498 159.676C127.507 153.095 101.625 150.783 89.6802 152.739L87.4902 157.72Z"
    fill="#13316D"
  />
  <path
    d="M116.754 207.523C116.156 208.945 116.355 210.191 117.152 211.258C121.93 210.546 126.509 209.835 130.889 208.945C130.491 207.345 125.513 206.1 122.925 205.922C121.133 207.345 119.143 207.878 116.754 207.523Z"
    fill="#13316D"
  />
  <path
    d="M80.1245 155.585C83.509 158.787 102.621 158.075 107.798 155.407C105.01 146.514 103.617 133.53 105.608 119.3C99.0378 116.454 86.6944 115.921 82.1154 118.233C76.9391 121.968 76.9391 136.731 80.1245 155.585Z"
    fill="white"
  />
  <path
    d="M89.6855 117.7C90.8801 116.099 91.0792 114.142 91.0792 112.008H96.2554C96.2554 114.142 96.2554 116.277 96.8527 118.411C96.4545 119.3 90.2828 118.945 89.6855 117.7Z"
    fill="#FBD783"
  />
  <path
    d="M89.2832 113.075C92.2695 114.32 94.4594 116.454 97.0476 115.387C100.83 114.498 101.029 106.85 99.6357 103.47L89.2832 102.403V113.075Z"
    fill="#FBD783"
  />
  <path
    d="M85.9003 110.763L92.0719 115.743L96.0537 111.474L93.4655 108.984L94.6601 107.561L96.0537 109.162L97.0491 108.095L96.2528 105.427C98.8409 105.782 102.624 105.605 102.624 105.605L99.6373 99.2013L93.0674 96.1776L82.7148 102.403L85.9003 110.763Z"
    fill="#2A195B"
  />
  <path
    d="M105.796 119.3L111.769 129.617L133.071 123.925L134.465 126.949C125.108 132.107 115.551 136.554 109.38 136.554C106.593 136.376 99.4254 128.905 97.4346 125.526L105.796 119.3Z"
    fill="white"
  />
  <path
    d="M134.669 127.127C134.669 127.127 136.062 127.482 137.456 126.237C139.049 124.992 139.049 121.969 137.854 121.435C136.66 120.901 135.863 123.391 135.266 123.036C134.669 122.68 135.465 121.969 134.669 121.791C134.072 121.613 133.076 123.925 133.076 123.925L134.669 127.127Z"
    fill="#FBD783"
  />
  <path
    d="M133.073 124.103L130.286 124.281L132.476 128.905L134.666 127.127L133.073 124.103Z"
    fill="#13316D"
  />
  <path
    d="M77.1497 23.0927C76.0412 23.4491 75.1545 23.9837 74.2678 24.6966C69.169 28.9739 66.5088 39.3105 65.1787 50.3601C62.9618 68.5383 64.5136 88.8552 64.5136 88.8552C64.5136 88.8552 19.5116 95.271 19.5116 79.7661C19.5116 75.4888 19.0683 69.9641 19.0683 64.0829C18.6249 48.3997 19.955 29.1521 34.8079 17.3897C35.4729 16.855 36.803 16.3204 38.3548 15.9639C51.8776 12.756 91.3375 18.459 77.1497 23.0927Z"
    fill="#596F71"
  />
  <path
    d="M31.6446 43.964C31.6446 44.4149 31.5257 44.8329 31.288 45.2182C31.0585 45.5953 30.7142 45.9068 30.2551 46.1527C29.8043 46.3904 29.2673 46.5216 28.6443 46.5462V47.5422H27.8574V46.5339C26.9885 46.4601 26.2876 46.2019 25.7548 45.7592C25.2219 45.3084 24.9391 44.6977 24.9063 43.9271H27.1442C27.1934 44.419 27.4311 44.7346 27.8574 44.8739V42.9312C27.218 42.7672 26.7057 42.6074 26.3204 42.4516C25.9433 42.2959 25.6113 42.0458 25.3244 41.7016C25.0375 41.3573 24.8941 40.8859 24.8941 40.2875C24.8941 39.5416 25.1687 38.9431 25.7179 38.4923C26.2753 38.0414 26.9885 37.7873 27.8574 37.7299V36.734H28.6443V37.7299C29.5051 37.7955 30.1854 38.0455 30.6855 38.48C31.1855 38.9145 31.4642 39.517 31.5216 40.2875H29.2714C29.2223 39.8449 29.0132 39.5579 28.6443 39.4268V41.3327C29.3247 41.5212 29.8493 41.6893 30.2182 41.8368C30.5871 41.9844 30.915 42.2303 31.2019 42.5746C31.497 42.9107 31.6446 43.3738 31.6446 43.964ZM27.1196 40.1891C27.1196 40.3941 27.1811 40.5662 27.3041 40.7056C27.4352 40.8449 27.6197 40.9679 27.8574 41.0745V39.3653C27.6279 39.4063 27.4475 39.4965 27.3164 39.6358C27.1852 39.767 27.1196 39.9514 27.1196 40.1891ZM28.6443 44.9108C28.8903 44.8698 29.0829 44.7715 29.2223 44.6157C29.3698 44.46 29.4436 44.2673 29.4436 44.0378C29.4436 43.8247 29.3739 43.6525 29.2345 43.5214C29.1034 43.382 28.9067 43.2632 28.6443 43.1648V44.9108ZM33.0488 44.8739V43.1771L36.9344 37.6193H39.2829V43.0541H40.2912V44.8739H39.2829V46.4724H37.1803V44.8739H33.0488ZM37.3278 39.9309L35.2621 43.0541H37.3278V39.9309ZM47.6412 39.3284H43.8049V41.0253C43.9688 40.8449 44.1983 40.6974 44.4934 40.5826C44.7885 40.4679 45.1082 40.4105 45.4525 40.4105C46.0673 40.4105 46.5756 40.5498 46.9772 40.8285C47.3871 41.1072 47.6863 41.4679 47.8748 41.9106C48.0634 42.3532 48.1576 42.8328 48.1576 43.3492C48.1576 44.3083 47.8871 45.0707 47.3461 45.6363C46.8051 46.1937 46.0427 46.4724 45.059 46.4724C44.4033 46.4724 43.8335 46.3617 43.3499 46.1404C42.8663 45.9109 42.4933 45.5953 42.231 45.1936C41.9686 44.792 41.8252 44.3288 41.8006 43.8042H43.854C43.9032 44.0583 44.0221 44.2714 44.2106 44.4436C44.3992 44.6075 44.6574 44.6895 44.9853 44.6895C45.3705 44.6895 45.6575 44.5665 45.846 44.3206C46.0345 44.0747 46.1288 43.7468 46.1288 43.3369C46.1288 42.9353 46.0304 42.6279 45.8337 42.4147C45.637 42.2016 45.3501 42.095 44.973 42.095C44.6943 42.095 44.4647 42.1647 44.2844 42.3041C44.1041 42.4352 43.9852 42.6115 43.9278 42.8328H41.899V37.484H47.6412V39.3284ZM49.3183 41.8614C49.3183 40.4515 49.5888 39.3407 50.1298 38.5292C50.679 37.7176 51.5602 37.3119 52.7735 37.3119C53.9867 37.3119 54.8638 37.7176 55.4048 38.5292C55.954 39.3407 56.2286 40.4515 56.2286 41.8614C56.2286 43.2877 55.954 44.4067 55.4048 45.2182C54.8638 46.0298 53.9867 46.4355 52.7735 46.4355C51.5602 46.4355 50.679 46.0298 50.1298 45.2182C49.5888 44.4067 49.3183 43.2877 49.3183 41.8614ZM54.1629 41.8614C54.1629 41.0335 54.0727 40.3982 53.8924 39.9555C53.7121 39.5047 53.3391 39.2792 52.7735 39.2792C52.2078 39.2792 51.8349 39.5047 51.6545 39.9555C51.4742 40.3982 51.384 41.0335 51.384 41.8614C51.384 42.4188 51.4168 42.882 51.4824 43.2509C51.548 43.6115 51.6791 43.9066 51.8758 44.1362C52.0808 44.3575 52.38 44.4682 52.7735 44.4682C53.1669 44.4682 53.462 44.3575 53.6588 44.1362C53.8637 43.9066 53.999 43.6115 54.0645 43.2509C54.1301 42.882 54.1629 42.4188 54.1629 41.8614Z"
    fill="white"
  />
  <path
    d="M28.074 58.5788C28.074 57.9285 28.2238 57.3451 28.5234 56.8287C28.8295 56.3123 29.2407 55.9106 29.7571 55.6237C30.28 55.3304 30.8506 55.1837 31.469 55.1837C32.1767 55.1837 32.8047 55.3591 33.3531 55.7097C33.9077 56.054 34.3094 56.545 34.5581 57.1825H33.2479C33.0757 56.8319 32.8366 56.5705 32.5306 56.3983C32.2245 56.2262 31.8707 56.1401 31.469 56.1401C31.0291 56.1401 30.637 56.2389 30.2927 56.4366C29.9484 56.6342 29.6775 56.9179 29.4798 57.2877C29.2885 57.6575 29.1929 58.0879 29.1929 58.5788C29.1929 59.0697 29.2885 59.5001 29.4798 59.8699C29.6775 60.2397 29.9484 60.5266 30.2927 60.7306C30.637 60.9283 31.0291 61.0271 31.469 61.0271C31.8707 61.0271 32.2245 60.941 32.5306 60.7689C32.8366 60.5967 33.0757 60.3353 33.2479 59.9847H34.5581C34.3094 60.6222 33.9077 61.1132 33.3531 61.4575C32.8047 61.8017 32.1767 61.9739 31.469 61.9739C30.8442 61.9739 30.2736 61.8304 29.7571 61.5435C29.2407 61.2502 28.8295 60.8454 28.5234 60.329C28.2238 59.8125 28.074 59.2291 28.074 58.5788ZM35.4708 59.2578C35.4708 58.7286 35.5792 58.26 35.7959 57.852C36.0191 57.4439 36.3188 57.1283 36.6949 56.9052C37.0775 56.6757 37.4983 56.5609 37.9573 56.5609C38.3717 56.5609 38.732 56.6438 39.038 56.8096C39.3504 56.9689 39.5991 57.1698 39.784 57.4121V56.647H40.8838V61.9165H39.784V61.1323C39.5991 61.3809 39.3472 61.5882 39.0284 61.7539C38.7096 61.9197 38.3462 62.0026 37.9382 62.0026C37.4855 62.0026 37.0711 61.8878 36.6949 61.6583C36.3188 61.4224 36.0191 61.0972 35.7959 60.6828C35.5792 60.262 35.4708 59.787 35.4708 59.2578ZM39.784 59.277C39.784 58.9135 39.7074 58.5979 39.5544 58.3302C39.4078 58.0624 39.2133 57.8584 38.9711 57.7181C38.7288 57.5778 38.4674 57.5077 38.1868 57.5077C37.9063 57.5077 37.6449 57.5778 37.4026 57.7181C37.1603 57.852 36.9627 58.0528 36.8097 58.3206C36.663 58.582 36.5897 58.8944 36.5897 59.2578C36.5897 59.6212 36.663 59.94 36.8097 60.2142C36.9627 60.4883 37.1603 60.6987 37.4026 60.8454C37.6513 60.9856 37.9127 61.0558 38.1868 61.0558C38.4674 61.0558 38.7288 60.9856 38.9711 60.8454C39.2133 60.7051 39.4078 60.5011 39.5544 60.2333C39.7074 59.9592 39.784 59.6404 39.784 59.277ZM44.2285 62.0026C43.8141 62.0026 43.4411 61.9293 43.1095 61.7826C42.7844 61.6296 42.5262 61.4256 42.3349 61.1705C42.1436 60.9091 42.0416 60.619 42.0289 60.3003H43.1574C43.1765 60.5234 43.2817 60.7115 43.473 60.8645C43.6706 61.0112 43.9161 61.0845 44.2093 61.0845C44.5154 61.0845 44.7513 61.0271 44.9171 60.9123C45.0892 60.7912 45.1753 60.6382 45.1753 60.4533C45.1753 60.2556 45.0796 60.109 44.8884 60.0134C44.7035 59.9177 44.407 59.8125 43.999 59.6978C43.6037 59.5894 43.2817 59.4842 43.033 59.3822C42.7844 59.2801 42.5676 59.1239 42.3827 58.9135C42.2042 58.7031 42.1149 58.4258 42.1149 58.0815C42.1149 57.801 42.1978 57.546 42.3636 57.3164C42.5293 57.0805 42.7653 56.8956 43.0713 56.7617C43.3837 56.6278 43.7407 56.5609 44.1424 56.5609C44.7417 56.5609 45.2231 56.7139 45.5865 57.02C45.9563 57.3196 46.1539 57.7308 46.1794 58.2537H45.0892C45.0701 58.0178 44.9744 57.8297 44.8023 57.6894C44.6301 57.5491 44.3974 57.479 44.1042 57.479C43.8172 57.479 43.5973 57.5332 43.4443 57.6416C43.2912 57.75 43.2147 57.8934 43.2147 58.0719C43.2147 58.2122 43.2657 58.3302 43.3678 58.4258C43.4698 58.5214 43.5941 58.5979 43.7407 58.6553C43.8874 58.7063 44.1042 58.7733 44.3911 58.8562C44.7736 58.9582 45.086 59.0634 45.3283 59.1718C45.5769 59.2738 45.7905 59.4268 45.969 59.6308C46.1476 59.8348 46.24 60.1058 46.2464 60.4437C46.2464 60.7434 46.1635 61.0112 45.9977 61.2471C45.832 61.483 45.5961 61.6679 45.29 61.8017C44.9904 61.9356 44.6365 62.0026 44.2285 62.0026ZM50.15 56.5609C50.5517 56.5609 50.9088 56.647 51.2212 56.8191C51.54 56.9913 51.7886 57.2463 51.9671 57.5842C52.152 57.9221 52.2445 58.3302 52.2445 58.8083V61.9165H51.1638V58.9709C51.1638 58.4991 51.0458 58.1389 50.8099 57.8902C50.574 57.6352 50.2521 57.5077 49.844 57.5077C49.436 57.5077 49.1108 57.6352 48.8685 57.8902C48.6326 58.1389 48.5147 58.4991 48.5147 58.9709V61.9165H47.4244V54.8395H48.5147V57.259C48.6996 57.0359 48.9323 56.8637 49.2128 56.7426C49.4997 56.6215 49.8121 56.5609 50.15 56.5609ZM36.6303 76.0026C36.133 76.0026 35.6835 75.891 35.2818 75.6679C34.8801 75.4383 34.5645 75.1195 34.335 74.7115C34.1055 74.2971 33.9907 73.8189 33.9907 73.277C33.9907 72.7414 34.1087 72.2664 34.3446 71.852C34.5805 71.4376 34.9024 71.1188 35.3105 70.8956C35.7185 70.6725 36.1744 70.5609 36.6781 70.5609C37.1818 70.5609 37.6376 70.6725 38.0457 70.8956C38.4537 71.1188 38.7757 71.4376 39.0116 71.852C39.2475 72.2664 39.3654 72.7414 39.3654 73.277C39.3654 73.8125 39.2443 74.2875 39.002 74.7019C38.7597 75.1164 38.4282 75.4383 38.0074 75.6679C37.593 75.891 37.1339 76.0026 36.6303 76.0026ZM36.6303 75.0558C36.9108 75.0558 37.1722 74.9888 37.4145 74.8549C37.6631 74.7211 37.864 74.5202 38.017 74.2524C38.17 73.9847 38.2465 73.6595 38.2465 73.277C38.2465 72.8944 38.1732 72.5724 38.0265 72.311C37.8799 72.0433 37.6854 71.8424 37.4432 71.7085C37.2009 71.5746 36.9395 71.5077 36.6589 71.5077C36.3784 71.5077 36.117 71.5746 35.8747 71.7085C35.6388 71.8424 35.4507 72.0433 35.3105 72.311C35.1702 72.5724 35.1001 72.8944 35.1001 73.277C35.1001 73.8444 35.2435 74.2843 35.5304 74.5967C35.8237 74.9028 36.1903 75.0558 36.6303 75.0558ZM45.2154 70.647V75.9165H44.1252V75.2949C43.953 75.5116 43.7267 75.6838 43.4462 75.8113C43.172 75.9324 42.8787 75.993 42.5663 75.993C42.1519 75.993 41.7789 75.9069 41.4474 75.7348C41.1222 75.5627 40.864 75.3076 40.6727 74.9697C40.4878 74.6318 40.3954 74.2238 40.3954 73.7456V70.647H41.4761V73.583C41.4761 74.0548 41.594 74.4182 41.8299 74.6732C42.0658 74.9219 42.3878 75.0462 42.7958 75.0462C43.2039 75.0462 43.5259 74.9219 43.7618 74.6732C44.004 74.4182 44.1252 74.0548 44.1252 73.583V70.647H45.2154ZM47.9259 71.5364V74.4533C47.9259 74.6509 47.9705 74.7944 48.0598 74.8836C48.1554 74.9665 48.3148 75.008 48.5379 75.008H49.2074V75.9165H48.3467C47.8557 75.9165 47.4796 75.8017 47.2182 75.5722C46.9568 75.3427 46.8261 74.9697 46.8261 74.4533V71.5364H46.2044V70.647H46.8261V69.3368H47.9259V70.647H49.2074V71.5364H47.9259Z"
    fill="white"
  />
</svg>
