<svg
  width="150"
  height="115"
  viewBox="0 0 314 237"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <mask
    id="mask0_2987_10982"
    style="mask-type:alpha"
    maskUnits="userSpaceOnUse"
    x="4"
    y="0"
    width="306"
    height="229"
  >
    <rect
      x="4.5"
      y="0.5"
      width="305"
      height="228"
      rx="19.5"
      fill="#FFD8B9"
      stroke="black"
    />
  </mask>
  <g mask="url(#mask0_2987_10982)">
    <g filter="url(#filter0_d_2987_10982)">
      <path d="M212.119 85H187.031V96.1328H212.119V85Z" fill="#E4EFF8" />
      <path
        d="M189.828 110.088V96.1587H209.324V123.965L189.828 110.088Z"
        fill="#F87376"
      />
      <path
        d="M189.828 96.1587V110.088L209.324 123.965V115.654L195.395 105.724V96.1587H189.828Z"
        fill="#C6696B"
      />
      <path
        d="M97.9453 128.12V143.513L156.458 101.725L214.971 143.513V128.12L156.458 85L97.9453 128.12Z"
        fill="#E4EFF8"
      />
      <path
        d="M156.458 85L97.9453 128.12V143.513L103.459 137.946V130.472L161.998 89.103L156.458 85ZM161.946 97.7531L156.406 101.699L214.997 143.487V135.568L161.946 97.7531Z"
        fill="#C4DCF0"
      />
      <path
        d="M203.759 135.516V215.824H109.156V135.516L156.406 101.725L203.759 135.516Z"
        fill="#F87476"
      />
      <path
        d="M114.749 131.518L109.156 135.516V215.824H203.759V204.665H114.749V131.518Z"
        fill="#B6B6B6"
      />
      <path
        d="M203.382 135.516V215.824H108.648V135.882"
        stroke="#DADADA"
        stroke-width="0.637079"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M97.4766 128.12V143.513L156.46 101.725L214.973 143.513V128.12L156.46 85L97.4766 128.12Z"
        stroke="#263238"
        stroke-width="0.637079"
        stroke-linejoin="round"
      />
      <path
        d="M189.828 110.088V96.1587H209.324V123.965"
        stroke="#263238"
        stroke-width="0.637079"
        stroke-linejoin="round"
      />
      <path
        d="M187.031 85V96.159H212.119V90.5664H192.624V85H187.031Z"
        fill="#C4DCF0"
      />
      <path
        d="M212.119 85H187.031V96.1328H212.119V85Z"
        stroke="#F16064"
        stroke-width="0.637079"
        stroke-linejoin="round"
      />
      <path
        d="M189.821 160.239C189.821 169.098 186.293 177.617 180.021 183.889C173.749 190.161 165.255 193.689 156.37 193.689C137.894 193.689 122.945 178.715 122.945 160.265C122.945 141.814 137.92 126.84 156.37 126.84C165.229 126.84 173.749 130.368 180.021 136.64C186.293 142.86 189.821 151.379 189.821 160.239Z"
        fill="#E4EFF8"
      />
      <path
        d="M156.402 126.787C146.21 126.814 136.566 131.465 130.242 139.462C136.122 134.863 143.361 132.354 150.835 132.354C169.312 132.354 184.26 147.328 184.26 165.779C184.234 173.305 181.699 180.622 176.995 186.529C185.096 180.204 189.826 170.483 189.826 160.212C189.826 151.353 186.298 142.833 180.026 136.561C173.754 130.315 165.261 126.787 156.402 126.787Z"
        fill="#C4DCF0"
      />
      <path
        d="M144.035 153.282C147.109 153.201 149.535 150.645 149.455 147.572C149.374 144.498 146.818 142.072 143.744 142.152C140.671 142.233 138.245 144.789 138.325 147.862C138.405 150.936 140.962 153.362 144.035 153.282Z"
        fill="#263238"
      />
      <path
        d="M189.821 160.239C189.821 169.098 186.293 177.617 180.021 183.889C173.749 190.161 165.255 193.689 156.37 193.689C137.894 193.689 122.945 178.715 122.945 160.265C122.945 141.814 137.92 126.84 156.37 126.84C165.229 126.84 173.749 130.368 180.021 136.64C186.293 142.86 189.821 151.379 189.821 160.239Z"
        stroke="#AB5C5E"
        stroke-width="0.637079"
        stroke-linejoin="round"
      />
      <path
        d="M168.918 178.348C171.992 178.348 174.484 175.856 174.484 172.782C174.484 169.708 171.992 167.216 168.918 167.216C165.844 167.216 163.352 169.708 163.352 172.782C163.352 175.856 165.844 178.348 168.918 178.348Z"
        fill="#263238"
      />
      <path
        d="M173.02 143.591L139.805 176.833"
        stroke="#F87376"
        stroke-width="0.637079"
        stroke-linecap="round"
      />
      <path
        d="M144.035 153.282C147.109 153.201 149.535 150.645 149.455 147.572C149.374 144.498 146.818 142.072 143.744 142.152C140.671 142.233 138.245 144.789 138.325 147.862C138.405 150.936 140.962 153.362 144.035 153.282Z"
        stroke="#F87376"
        stroke-width="0.637079"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M168.918 178.348C171.992 178.348 174.484 175.856 174.484 172.782C174.484 169.708 171.992 167.216 168.918 167.216C165.844 167.216 163.352 169.708 163.352 172.782C163.352 175.856 165.844 178.348 168.918 178.348Z"
        stroke="#F87376"
        stroke-width="0.637079"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </g>
    <path
      d="M203.744 78.0561C190.152 75.86 186.561 87.1669 171.426 89.9268C171.426 89.9268 152.7 89.7191 155.519 95.5951C156.261 97.1383 158.576 98.4144 160.505 98.8595C156.41 99.2453 153.383 99.7202 153.383 99.7202C132.015 87.1372 127.148 92.9539 127.148 92.9539L153.887 106.486C153.887 106.486 189.381 106.665 190.093 106.635C190.805 106.605 202.29 91.1436 202.29 91.1436L271.199 119.04L276.719 101.768C276.69 101.798 207.84 78.709 203.744 78.0561Z"
      fill="#F58D6C"
    />
    <path
      d="M122.581 92.8348C125.816 90.7278 134.274 89.8671 148.815 101.946C148.815 101.946 160.775 100.551 171.459 106.249C171.459 106.249 200.779 80.0738 208.347 79.9254C215.885 79.777 276.722 101.768 276.722 101.768L280.58 123.788L260.103 127.379L214.253 100.165C214.253 100.165 184.338 118.713 180.124 121.265C174.694 124.589 158.342 112.689 147.539 110.433C143.859 109.662 127.715 99.1263 122.64 95.7431C121.572 95.0903 121.542 93.5174 122.581 92.8348Z"
      fill="#FFB287"
    />
    <path
      d="M217.227 109.038L229.81 77.7888L282.812 98.5329L285.572 124.559L258.833 127.379L217.227 109.038Z"
      fill="white"
    />
    <path
      d="M217.227 109.038L235.24 79.8959L285.572 124.559L258.833 127.379L217.227 109.038Z"
      fill="#90AFAF"
    />
    <path
      d="M221.633 113.609L235.759 78.5306L294.638 101.797V146.045L221.633 113.609Z"
      fill="#BA4200"
    />
    <path
      d="M232.86 100.121C233.008 101.486 231.999 102.732 230.634 102.881C229.269 103.029 228.022 102.02 227.874 100.655C227.725 99.2897 228.734 98.0433 230.1 97.8949C231.494 97.7762 232.711 98.7555 232.86 100.121Z"
      fill="#8E2F00"
    />
    <path
      d="M240.422 103.742C240.57 105.107 239.561 106.353 238.196 106.502C236.831 106.65 235.585 105.641 235.436 104.276C235.288 102.911 236.297 101.664 237.662 101.516C239.027 101.368 240.274 102.377 240.422 103.742Z"
      fill="#8E2F00"
    />
    <path
      d="M111.758 24.8307C111.758 24.8307 135.173 29.8164 143.69 17.3224L156.748 17.5302C156.748 17.5302 166.274 35.9298 173.664 32.8137C176.839 31.4783 172.417 28.0061 161.674 12.0103C161.674 12.0103 148.379 4.26466 128.496 5.57044L111.758 24.8307Z"
      fill="#F58D6C"
    />
    <path
      d="M27.5547 59.2855L70.6454 24.2966C71.7731 23.3766 72.8118 22.3973 73.8208 21.3289C75.9575 19.0735 78.6878 17.2632 81.7741 16.0465C95.8409 10.4672 131.572 -2.88732 136.112 -3.4215C138.368 -3.68859 155.432 11.2091 159.765 15.5123C160.536 16.2839 161.1 17.2038 161.367 18.1832C162.792 23.1986 167.214 39.0459 166.086 40.2924C164.75 41.8059 158.34 42.9633 151.455 20.4089L134.807 16.2245L130.8 24.0592C130.8 24.0592 115.042 42.4588 91.6268 34.9802L27.5547 110.359V59.2855Z"
      fill="#FFB287"
    />
    <path
      d="M72.2275 23.2283C72.2275 23.2283 80.1512 33.17 91.0722 35.6925L86.502 41.4201L70.4766 25.276L72.2275 23.2283Z"
      fill="#F58D6C"
    />
    <path
      d="M97.6215 51.9255L71.9215 23.05L27.5547 59.7305V94.3633L59.754 87.8938L97.6215 51.9255Z"
      fill="white"
    />
    <path
      d="M97.6215 51.9256L66.9061 27.4126L27.5547 95.1647L59.754 87.8939L97.6215 51.9256Z"
      fill="#90AFAF"
    />
    <path
      d="M95.2771 58.2469L66.4313 25.8398L27.5547 57.0598V121.369L95.2771 58.2469Z"
      fill="#374C58"
    />
    <path
      d="M84.2474 59.7009C84.5145 60.7396 85.5532 61.3924 86.5919 61.1254C87.6306 60.8583 88.2834 59.8196 88.0164 58.7809C87.7493 57.7422 86.7106 57.0893 85.6719 57.3564C84.6332 57.5938 83.9803 58.6622 84.2474 59.7009Z"
      fill="#2A3C44"
    />
    <path
      d="M79.6441 64.3304C79.9112 65.3691 80.9499 66.022 81.9886 65.7549C83.0273 65.4878 83.6801 64.4491 83.4131 63.4104C83.146 62.3717 82.1073 61.7188 81.0686 61.9859C80.0299 62.2233 79.4067 63.2917 79.6441 64.3304Z"
      fill="#2A3C44"
    />
    <path
      d="M132.372 24.2373L129.315 20.6761C129.107 20.5277 129.018 19.5484 129.82 19.8155C131.6 20.3496 131.719 22.7238 134.865 16.5807L132.372 24.2373Z"
      fill="#F58D6C"
    />
    <path
      d="M160.189 52.531L162.874 55.6397C165.982 59.2193 171.634 59.7845 175.544 56.8643L177.993 55.0274C181.902 52.1071 182.609 46.8318 179.5 43.2522L176.816 40.1436C173.707 36.5639 168.055 35.9987 164.145 38.9189L161.696 40.7559C157.787 43.6761 157.127 48.9514 160.189 52.531ZM164.334 41.1327C166.924 39.2015 169.562 42.3102 166.972 44.2413C164.381 46.1724 161.743 43.0638 164.334 41.1327Z"
      fill="#102333"
    />
    <path
      d="M173.458 45.2776L186.599 60.5853L188.295 59.4549L189.284 60.5853L188.719 63.0345L189.001 63.3642L190.697 62.2809L191.686 63.4113L191.121 65.8135L191.45 66.1903L193.146 65.107L194.088 66.2374L193.523 68.6395L194.324 69.5344L193.476 75.893L186.787 75.1394L165.922 50.8826L173.458 45.2776Z"
      fill="#819DA5"
    />
    <path
      d="M192.586 67.5094L193.339 68.4043L192.491 74.7629L185.803 74.0093L178.361 65.3428L176.524 63.2232L164.938 49.7524L172.474 44.1475L183.118 56.5349L184.955 58.6545L185.615 59.4552H188.299L187.734 61.9044L188.064 62.2341L190.702 62.2812L190.136 64.7304L190.466 65.0601L193.151 65.1072L192.586 67.5094Z"
      fill="#C8D6D6"
    />
    <path
      d="M184.954 58.6543C182.788 60.9152 180.574 63.1289 178.36 65.3426L176.523 63.2231C178.737 61.0094 180.951 58.7956 183.118 56.5348L184.954 58.6543Z"
      fill="#D4E8E7"
    />
    <path
      d="M190.173 73.0192L186.782 72.0301L167.141 49.1392L168.695 48.0088L190.173 73.0192Z"
      fill="#819DA5"
    />
    <path
      d="M191.58 71.9838L191.25 68.6867L171.609 45.8429L170.055 46.9733L191.58 71.9838Z"
      fill="#819DA5"
    />
    <path
      d="M178.109 41.6511L175.424 38.5425C172.363 34.9628 166.664 34.3976 162.754 37.3179L160.305 39.1548C156.537 41.9808 155.736 47.0206 158.515 50.5531C158.609 50.6944 158.703 50.7886 158.798 50.9299L161.482 54.0386C162.99 55.7813 165.156 56.8175 167.37 57.053C169.725 57.2885 172.174 56.7233 174.153 55.2161L176.602 53.3792C180.511 50.506 181.218 45.2308 178.109 41.6511ZM166.616 43.8648C164.026 45.796 160.917 42.1221 163.461 40.191C166.051 38.307 169.16 41.9808 166.616 43.8648ZM167.323 57.1001C165.062 56.8646 162.943 55.8284 161.435 54.0857L158.751 50.977C158.656 50.8357 158.562 50.7415 158.468 50.6002C158.609 48.9046 158.892 46.8322 158.892 46.6909C158.845 46.4554 158.751 44.2887 158.751 44.2887C161.718 45.3721 165.345 49.3285 167.323 57.1001Z"
      fill="#1F3242"
    />
    <path
      d="M167.05 44.2414C168.416 43.2523 168.651 41.4154 167.568 40.1907C166.485 38.9661 164.553 38.7777 163.188 39.7668"
      stroke="#102333"
      stroke-width="3.11631"
      stroke-miterlimit="10"
    />
    <path
      d="M154.146 44.6185C148.682 44.854 144.349 49.6111 144.537 54.698C144.726 59.7849 149.294 63.6942 154.758 63.4587C160.222 63.2232 164.555 58.89 164.367 53.8031C164.225 48.7633 159.609 44.383 154.146 44.6185ZM154.099 50.7886C150.236 50.977 150.048 46.2199 153.957 46.0786C157.82 45.8902 157.961 50.6473 154.099 50.7886Z"
      fill="#602812"
    />
    <path
      d="M157.292 81.5925C156.68 81.2157 156.632 80.415 157.245 79.9911L159.411 78.4839L159.364 77.3535L157.103 76.0347C156.491 75.6579 156.444 74.8571 157.056 74.4332L159.223 72.926L158.658 55.4988C158.611 54.0387 157.292 52.9082 155.738 53.0024L153.194 53.0966C151.64 53.1437 150.415 54.4155 150.462 55.8756L151.404 83.7592C151.404 84.4186 151.687 85.0309 152.158 85.4548L153.477 86.7265C154.654 87.8569 156.632 87.7627 157.716 86.5381L158.94 85.1722C159.364 84.6541 159.6 84.0418 159.6 83.3824V82.8643L157.292 81.5925Z"
      fill="#819DA5"
    />
    <path
      d="M158.603 54.2741L158.697 56.8175L158.839 61.4804L158.98 66.0963L159.121 70.0057L159.169 71.7013L157.002 73.2085C156.39 73.6324 156.437 74.4331 157.049 74.8099L159.31 76.1288L159.357 77.2592L157.19 78.7664C156.578 79.1903 156.625 79.991 157.237 80.3678L159.498 81.6866V82.2518C159.498 82.9112 159.31 83.5235 158.839 84.0417L157.614 85.4076C156.531 86.6322 154.553 86.7264 153.375 85.596L152.056 84.3243C151.585 83.8533 151.303 83.2409 151.303 82.6286L151.161 78.107L151.02 74.2918L150.596 62.1399L150.455 57.8066L150.361 54.7922C150.314 53.332 151.538 52.1074 153.093 52.0132L155.636 51.919C157.237 51.7306 158.556 52.8139 158.603 54.2741Z"
      fill="#C8D6D6"
    />
    <path
      d="M159.038 66.0953L159.179 70.0047C156.542 72.6894 153.904 75.3742 151.219 78.0118L151.078 74.1966C153.716 71.5119 156.4 68.8272 159.038 66.0953Z"
      fill="#D4E8E7"
    />
    <path
      d="M158.719 56.8173L158.86 61.4802C155.281 63.223 151.465 62.2339 150.665 61.9984L150.523 57.6651C151.277 57.5709 152.455 57.4296 154.103 56.9586C156.976 56.0637 157.4 56.6289 158.719 56.8173Z"
      fill="#819DA5"
    />
    <path
      d="M154.482 84.1829L152.833 82.0163L151.797 54.1798L153.351 54.1327L154.482 84.1829Z"
      fill="#819DA5"
    />
    <path
      d="M154.143 43.1112C151.505 43.2054 149.103 44.2887 147.408 45.9372C146.795 46.5495 146.23 47.2089 145.806 47.9626C144.958 49.3756 144.487 51.0241 144.534 52.7668C144.723 57.8537 149.292 61.763 154.755 61.5275C160.219 61.292 164.552 56.9588 164.364 51.8719C164.223 46.785 159.607 42.8757 154.143 43.1112ZM154.143 50.4118C152.824 50.4589 151.929 49.8466 151.458 48.9988C151.176 48.4336 151.081 47.8213 151.176 47.2089C151.364 45.9843 152.259 44.901 153.955 44.8539C157.817 44.6655 158.005 50.2234 154.143 50.4118Z"
      fill="#89351B"
    />
    <path
      d="M151.48 48.9987C150.02 48.9987 147.712 48.9045 145.781 47.9153C146.205 47.1617 146.77 46.5023 147.383 45.89C148.513 46.361 149.973 46.9733 150.162 47.0204C150.303 47.0675 150.727 47.0675 151.151 47.1617C151.104 47.8211 151.198 48.4334 151.48 48.9987Z"
      fill="#602812"
    />
    <path
      d="M159.571 60.3502C158.158 61.0567 156.51 61.4806 154.767 61.5748C152.883 61.669 151.093 61.2922 149.586 60.6328"
      stroke="#602812"
      stroke-width="0.951147"
      stroke-miterlimit="10"
    />
    <path
      d="M154.277 50.6466C152.534 50.835 150.98 49.6575 150.839 48.0561C150.65 46.4547 151.922 44.9946 153.665 44.8062"
      stroke="#602812"
      stroke-width="1.27386"
      stroke-miterlimit="10"
    />
    <path
      d="M163.191 39.7672C161.825 40.7563 161.59 42.5932 162.673 43.8179C163.757 45.0425 165.688 45.2309 167.054 44.2418"
      stroke="#102333"
      stroke-width="3.11631"
      stroke-miterlimit="10"
    />
    <path
      d="M168.953 57.3835C170.743 57.1951 172.58 56.4886 174.181 55.264L176.631 53.427C178.138 52.2966 179.221 50.9307 179.833 49.4706"
      stroke="#102333"
      stroke-width="1.26676"
      stroke-miterlimit="10"
    />
    <path
      d="M153.672 44.8068C155.415 44.6184 156.969 45.7959 157.11 47.3973C157.299 48.9988 156.027 50.4589 154.284 50.6473"
      stroke="#602812"
      stroke-width="1.27386"
      stroke-miterlimit="10"
    />
    <path
      d="M87.2344 34.5351C87.2344 34.5351 100.915 37.9479 116.555 37.0576C125.369 36.5531 134.153 37.7402 142.433 40.4408C144.481 41.0937 146.469 41.7465 148.131 42.3104C155.521 44.7439 160.625 50.3231 163.059 44.7439C165.522 39.1647 153.948 33.1106 144.273 30.7365C134.628 28.3326 127.921 14.2955 127.921 14.2955L87.2344 34.5351Z"
      fill="#FFB287"
    />
    <path
      d="M-1.67547 145.983L29.1791 119.999L30.8031 55.0389L-1.67729 76.151C-11.1632 98.6249 -5.62792 128.907 -1.67547 145.983Z"
      fill="#374C58"
    />
    <path
      d="M291.844 144.656L293.886 102.135L319.103 103.822C322.273 112.914 317.179 144.833 311.133 163.423L291.844 144.656Z"
      fill="#BA4200"
    />
  </g>
  <defs>
    <filter
      id="filter0_d_2987_10982"
      x="85.1582"
      y="76.6815"
      width="146.133"
      height="159.461"
      filterUnits="userSpaceOnUse"
      color-interpolation-filters="sRGB"
    >
      <feFlood flood-opacity="0" result="BackgroundImageFix" />
      <feColorMatrix
        in="SourceAlpha"
        type="matrix"
        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
        result="hardAlpha"
      />
      <feOffset dx="2" dy="6" />
      <feGaussianBlur stdDeviation="7" />
      <feComposite in2="hardAlpha" operator="out" />
      <feColorMatrix
        type="matrix"
        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0"
      />
      <feBlend
        mode="normal"
        in2="BackgroundImageFix"
        result="effect1_dropShadow_2987_10982"
      />
      <feBlend
        mode="normal"
        in="SourceGraphic"
        in2="effect1_dropShadow_2987_10982"
        result="shape"
      />
    </filter>
  </defs>
</svg>
