<svg
  width="257"
  height="180"
  viewBox="0 0 297 204"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <path
    d="M245.063 34.7719C245.063 28.0727 239.635 22.6439 232.936 22.6439H129.818C124.131 22.6439 119.441 27.1051 119.145 32.785L111.53 182.287C111.301 186.733 114.802 190.485 119.256 190.567L237.448 192.716C241.629 192.79 245.063 189.422 245.063 185.241V34.7719Z"
    fill="#BABABA"
  />
  <path
    d="M236.615 24.9498C236.63 22.8078 234.746 21.146 232.619 21.434C218.534 23.347 170.111 29.2485 130.078 26.1759C128.254 26.0356 126.666 27.4168 126.57 29.2485L118.585 179.423C118.475 181.483 120.048 183.241 122.109 183.367C138.949 184.364 208.297 188.212 233.033 185.627C234.54 185.472 235.685 184.201 235.692 182.687L236.615 24.9498Z"
    fill="#DDDDDD"
  />
  <path
    opacity="0.6"
    d="M235.47 28.7105C235.484 26.6498 233.667 25.0544 231.621 25.3277C218.068 27.1668 171.469 32.8467 132.943 29.8923C131.185 29.7593 129.664 31.0888 129.568 32.8467L121.886 177.363C121.783 179.342 123.297 181.041 125.277 181.159C141.482 182.12 208.215 185.827 232.02 183.331C233.468 183.176 234.569 181.957 234.576 180.502L235.47 28.7105Z"
    fill="white"
  />
  <g opacity="0.6">
    <path
      opacity="0.6"
      d="M136.267 70.174C135.647 70.174 135.167 69.6644 135.204 69.0514L135.218 68.7042C135.248 68.0838 135.787 67.5741 136.408 67.5667L223.704 66.71C224.324 66.7026 224.561 67.1236 224.228 67.648L223.224 69.2286C222.891 69.753 222.108 70.1814 221.495 70.1814H136.267V70.174Z"
      fill="#F64A4C"
    />
  </g>
  <g opacity="0.6">
    <path
      opacity="0.6"
      d="M222.892 73.9255C223.512 73.9181 223.823 74.3761 223.594 74.9522L223.025 76.3482C222.789 76.9243 222.094 77.3896 221.474 77.3896H167.482C166.861 77.3896 166.374 76.88 166.396 76.2669L166.411 75.9198C166.433 75.2993 166.957 74.7897 167.578 74.7749L222.892 73.9255Z"
      fill="#F64A4C"
    />
  </g>
  <g opacity="0.6">
    <path
      opacity="0.6"
      d="M136.267 88.3161C135.647 88.3161 135.167 87.8065 135.204 87.1934L135.218 86.8463C135.248 86.2258 135.787 85.7162 136.408 85.7088L223.704 84.852C224.324 84.8446 224.561 85.2657 224.228 85.7901L223.224 87.3707C222.891 87.8951 222.108 88.3235 221.495 88.3235H136.267V88.3161Z"
      fill="#F64A4C"
    />
  </g>
  <g opacity="0.6">
    <path
      opacity="0.6"
      d="M222.892 92.0676C223.512 92.0602 223.823 92.5181 223.594 93.0943L223.025 94.4902C222.789 95.0663 222.094 95.5317 221.474 95.5317H167.482C166.861 95.5317 166.374 95.022 166.396 94.409L166.411 94.0618C166.433 93.4414 166.957 92.9318 167.578 92.917L222.892 92.0676Z"
      fill="#F64A4C"
    />
  </g>
  <g opacity="0.6">
    <path
      opacity="0.6"
      d="M135.728 108.221C135.108 108.221 134.628 107.712 134.665 107.099L134.679 106.752C134.709 106.131 135.248 105.622 135.869 105.614L223.165 104.757C223.785 104.75 224.022 105.171 223.689 105.695L222.685 107.276C222.352 107.8 221.569 108.229 220.956 108.229H135.728V108.221Z"
      fill="#F64A4C"
    />
  </g>
  <g opacity="0.6">
    <path
      opacity="0.6"
      d="M135.463 119.427C134.842 119.427 134.362 118.917 134.399 118.304L134.414 117.957C134.443 117.336 134.983 116.827 135.603 116.819L222.899 115.962C223.52 115.955 223.756 116.376 223.424 116.901L222.419 118.481C222.087 119.006 221.304 119.434 220.691 119.434H135.463V119.427Z"
      fill="#F64A4C"
    />
  </g>
  <g opacity="0.6">
    <path
      opacity="0.6"
      d="M135.197 130.894C134.577 130.894 134.096 130.384 134.133 129.771L134.148 129.424C134.178 128.804 134.717 128.294 135.337 128.287L222.634 127.43C223.254 127.423 223.49 127.844 223.158 128.368L222.153 129.949C221.821 130.473 221.038 130.901 220.425 130.901H135.197V130.894Z"
      fill="#F64A4C"
    />
  </g>
  <g opacity="0.6">
    <path
      opacity="0.6"
      d="M135.463 142.633C134.842 142.633 134.362 142.124 134.399 141.511L134.414 141.164C134.443 140.543 134.983 140.033 135.603 140.026L222.899 139.169C223.52 139.162 223.756 139.583 223.424 140.107L222.419 141.688C222.087 142.212 221.304 142.641 220.691 142.641H135.463V142.633Z"
      fill="#F64A4C"
    />
  </g>
  <g opacity="0.6">
    <path
      opacity="0.6"
      d="M135.197 154.103C134.577 154.103 134.096 153.594 134.133 152.981L134.148 152.633C134.178 152.013 134.717 151.503 135.337 151.496L222.634 150.639C223.254 150.632 223.49 151.053 223.158 151.577L222.153 153.158C221.821 153.682 221.038 154.111 220.425 154.111H135.197V154.103Z"
      fill="#F64A4C"
    />
  </g>
  <g opacity="0.6">
    <path
      opacity="0.6"
      d="M135.197 166.37C134.576 166.37 134.096 165.86 134.133 165.247L134.148 164.9C134.177 164.28 134.716 163.77 135.337 163.763L222.626 162.906C223.246 162.899 223.483 163.32 223.15 163.844L222.146 165.425C221.813 165.949 221.03 166.377 220.417 166.377H135.197V166.37Z"
      fill="#F64A4C"
    />
  </g>
  <path
    d="M174.978 2.2597C178.7 -0.332818 181.943 -0.281114 184.218 0.39102C186.3 1.00407 187.645 3.01308 187.445 5.16982L186.463 15.9018L174.763 16.9432C174.771 16.9506 167.673 7.34133 174.978 2.2597ZM180.126 10.9236C181.736 10.9236 183.043 9.61624 183.043 8.00608C183.043 6.39591 181.736 5.08857 180.126 5.08857C178.516 5.08857 177.208 6.39591 177.208 8.00608C177.208 9.61624 178.516 10.9236 180.126 10.9236Z"
    fill="url(#paint0_linear_3045_5888)"
  />
  <path
    d="M202.438 22.8441V17.4448C202.438 15.5835 200.895 14.0915 199.033 14.1506L161.83 15.4284C160.175 15.4875 158.838 16.7875 158.742 18.4346L158.432 23.6196L202.438 22.8441Z"
    fill="url(#paint1_linear_3045_5888)"
  />
  <path
    d="M200.422 21.1527C200.578 21.1527 200.703 21.0272 200.703 20.8721V18.6858C200.703 17.0017 199.329 15.6279 197.645 15.6279H191.766C191.611 15.6279 191.485 15.7535 191.485 15.9086C191.485 16.0637 191.611 16.1893 191.766 16.1893H197.645C199.019 16.1893 200.142 17.3046 200.142 18.6858V20.8721C200.142 21.0198 200.267 21.1527 200.422 21.1527Z"
    fill="#F64A4C"
  />
  <path d="M229.545 140.628H200.126V197.368H229.545V140.628Z" fill="white" />
  <g opacity="0.89">
    <path
      opacity="0.89"
      d="M223.252 181.955H206.604C206.559 181.955 206.522 181.918 206.522 181.873V156.118C206.522 156.074 206.559 156.037 206.604 156.037H223.252C223.296 156.037 223.333 156.074 223.333 156.118V181.873C223.333 181.918 223.296 181.955 223.252 181.955Z"
      fill="#F64A4C"
    />
    <g opacity="0.89">
      <path
        opacity="0.89"
        d="M222.064 180.558H215.63C215.608 180.558 215.586 180.536 215.586 180.514V157.492C215.586 157.47 215.608 157.447 215.63 157.447H222.064C222.086 157.447 222.108 157.47 222.108 157.492V180.507C222.108 180.536 222.086 180.558 222.064 180.558Z"
        fill="#BB8572"
      />
      <path
        opacity="0.89"
        d="M214.227 180.558H207.793C207.771 180.558 207.749 180.536 207.749 180.514V157.492C207.749 157.47 207.771 157.447 207.793 157.447H214.227C214.249 157.447 214.271 157.47 214.271 157.492V180.507C214.271 180.536 214.256 180.558 214.227 180.558Z"
        fill="#BB8572"
      />
    </g>
  </g>
  <path
    d="M235.085 145.105H198.731L197.246 118.936L227.3 118.368L236.518 142.867C237.005 143.909 236.245 145.105 235.085 145.105Z"
    fill="#DF5356"
  />
  <path
    d="M227.426 119.571L198.539 119.246L198.724 116.321L225.727 116.528C226.769 116.595 227.566 117.437 227.507 118.419L227.426 119.571Z"
    fill="url(#paint2_linear_3045_5888)"
  />
  <path d="M96.8398 197.169H126.259V140.429H96.8398V197.169Z" fill="white" />
  <g opacity="0.89">
    <path
      opacity="0.89"
      d="M103.141 181.763H119.789C119.833 181.763 119.87 181.726 119.87 181.681V155.926C119.87 155.882 119.833 155.845 119.789 155.845H103.141C103.097 155.845 103.06 155.882 103.06 155.926V181.681C103.06 181.726 103.097 181.763 103.141 181.763Z"
      fill="#F64A4C"
    />
    <g opacity="0.89">
      <path
        opacity="0.89"
        d="M104.329 180.36H110.763C110.785 180.36 110.807 180.338 110.807 180.316V157.293C110.807 157.271 110.785 157.249 110.763 157.249H104.329C104.307 157.249 104.285 157.271 104.285 157.293V180.316C104.285 180.338 104.3 180.36 104.329 180.36Z"
        fill="#CE9D87"
      />
      <path
        opacity="0.89"
        d="M112.16 180.36H118.593C118.615 180.36 118.637 180.338 118.637 180.316V157.293C118.637 157.271 118.615 157.249 118.593 157.249H112.16C112.137 157.249 112.115 157.271 112.115 157.293V180.316C112.115 180.338 112.137 180.36 112.16 180.36Z"
        fill="#CE9D87"
      />
    </g>
  </g>
  <path
    d="M91.3007 144.912H127.655L129.14 118.744L99.0857 118.175L89.8678 142.674C89.3803 143.716 90.1485 144.912 91.3007 144.912Z"
    fill="url(#paint3_linear_3045_5888)"
  />
  <path
    d="M98.9603 119.372L127.847 119.047L127.663 116.122L100.659 116.329C99.6177 116.395 98.82 117.237 98.8791 118.22L98.9603 119.372Z"
    fill="url(#paint4_linear_3045_5888)"
  />
  <path
    opacity="0.89"
    d="M174.696 199.738H150.256V195.823C150.256 195.69 150.359 195.587 150.492 195.587H174.467C174.6 195.587 174.704 195.69 174.704 195.823V199.738H174.696Z"
    fill="#F64A4C"
  />
  <path
    d="M122.196 136.997V199.676H202.468C203.281 199.676 203.946 199.018 203.946 198.199V136.997H122.196Z"
    fill="#F8F8F8"
  />
  <path
    d="M170.818 195.598H154.133V163.313C154.133 163.166 154.251 163.048 154.399 163.048H170.552C170.7 163.048 170.818 163.166 170.818 163.313V195.598Z"
    fill="#DF5356"
  />
  <path
    d="M170.191 194.373H154.769V164.548C154.769 164.4 154.887 164.282 155.034 164.282H169.925C170.073 164.282 170.191 164.4 170.191 164.548V194.373Z"
    fill="url(#paint5_linear_3045_5888)"
  />
  <path
    opacity="0.89"
    d="M169.636 160.861H155.307C154.657 160.861 154.133 160.337 154.133 159.687V158.66C154.133 158.04 154.613 157.53 155.226 157.486C155.905 157.442 170.818 156.984 170.818 157.663V159.687C170.818 160.337 170.286 160.861 169.636 160.861Z"
    fill="#F64A4C"
  />
  <path
    d="M199.537 192.614H176.197C176.071 192.614 175.968 192.51 175.968 192.385V154.76C175.968 154.634 176.071 154.531 176.197 154.531H199.537C199.662 154.531 199.766 154.634 199.766 154.76V192.385C199.773 192.51 199.67 192.614 199.537 192.614Z"
    fill="#F64A4C"
  />
  <path
    d="M198.185 191.202H177.504C177.386 191.202 177.29 191.106 177.29 190.988V156.332C177.29 156.214 177.386 156.118 177.504 156.118H198.185C198.303 156.118 198.399 156.214 198.399 156.332V190.988C198.407 191.106 198.303 191.202 198.185 191.202Z"
    fill="#AB8061"
  />
  <path d="M188.015 155.631H186.804V192.606H188.015V155.631Z" fill="#F64A4C" />
  <path
    d="M149.827 192.614H126.487C126.361 192.614 126.258 192.51 126.258 192.385V154.76C126.258 154.634 126.361 154.531 126.487 154.531H149.827C149.952 154.531 150.056 154.634 150.056 154.76V192.385C150.063 192.51 149.96 192.614 149.827 192.614Z"
    fill="#F64A4C"
  />
  <path
    d="M148.475 191.202H127.794C127.676 191.202 127.58 191.106 127.58 190.988V156.332C127.58 156.214 127.676 156.118 127.794 156.118H148.475C148.594 156.118 148.69 156.214 148.69 156.332V190.988C148.69 191.106 148.594 191.202 148.475 191.202Z"
    fill="#AB8061"
  />
  <path d="M138.305 155.631H137.094V192.606H138.305V155.631Z" fill="#F64A4C" />
  <path
    d="M204.899 101.944L204.204 101.419V100.688H203.237L163.064 70.3311L122.455 100.688V136.998H204.204V105.688L204.899 101.944Z"
    fill="#F8F8F8"
  />
  <path d="M187.755 73.8659H180.997V84.8785H187.755V73.8659Z" fill="#F7A164" />
  <path
    d="M189.986 75.6441H179.055V72.7118C179.055 72.4607 179.254 72.2613 179.505 72.2613H189.299C189.676 72.2613 189.986 72.5715 189.986 72.9482V75.6441Z"
    fill="#DF5356"
  />
  <path
    d="M119.722 106.475L163.1 73.2075L204.278 105.145C205.777 106.305 207.971 105.492 208.347 103.638L208.924 100.817L163.1 65.9101L118.739 99.7827C117.942 100.388 117.654 101.452 118.038 102.375L119.722 106.475Z"
    fill="url(#paint6_linear_3045_5888)"
  />
  <g opacity="0.89">
    <path
      opacity="0.89"
      d="M154.421 131.624H171.069C171.114 131.624 171.151 131.587 171.151 131.542V105.787C171.151 105.743 171.114 105.706 171.069 105.706H154.421C154.377 105.706 154.34 105.743 154.34 105.787V131.542C154.34 131.587 154.377 131.624 154.421 131.624Z"
      fill="#F64A4C"
    />
    <g opacity="0.89">
      <path
        opacity="0.89"
        d="M155.609 130.219H162.042C162.064 130.219 162.086 130.197 162.086 130.175V107.152C162.086 107.13 162.064 107.108 162.042 107.108H155.609C155.587 107.108 155.564 107.13 155.564 107.152V130.175C155.564 130.197 155.587 130.219 155.609 130.219Z"
        fill="#AB8061"
      />
      <path
        opacity="0.89"
        d="M163.446 130.219H169.879C169.901 130.219 169.923 130.197 169.923 130.175V107.152C169.923 107.13 169.901 107.108 169.879 107.108H163.446C163.424 107.108 163.401 107.13 163.401 107.152V130.175C163.401 130.197 163.416 130.219 163.446 130.219Z"
        fill="#AB8061"
      />
    </g>
  </g>
  <g opacity="0.89">
    <path
      opacity="0.89"
      d="M130.831 131.808H147.479C147.524 131.808 147.561 131.771 147.561 131.727V105.972C147.561 105.927 147.524 105.89 147.479 105.89H130.831C130.787 105.89 130.75 105.927 130.75 105.972V131.727C130.75 131.771 130.787 131.808 130.831 131.808Z"
      fill="#F64A4C"
    />
    <g opacity="0.89">
      <path
        opacity="0.89"
        d="M132.021 130.404H138.454C138.476 130.404 138.498 130.382 138.498 130.36V107.337C138.498 107.315 138.476 107.293 138.454 107.293H132.021C131.999 107.293 131.977 107.315 131.977 107.337V130.36C131.977 130.382 131.999 130.404 132.021 130.404Z"
        fill="#AB8061"
      />
      <path
        opacity="0.89"
        d="M139.858 130.404H146.292C146.314 130.404 146.336 130.382 146.336 130.36V107.337C146.336 107.315 146.314 107.293 146.292 107.293H139.858C139.836 107.293 139.814 107.315 139.814 107.337V130.36C139.807 130.382 139.829 130.404 139.858 130.404Z"
        fill="#AB8061"
      />
    </g>
  </g>
  <g opacity="0.89">
    <path
      opacity="0.89"
      d="M176.993 132.036H193.642C193.686 132.036 193.723 131.999 193.723 131.955V106.207C193.723 106.163 193.686 106.126 193.642 106.126H176.993C176.949 106.126 176.912 106.163 176.912 106.207V131.963C176.912 131.999 176.949 132.036 176.993 132.036Z"
      fill="#F64A4C"
    />
    <g opacity="0.89">
      <path
        opacity="0.89"
        d="M178.184 130.64H184.617C184.639 130.64 184.662 130.617 184.662 130.595V107.573C184.662 107.551 184.639 107.528 184.617 107.528H178.184C178.162 107.528 178.14 107.551 178.14 107.573V130.595C178.14 130.617 178.162 130.64 178.184 130.64Z"
        fill="#AB8061"
      />
      <path
        opacity="0.89"
        d="M186.021 130.64H192.455C192.477 130.64 192.499 130.617 192.499 130.595V107.573C192.499 107.551 192.477 107.528 192.455 107.528H186.021C185.999 107.528 185.977 107.551 185.977 107.573V130.595C185.97 130.617 185.992 130.64 186.021 130.64Z"
        fill="#AB8061"
      />
    </g>
  </g>
  <path
    d="M205.623 140.933H120.513C120.158 140.933 119.87 140.645 119.87 140.291V136.893C119.87 136.538 120.158 136.25 120.513 136.25H205.63C205.985 136.25 206.273 136.538 206.273 136.893V140.291C206.265 140.645 205.977 140.933 205.623 140.933Z"
    fill="#EE8C55"
  />
  <path
    d="M100.525 196.214C97.0807 196.515 91.0944 196.991 86.3731 197.204C83.5427 197.329 81.9022 197.053 80.9629 196.678C80.9629 196.778 80.9629 196.878 80.9754 196.978C81.0005 197.479 81.4012 197.867 81.9022 197.905C90.8189 198.406 97.9072 198.08 100.424 197.917C100.95 197.88 101.251 197.316 100.988 196.878C100.863 196.64 100.7 196.427 100.525 196.214Z"
    fill="url(#paint7_linear_3045_5888)"
  />
  <path
    d="M86.3842 197.203C91.1056 196.99 97.0793 196.514 100.536 196.213C97.1419 192.055 86.3842 189.25 86.3842 189.25H83.341C81.2495 192.268 80.949 195.136 80.974 196.677C81.9133 197.04 83.5414 197.328 86.3842 197.203Z"
    fill="url(#paint8_linear_3045_5888)"
  />
  <path
    d="M82.8281 184.291L83.1162 189.914C83.1412 190.528 83.6046 191.042 84.2182 191.117C84.8194 191.204 85.6334 191.217 86.4975 190.929C87.0235 190.754 87.4243 190.303 87.5244 189.764L88.5013 184.291H82.8281Z"
    fill="url(#paint9_linear_3045_5888)"
  />
  <path
    d="M47.5617 202.7C46.0714 202.425 45.3951 201.423 45.1071 200.358C45.1071 200.371 45.1071 200.383 45.1071 200.383C44.8817 201.511 45.3951 202.688 46.4221 203.251C47.6494 203.928 49.0019 204.04 50.0414 203.99C51.1685 203.928 52.1954 203.327 52.759 202.375L52.7715 202.362C51.6444 203.064 50.0664 203.151 47.5617 202.7Z"
    fill="url(#paint10_linear_3045_5888)"
  />
  <path
    d="M54.6118 186.02H52.1071C48.2874 185.919 45.8954 196.327 45.1064 200.347C45.3945 201.424 46.0708 202.425 47.5611 202.688C50.0532 203.139 51.6312 203.052 52.7583 202.338C54.8247 198.831 55.8391 193.697 56.34 190.703C56.9036 187.297 54.6118 186.02 54.6118 186.02Z"
    fill="url(#paint11_linear_3045_5888)"
  />
  <path
    d="M52.4334 180.796L51.0433 186.332C50.8679 187.008 51.1935 187.709 51.8197 188.035C52.5962 188.436 53.6982 188.849 54.7001 188.736C55.176 188.674 55.5642 188.348 55.727 187.897L57.7684 182.074L52.4334 180.796Z"
    fill="url(#paint12_linear_3045_5888)"
  />
  <path
    d="M101.374 107.91C101.374 107.91 88.9385 185.631 89.1514 186.057C89.1514 186.057 85.72 187.622 81.9755 186.257C81.9755 186.257 83.1026 144.704 85.7325 128.774C85.7325 128.774 64.5177 165.906 57.78 184.416C57.78 184.416 54.2609 184.003 51.3555 182.087C51.3555 182.087 74.1984 115.249 80.2973 106.345L101.374 107.91Z"
    fill="url(#paint13_linear_3045_5888)"
  />
  <path
    d="M86.2219 128.387C86.1593 128.387 86.0841 128.375 86.0215 128.337C85.8462 128.224 85.7961 127.999 85.9088 127.836L90.555 120.41C90.6051 120.322 90.6928 120.259 90.793 120.247L94.2119 119.558C94.4123 119.521 94.6001 119.646 94.6502 119.846C94.6878 120.047 94.5626 120.234 94.3622 120.285L91.0936 120.936L86.535 128.224C86.4724 128.325 86.3471 128.387 86.2219 128.387Z"
    fill="url(#paint14_linear_3045_5888)"
  />
  <path
    d="M158.432 31.8062C158.432 31.8062 150.041 33.6596 144.944 36.0141C143.93 36.4774 143.128 37.304 142.665 38.3059C141.137 41.6496 136.579 50.0279 127.712 54.0354C128.989 55.7261 131.043 59.2452 131.932 65.1688C137.255 61.2114 141.838 54.599 144.043 43.7536C144.043 43.7536 145.721 44.6678 147.812 43.6534C148.914 43.1149 150.192 42.351 151.156 41.7498C152.108 41.1487 152.822 40.222 153.097 39.1449C153.46 37.7172 153.247 36.4524 153.247 35.0998L157.555 33.7598C157.568 33.7723 158.87 33.2839 158.432 31.8062Z"
    fill="url(#paint15_linear_3045_5888)"
  />
  <path
    d="M131.933 65.1672C131.044 59.2436 128.99 55.7245 127.713 54.0338C122.215 56.5134 115.051 57.3149 105.947 54.159C105.108 53.871 104.231 53.6956 103.342 53.6455C98.4952 53.3575 82.5026 52.844 69.2778 57.2147C66.4976 58.129 64.2434 60.1954 63.0787 62.8629C59.4969 71.0783 53.7111 89.7759 69.7913 99.2186C71.0311 96.1503 72.4588 93.6832 73.6736 91.8798C71.0812 87.5091 70.3173 81.5479 74.9134 73.7708C78.2697 82.8253 79.8351 96.0251 80.1607 101.861C80.2735 103.79 79.9353 105.706 79.1714 107.484L79.0837 107.672C78.9209 108.048 79.1463 108.486 79.5471 108.586C88.6016 110.615 98.0193 110.064 100.825 109.839C101.325 109.801 101.739 109.438 101.864 108.949C106.272 90.4021 106.272 77.7408 105.195 69.7508C109.328 70.665 121.914 72.6187 131.933 65.1672Z"
    fill="#DADADA"
  />
  <path
    d="M105.22 70.2403C105.045 70.2403 104.882 70.1025 104.857 69.9272C103.817 62.1125 101.713 58.7062 101.701 58.6686C101.588 58.4933 101.638 58.2678 101.814 58.1676C101.989 58.0549 102.214 58.105 102.314 58.2803C102.402 58.4181 104.519 61.837 105.583 69.827C105.608 70.0274 105.47 70.2153 105.27 70.2403C105.257 70.2403 105.245 70.2403 105.22 70.2403Z"
    fill="url(#paint16_linear_3045_5888)"
  />
  <path
    d="M82.878 42.8369C82.878 42.8369 81.9638 52.5175 81.1497 55.3854C81.0245 55.8237 81.2124 56.2746 81.6131 56.5C82.9782 57.2765 86.2593 58.5539 90.7553 56.3623C91.4816 56.0116 91.92 55.2477 91.8824 54.4461L91.4816 45.0911L82.878 42.8369Z"
    fill="url(#paint17_linear_3045_5888)"
  />
  <path
    d="M91.6936 30.4531C91.6936 30.4531 94.6241 37.1782 94.8245 40.7098C95.0249 44.2414 95.7763 46.5333 91.6936 47.2471C87.611 47.9609 84.167 45.9196 82.301 42.4005C82.301 42.4005 79.383 36.9778 80.0342 34.7611C80.698 32.5445 91.6936 30.4531 91.6936 30.4531Z"
    fill="url(#paint18_linear_3045_5888)"
  />
  <path
    d="M83.703 39.8828L83.941 39.7827C84.2415 39.6574 84.3668 39.2942 84.2165 39.0187C83.6404 37.9041 82.5133 35.3618 83.966 34.7607C85.832 33.9968 93.2334 32.4814 94.8364 29.8515C96.3768 27.3217 95.0118 24.0656 92.9704 23.1389C92.8327 23.0763 92.6699 23.1264 92.6072 23.2641L92.4319 23.5897C92.3192 23.8152 91.9936 23.7776 91.9184 23.5396C91.8558 23.3142 91.5427 23.2641 91.4175 23.4645C90.9291 24.2535 89.6016 25.5309 86.0574 26.1821C81.023 27.1088 77.6917 29.1502 77.6041 32.6317C77.6041 32.8571 77.3661 32.9699 77.1783 32.8571C76.8026 32.6317 76.214 32.519 75.4125 33.1953C74.0349 34.36 74.5984 37.3781 77.6291 39.8578C77.7794 39.9705 77.7669 40.1959 77.6166 40.2961C77.0656 40.6593 76.2515 41.5109 78.368 42.638C80.5596 43.8152 82.2002 43.715 82.8389 43.6148C83.0017 43.5898 83.1019 43.4395 83.0643 43.2767L82.3881 40.221C82.3505 40.0456 82.4757 39.8828 82.6636 39.8828H83.703Z"
    fill="url(#paint19_linear_3045_5888)"
  />
  <path
    d="M83.8282 40.5235C83.8282 40.5235 82.7136 36.2279 80.785 37.4302C78.8564 38.6325 81.7869 42.2517 83.3398 42.402L83.8282 40.5235Z"
    fill="url(#paint20_linear_3045_5888)"
  />
  <path
    d="M146.285 42.7621C146.21 42.7621 146.122 42.737 146.06 42.6744C145.897 42.5492 145.884 42.3112 146.009 42.161C146.323 41.7727 149.14 38.3288 150.23 37.7151C150.631 37.4897 150.856 37.2643 150.906 37.0514C150.931 36.9512 150.919 36.8384 150.856 36.7007L147.55 37.3644L145.671 38.9675C145.521 39.1052 145.283 39.0802 145.158 38.9299C145.02 38.7796 145.045 38.5417 145.195 38.4164L147.137 36.7508C147.187 36.7132 147.237 36.6882 147.299 36.6756L150.956 35.9368C151.107 35.9117 151.244 35.9743 151.332 36.087C151.595 36.4878 151.695 36.851 151.607 37.2142C151.507 37.64 151.169 38.0157 150.568 38.3538C149.754 38.8172 147.4 41.5974 146.561 42.6243C146.498 42.712 146.398 42.7621 146.285 42.7621Z"
    fill="#F8A570"
  />
  <path
    d="M83.692 103.864L96.6413 104.027L92.1077 99.7563C90.9806 98.6918 89.2649 98.529 87.9625 99.3681C87.1985 99.8565 86.372 100.533 85.6581 101.422C85.6581 101.422 77.5805 98.4664 73.6606 91.8665C72.4458 93.6824 71.0181 96.1496 69.7783 99.2053C73.2974 101.272 77.8435 102.887 83.692 103.864Z"
    fill="url(#paint21_linear_3045_5888)"
  />
  <path
    d="M279.941 180.27C279.941 180.27 294.191 116.159 275.032 124.976C255.887 133.792 273.101 178.548 275.032 181.347C276.977 184.162 278.834 185.763 279.941 180.27Z"
    fill="url(#paint22_linear_3045_5888)"
  />
  <path
    d="M278.52 182.034C278.52 182.034 272.308 137.668 290.075 141.065C307.843 144.463 280.93 181.66 280.765 183.262C280.585 184.863 278.52 182.034 278.52 182.034Z"
    fill="url(#paint23_linear_3045_5888)"
  />
  <path
    d="M276.244 182.276C276.244 182.276 272.023 142.789 258.372 149.18C244.721 155.572 274.224 182.426 274.688 183.773C275.152 185.12 276.244 182.276 276.244 182.276Z"
    fill="url(#paint24_linear_3045_5888)"
  />
  <g opacity="0.7">
    <path
      opacity="0.7"
      d="M281.169 132.237C281.064 132.237 280.959 132.162 280.929 132.057C280.361 130.156 279.418 128.869 278.13 128.24C276.304 127.357 274.403 128.121 274.388 128.121C274.253 128.166 274.119 128.106 274.059 127.986C274.014 127.851 274.074 127.716 274.194 127.657C274.283 127.627 276.334 126.818 278.355 127.791C279.777 128.48 280.81 129.857 281.423 131.908C281.468 132.042 281.393 132.177 281.259 132.222C281.214 132.237 281.199 132.237 281.169 132.237Z"
      fill="#F64A4C"
    />
    <path
      opacity="0.7"
      d="M281.168 176.185C281.123 176.185 281.079 176.17 281.034 176.14C280.914 176.065 280.884 175.915 280.959 175.796C281.034 175.691 287.784 165.213 292.245 155.528C293.637 152.52 293.832 149.9 292.844 147.715C291.362 144.437 287.665 143.314 287.62 143.299C287.485 143.254 287.41 143.119 287.455 142.985C287.5 142.85 287.635 142.775 287.769 142.82C287.934 142.865 291.736 144.032 293.308 147.52C294.356 149.84 294.146 152.594 292.709 155.753C288.233 165.467 281.468 175.975 281.393 176.08C281.333 176.14 281.258 176.185 281.168 176.185Z"
      fill="#F64A4C"
    />
    <path
      opacity="0.7"
      d="M272.651 176.051C272.532 176.051 272.427 175.961 272.397 175.841C272.382 175.796 271.589 171.441 267.667 159.571C266.155 155.005 264.149 152.191 261.844 151.443C259.838 150.799 258.267 151.922 258.252 151.937C258.132 152.026 257.982 151.996 257.892 151.877C257.818 151.772 257.833 151.607 257.952 151.517C258.027 151.458 259.734 150.23 261.994 150.949C264.494 151.742 266.574 154.586 268.146 159.391C272.068 171.306 272.876 175.692 272.891 175.722C272.921 175.856 272.831 175.991 272.681 176.021C272.681 176.051 272.666 176.051 272.651 176.051Z"
      fill="#F64A4C"
    />
  </g>
  <path
    d="M264.882 180.121L268.744 193.922C269.342 196.048 271.273 197.514 273.474 197.529L282.215 197.589C284.73 197.604 286.856 195.748 287.17 193.263L288.996 178.789L264.882 180.121Z"
    fill="url(#paint25_linear_3045_5888)"
  />
  <path
    d="M288.638 177.801L264.628 178.221C263.46 178.236 262.517 179.268 262.532 180.511C262.547 181.753 263.49 182.756 264.658 182.741L288.638 182.517C289.91 182.502 290.958 181.439 290.958 180.122C290.958 178.819 289.925 177.787 288.638 177.801Z"
    fill="url(#paint26_linear_3045_5888)"
  />
  <path
    d="M25.1727 165.715C25.1727 165.715 39.4227 101.605 20.263 110.421C1.11818 119.238 18.332 163.994 20.263 166.793C22.2089 169.607 24.065 171.208 25.1727 165.715Z"
    fill="url(#paint27_linear_3045_5888)"
  />
  <path
    d="M23.7511 167.48C23.7511 167.48 17.5392 123.113 35.3068 126.511C53.0745 129.909 26.1611 167.105 25.9964 168.707C25.8168 170.309 23.7511 167.48 23.7511 167.48Z"
    fill="url(#paint28_linear_3045_5888)"
  />
  <path
    d="M21.4758 167.721C21.4758 167.721 17.2547 128.234 3.60332 134.626C-10.048 141.017 19.455 167.871 19.9191 169.218C20.3831 170.565 21.4758 167.721 21.4758 167.721Z"
    fill="url(#paint29_linear_3045_5888)"
  />
  <g opacity="0.7">
    <path
      opacity="0.7"
      d="M26.4013 117.683C26.2966 117.683 26.1918 117.608 26.1618 117.503C25.593 115.602 24.65 114.315 23.3627 113.686C21.5366 112.803 19.6355 113.566 19.6206 113.566C19.4859 113.611 19.3512 113.552 19.2913 113.432C19.2464 113.297 19.3062 113.162 19.426 113.102C19.5158 113.072 21.5665 112.264 23.5872 113.237C25.0093 113.926 26.0421 115.303 26.6558 117.354C26.7007 117.488 26.6259 117.623 26.4911 117.668C26.4462 117.683 26.4313 117.683 26.4013 117.683Z"
      fill="#F64A4C"
    />
    <path
      opacity="0.7"
      d="M26.4008 161.631C26.3559 161.631 26.3109 161.616 26.266 161.586C26.1463 161.511 26.1164 161.361 26.1912 161.242C26.266 161.137 33.0169 150.659 37.4775 140.974C38.8696 137.965 39.0642 135.346 38.0763 133.16C36.5944 129.882 32.8971 128.76 32.8522 128.745C32.7175 128.7 32.6427 128.565 32.6876 128.43C32.7325 128.296 32.8672 128.221 33.0019 128.266C33.1665 128.311 36.9686 129.478 38.5403 132.966C39.5881 135.286 39.3785 138.04 37.9415 141.199C33.4659 150.913 26.7001 161.421 26.6253 161.526C26.5654 161.586 26.4906 161.631 26.4008 161.631Z"
      fill="#F64A4C"
    />
    <path
      opacity="0.7"
      d="M17.8838 161.497C17.7641 161.497 17.6593 161.407 17.6294 161.287C17.6144 161.242 16.8211 156.886 12.8993 145.016C11.3875 140.451 9.3817 137.637 7.07654 136.888C5.07075 136.245 3.49905 137.367 3.48408 137.382C3.36434 137.472 3.21466 137.442 3.12485 137.322C3.05001 137.218 3.06496 137.053 3.18471 136.963C3.25956 136.903 4.96597 135.676 7.22623 136.394C9.72598 137.188 11.8066 140.032 13.3783 144.837C17.3001 156.752 18.1084 161.137 18.1234 161.167C18.1533 161.302 18.0635 161.437 17.9138 161.467C17.9138 161.497 17.8988 161.497 17.8838 161.497Z"
      fill="#F64A4C"
    />
  </g>
  <path
    d="M10.1133 165.564L13.9752 179.365C14.5739 181.491 16.5048 182.958 18.7052 182.973L27.4469 183.033C29.9616 183.048 32.0871 181.191 32.4015 178.707L34.2277 164.232L10.1133 165.564Z"
    fill="url(#paint30_linear_3045_5888)"
  />
  <path
    d="M33.869 163.245L9.85945 163.664C8.6919 163.679 7.74888 164.712 7.76385 165.954C7.77882 167.196 8.72183 168.199 9.88938 168.184L33.869 167.96C35.1413 167.945 36.1891 166.882 36.1891 165.565C36.1891 164.263 35.1563 163.23 33.869 163.245Z"
    fill="url(#paint31_linear_3045_5888)"
  />
  <defs>
    <linearGradient
      id="paint0_linear_3045_5888"
      x1="163.476"
      y1="-13.1297"
      x2="210.907"
      y2="49.2656"
      gradientUnits="userSpaceOnUse"
    >
      <stop stop-color="#FFEEE1" />
      <stop offset="1" stop-color="#242424" />
    </linearGradient>
    <linearGradient
      id="paint1_linear_3045_5888"
      x1="158.272"
      y1="-9.17541"
      x2="205.704"
      y2="53.22"
      gradientUnits="userSpaceOnUse"
    >
      <stop stop-color="white" />
      <stop offset="1" />
    </linearGradient>
    <linearGradient
      id="paint2_linear_3045_5888"
      x1="207.555"
      y1="37.4231"
      x2="213.693"
      y2="128.772"
      gradientUnits="userSpaceOnUse"
    >
      <stop stop-color="#DF5356" />
      <stop offset="1" stop-color="#DF5356" />
    </linearGradient>
    <linearGradient
      id="paint3_linear_3045_5888"
      x1="69.3269"
      y1="212.465"
      x2="129.264"
      y2="102.34"
      gradientUnits="userSpaceOnUse"
    >
      <stop stop-color="#DF5356" />
      <stop offset="1" stop-color="#DF5356" />
    </linearGradient>
    <linearGradient
      id="paint4_linear_3045_5888"
      x1="118.834"
      y1="37.2264"
      x2="112.696"
      y2="128.576"
      gradientUnits="userSpaceOnUse"
    >
      <stop stop-color="#DF5356" />
      <stop offset="1" stop-color="#DF5356" />
    </linearGradient>
    <linearGradient
      id="paint5_linear_3045_5888"
      x1="205.01"
      y1="102.811"
      x2="154.261"
      y2="194.22"
      gradientUnits="userSpaceOnUse"
    >
      <stop stop-color="#A0A0A0" />
      <stop offset="1" stop-color="#665142" />
    </linearGradient>
    <linearGradient
      id="paint6_linear_3045_5888"
      x1="166.694"
      y1="54.016"
      x2="162.165"
      y2="118.809"
      gradientUnits="userSpaceOnUse"
    >
      <stop stop-color="#DF5356" />
      <stop offset="1" stop-color="#DF5356" />
    </linearGradient>
    <linearGradient
      id="paint7_linear_3045_5888"
      x1="80.9736"
      y1="197.183"
      x2="101.096"
      y2="197.183"
      gradientUnits="userSpaceOnUse"
    >
      <stop stop-color="white" />
      <stop offset="1" stop-color="#D9D9D9" />
    </linearGradient>
    <linearGradient
      id="paint8_linear_3045_5888"
      x1="80.9711"
      y1="193.238"
      x2="100.527"
      y2="193.238"
      gradientUnits="userSpaceOnUse"
    >
      <stop stop-color="#DADADA" />
      <stop offset="1" stop-color="#7C7C7C" />
    </linearGradient>
    <linearGradient
      id="paint9_linear_3045_5888"
      x1="82.8307"
      y1="187.732"
      x2="88.4988"
      y2="187.732"
      gradientUnits="userSpaceOnUse"
    >
      <stop stop-color="#F9B776" />
      <stop offset="1" stop-color="#F47960" />
    </linearGradient>
    <linearGradient
      id="paint10_linear_3045_5888"
      x1="45.0563"
      y1="202.171"
      x2="52.7676"
      y2="202.171"
      gradientUnits="userSpaceOnUse"
    >
      <stop stop-color="white" />
      <stop offset="1" stop-color="#DBDBDB" />
    </linearGradient>
    <linearGradient
      id="paint11_linear_3045_5888"
      x1="45.1117"
      y1="194.498"
      x2="56.4305"
      y2="194.498"
      gradientUnits="userSpaceOnUse"
    >
      <stop stop-color="#DADADA" />
      <stop offset="1" stop-color="#9F9F9F" />
    </linearGradient>
    <linearGradient
      id="paint12_linear_3045_5888"
      x1="50.9957"
      y1="184.776"
      x2="57.7697"
      y2="184.776"
      gradientUnits="userSpaceOnUse"
    >
      <stop stop-color="#F9B776" />
      <stop offset="1" stop-color="#F47960" />
    </linearGradient>
    <linearGradient
      id="paint13_linear_3045_5888"
      x1="52.0158"
      y1="173.555"
      x2="156.379"
      y2="86.2693"
      gradientUnits="userSpaceOnUse"
    >
      <stop stop-color="#F3E2C8" />
      <stop offset="1" stop-color="#A0A0A0" />
    </linearGradient>
    <linearGradient
      id="paint14_linear_3045_5888"
      x1="90.2582"
      y1="80.7344"
      x2="90.2582"
      y2="190.158"
      gradientUnits="userSpaceOnUse"
    >
      <stop stop-color="#A9A9A9" />
      <stop offset="0.9964" stop-color="#CDCDCD" />
    </linearGradient>
    <linearGradient
      id="paint15_linear_3045_5888"
      x1="144.169"
      y1="42.0901"
      x2="117.34"
      y2="76.9938"
      gradientUnits="userSpaceOnUse"
    >
      <stop stop-color="#F9B776" />
      <stop offset="1" stop-color="#F47960" />
    </linearGradient>
    <linearGradient
      id="paint16_linear_3045_5888"
      x1="111.71"
      y1="45.1884"
      x2="95.2649"
      y2="83.7711"
      gradientUnits="userSpaceOnUse"
    >
      <stop stop-color="#E3E3E3" />
      <stop offset="0.9964" stop-color="#949494" />
    </linearGradient>
    <linearGradient
      id="paint17_linear_3045_5888"
      x1="84.3682"
      y1="64.6463"
      x2="87.3034"
      y2="49.2369"
      gradientUnits="userSpaceOnUse"
    >
      <stop stop-color="#F9B776" />
      <stop offset="1" stop-color="#F47960" />
    </linearGradient>
    <linearGradient
      id="paint18_linear_3045_5888"
      x1="92.3093"
      y1="36.3769"
      x2="75.5626"
      y2="49.1907"
      gradientUnits="userSpaceOnUse"
    >
      <stop stop-color="#F9B776" />
      <stop offset="1" stop-color="#F47960" />
    </linearGradient>
    <linearGradient
      id="paint19_linear_3045_5888"
      x1="80.5198"
      y1="26.2307"
      x2="96.1167"
      y2="46.3117"
      gradientUnits="userSpaceOnUse"
    >
      <stop stop-color="#818181" />
      <stop offset="1" stop-color="#150E42" />
    </linearGradient>
    <linearGradient
      id="paint20_linear_3045_5888"
      x1="90.2315"
      y1="33.6636"
      x2="73.4848"
      y2="46.4774"
      gradientUnits="userSpaceOnUse"
    >
      <stop stop-color="#F9B776" />
      <stop offset="1" stop-color="#F47960" />
    </linearGradient>
    <linearGradient
      id="paint21_linear_3045_5888"
      x1="100.052"
      y1="75.5932"
      x2="88.3301"
      y2="93.1753"
      gradientUnits="userSpaceOnUse"
    >
      <stop stop-color="#F9B776" />
      <stop offset="1" stop-color="#F47960" />
    </linearGradient>
    <linearGradient
      id="paint22_linear_3045_5888"
      x1="276.076"
      y1="191.346"
      x2="276.076"
      y2="128.241"
      gradientUnits="userSpaceOnUse"
    >
      <stop stop-color="#DA6567" />
      <stop offset="1" stop-color="#EEA29F" />
    </linearGradient>
    <linearGradient
      id="paint23_linear_3045_5888"
      x1="256.695"
      y1="200.399"
      x2="304.035"
      y2="130.106"
      gradientUnits="userSpaceOnUse"
    >
      <stop stop-color="white" />
      <stop offset="1" stop-color="#F64A4C" />
    </linearGradient>
    <linearGradient
      id="paint24_linear_3045_5888"
      x1="263.557"
      y1="155.556"
      x2="282.577"
      y2="283.259"
      gradientUnits="userSpaceOnUse"
    >
      <stop stop-color="#FFA9AB" />
      <stop offset="1" stop-color="#415B27" />
    </linearGradient>
    <linearGradient
      id="paint25_linear_3045_5888"
      x1="264.88"
      y1="188.202"
      x2="288.986"
      y2="188.202"
      gradientUnits="userSpaceOnUse"
    >
      <stop stop-color="#DC5455" />
      <stop offset="1" stop-color="#F9E5E5" />
    </linearGradient>
    <linearGradient
      id="paint26_linear_3045_5888"
      x1="276.58"
      y1="178.434"
      x2="278.556"
      y2="200.565"
      gradientUnits="userSpaceOnUse"
    >
      <stop stop-color="#CCB8B6" />
      <stop offset="0.0001" stop-color="white" />
      <stop offset="1" stop-color="#FFDAD8" />
    </linearGradient>
    <linearGradient
      id="paint27_linear_3045_5888"
      x1="21.3078"
      y1="176.791"
      x2="21.3078"
      y2="113.686"
      gradientUnits="userSpaceOnUse"
    >
      <stop stop-color="#DA6567" />
      <stop offset="1" stop-color="#EEA29F" />
    </linearGradient>
    <linearGradient
      id="paint28_linear_3045_5888"
      x1="1.92641"
      y1="185.844"
      x2="49.2665"
      y2="115.552"
      gradientUnits="userSpaceOnUse"
    >
      <stop stop-color="white" />
      <stop offset="1" stop-color="#F64A4C" />
    </linearGradient>
    <linearGradient
      id="paint29_linear_3045_5888"
      x1="8.78862"
      y1="141.001"
      x2="27.8086"
      y2="268.704"
      gradientUnits="userSpaceOnUse"
    >
      <stop stop-color="#FFA9AB" />
      <stop offset="1" stop-color="#415B27" />
    </linearGradient>
    <linearGradient
      id="paint30_linear_3045_5888"
      x1="10.1116"
      y1="173.645"
      x2="34.2176"
      y2="173.645"
      gradientUnits="userSpaceOnUse"
    >
      <stop stop-color="#DC5455" />
      <stop offset="1" stop-color="#F9E5E5" />
    </linearGradient>
    <linearGradient
      id="paint31_linear_3045_5888"
      x1="21.8114"
      y1="163.878"
      x2="23.7873"
      y2="186.008"
      gradientUnits="userSpaceOnUse"
    >
      <stop stop-color="#CCB8B6" />
      <stop offset="0.0001" stop-color="white" />
      <stop offset="1" stop-color="#FFDAD8" />
    </linearGradient>
  </defs>
</svg>
