<svg
  width="117"
  height="215"
  viewBox="0 0 117 215"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <path
    d="M58.6822 71.8659L43.0547 64V99.5267C43.0547 99.5267 49.0973 106.82 58.7343 106.82C70.0904 106.82 74.414 100.1 74.414 100.1V69.2613L58.6822 71.8659Z"
    fill="#FFBE9D"
  />
  <path
    d="M74.3594 77.8045C74.3594 77.8045 66.8581 84.7327 43 97.7035L43.0521 74.4706L74.3594 77.8045Z"
    fill="#FFBE9D"
  />
  <path
    d="M41.3532 98.8755C43.1082 98.411 32.7846 102.334 32.5781 102.386L41.7661 117.355L77.3824 124.943L90.8031 103.16L63.7037 95.0558L41.3532 98.8755Z"
    fill="#FFBE9D"
  />
  <path
    d="M92.7132 149.513L114.444 140.17C114.444 140.17 106.185 111.522 104.018 108.476C101.85 105.431 79.4474 98.4626 79.4474 98.4626C79.4474 98.4626 71.7047 111.367 58.4389 112.245C45.1731 113.122 40.1662 111.728 37.5853 100.218C37.5853 100.218 15.3897 105.328 13.6863 107.289C11.9313 109.251 0.265625 141.46 0.265625 141.46C0.265625 141.46 23.2872 147.964 24.1647 148.429C25.0422 148.842 26.5391 182.961 26.5391 182.961C26.5391 182.961 16.2671 209.544 15.8542 214.293L100.198 214.087L91.4744 163.862L92.7132 149.513Z"
    fill="url(#paint0_linear_3068_8332)"
  />
  <path
    d="M17.6538 123.652C17.6538 123.652 17.8086 124.013 18.0151 124.684C18.2216 125.407 18.4797 126.336 18.841 127.523C19.512 129.898 20.4412 133.201 21.4735 136.866C21.9897 138.673 22.4542 140.428 22.8672 142.028C23.0737 142.802 23.2801 143.577 23.4866 144.299C23.6415 145.022 23.7963 145.693 23.8995 146.312C24.1576 147.551 24.3125 148.532 24.4157 149.203C24.519 149.874 24.5706 150.287 24.5706 150.287C24.5706 150.287 24.519 150.184 24.4673 150.029C24.4157 149.822 24.3641 149.564 24.3125 149.255C24.1576 148.532 23.9512 147.551 23.6931 146.364C23.5382 145.745 23.435 145.073 23.2285 144.402C23.022 143.68 22.8156 142.957 22.6091 142.183C22.1445 140.583 21.68 138.879 21.1638 137.021C20.1831 133.356 19.2539 130.053 18.6345 127.678C18.3248 126.491 18.0667 125.562 17.9119 124.839C17.7054 124.013 17.6022 123.652 17.6538 123.652Z"
    fill="#263238"
  />
  <path
    d="M69.1672 168.405C69.1672 168.405 69.0639 168.508 68.9091 168.663C68.7026 168.818 68.4445 169.024 68.1348 169.282C67.4638 169.85 66.5346 170.624 65.2958 171.553C62.8698 173.412 59.3598 175.838 55.3336 178.212C51.3074 180.587 47.436 182.393 44.6487 183.632C43.255 184.251 42.0678 184.716 41.2935 184.974C40.9322 185.129 40.6225 185.232 40.3644 185.335C40.1579 185.387 40.0547 185.439 40.0547 185.439C40.0547 185.439 40.1579 185.387 40.3644 185.284C40.6225 185.181 40.8806 185.026 41.2935 184.871C42.0678 184.561 43.2034 184.045 44.5971 183.426C47.3844 182.187 51.2041 180.277 55.2303 177.954C59.2565 175.58 62.7665 173.205 65.2442 171.399C66.483 170.47 67.4638 169.747 68.1348 169.231C68.4445 168.973 68.7026 168.766 68.9091 168.611C69.0639 168.456 69.1672 168.405 69.1672 168.405Z"
    fill="#263238"
  />
  <g opacity="0.2">
    <g opacity="0.2">
      <path
        opacity="0.2"
        d="M86.2408 156.997C82.163 152.094 76.3818 148.893 70.4974 146.467C64.5097 143.99 57.9542 142.286 51.6052 143.525C45.7724 144.661 40.7139 148.222 35.8618 151.732C34.2616 152.868 32.6615 154.055 31.5259 155.604C30.2355 157.307 29.5644 159.32 28.945 161.333C27.2932 166.547 27.4481 172.637 26.3125 178.006L26.3641 178.935C27.4481 179.296 27.9643 178.78 28.9966 178.212C35.0359 174.909 37.5136 166.34 44.1723 164.688C45.4111 164.379 46.6499 164.327 47.8888 164.172C51.0891 163.759 54.1861 162.52 56.9219 160.714C58.0059 159.991 59.1415 159.114 60.4319 159.01C61.8256 158.907 63.116 159.681 64.3032 160.352C67.8133 162.314 71.633 163.759 75.5559 164.637C76.0721 164.74 76.6399 164.843 77.0528 165.204C77.569 165.617 77.8271 166.288 78.0336 166.959C79.5305 171.192 81.3887 175.373 84.1761 178.883C87.0151 182.393 90.8348 185.181 95.2223 186.11C94.2932 175.838 92.8479 164.895 86.2408 156.997Z"
        fill="black"
      />
    </g>
  </g>
  <g opacity="0.2">
    <g opacity="0.2">
      <path
        opacity="0.2"
        d="M45.1719 188.329C49.8175 189.929 57.6118 187.813 61.8961 185.439C66.1803 183.013 69.9484 177.851 71.0324 173.05C63.7543 177.748 53.121 184.819 45.1719 188.329Z"
        fill="black"
      />
    </g>
  </g>
  <g opacity="0.2">
    <g opacity="0.2">
      <path
        opacity="0.2"
        d="M21.1091 136.092C20.1283 132.943 19.3541 129.64 18.3733 126.491H18.2701C17.5474 130.311 17.5474 134.286 18.3217 138.105C19.0443 141.925 21.2639 145.435 24.1545 148.016C23.4835 144.351 22.3995 140.015 21.1091 136.092Z"
        fill="black"
      />
    </g>
  </g>
  <path
    d="M17.2339 115.135C17.1823 115.187 16.408 113.587 15.7886 111.573C15.1692 109.509 14.9111 107.805 15.0143 107.805C15.1175 107.805 15.4789 109.457 16.0983 111.47C16.7177 113.483 17.2855 115.135 17.2339 115.135Z"
    fill="#263238"
  />
  <path
    d="M98.581 114.877C98.6842 114.877 97.6002 122.31 96.2066 131.447C94.8129 140.583 93.574 147.964 93.5224 147.964C93.4192 147.964 94.5032 140.531 95.8969 131.395C97.2905 122.259 98.4778 114.877 98.581 114.877Z"
    fill="#263238"
  />
  <path
    d="M62.019 154.876C76.4641 152.558 86.2949 138.968 83.9766 124.523C81.6584 110.078 68.069 100.248 53.6239 102.566C39.1788 104.884 29.3481 118.473 31.6663 132.918C33.9845 147.364 47.5739 157.194 62.019 154.876Z"
    fill="#E3A91E"
  />
  <path
    d="M77.7811 137.396C72.6022 149.703 56.994 154.326 45.9271 146.964C38.8797 142.403 35.0114 133.879 36.314 125.508C38.3196 111.384 53.7387 103.073 66.4837 108.773C77.3072 113.377 82.6458 126.397 77.7811 137.396Z"
    fill="#FAD332"
  />
  <path
    d="M56.4256 147.037L56.4076 142.535C53.8224 142.516 51.147 141.714 49.5741 140.616L50.6368 137.62C52.2386 138.688 54.5656 139.521 57.0634 139.482C60.2294 139.47 62.3714 137.631 62.3321 135.075C62.3223 132.636 60.5735 131.132 57.257 129.809C52.6898 128.056 49.8642 126.034 49.8486 122.142C49.8338 118.453 52.4366 115.625 56.5292 114.912L56.5112 110.41L59.2705 110.399L59.2878 114.726C61.9604 114.803 63.793 115.493 65.1031 116.243L64.0111 119.181C63.0796 118.661 61.2457 117.681 58.3702 117.693C54.9429 117.707 53.6441 119.774 53.6803 121.546C53.6896 123.869 55.3498 125.024 59.2483 126.606C63.845 128.447 66.1779 130.761 66.2228 134.711C66.2369 138.226 63.8104 141.547 59.2243 142.349L59.2429 146.997L56.4256 147.037Z"
    fill="#E8A60A"
  />
  <path
    d="M4.88849 142.802C4.88849 142.802 0.707442 167.011 0.139645 171.14C-0.428151 175.27 0.707445 184.664 4.0626 187.451C7.41776 190.29 10.2567 190.961 12.6312 190.548C15.0056 190.135 22.4902 182.29 25.3292 179.141C28.1681 175.992 42.3114 150.545 42.3114 150.545L29.2521 144.763L21.6127 154.055L23.3161 148.17L4.88849 142.802Z"
    fill="#FFBE9D"
  />
  <path
    d="M21.8723 153.745C21.8723 153.745 21.7175 154.003 21.3562 154.468C20.9948 154.984 20.4787 155.655 19.9109 156.429C19.2915 157.255 18.5172 158.236 17.6397 159.268C16.7622 160.301 15.7814 161.488 14.5942 162.52C13.407 163.604 12.1166 164.378 10.9293 165.101C9.74214 165.824 8.70979 166.443 7.8839 167.062C6.18051 168.25 5.45787 169.334 5.40625 169.282C5.40625 169.282 5.45786 169.23 5.50948 169.076C5.61271 168.972 5.71596 168.766 5.92243 168.559C6.28375 168.095 6.90317 167.527 7.72905 166.856C8.55494 166.237 9.58729 165.566 10.7745 164.843C11.9617 164.12 13.2522 163.346 14.3878 162.314C15.5233 161.23 16.5557 160.146 17.4332 159.062C18.3107 158.029 19.085 157.049 19.756 156.274C20.3754 155.5 20.8916 154.881 21.3045 154.364C21.6142 153.952 21.8723 153.693 21.8723 153.745Z"
    fill="#EB996E"
  />
  <path
    d="M32.2227 141.356C32.2227 141.356 36.3006 137.95 37.591 138.93C38.8814 139.911 38.9331 140.84 38.4169 141.563C37.9007 142.234 34.8036 146.157 34.8036 146.157L37.0748 148.325L41.1526 146.983L42.9076 146.57C42.9076 146.57 47.0887 146.673 46.2112 149.46C46.2112 149.46 50.5471 148.067 51.3214 148.015C52.5086 147.912 55.5024 147.602 55.0894 149.151C54.6765 150.699 52.9731 151.267 52.9731 151.267C52.9731 151.267 54.883 151.886 53.7474 153.59C52.6118 155.293 51.0116 155.654 51.0116 155.654L44.1981 158.39C43.3722 158.7 42.4431 158.752 41.6172 158.442L39.4492 157.668L35.2166 159.526C35.2166 159.526 26.6996 157.048 25.4608 149.615L26.5448 147.292L27.2674 145.95C27.2674 145.95 26.2867 139.601 26.2351 138.724C26.2351 138.104 24.9963 135.369 24.2736 133.769C23.9639 133.046 24.5317 132.272 25.306 132.426C26.0802 132.53 27.1126 132.943 28.3514 134.027C31.2936 136.504 31.6549 139.034 31.6549 139.034L32.2744 141.511"
    fill="#FFBE9D"
  />
  <path
    d="M29.3744 144.246C29.3744 144.246 29.6841 144.04 30.1487 143.575C30.6649 143.162 31.2843 142.44 32.1102 141.614C32.5231 141.201 33.0393 140.788 33.5555 140.323C34.0717 139.859 34.6911 139.394 35.4137 139.085C35.775 138.93 36.188 138.775 36.6009 138.775C36.8074 138.775 37.0139 138.775 37.272 138.827C37.3752 138.878 37.4784 138.878 37.5817 138.93C37.6849 138.981 37.7881 139.033 37.8914 139.085C38.0978 139.239 38.2527 139.343 38.4075 139.601C38.4592 139.704 38.5108 139.859 38.5108 139.962L38.614 140.272C38.6656 140.478 38.7689 140.736 38.6656 140.994C38.614 141.201 38.5108 141.407 38.4592 141.666C38.0978 142.543 37.53 143.214 37.0139 143.885C36.4977 144.556 35.9299 145.176 35.3621 145.692C34.2265 146.776 33.0909 147.705 32.0069 148.118C30.8713 148.582 29.7874 148.376 29.2196 148.066C28.9099 147.911 28.7034 147.756 28.6002 147.602C28.4969 147.447 28.4453 147.395 28.4453 147.395C28.4453 147.343 28.6518 147.705 29.2712 147.963C29.839 148.221 30.8713 148.376 31.9037 147.911C32.9877 147.447 34.0717 146.518 35.1556 145.485C35.7234 144.917 36.2396 144.35 36.7558 143.679C37.272 143.008 37.7881 142.285 38.1495 141.511C38.2527 141.304 38.3043 141.098 38.3559 140.891C38.4075 140.736 38.3559 140.53 38.3043 140.323L38.2011 140.014C38.1495 139.859 38.1495 139.807 38.0978 139.756C37.9946 139.601 37.8398 139.446 37.6849 139.343C37.5817 139.291 37.53 139.239 37.4268 139.188C37.3752 139.136 37.272 139.136 37.1687 139.085C36.9623 139.033 36.8074 139.033 36.6009 139.033C36.2396 139.033 35.8267 139.188 35.5169 139.291C34.8459 139.601 34.2265 140.065 33.7103 140.478C33.1425 140.891 32.678 141.304 32.265 141.717C31.4391 142.543 30.7165 143.214 30.2003 143.627C29.9422 143.833 29.7357 143.988 29.5809 144.092C29.426 144.195 29.3744 144.246 29.3744 144.246Z"
    fill="#EB996E"
  />
  <path
    d="M32.3365 141.511C32.3365 141.614 31.5622 141.666 30.6331 141.666C29.7039 141.666 28.9297 141.614 28.9297 141.511C28.9297 141.408 29.7039 141.356 30.6331 141.356C31.5622 141.356 32.3365 141.459 32.3365 141.511Z"
    fill="#EB996E"
  />
  <path
    d="M34.3782 149.563C34.3782 149.563 34.4815 149.511 34.6879 149.408C34.946 149.305 35.2041 149.202 35.5655 149.047C36.3913 148.737 37.4753 148.273 38.869 147.705C39.54 147.447 40.3143 147.085 41.1918 146.879C42.0177 146.621 42.9984 146.466 44.0308 146.621C44.547 146.724 45.0631 146.879 45.5277 147.137C45.9923 147.395 46.4568 147.808 46.5084 148.427C46.5601 149.047 46.2503 149.615 45.7858 149.976C45.3212 150.337 44.7534 150.544 44.2372 150.75C42.1209 151.576 40.1078 152.35 38.2496 153.073C37.3205 153.434 36.443 153.796 35.5655 153.95C34.6879 154.157 33.8105 154.157 33.0878 153.95C32.3135 153.744 31.7457 153.279 31.436 152.763C31.1263 152.247 31.0747 151.679 31.0231 151.266C30.9715 150.853 30.9715 150.544 31.0231 150.286C31.0231 150.079 31.0231 149.924 31.0747 149.924C31.1263 149.924 31.0747 150.389 31.1779 151.215C31.2296 151.628 31.3328 152.144 31.6425 152.608C31.9522 153.125 32.4684 153.538 33.191 153.692C33.9137 153.847 34.7396 153.847 35.5655 153.641C36.3913 153.434 37.2688 153.125 38.198 152.763C40.0562 152.041 42.0693 151.215 44.1856 150.389C44.7018 150.182 45.218 149.976 45.6309 149.666C46.0439 149.356 46.302 148.84 46.2504 148.376C46.1987 147.911 45.7858 147.55 45.3728 147.292C44.9599 147.034 44.4953 146.879 43.9792 146.776C43.05 146.621 42.0693 146.776 41.2434 146.982C40.4175 147.189 39.6433 147.498 38.9206 147.808C37.5269 148.324 36.443 148.737 35.6171 149.047C35.2557 149.202 34.946 149.305 34.6879 149.356C34.4815 149.511 34.3782 149.563 34.3782 149.563Z"
    fill="#EB996E"
  />
  <path
    d="M46.2689 149.512C46.2689 149.512 46.3721 149.46 46.5786 149.357C46.785 149.254 47.0948 149.151 47.4045 148.996C48.1271 148.738 49.2111 148.273 50.6048 148.015C51.3274 147.86 52.1017 147.757 52.9276 147.809C53.3405 147.809 53.8051 147.86 54.218 147.963C54.4245 148.015 54.6826 148.118 54.8374 148.325C54.9923 148.531 55.0955 148.789 55.0955 149.047C55.0955 149.564 54.7858 150.08 54.4245 150.389C54.0632 150.751 53.5986 150.957 53.1857 151.267C52.3082 151.783 51.3274 152.248 50.3467 152.661C48.3336 153.487 46.3205 154.054 44.5139 154.571C43.6364 154.829 42.7589 155.087 41.933 155.293C41.1071 155.5 40.3844 155.758 39.6618 155.861C38.9391 155.964 38.2681 155.964 37.7003 155.809C37.1325 155.655 36.7196 155.345 36.4615 155.035C36.2034 154.725 36.0485 154.416 35.9969 154.209C35.9453 154.003 35.9453 153.9 35.9453 153.9C35.9969 153.9 35.9969 154.364 36.5131 154.932C36.7712 155.19 37.1841 155.448 37.7519 155.603C38.2681 155.758 38.9391 155.758 39.6102 155.603C40.2812 155.5 41.0555 155.242 41.8297 154.983C42.6556 154.725 43.4815 154.467 44.359 154.209C46.1656 153.693 48.1271 153.125 50.1402 152.299C51.121 151.886 52.1017 151.422 52.9792 150.906C53.3921 150.648 53.8567 150.389 54.218 150.08C54.5794 149.77 54.8374 149.357 54.7858 148.944C54.7858 148.531 54.5277 148.17 54.1148 148.067C53.7018 147.963 53.2889 147.963 52.876 147.912C52.0501 147.86 51.2758 147.963 50.6048 148.067C49.2111 148.325 48.1271 148.738 47.4045 148.944C47.0431 149.047 46.7851 149.151 46.527 149.254C46.3721 149.512 46.2689 149.512 46.2689 149.512Z"
    fill="#EB996E"
  />
  <path
    d="M76.9375 153.28C76.9375 153.28 91.855 190.91 100.269 191.891C109.25 192.923 117.922 184.974 116.322 171.295C115.702 166.03 112.038 141.254 112.038 141.254L93.352 149.254L98.3073 159.526L90.9775 148.067L76.9375 153.28Z"
    fill="#FFBE9D"
  />
  <path
    d="M110.707 178.625C110.655 178.625 110.707 178.16 110.655 177.283C110.604 176.405 110.5 175.166 110.087 173.669C109.675 172.224 108.797 170.521 107.248 169.179C106.526 168.508 105.545 167.992 104.719 167.217C103.842 166.495 103.067 165.617 102.293 164.74C99.1961 161.126 96.8733 157.461 95.2215 154.881C94.3956 153.59 93.7246 152.506 93.3117 151.732C93.1052 151.371 92.9503 151.112 92.7955 150.854C92.6922 150.648 92.6406 150.545 92.6406 150.545C92.6406 150.545 92.7439 150.648 92.8471 150.803C93.0019 151.009 93.1568 151.319 93.4149 151.629C93.9311 152.403 94.6021 153.435 95.428 154.726C97.1314 157.307 99.4542 160.92 102.551 164.481C103.326 165.359 104.1 166.185 104.977 166.908C105.803 167.682 106.732 168.198 107.507 168.921C109.055 170.314 109.933 172.069 110.346 173.566C110.758 175.063 110.81 176.354 110.81 177.231C110.81 177.644 110.81 178.005 110.758 178.212C110.707 178.522 110.707 178.625 110.707 178.625Z"
    fill="#EB996E"
  />
  <path
    d="M85.3507 133.666C86.1249 135.008 87.9316 139.086 87.9316 139.086C87.9316 139.086 92.7836 146.054 92.5255 150.596C92.4739 151.474 89.6866 153.332 89.6866 153.332C89.6866 153.332 80.8599 159.991 78.692 160.404C76.5756 160.868 73.3753 158.804 73.014 158.7C72.6527 158.597 60.729 151.009 60.6773 149.925C60.5741 148.119 61.9678 147.603 61.9678 147.603L75.4917 146.828L81.9439 141.77L81.6342 138.002"
    fill="#FFBE9D"
  />
  <path
    d="M84.6664 146.983C84.6664 146.983 84.4083 147.19 83.9437 147.551C83.4275 147.912 82.7049 148.377 81.879 148.945C81.0015 149.513 80.0207 150.184 78.7819 150.958C78.4206 151.164 78.0077 151.113 77.698 151.113C77.3366 151.113 76.9753 151.113 76.614 151.164C75.8913 151.216 75.1171 151.268 74.2912 151.319C72.691 151.474 71.1941 151.577 69.8004 151.526C69.0778 151.526 68.4067 151.371 67.8389 151.113C67.2711 150.803 66.8582 150.235 66.8582 149.667C66.8066 149.1 67.0647 148.635 67.3228 148.325C67.5809 148.016 67.8906 147.809 68.1487 147.654C68.4067 147.5 68.6132 147.448 68.7681 147.396C68.9229 147.345 68.9745 147.345 68.9745 147.345C68.9745 147.396 68.6648 147.448 68.1487 147.758C67.8906 147.912 67.6325 148.119 67.3744 148.429C67.1163 148.738 66.9614 149.203 67.0131 149.667C67.0131 150.184 67.3744 150.648 67.8906 150.906C68.4067 151.164 69.0778 151.268 69.7488 151.268C71.1425 151.268 72.6394 151.164 74.2396 151.061C75.0138 151.01 75.7881 150.906 76.5624 150.906C76.9237 150.906 77.285 150.855 77.6463 150.855C78.0077 150.855 78.369 150.906 78.6271 150.751C79.7627 150.029 80.795 149.358 81.7241 148.79C82.6016 148.274 83.2727 147.809 83.8405 147.5C84.3567 147.087 84.6664 146.932 84.6664 146.983Z"
    fill="#EB996E"
  />
  <path
    d="M85.1412 153.487C85.1412 153.487 85.0379 153.539 84.8831 153.539C84.6766 153.59 84.4185 153.642 84.1088 153.693C83.3862 153.848 82.4054 154.003 81.2698 154.21C80.031 154.416 78.5857 154.674 77.0372 154.984C76.2113 155.139 75.3854 155.294 74.5079 155.448C74.0949 155.5 73.6304 155.603 73.1658 155.655C72.7013 155.707 72.1851 155.655 71.7205 155.397C71.3076 155.139 70.9463 154.829 70.5849 154.623C70.2236 154.364 69.8623 154.106 69.4493 153.9C68.7267 153.435 67.9524 153.022 67.2298 152.764C66.5071 152.455 65.7329 152.3 65.0618 151.99C64.3908 151.732 63.823 151.267 63.3584 150.854C62.8939 150.442 62.4809 150.029 62.1712 149.667C61.8615 149.306 61.6034 148.893 61.655 148.532C61.655 148.17 61.8099 147.912 61.9131 147.757C62.068 147.603 62.1712 147.603 62.1712 147.603C62.1712 147.603 62.068 147.654 61.9648 147.809C61.8615 147.964 61.7583 148.17 61.7583 148.532C61.7583 149.254 62.6358 149.874 63.5133 150.7C63.9779 151.113 64.494 151.474 65.1651 151.732C65.8361 151.99 66.5587 152.197 67.333 152.506C68.1073 152.816 68.8815 153.177 69.6042 153.642C69.9655 153.9 70.3785 154.106 70.7398 154.364C71.1011 154.623 71.4624 154.932 71.8754 155.139C72.6496 155.603 73.5788 155.294 74.4563 155.19C75.3338 155.036 76.1597 154.881 76.9855 154.777C78.5857 154.519 80.031 154.261 81.2698 154.055C82.457 153.848 83.4378 153.745 84.1604 153.59C84.4701 153.539 84.7282 153.487 84.9347 153.487C85.0379 153.487 85.1412 153.487 85.1412 153.487Z"
    fill="#EB996E"
  />
  <path
    d="M81.4483 157.72C81.4483 157.772 80.9837 157.926 80.2095 158.081C79.4352 158.236 78.3512 158.443 77.164 158.597C75.9768 158.752 74.8928 158.804 74.067 158.752C73.2411 158.752 72.8281 158.443 72.8281 158.391C72.8281 158.339 73.2927 158.546 74.067 158.546C74.8412 158.494 75.9252 158.443 77.1124 158.288C78.2996 158.133 79.3836 157.978 80.1579 157.875C80.9321 157.772 81.4483 157.668 81.4483 157.72Z"
    fill="#EB996E"
  />
  <path
    d="M90.458 151.835C90.458 151.835 90.458 151.887 90.4064 152.042C90.3548 152.197 90.3031 152.352 90.1999 152.61C89.9934 153.074 89.4773 153.694 88.703 154.158C88.2901 154.416 87.8255 154.623 87.3609 154.778C87.1028 154.881 86.8964 154.984 86.8448 155.191C86.7931 155.397 86.7415 155.758 86.6383 156.016C86.4318 156.636 86.0705 157.204 85.5027 157.617C84.9349 158.03 84.2639 158.236 83.5928 158.391C82.9218 158.546 82.2508 158.649 81.683 158.959C81.1152 159.268 80.599 159.63 80.0828 159.939C79.8247 160.094 79.5666 160.249 79.3085 160.404C79.0505 160.507 78.7408 160.61 78.4827 160.61C77.9149 160.662 77.3987 160.559 76.9857 160.456C76.1082 160.198 75.4372 159.888 74.9726 159.681C74.5081 159.475 74.25 159.32 74.25 159.32C74.25 159.32 74.5081 159.372 74.9726 159.578C75.4372 159.733 76.1082 160.043 76.9857 160.249C77.3987 160.352 77.9149 160.404 78.431 160.352C78.6891 160.352 78.9472 160.249 79.2053 160.146C79.4118 160.043 79.6699 159.836 79.928 159.681C80.4441 159.372 80.9603 159.01 81.5281 158.701C82.1475 158.391 82.8186 158.236 83.4896 158.133C84.1606 157.978 84.78 157.771 85.2962 157.41C85.8124 157.049 86.1737 156.533 86.3286 156.016C86.4318 155.758 86.4318 155.5 86.535 155.139C86.6383 154.778 86.9996 154.623 87.2577 154.571C87.7739 154.416 88.1868 154.21 88.5998 154.003C89.374 153.539 89.8386 153.023 90.0967 152.558C90.3548 152.145 90.458 151.835 90.458 151.835Z"
    fill="#EB996E"
  />
  <path
    d="M83.6082 140.428C83.6598 140.479 81.9048 141.976 79.6852 143.731C77.4657 145.486 75.6074 146.88 75.5558 146.828C75.5042 146.777 77.2592 145.28 79.4788 143.525C81.6983 141.77 83.5566 140.376 83.6082 140.428Z"
    fill="#EB996E"
  />
  <path
    d="M81.7847 4.72108C93.6617 11.6493 97.3081 18.3171 96.5267 84.6821H60.948L60.375 0.0328145C60.375 0.0328145 72.5124 -0.696471 81.7847 4.72108Z"
    fill="#404040"
  />
  <path
    d="M39.9992 4.72108C28.1222 11.6493 24.4758 18.3171 25.2572 84.6821H60.8359L61.3047 0.0328145C61.3568 0.0328145 49.2194 -0.696471 39.9992 4.72108Z"
    fill="#404040"
  />
  <path
    d="M34.3829 40.4562C34.3829 40.4562 38.2898 70.9299 39.1232 72.3885C39.9567 73.8471 55.3238 82.2338 60.4288 81.8692V5.45044C54.4383 5.45044 30.6323 6.85692 34.3829 40.4562Z"
    fill="#FFBE9D"
  />
  <path
    d="M60.7396 5.45044C60.6355 5.45044 60.4792 5.45044 60.375 5.45044V81.9213C65.48 82.2859 80.8471 73.8992 81.6806 72.4406C82.5141 70.982 86.421 40.5083 86.421 40.5083C89.286 6.75273 66.9386 5.50253 60.7396 5.45044Z"
    fill="#FFBE9D"
  />
  <path
    d="M61.2432 0.032959C61.139 0.032959 60.9827 0.032959 60.8264 0.032959C60.6702 0.032959 60.5139 0.032959 60.3576 0.032959C53.5857 0.0850509 28.4253 5.24215 34.2075 39.5707C34.2075 39.5707 49.6788 37.6433 60.3576 31.5485C72.495 24.6203 80.5693 13.7852 80.5693 13.7852C82.132 3.47103 67.5463 0.0850509 61.2432 0.032959Z"
    fill="#404040"
  />
  <defs>
    <linearGradient
      id="paint0_linear_3068_8332"
      x1="57.355"
      y1="98.4626"
      x2="57.355"
      y2="214.293"
      gradientUnits="userSpaceOnUse"
    >
      <stop stop-color="#F17C7C" />
      <stop offset="0.755208" stop-color="white" />
      <stop offset="1" stop-color="white" />
    </linearGradient>
  </defs>
</svg>
