<svg
  width="243"
  height="172"
  viewBox="0 0 243 172"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <path d="M204.285 164.094H0V171.152H204.285V164.094Z" fill="#4C5D5F" />
  <path
    d="M197.823 63.3244V55.6784L103.131 0L8.24219 55.6784V63.3244H197.823Z"
    fill="#DF5356"
  />
  <path
    d="M191.352 169.192V58.8152L103.129 7.05786L14.9062 58.8152V169.192H191.352Z"
    fill="#E7DFC8"
  />
  <path
    d="M191.352 169.192V58.8152L103.129 7.05786L14.9062 58.8152V169.192H191.352Z"
    fill="#DF5356"
  />
  <path d="M183.512 65.481H22.75V169.388H183.512V65.481Z" fill="#ECECEC" />
  <path d="M78.825 84.1057H36.0859V160.369H78.825V84.1057Z" fill="#596F71" />
  <path
    d="M38.4385 87.6347H79.021V84.1057H36.0859V160.565H38.4385V87.6347Z"
    fill="#596F71"
  />
  <path d="M73.9124 89.7913H41.1719V110.573H73.9124V89.7913Z" fill="#CCD7E0" />
  <path d="M73.9124 113.317H41.1719V134.099H73.9124V113.317Z" fill="#CCD7E0" />
  <path d="M73.9124 137.039H41.1719V157.821H73.9124V137.039Z" fill="#CCD7E0" />
  <path d="M81.5625 160.37H31.7656V163.898H81.5625V160.37Z" fill="#4F6567" />
  <path d="M86.2776 164.094H27.0703V167.623H86.2776V164.094Z" fill="#4E5D5F" />
  <path d="M196.258 167.427H11.5781V170.956H196.258V167.427Z" fill="#4C5D5F" />
  <path d="M176.453 84.1057H99.6016V134.295H176.453V84.1057Z" fill="#596F71" />
  <path d="M173.517 87.0465H102.547V131.354H173.517V87.0465Z" fill="#DAD9D9" />
  <path
    d="M101.758 86.8504H176.257V84.1057H99.6016V134.295H101.758V86.8504Z"
    fill="#596F71"
  />
  <path
    d="M104.115 90.1833H173.321V87.0465H102.547V131.354H104.115V90.1833Z"
    fill="#D4DCE2"
  />
  <path
    d="M189.794 58.031L103.14 7.05786L16.2891 58.031H189.794Z"
    fill="#D2D1D1"
  />
  <path
    d="M103.13 45.0916C109.627 45.0916 114.893 39.8251 114.893 33.3286C114.893 26.832 109.627 21.5656 103.13 21.5656C96.6337 21.5656 91.3672 26.832 91.3672 33.3286C91.3672 39.8251 96.6337 45.0916 103.13 45.0916Z"
    fill="#8C261A"
  />
  <path
    d="M103.122 42.9351C97.8287 42.9351 93.5156 38.622 93.5156 33.3286C93.5156 28.0353 97.8287 23.7222 103.122 23.7222C108.415 23.7222 112.729 28.0353 112.729 33.3286C112.729 38.622 108.219 42.9351 103.122 42.9351Z"
    fill="#DF5356"
  />
  <path
    d="M94.888 36.0733C94.888 30.78 99.2011 26.4669 104.494 26.4669C107.631 26.4669 110.376 28.0353 112.14 30.1918C110.768 26.4669 107.239 23.7222 103.122 23.7222C97.8287 23.7222 93.5156 28.0353 93.5156 33.3286C93.5156 35.4852 94.2998 37.4457 95.4761 39.0141C95.084 38.0338 94.888 37.0536 94.888 36.0733Z"
    fill="#D0D0D0"
  />
  <path d="M181.736 134.295H94.1016V142.137H181.736V134.295Z" fill="#847863" />
  <path d="M181.736 142.137H94.1016V144.489H181.736V142.137Z" fill="#D6CCB2" />
  <path
    d="M242.761 25.6792L241.198 46.1439C240.886 50.9592 237.449 54.9718 233.699 54.9718H135.273C131.523 54.9718 128.711 50.9592 129.024 46.1439L130.586 25.6792C130.899 20.8639 134.336 16.8512 138.085 16.8512H236.511C240.261 16.8512 243.073 20.8639 242.761 25.6792Z"
    fill="#596F71"
  />
  <path
    d="M157.919 44.0178C163.725 38.2895 164.208 29.3691 158.998 24.0933C153.788 18.8176 144.858 19.1845 139.052 24.9128C133.246 30.641 132.763 39.5615 137.973 44.8372C143.183 50.1129 152.113 49.7461 157.919 44.0178Z"
    fill="#E8E8E8"
  />
  <path
    d="M147.679 41.4278H146.126C146.324 41.2942 146.51 41.14 146.68 40.9644C147.331 40.2939 147.685 39.4053 147.679 38.4631C147.667 36.5257 146.116 34.9584 144.216 34.9584H144.193C143.268 34.9645 142.401 35.3368 141.751 36.0069C141.101 36.6774 140.746 37.566 140.752 38.5083C140.758 39.4503 141.124 40.3339 141.782 40.9958C141.944 41.1582 142.119 41.3024 142.304 41.4277L140.757 41.4278C140.438 41.4278 140.18 41.6917 140.18 42.0163V42.8989C140.18 43.0616 140.309 43.1931 140.468 43.1931H147.968C148.127 43.1931 148.256 43.0616 148.256 42.8989V42.0163C148.256 41.6917 147.997 41.4278 147.679 41.4278L147.679 41.4278ZM141.328 38.5042C141.324 37.7192 141.619 36.9792 142.161 36.4209C142.702 35.8622 143.425 35.5515 144.197 35.5465H144.216C145.799 35.5465 147.092 36.8522 147.102 38.4669C147.107 39.2518 146.811 39.9918 146.27 40.5502C145.728 41.1089 145.005 41.4195 144.233 41.4245H144.214C143.45 41.4245 142.731 41.1241 142.187 40.577C141.638 40.0253 141.333 39.2891 141.328 38.5042H141.328ZM147.679 42.6047H140.757V42.0163H147.679V42.6047Z"
    fill="#3E3535"
  />
  <path
    d="M158.144 37.9064L157.605 37.5554L156.954 36.8917C156.841 36.7767 156.659 36.7767 156.546 36.8917L152.432 32.6951C152.545 32.58 152.545 32.394 152.432 32.2791L151.617 31.4467C151.562 31.3915 151.489 31.3606 151.413 31.3606C151.336 31.3606 151.263 31.3914 151.209 31.4467L151.005 31.2387C151.059 31.1834 151.089 31.1089 151.089 31.0306C151.089 30.9524 151.059 30.8776 151.005 30.8226L150.597 30.4066L150.653 30.3492C150.701 30.3622 150.75 30.371 150.8 30.371H150.801C150.955 30.371 151.1 30.3098 151.209 30.1986L151.413 29.9905C151.541 29.859 151.594 29.6802 151.575 29.5083L152.253 29.1627C152.505 29.0341 152.676 28.7978 152.721 28.5142C152.765 28.2309 152.677 27.9519 152.478 27.749L149.531 24.7427C149.332 24.5394 149.058 24.45 148.781 24.4953C148.503 24.5411 148.271 24.715 148.145 24.972L147.804 25.6686C147.634 25.651 147.458 25.7028 147.334 25.8295L147.129 26.0377C147.02 26.149 146.96 26.2968 146.96 26.4543C146.96 26.5058 146.969 26.5559 146.982 26.6043L146.677 26.9156L146.043 26.5279C145.815 26.3887 145.526 26.4249 145.338 26.6164L144.841 27.124C144.654 27.3152 144.618 27.6106 144.754 27.8424L145.134 28.4888L144.826 28.8036C144.633 28.7557 144.418 28.8033 144.274 28.9505L144.07 29.1585C143.941 29.29 143.888 29.4689 143.907 29.6407L143.229 29.9866C142.977 30.1152 142.807 30.3511 142.761 30.6348C142.717 30.9181 142.805 31.1974 143.004 31.4003L145.951 34.4065C146.116 34.5748 146.332 34.6654 146.559 34.6654C146.606 34.6654 146.654 34.6616 146.701 34.654C146.979 34.6082 147.211 34.4343 147.337 34.1773L147.676 33.4857C147.698 33.4881 147.719 33.4921 147.741 33.4921C147.895 33.4921 148.039 33.4309 148.148 33.3197L148.352 33.1116C148.461 33.0004 148.521 32.8525 148.521 32.695C148.521 32.6432 148.513 32.5934 148.5 32.545L148.557 32.4873L148.964 32.9037C149.019 32.959 149.092 32.9899 149.168 32.9899C149.245 32.9899 149.318 32.959 149.372 32.9037L149.576 33.1117C149.522 33.167 149.492 33.2415 149.492 33.3198C149.492 33.3981 149.522 33.4728 149.576 33.5278L150.392 34.3599C150.449 34.4173 150.522 34.4461 150.596 34.4461C150.67 34.4461 150.744 34.4172 150.8 34.3599L154.914 38.5563C154.86 38.6115 154.83 38.686 154.83 38.7643C154.83 38.8426 154.86 38.9173 154.914 38.9724L155.545 39.6161L155.91 40.191C156.052 40.4164 156.283 40.5617 156.544 40.5899C156.576 40.5934 156.607 40.5949 156.638 40.5949C156.866 40.5949 157.085 40.5031 157.248 40.3363L158.289 39.2747C158.475 39.0844 158.566 38.822 158.537 38.5548C158.51 38.2876 158.366 38.0514 158.144 37.9065L158.144 37.9064ZM149.985 30.1986L148.149 32.0707L145.294 29.158L146.313 28.1188L146.926 27.4939C146.926 27.4939 146.926 27.4936 146.926 27.4936L147.334 27.0776L148.763 28.5352L150.189 29.9906L149.986 30.198C149.985 30.1984 149.985 30.1984 149.985 30.1987L149.985 30.1986ZM150.801 29.7832C150.801 29.7832 150.801 29.7829 150.801 29.7827C150.801 29.7829 150.801 29.7829 150.801 29.7832ZM148.873 25.0765C148.966 25.0615 149.057 25.0914 149.123 25.1588L152.071 28.165C152.137 28.2327 152.166 28.3257 152.151 28.4201C152.136 28.5145 152.079 28.5934 151.995 28.636L151.266 29.0083L148.297 25.9797L148.661 25.2354C148.703 25.1496 148.78 25.0917 148.873 25.0764L148.873 25.0765ZM147.741 26.2456L151.005 29.5743L150.8 29.7819L147.537 26.4536L147.741 26.2456ZM145.249 27.5396L145.747 27.0323L146.257 27.3445L145.555 28.0598L145.249 27.5396ZM144.677 29.3716L147.94 32.7004L147.741 32.9031L144.478 29.5744L144.677 29.3716ZM146.61 34.0726C146.518 34.0885 146.426 34.0576 146.36 33.9903L143.412 30.9839C143.346 30.9163 143.316 30.8233 143.332 30.7288C143.347 30.6344 143.403 30.5556 143.487 30.5129L144.217 30.1407L147.186 33.1692L146.821 33.9136C146.78 33.9993 146.702 34.0574 146.61 34.0726L146.61 34.0726ZM149.169 32.2791L148.965 32.0708L150.189 30.8227L150.393 31.0308L149.169 32.2791ZM149.781 32.4871L150.597 31.6548L150.801 31.8628L149.985 32.6952L149.781 32.4871ZM150.597 33.7354L150.189 33.3195L151.413 32.0712L151.82 32.4875L150.597 33.7354ZM151.209 33.9435L152.024 33.1114L156.139 37.3081L155.323 38.1402L151.209 33.9435ZM157.882 38.8587L156.841 39.9202C156.779 39.9838 156.691 40.0147 156.607 40.0047C156.52 39.9952 156.442 39.947 156.395 39.872L156.014 39.2706C156.004 39.253 155.99 39.2367 155.976 39.222L155.527 38.7639L156.751 37.5158L157.22 37.9942C157.235 38.0092 157.251 38.0227 157.268 38.0343L157.833 38.4026H157.833C157.907 38.4508 157.955 38.5297 157.965 38.6182C157.974 38.7075 157.944 38.7952 157.882 38.8587L157.882 38.8587Z"
    fill="#3E3535"
  />
  <path
    d="M144.509 40.249L144.507 39.9586L144.801 39.9568C145.119 39.9545 145.376 39.6892 145.374 39.3649L145.37 38.7688C145.369 38.6117 145.309 38.4644 145.199 38.3536C145.09 38.2442 144.946 38.1842 144.794 38.1842H144.79L143.643 38.1913L143.64 37.6126L145.084 37.6031L145.08 37.0147L144.507 37.0185L144.505 36.7184L143.928 36.7225L143.93 37.0223L143.636 37.0244C143.482 37.0253 143.337 37.0873 143.229 37.1995C143.121 37.3113 143.062 37.4596 143.063 37.6166L143.066 38.1954C143.067 38.3527 143.128 38.5002 143.238 38.6105C143.347 38.72 143.49 38.78 143.643 38.78H143.647L144.793 38.7724L144.797 39.3684L143.349 39.3779L143.353 39.9663L143.93 39.9625L143.931 40.2529L144.509 40.249Z"
    fill="#3E3535"
  />
  <path
    d="M228.016 48.0582H171.63C170.377 48.0582 169.438 47.1189 169.438 45.5534C169.438 44.301 170.691 43.0486 171.944 43.0486H228.329C229.582 43.0486 230.522 43.9879 230.522 45.5534C230.208 47.1189 229.269 48.0582 228.016 48.0582Z"
    fill="#E8E8E8"
  />
  <path
    d="M175.773 32.9246H173.112V31.2461H175.773C176.184 31.2461 176.519 31.1792 176.777 31.0453C177.035 30.9066 177.224 30.7153 177.344 30.4714C177.463 30.2276 177.523 29.9526 177.523 29.6466C177.523 29.3357 177.463 29.0464 177.344 28.7786C177.224 28.5108 177.035 28.2956 176.777 28.1331C176.519 27.9705 176.184 27.8892 175.773 27.8892H173.858V36.6473H171.706V26.2035H175.773C176.591 26.2035 177.291 26.3518 177.875 26.6483C178.463 26.94 178.912 27.344 179.223 27.8605C179.534 28.3769 179.689 28.9675 179.689 29.6322C179.689 30.3065 179.534 30.8899 179.223 31.3824C178.912 31.8749 178.463 32.2551 177.875 32.5229C177.291 32.7907 176.591 32.9246 175.773 32.9246ZM184.517 36.7908C183.914 36.7908 183.374 36.6952 182.896 36.5039C182.418 36.3078 182.011 36.0376 181.676 35.6933C181.346 35.349 181.093 34.9497 180.916 34.4955C180.739 34.0364 180.651 33.5486 180.651 33.0322V32.7453C180.651 32.1571 180.734 31.6191 180.902 31.1313C181.069 30.6436 181.308 30.2204 181.619 29.8617C181.935 29.5031 182.317 29.2281 182.767 29.0369C183.216 28.8408 183.723 28.7428 184.287 28.7428C184.837 28.7428 185.325 28.8336 185.751 29.0153C186.176 29.197 186.532 29.4553 186.819 29.79C187.111 30.1247 187.331 30.5264 187.479 30.9951C187.627 31.4589 187.702 31.9754 187.702 32.5444V33.4052H181.533V32.028H185.672V31.8702C185.672 31.5832 185.619 31.3274 185.514 31.1027C185.413 30.8731 185.26 30.6914 185.055 30.5575C184.849 30.4236 184.586 30.3567 184.266 30.3567C183.993 30.3567 183.759 30.4164 183.563 30.536C183.367 30.6555 183.207 30.8229 183.082 31.0381C182.963 31.2533 182.872 31.5067 182.81 31.7984C182.752 32.0854 182.724 32.401 182.724 32.7453V33.0322C182.724 33.343 182.767 33.6299 182.853 33.8929C182.944 34.1559 183.07 34.3831 183.233 34.5744C183.4 34.7656 183.601 34.9139 183.835 35.0191C184.074 35.1243 184.345 35.1769 184.646 35.1769C185.019 35.1769 185.366 35.1052 185.686 34.9617C186.011 34.8135 186.291 34.5911 186.525 34.2946L187.529 35.3849C187.367 35.6192 187.144 35.844 186.862 36.0592C186.585 36.2743 186.25 36.4513 185.858 36.59C185.466 36.7239 185.019 36.7908 184.517 36.7908ZM190.901 30.5432V36.6473H188.835V28.8862H190.772L190.901 30.5432ZM190.599 32.4942H190.04C190.04 31.9204 190.114 31.4039 190.262 30.9449C190.411 30.481 190.619 30.0865 190.886 29.7613C191.154 29.4314 191.472 29.1803 191.84 29.0082C192.213 28.8312 192.629 28.7428 193.088 28.7428C193.452 28.7428 193.784 28.7954 194.085 28.9006C194.387 29.0058 194.645 29.1731 194.86 29.4027C195.08 29.6322 195.247 29.9359 195.362 30.3136C195.482 30.6914 195.542 31.1529 195.542 31.698V36.6473H193.461V31.6908C193.461 31.3465 193.414 31.0787 193.318 30.8875C193.222 30.6962 193.081 30.5623 192.895 30.4858C192.713 30.4045 192.488 30.3638 192.221 30.3638C191.943 30.3638 191.702 30.4188 191.496 30.5288C191.295 30.6388 191.128 30.7918 190.994 30.9879C190.865 31.1792 190.767 31.4039 190.7 31.6621C190.633 31.9204 190.599 32.1977 190.599 32.4942ZM201.301 34.8971V31.4398C201.301 31.1911 201.261 30.9783 201.18 30.8014C201.098 30.6197 200.972 30.4786 200.799 30.3782C200.632 30.2778 200.414 30.2276 200.147 30.2276C199.917 30.2276 199.719 30.2682 199.551 30.3495C199.384 30.426 199.255 30.5384 199.164 30.6866C199.073 30.8301 199.028 30.9998 199.028 31.1959H196.962C196.962 30.866 197.038 30.5527 197.191 30.2563C197.344 29.9598 197.567 29.6992 197.858 29.4744C198.15 29.2449 198.497 29.0655 198.899 28.9364C199.305 28.8073 199.759 28.7428 200.261 28.7428C200.864 28.7428 201.399 28.8432 201.868 29.044C202.337 29.2449 202.705 29.5461 202.973 29.9478C203.245 30.3495 203.382 30.8516 203.382 31.4541V34.7752C203.382 35.2008 203.408 35.5499 203.461 35.8225C203.513 36.0902 203.59 36.3246 203.69 36.5254V36.6473H201.603C201.502 36.4369 201.426 36.1739 201.373 35.8583C201.325 35.5379 201.301 35.2175 201.301 34.8971ZM201.574 31.9204L201.588 33.0896H200.434C200.161 33.0896 199.924 33.1206 199.723 33.1828C199.523 33.245 199.358 33.3334 199.228 33.4482C199.099 33.5582 199.004 33.6873 198.942 33.8355C198.884 33.9838 198.855 34.1464 198.855 34.3233C198.855 34.5002 198.896 34.6604 198.977 34.8039C199.059 34.9426 199.176 35.0526 199.329 35.1338C199.482 35.2104 199.661 35.2486 199.867 35.2486C200.178 35.2486 200.448 35.1865 200.677 35.0621C200.907 34.9378 201.084 34.7848 201.208 34.6031C201.337 34.4213 201.404 34.2492 201.409 34.0866L201.954 34.9617C201.878 35.1578 201.772 35.361 201.639 35.5714C201.509 35.7818 201.344 35.9803 201.144 36.1668C200.943 36.3485 200.701 36.4991 200.419 36.6186C200.137 36.7334 199.802 36.7908 199.415 36.7908C198.922 36.7908 198.475 36.6928 198.074 36.4967C197.677 36.2959 197.361 36.0209 197.127 35.6718C196.897 35.318 196.783 34.9163 196.783 34.4668C196.783 34.0603 196.859 33.6993 197.012 33.3837C197.165 33.068 197.39 32.8026 197.686 32.5875C197.988 32.3675 198.363 32.2025 198.812 32.0925C199.262 31.9778 199.783 31.9204 200.376 31.9204H201.574ZM207.155 25.6297V36.6473H205.082V25.6297H207.155ZM212.663 28.8862V30.3495H208.144V28.8862H212.663ZM209.263 26.971H211.329V34.309C211.329 34.5337 211.358 34.7059 211.415 34.8254C211.477 34.945 211.568 35.0286 211.688 35.0765C211.807 35.1195 211.958 35.141 212.14 35.141C212.269 35.141 212.384 35.1362 212.484 35.1267C212.589 35.1123 212.678 35.098 212.749 35.0836L212.757 36.6043C212.58 36.6617 212.388 36.7071 212.183 36.7406C211.977 36.7741 211.75 36.7908 211.501 36.7908C211.047 36.7908 210.65 36.7167 210.311 36.5684C209.976 36.4154 209.718 36.1715 209.536 35.8368C209.354 35.5021 209.263 35.0621 209.263 34.517V26.971ZM216.142 35.7722L218.201 28.8862H220.417L217.297 37.8165C217.23 38.0126 217.139 38.223 217.025 38.4477C216.915 38.6725 216.764 38.8853 216.573 39.0861C216.386 39.2918 216.149 39.4591 215.863 39.5882C215.58 39.7174 215.234 39.7819 214.822 39.7819C214.626 39.7819 214.466 39.77 214.342 39.746C214.218 39.7221 214.069 39.6887 213.897 39.6456V38.1321C213.95 38.1321 214.005 38.1321 214.062 38.1321C214.119 38.1369 214.174 38.1393 214.227 38.1393C214.5 38.1393 214.722 38.1082 214.894 38.0461C215.066 37.9839 215.205 37.8883 215.31 37.7591C215.415 37.6348 215.499 37.4722 215.561 37.2714L216.142 35.7722ZM215.282 28.8862L216.967 34.5098L217.261 36.6975L215.855 36.8482L213.065 28.8862H215.282Z"
    fill="white"
  />
</svg>
