 table {
     border-collapse: collapse;
     border-spacing: 0;
     width: 100%;
     border: 1px solid #ddd;
 }

 th,
 td {
     text-align: center;
     padding: 8px;
     border: 1px solid #ddd;
     color: #6F767E;
 }

 th {
     color: #DA3B3E;
     font-size: 1.125rem;
 }
 
 #mybank {
    margin-left: 25px;
 }

 #defaultImg {
     height: 60px;
 }