  <script>
    import { Tabs, Tab, TabList, TabPanel } from "svelte-tabs";
    import Profile from "./Profile.svelte";
    import BlockOutDates from "./BlockOutDates.svelte";
    import BinButton from '../../../../components/IconButton.svelte';

    let remove = () =>{
     //remove codes
    };
  </script>
  
  <div class="w-full">
    <div class="w-full">
      <h2 class="mt-6 mb-6 ml-6 text-2xl font-bold text-dark-red">Banker</h2>
      <div class="w-full p-6 border shadow bg-base-100 rounded-box">
          <div class="flex justify-end cursor-pointer">
            <BinButton bin={true} on:click={remove} />
          </div>
        <Tabs>
          <TabList>
            <div class="flex justify-between w-full">
              <div class="w-full">
                <Tab>Profile</Tab>
              </div>
              <div class="w-full">
                <Tab>Block Out Dates</Tab>
              </div>
            </div>
          </TabList>
          
          <TabPanel>
              <div class="p-10">
                  <Profile />
              </div>
          </TabPanel>
  
          <TabPanel>
              <div class="p-10">
                  <BlockOutDates />
              </div>
          </TabPanel>
        </Tabs>
      </div>
    </div>
  </div>
  
  <style>
    :global(.svelte-tabs){
      text-align: center;  
    }
    :global(.svelte-tabs__tab){
        color: #df5356 !important;   
    }
  
    :global(.svelte-tabs li.svelte-tabs__selected) {
      border-bottom: 4px solid #df5356;
      width: 100%;
      color: #df5356;
      text-align: center;
      outline: none;
    }
    :global(.svelte-tabs li.svelte-tabs__selected):focus {
      outline: none;
    }
  </style>
  