<script>
    import FormItem from "../../../../components/forms/FormItem.svelte";
    import Button from "../../../../components/Button.svelte";
    import Bin from "../../../../components/icons/Bin.svelte";
    import DatePicker from "../../../../components/IqRateDatePicker.svelte";
    import { useNavigate } from "svelte-navigator";

  
    const navigate = useNavigate();
  
  
    let startDate;
    let calendarType='';
    let endDate;
    let Data=[];

    Data = [
    {
      id: 45,
      details: {
        start: " 03 March 2022",
       end:' 04 March 2022'
      },
    },
    {
      id: 46,
      details: {
        start: " 03 April 2022",
       end:' 04 April 2022'
      },
    },
    {
      id: 47,
      details: {
        start: " 03 May 2022",
       end:' 04 May 2022'
      },
    },
  ];
 

  
    let submit = () => {
      console.log("Add Bank");
    };
  
    
    
    let back = () => {
      navigate("/banker-listing");
    };
  </script>



  
  <main class="text-gray-label">
   
        <div class="flex flex-col justify-start w-full gap-4 lg:w-6/12 ">
            
          
            <div class="flex flex-col items-center justify-between w-full lg:flex-row ">
               
                <div> 
                  <span for="startDate" class="inline-block w-full m-1 text-left text-gray-label">Block Out Start Date </span>
                    <DatePicker
                      bind:value={startDate}
                      calendarType="full"
                      name={"startDate"}
                      placeholder="Start Date"
                      type="text"
                    />
                  </div>
          
                    <div
                      class="mt-4"
                    >
                    to 
                    </div>
         
            <div>
              <span for="startDate" class="inline-block w-full m-1 text-left text-gray-label">Block Out End Date </span>
              <DatePicker
                bind:value={endDate}
                calendarType="full"
                name={"endDate"}
                placeholder="End Date"
                type="text"
                 />

            </div>
                    
          
             
                <div class="mt-6 ">
                    <Button  gradient={true} htmlType={"submit"} text={` + `} />
                </div>
            </div>

            <div class="py-3 mb-10 border-b divide-y divide-gray-200 ">
              
                <h1 class="py-3 text-lg text-left capitalize text-dark-red">Block Out Dates</h1>
            
              
              <ul class="flex justify-between w-full py-4 ">
                <li> 03 March 2022 - 04 March 2033</li>
                <li><Bin/></li>
              </ul>
             
              <ul class="flex justify-between w-full py-4 ">
                <li> 03 March 2022 - 04 March 2033</li>
                <li><Bin/></li>
              </ul>
              <ul class="flex justify-between w-full py-4 ">
                <li> 03 March 2022 - 04 March 2033</li>
                <li><Bin/></li>
              </ul>
              <ul class="flex justify-between w-full py-4 ">
                <li> 03 March 2022 - 04 March 2033</li>
                <li><Bin/></li>
              </ul>
            </div>
           
            
      
       

          <Button
            gradient={true}
            htmlType={"submit"}
            text={"Save"}
            btnclick={submit}
          />
  
          <Button
            htmlType={"button"}
            isOutlined={true}
            text={"Back"}
            btnclick={back}
          />
        </div>
    
  </main>