<script>
  import { Route, Router } from 'svelte-navigator';

  import BankerListing from './view/List.svelte';
  import BankerAdd from './view/Add.svelte';
</script>

<Router>
  <Route path="list"><BankerListing /></Route>
  <Route path="add"><BankerAdd /></Route>
  <Route path="edit/:id" component={BankerAdd} />
</Router>
