<script>
    import Formitems from "../../../../components/forms/FormItem.svelte";
    import Button from "../../../../components/Button.svelte";
    import { useNavigate } from "svelte-navigator";
  
    const navigate = useNavigate();
  
    let bank;
    let makertSegment;
    let bankName;
    let bankMobile;
    let bankEmail;
    let bankReferral;
    let remarks;
    let bankStatus;


  
    let submit = () => {
      console.log("Add Bank");
    };
  
    
    
    let back = () => {
      navigate("/banker-listing");
    };
  </script>



  
  <main class="">
   
        <div class="flex flex-col justify-start w-full gap-3 lg:w-6/12 ">
            

            <Formitems
            label={"Bank"}
            formType={"select"}
            name={"bank"}
            bind:value={bank}
            placeholder={'Bank'}
            
          >
            <option name="UOB" value="UOB">UOB</option>
            <option name="BOI" value="BOI">BOI</option>
          </Formitems>

          <Formitems
            label={"Makert Segment"}
            formType={"select"}
            name={"makertSegment"}
            bind:value={makertSegment}
            placeholder={'Makert Segment'}
            
          >
            <option name="UOB" value="UOB">UOB</option>
            <option name="BOI" value="BOI">BOI</option>
          </Formitems>



          <Formitems
            className={"w-full"}
            label={"Bank Name"}
            name={"bankName"}
            bind:value={bankName}
            placeholder={'Bank Name'}
          />

          <Formitems
          className={"w-full"}
          label={"Bank Mobile number"}
          name={"bankMobile"}
          bind:value={bankMobile}
          placeholder={'Bank Mobile number'}
        />

        <Formitems
          className={"w-full"}
          label={"Bank Email Address"}
          name={"bankEmail"}
          bind:value={bankEmail}
          placeholder={'Bank Email Address'}
        />
        
        <Formitems
          className={"w-full"}
          label={"Bank Referral Link"}
          name={"bankReferral"}
          bind:value={bankReferral}
          placeholder={'Bank Referral Link'}
        />
        <Formitems
          formType={"textarea"}
          className={"w-full"}
          label={"Remarks"}
          name={"remarks"}
          bind:value={remarks}
          placeholder={'Remarks'}
        />
  
         
  
          <Formitems
            label={"Bank Status"}
            formType={"select"}
            name={"bankStatus"}
            bind:value={bankStatus}
            placeholder={'Bank Status'}
            
          >
            <option name="active" value="active">Active</option>
            <option name="inActive" value="inActive">InActive</option>
          </Formitems>
  
          <Button
            gradient={true}
            htmlType={"submit"}
            text={"Save"}
            btnclick={submit}
          />
  
          <Button
            htmlType={"button"}
            isOutlined={true}
            text={"Back"}
            btnclick={back}
          />
        </div>
    
  </main>