<script>
  import { useNavigate } from 'svelte-navigator';
  import { onMount } from 'svelte';

  import Button from '../../../../components/Button.svelte';
  import FormItem from '../../../../components/forms/FormItem.svelte';

  import { fetchApi } from '../../../../services/api';
  import { toastAlert } from '../../../../utils/toaster';

  let code = '';

  const navigate = useNavigate();

  onMount(async () => {
    fetchToken();
  });

  const fetchToken = async () => {
    code = document.location.href;
    const parts = code.split('/');
    code = parts.pop();
  };

  const approvePdpa = async () => {
    // APPROve api, then redirect to home
    const res = await fetchApi(
      'POST',
      `magic/validate_pdpa`,
      JSON.stringify({
        // type: 'Mobile',
        token: code,
      }),
    );
    const json = await res.json();
    if (res.status >= 200 && res.status <= 300) {
      console.log('json', json);
      toastAlert('success', json.message ? json.message : 'Verify success!');
      setTimeout(() => {
        // navigate('/');
        window.open('https://iqrate.io/');
      }, 1200);
    } else if(res.status === 403){
        if(json.name === 'MEMBERSHIP_ACL_CHECK'){
          toastAlert('error', json.message ? json.message : 'We have encountered a technical difficulty onboarding you. Please try again later.');
        }else{
          toastAlert('error', json.detail ? json.detail : 'We have encountered a technical difficulty onboarding you. Please try again later.');
        }
      } else {
      console.log('Error', json.message ? json.message : 'backend err msg.');
      toastAlert('error', 'Incorrect Code');
    }
  };
</script>

<div class="max-w-4xl px-4 py-8 m-auto">
  <div class="sticky top-0 py-4 bg-white">
    <div
      class="flex flex-col items-center justify-between gap-2 md:gap-0 md:flex-row"
    >
      <div class="w-full max-w-xs mb-2 md:mb-0">
        <FormItem
          name="verifCode"
          placeholder="Enter your verification code"
          noMargin
          className="mb-0"
          bind:value={code}
        />
      </div>
      <div class="flex flex-col w-full max-w-xs gap-y-3 md:gap-4 md:flex-row">
        <div class="md:w-36">
          <Button
            text="Cancel"
            isOutlined
            gradientInverse
            className="w-auto bg-slate-400"
            btnclick={() => (window.location.href = 'https://iqrate.io/')}
          />
        </div>
        <Button
          text="ACCEPT PDPA"
          gradient
          width
          disabled={code.length < 1}
          btnclick={() => approvePdpa()}
        />
      </div>
    </div>
  </div>
  <div class="py-10 text-justify">
    <strong>IQRATE PRIVACY POLICY</strong>
    <p>
      IQRATE PTE. LTD.("we" or "us" or "our") is the operator of
      http://www.iqrate.io (the "Website") and the Iqrate mobile applications
      (the "Apps"), and we are committed to safeguarding your Personal Data (as
      defined in clause 1 below).
    </p>
    <br />
    <p>
      This Privacy Policy (together with our Terms of Service
      http://www.iqrate.io/customer-service/terms-of-service and any other
      documents referred to in it) sets out how Personal Data that we collect
      from you, or that you provide to us, will be used, processed or disclosed
      by us, including how certain information would be used to personalise
      advertising directed at you.
    </p>
    <br />
    <strong>COLLECTION OF PERSONAL DATA</strong><br /> You can choose to browse
    the Website and the Apps without disclosing your Personal Data. You are not
    required to provide Personal Data as a condition of using the Website or the
    Apps, except as may be necessary for us to be able to provide the Services
    which you purchase or access through our Website or Apps, respond to your
    requests, or in cases where you contact us directly.
    <br /><br /> When you use our Services, we collect a variety of information
    from and about you, your devices, and your interaction with the Services.
    Some of this information identifies you directly or can be used to loosely
    identify you when combined with other data. Any data, whether true or not,
    about an individual who can be identified from that data; or from that data
    and other information to which the organisation has or is likely to have, is
    considered personal data ("Personal Data").
    <br />
    <br />
    <strong>ACCURACY AND SECURITY</strong><br />
    <span class="pr-3 md:pr-6">3.1</span> You should ensure that all Personal
    Data submitted to us is complete, accurate, true and correct. Failure on
    your part to do so may result in our inability to provide you with the
    Services that you have requested.
    <br /><br />
    <span class="pr-3 md:pr-6">3.2</span> We will take reasonable efforts to
    ensure that your Personal Data is accurate and complete if your Personal
    Data is likely to be used by us to make a decision that affects you, or
    disclosed to another organisation. However, this means that you must also
    update us of any changes in your Personal Data that you had initially
    provided us with. We will not be responsible for relying on inaccurate or
    incomplete Personal Data arising from you not updating us of any changes in
    your Personal Data that you had initially provided us with.
    <br /><br />
    <span class="pr-3 md:pr-6">3.3</span> We will take reasonable technical and
    organizational precautions to prevent the loss, misuse or alteration of your
    Personal Data.
    <br /><br />
    <strong>WITHDRAWAL OF CONSENT</strong><br />
    <span class="pr-3 md:pr-6">5.1</span> You can withdraw your consent by
    contacting our customer service: http://www.iqrate.io/contactus. If you have
    given your consent when registering as a member on the Website, you can also
    withdraw your consent by revisiting the online registration form:
    http://www.iqrate.io/user-profile, and unticking the consent box.
    <br /><br />
    <strong>DISCLAIMER</strong>
    <br />
    We shall not be liable for any voluntary disclosure of Personal Data by you to
    other users in connection with the use of the Website or the Apps, as the case
    may be.
    <br /><br />
    <strong>CONTACT US</strong><br />
    Should you require further information about the treatment of your Personal Data
    by us, please do not hesitate to contact our Data Protection Officer at: dpo@iqrate.io.
    <br /><br />
    <strong>ACKNOWLEDGEMENT</strong><br />
    I hereby accept the Privacy Policy.
  </div>
</div>
