<script>
  import Toggle from '../../../../components/forms/FormToggle.svelte';
  import { onMount } from 'svelte';
  import { fetchApi } from '../../../../services/api';
  import { toastAlert } from '../../../../utils/toaster';
  import { useNavigate,useParams } from 'svelte-navigator';

  const params = useParams();
  const navigate = useNavigate();
  $: editId = $params.id;
  let datas='';
  const fetchAclList=async()=>{
    const res = await fetchApi(
        'GET',
        `api-admin/getACLModule/${editId}`,
      );
      const admin = await res.json();
        if (res.status >= 200 && res.status <= 300) {
          datas=admin;
        }else{
          toastAlert('error',admin.message ? admin.message: 'backend err msg.');
        }
  }
  onMount(async() => {
      fetchAclList();
  });
  const update = async (role_name, roleStatus) => {
    let role_status = roleStatus ? 'UNSET' : 'SET';
    const res = await fetchApi(
      'PUT',
      `api-admin/setAdminRole/${editId}`,
      JSON.stringify({ role_status,role_name}),
    );
    const json = await res.json();
    if (res.status >= 200 && res.status <= 300) {
      toastAlert(
        'success',
        json.message ? json.message : 'ACL has been updated!',
      );
      fetchAclList();
      // window.location.reload();
    } else {
      toastAlert(
        'error',
        json.message ? json.message : 'backend err msg.',
      );
      fetchAclList();
    }
  };
</script>

<main class="text-gray-800">
  <div class="flex flex-col justify-start w-full">
    <table class="">
      <thead class="font-normal border-b-2 border-red-200 text-dark-red">
        <th scope="col" colspan="10" class="px-2 py-2 text-lg font-normal text-left">
          Functions
        </th>
        <th scope="col" class="px-4 py-2 text-lg font-normal" colspan="2"> View </th>
        <th scope="col" class="px-4 py-2 text-lg font-normal" colspan="2"> Manage </th>
        <th scope="col" class="px-4 py-2 text-lg font-normal text-right" colspan="2">
          Export
        </th>
        <th scope="col" colspan="4" class="relative w-1/3 px-6 py-3">
          <span class="sr-only">Edit</span>
        </th>
      </thead>
      <tbody>
        {#each Object.entries(datas) as [key, value]}
          <tr>
            <td colspan="10" class="px-2 py-5 text-left text-gray-label"> {key} </td>
            {#each value as val}
                <td colspan="2" class="px-4 py-5">
                  <div class="flex justify-center text-center">
                    <Toggle
                      Green={true}
                      checked={val.roleStatus === 'yes'
                        ? true
                        : false}
                      onChange={() =>
                        update(
                          val.roleName,
                          val.roleStatus === 'yes'
                        )}
                    />
                  </div>
                </td>
            {/each}
          </tr>
        {/each}
      </tbody>
    </table>
  </div>
</main>

