<script>
  import CycleIcon from '../../../../components/icons/accessRights/Cycle.svelte';
  import BikeIcon from '../../../../components/icons/accessRights/Bike.svelte';
  import ScootyIcon from '../../../../components/icons/accessRights/Scooty.svelte';
  import Toggle from '../../../../components/forms/FormToggle.svelte';
  import { toastAlert } from '../../../../utils/toaster';
  import { onMount } from 'svelte';
  import { fetchApi } from '../../../../services/api';

  let loading = false;
  let usersData = [];
  let usersRateLimit = [];
  let check;
  let fields = {
    basic: '',
    premium: '',
    premiumP: '',
  };
  let iconId = null;
  const fetchAclList = async () => {
    loading = true;
    const res = await fetchApi('GET', `api-admin/getAllAcl`);
    const users = await res.json();
    if (res.status >= 200 && res.status <= 300) {
      loading = false;
      usersData = users.data;
      usersRateLimit = users.rateLimit;
    } else {
      loading = false;
      if (users.name === 'NOT_FOUND') {
        usersData = [];
        toastAlert('error', users.message ? users.message : 'backend err msg.');
      } else {
        toastAlert('error', users.message ? users.message : 'backend err msg.');
      }
    }
  };
  onMount(async () => {
    // get ACL List
    fetchAclList();
  });
  const update = async (id, curValue) => {
    check = !curValue;
    let data = check ? 'ALLOW' : 'DENY';
    console.log(check);
    const res = await fetchApi(
      'PUT',
      `api-admin/updateAclPermission/${id}`,
      JSON.stringify({ permission: data }),
    );
    const json = await res.json();
    if (res.status >= 200 && res.status <= 300) {
      // toastAlert(
      //   'success',
      //   json.message ? json.message : 'ACL has been updated!',
      // );
      fetchAclList();
      // window.location.reload();
    } else if (res.status === 403) {
      toastAlert('error', json.message ? json.message : 'backend err msg.');
      fetchAclList();
    } else {
      console.error(
        'Error',
        json.error_description ? json.error_description : 'backend err msg.',
      );
      toastAlert(
        'error',
        json.error_description ? json.error_description : 'backend err msg.',
      );
    }
  };

  const save = async (basic, premium, premiumP, data_type, limits) => {
    fields.basic = limits[1].basic.rate_limit;
    fields.premium = limits[2].premium.rate_limit;
    fields.premiumP = limits[3]['premium+'].rate_limit;
    iconId = null;
    let data = {
      rateLimit: [
        { id: basic, value: fields.basic },
        { id: premium, value: fields.premium },
        { id: premiumP, value: fields.premiumP },
      ],
    };
    const res = await fetchApi(
      'PUT',
      `api-admin/updateAclRate`,
      JSON.stringify(data),
    );
    const json = await res.json();
    if (res.status >= 200 && res.status <= 300) {
      toastAlert(
        'success',
        json.message ? json.message : 'ACL rate limit has been updated!',
      );
      // onMount();
      fetchAclList();
    } else if (res.status === 403) {
      toastAlert('error', json.message ? json.message : 'backend err msg.');
      fetchAclList();
    } else if (res.status === 400 && data_type === 'float') {
      toastAlert(
        'error',
        json.error_description
          ? json.error_description
          : 'The percentage must be between 0 and 100.',
      );
      fetchAclList();
    } else if (res.status === 400 && data_type === 'integer') {
      toastAlert(
        'error',
        json.error_description
          ? json.error_description
          : 'Please enter numeric characters only.',
      );
      fetchAclList();
    } else {
      console.error(
        'Error',
        json.error_description ? json.error_description : 'backend err msg.',
      );
      toastAlert(
        'error',
        json.error_description ? json.error_description : 'backend err msg.',
      );
    }
  };
  const edit = (i) => {
    iconId = i;
  };
</script>

<section>
  <div class="w-full">
    <div class="w-full">
      <h2 class="mt-6 mb-12 text-3xl font-bold text-dark-red">Access Rights</h2>
      <div class="w-full p-6 border bg-base-100 rounded-box">
        <table class="w-full">
          <thead class="bg-white">
            <tr>
              <th
                scope="col"
                class="px-1 py-4 text-xl text-left w-72 text-gray-label"
              />
              <th
                scope="col"
                class="w-20 font-medium text-left text-md text-dark-red"
                ><CycleIcon /></th
              >
              <th
                scope="col"
                class="w-20 font-medium text-left text-md text-dark-red"
                ><ScootyIcon /></th
              >
              <th
                scope="col"
                class="w-20 text-sm font-medium text-left text-dark-red"
                ><BikeIcon /></th
              >
              <th
                scope="col"
                class="w-20 text-sm font-medium text-left text-gray-label"
              />
            </tr>
            <tr class="border-b-4 border-red-200">
              <th
                scope="col"
                class="px-1 py-4 text-xl font-normal text-left w-72"
                >Lead Details</th
              >
              <th
                scope="col"
                class="w-20 pl-2 font-normal text-left text-md text-dark-red"
                >Basic</th
              >
              <th
                scope="col"
                class="w-20 font-normal text-left text-md text-dark-red"
                >Premium</th
              >
              <th
                scope="col"
                class="w-20 font-normal text-left text-md text-dark-red"
                >Premium +</th
              >
              <th
                scope="col"
                class="w-20 text-sm font-medium text-left text-gray-label"
              />
            </tr>
          </thead>
          <tbody>
            {#each Object.entries(usersData) as [key, datas], i}
              <tr class="transition duration-300 ease-in-out bg-white">
                {#each datas as data}
                  {#if data.description}
                    <td class="px-1 py-4 text-gray-600 text-md"
                      >{data.description}
                      <!-- <br />{key} -->
                      <p class="text-sm text-gray-label">
                        {data.sub_description ===
                        '(For unlimited, enter 0 into field)'
                          ? ''
                          : data.sub_description}
                      </p></td
                    >
                  {/if}
                  {#if data.basic}
                    <td class="whitespace-nowrap">
                      <div>
                        <Toggle
                          Green={true}
                          checked={data.basic.permission === 'ALLOW'
                            ? true
                            : false}
                          onChange={() =>
                            update(
                              data.basic.id,
                              data.basic.permission === 'ALLOW' ? true : false,
                            )}
                        />
                      </div>
                    </td>
                  {/if}
                  {#if data.premium}
                    <td class="pl-2 whitespace-nowrap"
                      ><div>
                        <Toggle
                          Green={true}
                          checked={data.premium.permission === 'ALLOW'
                            ? true
                            : false}
                          onChange={() =>
                            update(
                              data.premium.id,
                              data.premium.permission === 'ALLOW'
                                ? true
                                : false,
                            )}
                        />
                      </div>
                    </td>
                  {/if}
                  {#if data['premium+']}
                    <td class="whitespace-nowrap">
                      <div>
                        <Toggle
                          Green={true}
                          checked={data['premium+'].permission === 'ALLOW'
                            ? true
                            : false}
                          onChange={() =>
                            update(
                              data['premium+'].id,
                              data['premium+'].permission === 'ALLOW'
                                ? true
                                : false,
                            )}
                        />
                      </div></td
                    >
                  {/if}
                {/each}
              </tr>
            {/each}
            {#each Object.entries(usersRateLimit) as [key, limits], i}
              <tr class="transition duration-300 ease-in-out bg-white">
                <td class="px-1 py-4 text-gray-600 text-md"
                  >{limits[0].description}
                  <!-- <br />{key} -->
                  <p class="text-sm text-gray-label">
                    {limits[0].sub_description}
                  </p></td
                >
                <td class="whitespace-nowrap">
                  <div class="w-16">
                    <input
                      bind:value={limits[1].basic.rate_limit}
                      on:change={(e) =>
                        (limits[1].basic.rate_limit = e.target.value)}
                      type="number"
                      onkeypress="return (event.charCode !=45)"
                      min="0"
                      class={`w-full py-1 rounded-md focus:outline-none text-center ${
                        iconId == i ? 'border border-dark-red' : ''
                      } `}
                      readOnly={iconId != i}
                    />
                  </div>
                </td>

                <td class="pl-3 whitespace-nowrap">
                  <div class="w-16">
                    <input
                      bind:value={limits[2].premium.rate_limit}
                      on:change={(e) =>
                        (limits[2].premium.rate_limit = e.target.value)}
                      type="number"
                      onkeypress="return (event.charCode !=45)"
                      min="0"
                      class={`w-full py-1 rounded-md focus:outline-none text-center ${
                        iconId == i ? 'border border-dark-red' : ''
                      } `}
                      readOnly={iconId != i}
                    />
                  </div>
                </td>

                <td class="whitespace-nowrap">
                  <div class="w-16">
                    <input
                      value={limits[3]['premium+'].rate_limit}
                      on:change={(e) =>
                        (limits[3]['premium+'].rate_limit = e.target.value)}
                      type="number"
                      onkeypress="return (event.charCode !=45)"
                      min="0"
                      class={`w-full py-1 rounded-md focus:outline-none text-center ${
                        iconId == i ? 'border border-dark-red' : ''
                      } `}
                      readOnly={iconId != i}
                    />
                  </div>
                </td>
                <td class="whitespace-nowrap">
                  <div>
                    {#if iconId == i}
                      <button
                        class="underline text-dark-red"
                        on:click={save(
                          limits[1].basic.id,
                          limits[2].premium.id,
                          limits[3]['premium+'].id,
                          limits[0].data_type,
                          limits,
                        )}>Save</button
                      >
                    {:else}
                      <button
                        class="underline text-dark-red"
                        on:click={() => edit(i)}>Edit</button
                      >
                    {/if}
                  </div>
                </td>
              </tr>
            {/each}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

<style>
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
  }
</style>
