<script>
  import StaticTable from '../../../../components/StaticTable.svelte';
  import { fetchApi } from '../../../../services/api';
  import CustomAction from '../../../../components/table/CustomAction.svelte';
  import { onMount } from 'svelte';
  import { toastAlert } from '../../../../utils/toaster';
  import { Link } from 'svelte-navigator';
  let loading = false;
  let usersData = [];
  $: Data = [];
  // get user list start
  onMount(async () => {
    fetchData();
  });
  const fetchData = async () => {
    loading = true;
    const res = await fetchApi('GET', `customer-admin/kvstore/all`);
    const users = await res.json();
    if (res.status >= 200 && res.status <= 300) {
      loading = false;
      usersData = users;
      Data = [];
      usersData.forEach((element) => {
        Data = [
          ...Data,
          {
            code: element.code,
            key: element.key,
            editable: element.editable,
          },
        ];
      });
    } else {
      loading = false;
      if (users.name === 'NOT_FOUND') {
        usersData = [];
        toastAlert('error', users.message ? users.message : 'backend err msg.');
      } else {
        toastAlert('error', users.message ? users.message : 'backend err msg.');
      }
    }
  };
  //table heading
  // let tableColumn = [
  //   {
  //     key: 'key',
  //     title: 'Field Name',
  //   },
  //   {
  //     key: 'editable',
  //     title: '',
  //     renderHtml: (e, item) =>
  //       `<a href="add/${
  //         item.code
  //       }" class="underline hover:text-gray-900 text-dark-red">${
  //         e ? 'Edit' : 'View'
  //       }</span>`,
  //   },
  // ];
  const viewData = () => {
    Data = [];
    Data = usersData
      .sort((a, b) => a.code.localeCompare(b.code))
      .filter((e) => {
        if (e.editable === false) {
          return {
            code: e.code,
            key: e.key,
            editable: e.editable,
          };
        }
      });
  };
  const editData = () => {
    Data = [];
    Data = usersData
      .sort((a, b) => a.code.localeCompare(b.code))
      .filter((e) => {
        if (e.editable === true) {
          return {
            code: e.code,
            key: e.key,
            editable: e.editable,
          };
        }
      });
  };
</script>

<main>
  <div class="">
    <h2
      class="my-6 ml-6 text-2xl font-semibold lg:mt-6 lg:mb-10 lg:text-3xl text-dark-red"
    >
      Configuration
    </h2>
    <div class="px-6 border shadow bg-base-100 rounded-box">
      <div class="">
        <main>
          <div class="flex flex-col">
            <div class="overflow-x-auto ">
              <div class="inline-block w-full py-2 sm:px-6 lg:px-8">
                <div class="sm:rounded-lg">
                  <div class="flex justify-end space-x-8">
                    <div class="form-control">
                      <label class="cursor-pointer label">
                        <span class="mr-1 text-lg font-medium text-gray-label"
                          >All</span
                        >
                        <input
                          type="radio"
                          name="radio-3"
                          class="radio border-red"
                          checked
                          on:click={fetchData}
                        />
                      </label>
                    </div>
                    <div class="form-control">
                      <label class="cursor-pointer label">
                        <span class="mr-1 text-lg font-medium text-gray-label"
                          >View</span
                        >
                        <input
                          type="radio"
                          name="radio-3"
                          class="radio border-red"
                          on:click={viewData}
                        />
                      </label>
                    </div>
                    <div class="form-control">
                      <label class="cursor-pointer label">
                        <span class="mr-1 text-lg font-medium text-gray-label"
                          >Edit</span
                        >
                        <input
                          type="radio"
                          name="radio-3"
                          class="radio border-red"
                          on:click={editData}
                        />
                      </label>
                    </div>
                  </div>
                  <table
                    id="my-table"
                    class="min-w-full border-t border-b divide-y divide-gray-200"
                  >
                    <thead class="border-t"
                      ><tr class="border-t">
                        <th
                          class="px-2 py-3 font-sans font-medium tracking-wider text-left capitalize whitespace-nowrap text-dark-red"
                          >Field Name
                        </th><th
                          class="px-2 py-3 font-sans font-medium tracking-wider text-left capitalize whitespace-nowrap text-dark-red"
                        /></tr
                      ></thead
                    >
                    <tbody
                      class="bg-white divide-y divide-gray-200 text-gray-label"
                    >
                      {#each Data as value}
                        <tr>
                          <td class="px-2 py-2.5 text-left capitalize">
                            {value.key}
                          </td>
                          <td>
                            <Link
                              to={`../add/${value.code}`}
                              class="underline hover:text-gray-900 text-dark-red"
                              >{value.editable ? 'Edit' : 'View'}
                            </Link>
                          </td>
                        </tr>
                      {/each}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
  </div>
</main>

<style>
  input[type='radio']:checked {
    background-color: #df5356;
  }
</style>
