<script>
  import { Link } from 'svelte-navigator';

  import EarnExtraIcome from '../../../../components/icons/dashboard/Training/EarnExtraIncome.svelte';
  import EasyMortgage from '../../../../components/icons/dashboard/Training/EasyMortgage.svelte';
</script>

<section>
  <div class="bg-white border rounded-lg">
    <div
      class="max-w-2xl px-4 py-16 mx-auto sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8"
    >
      <h2 class="sr-only">Demo</h2>

      <div
        class="grid grid-cols-1 gap-y-10 sm:grid-cols-2 gap-x-6 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8"
      >
        <Link to="#" class="group">
          <div
            class="w-full overflow-hidden bg-gray-200 rounded-lg aspect-w-1 aspect-h-1 xl:aspect-w-7 xl:aspect-h-8"
          >
            <img
              src="https://tailwindui.com/img/ecommerce-images/category-page-04-image-card-04.jpg"
              alt="Hand holding black machined steel mechanical pencil with brass tip and top."
              class="object-cover object-center w-full h-full group-hover:opacity-75"
            />
          </div>
          <h3 class="mt-4 text-lg text-gray-label">Earn Extra Income</h3>
          <p class="mt-1 text-sm text-gray-400">1hr 20 mins 1 Module</p>
        </Link>

        <Link to="#" class="group">
          <div
            class="w-full overflow-hidden bg-gray-200 rounded-lg aspect-w-1 aspect-h-1 xl:aspect-w-7 xl:aspect-h-8"
          >
            <img
              src="https://tailwindui.com/img/ecommerce-images/category-page-04-image-card-04.jpg"
              alt="Hand holding black machined steel mechanical pencil with brass tip and top."
              class="object-cover object-center w-full h-full group-hover:opacity-75"
            />
          </div>
          <h3 class="mt-4 text-lg text-gray-label">Easy Mortgage Loan Apply</h3>
          <p class="mt-1 text-sm text-gray-400">1hr 20 mins 1 Module</p>
        </Link>

        <Link to="#" class="group">
          <div
            class="w-full overflow-hidden bg-gray-200 rounded-lg aspect-w-1 aspect-h-1 xl:aspect-w-7 xl:aspect-h-8"
          >
            <img
              src="https://tailwindui.com/img/ecommerce-images/category-page-04-image-card-03.jpg"
              alt="Person using a pen to cross a task off a productivity paper card."
              class="object-cover object-center w-full h-full group-hover:opacity-75"
            />
          </div>
          <h3 class="mt-4 text-lg text-gray-label">Process Lead Creation</h3>
          <p class="mt-1 text-sm text-gray-400">1hr 20 mins 1 Module</p>
        </Link>

        <Link to="#" class="group">
          <div
            class="w-full overflow-hidden bg-gray-200 rounded-lg aspect-w-1 aspect-h-1 xl:aspect-w-7 xl:aspect-h-8"
          >
            <img
              src="https://tailwindui.com/img/ecommerce-images/category-page-04-image-card-04.jpg"
              alt="Hand holding black machined steel mechanical pencil with brass tip and top."
              class="object-cover object-center w-full h-full group-hover:opacity-75"
            />
          </div>
          <h3 class="mt-4 text-lg text-gray-label">Earn Extra Income</h3>
          <p class="mt-1 text-sm text-gray-400">1hr 20 mins 1 Module</p>
        </Link>

        <Link to="#" class="group">
          <div
            class="w-full overflow-hidden bg-gray-200 rounded-lg aspect-w-1 aspect-h-1 xl:aspect-w-7 xl:aspect-h-8"
          >
            <img
              src="https://tailwindui.com/img/ecommerce-images/category-page-04-image-card-04.jpg"
              alt="Hand holding black machined steel mechanical pencil with brass tip and top."
              class="object-cover object-center w-full h-full group-hover:opacity-75"
            />
          </div>
          <h3 class="mt-4 text-lg text-gray-label">Learn About Co-broke</h3>
          <p class="mt-1 text-sm text-gray-400">1hr 20 mins 1 Module</p>
        </Link>
        <!-- More products... -->
      </div>
    </div>
  </div>
</section>
