<script>
  import AccordionMenu from '../../../../components/AccordionMenu.svelte';

  import Demo from '../screens/Demo.svelte';
  //   import LawFirms from "../Resources/screens/LawFirm.svelte";
</script>

<main>
  <div class="">
    <div>
      <AccordionMenu props={{ key: 'demo', contentLabel: 'Demo' }}>
        <div class="body-manual">
          <Demo />
        </div>
      </AccordionMenu>

      <AccordionMenu props={{ key: 'helpDesk', contentLabel: 'Help Desk' }}>
        <div class="body-manual">
          Empty no design yet
          <!-- <LawFirms /> -->
        </div>
      </AccordionMenu>
    </div>
  </div>
</main>
