<script>
  import { Route, Router } from 'svelte-navigator';

  import PackageListing from './view/List.svelte';
  import PackageeAdd from './view/Add.svelte';
  import PackageEdit from './view/Edit.svelte';
</script>

<Router>
  <Route path="list">
    <PackageListing />
  </Route>
  <Route path="add">
    <PackageeAdd />
  </Route>
  <Route path="edit/:id">
    <PackageEdit />
  </Route>
</Router>
