<script>
  export let count = 4;
  export let value = '';

  import Pincode from 'svelte-pincode/src/unstyled/Pincode.svelte';
  import PincodeInput from 'svelte-pincode/src/unstyled/PincodeInput.svelte';

  // import { Pincode, PincodeInput } from "svelte-pincode";

  let code = [];
</script>

<Pincode bind:code bind:value>
  {#each { length: count } as _, i}
    <PincodeInput />
  {/each}
</Pincode>

<!-- <div>code: <code>{JSON.stringify(code)}</code></div>
<div>value: <code>{JSON.stringify(value)}</code></div> -->
<style>
  /** PincodeInput */
  :global([data-pincode]) {
    display: inline-flex;
  }
  :global([data-pincode] input) {
    width: 100%;
    padding: 0.5rem 1rem;
    border: 1px solid #cfcfcf;
    text-align: center;
  }

  :global([data-pincode] input):focus {
    outline-color: #df5356;
  }
</style>
