<script>
  import FormItem from '../../../../components/forms/FormItem.svelte';
  import Button from '../../../../components/Button.svelte';
  import { toastAlert } from '../../../../utils/toaster';
  import { fetchApi } from '../../../../services/api';
  import * as yup from 'yup';
  import { Form, Message } from 'svelte-yup';
  import moment from 'moment';

  let submitted = false;
  let isValid;
  // temp variable to converet date time to UTC format
  $: selectedDate = new Date(fields.notify_date);
  $: today = new Date();
  // get yesterdays date
  $: yesterday = new Date(new Date().setDate(new Date().getDate() - 1));

  // validation
  let schema = yup.object().shape({
    title: yup.string().required().label('Title'),
    message: yup.string().required().label('Message'),
    notify_date: yup
      .string()
      .required()
      .label('Notification Date')
      .typeError('Date is a required field')
      .test('type', 'Date should be future date', () => {
        return selectedDate < yesterday ? false : true;
      }),
    notify_time: yup
      .string()
      .required()
      .label('Time')
      .typeError('Time is a required field')
      .test('type', 'Time should be future time', (val) => {
        let result = true;
        // if selected day is today
        if (
          selectedDate.getFullYear() === today.getFullYear() &&
          selectedDate.getMonth() === today.getMonth() &&
          selectedDate.getDate() === today.getDate()
        ) {
          // current time in hh:mm
          let now = new Date().toLocaleTimeString([], {
            hour: '2-digit',
            minute: '2-digit',
            hour12: false,
          });
          // current time in seconds
          let nowInSeconds = moment(now, 'HH:mm').diff(
            moment().startOf('day'),
            'seconds',
          );
          // selected time in seocnds
          let selectedInSeconds = moment(val, 'HH:mm').diff(
            moment().startOf('day'),
            'seconds',
          );

          if (nowInSeconds - selectedInSeconds > 0) {
            // if time in past time
            result = false;
          }
        }
        return result;
      }),
  });
  // package details
  let subscription = ['basic', 'premium', 'premium+'];

  let fields = {
    title: '',
    message: '',
    target_audience: [],
    notify_date: null,
    notify_time: '',
    notify_date_time: '',
  };

  // to convert date and time to UTC format
  $: selected =
    fields.notify_date && fields.notify_time
      ? moment(
          `${fields.notify_date} ${fields.notify_time}`,
          'YYYY-MM-DD HH:mm',
        ).format()
      : '';

  // to capitalize the checkbox values
  $: capitalizeFirstLetter = (string) => {
    return string.charAt(0).toUpperCase() + string.slice(1);
  };

  async function formSubmit() {
    submitted = true;
    isValid = schema.isValidSync(fields);
    // check if valid and package is selected
    if (isValid && !fields.target_audience.length < 1) {
      const res = await fetchApi(
        'POST',
        `api-admin/addPushNotify`,
        JSON.stringify({
          title: fields.title,
          message: fields.message,
          target_audience: fields.target_audience,
          notify_date: fields.notify_date,
          notify_time: fields.notify_time,
          // convert to UTC format
          notify_date_time: selected ? new Date(selected).toISOString() : '',
        }),
      );

      const json = await res.json();
      if (res.status >= 200 && res.status <= 300) {
        toastAlert(
          'info',
          json.message ? json.message : 'Push notification added successfully!',
        );
        clear();
      } else if (res.status >= 400 && res.status <= 499) {
        console.error(
          'Error',
          json.error_description ? json.error_description : 'backend err msg.',
        );
        // loop error messages
        if (json.message) {
          json.message.forEach((element) => {
            toastAlert('error', element ? element : 'backend err msg.');
          });
        }
      }
    }
  }
  // reset field
  let clear = () => {
    submitted = false;
    fields = {
      title: '',
      message: '',
      target_audience: [],
      notify_date: null,
      notify_time: '',
      notify_date_time: '',
    };
  };
</script>

<main>
  <div>
    <h2 class="mt-6 mb-12 text-3xl font-bold text-dark-red">
      Push Notification
    </h2>

    <div class="p-6 border shadow-lg drop-shadow-lg bg-base-100 rounded-box">
      <!-- <h1 class="flex">
        <div class="w-4 h-8 mx-4 bg-red-300 rounded-md" />
        Push Message
      </h1> -->

      <Form {schema} {fields} submitHandler={formSubmit} {submitted}>
        <div class="flex flex-col justify-start w-full gap-2 my-6 md:w-1/2">
          <div>
            <FormItem
              className="w-full"
              label="Title"
              required={true}
              name="name"
              bind:value={fields.title}
              on:input={(event) => {
                fields.title = event.target.value;
              }}
              placeholder="Title"
            />
            <div class="mb-2 text-left">
              <Message name="title" />
            </div>

            <div>
              <FormItem
                required={true}
                formType={'textarea'}
                bindValue={true}
                label={'Message'}
                name={'message'}
                bind:value={fields.message}
                on:input={(event) => (fields.message = event.target.value)}
                placeholder={'Message'}
              />
              <Message name="message" />
            </div>

            <div class="grid grid-cols-1">
              <label for="property_types" class="label">
                <span class="capitalize label-text text-gray-label">
                  Target Audience <span class="text-xl text-dark-red">*</span>
                </span>
              </label>

              <div class="grid grid-cols-1 md:grid-cols-2">
                {#each subscription as option}
                  <div class="flex items-center gap-2 my-2 align-middle">
                    <input
                      class="border border-gray-300 checkbox checkbox-primary"
                      type="checkbox"
                      value={option}
                      bind:group={fields.target_audience}
                    />
                    <span class="label-text text-gray-label">
                      {capitalizeFirstLetter(option)}
                    </span>
                  </div>
                {/each}
              </div>

              {#if fields.target_audience.length < 1 && submitted}
                <p class="my-2 text-sm text-red-500">
                  Target audience is a required field
                </p>
              {/if}
            </div>

            <div class="flex mb-5 space-x-4">
              <div class="w-1/2">
                <span
                  for="endDate"
                  class="inline-block w-full m-1 text-left text-gray-label"
                  >Notification Date <span class="text-xl text-dark-red">*</span
                  >
                </span>
                <input
                  bind:value={fields.notify_date}
                  type="date"
                  name="notify_date"
                  id="selectedDate"
                  class="w-full p-2 text-gray-500 border rounded-md focus:outline-none"
                />
                <div class="mb-2 text-left">
                  <Message name="notify_date" />
                </div>
              </div>
              <div class="w-1/2">
                <span
                  for="endDate"
                  class="inline-block w-full m-1 text-left text-gray-label"
                  >Time <span class="text-xl text-dark-red">*</span>
                </span>
                <input
                  bind:value={fields.notify_time}
                  type="time"
                  class="w-full p-2 text-gray-500 border rounded-md focus:outline-none"
                />
                <div class="mb-2 text-left">
                  <Message name="notify_time" />
                </div>
              </div>
            </div>

            <div class="flex justify-end space-x-4">
              <div class="w-full">
                <Button gradient={true} htmlType="submit" text="Save" />
              </div>
            </div>
          </div>
        </div></Form
      >
    </div>
  </div>
</main>
