<script>
  import AccordionMenu from '../../../components/AccordionMenu.svelte';

  import ProfileList from '../Profile/screens/ProfileLists.svelte';
  import UpdateMobile from '../Profile/screens/UpdateMobileNumber.svelte';
  import UpdateEmailAddress from '../Profile/screens/UpdateEmailAddress.svelte';
  import ResetPassword from '../Profile/screens/ResetPassword.svelte';
  import TwoFactorAuth from '../Profile/screens/TwoFactorAuth.svelte';
  import BankAccInfo from '../Profile/screens/BankAccInfo.svelte';
</script>

<main>
  <div class="">
    <h2 class="mt-6 mb-8 ml-0 text-3xl font-semibold text-dark-red">Profile</h2>
    <div>
      <ProfileList />
      <!--<AccordionMenu props={{ key: 'a', contentLabel: 'Profile' }}>
        <div class="body-manual">
         
        </div>
      </AccordionMenu>

      <AccordionMenu props={{ key: 'b', contentLabel: 'Update Mobile Number' }}>
        <div class="body-manual">
          <UpdateMobile />
        </div>
      </AccordionMenu>

       <AccordionMenu props={{ key: 'c', contentLabel: 'Update Email Address' }}>
        <div class="body-manual">
          <UpdateEmailAddress />
        </div>
      </AccordionMenu>

      <AccordionMenu props={{ key: 'd', contentLabel: 'Reset Password' }}>
        <div class="body-manual">
          <ResetPassword />
        </div>
      </AccordionMenu>

      <AccordionMenu
        props={{ key: 'e', contentLabel: 'Bank Account Information' }}
      >
        <div class="body-manual">
          <BankAccInfo />
        </div>
      </AccordionMenu>

      <AccordionMenu
        props={{ key: 'f', contentLabel: 'Enable 2 Factor Authentication' }}
      >
        <div class="body-manual">
          <TwoFactorAuth />
        </div>
      </AccordionMenu> -->
    </div>
  </div>
</main>
