<script>
  import Stepper from '../../../../../components/icons/Stepper.svelte';
  import MyTab from '../../../../../components/MyTab.svelte';
  import Button from '../../../../../components/Button.svelte';
  import ChildTab from '../../../../../components/AccordionMenu.svelte';
  import { toastAlert } from '../../../../../utils/toaster';
  import { fetchApi } from '../../../../../services/api';
  import { createEventDispatcher } from 'svelte';
  const dispatch = createEventDispatcher();
  export let fetchData = '';
  export let fields = '';
  let export_fields = [];

  let ryear1To5 = '',
    ryear6To10 = '',
    ryear11To15 = '',
    ryear16To20 = '',
    ryear21To25 = '',
    ryear26To30 = '';
  // Mortgage list for 2 year1-5, 6-10,11-15, 16-20, 21-25, 26-30
  if (fetchData['Mortgage Repayment']['Mortgage list for 2'] !== undefined) {
    ryear1To5 = Object.values(
      fetchData['Mortgage Repayment']['Mortgage list for 2'],
    ).filter(function (e) {
      return e.year < 6;
    });
    ryear6To10 = Object.values(
      fetchData['Mortgage Repayment']['Mortgage list for 2'],
    ).filter(function (e) {
      return e.year > 5 && e.year < 11;
    });
    ryear11To15 = Object.values(
      fetchData['Mortgage Repayment']['Mortgage list for 2'],
    ).filter(function (e) {
      return e.year > 10 && e.year < 16;
    });
    ryear16To20 = Object.values(
      fetchData['Mortgage Repayment']['Mortgage list for 2'],
    ).filter(function (e) {
      return e.year > 15 && e.year < 21;
    });
    ryear21To25 = Object.values(
      fetchData['Mortgage Repayment']['Mortgage list for 2'],
    ).filter(function (e) {
      return e.year > 20 && e.year < 26;
    });
    ryear26To30 = Object.values(
      fetchData['Mortgage Repayment']['Mortgage list for 2'],
    ).filter(function (e) {
      return e.year > 25 && e.year < 31;
    });
  }
  //Mortgage list end 2
  // Mortgage list for 1 year1-5, 6-10,11-15, 16-20, 21-25, 26-30
  let year1To5 = Object.values(
    fetchData['Mortgage Repayment']['Mortgage list for 1'],
  ).filter(function (e) {
    return e.year < 6;
  });
  let year6To10 = Object.values(
    fetchData['Mortgage Repayment']['Mortgage list for 1'],
  ).filter(function (e) {
    return e.year > 5 && e.year < 11;
  });
  let year11To15 = Object.values(
    fetchData['Mortgage Repayment']['Mortgage list for 1'],
  ).filter(function (e) {
    return e.year > 10 && e.year < 16;
  });
  let year16To20 = Object.values(
    fetchData['Mortgage Repayment']['Mortgage list for 1'],
  ).filter(function (e) {
    return e.year > 15 && e.year < 21;
  });
  let year21To25 = Object.values(
    fetchData['Mortgage Repayment']['Mortgage list for 1'],
  ).filter(function (e) {
    return e.year > 20 && e.year < 26;
  });
  let year26To30 = Object.values(
    fetchData['Mortgage Repayment']['Mortgage list for 1'],
  ).filter(function (e) {
    return e.year > 25 && e.year < 31;
  });
  //Mortgage list end 1
  let data = [
    {
      title: '',
      completed: true,
    },
    {
      title: '',
      completed: true,
    },
  ];
  const exportPdf = async () => {
    fields.export_fields = export_fields;
    const res = await fetchApi(
      'POST',
      `user/api/calculator/mortgage-repayment-pdf`,
      JSON.stringify({
        ...fields,
        loan_amount: parseFloat(String(fields.loan_amount).replace(/,/g, '')),
      }),
    );
    const json = await res.json();
    if (res.status >= 200 && res.status <= 300) {
      toastAlert('success', 'Downloading!');
      let url = json.url;
      window.open(url);
    } else if(res.status === 403){
        if(json.name === 'MEMBERSHIP_ACL_CHECK'){
          toastAlert('error', json.message ? json.message : 'We have encountered a technical difficulty onboarding you. Please try again later.');
        }else{
          toastAlert('error', json.detail ? json.detail : 'We have encountered a technical difficulty onboarding you. Please try again later.');
        }
    } else {
      console.log('Error', json.message ? json.message : 'backend err msg.');
      toastAlert('error', json.message ? json.message : 'backend err msg.');
    }
  };
</script>

<div>
  <Stepper {data} />
  <h2
    class="mt-10 mb-6 text-xl font-semibold lg:mt-6 lg:mb-10 lg:text-3xl text-dark-red"
  >
    Mortgage Repayment
  </h2>
  <div class="flex border rounded-lg">
    <div class="mt-5 ml-2">
      <input
        type="checkbox"
        class="check"
        bind:group={export_fields}
        value="Loan Details"
      />
    </div>
    <MyTab props={{ title: 'Loan Details', id: 1 }} className="border-none">
      <div class="body-manual">
        <div class="grid grid-cols-2 gap-4 mt-8 text-gray-label">
          <div class="font-normal">Prepared For</div>
          <div class="font-semibold capitalize">
            {fetchData['Loan Details']['Prepared For']}
          </div>
          <div class="font-normal">Loan Amount</div>
          <div class="font-semibold">
            $ <span class="">
              {Number(
                parseFloat(fetchData['Loan Details']['Loan Amount']).toFixed(2),
              ).toLocaleString('en', { minimumFractionDigits: 2 })}
            </span>
          </div>
          <div class="font-normal">Loan Tenure</div>
          <div class="font-semibold">
            {fetchData['Loan Details']['Loan Tenure']}
            <span class="pl-1">
              {fetchData['Loan Details']['Loan Tenure'] === 1
                ? 'Year'
                : 'Years'}
            </span>
          </div>
        </div>
      </div>
    </MyTab>
  </div>
  <div class="flex my-3 border rounded-lg">
    <div class="mt-5 ml-2">
      <input
        type="checkbox"
        class="check"
        bind:group={export_fields}
        value="Interest Rate Comparison"
      />
    </div>
    <MyTab
      props={{
        title: 'Interest Rate Comparison',
        id: 2,
      }}
      className="border-none"
    >
      <div class="body-manual">
        <table class="min-w-full mt-8 border-t divide-y divide-gray-200">
          <thead class="border-t">
            <tr class="border-t">
              <th
                class="px-2 py-3 font-sans font-medium tracking-wider text-left capitalize text-dark-red"
              />
              <th
                class="px-2 py-3 font-sans font-medium tracking-wider text-left capitalize text-dark-red"
                >Interest Rate 1</th
              >
              {#if fetchData['Interest Rate Comparison']['Interest Rate 2']}
                <th
                  class="px-2 py-3 font-sans font-medium tracking-wider text-left capitalize text-dark-red"
                  >Interest Rate 2</th
                >
              {/if}
            </tr>
          </thead>
          <tbody class="bg-white divide-y divide-gray-200 text-gray-label">
            <tr>
              <td
                class="px-2 py-2.5 text-left font-normal capitalize text-dark-red"
              >
                Monthly Installment
              </td>
              <td class="px-2 py-2.5 text-left text-md capitalize font-medium">
                <p>
                  $ <span class=""
                    >{Number(
                      parseFloat(
                        fetchData['Interest Rate Comparison'][
                          'Interest Rate 1'
                        ]['Monthly Installment'],
                      ).toFixed(2),
                    ).toLocaleString('en', { minimumFractionDigits: 2 })}</span
                  >
                </p>
              </td>
              {#if fetchData['Interest Rate Comparison']['Interest Rate 2']}
                <td
                  class="px-2 py-2.5 text-left text-md capitalize font-medium"
                >
                  <p>
                    $ <span class=""
                      >{Number(
                        parseFloat(
                          fetchData['Interest Rate Comparison'][
                            'Interest Rate 2'
                          ]['Monthly Installment'],
                        ).toFixed(2),
                      ).toLocaleString('en', {
                        minimumFractionDigits: 2,
                      })}</span
                    >
                  </p>
                </td>
              {/if}
            </tr>
            <tr>
              <td
                class="px-2 py-2.5 text-left font-normal capitalize text-dark-red"
              >
                Total Payment
              </td>
              <td class="px-2 py-2.5 text-left text-md capitalize">
                <p>
                  $ <span class=""
                    >{Number(
                      parseFloat(
                        fetchData['Interest Rate Comparison'][
                          'Interest Rate 1'
                        ]['Total Payment'],
                      ).toFixed(2),
                    ).toLocaleString('en', { minimumFractionDigits: 2 })}</span
                  >
                </p>
              </td>
              {#if fetchData['Interest Rate Comparison']['Interest Rate 2']}
                <td
                  class="px-2 py-2.5 text-left text-md capitalize font-medium"
                >
                  <p>
                    $ <span class=""
                      >{Number(
                        parseFloat(
                          fetchData['Interest Rate Comparison'][
                            'Interest Rate 2'
                          ]['Total Payment'],
                        ).toFixed(2),
                      ).toLocaleString('en', {
                        minimumFractionDigits: 2,
                      })}</span
                    >
                  </p>
                </td>
              {/if}
            </tr>
            <tr>
              <td
                class="px-2 py-2.5 text-left font-normal capitalize text-dark-red"
              >
                Total Principal
              </td>
              <td class="px-2 py-2.5 text-left text-md capitalize font-medium">
                <p>
                  $ <span class=""
                    >{Number(
                      parseFloat(
                        fetchData['Interest Rate Comparison'][
                          'Interest Rate 1'
                        ]['Total Principal'],
                      ).toFixed(2),
                    ).toLocaleString('en', { minimumFractionDigits: 2 })}</span
                  >
                </p>
              </td>
              {#if fetchData['Interest Rate Comparison']['Interest Rate 2']}
                <td
                  class="px-2 py-2.5 text-left text-md capitalize font-medium"
                >
                  <p>
                    $ <span class=""
                      >{Number(
                        parseFloat(
                          fetchData['Interest Rate Comparison'][
                            'Interest Rate 2'
                          ]['Total Principal'],
                        ).toFixed(2),
                      ).toLocaleString('en', {
                        minimumFractionDigits: 2,
                      })}</span
                    >
                  </p>
                </td>
              {/if}
            </tr>
            <tr>
              <td
                class="px-2 py-2.5 text-left font-normal capitalize text-dark-red"
              >
                Total Interest
              </td>
              <td class="px-2 py-2.5 text-left text-md capitalize font-medium">
                <p>
                  $ <span class=""
                    >{Number(
                      parseFloat(
                        fetchData['Interest Rate Comparison'][
                          'Interest Rate 1'
                        ]['Total Interest'],
                      ).toFixed(2),
                    ).toLocaleString('en', { minimumFractionDigits: 2 })}</span
                  >
                </p>
              </td>
              {#if fetchData['Interest Rate Comparison']['Interest Rate 2']}
                <td
                  class="px-2 py-2.5 text-left text-md capitalize font-medium"
                >
                  <p>
                    $ <span class=""
                      >{Number(
                        parseFloat(
                          fetchData['Interest Rate Comparison'][
                            'Interest Rate 2'
                          ]['Total Interest'],
                        ).toFixed(2),
                      ).toLocaleString('en', {
                        minimumFractionDigits: 2,
                      })}</span
                    >
                  </p>
                </td>
              {/if}
            </tr>
          </tbody>
        </table>
      </div>
    </MyTab>
  </div>
  <div class="flex my-3 border rounded-lg">
    <div class="mt-5 ml-2">
      <input
        type="checkbox"
        class="check"
        bind:group={export_fields}
        value="Mortgage Repayment 1"
      />
    </div>
    <MyTab
      props={{
        title: 'Mortgage Repayment Table (Based on Preferred Rate 1)',
        id: 3,
      }}
      className="border-none"
    >
      <div class="body-manual">
        <table class="min-w-full mt-8 text-sm divide-gray-200">
          <thead>
            <tr class="border-t border-l">
              <th
                class="w-24 px-2 py-1 font-sans text-sm font-medium tracking-wider text-left capitalize border-b text-dark-red"
                >Year
              </th>
              <th
                class="w-8 px-2 py-1 font-sans text-sm font-medium tracking-wider text-left capitalize border-b text-dark-red"
              />
              <th
                class="w-32 px-2 py-1 font-sans text-sm font-medium tracking-wider text-left capitalize border text-dark-red"
              >
                Interest Rate
              </th>
              <th
                class="w-32 px-2 py-3 font-sans text-sm font-medium tracking-wider text-left capitalize border text-dark-red"
              >
                Installment Amount
              </th>
              <th
                class="w-32 px-2 py-3 font-sans text-sm font-medium tracking-wider text-left capitalize border text-dark-red"
              >
                Interest Repayment
              </th>
              <th
                class="w-32 px-2 py-3 font-sans text-sm font-medium tracking-wider text-left capitalize border text-dark-red"
              >
                Principal Repayment
              </th>
              <th
                class="w-32 px-2 py-3 font-sans text-sm font-medium tracking-wider text-left capitalize border text-dark-red"
              >
                Outstanding Amount
              </th>
              <th
                class="w-32 px-2 py-3 font-sans text-sm font-medium tracking-wider text-left capitalize border text-dark-red"
              >
                Cum Interest Paid
              </th>
            </tr>
          </thead>
          <tbody class="bg-white divide-y divide-gray-200 text-gray-label">
            <tr>
              <td colspan="10">
                {#if year1To5.length > 0}
                  <ChildTab
                    props={{
                      contentLabel: 'Year 1-5',
                      id: 1,
                      textColor: 'black',
                    }}
                  >
                    {#each year1To5 as newData, index}
                      <tr
                        class={`${newData.month === 12 ? 'bg-gray-100' : ''}`}
                      >
                        <td
                          class="pl-1 py-2.5 text-left border font-extrabold text-base w-24"
                        >
                          {newData.month === 1 ? 'Yr ' + newData.year : ''}
                        </td>
                        <td
                          class="px-2 py-2.5 font-semibold border text-center w-8"
                        >
                          {newData.month}
                        </td>
                        <td
                          class="px-2 py-2.5 text-left text-sm border capitalize w-32"
                        >
                          <p>
                            {Number(
                              parseFloat(newData.interest_rate).toFixed(3),
                            ).toLocaleString('en', {
                              minimumFractionDigits: 2,
                            })}
                            <span class="">%</span>
                          </p>
                        </td>
                        <td
                          class="px-2 py-2.5 text-left text-sm capitalize border w-32"
                        >
                          <p>
                            $ <span class=""
                              >{Number(
                                parseFloat(newData.installment_amount).toFixed(
                                  2,
                                ),
                              ).toLocaleString('en', {
                                minimumFractionDigits: 2,
                              })}</span
                            >
                          </p>
                        </td>
                        <td
                          class="px-2 py-2.5 text-left capitalize border font-semibold w-32"
                        >
                          <p>
                            $ <span class=""
                              >{Number(
                                parseFloat(newData.interest_repayment).toFixed(
                                  2,
                                ),
                              ).toLocaleString('en', {
                                minimumFractionDigits: 2,
                              })}</span
                            >
                          </p>
                        </td>
                        <td
                          class="px-2 py-2.5 text-left text-sm capitalize border w-32"
                        >
                          <p>
                            $ <span class=""
                              >{Number(
                                parseFloat(newData.principal_repayment).toFixed(
                                  2,
                                ),
                              ).toLocaleString('en', {
                                minimumFractionDigits: 2,
                              })}</span
                            >
                          </p>
                        </td>
                        <td
                          class="px-2 py-2.5 text-left text-sm capitalize border w-32"
                        >
                          <p>
                            $ <span class=""
                              >{Number(
                                parseFloat(newData.outstanding_amount).toFixed(
                                  2,
                                ),
                              ).toLocaleString('en', {
                                minimumFractionDigits: 2,
                              })}</span
                            >
                          </p>
                        </td>
                        <td
                          class="px-2 py-2.5 text-left font-semibold capitalize border w-32"
                        >
                          <p>
                            $ <span class=""
                              >{Number(
                                parseFloat(newData.cum_interest_paid).toFixed(
                                  2,
                                ),
                              ).toLocaleString('en', {
                                minimumFractionDigits: 2,
                              })}</span
                            >
                          </p>
                        </td>
                      </tr>
                    {/each}
                  </ChildTab>
                {/if}
                {#if year6To10.length > 0}
                  <ChildTab
                    props={{
                      contentLabel: 'Year 6-10',
                      id: 2,
                      textColor: 'black',
                    }}
                  >
                    {#each year6To10 as newData, index}
                      <tr
                        class={`${newData.month === 12 ? 'bg-gray-100' : ''}`}
                      >
                        <td
                          class="pl-1 py-2.5 text-left border font-extrabold text-base w-24"
                        >
                          {newData.month === 1 ? 'Yr ' + newData.year : ''}
                        </td>
                        <td
                          class="px-2 py-2.5 font-semibold border text-center w-8"
                        >
                          {newData.month}
                        </td>
                        <td
                          class="px-2 py-2.5 text-left text-sm border capitalize w-32"
                        >
                          <p>
                            {Number(
                              parseFloat(newData.interest_rate).toFixed(3),
                            ).toLocaleString('en', {
                              minimumFractionDigits: 2,
                            })}
                            <span class="">%</span>
                          </p>
                        </td>
                        <td
                          class="px-2 py-2.5 text-left text-sm capitalize border w-32"
                        >
                          <p>
                            $ <span class=""
                              >{Number(
                                parseFloat(newData.installment_amount).toFixed(
                                  2,
                                ),
                              ).toLocaleString('en', {
                                minimumFractionDigits: 2,
                              })}</span
                            >
                          </p>
                        </td>
                        <td
                          class="px-2 py-2.5 text-left capitalize border font-semibold w-32"
                        >
                          <p>
                            $ <span class=""
                              >{Number(
                                parseFloat(newData.interest_repayment).toFixed(
                                  2,
                                ),
                              ).toLocaleString('en', {
                                minimumFractionDigits: 2,
                              })}</span
                            >
                          </p>
                        </td>
                        <td
                          class="px-2 py-2.5 text-left text-sm capitalize border w-32"
                        >
                          <p>
                            $ <span class=""
                              >{Number(
                                parseFloat(newData.principal_repayment).toFixed(
                                  2,
                                ),
                              ).toLocaleString('en', {
                                minimumFractionDigits: 2,
                              })}</span
                            >
                          </p>
                        </td>
                        <td
                          class="px-2 py-2.5 text-left text-sm capitalize border w-32"
                        >
                          <p>
                            $ <span class=""
                              >{Number(
                                parseFloat(newData.outstanding_amount).toFixed(
                                  2,
                                ),
                              ).toLocaleString('en', {
                                minimumFractionDigits: 2,
                              })}</span
                            >
                          </p>
                        </td>
                        <td
                          class="px-2 py-2.5 text-left font-semibold capitalize border w-32"
                        >
                          <p>
                            $ <span class=""
                              >{Number(
                                parseFloat(newData.cum_interest_paid).toFixed(
                                  2,
                                ),
                              ).toLocaleString('en', {
                                minimumFractionDigits: 2,
                              })}</span
                            >
                          </p>
                        </td>
                      </tr>
                    {/each}
                  </ChildTab>
                {/if}
                {#if year11To15.length > 0}
                  <ChildTab
                    props={{
                      contentLabel: 'Year 11-15',
                      id: 3,
                      textColor: 'black',
                    }}
                  >
                    {#each year11To15 as newData, index}
                      <tr
                        class={`${newData.month === 12 ? 'bg-gray-100' : ''}`}
                      >
                        <td
                          class="pl-1 py-2.5 text-left border font-extrabold text-base w-24"
                        >
                          {newData.month === 1 ? 'Yr ' + newData.year : ''}
                        </td>
                        <td
                          class="px-2 py-2.5 font-semibold border text-center w-8"
                        >
                          {newData.month}
                        </td>
                        <td
                          class="px-2 py-2.5 text-left text-sm border capitalize w-32"
                        >
                          <p>
                            {Number(
                              parseFloat(newData.interest_rate).toFixed(3),
                            ).toLocaleString('en', {
                              minimumFractionDigits: 2,
                            })}
                            <span class="">%</span>
                          </p>
                        </td>
                        <td
                          class="px-2 py-2.5 text-left text-sm capitalize border w-32"
                        >
                          <p>
                            $ <span class=""
                              >{Number(
                                parseFloat(newData.installment_amount).toFixed(
                                  2,
                                ),
                              ).toLocaleString('en', {
                                minimumFractionDigits: 2,
                              })}</span
                            >
                          </p>
                        </td>
                        <td
                          class="px-2 py-2.5 text-left capitalize border font-semibold w-32"
                        >
                          <p>
                            $ <span class=""
                              >{Number(
                                parseFloat(newData.interest_repayment).toFixed(
                                  2,
                                ),
                              ).toLocaleString('en', {
                                minimumFractionDigits: 2,
                              })}</span
                            >
                          </p>
                        </td>
                        <td
                          class="px-2 py-2.5 text-left text-sm capitalize border w-32"
                        >
                          <p>
                            $ <span class=""
                              >{Number(
                                parseFloat(newData.principal_repayment).toFixed(
                                  2,
                                ),
                              ).toLocaleString('en', {
                                minimumFractionDigits: 2,
                              })}</span
                            >
                          </p>
                        </td>
                        <td
                          class="px-2 py-2.5 text-left text-sm capitalize border w-32"
                        >
                          <p>
                            $ <span class=""
                              >{Number(
                                parseFloat(newData.outstanding_amount).toFixed(
                                  2,
                                ),
                              ).toLocaleString('en', {
                                minimumFractionDigits: 2,
                              })}</span
                            >
                          </p>
                        </td>
                        <td
                          class="px-2 py-2.5 text-left font-semibold capitalize border w-32"
                        >
                          <p>
                            $ <span class=""
                              >{Number(
                                parseFloat(newData.cum_interest_paid).toFixed(
                                  2,
                                ),
                              ).toLocaleString('en', {
                                minimumFractionDigits: 2,
                              })}</span
                            >
                          </p>
                        </td>
                      </tr>
                    {/each}
                  </ChildTab>
                {/if}
                {#if year16To20.length > 0}
                  <ChildTab
                    props={{
                      contentLabel: 'Year 16-20',
                      id: 4,
                      textColor: 'black',
                    }}
                  >
                    {#each year16To20 as newData, index}
                      <tr
                        class={`${newData.month === 12 ? 'bg-gray-100' : ''}`}
                      >
                        <td
                          class="pl-1 py-2.5 text-left border font-extrabold text-base w-24"
                        >
                          {newData.month === 1 ? 'Yr ' + newData.year : ''}
                        </td>
                        <td
                          class="px-2 py-2.5 font-semibold border text-center w-8"
                        >
                          {newData.month}
                        </td>
                        <td
                          class="px-2 py-2.5 text-left text-sm border capitalize w-32"
                        >
                          <p>
                            {Number(
                              parseFloat(newData.interest_rate).toFixed(3),
                            ).toLocaleString('en', {
                              minimumFractionDigits: 2,
                            })}
                            <span class="">%</span>
                          </p>
                        </td>
                        <td
                          class="px-2 py-2.5 text-left text-sm capitalize border w-32"
                        >
                          <p>
                            $ <span class=""
                              >{Number(
                                parseFloat(newData.installment_amount).toFixed(
                                  2,
                                ),
                              ).toLocaleString('en', {
                                minimumFractionDigits: 2,
                              })}</span
                            >
                          </p>
                        </td>
                        <td
                          class="px-2 py-2.5 text-left capitalize border font-semibold w-32"
                        >
                          <p>
                            $ <span class=""
                              >{Number(
                                parseFloat(newData.interest_repayment).toFixed(
                                  2,
                                ),
                              ).toLocaleString('en', {
                                minimumFractionDigits: 2,
                              })}</span
                            >
                          </p>
                        </td>
                        <td
                          class="px-2 py-2.5 text-left text-sm capitalize border w-32"
                        >
                          <p>
                            $ <span class=""
                              >{Number(
                                parseFloat(newData.principal_repayment).toFixed(
                                  2,
                                ),
                              ).toLocaleString('en', {
                                minimumFractionDigits: 2,
                              })}</span
                            >
                          </p>
                        </td>
                        <td
                          class="px-2 py-2.5 text-left text-sm capitalize border w-32"
                        >
                          <p>
                            $ <span class=""
                              >{Number(
                                parseFloat(newData.outstanding_amount).toFixed(
                                  2,
                                ),
                              ).toLocaleString('en', {
                                minimumFractionDigits: 2,
                              })}</span
                            >
                          </p>
                        </td>
                        <td
                          class="px-2 py-2.5 text-left font-semibold capitalize border w-32"
                        >
                          <p>
                            $ <span class=""
                              >{Number(
                                parseFloat(newData.cum_interest_paid).toFixed(
                                  2,
                                ),
                              ).toLocaleString('en', {
                                minimumFractionDigits: 2,
                              })}</span
                            >
                          </p>
                        </td>
                      </tr>
                    {/each}
                  </ChildTab>
                {/if}
                {#if year21To25.length > 0}
                  <ChildTab
                    props={{
                      contentLabel: 'Year 21-25',
                      id: 5,
                      textColor: 'black',
                    }}
                  >
                    {#each year21To25 as newData, index}
                      <tr
                        class={`${newData.month === 12 ? 'bg-gray-100' : ''}`}
                      >
                        <td
                          class="pl-1 py-2.5 text-left border font-extrabold text-base w-24"
                        >
                          {newData.month === 1 ? 'Yr ' + newData.year : ''}
                        </td>
                        <td
                          class="px-2 py-2.5 font-semibold border text-center w-8"
                        >
                          {newData.month}
                        </td>
                        <td
                          class="px-2 py-2.5 text-left text-sm border capitalize w-32"
                        >
                          <p>
                            {Number(
                              parseFloat(newData.interest_rate).toFixed(3),
                            ).toLocaleString('en', {
                              minimumFractionDigits: 2,
                            })}
                            <span class="">%</span>
                          </p>
                        </td>
                        <td
                          class="px-2 py-2.5 text-left text-sm capitalize border w-32"
                        >
                          <p>
                            $ <span class=""
                              >{Number(
                                parseFloat(newData.installment_amount).toFixed(
                                  2,
                                ),
                              ).toLocaleString('en', {
                                minimumFractionDigits: 2,
                              })}</span
                            >
                          </p>
                        </td>
                        <td
                          class="px-2 py-2.5 text-left capitalize border font-semibold w-32"
                        >
                          <p>
                            $ <span class=""
                              >{Number(
                                parseFloat(newData.interest_repayment).toFixed(
                                  2,
                                ),
                              ).toLocaleString('en', {
                                minimumFractionDigits: 2,
                              })}</span
                            >
                          </p>
                        </td>
                        <td
                          class="px-2 py-2.5 text-left text-sm capitalize border w-32"
                        >
                          <p>
                            $ <span class=""
                              >{Number(
                                parseFloat(newData.principal_repayment).toFixed(
                                  2,
                                ),
                              ).toLocaleString('en', {
                                minimumFractionDigits: 2,
                              })}</span
                            >
                          </p>
                        </td>
                        <td
                          class="px-2 py-2.5 text-left text-sm capitalize border w-32"
                        >
                          <p>
                            $ <span class=""
                              >{Number(
                                parseFloat(newData.outstanding_amount).toFixed(
                                  2,
                                ),
                              ).toLocaleString('en', {
                                minimumFractionDigits: 2,
                              })}</span
                            >
                          </p>
                        </td>
                        <td
                          class="px-2 py-2.5 text-left font-semibold capitalize border w-32"
                        >
                          <p>
                            $ <span class=""
                              >{Number(
                                parseFloat(newData.cum_interest_paid).toFixed(
                                  2,
                                ),
                              ).toLocaleString('en', {
                                minimumFractionDigits: 2,
                              })}</span
                            >
                          </p>
                        </td>
                      </tr>
                    {/each}
                  </ChildTab>
                {/if}
                {#if year26To30.length > 0}
                  <ChildTab
                    props={{
                      contentLabel: 'Year 26-30',
                      id: 6,
                      textColor: 'black',
                    }}
                  >
                    {#each year26To30 as newData, index}
                      <tr
                        class={`${newData.month === 12 ? 'bg-gray-100' : ''}`}
                      >
                        <td
                          class="pl-1 py-2.5 text-left border font-extrabold text-base w-24"
                        >
                          {newData.month === 1 ? 'Yr ' + newData.year : ''}
                        </td>
                        <td
                          class="px-2 py-2.5 font-semibold border text-center w-8"
                        >
                          {newData.month}
                        </td>
                        <td
                          class="px-2 py-2.5 text-left text-sm border capitalize w-32"
                        >
                          <p>
                            {Number(
                              parseFloat(newData.interest_rate).toFixed(3),
                            ).toLocaleString('en', {
                              minimumFractionDigits: 2,
                            })}
                            <span class="">%</span>
                          </p>
                        </td>
                        <td
                          class="px-2 py-2.5 text-left text-sm capitalize border w-32"
                        >
                          <p>
                            $ <span class=""
                              >{Number(
                                parseFloat(newData.installment_amount).toFixed(
                                  2,
                                ),
                              ).toLocaleString('en', {
                                minimumFractionDigits: 2,
                              })}</span
                            >
                          </p>
                        </td>
                        <td
                          class="px-2 py-2.5 text-left capitalize border font-semibold w-32"
                        >
                          <p>
                            $ <span class=""
                              >{Number(
                                parseFloat(newData.interest_repayment).toFixed(
                                  2,
                                ),
                              ).toLocaleString('en', {
                                minimumFractionDigits: 2,
                              })}</span
                            >
                          </p>
                        </td>
                        <td
                          class="px-2 py-2.5 text-left text-sm capitalize border w-32"
                        >
                          <p>
                            $ <span class=""
                              >{Number(
                                parseFloat(newData.principal_repayment).toFixed(
                                  2,
                                ),
                              ).toLocaleString('en', {
                                minimumFractionDigits: 2,
                              })}</span
                            >
                          </p>
                        </td>
                        <td
                          class="px-2 py-2.5 text-left text-sm capitalize border w-32"
                        >
                          <p>
                            $ <span class=""
                              >{Number(
                                parseFloat(newData.outstanding_amount).toFixed(
                                  2,
                                ),
                              ).toLocaleString('en', {
                                minimumFractionDigits: 2,
                              })}</span
                            >
                          </p>
                        </td>
                        <td
                          class="px-2 py-2.5 text-left font-semibold capitalize border w-32"
                        >
                          <p>
                            $ <span class=""
                              >{Number(
                                parseFloat(newData.cum_interest_paid).toFixed(
                                  2,
                                ),
                              ).toLocaleString('en', {
                                minimumFractionDigits: 2,
                              })}</span
                            >
                          </p>
                        </td>
                      </tr>
                    {/each}
                  </ChildTab>
                {/if}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </MyTab>
  </div>
  {#if fetchData['Mortgage Repayment']['Mortgage list for 2'] !== undefined}
    <div class="flex border rounded-lg">
      <div class="mt-5 ml-2">
        <input
          type="checkbox"
          class="check"
          bind:group={export_fields}
          value="Mortgage Repayment 2"
        />
      </div>
      <MyTab
        props={{
          title: 'Mortgage Repayment Table (Based on Preferred Rate 2)',
          id: 4,
        }}
        className="border-none"
      >
        <div class="body-manual">
          <table class="min-w-full mt-8 text-sm divide-gray-200">
            <thead>
              <tr class="border-t border-l">
                <th
                  class="w-24 px-2 py-1 font-sans text-sm font-medium tracking-wider text-left capitalize border-b text-dark-red"
                  >Year
                </th>
                <th
                  class="w-8 px-2 py-1 font-sans text-sm font-medium tracking-wider text-left capitalize border-b text-dark-red"
                />
                <th
                  class="w-32 px-2 py-1 font-sans text-sm font-medium tracking-wider text-left capitalize border text-dark-red"
                >
                  Interest Rate
                </th>
                <th
                  class="w-32 px-2 py-3 font-sans text-sm font-medium tracking-wider text-left capitalize border text-dark-red"
                >
                  Installment Amount
                </th>
                <th
                  class="w-32 px-2 py-3 font-sans text-sm font-medium tracking-wider text-left capitalize border text-dark-red"
                >
                  Interest Repayment
                </th>
                <th
                  class="w-32 px-2 py-3 font-sans text-sm font-medium tracking-wider text-left capitalize border text-dark-red"
                >
                  Principal Repayment
                </th>
                <th
                  class="w-32 px-2 py-3 font-sans text-sm font-medium tracking-wider text-left capitalize border text-dark-red"
                >
                  Outstanding Amount
                </th>
                <th
                  class="w-32 px-2 py-3 font-sans text-sm font-medium tracking-wider text-left capitalize border text-dark-red"
                >
                  Cum Interest Paid
                </th>
              </tr>
            </thead>
            {#if fetchData['Mortgage Repayment']['Mortgage list for 2']}
              <tbody class="bg-white divide-y divide-gray-200 text-gray-label">
                <tr>
                  <td colspan="10">
                    {#if ryear1To5.length > 0}
                      <ChildTab
                        props={{
                          contentLabel: 'Year 1-5',
                          id: 21,
                          textColor: 'black',
                        }}
                      >
                        {#each ryear1To5 as newData, index}
                          <tr
                            class={`${
                              newData.month === 12 ? 'bg-gray-100' : ''
                            }`}
                          >
                            <td
                              class="pl-1 py-2.5 text-left border font-extrabold text-base w-24"
                            >
                              {newData.month === 1 ? 'Yr ' + newData.year : ''}
                            </td>
                            <td
                              class="px-2 py-2.5 font-semibold border text-center w-8"
                            >
                              {newData.month}
                            </td>
                            <td
                              class="px-2 py-2.5 text-left text-sm border capitalize w-32"
                            >
                              <p>
                                {Number(
                                  parseFloat(newData.interest_rate).toFixed(3),
                                ).toLocaleString('en', {
                                  minimumFractionDigits: 2,
                                })}
                                <span class="">%</span>
                              </p>
                            </td>
                            <td
                              class="px-2 py-2.5 text-left text-sm capitalize border w-32"
                            >
                              <p>
                                $ <span class=""
                                  >{Number(
                                    parseFloat(
                                      newData.installment_amount,
                                    ).toFixed(2),
                                  ).toLocaleString('en', {
                                    minimumFractionDigits: 2,
                                  })}</span
                                >
                              </p>
                            </td>
                            <td
                              class="px-2 py-2.5 text-left capitalize border font-semibold w-32"
                            >
                              <p>
                                $ <span class=""
                                  >{Number(
                                    parseFloat(
                                      newData.interest_repayment,
                                    ).toFixed(2),
                                  ).toLocaleString('en', {
                                    minimumFractionDigits: 2,
                                  })}</span
                                >
                              </p>
                            </td>
                            <td
                              class="px-2 py-2.5 text-left text-sm capitalize border w-32"
                            >
                              <p>
                                $ <span class=""
                                  >{Number(
                                    parseFloat(
                                      newData.principal_repayment,
                                    ).toFixed(2),
                                  ).toLocaleString('en', {
                                    minimumFractionDigits: 2,
                                  })}</span
                                >
                              </p>
                            </td>
                            <td
                              class="px-2 py-2.5 text-left text-sm capitalize border w-32"
                            >
                              <p>
                                $ <span class=""
                                  >{Number(
                                    parseFloat(
                                      newData.outstanding_amount,
                                    ).toFixed(2),
                                  ).toLocaleString('en', {
                                    minimumFractionDigits: 2,
                                  })}</span
                                >
                              </p>
                            </td>
                            <td
                              class="px-2 py-2.5 text-left font-semibold capitalize border w-32"
                            >
                              <p>
                                $ <span class=""
                                  >{Number(
                                    parseFloat(
                                      newData.cum_interest_paid,
                                    ).toFixed(2),
                                  ).toLocaleString('en', {
                                    minimumFractionDigits: 2,
                                  })}</span
                                >
                              </p>
                            </td>
                          </tr>
                        {/each}
                      </ChildTab>
                    {/if}
                    {#if ryear6To10.length > 0}
                      <ChildTab
                        props={{
                          contentLabel: 'Year 6-10',
                          id: 22,
                          textColor: 'black',
                        }}
                      >
                        {#each ryear6To10 as newData, index}
                          <tr
                            class={`${
                              newData.month === 12 ? 'bg-gray-100' : ''
                            }`}
                          >
                            <td
                              class="pl-1 py-2.5 text-left border font-extrabold text-base w-24"
                            >
                              {newData.month === 1 ? 'Yr ' + newData.year : ''}
                            </td>
                            <td
                              class="px-2 py-2.5 font-semibold border text-center w-8"
                            >
                              {newData.month}
                            </td>
                            <td
                              class="px-2 py-2.5 text-left text-sm border capitalize w-32"
                            >
                              <p>
                                {Number(
                                  parseFloat(newData.interest_rate).toFixed(3),
                                ).toLocaleString('en', {
                                  minimumFractionDigits: 2,
                                })}
                                <span class="">%</span>
                              </p>
                            </td>
                            <td
                              class="px-2 py-2.5 text-left text-sm capitalize border w-32"
                            >
                              <p>
                                $ <span class=""
                                  >{Number(
                                    parseFloat(
                                      newData.installment_amount,
                                    ).toFixed(2),
                                  ).toLocaleString('en', {
                                    minimumFractionDigits: 2,
                                  })}</span
                                >
                              </p>
                            </td>
                            <td
                              class="px-2 py-2.5 text-left capitalize border font-semibold w-32"
                            >
                              <p>
                                $ <span class=""
                                  >{Number(
                                    parseFloat(
                                      newData.interest_repayment,
                                    ).toFixed(2),
                                  ).toLocaleString('en', {
                                    minimumFractionDigits: 2,
                                  })}</span
                                >
                              </p>
                            </td>
                            <td
                              class="px-2 py-2.5 text-left text-sm capitalize border w-32"
                            >
                              <p>
                                $ <span class=""
                                  >{Number(
                                    parseFloat(
                                      newData.principal_repayment,
                                    ).toFixed(2),
                                  ).toLocaleString('en', {
                                    minimumFractionDigits: 2,
                                  })}</span
                                >
                              </p>
                            </td>
                            <td
                              class="px-2 py-2.5 text-left text-sm capitalize border w-32"
                            >
                              <p>
                                $ <span class=""
                                  >{Number(
                                    parseFloat(
                                      newData.outstanding_amount,
                                    ).toFixed(2),
                                  ).toLocaleString('en', {
                                    minimumFractionDigits: 2,
                                  })}</span
                                >
                              </p>
                            </td>
                            <td
                              class="px-2 py-2.5 text-left font-semibold capitalize border w-32"
                            >
                              <p>
                                $ <span class=""
                                  >{Number(
                                    parseFloat(
                                      newData.cum_interest_paid,
                                    ).toFixed(2),
                                  ).toLocaleString('en', {
                                    minimumFractionDigits: 2,
                                  })}</span
                                >
                              </p>
                            </td>
                          </tr>
                        {/each}
                      </ChildTab>
                    {/if}
                    {#if ryear11To15.length > 0}
                      <ChildTab
                        props={{
                          contentLabel: 'Year 11-15',
                          id: 23,
                          textColor: 'black',
                        }}
                      >
                        {#each ryear11To15 as newData, index}
                          <tr
                            class={`${
                              newData.month === 12 ? 'bg-gray-100' : ''
                            }`}
                          >
                            <td
                              class="pl-1 py-2.5 text-left border font-extrabold text-base w-24"
                            >
                              {newData.month === 1 ? 'Yr ' + newData.year : ''}
                            </td>
                            <td
                              class="px-2 py-2.5 font-semibold border text-center w-8"
                            >
                              {newData.month}
                            </td>
                            <td
                              class="px-2 py-2.5 text-left text-sm border capitalize w-32"
                            >
                              <p>
                                {Number(
                                  parseFloat(newData.interest_rate).toFixed(3),
                                ).toLocaleString('en', {
                                  minimumFractionDigits: 2,
                                })}
                                <span class="">%</span>
                              </p>
                            </td>
                            <td
                              class="px-2 py-2.5 text-left text-sm capitalize border w-32"
                            >
                              <p>
                                $ <span class=""
                                  >{Number(
                                    parseFloat(
                                      newData.installment_amount,
                                    ).toFixed(2),
                                  ).toLocaleString('en', {
                                    minimumFractionDigits: 2,
                                  })}</span
                                >
                              </p>
                            </td>
                            <td
                              class="px-2 py-2.5 text-left capitalize border font-semibold w-32"
                            >
                              <p>
                                $ <span class=""
                                  >{Number(
                                    parseFloat(
                                      newData.interest_repayment,
                                    ).toFixed(2),
                                  ).toLocaleString('en', {
                                    minimumFractionDigits: 2,
                                  })}</span
                                >
                              </p>
                            </td>
                            <td
                              class="px-2 py-2.5 text-left text-sm capitalize border w-32"
                            >
                              <p>
                                $ <span class=""
                                  >{Number(
                                    parseFloat(
                                      newData.principal_repayment,
                                    ).toFixed(2),
                                  ).toLocaleString('en', {
                                    minimumFractionDigits: 2,
                                  })}</span
                                >
                              </p>
                            </td>
                            <td
                              class="px-2 py-2.5 text-left text-sm capitalize border w-32"
                            >
                              <p>
                                $ <span class=""
                                  >{Number(
                                    parseFloat(
                                      newData.outstanding_amount,
                                    ).toFixed(2),
                                  ).toLocaleString('en', {
                                    minimumFractionDigits: 2,
                                  })}</span
                                >
                              </p>
                            </td>
                            <td
                              class="px-2 py-2.5 text-left font-semibold capitalize border w-32"
                            >
                              <p>
                                $ <span class=""
                                  >{Number(
                                    parseFloat(
                                      newData.cum_interest_paid,
                                    ).toFixed(2),
                                  ).toLocaleString('en', {
                                    minimumFractionDigits: 2,
                                  })}</span
                                >
                              </p>
                            </td>
                          </tr>
                        {/each}
                      </ChildTab>
                    {/if}
                    {#if ryear16To20.length > 0}
                      <ChildTab
                        props={{
                          contentLabel: 'Year 16-20',
                          id: 24,
                          textColor: 'black',
                        }}
                      >
                        {#each ryear16To20 as newData, index}
                          <tr
                            class={`${
                              newData.month === 12 ? 'bg-gray-100' : ''
                            }`}
                          >
                            <td
                              class="pl-1 py-2.5 text-left border font-extrabold text-base w-24"
                            >
                              {newData.month === 1 ? 'Yr ' + newData.year : ''}
                            </td>
                            <td
                              class="px-2 py-2.5 font-semibold border text-center w-8"
                            >
                              {newData.month}
                            </td>
                            <td
                              class="px-2 py-2.5 text-left text-sm border capitalize w-32"
                            >
                              <p>
                                {Number(
                                  parseFloat(newData.interest_rate).toFixed(3),
                                ).toLocaleString('en', {
                                  minimumFractionDigits: 2,
                                })}
                                <span class="">%</span>
                              </p>
                            </td>
                            <td
                              class="px-2 py-2.5 text-left text-sm capitalize border w-32"
                            >
                              <p>
                                $ <span class=""
                                  >{Number(
                                    parseFloat(
                                      newData.installment_amount,
                                    ).toFixed(2),
                                  ).toLocaleString('en', {
                                    minimumFractionDigits: 2,
                                  })}</span
                                >
                              </p>
                            </td>
                            <td
                              class="px-2 py-2.5 text-left capitalize border font-semibold w-32"
                            >
                              <p>
                                $ <span class=""
                                  >{Number(
                                    parseFloat(
                                      newData.interest_repayment,
                                    ).toFixed(2),
                                  ).toLocaleString('en', {
                                    minimumFractionDigits: 2,
                                  })}</span
                                >
                              </p>
                            </td>
                            <td
                              class="px-2 py-2.5 text-left text-sm capitalize border w-32"
                            >
                              <p>
                                $ <span class=""
                                  >{Number(
                                    parseFloat(
                                      newData.principal_repayment,
                                    ).toFixed(2),
                                  ).toLocaleString('en', {
                                    minimumFractionDigits: 2,
                                  })}</span
                                >
                              </p>
                            </td>
                            <td
                              class="px-2 py-2.5 text-left text-sm capitalize border w-32"
                            >
                              <p>
                                $ <span class=""
                                  >{Number(
                                    parseFloat(
                                      newData.outstanding_amount,
                                    ).toFixed(2),
                                  ).toLocaleString('en', {
                                    minimumFractionDigits: 2,
                                  })}</span
                                >
                              </p>
                            </td>
                            <td
                              class="px-2 py-2.5 text-left font-semibold capitalize border w-32"
                            >
                              <p>
                                $ <span class=""
                                  >{Number(
                                    parseFloat(
                                      newData.cum_interest_paid,
                                    ).toFixed(2),
                                  ).toLocaleString('en', {
                                    minimumFractionDigits: 2,
                                  })}</span
                                >
                              </p>
                            </td>
                          </tr>
                        {/each}
                      </ChildTab>
                    {/if}
                    {#if ryear21To25.length > 0}
                      <ChildTab
                        props={{
                          contentLabel: 'Year 21-25',
                          id: 25,
                          textColor: 'black',
                        }}
                      >
                        {#each ryear21To25 as newData, index}
                          <tr
                            class={`${
                              newData.month === 12 ? 'bg-gray-100' : ''
                            }`}
                          >
                            <td
                              class="pl-1 py-2.5 text-left border font-extrabold text-base w-24"
                            >
                              {newData.month === 1 ? 'Yr ' + newData.year : ''}
                            </td>
                            <td
                              class="px-2 py-2.5 font-semibold border text-center w-8"
                            >
                              {newData.month}
                            </td>
                            <td
                              class="px-2 py-2.5 text-left text-sm border capitalize w-32"
                            >
                              <p>
                                {Number(
                                  parseFloat(newData.interest_rate).toFixed(3),
                                ).toLocaleString('en', {
                                  minimumFractionDigits: 2,
                                })}
                                <span class="">%</span>
                              </p>
                            </td>
                            <td
                              class="px-2 py-2.5 text-left text-sm capitalize border w-32"
                            >
                              <p>
                                $ <span class=""
                                  >{Number(
                                    parseFloat(
                                      newData.installment_amount,
                                    ).toFixed(2),
                                  ).toLocaleString('en', {
                                    minimumFractionDigits: 2,
                                  })}</span
                                >
                              </p>
                            </td>
                            <td
                              class="px-2 py-2.5 text-left capitalize border font-semibold w-32"
                            >
                              <p>
                                $ <span class=""
                                  >{Number(
                                    parseFloat(
                                      newData.interest_repayment,
                                    ).toFixed(2),
                                  ).toLocaleString('en', {
                                    minimumFractionDigits: 2,
                                  })}</span
                                >
                              </p>
                            </td>
                            <td
                              class="px-2 py-2.5 text-left text-sm capitalize border w-32"
                            >
                              <p>
                                $ <span class=""
                                  >{Number(
                                    parseFloat(
                                      newData.principal_repayment,
                                    ).toFixed(2),
                                  ).toLocaleString('en', {
                                    minimumFractionDigits: 2,
                                  })}</span
                                >
                              </p>
                            </td>
                            <td
                              class="px-2 py-2.5 text-left text-sm capitalize border w-32"
                            >
                              <p>
                                $ <span class=""
                                  >{Number(
                                    parseFloat(
                                      newData.outstanding_amount,
                                    ).toFixed(2),
                                  ).toLocaleString('en', {
                                    minimumFractionDigits: 2,
                                  })}</span
                                >
                              </p>
                            </td>
                            <td
                              class="px-2 py-2.5 text-left font-semibold capitalize border w-32"
                            >
                              <p>
                                $ <span class=""
                                  >{Number(
                                    parseFloat(
                                      newData.cum_interest_paid,
                                    ).toFixed(2),
                                  ).toLocaleString('en', {
                                    minimumFractionDigits: 2,
                                  })}</span
                                >
                              </p>
                            </td>
                          </tr>
                        {/each}
                      </ChildTab>
                    {/if}
                    {#if ryear26To30.length > 0}
                      <ChildTab
                        props={{
                          contentLabel: 'Year 26-30',
                          id: 26,
                          textColor: 'black',
                        }}
                      >
                        {#each ryear26To30 as newData, index}
                          <tr
                            class={`${
                              newData.month === 12 ? 'bg-gray-100' : ''
                            }`}
                          >
                            <td
                              class="pl-1 py-2.5 text-left border font-extrabold text-base w-24"
                            >
                              {newData.month === 1 ? 'Yr ' + newData.year : ''}
                            </td>
                            <td
                              class="px-2 py-2.5 font-semibold border text-center w-8"
                            >
                              {newData.month}
                            </td>
                            <td
                              class="px-2 py-2.5 text-left text-sm border capitalize w-32"
                            >
                              <p>
                                {Number(
                                  parseFloat(newData.interest_rate).toFixed(3),
                                ).toLocaleString('en', {
                                  minimumFractionDigits: 2,
                                })}
                                <span class="">%</span>
                              </p>
                            </td>
                            <td
                              class="px-2 py-2.5 text-left text-sm capitalize border w-32"
                            >
                              <p>
                                $ <span class=""
                                  >{Number(
                                    parseFloat(
                                      newData.installment_amount,
                                    ).toFixed(2),
                                  ).toLocaleString('en', {
                                    minimumFractionDigits: 2,
                                  })}</span
                                >
                              </p>
                            </td>
                            <td
                              class="px-2 py-2.5 text-left capitalize border font-semibold w-32"
                            >
                              <p>
                                $ <span class=""
                                  >{Number(
                                    parseFloat(
                                      newData.interest_repayment,
                                    ).toFixed(2),
                                  ).toLocaleString('en', {
                                    minimumFractionDigits: 2,
                                  })}</span
                                >
                              </p>
                            </td>
                            <td
                              class="px-2 py-2.5 text-left text-sm capitalize border w-32"
                            >
                              <p>
                                $ <span class=""
                                  >{Number(
                                    parseFloat(
                                      newData.principal_repayment,
                                    ).toFixed(2),
                                  ).toLocaleString('en', {
                                    minimumFractionDigits: 2,
                                  })}</span
                                >
                              </p>
                            </td>
                            <td
                              class="px-2 py-2.5 text-left text-sm capitalize border w-32"
                            >
                              <p>
                                $ <span class=""
                                  >{Number(
                                    parseFloat(
                                      newData.outstanding_amount,
                                    ).toFixed(2),
                                  ).toLocaleString('en', {
                                    minimumFractionDigits: 2,
                                  })}</span
                                >
                              </p>
                            </td>
                            <td
                              class="px-2 py-2.5 text-left font-semibold capitalize border w-32"
                            >
                              <p>
                                $ <span class=""
                                  >{Number(
                                    parseFloat(
                                      newData.cum_interest_paid,
                                    ).toFixed(2),
                                  ).toLocaleString('en', {
                                    minimumFractionDigits: 2,
                                  })}</span
                                >
                              </p>
                            </td>
                          </tr>
                        {/each}
                      </ChildTab>
                    {/if}
                  </td>
                </tr>
              </tbody>
            {/if}
          </table>
        </div>
      </MyTab>
    </div>
  {/if}
  <div class="flex flex-col items-center justify-center w-full my-16">
    <div class="w-full px-10 lg:w-1/2">
      <Button
        gradient={true}
        htmlType="submit"
        text="Download Report"
        btnclick={exportPdf}
      />
      <Button
        className="mt-4 w-full"
        isOutlined
        text="Back"
        btnclick={() => dispatch('close')}
      />
    </div>
  </div>
</div>

<style>
  /* jfghdl;as */
  :root {
    --form-control-color: #da3b3e;
    --form-control-disabled: #959495;
  }

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  .form-control {
    font-family: system-ui, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.1;
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
  }

  input[type='checkbox'] {
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--form-background);
    margin: 0;

    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 1.5px solid #da3b3e;
    border-radius: 0.15em;
    transform: translateY(-0.075em);

    display: grid;
    place-content: center;
  }

  input[type='checkbox']::before {
    content: '';
    width: 0.65em;
    height: 0.65em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    /* Windows High Contrast Mode */
    background-color: CanvasText;
  }

  input[type='checkbox']:checked::before {
    transform: scale(1);
  }
</style>
