<script>
  export let width = 55;
  export let height = 45;
</script>

<svg
  width={`${width}`}
  height={`${height}`}
  viewBox="0 0 79 68"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <path
    d="M39.5033 62.3333C55.0857 62.3333 67.7176 49.648 67.7176 34C67.7176 18.3519 55.0857 5.66663 39.5033 5.66663C23.921 5.66663 11.2891 18.3519 11.2891 34C11.2891 49.648 23.921 62.3333 39.5033 62.3333Z"
    stroke="#87898C"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M47.9676 25.5L31.0391 42.5"
    stroke="#87898C"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M31.0391 25.5L47.9676 42.5"
    stroke="#87898C"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
