<script>
  export let toggle = false;
</script>

{#if toggle}
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="w-6 h-6 text-white"
    fill="none"
    viewBox="0 0 24 24"
    stroke="currentColor"
    stroke-width="2"
  >
    <path stroke-linecap="round" stroke-linejoin="round" d="M5 15l7-7 7 7" />
  </svg>
{:else}
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="w-6 h-6 text-white"
    fill="none"
    viewBox="0 0 24 24"
    stroke="currentColor"
    stroke-width="2"
  >
    <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7" />
  </svg>
{/if}
