<script>
  import Button from '../../../../components/Button.svelte';
  import StaticTable from '../../../../components/StaticTable.svelte';
  import IconButton from '../../../../components/IconButton.svelte';
  import FilterIcon from '../../../../components/icons/Filter.svelte';
  import Filter from '../../../../components/Filter.svelte';
  import FilterButton from '../../../../components/FilterButton.svelte';
  import FormItem from '../../../../components/forms/FormItem.svelte';
  import PageCount from '../../../../components/PageCount.svelte';
  import { onMount } from 'svelte';
  import { fetchApi } from '../../../../services/api';
  import { Link } from 'svelte-navigator';
  import { toastAlert } from '../../../../utils/toaster';
  import { serialize } from '../../../../utils/serialize';
  import CustomAction from '../../../../components/table/CustomAction.svelte';

  let filter_page = {
    name: '',
    email: '',
  };

  let loading = false;
  let usersData = [];
  let page = 1;
  let total = 0;
  $: page,
    () => {
      // console.log("change page v2", page);
      // getUserDetail(); // - validate user cookie
      // getAllKV();
    };

  const onChangePage = (newPage) => {
    page = newPage;
    fetchUserList();
  };

  const generateQuery = () => {
    let tempFilter = filter_page;
    Object.keys(tempFilter).forEach((key) => {
      if (tempFilter[key] === '') {
        delete tempFilter[key];
      }
    });
    let queryy = serialize(tempFilter);
    return queryy;
  };

  const fetchUserList = async (query) => {
    loading = true;
    const res = await fetchApi(
      'GET',
      `api-admin/allContactusEnquires?page=${page}${
        query || generateQuery() ? `&${generateQuery()}` : ''
      }`,
    );
    const users = await res.json();
    if (res.status >= 200 && res.status <= 300) {
      loading = false;
      total = users.total || 0;
      usersData = users.data;
    } else {
      loading = false;
      total = 0;
      if (users.name === 'NOT_FOUND') {
        usersData = [];
        toastAlert('error', users.message ? users.message : 'backend err msg.');
      } else {
        toastAlert('error', users.message ? users.message : 'backend err msg.');
      }
    }
  };

  onMount(async () => {
    // get user List
    fetchUserList();
  });

  const onFilter = () => {
    page = 1;
    fetchUserList();
    filter = false;
  };

  const onResetFilter = () => {
    filter_page = {
      name: '',
      email: '',
    };
    page = 1;
    fetchUserList();
    filter = false;
  };

  //icon filterbtn
  let filter;
  // Form

  let tableColumn = [
    {
      key: 'name',
      title: 'Name',
    },
    {
      key: 'email',
      title: 'Email Address',
    },
    {
      key: 'message',
      title: 'Message',
      render: (e) => e.slice(0, 30) + (e.length > 30 ? '...' : ''),
    },
    {
      key: 'created_at',
      title: 'Date Contacted',
      render: (e) =>
        new Date(e)
          .toISOString()
          .substring(0, 10)
          .split('-')
          .reverse()
          .join('-'),
    },
    {
      key: 'customAction', // need to be refactor for dynamic use
      title: '',
      component: {
        component: CustomAction,
        props: {
          url: '/contact/',
          urlId: true,
          labelUrl: 'View',
        },
      },
    },
  ];
</script>

<main>
  <div class="">
    <h2
      class="my-6 ml-6 text-2xl font-semibold lg:mt-6 lg:mb-10 lg:text-3xl text-dark-red"
    >
      Contact Listing
    </h2>
    <div
      class="p-6 border shadow-lg md:h-auto bg-base-100 rounded-box drop-shadow-lg"
    >
      <div class="flex justify-end gap-6">
        <IconButton
          className="border border-dark-red"
          text={'i'}
          textIcon={FilterIcon}
          htmlType="button"
          bind:filter
        />
      </div>
      <!-- Filter Slot -->
      <div class="absolute top-0 right-0 z-10 sm:px-0">
        {#if filter}
          <div>
            <Filter
              on:close={() => {
                filter = false;
              }}
              {onFilter}
              {onResetFilter}
            >
              <div class="gap-3 w-80">
                <div class="w-full mr-2">
                  <div class="grid grid-cols-4 gap-2 whitespace-nowrap" />
                  <div class="mt-2">
                    <FormItem
                      label="Name"
                      labelClass="text-dark-red text-lg"
                      name="name"
                      placeholder="Search Name"
                      bind:value={filter_page.name}
                    />
                  </div>
                  <div class="mt-2">
                    <FormItem
                      label="Email Address"
                      labelClass="text-dark-red text-lg"
                      name="email"
                      placeholder="Search Email"
                      bind:value={filter_page.email}
                    />
                  </div>
                </div>
              </div>
            </Filter>
          </div>
        {/if}
      </div>
      <!-- Table -->
      <div class="">
        <PageCount {total} currentCount={usersData.length} />
        {#if loading}
          <p>Loading...</p>
        {:else}
          <StaticTable
            tableDatas={usersData}
            {tableColumn}
            {total}
            currentPage={page}
            {onChangePage}
            isCheckbox={false}
          />
        {/if}
      </div>
    </div>
  </div>
</main>
