<script>
  import { fetchApi } from '../../../../services/api';
  import { useNavigate } from 'svelte-navigator';
  import Button from '../../../../components/Button.svelte';
  import { onMount } from 'svelte';
  const navigate = useNavigate();
  // View tab
  export let id;
  let contact = '';
  const fetchContactDetail = async () => {
    if (id) {
      const res = await fetchApi('GET', `api-admin/contactUsEnquiry/${id}`);
      contact = await res.json();
      // console.log(contact.name);
    }
  };
  onMount(async () => {
    if (id) {
      fetchContactDetail();
    }
  });
  const back = () => {
    navigate('/contact/list');
  };
</script>

<main>
  <div class="w-full">
    <div class="w-full">
      <h2
        class="my-6 ml-6 text-2xl font-semibold lg:mt-6 lg:mb-10 lg:text-3xl text-dark-red"
      >
        Contact Listing
      </h2>
      <div class="w-full p-6 border shadow bg-base-100 rounded-box">
        <div class="flex">
          <div class="ml-4">
            <div class="mt-5">
              <p class="text-lg capitalize label-text text-gray-label">Name</p>
              <p class="text-gray-600 capitalize">{contact.name}</p>
            </div>
            <div class="mt-5">
              <p class="text-lg capitalize label-text text-gray-label">
                Email Address
              </p>
              <!-- <p class="text-gray-600">{contact.email}</p> -->
              <a
                href={`mailto:${contact.email}`}
                class="text-pink-600 underline">{contact.email}</a
              >
            </div>
            <div class="mt-5">
              <p class="text-lg capitalize label-text text-gray-label">
                Message
              </p>
              {#if contact.message}
                <p class="w-full text-gray-600 md:w-100 qcont">
                  {contact.message}
                </p>
              {:else}
                <p class="text-gray-600 capitalize">-</p>
              {/if}
            </div>
            <div class="flex mt-8 space-x-4 md:ml-36 mb-36">
              <div class="w-full md:w-28">
                <Button
                  gradientInverse
                  htmlType="button"
                  text="Back"
                  btnclick={back}
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<style>
  .qcont:first-letter {
    text-transform: capitalize;
  }
</style>
