<script>
  import { Link } from 'svelte-navigator';
  import SelectedBank from './SelectedBank.svelte';
  import RightArrow from '../../../../../../components/icons/ArrowRight.svelte';
  import CheckCircle from '../../../../../../components/icons/CheckCircle.svelte';
  // import Loading from '../../../../../../components/icons/CheckCircle.svelte';
  import NoDataFound from '../../../../../../components/icons/NoDataFound.svelte';
  import CircleDone from '../../../../../../components/icons/CheckCircleDone.svelte';
  import EmailToLead from './EmailToLead.svelte';
  import EmailToBanker from './EmailToBanker.svelte';
  import BankDrawer from './BankDrawer.svelte';
  import { fetchApi } from '../../../../../../services/api';
  import { useParams } from 'svelte-navigator';
  import { onMount } from 'svelte';
  import { CobrokeStatus } from '../../../../../../stores';
  // export let selectedBank = '';
  const params = useParams();
  $: editId = $params.id;
  let bankName = '';
  let emailToBank = '';
  let emailToLead = '';
  let bankId = '';
  let dcoumentDrawer = '';
  let bankDetails = true;
  let selectedBank = false;
  let emailToLeadPage = false;
  let emailToBankerPage = false;
  let flow2 = true;
  let banks = [];
  let res404 = false;
  let leadData = '';


  const fetchSubmissionBanks = async () => {
    const res = await fetchApi('GET', `customer/submission/banks/${editId}`);
    if (res.status >= 200 && res.status <= 300) {
      banks = await res.json();
    } else if (res.status === 404) {
      res404 = true;
    } else if(res.status === 403){
        if(banks.name === 'MEMBERSHIP_ACL_CHECK'){
          toastAlert('error', banks.message ? banks.message : 'We have encountered a technical difficulty onboarding you. Please try again later.');
        }else{
          toastAlert('error', banks.detail ? banks.detail : 'We have encountered a technical difficulty onboarding you. Please try again later.');
        }
      } else {
      console.log('error', res.status);
    }
    // console.log('fetch Bank list', banks.length);
  };

  const fetchLeadData = async () => {
    const res = await fetchApi('GET', `customer/lead/${editId}`);
    const json = await res.json();
    leadData = json;
    // console.log(leadData);
  };

  onMount(async () => {
    // get Bank List
    fetchLeadData();
    fetchSubmissionBanks();
  });
  const getSelectBank = (
    bkId,
    bkName,
    bkemailToBank,
    bkemailToLead,
    document,
  ) => {
    bankId = bkId;
    bankName = bkName;
    emailToBank = bkemailToBank;
    emailToLead = bkemailToLead;
    dcoumentDrawer = document;
    selectedBank = true;
    bankDetails = false;
  };
  const emailToLeadClick = () => {
    emailToLeadPage = true;
    selectedBank = false;
    bankDetails = false;
  };
  const emailToBankerClick = () => {
    emailToBankerPage = true;
    selectedBank = false;
    bankDetails = false;
  };
</script>

<main>
  {#if !res404}
    {#if leadData.lead_status === 'lost'}
      {#if bankDetails && banks.length !== undefined}
        <h2 class="mt-6 mb-5 text-2xl font-bold text-dark-red">
          Bank Submission
        </h2>
        <section
          class="flex flex-col items-center justify-center px-3 pt-8 pb-32 my-8 border rounded-lg gap-y-10"
        >
          {#each banks as bank}
            <div
              class="w-full py-3 shadow-md cursor-pointer md:w-4/6 border-1 rounded-xl"
              on:click={() =>
                getSelectBank(
                  bank.bank.id,
                  bank.bank.name,
                  bank.email_to_bank,
                  bank.email_to_lead,
                  bank.display_document_drawer,
                )}
            >
              <!-- <Link to="email-to-bank"> -->
              <div class="flex justify-between px-4">
                <p class="text-lg font-medium text-gray-label">
                  {bank.bank.name}
                </p>
                <p class="pt-3"><RightArrow /></p>
              </div>
              {#if bank.email_to_bank && bank.email_to_lead}
                <p class="px-4 text-sm text-green-600">(2/2 tasks Completed)</p>
              {:else if bank.email_to_bank || bank.email_to_lead}
                <p class="px-4 text-sm text-dark-red">1/2 Tasks</p>
              {:else}
                <p class="px-4 text-sm text-dark-red">0/2 Tasks</p>
              {/if}
            </div>
          {:else}
            <div class="flex flex-col items-center justify-center">
              <NoDataFound />
              <p class="text-lg font-semibold text-gray-label">No Data Found</p>
            </div>
          {/each}
        </section>
      {/if}
      {#if selectedBank}
        <h2 class="mt-6 text-2xl font-bold text-dark-red">Selected Bank #1</h2>
        <h3 class="mt-3 mb-5 text-xl font-bold capitalize">
          {bankName}
          {#if emailToBank && emailToLead}
            <span class="ml-4 font-normal text-green-600 text-md">
              (2/2 tasks Completed)
            </span>
          {:else if emailToBank || emailToLead}
            <span class="ml-4 font-normal text-md text-dark-red">1/2 Tasks</span>
          {:else}
            <span class="ml-4 font-normal text-md text-dark-red">0/2 Tasks</span>
          {/if}
        </h3>
        <section
          class="flex flex-col items-center justify-center px-3 pt-16 pb-32 my-8 border rounded-lg gap-y-16 "
        >
          {#if emailToLead}
            {#if $CobrokeStatus !== 'Co-Broke Sent'}
              <div
                class="w-full py-3 shadow-md cursor-pointer md:w-4/6 border-1 rounded-xl"
                on:click={emailToLeadClick}
              >
                <div class="flex justify-between px-4">
                  <p class="pt-1"><CircleDone /></p>
                  <p class="text-xl mr-80">Email to Lead</p>
                  <p class="pt-3"><RightArrow /></p>
                </div>
              </div>
            {:else}
              <div
                class="w-full py-3 shadow-md cursor-pointer md:w-4/6 border-1 rounded-xl"
              >
                <div class="flex justify-between px-4">
                  <p class="pt-1"><CircleDone /></p>
                  <p class="text-xl mr-80">Email to Lead</p>
                  <p class="pt-3"><RightArrow /></p>
                </div>
              </div>
            {/if}
          {:else}
            <div
              class="w-full py-3 shadow-md cursor-pointer md:w-4/6 border-1 rounded-xl"
              on:click={emailToLeadClick}
            >
              <div class="flex justify-between px-4">
                <p class="pt-1"><CheckCircle /></p>
                <p class="text-xl mr-80">Email to Lead</p>
                <p class="pt-3"><RightArrow /></p>
              </div>
            </div>
          {/if}
          {#if emailToLead}
            {#if emailToBank}
              {#if $CobrokeStatus !== 'Co-Broke Sent'}
                <div
                  class="w-full py-3 shadow-md cursor-pointer md:w-4/6 border-1 rounded-xl"
                  on:click={emailToBankerClick}
                >
                  <div class="flex justify-between px-4">
                    <p class="pt-1"><CircleDone /></p>
                    <p class="text-xl mr-80">Email to Banker</p>
                    <p class="pt-3"><RightArrow /></p>
                  </div>
                </div>
              {:else}
                <div
                  class="w-full py-3 shadow-md cursor-pointer md:w-4/6 border-1 rounded-xl"
                >
                  <div class="flex justify-between px-4">
                    <p class="pt-1"><CircleDone /></p>
                    <p class="text-xl mr-80">Email to Banker</p>
                    <p class="pt-3"><RightArrow /></p>
                  </div>
                </div>
              {/if}
            {:else if $CobrokeStatus !== 'Co-Broke Sent'}
              <div
                class="w-full py-3 shadow-md cursor-pointer md:w-4/6 border-1 rounded-xl"
                on:click={emailToBankerClick}
              >
                <div class="flex justify-between px-4">
                  <p class="pt-1"><CheckCircle /></p>
                  <p class="text-xl mr-80">Email to Banker</p>
                  <p class="pt-3"><RightArrow /></p>
                </div>
              </div>
            {:else}
              <div
                class="w-full py-3 shadow-md cursor-pointer md:w-4/6 border-1 rounded-xl"
              >
                <div class="flex justify-between px-4">
                  <p class="pt-1"><CheckCircle /></p>
                  <p class="text-xl mr-80">Email to Banker</p>
                  <p class="pt-3"><RightArrow /></p>
                </div>
              </div>
            {/if}
          {:else}
            <div
              class="w-full py-3 shadow-md cursor-pointer md:w-4/6 border-1 rounded-xl"
            >
              <div class="flex justify-between px-4">
                <p class="pt-1"><CheckCircle /></p>
                <p class="text-xl text-gray-400 mr-80">Email to Banker</p>
                <p class="pt-3"><RightArrow /></p>
              </div>
            </div>
          {/if}
        </section>
      {/if}
      {#if emailToLeadPage}
        <EmailToLead
          {bankId}
          leadId={editId}
          on:back={() => (
            (emailToLeadPage = !emailToLeadPage), (selectedBank = !selectedBank)
          )}
        />
      {/if}
      {#if emailToBankerPage}
        {#if dcoumentDrawer}
          <BankDrawer
            {bankId}
            leadId={editId}
            {bankName}
            on:back={() => (
              (emailToBankerPage = !emailToBankerPage),
              (selectedBank = !selectedBank)
            )}
          />
        {:else}
          <EmailToBanker
            {bankId}
            leadId={editId}
            {bankName}
            on:back={() => (
              (emailToBankerPage = !emailToBankerPage),
              (selectedBank = !selectedBank)
            )}
          />
        {/if}
      {/if}
    {/if}
  {:else}
    <div class="flex flex-col items-center justify-center h-screen">
      <NoDataFound />
      <p class="text-lg font-semibold text-gray-label">Data Not Found</p>
    </div>
  {/if}
</main>
