<script>
  import { Link, navigate } from 'svelte-navigator';
  import FormItem from '../../../../../../components/forms/FormItem.svelte';
  import Button from '../../../../../../components/Button.svelte';
  import Attachment from '../../../../../../components/icons/Attachment.svelte';
  import Modal from '../../../../../../components/Modal.svelte';
  import EmailVerify from '../../../../../../components/icons/dashboard/profile/EmailVerify.svelte';
  import Stepper from '../../../../../../components/icons/Stepper.svelte';

  //popUp Modal
  let isChecked = false;

  //Email Form submit
  const submit = () => {
    isChecked = true;
  };
  //One step rewert page "back page"
  const back = () => {
    location.reload();
  };
</script>

<main class="my-8">
  <div class="flex justify-between">
    <h3 class="text-lg font-bold text-dark-red">Selected Bank #2</h3>
  </div>
  <div class="flex my-3 space-x-4">
    <h3 class="text-lg font-bold">Maybank</h3>
    <p class="text-dark-red">(0/2 Tasks)</p>
  </div>
  <Stepper firstChecked={true} className="bg-dark-red" />
  <div>
    <div class="flex mt-4 text-gray-label">
      <div class="w-44"><h1>Select Banker :</h1></div>
      <div><h1>Tom Hanks</h1></div>
    </div>
    <div class="flex mt-4 text-gray-label">
      <div class="w-44"><h1>Email Address :</h1></div>
      <div><h1>tommy@dbsbank.com</h1></div>
    </div>
    <div class="flex mt-4 text-gray-label">
      <div class="w-48"><h1>Law Firm Selection :</h1></div>
      <div class="w-full pr-16 ml-8">
        <FormItem name="lawfirm" formType="select" />
      </div>
    </div>

    <div class="flex mt-4 text-gray-label">
      <div class="w-48"><h1>Add CC :</h1></div>
      <div class="w-full pr-16 ml-8">
        <FormItem name="cc" placeholder="Separate email with ," />
      </div>
    </div>

    <div class="flex mt-0 capitalize text-gray-label">
      <div class="w-44"><h1>Subject :</h1></div>
      <div>
        <h1>
          IQRATE : Our Mortgage Broker <strong>
            NAME OF THE LOGGED IN AGENT , MOBILE NUMBER OF THE LOGGED IN AGENT
          </strong> is submitting a case for your bank’s approval.
        </h1>
      </div>
    </div>
    <div class="flex mt-5 text-gray-label">
      <div class="w-44"><h1>Email content :</h1></div>
    </div>
  </div>

  <div class="mt-5">
    <h1>Dear <span class="font-bold">Homer Simple,</span></h1>
    <div>
      <p class="my-3">
        Our mortgage broker <strong>Name of Broker Contact number</strong> is submitting
        a case for your bank’s approval.
      </p>
      <p>Loan Application Details :</p>
      <p>Name of Lead: <strong>Frank Signature</strong></p>
      <p>Lead’s contact no: <strong>90889088</strong></p>
      <p>Lead’s email address: <strong>Frank@gmail.com</strong></p>
      <p>Type of Loan: <strong>New Purchase</strong></p>
      <p>Loan Amount: <strong>$1,000,000</strong></p>
      <p>Name of Law Firm: <strong>Selected Law Firm</strong></p>
      <p class="my-3">
        Please do not hesitate to contact your mortgage broker if you have any
        queries.
      </p>
      <p>Have a great day ahead.</p>
      <p class="my-3">Thank you.</p>
      <p>From IQrate Admin</p>
      <p>(Please DO NOT reply to the email)</p>
    </div>
  </div>

  <div class="w-full pr-16 mt-4">
    <FormItem
      name="emailAddress"
      label="Add Remarks into Email:"
      placeholder="Remarks"
      formType="textarea"
    />
  </div>
  <div class="flex mt-8">
    <Attachment />
    <div class="mt-1 ml-10">
      <strong>LOAN DETAILS.ZIP</strong>
      <p>
        (Dev Note :: The selected package details from the bank along with the
        selected documents from the previous screen will be contained in this
        zip file )
      </p>
    </div>
  </div>
  <!-- submit and back button -->
  <div class="flex justify-center w-full mt-16 mb-6">
    <div class="w-1/2 space-y-8">
      <Button gradient={true} text="Submit" btnclick={submit} />
      <Button isOutlined text="Back" className="w-full" btnclick={back} />
    </div>
  </div>
  <!-- End submit and back button -->
  <!-- Pop up -->
  <div class="mt-4 ">
    <Modal
      on:close={() => (isChecked = !isChecked)}
      props={{ btnKey: 'emailToLead', btnLabel: 'emailToLead' }}
      checked={isChecked}
    >
      <div class="flex justify-center">
        <EmailVerify />
      </div>
      <div class="mx-2 my-6 text-gray-label">
        Email has been successfylly send to the lead <b>LEAD NAME</b>
      </div>
      <div class="mx-8 my-6 text-gray-label">
        <Button text="Done" className="w-full" gradient />
      </div>
    </Modal>
    <!-- end Pup up -->
  </div>
</main>
