<script>
  import { Router, Route, Link } from 'svelte-navigator';
  import BankSubmission from './BankSubmission.svelte';
  import SelectedBank from './SelectedBank.svelte';
</script>

<div>
  <Router>
    <Route path="email-to-bank" component={SelectedBank} />
  </Router>
  <BankSubmission />
</div>
