<script>
  import { Link } from 'svelte-navigator';
  import EmailToLead from './EmailToLead.svelte';
  import VerifyUploadedDoc from './VerifyUploadedDoc.svelte';
  import EmailToBanker from './EmailToBanker.svelte';
  import Stepper from '../../../../../../components/icons/Stepper.svelte';
</script>

<div>
  <div class="flex justify-between">
    <h3 class="text-lg font-bold text-dark-red ">Selected Bank #2</h3>
  </div>

  <h3 class="text-lg font-bold ">Maybank</h3>
  <Stepper />
  <div><EmailToLead /></div>
  <!-- <div><VerifyUploadedDoc /></div>
  <div><EmailToBanker /></div> -->
</div>
