<script>
  import { Link } from 'svelte-navigator';

  import ShareIcon from '../../../../../../components/icons/Share.svelte';
  import EyeOutlined from '../../../../../../components/icons/password/EyeOutlined.svelte';
  import Button from '../../../../../../components/Button.svelte';
</script>

<div>
  <div
    class="flex w-full h-10 pt-1 pl-3 mt-4 text-lg font-bold border text-dark-red rounded-xl"
    style="background-color:#EAEAEA"
  >
    2. Verify Uploaded Documents
  </div>

  <div
    class="w-full py-3 pl-6 mt-4 border rounded-xl border-dark-red"
    style="background-color:#F4F4F4"
  >
    <div class="flex justify-between w-full">
      <div class="pt-1">Get lead to complete the following document upload</div>
      <div class="pt-1 pr-3"><ShareIcon /></div>
    </div>
    <div>
      <Link to="" class="text-blue-500"
        >http://iqrate.com/mydocument/842375cukgeh</Link
      >
      <h1>Password : 978kjkj</h1>
    </div>
  </div>

  <div
    class="w-full py-3 pl-6 mt-4 border rounded-xl border-dark-red"
    style="background-color:#F4F4F4"
  >
    <h1 class="pt-1">Verify uploaded documents</h1>
    <div class="flex">
      <div class="mt-1"><EyeOutlined /></div>
      <div class="pl-3">DBS Bank Form</div>
    </div>
    <div class="flex">
      <div class="mt-1"><EyeOutlined /></div>
      <div class="pl-3">NRIC</div>
    </div>
    <div class="flex">
      <div class="mt-1"><EyeOutlined /></div>
      <div class="pl-3">OTP - Option to Purchase</div>
    </div>
    <div class="flex">
      <div class="mt-1"><EyeOutlined /></div>
      <div class="pl-3">IRAS</div>
    </div>
    <div class="flex">
      <div class="mt-1"><EyeOutlined /></div>
      <div class="pl-3">CPF</div>
    </div>
    <div class="flex">
      <div class="mt-1"><EyeOutlined /></div>
      <div class="pl-3">HDB</div>
    </div>
    <div class="flex">
      <div class="mt-1"><EyeOutlined /></div>
      <div class="pl-3">Payslips</div>
    </div>
    <div class="flex">
      <div class="mt-1"><EyeOutlined /></div>
      <div class="pl-3">Valuation Reports</div>
    </div>
    <div class="flex">
      <div class="mt-1"><EyeOutlined /></div>
      <div class="pl-3">Outstanding Loan Statements</div>
    </div>
    <div class="flex">
      <div class="mt-1"><EyeOutlined /></div>
      <div class="pl-3">Tenancy Agreement & Stamp Certificates</div>
    </div>
  </div>

  <div class="w-full mt-4">
    <Button text="Mark as Complete" className="w-full" gradient />
  </div>
</div>
