<script>
  import AccordionMenu from '../../../components/AccordionMenu.svelte';
  import { fetchApi } from '../../../services/api';
  import BasicModules from './screens/BasicModule/BasicModules.svelte';
  import ApplicationDemo from './screens/ApplicationDemo/ApplicationDemo.svelte';
  import UserGuide from './screens/UserGuide/UserGuide.svelte';
  import MyTab from '../../../components/MyTab.svelte';

  import { onMount } from 'svelte';

  let trainingResult = [];
  let trainingResult1 = [];

  onMount(async () => {
    trainingApi();
  });

  const trainingApi = async () => {
    const res = await fetchApi('GET', `training-categories`, null, 'cmsApi');
    const trainingList = await res.json();
    // trainingResult = trainingList.data[0].attributes.category;
    trainingResult = trainingList;
    // trainingResult1 = trainingResult[0].attributes;

    // trainingResult1 = Object.keys(trainingList.attributes).map((key) => ({
    //   id: String(key),
    //   category: String(),
    //   //   // name: trainingList[data],
    // }));

    // console.log('select Title Api ', trainingResult);
    if(res.status === 403){
      if(trainingList.name === 'MEMBERSHIP_ACL_CHECK'){
        toastAlert('error', trainingList.message ? trainingList.message: 'We have encountered a technical difficulty. Please try again later.')
      }else{
        toastAlert('error', trainingList.detail ? trainingList.detail : 'We have encountered a technical difficulty onboarding you. Please try again later.');
      }
    }
  };
</script>

<main>
  <div class="">
    <h2 class="mt-6 mb-10 text-3xl font-bold text-dark-red">Training</h2>
    <div>
      {#each trainingResult as heading}
        <MyTab
          props={{
            title: heading.category.replace(/([a-z])([A-Z])/, '$1 $2'),
            id: heading.id,
          }}
        >
          <div class="bg-white rounded-lg ">
            <p
              class="py-6 mr-3 font-normal tracking-wide text-justify text-gray-label"
            >
              {#if heading.category === 'BasicModules'}
                <div class="body-manual">
                  <BasicModules />
                </div>
              {/if}

              {#if heading.category === 'ApplicationDemo'}
                <div class="body-manual">
                  <ApplicationDemo />
                </div>
              {/if}

              {#if heading.category === 'UserGuide'}
                <div class="body-manual">
                  <UserGuide />
                </div>
              {/if}
            </p>
          </div>
        </MyTab>
        <!-- <AccordionMenu
          props={{
            key: 'basicModules',
            contentLabel: heading.category.replace(/([a-z])([A-Z])/, '$1 $2'),
          }}
        >
          {#if heading.category === 'BasicModules'}
            <div class="body-manual">
              <BasicModules />
            </div>
          {/if}

          {#if heading.category === 'ApplicationDemo'}
            <div class="body-manual">
              <ApplicationDemo />
            </div>
          {/if}

          {#if heading.category === 'UserGuide'}
            <div class="body-manual">
              <UserGuide />
            </div>
          {/if}
        </AccordionMenu> -->
      {/each}
    </div>
  </div>
</main>
