<script>
  import { Route, Router } from 'svelte-navigator';
  import DocumentDrawer from './screens/DocumentDrawer.svelte';
  import { globalHistory } from 'svelte-navigator';
  import OtpVerify from './screens/OtpVerify.svelte';

  const historyStore = { subscribe: globalHistory.listen };
  $: url = $historyStore.location.pathname;
  $: Client = url.includes('/magic/ui/drawer/');
</script>

<div>
  {#if Client}
    <OtpVerify />
  {/if}
  {#if !Client}
    <DocumentDrawer />
  {/if}
</div>
