<script>
    import { Accordion, AccordionItem } from 'svelte-collapsible';
    import DownArrow from '../../components/icons/dashboard/profile/DownArrow.svelte';

    export let props = '';
    export let fileSize = '';
    export let activeKey = null;
    let toggle = false;
  </script>
  
  <main>
    <div class="mb-4">
      <Accordion bind:key={activeKey}>
        <div class="rounded-lg shadow">
          <AccordionItem key={props.key}>
            <div
              slot="header"
              class="w-full shadow-md"
              on:click={() => (toggle = !toggle)}>
                <div class="flex justify-between">
                    <div class="py-3 text-left font-normal">
                        <p class={`pt-1 pl-5 ${props.textColor ? 'text-gray-label' : 'text-black'}`}>
                        {props.contentLabel}
                        </p>
                    </div>
                    {#if fileSize}
                        <div class="flex">
                        <div class="pt-2.5 pr-3 text-gray-label">{fileSize}</div>
                        <div class="pt-3 pr-3">
                            <DownArrow {toggle} />
                        </div>
                        </div>
                    {:else}
                        <div class="pt-3 pr-3">
                        <DownArrow {toggle} />
                        </div>
                    {/if}
                </div>
            </div>
            <div slot="body">
              <slot />
            </div>
          </AccordionItem>
        </div>
      </Accordion>
    </div>
  </main>
  