<script>
    import { Accordion, AccordionItem } from 'svelte-collapsible';
    // import { Accordion, AccordionItem } from "svelte-accessible-accordion";
    import DownArrow from '../../components/icons/dashboard/profile/DownArrow.svelte';
  
    export let props = '';
    export let activeKey = null;
    export let className = '';
    let toggle = false;
  </script>
  
  <main>
    <div class="w-full mb-4">
      <Accordion bind:key={activeKey}>
        <div class={`my-0 rounded-lg shadow ${className ? '' : 'shadow'} `}>
          <AccordionItem key={props.key}>
            <div
              slot="header"
              class="grid grid-cols-3 loan-package-bg-color"
              on:click={() => (toggle = !toggle)}
            >
                <div></div>
                <div class="py-2 text-xl font-medium text-center">
                    <h1
                    class={`pt-1 ${className} ${
                        props.textColor ? 'text-gray-label' : 'text-white'
                    } `}
                    >
                    {props.contentLabel}
                    </h1>
                </div>
                <div class="flex justify-end">
                    <div>
                        <div class="pt-3 pr-3">
                            <DownArrow {toggle} />
                        </div>
                    </div>
                </div>
            </div>
  
            <div class="w-full" slot="body">
              <slot />
            </div>
          </AccordionItem>
        </div>
      </Accordion>
    </div>
  </main>
  <style>
    .loan-package-bg-color{
        background-color:#DF5356;
    }
  </style>
  