<script>
    import { Accordion, AccordionItem } from 'svelte-collapsible';
    import DownArrow from '../../components/icons/dashboard/profile/DownArrow.svelte';
    import FormCheckBox from '../../components/forms/FormCheckbox.svelte';

    export let props = '';
    export let fileSize = '';
    export let activeKey = null;
    let toggle = false;
  </script>
  
  <main>
    <div class="mb-4">
      <Accordion bind:key={activeKey}>
        <div class="rounded-lg shadow">
          <AccordionItem key={props.key}>
            <div
              slot="header"
              class="w-full shadow-md"
              on:click={() => (toggle = !toggle)}>
                <div class="grid grid-cols-12 w-full">
                    <div class="mt-3 ml-6">
                        <FormCheckBox 
                            name="fredhFund"
                            checked = {false}
                            style = "color: black"
                        />    
                    </div>
                    <div class="col-span-11">
                        <div class="flex justify-between">
                            <div class="py-3 text-xl font-medium">
                                <p class={`pt-1 pl-8 ${props.textColor ? 'text-gray-label' : 'text-black'}`}>
                                {props.contentLabel}
                                </p>
                            </div>
                            {#if fileSize}
                                <div class="flex">
                                <div class="pt-2.5 pr-3 text-gray-label">{fileSize}</div>
                                <div class="pt-3 pr-3">
                                    <DownArrow {toggle} />
                                </div>
                                </div>
                            {:else}
                                <div class="pt-3 pr-3">
                                <DownArrow {toggle} />
                                </div>
                            {/if}
                        </div>
                    </div>
                </div>
            </div>
            <div slot="body">
              <slot />
            </div>
          </AccordionItem>
        </div>
      </Accordion>
    </div>
  </main>
  