<script>
  import { Route, Router } from 'svelte-navigator';

  import PayoutList from './List/index.svelte';
  import Details from './Details/index.svelte';
</script>

<Router>
  <Route path="list"><PayoutList /></Route>
  <Route path="details/:id" component={Details} />
</Router>
