<svg
  width="28"
  height="28"
  viewBox="0 0 28 28"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <g filter="url(#filter0_d_2258_3760)">
    <path
      d="M23.6251 4.04514L19.9735 0.374858C19.7322 0.134775 19.4057 0 19.0653 0C18.7249 0 18.3983 0.134775 18.157 0.374858L5.21153 13.3017L4.02958 18.4028C3.9888 18.5892 3.9902 18.7825 4.03367 18.9683C4.07714 19.1542 4.16157 19.328 4.28081 19.4771C4.40005 19.6261 4.55109 19.7466 4.72287 19.8298C4.89466 19.913 5.08287 19.9568 5.27374 19.958C5.36268 19.967 5.4523 19.967 5.54124 19.958L10.6983 18.776L23.6251 5.86162C23.8652 5.62031 24 5.29377 24 4.95338C24 4.61299 23.8652 4.28644 23.6251 4.04514ZM10.0762 17.6563L5.24264 18.6703L6.34372 13.93L16.0295 4.28153L19.762 8.01402L10.0762 17.6563ZM20.5956 7.112L16.8631 3.37951L19.028 1.22711L22.6982 4.9596L20.5956 7.112Z"
      fill="black"
    />
  </g>
  <defs>
    <filter
      id="filter0_d_2258_3760"
      x="0"
      y="0"
      width="28"
      height="27.9647"
      filterUnits="userSpaceOnUse"
      color-interpolation-filters="sRGB"
    >
      <feFlood flood-opacity="0" result="BackgroundImageFix" />
      <feColorMatrix
        in="SourceAlpha"
        type="matrix"
        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
        result="hardAlpha"
      />
      <feOffset dy="4" />
      <feGaussianBlur stdDeviation="2" />
      <feComposite in2="hardAlpha" operator="out" />
      <feColorMatrix
        type="matrix"
        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"
      />
      <feBlend
        mode="normal"
        in2="BackgroundImageFix"
        result="effect1_dropShadow_2258_3760"
      />
      <feBlend
        mode="normal"
        in="SourceGraphic"
        in2="effect1_dropShadow_2258_3760"
        result="shape"
      />
    </filter>
  </defs>
</svg>
