<script>
  //SAMPLE DATA
  export let data = [
    {
      title: '',
      completed: true,
    },
    {
      title: '',
      completed: false,
    },
  ];
</script>

<nav aria-label="Progress" class="w-full my-6">
  <ol role="list" class="flex items-center justify-between w-full">
    {#each data as d, i}
      <li class={`relative ${i + 1 === data.length ? '' : 'w-full'}`}>
        {#if i + 1 < data.length}
          <div class="absolute inset-0 flex items-center" aria-hidden="true">
            <div
              style="height: 1px;"
              class={` ${d.title ? '' : 'mt-5'} w-full bg-gray-400`}
            />
          </div>
        {/if}
        <p
          class={`relative flex items-center justify-center w-8 h-8 mt-5 rounded-full ${
            d.completed ? 'bg-dark-red' : 'bg-gray-400'
          } `}
        >
          <span class="text-white">{i + 1}</span>
        </p>
        <p class="-ml-8">{d.title ? d.title : ''}</p>
      </li>
    {/each}
  </ol>
</nav>
