<script>
  import SupportButton from '../../components/Button.svelte';
  import { useNavigate } from 'svelte-navigator';

  const navigate = useNavigate();
  const ContactUs = () => {
    navigate('contact');
  };
</script>

<main>
  <div>
    <div>
      <svg
        width="199"
        height="209"
        viewBox="0 0 199 209"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect
          opacity="0.08"
          y="62"
          width="199"
          height="147"
          rx="24"
          fill="#DF5356"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M45 118.099V94.5142C45 90.3652 53.4076 87 63.7737 87H106.226C116.596 87 125 90.3652 125 94.5142V119L45 118.099"
          fill="#B0D4FF"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M104.4 3.30169C99.3827 0.655218 91.7451 0.297428 90.5062 0.130241C75.661 -1.87236 66.7262 19.7827 66.2015 26.3458C65.2322 38.4404 58.859 40.2842 49.8914 47.8571C31.9051 63.0467 37.1778 80.6947 47.0127 87.2505C52.9158 91.1869 63.3155 87.2505 63.3155 87.2505C63.4612 87.3529 91.7597 71.3695 105.709 63.6576C126.621 60.6724 117.187 10.0441 104.4 3.30169"
          fill="#233862"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M82.6436 57.1725C78.2575 55.2607 74.9385 48.1557 75.0009 48.1521C76.9959 48.0617 79.9326 45.2755 81.6196 34L82 34.2683L96 40.4327C96 40.4327 94.9658 44.9465 94.2947 49.2435C93.7336 52.8538 93.4292 56.3124 94.2103 56.8219C94.2727 56.8617 87.3011 59.2035 82.6436 57.1725Z"
          fill="#FFB27D"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M96 40.1091C96 40.1091 94.9859 44.664 94.3278 49C86.2867 47.534 83.1292 39.409 82 35L96 40.1091"
          fill="#ED975D"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M98.9236 43.9951C98.9236 43.9951 79.2923 41.3976 81.1202 29.3896C82.948 17.3817 81.6472 8.95794 94.2581 10.1043C106.869 11.2543 108.601 16.1954 108.981 20.3492C109.36 24.503 104.076 44.3579 98.9236 43.9951"
          fill="#FFB27D"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M108 14.9706C108 14.9706 95.7764 25.9412 87.4636 26.8262C79.1473 27.7111 76 24.9293 76 24.9293C76 24.9293 80.9002 20.6911 83.8503 13.8504C84.7178 11.834 86.5567 10.4524 88.6717 10.262C94.6078 9.728 105.86 9.48529 108 14.9706"
          fill="#233862"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M100 13.3415C100 13.3415 104.14 17.3952 105.447 20.4015C106.703 23.3049 107.081 30.2436 106.079 33C106.079 33 112.535 20.2986 108.879 14.128C105.004 7.58253 100 13.3415 100 13.3415"
          fill="#233862"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M106.548 120.157C105.511 121.043 102.605 121.572 98.7816 121.821C86.7523 122.613 65.6109 120.651 64.807 118.451C62.0316 110.839 63.9922 108.473 61.6787 96.8174C61.435 95.5788 61.1368 94.2357 60.7876 92.7738C58.856 84.7694 56.9791 82.0473 63.8249 69.1855C70.0342 57.5372 76.0124 47.6666 76.5944 48.0086C92.9743 57.6334 94.1775 50.602 94.1775 50.602C94.1775 50.602 111.284 66.8198 110.996 85.7596C110.411 124.586 110.836 116.47 106.548 120.157Z"
          fill="white"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M65.9824 118.463C63.1804 110.732 64.3356 107.314 62 95.4772L68.3963 80C68.3963 80 67.4305 98.2867 72.8435 103.095C78.2564 107.904 95.0167 112.379 97.6497 116.398C98.9203 118.329 99.7576 120.259 100 121.813C87.8558 122.618 66.7939 120.697 65.9824 118.463Z"
          fill="#EBF3FF"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M85 114.015C85 114.015 96.861 111.118 98.7736 112.271C100.686 113.429 105.362 117.634 105.951 119.099C106.537 120.564 101.69 117.986 100.112 117.523C99.0935 117.223 96.4028 118.245 95.0756 118.732C89.476 120.783 86.0472 119.73 86.0472 119.73L85 114.015"
          fill="#FFB27D"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M55.885 55.9893C48.1671 66.696 32.8616 112.321 41.635 118.41C51.5145 125.261 86.5936 120.201 86.5936 120.201C86.5936 120.201 87.7612 114.774 86.1381 112.145C84.5114 109.519 58.119 105.279 56.9008 104.067C55.6825 102.855 72.1268 80.4309 72.1268 76.7948C72.1268 73.1588 76.5944 48 76.5944 48C76.5944 48 61.3652 48.3827 55.885 55.9893Z"
          fill="white"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M99 116C99 116 101.676 119.301 102.554 119.694C103.432 120.087 104 119.989 104 119.989L102.197 116.887L99 116"
          fill="#FFB27D"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M98 113L106 116.533C106 116.533 105.658 117.038 104.675 116.998C103.689 116.957 101.205 116.13 101.205 116.13L98 113"
          fill="#FFB27D"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M103 124H159.886L177 81H120.201L103 124"
          fill="#FDC748"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M160 122H85V124H159.335L160 122"
          fill="#E6B137"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M144.882 102.498C145.341 101.119 144.42 100 142.825 100C141.235 100 139.574 101.119 139.116 102.498C138.662 103.878 139.582 105 141.173 105C142.768 105 144.428 103.878 144.882 102.498"
          fill="white"
        />
      </svg>
    </div>
    <div style="margin-top: -70px; margin-left:15px" class="w-full">
      <SupportButton
        btnclick={ContactUs}
        text="Contact Us"
        preIcon="support"
        className="mx-1 mr-4  relative w-40"
      />
    </div>
  </div>
</main>
