<svg
  width="32"
  height="32"
  viewBox="0 0 32 32"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <g filter="url(#filter0_d_1242_7391)">
    <path
      d="M16 0C9.37596 0 4 5.37596 4 12C4 18.624 9.37596 24 16 24C22.624 24 28 18.624 28 12C28 5.37596 22.624 0 16 0ZM15.7072 0.594512V5.85339H11.3078C12.2316 2.86657 13.8197 0.789825 15.7072 0.593989V0.594512ZM16.2925 0.594512C18.1802 0.790301 19.7682 2.86683 20.692 5.85339H16.2925V0.594512ZM13.7957 0.795815C12.5058 1.76595 11.424 3.56543 10.7225 5.85363H6.37797C8.02755 3.27348 10.6824 1.40339 13.7959 0.795815H13.7957ZM18.2043 0.795815C21.3175 1.40339 23.9723 3.27348 25.6223 5.85363H21.2778C20.5763 3.56543 19.4944 1.76574 18.2046 0.795815H18.2043ZM6.0303 6.43937H10.5485C10.1241 8.01896 9.87725 9.80391 9.85337 11.6982H4.59448C4.6443 9.79304 5.15837 8.00114 6.03056 6.43937H6.0303ZM11.1431 6.43937H15.707V11.6982H10.4481C10.4722 9.80652 10.7178 8.01358 11.1433 6.43937H11.1431ZM16.2923 6.43937H20.8563C21.2816 8.01384 21.5274 9.80678 21.5515 11.6982H16.2926L16.2923 6.43937ZM21.4508 6.43937H25.9691C26.8413 8.0014 27.3553 9.7933 27.4051 11.6982H22.1463C22.1224 9.80365 21.8755 8.0187 21.4511 6.43937H21.4508ZM4.59438 12.2836H9.85326C9.87613 14.1854 10.1313 15.9764 10.5576 17.5613H6.03019C5.15476 15.9938 4.6411 14.1966 4.59411 12.2836H4.59438ZM10.448 12.2836H15.7069V17.5613H11.1429C10.715 15.9803 10.4707 14.1849 10.4478 12.2836H10.448ZM16.2923 12.2836H21.5512C21.5283 14.1847 21.2839 15.9799 20.856 17.5613H16.292L16.2923 12.2836ZM22.1459 12.2836H27.4048C27.3579 14.1964 26.8442 15.9936 25.9688 17.5613H21.4413C21.8676 15.9766 22.1228 14.1855 22.1457 12.2836H22.1459ZM6.38706 18.1467H10.7224C11.4225 20.4306 12.4998 22.2242 13.7864 23.1956C10.6801 22.5868 8.03518 20.7207 6.38727 18.1467H6.38706ZM11.3077 18.1467H15.7071V23.3967C13.8213 23.2011 12.2319 21.1289 11.3077 18.1467ZM16.2924 18.1467H20.6919C19.7678 21.129 18.1785 23.201 16.2924 23.3967V18.1467ZM21.2772 18.1467H25.6125C23.9641 20.7207 21.3194 22.5865 18.2134 23.1956C19.5 22.2242 20.5773 20.4306 21.2774 18.1467H21.2772Z"
      fill="black"
    />
  </g>
  <defs>
    <filter
      id="filter0_d_1242_7391"
      x="0"
      y="0"
      width="32"
      height="32"
      filterUnits="userSpaceOnUse"
      color-interpolation-filters="sRGB"
    >
      <feFlood flood-opacity="0" result="BackgroundImageFix" />
      <feColorMatrix
        in="SourceAlpha"
        type="matrix"
        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
        result="hardAlpha"
      />
      <feOffset dy="4" />
      <feGaussianBlur stdDeviation="2" />
      <feComposite in2="hardAlpha" operator="out" />
      <feColorMatrix
        type="matrix"
        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"
      />
      <feBlend
        mode="normal"
        in2="BackgroundImageFix"
        result="effect1_dropShadow_1242_7391"
      />
      <feBlend
        mode="normal"
        in="SourceGraphic"
        in2="effect1_dropShadow_1242_7391"
        result="shape"
      />
    </filter>
  </defs>
</svg>
