<script>
  import { createEventDispatcher, onMount } from 'svelte';
  import { useNavigate, Link } from 'svelte-navigator';

  import IconButton from '../IconButton.svelte';
  import NotificationIcon from '../icons/Notification.svelte';
  import RecentNotification from '../dashboard/RecentNotification.svelte';
  import { fly } from 'svelte/transition';
  import Dropdown from '../../components/Dropdown.svelte';
  import { userToken } from '../../stores';
  import { deleteCookie, getCookie } from '../../utils/cookie';
  import { fetchApi } from '../../services/api';
  import { toastAlert } from '../../utils/toaster';

  const dispatch = createEventDispatcher();
  let notificationList = [
    {
      image: 'https://miro.medium.com/max/1400/0*0fClPmIScV5pTLoE.jpg',
      link: '/kishor',
      name: 'Kishor Jadav',
      status: 'Loan Has Been Approved',
      time: '5h',
    },
    {
      image: 'https://miro.medium.com/max/1400/0*0fClPmIScV5pTLoE.jpg',
      link: '/stanley',
      name: 'Stanley',
      status: 'Client meet @12pm today sghajwqwqwqwqwqw',
      time: '10h',
    },
  ];
  let profileImg = '';
  let profileName = '';
  let notification = false;
  onMount(() => {
    // user_name = getUserInfo().full_name;
    fetchData();
  });

  const fetchData = async () => {
    const res = await fetchApi('GET', `api-admin/getMyProfile`);

    const users = await res.json();
    profileImg = users.photo;
    profileName = users.full_name;

    // console.log('files', users.photo);
  };

  const onLogout = async () => {
    // backend - after logout, still can login with old access_token via GetUserInfo
    const res = await fetchApi(
      'PATCH',
      'auth/adminlogout',
      JSON.stringify({
        refresh_token: getCookie('refresh_token'),
      }),
    );
    if (res.status >= 200 && res.status <= 300) {
      userToken.set('');
      deleteCookie('cookie');
      deleteCookie('refresh_token');
      toastAlert('success', 'Logout success');
    } else {
      navigate('/');
    }
  };
</script>

<main>
  <div class="sticky top-0 z-10 flex flex-shrink-0 h-16 bg-white">
    <button
      on:click={() => dispatch('open')}
      type="button"
      class="px-4 text-gray-500 border-r border-gray-200 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500 md:hidden"
    >
      <span class="sr-only">Open sidebar</span>
      <svg
        class="w-6 h-6"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        aria-hidden="true"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16M4 18h7"
        />
      </svg>
    </button>
    <div class="flex justify-between flex-1 px-4 mt-4 md:px-0">
      <div class="flex flex-1" />

      <div class="flex items-center gap-3 ml-4 md:ml-6">
        <!-- <IconButton
          text={'i'}
          textIcon={NotificationIcon}
          htmlType="button"
          bind:notification
        /> -->
        <div class="relative ml-3">
          <div>
            <Dropdown
              type="avatar"
              user={{
                picture: profileImg,
                name: profileName ? profileName.charAt(0) : 'I',
              }}
              className="w-12 h-12 shadow-md rounded-2xl flex items-center justify-center"
            >
              <Link
                to="/profile"
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                role="menuitem"
                tabindex="-1"
                id="menu-profile-0">Profile</Link
              >
              <button
                type="button"
                class="block w-full px-4 py-2 text-sm text-left text-gray-700 hover:bg-gray-100"
                role="menuitem"
                tabindex="-1"
                on:click|once={onLogout}>Sign out</button
              >
            </Dropdown>
          </div>
          <!-- {#if notification}
            <div
              in:fly={{ y: -400, duration: 500 }}
              out:fly={{ y: -400, duration: 500 }}
            >
              <RecentNotification {notificationList} />
            </div>
          {/if} -->
        </div>
      </div>
    </div>
  </div>
</main>
<!-- <svelte:head>
	<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet"/>
</svelte:head> -->
