<script>
  import { Link } from 'svelte-navigator';

  import Button from '../Button.svelte';

  export let notificationList = [];
</script>

<div class="absolute z-50 mt-2 right-5">
  <ul class="border w-80 menu bg-base-100 rounded-box">
    <li>
      <h4 class="my-6 ml-6 text-bold">Recent Notifications</h4>
    </li>

    {#each notificationList as notification}
      {#if notification.link !== ''}
        <li>
          <Link to={notification.link}>
            <div class="flex justify-between w-full">
              <div class="flex">
                <div>
                  {#if notification.image != ''}
                    <img
                      class="w-10 h-10 rounded-full"
                      src={notification.image}
                      alt=""
                    />
                  {:else}
                    <img
                      class="w-10 h-10 rounded-full"
                      src="https://media-exp1.licdn.com/dms/image/C4E0BAQHuQXTEhL9Ahw/company-logo_200_200/0/1636086127894?e=2159024400&v=beta&t=IyWjWraPD5RzxigaP4udinAW34Jmvx-1lyxteCLKuA0"
                      alt=""
                    />
                  {/if}
                </div>
                <div class="ml-3">
                  <Link to={notification.link}>
                    <p class="text-sm font-medium text-gray-900">
                      {notification.name}
                    </p>
                    <p class="w-48 text-sm truncate text-dark-blue">
                      {notification.status}
                    </p>
                  </Link>
                </div>
              </div>
              <div>{notification.time}</div>
            </div>
          </Link>
        </li>
      {/if}
    {/each}
    <li class="mx-5 my-5 text-white">
      <Button gradient={true} htmlType={'submit'} text="See all activity" />
    </li>
  </ul>
</div>
