<script>
  import { Link, globalHistory, useNavigate } from 'svelte-navigator';
  import { userToken } from '../../stores';
  // import { userToken, activeLink, activeHeading } from '../../stores';
  import { deleteCookie, getCookie } from '../../utils/cookie';
  //importing icons
  import LogoutIcon from '../icons/sidebar/Logout.svelte';
  import { fetchApi } from '../../services/api';
  import { toastAlert } from '../../utils/toaster';

  const navigate = useNavigate();
  const historyStore = { subscribe: globalHistory.listen };
  $: url = $historyStore.location.pathname;

  export let menuList = [];

  const onLogout = async () => {
    // backend - after logout, still can login with old access_token via GetUserInfo
    const res = await fetchApi(
      'PATCH',
      'auth/adminlogout',
      JSON.stringify({
        refresh_token: getCookie('refresh_token'),
      }),
    );
    if (res.status >= 200 && res.status <= 300) {
      userToken.set('');
      deleteCookie('cookie');
      deleteCookie('refresh_token');
      toastAlert('success', 'Logout success');
    } else {
      // navigate("/");
    }
  };

  $: activeLink = '';
  $: activeHeading = '';

  $: getUrl = (link, text) => {
    if (link) {
      activeLink = link;
      activeHeading = text;
    }
    navigate(`${link}`);
  };
  // $: getUrl = (link, text) => {
  //   if (link) {
  //     $activeLink = link;
  //     $activeHeading = text;
  //   }
  //   navigate(`${link}`);
  // };

  // let text='Bank'
  // $: className = url.indexOf(text.toLowerCase()) > -1 ;
  // url.indexOf(text.toLowerCase()) > -1 ? ' from-yellow-500 to-red-500 ': ' from-white to-white' ;
</script>

<main>
  <!-- sidebar for desktop -->
  <div class="hidden md:flex md:w-64 md:flex-col md:fixed md:inset-y-0">
    <div
      class="flex flex-col flex-grow pt-10 overflow-y-auto bg-white border-r rounded-lg no-scrollbar"
    >
      <div class="flex justify-center flex-shrink-0 pr-4">
        <img class="" src="/assets/images/logo.png" alt="iQrate" />
      </div>
      <div class="flex flex-col flex-grow mt-5">
        <nav class="flex-1 px-0 pb-4 space-y-1">
          <section>
            <ul class="pr-3 menu">
              {#each menuList as menu}
                {#if menu.link !== ''}
                  <li
                    class={` hover:text-white hover:from-yellow-500 hover:to-red-500 rounded-lg bg-gradient-to-r  ${
                      url == menu.link ||
                      (menu.parentLink &&
                        menu.parentLink.some((v) => url.includes(v)))
                        ? ' from-yellow-500 to-red-500 text-white'
                        : 'from-white to-white text-gray-label '
                    } `}
                  >
                    <Link
                      on:click={() => navigate(`${menu.link}`)}
                      to={menu.link}
                      class="flex items-start gap-3 "
                    >
                      <div class="w-5">
                        <svelte:component this={menu.icon} />
                      </div>
                      <div class="text-base whitespace-nowrap">{menu.text}</div>
                    </Link>
                  </li>
                {:else}
                  <div
                    tabindex="0"
                    class={`w-full rounded-lg cursor-pointer collapse ${
                      menu.parentLink &&
                      menu.parentLink.some((v) => url.includes(v))
                        ? 'active'
                        : ''
                    } text-gray-label`}
                  >
                    <div class=" collapse-title">
                      <li>
                        <div
                          class={`flex py-3 rounded-lg  hover:text-white bg-gradient-to-r ${
                            (url == activeLink && menu.text == activeHeading) ||
                            (menu.parentLink &&
                              menu.parentLink.some((v) => url.includes(v)))
                              ? ' from-yellow-500 to-red-500 text-white'
                              : 'from-white to-white text-gray-label '
                          }  hover:from-yellow-500 hover:to-red-500 `}
                        >
                          <div class="pl-5 ">
                            <svelte:component this={menu.icon} />
                          </div>
                          <div class="pl-3 text-base whitespace-nowrap">
                            {menu.text}
                          </div>
                        </div>
                      </li>
                    </div>
                    <div
                      style="background-color: white;"
                      class=" collapse-content"
                    >
                      <div class="">
                        {#each menu.menuChildren as menuChild}
                          <div
                            class="inline cursor-pointer"
                            on:click={() => {
                              getUrl(menuChild.link, menu.text);
                            }}
                          >
                            <li
                              class={` ${
                                url == menuChild.link
                                  ? ' text-dark-red'
                                  : ' text-gray-label '
                              } text-base flex items-start justify-start py-1.5 rounded-md  pl-9  hover:text-dark-red whitespace-nowrap`}
                            >
                              {menuChild.text}
                            </li>
                          </div>
                        {/each}
                      </div>
                    </div>
                  </div>
                {/if}
              {/each}
              <li class="text-gray-label" on:click|once={onLogout}>
                <div
                  class="flex items-start gap-3 px-5 py-3 rounded-lg cursor-pointer hover:text-white bg-gradient-to-r from-white to-white hover:from-yellow-500 hover:to-red-500"
                >
                  <div class="w-5">
                    <svelte:component this={LogoutIcon} />
                  </div>
                  <div class="text-base">Logout</div>
                </div>
              </li>
            </ul>
          </section>
        </nav>
      </div>
    </div>
  </div>
</main>

<style>
  .collapse-title {
    padding: 0rem 0rem 0rem 0rem;
    width: 100%;
    min-height: 0rem;
    transition: background-color 0.2s ease-in-out;
  }
  .collapse.active:not(.collapse-close) .collapse-content,
  .collapse:not(.collapse-close)
    input[type='checkbox']:checked
    ~ .collapse-content {
    max-height: 9000px !important;
    --tw-bg-opacity: 1 !important;
    --tw-bg-opacity: 0.1 !important;
    /* background-color: hsla(var(--bc) / var(--tw-bg-opacity, 1)) !important; */
    opacity: 1 !important;
    padding-bottom: 1rem !important;
    transition: padding 0.2s ease-in-out, background-color 0.2s ease-in-out !important;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
</style>
