<p>Dear <strong>{{ lawfirm.name }}</strong></p><br>
<p>
    Our IQrate app user {{ agent.full_name }} +{{ agent.country_code }}{{ agent.mobile }} is referring a conveyancing case to your firm.
</p><br>

<p>
    <strong>Client(s) Details :</strong>
</p><br>
<p style="padding-left: 15px">
    1) Name of Lead: <strong>{{ client.name }}</strong><br>
    2) Lead’s contact no: <strong>+{{ client.country_code }}{{ client.phone_number }}</strong><br>
    3) Lead’s email address: <strong>{{ client.email }}</strong><br>
    4) Legal Fee: {{ payout.legal_fee }}<br>
    5) {{ remarks }}<br>
</p><br>
<p>
    Please do not hesitate to contact our IQrate app user {{ agent.full_name }} +{{ agent.country_code }}{{ agent.mobile }} if you have any queries.
</p><br>
<p>
    Have a great day ahead.
</p><br>
<p>Thank you.</p><br>
<p>From IQrate Admin</p><br>
<p>(Please DO NOT reply to the email)</p><br>