<script>
  import { Router, Route, Link } from 'svelte-navigator';

  import LawfirmDetails from '../LawFirm/LawfirmDetails.svelte';
</script>

<Router>
  <Route path=":id" let:params><LawfirmDetails id={params.id} /></Route>
</Router>
