<script>
  import { Link } from 'svelte-navigator';
  import { paginate, LightPaginationNav } from 'svelte-paginate';
  import RightArrow from '../../../../../components/icons/ArrowRight.svelte';

  import { onMount } from 'svelte';
  import { fetchApi } from '../../../../../services/api';
  import _ from 'lodash';

  let param = 'priority';
  let order = 'ASC';

  let items = [];
  let currentPage = 1;
  let pageSize = 10;

  let page = 1;
  let total = 0;
  $: page,
    () => {
      // console.log("change page v2", page);
      // getUserDetail(); // - validate user cookie
      // getAllKV();
    };

  $: paginatedItems = paginate({ items, pageSize, currentPage });

  onMount(async () => {
    // get user List
    fetchLawfirm();
  });

  const onChangePage = (newPage) => {
    // console.log("change page v33", newPage);
    page = newPage;
    fetchLawfirm();
  };

  const fetchLawfirm = async (query) => {
    const response = await fetchApi('GET', `customer/lawfirm/all?page=${page}`);
    const lawfirm = await response.json();
    total = lawfirm;

    items = lawfirm.results;

    if(response.status === 403){
      if(lawfirm.name === 'MEMBERSHIP_ACL_CHECK'){
        toastAlert('error', lawfirm.message ? lawfirm.message: 'We have encountered a technical difficulty. Please try again later.')
      }else{
        toastAlert('error', lawfirm.detail ? lawfirm.detail : 'We have encountered a technical difficulty onboarding you. Please try again later.');
      }
    }
    console.log('lawfirm form', items);
  };
</script>

<section>
  <div class="pb-6 pl-2 pr-3 mt-0 bg-base-100 rounded-box">
    <!-- {#each paginatedItems as data} -->
    {#each _.orderBy(paginatedItems, [param], [order]) as data (data.priority)}
      <Link to="/resource/lawfirm/{`/${data.id}`}" class="group">
        <div class="flex justify-between w-full px-2 my-3 text-gray-label">
          <div class="pt-2 text-base capitalize">{data.name.toLowerCase()}</div>
          <div>
            <div class="flex mt-2">
              <div><RightArrow /></div>
            </div>
          </div>
        </div>
      </Link>
      <hr />
    {/each}
    <div class="flex justify-end w-full mt-5 mb-1 mr-3">
      <LightPaginationNav
        totalItems={total.count}
        {pageSize}
        limit={1}
        bind:page
        showStepOptions={true}
        currentPage={page}
        on:setPage={(e) => {
          onChangePage(e.detail.page);
        }}
      />
    </div>
  </div>
</section>
