<script>
  import { fetchApi } from '../../../../../services/api';
  import { allKv } from '../../../../../stores';
  import { useParams } from 'svelte-navigator';

  import { onMount } from 'svelte';

  import BackArrow from '../../../../../components/icons/BackArrow.svelte';

  const params = useParams();
  $: editId = $params.id;

  let lawfirmDetailsResult = [];
  let lawfirmDetails = [];
  // let propertyTypes = [];

  onMount(async () => {
    lawfirmDetailsModule();
  });

  const lawfirmDetailsModule = async () => {
    const res = await fetchApi('GET', `customer/lawfirm/${editId}`);

    const lawList = await res.json();
    lawfirmDetailsResult = lawList;
    lawfirmDetails = lawList.products;
    // propertyTypes = lawfirmDetails.map((ele) =>
    //   ele.property_types.map((ele) => ele),
    // );

    // console.log('lawfirmLoan', lawfirmDetailsResult);
    // console.log('lawfirmDetails', lawfirmDetails);
    // console.log('lawfirmPropertyTypes', propertyTypes);
    if(res.status === 403){
      if(lawList.name === 'MEMBERSHIP_ACL_CHECK'){
        toastAlert('error', lawList.message ? lawList.message: 'We have encountered a technical difficulty. Please try again later.')
      }else{
        toastAlert('error', lawList.detail ? lawList.detail : 'We have encountered a technical difficulty onboarding you. Please try again later.');
      }
    }
  };
  // Table Methods
  const getKeyLabel = (key, val) => {
    if ($allKv !== null) {
      const foundKV = $allKv.find((kv) => kv.code === key);

      if (foundKV) {
        return foundKV.value[val];
      }
    }

    return '-';
  };
</script>

<div
  class="flex w-full h-10 pt-1 mt-4 text-3xl font-bold text-dark-red rounded-xl"
>
  <div class="mt-2.5">
    <a href="/resource">
      <BackArrow />
    </a>
  </div>
  <div
    class="w-full h-10 pt-1 pl-3 text-3xl font-bold text-dark-red rounded-xl"
  >
    Resources
  </div>
</div>

<section>
  <h1 class="mt-4 text-2xl font-bold capitalize">
    {lawfirmDetailsResult.name}
  </h1>
  <div class="flex mt-2.5">
    <div>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="w-6 h-6 text-gray-label"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        stroke-width="2"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"
        />
      </svg>
    </div>
    <div>
      <a
        href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to={lawfirmDetailsResult.email}&su=law firm&body=Regarding IQrate Law firm"
        target="_blank"
        class="mt-2 ml-2 text-gray-label">{lawfirmDetailsResult.email}</a
      >
    </div>
  </div>
</section>

<main class="mx-2">
  <div
    class="mt-8 -mx-4 overflow-x-auto shadow ring-1 ring-black ring-opacity-5 sm:-mx-6 md:mx-0 md:rounded-lg"
  >
    <table class="min-w-full divide-y divide-gray-300">
      <thead class="bg-gray-50">
        <tr>
          <th
            scope="col"
            class="py-3.5 w-60 pl-4 pr-3 text-left text-sm font-semibold text-dark-red sm:pl-6"
            >Type of Loan</th
          >
          <th
            scope="col"
            class="py-3.5 w-60 pl-4 pr-3 text-left text-sm font-semibold text-dark-red sm:pl-6"
            >Property Type</th
          >
          <th
            scope="col"
            class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-dark-red sm:pl-6"
            >Purchase Price/ Valuation</th
          >
          <th
            scope="col"
            class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-dark-red sm:pl-6"
            >Legal Fees $</th
          >

          <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-6">
            <span class="sr-only">Edit</span>
          </th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-200">
        {#each lawfirmDetails as lawfirm, i}
          <tr>
            <td
              class="py-4 pl-4 pr-3 text-sm font-medium capitalize text-gray-label whitespace-nowrap sm:pl-6"
            >
              {#each lawfirm.loan_category as category, idx}
                <!-- {category.includes('_')
                  ? category.replaceAll('_', ' ')
                  : category} , <span class="pl-1" /> -->
                <p>
                  {getKeyLabel('loan_category', category)}{idx !==
                  lawfirm.loan_category.length - 1
                    ? ','
                    : ''}
                </p>
              {/each}
            </td>

            <td
              class="py-4 pl-4 pr-3 text-sm font-medium capitalize break-words w-60 text-gray-label sm:pl-6"
            >
              {#each lawfirm.property_types as category, idx}
                <!-- {category.includes('_')
                  ? category.replaceAll('_', ' ')
                  : category} , <span class="pl-1" /> -->
                <p>
                  {getKeyLabel('property_type', category)}
                  {idx !== lawfirm.property_types.length - 1 ? ',' : ''}
                </p>
              {/each}
            </td>

            <td
              class="py-4 pl-4 pr-3 text-sm font-medium text-gray-label whitespace-nowrap sm:pl-6"
            >
              {lawfirm.loan_range_from === null
                ? '-'
                : Intl.NumberFormat('en-US', {
                    style: 'currency',
                    currency: 'USD',
                  }).format(lawfirm.loan_range_from)}
              to
              {lawfirm.loan_range_to === null
                ? '-'
                : Intl.NumberFormat('en-US', {
                    style: 'currency',
                    currency: 'USD',
                  }).format(lawfirm.loan_range_to)}</td
            >
            <td
              class="py-4 pl-4 pr-3 text-sm font-medium text-gray-label whitespace-nowrap sm:pl-6"
              >{lawfirm.legal_fee === null
                ? '-'
                : Intl.NumberFormat('en-US', {
                    style: 'currency',
                    currency: 'USD',
                  }).format(lawfirm.legal_fee)}</td
            >
          </tr>
        {/each}

        <!-- More people... -->
      </tbody>
    </table>
  </div>
</main>
