<script>
  export let message = 'Something went wrong!';
  export let alertType = 'info'; // info, success, warning, error

  import SuccessOutlined from '../icons/alert/SuccessOutlined.svelte';
  import ErrorOutlined from '../icons/alert/ErrorCross.svelte';
  import WarningOutlined from '../icons/alert/warningOutlined.svelte';
  import InfoOutlined from '../icons/alert/InfoOutlined.svelte';
</script>

<div class={`alert alert-${alertType}`}>
  <div class="flex-1 gap-3">
    {#if alertType === 'success'}
      <SuccessOutlined />
    {:else if alertType === 'info'}
      <InfoOutlined />
    {:else if alertType === 'warning'}
      <WarningOutlined />
    {:else if alertType === 'error'}
      <ErrorOutlined />
    {:else}
      <InfoOutlined />
    {/if}
    <div>
      {#if Array.isArray(message)}
        {#each message as msg}
          <div>{msg}</div>
        {/each}
      {:else}
        <div>{message}</div>
      {/if}
    </div>
  </div>
</div>
