<script>
  import { Route, Router } from 'svelte-navigator';

  import UserList from './List/index.svelte';
  import UserDetails from './userDetails/index.svelte';
</script>

<Router>
  <Route path="list"><UserList /></Route>
  <Route path="details/:id" component={UserDetails} />
</Router>
