<script>
  import { Link } from 'svelte-navigator';
  import { onMount } from 'svelte';
  import { useNavigate } from 'svelte-navigator';

  import { fetchApi } from '../../services/api';

  import { toastAlert } from '../../utils/toaster';
  import { deleteCookie } from '../../utils/cookie';

  import Button from '../../components/Button.svelte';

  const navigate = useNavigate();

  //Check if token params exist

  // onMount(async () => {
  //   fetchApiEmail();
  // });

  // const fetchApiEmail = async () => {
  //   //   // get data for update
  //   let token = '';
  //   let searchParams = new URLSearchParams(window.location.search);
  //   if (searchParams.get('token')) {
  //     token = searchParams.get('token');
  //   }

  //   const res = await fetch(
  //     `https://dev-api.iqrate.io/auth/verify_email/${token}`,
  //   );
  //   const tokens = await res.json();

  //   if (res.status >= 200 && res.status <= 300) {
  //     toastAlert(
  //       'success',
  //       tokens.message ? tokens.message : 'Verified Successfully',
  //     );
  //     deleteCookie('cookie');
  //     deleteCookie('refresh_token');
  //   } else {
  //     navigate('/page-not-found');
  //     // toastAlert('error', tokens.message ? tokens.message : 'Token Expired');
  //   }
  // };

  const onAppleLogin = async (obj) => {
    let result = Object.entries(obj).filter((ele, i) => ele[i]);

    const res = await fetchApi(
      'POST',
      `auth/apple_verify`,
      JSON.stringify({
        provider: 'Apple',
        identityToken: result[0][1].id_token,
        authorizationCode: result[0][1].grant_code,
        user: result[1][1].userId,
        type: 'Login',
      }),

      // JSON.stringify({
      //   provider: 'Apple',
      //   identityToken: obj.id_token,
      //   authorizationCode: obj.code,
      //   // user: OtpValue,
      //   type: 'Login',
      // }),
    );
    const json = await res.json();
    console.log('after apple login', json);
    if (res.status >= 200 && res.status <= 300) {
      userToken.set(json.access_token);
      setCookie('cookie', json.access_token, 1 / 2);
      setCookie('refresh_token', json.refresh_token, 1 / 2);
    } else {
      console.log('Error', json.message ? json.message : 'backend err msg.');
      toastAlert('error', json.message ? json.message : 'backend err msg.');
    }
  };

  const initApple = () => {
    window.AppleID.auth.init({
      clientId: 'com.iqrate', // This is the service ID we created.
      scope: 'email name', // To tell apple we want the user name and emails fields in the response it sends us.
      redirectURI: 'https://dev.iqrate.io/callbacks/sign_in_with_apple', // As registered along with our service ID
      state: 'origin:web',
      usePopup: true, // Important if we want to capture the data apple sends on the client side.
    });
  };
  const signInApple = async () => {
    initApple();

    const response = await window.AppleID.auth.signIn();
    console.log('response callback v4', response);
    onAppleLogin(response);

    return response;
  };
</script>

<svelte:head>
  <script>
    document.addEventListener('AppleIDSignInOnSuccess', (event) => {
      // Handle successful response.
      console.log('stan callback v4', event);
    });
  </script>
</svelte:head>

<div>
  <div class="m-1 lg:grid lg:grid-cols-2 lg:gap-4 lg:m-2 lg:h-screen">
    <!-- Left Section  -->
    <div class="w-full p-1 mb-5 rounded-lg bg-dark-blue">
      <div class="flex justify-center mx-24 mt-8">
        <Link to="/">
          <img src="assets/images/logo.png" alt="" /></Link
        >
      </div>

      <div class="flex justify-center mx-24 mt-16 mb-16 md:mb-0">
        <img src="assets/images/verify.png" alt="UpgradeAccount" />
      </div>
    </div>

    <!-- Right Section -->
    <div>
      <div class="flex items-center justify-center mt-16 md:h-screen md:mt-0">
        <div class="">
          <h1 class="mb-2 text-3xl font-bold">Apple Login</h1>
          <h2 class="mb-8 text-gray-label ">We are signing you in...</h2>

          <div>
            <Button
              className="w-full"
              text={'Sign in'}
              btnclick={() => signInApple()}
              width={true}
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
