<script>
  import { Link } from 'svelte-navigator';
  import { onMount } from 'svelte';
  import { useNavigate } from 'svelte-navigator';

  import Button from '../../components/Button.svelte';
  import { deleteCookie } from '../../utils/cookie';

  const navigate = useNavigate();

  onMount(() => {
    deleteCookie('cookie');
    deleteCookie('refresh_token');
  });
</script>

<div>
  <div class="m-1 lg:grid lg:grid-cols-2 lg:gap-4 lg:m-2 lg:h-screen">
    <!-- Left Section  -->
    <div class="w-full p-1 mb-5 rounded-lg bg-dark-blue">
      <div class="flex justify-center mx-24 mt-8">
        <Link to="/">
          <img src="assets/images/logo.png" alt="" /></Link
        >
      </div>

      <div class="flex justify-center mx-24 mt-16 mb-16 md:mb-0">
        <img src="assets/images/verify.png" alt="UpgradeAccount" />
      </div>
    </div>

    <!-- Right Section -->
    <div>
      <div class="flex items-center justify-center mt-16 md:h-screen md:mt-0">
        <div class="">
          <h1 class="mb-2 text-3xl font-bold">Success!</h1>
          <h2 class="mb-8 text-gray-label ">
            Congratulations! Your email has been successfully verified. Proceed
            to login with your mobile app.
          </h2>

          <div>
            <Button
              className="w-full"
              text={'Proceed'}
              btnclick={() => {
                navigate('/signin');
              }}
              width={true}
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
