<script>
  import { Link } from 'svelte-navigator';
  import { onMount } from 'svelte';
  import { useNavigate } from 'svelte-navigator';

  import { fetchApi } from '../../services/api';

  import { toastAlert } from '../../utils/toaster';
  import { deleteCookie } from '../../utils/cookie';

  import Button from '../../components/Button.svelte';

  const navigate = useNavigate();

  //Check if token params exist

  onMount(async () => {
    fetchApiEmail();
  });

  const fetchApiEmail = async () => {
    //   // get data for update
    let token = '';
    let searchParams = new URLSearchParams(window.location.search);
    if (searchParams.get('token')) {
      token = searchParams.get('token');
    }

    const res = await fetch(
      `https://dev-api.iqrate.io/auth/verify_email/${token}`,
    );
    const tokens = await res.json();

    if (res.status >= 200 && res.status <= 300) {
      toastAlert(
        'success',
        tokens.message ? tokens.message : 'Verified Successfully',
      );
      deleteCookie('cookie');
      deleteCookie('refresh_token');
    } else {
      navigate('/page-not-found');
      // toastAlert('error', tokens.message ? tokens.message : 'Token Expired');
    }
  };
</script>

<div>
  <div class="m-1 lg:grid lg:grid-cols-2 lg:gap-4 lg:m-2 lg:h-screen">
    <!-- Left Section  -->
    <div class="w-full p-1 mb-5 rounded-lg bg-dark-blue">
      <div class="flex justify-center mx-24 mt-8">
        <Link to="/">
          <img src="assets/images/logo.png" alt="" /></Link
        >
      </div>

      <div class="flex justify-center mx-24 mt-16 mb-16 md:mb-0">
        <img src="assets/images/verify.png" alt="UpgradeAccount" />
      </div>
    </div>

    <!-- Right Section -->
    <div>
      <div class="flex items-center justify-center mt-16 md:h-screen md:mt-0">
        <div class="">
          <h1 class="mb-2 text-3xl font-bold">Success!</h1>
          <h2 class="mb-8 text-gray-label ">
            Congratulations! Your email has been successfully verified.
          </h2>

          <div>
            <Button
              className="w-full"
              text={'Proceed'}
              btnclick={() => {
                navigate('/signin');
              }}
              width={true}
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
