<script>
  import { Link, useNavigate } from 'svelte-navigator';

  import * as yup from 'yup';
  import { Form, Message } from 'svelte-yup';

  import InputItem from '../../components/forms/FormItem.svelte';
  import Button from '../../components/Button.svelte';

  import { fetchApi } from '../../services/api';

  import { toastAlert } from '../../utils/toaster';

  import { resetPasswordEmail } from '../../stores';

  let submitted = false;
  let isValid;

  // Form
  let fields = {
    email: '',
    password: '',
  };

  //validation
  let schema = yup.object().shape({
    email: yup
      .string()
      .email('Invalid email format')
      .required('Please enter an email id'),
  });

  const navigate = useNavigate();

  const onForgotPassword = async () => {
    submitted = true;
    isValid = schema.isValidSync(fields);

    if (isValid) {
      const res = await fetchApi(
        'GET',
        `auth/sendResetPassword/${fields.email}`,
      );
      const json = await res.json();
      if (res.status >= 200 && res.status <= 300) {
        resetPasswordEmail.set(fields.email);
        toastAlert(
          'success',
          json.message ? json.message : 'OTP sent to email successfully',
        );
        navigate('/');
      } else {
        // toastAlert('error', 'Please enter an email id');
        // console.log('Error', json.message ? json.message : 'backend err msg.');
        toastAlert('error', json.message ? json.message : 'backend err msg.');
      }
    }
  };
</script>

<div>
  <div class="m-1 lg:grid lg:grid-cols-2 lg:gap-4 lg:m-2 lg:h-screen">
    <!-- Left Section  -->
    <div class="w-full p-1 lg:rounded-l-lg bg-dark-blue">
      <div class="flex justify-center mx-24 mt-8">
        <Link to="/">
          <img src="assets/images/logo.png" alt="" /></Link
        >
      </div>
      <div class="flex justify-center mx-24 mt-10">
        <h1 class="text-2xl text-white">Forgot Password</h1>
      </div>
      <div class="flex justify-center mx-24 mt-5">
        <img src="assets/images/forgot-password.png" alt="ForgotPassword" />
      </div>
    </div>

    <!-- Right Section -->
    <div class="mx-8 my-8 lg:mx-24">
      <div>
        <h1 class="mb-2 text-3xl font-bold">Forgot Password</h1>
        <h2 class="mt-3 text-gray-label">
          Already have an account?
          <Link to="/signin" class="text-dark-blue">Sign in</Link>
        </h2>
      </div>
      <div class="mt-8">
        <!-- <form on:submit|preventDefault={onForgotPassword}> -->
        <Form
          class="form"
          {schema}
          {fields}
          submitHandler={onForgotPassword}
          {submitted}
        >
          <!-- Email Address -->
          <div class="mt-8">
            <InputItem
              label="Enter your registered email Address"
              name="emailAddress"
              placeholder="Email Address"
              $borderColor
              bind:value={fields.email}
            />
            <div class="flex justify-end text-dark-red">
              <Message name="email" />
            </div>
          </div>

          <!-- Submit Button -->
          <div class="mt-10">
            <Button
              text="Submit"
              htmlType="submit"
              postIcon="rightArrow"
              className="w-full"
            />
          </div>
        </Form>
        <!-- </form> -->
      </div>
    </div>
  </div>
</div>
