<script>
  import { useNavigate } from 'svelte-navigator';

  import OtpInput from '../../components/input/OtpInput.svelte';
  import Button from '../../components/Button.svelte';
  import Loading from '../../components/icons/Loading.svelte';

  import { fetchApi } from '../../services/api';

  import { toastAlert } from '../../utils/toaster';

  import { forgotPasswordOtp, resetPasswordEmail } from '../../stores';

  //Check if resetPasswordEmail exist
  $: if ($resetPasswordEmail) {
    // navigate("/");
  } else {
    navigate('/');
  }

  const navigate = useNavigate();

  let OtpValue = '';

  let resendCodeCount = 0;
  let resendCodeLoading = false;

  //timer 30sec
  import { tweened } from 'svelte/motion';
  let original = 60; // TYPE NUMBER OF SECONDS HERE
  let timer = tweened(original);

  setInterval(() => {
    if ($timer > 0) $timer--;
  }, 1000);

  $: minutes = Math.floor($timer / 60);
  $: seconds = Math.floor($timer - minutes * 60);

  const resendCode = async () => {
    resendCodeLoading = true;

    const res = await fetchApi(
      'PUT',
      `auth/sendResetPassword/${$resetPasswordEmail}`,
    );
    const json = await res.json();
    if (res.status >= 200 && res.status <= 300) {
      if (resendCodeCount < 3) {
        resendCodeCount = resendCodeCount + 1;
      } else {
        resendCodeCount = 3;
      }
      timer = tweened(resendCodeCount * 60);
      toastAlert(
        'info',
        json.message ? json.message : 'OTP sent to email successfully',
      );
      resendCodeLoading = false;
    } else {
      console.log('Error', json.errMessage);
      toastAlert(
        'error',
        json.errMessage ? json.errMessage : 'backend err msg.',
      );
      resendCodeLoading = false;
    }
  };

  const onVerifyEmail = async () => {
    if (OtpValue.length < 6) {
      toastAlert('error', 'Invalid OTP.');
    } else {
      forgotPasswordOtp.set(OtpValue);
      navigate('/reset-password');
    }
  };
</script>

<div>
  <div class="m-1 lg:grid lg:grid-cols-2 lg:gap-4 lg:m-2 lg:h-screen">
    <!-- Left Section  -->
    <div class="w-full p-1 lg:rounded-l-lg bg-dark-blue">
      <div class="flex justify-center mx-24 mt-8">
        <img src="assets/images/logo.png" alt="" />
      </div>

      <div class="flex justify-center mx-24 mt-20">
        <img src="assets/images/verify.png" alt="signupIllution" />
      </div>
    </div>

    <!-- Right Section -->
    <div class="mx-8 mt-16 lg:mx-20">
      <div>
        <h1 class="text-3xl font-bold">Enter your verification code</h1>
      </div>
      <div class="mt-10">
        <form>
          <!-- Email Address -->
          <div class="mt-5">
            <label for="fullname" class="text-gray-label"
              >Enter the four digits verification code sent to your email</label
            >
            <div class="flex justify-between mt-3">
              <OtpInput count={6} bind:value={OtpValue} />
            </div>
          </div>
          <!-- Timer -->

          <div class="flex justify-end w-full text-sm text-gray-label">
            {#if seconds === 0}
              {#if resendCodeLoading}
                <div class="mt-2">
                  <Loading />
                </div>
              {/if}
              <Button
                text="Resend Code"
                className="btn-ghost text-dark-red hover:bg-transparent px-0"
                disabled={resendCodeLoading}
                btnclick={resendCode}
              />
              <!-- <button class="mt-5 mb-3 hover:text-dark-red">Resend Code</button> -->
            {:else}
              <div class="mt-2">
                <Loading />
              </div>

              <div>
                <p class="mt-5 mb-3 cursor-pointer" id="some_div">
                  Resend Code in
                  <span class="pr-1 text-dark-red">{seconds}</span>Seconds
                </p>
              </div>
            {/if}
          </div>

          <!-- Submit Button -->
          <div class="mt-4">
            <Button
              text="Proceed"
              postIcon="rightArrow"
              className="w-full"
              btnclick={onVerifyEmail}
              isOnce
            />
          </div>
          <h1 class="py-3 text-sm text-center">OR</h1>
          <div>
            <Button
              text="Continue with Google"
              preIcon="google"
              isOutlined
              className="w-full"
            />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
