<script>
  import { Link } from 'svelte-navigator';

  import Button from '../../components/Button.svelte';
</script>

<div>
  <div class="m-1 lg:grid lg:grid-cols-2 lg:gap-4 lg:m-2 lg:h-screen">
    <!-- Left Section  -->
    <div class="w-full p-1 lg:rounded-l-lg bg-dark-blue">
      <div class="flex justify-center mx-24 mt-8">
        <Link to="/">
          <img src="assets/images/logo.png" alt="" /></Link
        >
      </div>
      <!-- <div class="flex justify-center mx-24 mt-10">
        <h1 class="text-2xl text-white">Oops! Account Needs to be Upgraded.</h1>
      </div> -->
      <div class="flex justify-center mx-24 mt-5">
        <img src="assets/images/upgrade_account.png" alt="UpgradeAccount" />
      </div>
    </div>

    <!-- Right Section -->
    <div class="mx-8 my-8 lg:mx-24 flex flex-col justify-center">
      <div>
        <h1 class="mb-2 text-3xl font-bold">Your account has been locked.</h1>
        <h2 class="text-gray-label">Please contact IQrate support.</h2>
      </div>
      <div class="mt-8">
        <div class="flex gap-12 w-full">
          <div class="mt-4 w-full">
            <Link to="/signin">
              <Button text="Close" postIcon="rightArrow" className="w-full" />
            </Link>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
