<script>
  import OtpInput from '../../components/input/OtpInput.svelte';
  import Button from '../../components/Button.svelte';

  import Lock from '../../components/icons/dashboard/profile/Lock.svelte';

  export let OtpValue;
  export let propSubmit;
</script>

<div class="max-w-md">
  <div>
    <h1
      class="py-2 pl-5 font-medium rounded-t-xl bg-gray-bgcol text-dark-red"
      style="background-color:#EAEAEA;"
    >
      Two-Step-authentication
    </h1>
  </div>
  <div class="border">
    <div class="flex justify-center w-full ">
      <div
        class="flex items-center justify-center w-24 h-24 mt-3 mb-5 text-center rounded-full"
        style="background-color:#EAEAEA;"
      >
        <Lock />
      </div>
    </div>
    <h1 class="text-center text-dark-red">Enter confirmation code</h1>
    <hr class="mt-6 mb-10" />
    <div class="mx-8 lg:mx-16">
      <p>
        <span style="color: #458D6F;">Recommended</span> · Please enter the confirmation
        code that you see on your authentication app
      </p>
      <div class="flex justify-between mt-10">
        <OtpInput count={6} bind:value={OtpValue} />
      </div>
      <!-- Update Button -->
      <div class="mb-10 text-center mt-14">
        <Button text="Verify" className="w-full" btnclick={propSubmit} />
      </div>
    </div>
  </div>

  <div
    class="flex items-center justify-center w-full h-10 text-center border rounded-b-xl"
    style="background-color:#EAEAEA;"
  />
</div>
