<script>
  import { onMount } from 'svelte';
  import { useNavigate } from 'svelte-navigator';
  import * as yup from 'yup';
  import { Form, Message } from 'svelte-yup';

  import InputItem from '../../components/forms/FormItem.svelte';
  import Button from '../../components/Button.svelte';

  import { fetchApi } from '../../services/api';

  import { toastAlert } from '../../utils/toaster';

  // Form
  let state = {
    password: '',
    confirmPassword: '',
    token: '',
  };

  const navigate = useNavigate();

  //Check if token params exist
  onMount(() => {
    let searchParams = new URLSearchParams(window.location.search);
    if (searchParams.get('token')) {
      // navigate("/");
      state.token = searchParams.get('token');
    } else {
      navigate('/');
    }
  });

  //validation
  let schema = yup.object().shape({
    password: yup
      .string()
      .required('Please enter a current Password')
      .min(8, 'Password must be 8 alphanumeric characters')
      // .matches(/[a-zA-Z][0-9]+/gi, 'Password must be 8 alphanumeric characters'),
      .matches(
        /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}$/,
        'Password must be atleast 1 uppercase, 1 lowercase & 1 numeric letter',
      ),
    confirmPassword: yup
      .string()
      .required('Please enter a confirm password')
      .oneOf([yup.ref('password'), null], 'Passwords do not match')
      .min(8, 'Password must be 8 alphanumeric characters'),
  });
  let fields = { password: '', confirmPassword: '' };
  let submitted = false;
  let isValid;

  const onUpdatePassword = async () => {
    submitted = true;
    isValid = schema.isValidSync(fields);
    if (isValid) {
      const res = await fetchApi(
        'PUT',
        `auth/updatePassword`,
        JSON.stringify({ password: fields.password, token: state.token }),
      );
      const json = await res.json();
      if (res.status >= 200 && res.status <= 300) {
        navigate('/signin');
        toastAlert('success', 'Password changed');
      } else {
        console.log('Error', json.message ? json.message : 'backend err msg.');
        if (json.message === 'OTP Validation failed') {
          navigate('/forgot-password-verify');
          toastAlert('info', 'OTP verification failed');
        } else {
          toastAlert('error', json.message ? json.message : 'backend err msg.');
        }
      }
    }
  };
</script>

<div>
  <div class="m-1 lg:grid lg:grid-cols-2 lg:gap-4 lg:m-2 lg:h-screen">
    <!-- Left Section  -->
    <div class="w-full p-1 lg:rounded-l-lg bg-dark-blue">
      <div class="flex justify-center mx-16 mt-8 md:mx-24">
        <img src="assets/images/logo.png" alt="" />
      </div>
      <div class="flex justify-center mx-24 mt-10">
        <h1 class="text-xl text-white md:text-2xl">Reset Password</h1>
      </div>
      <div class="flex justify-center mx-24 mt-5 mb-6 md:mb-0">
        <img src="assets/images/forgot-password.png" alt="ForgotPassword" />
      </div>
    </div>

    <!-- Right Section -->
    <div class="mx-8 my-8 lg:mx-24">
      <div>
        <h1 class="mb-2 text-3xl font-bold">Reset Password</h1>
        <!-- <h2 class="text-gray-label">
            Don't have an account?
            <Link to="/signup" class="text-dark-blue">Sign up</Link>
          </h2> -->
      </div>
      <div class="mt-8">
        <Form
          class="form"
          {schema}
          {fields}
          submitHandler={onUpdatePassword}
          {submitted}
        >
          <!-- Email Address -->
          <div class="mt-8">
            <InputItem
              htmlType="password"
              label="Password"
              name="password"
              placeholder="Password (8+ Alphanumaric Characters)"
              $borderColor
              bind:value={fields.password}
            />
            <Message name="password" />
          </div>

          <div class="mt-5">
            <InputItem
              htmlType="password"
              label="Confirm Password"
              name="confirmPassword"
              placeholder="Password (8+ Alphanumaric Characters)"
              $borderColor
              bind:value={fields.confirmPassword}
            />
            <Message name="confirmPassword" />
          </div>

          <!-- Submit Button -->
          <div class="mt-4">
            <Button
              text="Submit"
              htmlType="submit"
              postIcon="rightArrow"
              className="w-full"
            />
          </div>
        </Form>
      </div>
    </div>
  </div>
</div>
