<script>
  import { Link } from 'svelte-navigator';
</script>

<div>
  <div class="m-1 lg:grid lg:grid-cols-2 lg:gap-4 lg:m-2 lg:h-screen">
    <!-- Left Section  -->
    <div class="w-full p-1 lg:rounded-l-lg bg-dark-blue">
      <div class="flex justify-center mx-24 mt-8">
        <Link to="/">
          <img src="assets/images/logo.png" alt="" /></Link
        >
      </div>
      <div class="flex justify-center mx-12 mt-10 md:mx-24">
        <h1 class="text-xl text-white md:text-2xl">
          Oops! Account needs to be upgraded.
        </h1>
      </div>
      <div class="flex justify-center mx-24 mt-5 mb-8 md:mb-0">
        <img src="assets/images/upgrade_account.png" alt="UpgradeAccount" />
      </div>
    </div>

    <!-- Right Section -->
    <div class="mx-8 my-8 md:my-14 lg:mx-24">
      <div>
        <h1 class="mb-2 text-3xl font-bold ">
          Upgrade your subscription today
        </h1>
        <h2 class="text-gray-label">
          You are now a Basic or Premium account user.<br />
          Do upgrade your subscription to premium plus so that you will not miss
          out the full Benefits from IQrate.
        </h2>
      </div>
      <div class="mt-8">
        <div class="flex w-full gap-12 ">
          <a href="/restricted#apple">
            <button
              style="background: #383636; border: 1px solid #554D4D; color: white; border-radius: 5px;"
              class="flex items-center gap-4 p-2"
            >
              <div>
                <img src="assets/images/apple-logo.png" alt="Apple logo" />
              </div>
              <div>
                <p style="font-size: 10px;">DOWNLOAD ON</p>
                <p style="font-size: 14px;">APP STORE</p>
              </div>
            </button>
          </a>

          <a href="/restricted#google">
            <button
              style="background: #383636; border: 1px solid #554D4D; color: white; border-radius: 5px;"
              class="flex items-center gap-4 p-2"
            >
              <div>
                <img
                  src="assets/images/google-play-logo.png"
                  alt="Google Play logo"
                />
              </div>
              <div>
                <p style="font-size: 10px;">GET IT ON</p>
                <p style="font-size: 14px;">GOOGLE PLAY</p>
              </div>
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
