<script>
  import { Link, useNavigate } from 'svelte-navigator';

  import { GoogleAuth } from '@beyonk/svelte-social-auth';

  import Button from '../../components/Button.svelte';
  import Datepicker from '../../components/Datepicker.svelte';
  import Checkbox from '../../components/forms/FormCheckbox.svelte';
  import InputField from '../../components/forms/FormItem.svelte';

  import { fetchApi } from '../../services/api';

  import { toastAlert } from '../../utils/toaster';

  import { pendingOtpEmail } from '../../stores';

  // Form
  let state = {
    full_name: '',
    email: '',
    password: '',
    country_code: '65',
    mobile: '',
    dob: '',
    agreed_term: false,
  };

  const navigate = useNavigate();

  const onSignup = async () => {
    state.agreed_term = state.agreed_term ? 1 : 0;
    // mandatory obj to backend
    state.membership_type = 'basic';
    state.user_type = '1';

    const res = await fetchApi('POST', `auth/register`, JSON.stringify(state));

    const json = await res.json();

    if (res.status >= 200 && res.status <= 300) {
      pendingOtpEmail.set(state.email);
      navigate('/');
      toastAlert(
        'info',
        json.message
          ? json.message
          : 'Email verification sent. Check your mail inbox.',
      );
    } else {
      console.log(
        'Error',
        json.error_description ? json.error_description : 'backend err msg.',
      );
      toastAlert(
        'error',
        json.error_description ? json.error_description : 'backend err msg.',
      );
    }
  };

  const onGoogleRegister = async (data) => {
    const res = await fetchApi(
      'POST',
      `auth/google_verify`,
      JSON.stringify({
        idToken: data.id_token,
        access_token: data.access_token,
        type: 'Register',
      }),
    );
    const json = await res.json();
    if (res.status >= 200 && res.status <= 300) {
      toastAlert('info', 'Signup using Google success.');
      navigate('/signin');
    } else {
      console.log('Error', json.message ? json.message : 'backend err msg.');
      toastAlert('error', json.message ? json.message : 'backend err msg.');
    }
  };
</script>

<div>
  <div class="m-1 lg:grid lg:grid-cols-2 lg:gap-4 lg:m-2 lg:h-screen">
    <!-- Left Section  -->
    <div class="w-full p-1 lg:rounded-l-lg bg-dark-blue">
      <div class="flex justify-center mx-24 mt-8">
        <img src="assets/images/logo.png" alt="" />
      </div>
      <div class="flex justify-center mx-24 mt-10">
        <h1 class="text-2xl text-white">Easy & Simple Loan Process</h1>
      </div>
      <div class="flex justify-center mx-24 mt-5">
        <img src="assets/images/signup illution.png" alt="signupIllution" />
      </div>
    </div>

    <!-- Right Section -->
    <div class="mx-8 my-8 lg:mx-24">
      <div class="mb-5">
        <h1 class="mb-2 text-3xl font-bold">Sign up to IQrate</h1>
        <h2 class="text-gray-label">
          Already have an account?
          <Link to="/signin" class="text-dark-blue">Sign in</Link>
        </h2>
      </div>
      <div>
        <form on:submit|preventDefault={onSignup}>
          <!-- FirstName -->
          <div>
            <InputField
              label="Full name"
              name="fullName"
              placeholder="Enter your Full Name"
              $borderColor
              bind:value={state.full_name}
            />
          </div>
          <!-- Email Address -->
          <div>
            <InputField
              label="email address"
              name="emailAddress"
              placeholder="Enter your Email Address"
              bind:value={state.email}
            />
          </div>
          <!-- Mobile -->
          <div>
            <InputField
              formType="inputPreSelect"
              preSelectType="countries"
              type="text"
              label="Mobile No"
              name="mobileNo"
              placeholder="Enter your Mobile Number"
              bind:value={state.mobile}
              bind:country_code={state.country_code}
            />
          </div>

          <!-- Date -->
          <div class="flex justify-between w-full mt-5">
            <Datepicker label={'Date Of Birth'} bind:value={state.dob} />
          </div>

          <!-- Password -->
          <div>
            <InputField
              htmlType="password"
              label="password"
              name="password"
              placeholder="Enter your password"
              bind:value={state.password}
            />
          </div>

          <!-- Checkbox -->
          <div class="flex mt-5 text-gray-600">
            <Checkbox style="width:40px" bind:checked={state.agreed_term}>
              <slot>
                By creating an account, you agree to our
                <Link to="/privacypolicy">Privacy Policy</Link>,
                <Link to="/termsconditions">Term and Conditions</Link> and Notification
                settings
              </slot>
            </Checkbox>
          </div>

          <!-- Submit Button -->
          <div class="mt-4">
            <Button
              htmlType="submit"
              text="Sign Up"
              postIcon="rightArrow"
              className="w-full"
              disabled={!state.agreed_term}
            />
          </div>
        </form>
        <div style="display: none;">
          <p class="py-3 text-sm text-center text-gray-label">OR</p>
          <GoogleAuth
            clientId="846331027699-6c31kv49s56vclbk2g51bkpnc5kcg8ai.apps.googleusercontent.com"
            on:auth-success={(e) => {
              // console.log(e);
              console.dir(e.detail.user.wc);
              onGoogleRegister(e.detail.user.wc);
            }}
            text="Sign up with Google"
            class="btn btn-primary text-white capitalize btn-outline  w-full"
          />
        </div>
      </div>
    </div>
  </div>
</div>
