<svg
  version="1.0"
  xmlns="http://www.w3.org/2000/svg"
  width="24"
  height="24"
  viewBox="0 0 24 24"
  preserveAspectRatio="xMidYMid meet"
>
  <g transform="translate(0,24) scale(0.1,-0.1)" fill="#000000" stroke="none">
    <path
      d="M84 234 c-12 -3 -34 -19 -50 -35 -24 -25 -29 -39 -29 -79 0 -42 5
-54 32 -82 27 -27 39 -32 82 -32 44 -1 55 3 83 31 27 28 32 39 32 83 0 43 -5
55 -30 81 -30 30 -76 42 -120 33z m85 -28 c47 -25 63 -83 37 -135 -35 -66
-137 -66 -172 0 -47 91 44 182 135 135z"
    />
    <path
      d="M135 130 c-27 -28 -30 -29 -47 -13 -16 14 -18 14 -18 1 0 -9 7 -21
16 -29 13 -11 21 -7 52 24 20 20 34 39 31 42 -3 2 -18 -9 -34 -25z"
    />
  </g>
</svg>
