<script>
  import FormItem from '../../../../../components/forms/FormItem.svelte';
  import Datepicker from '../../../../../components/IqRateDatePicker.svelte';
  import Button from '../../../../../components/Button.svelte';
  import phone_countries from '../../../../../json/country-phone.json';

  import { fetchApi } from '../../../../../services/api';
  import { onMount } from 'svelte';

  import * as yup from 'yup';
  import { Form, Message } from 'svelte-yup';

  import { toastAlert } from '../../../../../utils/toaster';

  import { useNavigate } from 'svelte-navigator';

  import { userDetail } from '../../../../../stores';
  import LeadBtn from './LeadBtn.svelte';

  export let id;

  console.log('printing lead id', id);

  const navigate = useNavigate();

  //validation
  let schema = yup.object().shape({
    name: yup.string().required('Please enter a valid lead name'),
    phone_number: yup
      .string()
      .nullable()
      .required("That doesn't look like a valid number")
      .matches(/^[0-9]+$/, 'Must be only numbers')
      .min(7, "That doesn't look like a valid number")
      .max(12, "That doesn't look like a valid number")
      .label('Mobile number'),
    email: yup
      .string()
      .required('Please enter a valid email')
      .email('Please enter a valid email'),
  });

  let submitted = false;
  let isValid;
  let LeadType;

  // Form
  let fields = [
    {
      name: '',
      lead: id,
      main_applicant: true,
      country_code: '',
      phone_number: null,
      email: '',
      dob: '',
      nationality: '',
      annual_income: '',
    },
  ];

  onMount(async () => {
    // Get Lead ID, and check if lead exist, if exist kick out from this route. - solved on CheckLead function
    checkLead();
  });

  const checkLead = async () => {
    const res = await fetchApi('GET', `customer/lead/${id}`);
    const json = await res.json();

    LeadType = json;
    console.log('lead type', LeadType.lead_type);
    if (LeadType.lead_type === 'yourself') {
      userDetail.subscribe((user) => {
        fields.name = user?.full_name ? user?.full_name : 'Guest';
        fields.email = user?.email ? user?.email : '';
        fields.phone_number = user?.mobile ? user?.mobile : '';
        fields.country_code = user?.country_code ? user?.country_code : '';
        console.log(fields.dob);
      });
    }
    fetchApi('GET', `customer/lead/${id}`)
      .then((res) => res.json())
      .then((res) => {
        if (res?.clients.length > 0) {
          // kick user from createLead
          navigate('/customer/lead/all');
        }
      })
      .catch((err) => console.log('err checkLead', err));
  };

  const addLead = async () => {
    console.log(fields);
    submitted = true;
    isValid = schema.isValidSync(fields);
    if (isValid || id) {
      const res = await fetchApi(
        'POST',
        `customer/lead/clients/create`,

        JSON.stringify({ ...fields, lead: id, main_applicant: true }),
      );
      const json = await res.json();
      if (res.status >= 200 && res.status <= 300) {
        navigate(`/lead/manage/${id}`);
        toastAlert('success', ' Lead Created');
      } else if(res.status === 403){
        if(json.name === 'MEMBERSHIP_ACL_CHECK'){
          toastAlert('error', json.message ? json.message : 'We have encountered a technical difficulty onboarding you. Please try again later.');
        }else{
          toastAlert('error', json.detail ? json.detail : 'We have encountered a technical difficulty onboarding you. Please try again later.');
        }
      } else {
        console.log('Error', json.message ? json.message : 'backend err msg.');
        // toastAlert("info", "Technical Error!");
      }
    }
    // Promise api fetch all.
    // Promise.all(
    //   fields.map((fields) => {
    //     createApplicant(fields);
    //   })
    // ).then(function (values) {
    //   console.log("after all create", values);
    //   navigate(`/lead/manage/${id}`);
    // });
  };
</script>

<main>
  <Form class="form" {schema} {fields} submitHandler={addLead} {submitted}>
    <div class="w-full md:w-1/2">
      <h1 class="my-5 text-3xl text-dark-red">Create a Lead</h1>

      <div>
        <FormItem
          label="Lead Full Name*"
          name="leadname"
          placeholder="Lead Full Name"
          $borderColor
          bind:value={fields.name}
        />
        <div class="flex justify-end text-dark-red">
          <Message name="name" />
        </div>
      </div>
      <!-- Lead Mobile -->
      <div class="mb-3">
        <!-- <FormItem
          formType="inputPreSelect"
          preSelectType="countries"
          type="text"
          label="Lead Mobile No*"
          name="mobileNo"
          placeholder="Lead Mobile Number"
          bind:value={fields.phone_number}
          bind:country_code={fields.country_code}
        /> -->
        <label for="number" class="mb-2 capitalize label-text text-gray-label"
          >Lead Mobile No*</label
        >
        <div class="flex w-full mt-2">
          <div class="w-32">
            <select
              class="w-full h-12 pl-3 border border-gray-300 appearance-none rounded-l-md focus:border-gray-300 focus:ring-offset-2 focus:ring-2 focus:ring-gray-300 hover:outline-none focus:outline-none focus:shadow-outline"
              bind:value={fields.country_code}
            >
              {#each phone_countries as pc, i}
                <option value={pc.dial_code.substring(1)}
                  >{'+' + pc.dial_code.substring(1)}</option
                >
              {/each}
            </select>
          </div>
          <div class="w-full">
            <input
              class="w-full h-12 pl-3 border border-gray-300 appearance-none rounded-r-md focus:border-gray-300 focus:ring-offset-2 focus:ring-2 focus:ring-gray-300 hover:outline-none focus:outline-none focus:shadow-outline"
              type="number"
              bind:value={fields.phone_number}
              placeholder="Lead Mobile Number"
            />
          </div>
        </div>
        <div class="flex justify-end text-dark-red">
          <Message name="phone_number" />
        </div>
      </div>
      <!-- Lead Email Address -->
      <div>
        <FormItem
          label="Lead Email Address*"
          name="emailAddress"
          placeholder="Lead Email Address"
          bind:value={fields.email}
        />
        <div class="flex justify-end text-dark-red">
          <Message name="email" />
        </div>
      </div>

      <Button btnclick={addLead} text="Save" className="w-full mt-5" gradient />
    </div>
  </Form>
</main>
