<script>
  import { onMount } from 'svelte';
  import Button from '../../../../../components/Button.svelte';
  import Loading from '../../../../../components/icons/Loading.svelte';
  import { Link, useNavigate } from 'svelte-navigator';
  import { toastAlert } from '../../../../../utils/toaster';

  import { fetchApi } from '../../../../../services/api';
  import { allKv, userDetail } from '../../../../../stores';

  export let choose = 1;
  export let heading = 1;
  export let note = 1;

  let step = 1;
  let datas = [];
  let selectedType = null;
  let activeUserID = '';
  let leadTypes = [];
  let leadData = [
    {
      // "../../../../../../public/assets/images/yourself.png"
      image: '/assets/images/yourself.png',
      heading: 'Apply Loan for Yourself',
      desc: 'If you are applying loan for yourself, the application needs to be processed as co-broke. ',
      para1:
        'Just complete your details and IQrate partnered mortgage brokers will assist on your application.',
      para2: 'Referral fee will be co-shared at 50%. ',
    },
    {
      image: '/assets/images/cobroke1.png',
      heading: 'Co-Broke',
      desc: 'Loan application process too difficult for you?',
      para1:
        'Just fill up the lead details and IQrate partnered mortgage broke will close the deal for you.',
      para2: 'Referral fee will be co-shared at 50%.',
    },

    {
      image: '/assets/images/others.png',
      heading: 'Apply Loan for Others',
      desc: 'Handle the entire loan application yourself and earn maximum referral fee',
      para1: '',
      para2: '',
    },
  ];

  function mergeArrayObjects(arr1, arr2) {
    return arr1.map((item, i) => {
      return Object.assign({}, item, arr2[i]);
    });
  }

  const navigate = useNavigate();

  onMount(() => {
    if ($allKv !== null) {
      const lead_type = $allKv.find((kv) => kv.code === 'lead_type') || null;
      leadTypes = Object.keys(lead_type.value).map((propertyStatusKey) => ({
        id: propertyStatusKey,
        name: lead_type.value[propertyStatusKey],
      }));
    }
    // leadTypes = $allKv[1].value;
    activeUserID = $userDetail.id;
    console.log('leadtypes', leadTypes);
    // leadTypes = Object.keys(leadTypes).map((key) => ({
    //   id: String(key),
    //   name: leadTypes[key],
    // }));

    datas = mergeArrayObjects(leadData, leadTypes);
  });

  const onCreateLead = async () => {
    const res = await fetchApi(
      'POST',
      `customer/lead/create`,
      JSON.stringify({ agent_applied: activeUserID, lead_type: selectedType }),
    );
    const json = await res.json();
    if (res.status >= 200 && res.status <= 300) {
      // toastAlert("info", "Lead Created Successfully");
      navigate(`/create-lead/${json.id}`);
    } else if(res.status === 403){
        if(json.name === 'MEMBERSHIP_ACL_CHECK'){
          toastAlert('error', json.message ? json.message : 'We have encountered a technical difficulty onboarding you. Please try again later.');
        }else{
          toastAlert('error', json.detail ? json.detail : 'We have encountered a technical difficulty onboarding you. Please try again later.');
        }
    } else {
      console.log('Error', json.message ? json.message : 'backend err msg.');
      toastAlert('error', json.message ? json.message : 'Fail to create Lead!');
    }
    console.log('after create lead json:', json);
  };
</script>

<main>
  <div class="w-full">
    {#if step === 1}
      <h2 class="mt-6 mb-6 text-3xl font-bold text-dark-red">Create Lead</h2>
      <div class="flex flex-col justify-center w-full py-2 mt-6 lg:flex-row">
        {#each datas as lead}
          <div
            class="flex w-full mt-6 space-y-12 lg:w-1/2 lg:space-y-0 lg:grid lg:grid-cols-1 lg:gap-x-2"
          >
            <div
              class="relative flex flex-col flex-wrap px-3 py-8 mx-1 bg-white border border-gray-200 shadow-sm rounded-2xl"
            >
              <div class="flex-1 mb-8">
                <div class="flex justify-center rounded-full ">
                  <img src={lead.image} alt="" class="w-32 h-32" />
                </div>
                <div class="mt-6">
                  <h3
                    class={`mx-1 my-8 text-xl font-semibold text-gray-900 ${
                      lead.heading === 'Co-Broke' ? 'text-center' : ''
                    } `}
                  >
                    {lead.heading}
                  </h3>
                  <p class="mx-1 text-gray-label">{lead.desc}</p>
                  <p class="mx-1 mt-3 text-gray-label">{lead.para1}</p>
                  <p class="mx-1 mt-3 text-gray-label">{lead.para2}</p>
                </div>
              </div>

              <Button
                btnclick={() => {
                  selectedType = lead.id;
                  onCreateLead();
                  console.log(selectedType);
                }}
                text="Proceed"
                className="w-full mt-10 mb-5"
                gradient
              />
            </div>
          </div>
        {/each}
      </div>

      <!-- <div
        class="flex flex-col items-center justify-center w-full h-full p-6 mt-6"
      >
        {#each Object.entries(leadTypes) as [key, val]}
          <Button
            btnclick={() => {
              step = 2;
              selectedType = key;
              console.log(key);
            }}
            text={val}
            className="w-full md:w-1/2 mt-10 mb-5"
            isOutlined
          />
        {/each}
      </div> -->
      <!-- <p
        class="flex flex-col items-center justify-center text-gray-label"
      >
        If you are applying for yourself, the application need to process as
        co-broke
      </p> -->
    {:else if step === 2 && selectedType}
      <h2 class="mt-6 mb-12 text-3xl font-bold text-dark-red">
        <!-- {leadTypes[selectedType]} -->
        {datas.heading}
      </h2>
      <div class="w-full">
        <div
          class="flex flex-col items-center justify-center w-full h-full p-6 mt-6"
        >
          <!-- <Link
            class="my-5 w-1/2 px-5 py-3.5 text-center capitalize border rounded-lg bg-dark-red border-dark-red text-white hover:text-white hover:bg-red-500"
            to="/create-lead/form">Continue</Link
          >
          <Link
            class="my-5 w-1/2 px-5 py-3.5 text-center capitalize border rounded-lg border-dark-red text-gray-label hover:text-white hover:bg-dark-red"
            to="/">Cancel</Link
          > -->
          <Button
            btnclick={() => {
              onCreateLead();
            }}
            text={'Continue'}
            className="w-1/2 mt-10 mb-5"
            isOutlined
          />
          <Button
            btnclick={() => {
              step = 1;
              selectedType = null;
            }}
            text={'Cancel'}
            className="w-1/2 mt-10 mb-5"
            isOutlined
          />
          {#if note === 2}
            <p class="w-1/2 my-5 text-gray-label">
              Go through the loan application yourself and earn maximum referral
              fee.
            </p>
          {/if}
          {#if note === 3}
            <p class="w-1/2 my-2 text-gray-label">
              ● If you are applying loan for yourself, the application needs to
              be processed as co broke.
            </p>
            <p class="w-1/2 my-2 text-gray-label">
              ● Just complete your details and IQrate partnered mortgage brokers
              will assist on your application.
            </p>
            <p class="w-1/2 my-2 text-gray-label">
              ● Referral fee will be co-shared at 50%.
            </p>
          {/if}
          {#if note === 4}
            <p class="w-1/2 my-2 text-gray-label">
              ● Loan application too difficult for you?
            </p>
            <p class="w-1/2 my-2 text-gray-label">
              ● Just fill up the lead details and IQrate partnered mortgage
              broke will close the deal for you.
            </p>
            <p class="w-1/2 my-2 text-gray-label">
              ● Referral fee will be co-shared at 50%.
            </p>
          {/if}
        </div>
      </div>
    {:else}
      <div>Something wrong.</div>
    {/if}
  </div>
</main>
