<script>
  import { Router, Route, Link } from 'svelte-navigator';

  import UserGuideDetails from '../UserGuide/UserGuideDetails.svelte';
</script>

<Router>
  <Route path=":id" let:params><UserGuideDetails id={params.id} /></Route>
</Router>
