<script>
  import AccordionMenu from '../../../components/AccordionMenu.svelte';
  import { fetchApi } from '../../../services/api';
  import ImportantLinks from '../Resources/screens/ImportantLinks.svelte';
  import LawFirms from '../Resources/screens/LawFirm/LawFirm.svelte';
  import BankForms from '../Resources/screens/BankForms.svelte';
  import Others from '../Resources/screens/Others.svelte';
  import Pdpa from '../Resources/screens/Pdpa.svelte';
  import MyTab from '../../../components/MyTab.svelte';

  import { onMount } from 'svelte';

  let resourceResult = [];

  onMount(async () => {
    faqs();
  });

  const faqs = async () => {
    const res = await fetchApi('GET', `resource-categories`, null, 'cmsApi');
    const resourseList = await res.json();
    resourceResult = resourseList;
    // resourceResult = Object.keys(resourseList).map((key) => ({
    //   id: String(key),
    //   name: resourseList[key],
    // }));

    console.log('resources', resourceResult[0].category_name);
  };
</script>

<main>
  <div class="">
    <h2 class="mt-6 mb-10 text-3xl font-bold text-dark-red">Resources</h2>
    <div>
      <MyTab
        props={{
          title: 'Law Firms',
          id: 'lawfirm',
        }}
      >
        <div class="bg-white rounded-lg ">
          <p
            class="py-6 font-normal tracking-wide text-justify text-gray-label"
          >
            <LawFirms />
          </p>
        </div>
      </MyTab>
      <MyTab
        props={{
          title: 'Bank Forms',
          id: 'bankform',
        }}
      >
        <div class="bg-white rounded-lg ">
          <p
            class="py-6 font-normal tracking-wide text-justify text-gray-label"
          >
            <BankForms />
          </p>
        </div>
      </MyTab>
      <!-- <AccordionMenu props={{ key: 'lawfirm', contentLabel: 'Law Firms' }}>
        <div class="body-manual">
          <LawFirms />
        </div>
      </AccordionMenu>

      <AccordionMenu props={{ key: 'bankform', contentLabel: 'Bank Forms' }}>
        <div class="body-manual">
          <BankForms />
        </div>
      </AccordionMenu> -->
      {#each resourceResult as resource}
        <MyTab
          props={{
            title: resource.category_name.replace(/([a-z])([A-Z])/, '$1 $2'),
            id: resource.id,
          }}
        >
          <div class="bg-white rounded-lg ">
            <p
              class="py-6 font-normal tracking-wide text-justify text-gray-label"
            >
              {#if resource.category_name === 'ImportantLinks'}
                <div class="body-manual">
                  <ImportantLinks />
                </div>
              {/if}
              {#if resource.category_name === 'Others'}
                <div class="body-manual">
                  <Others />
                </div>
              {/if}
            </p>
          </div>
        </MyTab>
        <!-- <AccordionMenu
          props={{
            key: resource.id,
            contentLabel: resource.category_name.replace(
              /([a-z])([A-Z])/,
              '$1 $2',
            ),
          }}
        >
          {#if resource.category_name === 'ImportantLinks'}
            <div class="body-manual">
              <ImportantLinks />
            </div>
          {/if}
          {#if resource.category_name === 'Others'}
            <div class="body-manual">
              <Others />
            </div>
          {/if}
        </AccordionMenu> -->
      {/each}

      <!--<AccordionMenu props={{ key: "others", contentLabel: "Others" }}>
        <div class="body-manual">
          <Others />
        </div>
      </AccordionMenu>

      <AccordionMenu props={{ key: "pdpa", contentLabel: "PDPA" }}>
        <div class="body-manual">
          <Pdpa />
        </div>
      </AccordionMenu> -->
    </div>
  </div>
</main>
