<script>
  import { onMount } from 'svelte';
  import { useNavigate, useParams } from 'svelte-navigator';
  import { fetchApi } from '../../../../services/api';
  import { toastAlert } from '../../../../utils/toaster';
  import moment from 'moment';
  import { API_BASE_URL } from '../../../../config/index';
  import FormCheckbox from '../../../../components/forms/FormCheckbox.svelte';
  import DatePicker from '../../../../components/SveltyPickerDate.svelte';
  import FormItem from '../../../../components/forms/FormItem.svelte';
  import Button from '../../../../components/Button.svelte';
  import EyeOutlined from '../../../../components/icons/password/EyeOutlined.svelte';
  import { allKv } from '../../../../stores';

  const navigate = useNavigate();
  const params = useParams();

  $: editId = $params.id;
  $: docURL = '';
  $: docName = '';
  let loading = true;
  let datas = '';
  let clients = [];
  let subData = [];
  $: letterOfOffer = '';
  onMount(async () => {
    fetchDetail();
  });
  // Table Methods
  const getKeyLabel = (key, val) => {
    if ($allKv !== null) {
      const foundKV = $allKv.find((kv) => kv.code === key);
      if (foundKV) {
        return foundKV.value[val];
      }
    }
    return '-';
  };
  const fetchDetail = async () => {
    loading = true;
    const res = await fetchApi('GET', `customer-admin/lead/${editId}`);
    const user = await res.json();
    if (res.status >= 200 && res.status <= 300) {
      datas = user;
      subData = user.document_drawer.documents;
      letterOfOffer = subData.filter(
        (ele) => ele.doc_type === 'Letter Of Offer',
      );
      clients = user.clients;
      loading = false;
      console.log(
        'atish',
        subData.filter((ele) => ele.doc_type === 'Letter Of Offer'),
      );
    } else {
      toastAlert('error', user.message ? user.message : 'backend err msg.');
    }
  };

  let back = () => {
    navigate('/payout/list');
  };
  // All the type of documents
  let allDocType = [
    'Bank Forms',
    'NRIC',
    'Option to Purchase',
    'IRAS Statements',
    'CPF Statements',
    'HDB Statements',
    'Payslips',
    'Valuation Reports',
    'Outstanding Loan Statements',
    'Tenancy Agreement',
    'Others',
    'Letter Of Offer',
    'Calculator Reports',
  ];
  async function handleDoc(url) {
    window.open(url, '_blank');
  }
</script>

<main>
  <div class="">
    <h2 class="my-6 text-3xl font-semibold text-dark-red">Lead List</h2>
    {#each clients as applicant, i}
      <!-- Application Details -->
      <div class="p-6 mt-6 shadow rounded-box text-gray-label bg-gray-50">
        <div>
          {#if applicant.main_applicant}
            <h1 class="mb-6 text-xl font-semibold text-dark-red">
              Applicant Details
            </h1>
          {:else}
            <h1 class="mb-6 text-xl font-semibold text-dark-red">
              Joint Applicant #{i + 1} Details
            </h1>
          {/if}
          <div
            class="flex justify-between my-3 md:grid md:grid-cols-2 md:gap-4"
          >
            <div class="font-medium">Lead Full Name</div>
            <div class="capitalize">{applicant.name}</div>
          </div>
          <hr />
          <div
            class="flex justify-between my-3 md:grid md:grid-cols-2 md:gap-4"
          >
            <div class="font-medium">Lead Mobile Number</div>
            <div>+{applicant.country_code} {applicant.phone_number}</div>
          </div>
          <hr />
          <div
            class="flex justify-between my-3 md:grid md:grid-cols-2 md:gap-4"
          >
            <div class="font-medium">Lead Email Address</div>
            <div>{applicant.email}</div>
          </div>
          <hr />
          <div
            class="flex justify-between my-3 md:grid md:grid-cols-2 md:gap-4"
          >
            <div class="font-medium">PDPA Status</div>
            <div>{applicant.pdpa_status ? 'Approved' : 'Pending'}</div>
          </div>
          <hr />
          <div
            class="flex justify-between my-3 md:grid md:grid-cols-2 md:gap-4"
          >
            <div class="font-medium">Date of Birth</div>
            <div>
              {applicant.dob ? moment(applicant.dob).format('DD-MM-YYYY') : '-'}
            </div>
          </div>
          <hr />
          <div
            class="flex justify-between my-3 md:grid md:grid-cols-2 md:gap-4"
          >
            <div class="font-medium">Nationality</div>
            <div class="capitalize">
              {applicant.nationality ? applicant.nationality : '-'}
            </div>
          </div>
          <hr />
          <div
            class="flex justify-between my-3 md:grid md:grid-cols-2 md:gap-4"
          >
            <div class="font-medium">annual Income</div>
            <div>
              {applicant.annual_income
                ? Intl.NumberFormat('en-US', {
                    style: 'currency',
                    currency: 'USD',
                  }).format(applicant.annual_income)
                : '-'}
              {applicant.annual_income ? 'SGD' : ''}
            </div>
          </div>
        </div>
      </div>
    {/each}
    <!-- Loan Details -->
    <div class="p-6 my-6 shadow rounded-box text-gray-label bg-gray-50">
      <div>
        <h1 class="mb-6 text-xl font-semibold text-dark-red">Loan Details</h1>

        <div class="flex justify-between my-3 md:grid md:grid-cols-2 md:gap-4">
          <div class="font-medium">Loan Type</div>
          <div>
            {#if datas.loan_category}
              {getKeyLabel('loan_category', datas.loan_category)}
            {:else}
              -
            {/if}
          </div>
        </div>
        <hr />
        <div class="flex justify-between my-3 md:grid md:grid-cols-2 md:gap-4">
          <div class="font-medium">Outstanding Loan Amount</div>
          <div>
            {datas.loan_amount
              ? Intl.NumberFormat('en-US', {
                  style: 'currency',
                  currency: 'USD',
                }).format(datas.loan_amount)
              : '-'}
            {datas.loan_amount ? 'SGD' : ''}
          </div>
        </div>
        <hr />
        <div class="flex justify-between my-3 md:grid md:grid-cols-2 md:gap-4">
          <div class="font-medium">Existing Bank</div>
          <div>
            {datas.existing_bank ? datas.existing_bank : '-'}
          </div>
        </div>
        <hr />

        <div
          class="flex justify-between my-3 mb-5 md:grid md:grid-cols-2 md:gap-4"
        >
          <div class="font-medium">Current Intrest Rate</div>
          <div>
            {datas.current_interest_rate ? datas.current_interest_rate : '-'}
          </div>
        </div>
        <div class="flex mt-10 mb-3 space-x-4">
          <input type="checkbox" class="w-6 h-6" />
          <p class="text-gray-label">
            Do you have intention to sell your property within 3 years
          </p>
        </div>
        <div class="flex my-3 space-x-4">
          <input type="checkbox" class="w-6 h-6" />
          <p class="text-gray-label">
            Are you willing to place a minimum $200K fresh funds with the bank
            to enjoy better rates?
          </p>
        </div>
      </div>
    </div>
    <div class="p-6 my-6 shadow rounded-box text-gray-label bg-gray-50">
      <!-- Property Details -->
      <div>
        <h1 class="mb-6 text-xl font-semibold text-dark-red">
          Property Details
        </h1>

        <div class="flex justify-between my-3 md:grid md:grid-cols-2 md:gap-4">
          <div class="font-medium">Property Type</div>
          <div>
            {#if datas.property}
              {getKeyLabel('property_type', datas.property.property_type)}
            {:else}
              -
            {/if}
          </div>
        </div>
        <hr />
        <div class="flex justify-between my-3 md:grid md:grid-cols-2 md:gap-4">
          <div class="font-medium">Property Purchase Price</div>
          <div>
            {datas.property
              ? Intl.NumberFormat('en-US', {
                  style: 'currency',
                  currency: 'USD',
                }).format(datas.property.purchase_price)
              : '-'}
          </div>
        </div>
        <hr />
        <div class="flex justify-between my-3 md:grid md:grid-cols-2 md:gap-4">
          <div class="font-medium">Property Status</div>
          <div class="capitalize">
            {datas.property ? datas.property.property_status : '-'}
          </div>
        </div>
        <hr />
        <div class="flex justify-between my-3 md:grid md:grid-cols-2 md:gap-4">
          <div class="font-medium">Postal Code</div>
          <div>{datas.property ? datas.property.postal_code : '-'}</div>
        </div>
        <hr />
        <div class="flex justify-between my-3 md:grid md:grid-cols-2 md:gap-4">
          <div class="font-medium">Street Name</div>
          <div>
            {datas.property
              ? datas.property.street_name
                ? datas.property.street_name
                : '-'
              : '-'}
          </div>
        </div>
        <hr />
        <div class="flex justify-between my-3 md:grid md:grid-cols-2 md:gap-4">
          <div class="font-medium">Unit Number</div>
          <div>
            {datas.property
              ? datas.property.unit_number
                ? datas.property.unit_number
                : '-'
              : '-'}
          </div>
        </div>
        <hr />
        <div class="flex justify-between my-3 md:grid md:grid-cols-2 md:gap-4">
          <div class="font-medium">Project Name</div>
          <div>
            {datas.property
              ? datas.property.project_name
                ? datas.property.project_name
                : '-'
              : '-'}
          </div>
        </div>
      </div>
    </div>
    <div class="p-6 my-6 shadow rounded-box text-gray-label bg-gray-50">
      <!-- Bank Details -->
      <div>
        <h1 class="mb-6 text-xl font-semibold text-dark-red">Bank Details</h1>

        <div class="flex justify-between my-3 md:grid md:grid-cols-2 md:gap-4">
          <div class="font-medium">Bank Name</div>
          <div class="capitalize">
            {datas.agent_applied ? datas.agent_applied.full_name : '-'}
          </div>
        </div>
        <hr />
        <div class="flex justify-between my-3 md:grid md:grid-cols-2 md:gap-4">
          <div class="font-medium">Bank Email Address</div>
          <div>{datas.agent_applied ? datas.agent_applied.email : '-'}</div>
        </div>
      </div>
    </div>

    <!-- Co-Broker Details -->
    <div class="p-6 my-6 shadow rounded-box text-gray-label bg-gray-50">
      <div>
        <h1 class="mb-6 text-xl font-semibold text-dark-red">
          Co-Broker Details
        </h1>

        <div class="flex justify-between my-3 md:grid md:grid-cols-2 md:gap-4">
          <div class="font-medium">Co-Broker Name</div>
          <div>
            {datas.co_broke_agent ? datas.co_broke_agent.full_name : '-'}
          </div>
        </div>
        <hr />
        <div class="flex justify-between my-3 md:grid md:grid-cols-2 md:gap-4">
          <div class="font-medium">Co-Broker Number</div>
          <div>
            {#if datas.co_broke_agent}
              +{datas.co_broke_agent.country_code}
              <span class="pl-2">{datas.co_broke_agent.mobile}</span>
            {:else}
              -
            {/if}
          </div>
        </div>
      </div>
    </div>

    <!-- Submit for payout -->
    <div class="p-6 my-6 shadow rounded-box text-gray-label bg-gray-50">
      <div>
        <h1 class="mb-6 text-xl font-semibold text-dark-red">
          Submit for payout
        </h1>

        <div class="flex justify-between my-3 md:grid md:grid-cols-2 md:gap-4">
          <div class="font-medium">Loan Acceptance Date</div>
          <div>
            {datas.payout
              ? moment(datas.payout.loan_acceptance_date).format('DD-MM-YYYY')
              : '-'}
          </div>
        </div>
        <hr />
        <div class="flex justify-between my-3 md:grid md:grid-cols-2 md:gap-4">
          <div class="font-medium">Letter of Offer's Reference Number</div>
          <div>
            {datas.payout ? datas.payout.lo_reference_number : '-'}
          </div>
        </div>
        <hr />
        <div class="flex justify-between my-3 md:grid md:grid-cols-2 md:gap-4">
          <div class="font-medium">Bank</div>
          <div>
            {datas.payout ? datas.payout.bank.name : '-'}
          </div>
        </div>
        <hr />
        <div class="flex justify-between my-3 md:grid md:grid-cols-2 md:gap-4">
          <div class="font-medium">Banker</div>
          <div>
            {datas.payout ? datas.payout.banker.name : '-'}
          </div>
        </div>
        <hr />
        <div class="flex justify-between my-3 md:grid md:grid-cols-2 md:gap-4">
          <div class="font-medium">Law Firm</div>
          <div>
            {datas.payout ? datas.payout.own_law_firm_name : '-'}
          </div>
        </div>
        <hr />
        <div class="flex justify-between my-3 md:grid md:grid-cols-2 md:gap-4">
          <div class="font-medium">Legal Fees</div>
          <div>
            {datas.payout
              ? Intl.NumberFormat('en-US', {
                  style: 'currency',
                  currency: 'USD',
                }).format(datas.payout.legal_fee)
              : '-'}
          </div>
        </div>
        <hr />
        <div class="flex justify-between my-3 md:grid md:grid-cols-2 md:gap-4">
          <div class="font-medium">Loan Amount</div>
          <div>
            {datas.payout
              ? Intl.NumberFormat('en-US', {
                  style: 'currency',
                  currency: 'USD',
                }).format(datas.payout.loan_amount)
              : '-'}
          </div>
        </div>
        <hr />
        <div class="flex justify-between my-3 md:grid md:grid-cols-2 md:gap-4">
          <div class="font-medium">Banks Referral Fee</div>
          <div>
            {datas.payout
              ? Intl.NumberFormat('en-US', {
                  style: 'currency',
                  currency: 'USD',
                }).format(datas.payout.bank_referral_fee)
              : '-'}
          </div>
        </div>
        <hr />
        <div class="flex justify-between my-3 md:grid md:grid-cols-2 md:gap-4">
          <div class="font-medium">Rate Type</div>
          <div>
            {datas.payout ? datas.payout.loans[0].rate_type : '-'}
          </div>
        </div>
        <hr />
        <div class="flex justify-between my-3 md:grid md:grid-cols-2 md:gap-4">
          <div class="font-medium">Lock In Period</div>
          <div>
            {datas.payout ? datas.payout.loans[0].lock_in_period : '-'}
          </div>
        </div>
        <hr />
        <div class="flex justify-between my-3 md:grid md:grid-cols-2 md:gap-4">
          <div class="font-medium">Clawback Period</div>
          <div>
            {datas.payout ? datas.payout.loans[0].clawback_period : '-'}
          </div>
        </div>
        <hr />
        <div class="flex justify-between my-3 md:grid md:grid-cols-2 md:gap-4">
          <div class="font-medium">
            Cash Rebate/ Legal Subsidy/ Valuation Subsidy
          </div>
          <div>
            {datas.payout ? datas.payout.loans[0].cash_rebate_subsidy : '-'}
          </div>
        </div>
        <hr />
        <div class="flex justify-between my-3 md:grid md:grid-cols-2 md:gap-4">
          <div class="font-medium">Next Review Date</div>
          <div>
            {datas.payout
              ? moment(datas.payout.loans[0].next_review_date).format(
                  'DD-MM-YYYY',
                )
              : '-'}
          </div>
        </div>
        <hr />
        <div class="flex justify-between my-3 md:grid md:grid-cols-2 md:gap-4">
          <div class="font-medium">Attachments</div>
          {#if letterOfOffer.length > 0}
            <div
              class="absolute border px-2 py-1.5 md:right-36 md:mr-16 right-4 flex justify-between w-1/2 md:w-80"
            >
              <p>LetterOfOffer.pdf</p>
              <div on:click={() => handleDoc(letterOfOffer[0].url)}>
                <span class="inline-block cursor-pointer"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="w-5 h-5 md:w-6 md:h-6"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    stroke-width="2"
                    ><path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M12 10v6m0 0l-3-3m3 3l3-3m2 8H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z"
                    /></svg
                  ></span
                >
              </div>
            </div>
          {:else}
            -
          {/if}
        </div>
      </div>
    </div>

    <!-- Document Drawer -->
    <div class="p-6 my-6 shadow rounded-box text-gray-label bg-gray-50">
      <div>
        <h1 class="mb-6 text-xl font-semibold text-dark-red">
          Document Drawer
        </h1>
        {#each allDocType as docType, mainIndex}
          <!-- table -->
          <div class="m-2 overflow-hidden border md:m-4 rounded-2xl">
            <table class="min-w-full divide-y divide-gray-200">
              <thead class="bg-gray-50 ">
                <tr class="text-sm md:text-base">
                  <th
                    class="px-2 py-3 font-sans font-medium tracking-wider text-left capitalize md:px-3 "
                  >
                    <p class="ml-4 -mt-1">{docType}</p>
                  </th>
                </tr>
              </thead>

              {#each Object.values(subData) as { filename, doc_type, url, id }, i (id)}
                <tbody
                  class="text-sm bg-white divide-y divide-gray-200 md:text-base "
                >
                  {#if docType === doc_type}
                    <tr>
                      <td class="px-8 py-3">
                        <p class="pl-3 -mt-1">
                          {filename}
                        </p>
                      </td>
                      <td class="px-2 py-3 text-right md:px-4">
                        <div class="flex justify-end gap-2 md:gap-3">
                          <!-- view -->
                          <span
                            on:click={() => handleDoc(url)}
                            class="inline-block cursor-pointer"
                          >
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              class="w-5 h-5 md:w-6 md:h-6"
                              fill="none"
                              viewBox="0 0 24 24"
                              stroke="currentColor"
                              stroke-width="2"
                            >
                              <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
                              />
                              <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"
                              />
                            </svg>
                          </span>

                          <span
                            on:click={() => handleDoc(url)}
                            class="inline-block cursor-pointer"
                          >
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              class="w-5 h-5 md:w-6 md:h-6"
                              fill="none"
                              viewBox="0 0 24 24"
                              stroke="currentColor"
                              stroke-width="2"
                            >
                              <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M12 10v6m0 0l-3-3m3 3l3-3m2 8H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z"
                              />
                            </svg>
                          </span>
                          <!-- </a> -->
                        </div>
                      </td>
                    </tr>
                  {/if}
                </tbody>
              {/each}
            </table>
          </div>
          <!-- table end -->
        {/each}
      </div>
    </div>
  </div>
</main>

<style>
  input[type='checkbox'] {
    accent-color: red;
    border: 5px solid red;
  }
</style>
