<script>
  import InputItem from '../../components/forms/FormItem.svelte';
  import Button from '../../components/Button.svelte';
  import ApiAlert from '../../components/alert/ApiAlert.svelte';

  import { userToken } from '../../stores';
  import { setCookie } from '../../utils/cookie';
  import { toastAlert } from '../../utils/toaster';

  import { fetchApi } from '../../services/api';

  let result;
  let resultType;
  // Form
  let state = {
    email: '',
    password: '',
  };

  const onSignin = async () => {
    const res = await fetchApi(
      'POST',
      `auth/adminlogin`,
      JSON.stringify(state),
    );
    const json = await res.json();
    if (res.status >= 200 && res.status <= 300) {
      userToken.set(json.access_token);
      setCookie('cookie', json.access_token);
      setCookie('refresh_token', json.refresh_token);
      toastAlert('success', 'Login success');
    } else {
      console.error('Error', json.message ? json.message : 'backend err msg.');
      toastAlert('error', json.message ? json.message : 'Invalid Credentials.');
    }
  };

  // const onSignin = async () => {
  //   const res = await fetchApi(
  //     "POST",
  //     `auth/adminlogin`,
  //     JSON.stringify(state)
  //   );
  //   const json = await res.json();
  //   if (res.status >= 200 && res.status <= 300) {
  //     userToken.set(json.token.access_token);
  //     setCookie("cookie", json.token.access_token, 1 / 2);
  //     resultType = "info";
  //   } else {
  //     console.log("Error", json.message ? json.message : "backend err msg.");
  //     resultType = "error";
  //   }

  //   result = json;
  // };
</script>

<div>
  <div class="flex justify-center m-1 lg:h-screen">
    <div class="w-full mx-8 my-8 lg:max-w-xl">
      <div class="flex justify-center mb-12">
        <img src="assets/images/logo.png" alt="iQrate" />
      </div>
      <div>
        <h1 class="mb-2 text-3xl font-bold">Sign In to IQrate</h1>
      </div>
      <div class="mt-8">
        <form on:submit|preventDefault={onSignin}>
          <!-- Email Address -->
          <div class="mt-8">
            <InputItem
              label="User name"
              name="emailAddress"
              placeholder="Enter your Username"
              $borderColor
              bind:value={state.email}
            />
          </div>

          <!-- Password -->
          <div class="mt-5">
            <InputItem
              htmlType="password"
              label="password"
              name="password"
              placeholder="Enter your password"
              $borderColor
              bind:value={state.password}
            />
          </div>
          <!-- Checkbox -->

          <!-- <div class="flex justify-between mt-3">
            <div>
              <Checkbox>
                <slot>Remember me</slot>
              </Checkbox>
            </div>
            <div class="mt-2.5">
              <Link
                to="/forgot-password"
                class="text-sm cursor-pointer text-gray-label hover:text-dark-red"
                >Forgot Password ?</Link
              >
            </div>
          </div> -->

          <!-- Submit Button -->
          <div class="mt-4">
            <Button
              gradient={true}
              text="Sign In"
              htmlType="submit"
              postIcon="rightArrow"
            />
          </div>
          {#if result}
            <div class="my-4">
              <ApiAlert
                message={result.message ? result.message : result.errMessage}
                alertType={resultType}
              />
            </div>
          {/if}
        </form>
      </div>
    </div>
  </div>
</div>
