<script>
  import DoubleDownArrow from '../../../../../../components/icons/DoubleDownArrow.svelte'
  import Button from '../../../../../../components/Button.svelte';
  import { navigate } from 'svelte-navigator';
  import DownArrow from '../../../../../../components/icons/dashboard/profile/DownArrow.svelte';

  const hadleRefinanceProceedToContinue = () => {
    navigate(`./existing-lead-download-report`);
  }
</script>

<main>
  <div class="p-6 my-10 border bg-base-100 shadow-md">
    <div class="flex justify-center">
      <div class="pt-10 w-3/4">
        <div class="bg-white p-6 rounded-xl border">
          <p class="text-gray-600 text-center text-xs">
            Our AI has generated the lowest 4 packages based on your requirements! Select rates to see comparison table
          </p>
        </div>
      </div>
    </div>
    <div class=" mt-14">
      <h1 class="mb-2 text-xl text-dark-red">Lowest Fixed</h1>
      <hr/>
      <div class="my-6 flex justify-center">
        <div class=" w-full">
          <div class="grid grid-rows-2 gap-6">
            <div>
              <div class="bg-white p-6 rounded-t-xl border">
                <div class="flex justify-center">
                  <div class="w-3/5">
                    <div>
                      <div class="grid grid-cols-3 gap-4">
                        <div>
                          <div class="flex flex-col items-center loan-package-bg-color rounded-full h-14 w-full py-2">
                            <img class="h-10" src="/assets/images/logo.png" alt="iQrate"/>
                          </div>
                        </div>
                        <div class="col-span-2">
                          <div class="grid grid-rows-2 grid-flow-col">
                            <div>
                              <p class="text-lg font-bold">Standard Chartered Bank</p>
                            </div>
                            <div>
                              <p class="text-md">Fixed (Exclusive)</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="mt-6">
                      <div class="grid grid-cols-3">
                        <div class="border p-2 text-xs text-center">Year 1:  1.000%</div>
                        <div class="border p-2 text-xs text-center">Year 2:  1.000%</div>
                        <div class="border p-2 text-xs text-center">Year 3:  1.920%</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="flex justify-between p-2 loan-package-bg-color rounded-b-xl text-dark-red custom-bg-color">
                <div class="px-5">
                  <p class="text-dark-red">Rates</p>
                </div>
                <div><DownArrow/></div>
              </div>
              <div class="flex flex-col px-5 my-5">
                <div>
                  <div class="grid grid-cols-2">
                    <div class= "p-2">
                      <p class="text-sm text-black">Year 1</p>
                    </div>
                    <div class="p-2">
                      <p class="text-sm text-black">
                        Fixed (0.00)% + 1.000% = 
                        <b>1.000%</b>
                      </p>
                    </div>
                  </div>
                </div>
                <hr>
                <div>
                  <div class="grid grid-cols-2">
                    <div class= "p-2">
                      <p class="text-sm text-black">Year 2</p>
                    </div>
                    <div class="p-2">
                      <p class="text-sm text-black">
                        Fixed (0.00)% + 1.000% = 
                        <b>1.000%</b>
                      </p>
                    </div>
                  </div>
                </div>
                <hr>
                <div>
                  <div class="grid grid-cols-2">
                    <div class= "p-2">
                      <p class="text-sm text-black">Year 3</p>
                    </div>
                    <div class="p-2">
                      <p class="text-sm text-black">
                        36 FDR (0.720)% + 1.200% = 
                        <b>1.920%</b>
                      </p>
                    </div>
                  </div>
                </div>
                <hr>
                <div>
                  <div class="grid grid-cols-2">
                    <div class= "p-2">
                      <p class="text-sm text-black">Year 4</p>
                    </div>
                    <div class="p-2">
                      <p class="text-sm text-black">
                        36 FDR (0.720)% + 1.200% = 
                        <b>1.920%</b>
                      </p>
                    </div>
                  </div>
                </div>
                <hr>
                <div>
                  <div class="grid grid-cols-2">
                    <div class= "p-2">
                      <p class="text-black text-sm">Year 5</p>
                    </div>
                    <div class="p-2">
                      <p class="text-sm text-black">
                        36 FDR (0.720)% + 1.200% = 
                        <b>1.920%</b>
                      </p>
                    </div>
                  </div>
                </div>
                <hr>
                <div>
                  <div class="grid grid-cols-2">
                    <div class= "p-2">
                      <p class="text-black text-sm">Thereafter</p>
                    </div>
                    <div class="p-2">
                      <p class="text-sm text-black">
                        36 FDR (0.720)% + 1.200% = 
                        <b>1.920%</b>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="flex justify-between p-2 loan-package-bg-color text-dark-red custom-bg-color">
                <div class="px-5">
                  <p class="text-dark-red">Key Features</p>
                </div>
                <div><DownArrow/></div>
              </div>
              <div class="flex flex-col px-5 my-5">
                <div>
                  <div class="grid grid-cols-2">
                    <div class= "p-2">
                      <p class="text-black text-sm">Property Type</p>
                    </div>
                    <div class="p-2">
                      <p class="text-sm text-black">
                        Private Residential
                      </p>
                    </div>
                  </div>
                </div>
                <hr>
                <div>
                  <div class="grid grid-cols-2">
                    <div class= "p-2">
                      <p class="text-black text-sm">Type of Loan</p>
                    </div>
                    <div class="p-2">
                      <p class="text-sm text-black">
                        New Purchase/ Refinance
                      </p>
                    </div>
                  </div>
                </div>
                <hr>
                <div>
                  <div class="grid grid-cols-2">
                    <div class= "p-2">
                      <p class="text-black text-sm">Lock in Period</p>
                    </div>
                    <div class="p-2">
                      <p class="text-sm text-black">
                        2 Years
                      </p>
                    </div>
                  </div>
                </div>
                <hr>
                <div>
                  <div class="grid grid-cols-2">
                    <div class= "p-2">
                      <p class="text-black text-sm">Min Loan Amount</p>
                    </div>
                    <div class="p-2">
                      <p class="text-sm text-black">
                        $1,200,000
                      </p>
                    </div>
                  </div>
                </div>
                <hr>
                <div>
                  <div class="grid grid-cols-2">
                    <div class= "p-2">
                      <p class="text-black text-sm">Deposit to Place</p>
                    </div>
                    <div class="p-2">
                      <p class="text-sm text-black">
                        To deposit Fresh funds within from LO
                      </p>
                    </div>
                  </div>
                </div>
                <hr>
                <div>
                  <div class="grid grid-cols-2">
                    <div class= "p-2">
                      <p class="text-black text-sm">Remarks for Applicant</p>
                    </div>
                    <div class="p-2">
                      <p class="text-sm text-black">
                        1 Free Conversion after Lock in Period
                      </p>
                    </div>
                  </div>
                </div>
                <hr>
                <div>
                  <div class="grid grid-cols-2">
                    <div class= "p-2">
                      <p class="text-black text-sm">Remarks for Broker</p>
                    </div>
                    <div class="p-2">
                      <p class="text-sm text-black">
                        Last Submission on 15/11/2021
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="flex justify-between p-2 loan-package-bg-color text-dark-red custom-bg-color">
                <div class="px-5">
                  <p class="text-dark-red">Bank ‘s Subsidy</p>
                </div>
                <div><DownArrow/></div>
              </div>
              <div class="flex flex-col px-5 my-5">
                <div>
                  <div class="grid grid-cols-2">
                    <div class= "p-2">
                      <p class="text-black text-sm">Cash Rebate / Legal Subsidy</p>
                    </div>
                    <div class="p-2">
                      <p class="text-sm text-black">
                        PTE: > $500,000 :$2000 PTE: > $1,000,000:$2500 
                      </p>
                    </div>
                  </div>
                </div>
                <hr>
                <div>
                  <div class="grid grid-cols-2">
                    <div class= "p-2">
                      <p class="text-black text-sm">Valuation Subsidy</p>
                    </div>
                    <div class="p-2">
                      <p class="text-sm text-black">
                        $600,000: up to $350
                      </p>
                    </div>
                  </div>
                </div>
                <hr>
                <div>
                  <div class="grid grid-cols-2">
                    <div class= "p-2">
                      <p class="text-black text-sm">Cash Rebate / Subsidy Clawback</p>
                    </div>
                    <div class="p-2">
                      <p class="text-sm text-black">
                        3 Years 
                      </p>
                    </div>
                  </div>
                </div>
                <hr>
                <div>
                  <div class="grid grid-cols-2">
                    <div class= "p-2">
                      <p class="text-black text-sm">Fire Insurance Subsidy</p>
                    </div>
                    <div class="p-2">
                      <p class="text-sm text-black">
                        Na
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="flex justify-between p-2 loan-package-bg-color text-dark-red custom-bg-color">
                <div class="px-5">
                  <p class="text-dark-red">Early Repayment Penality</p>
                </div>
                <div><DownArrow/></div>
              </div>
              <div class="flex flex-col px-5 my-5">
                <div>
                  <div class="grid grid-cols-2">
                    <div class= "p-2">
                      <p class="text-black text-sm">Partial Repayment Penality</p>
                    </div>
                    <div class="p-2">
                      <p class="text-sm text-black">
                        1.5 % - Allow partial Repayment upto 50% During locking
                      </p>
                    </div>
                  </div>
                </div>
                <hr>
                <div>
                  <div class="grid grid-cols-2">
                    <div class= "p-2">
                      <p class="text-black text-sm">Full Repayment Penality</p>
                    </div>
                    <div class="p-2">
                      <p class="text-sm text-black">
                        1.5 % - 100 % waiver of Ful Repayment Penality fee due to sale 
                      </p>
                    </div>
                  </div>
                </div>
                <hr>
                <div>
                  <div class="grid grid-cols-2">
                    <div class= "p-2">
                      <p class="text-black text-sm">Cancellation Fee</p>
                    </div>
                    <div class="p-2">
                      <p class="text-sm text-black">
                        1.5 % 
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="flex justify-center p-2 loan-package-bg-color rounded-b-xl text-dark-red">
                <DoubleDownArrow />
              </div>
            </div>
            <div>
              <div class="bg-white p-6 rounded-t-xl border">
                <div class="flex justify-center">
                  <div class="w-3/5">
                    <div>
                      <div class="grid grid-cols-3 gap-4">
                        <div>
                          <div class="flex flex-col items-center loan-package-bg-color rounded-full h-14 w-full py-2">
                            <img class="h-10" src="/assets/images/standardchartered.webp" alt="iQrate"/>
                        </div>
                        </div>
                        <div class="col-span-2">
                          <div class="grid grid-rows-2 grid-flow-col">
                            <div>
                              <p class="text-lg font-bold">Standard Chartered Bank</p>
                            </div>
                            <div>
                              <p class="text-md">Fixed (Exclusive)</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="mt-6">
                      <div class="grid grid-cols-3">
                        <div class="border p-2 text-xs text-center">Year 1:  1.000%</div>
                        <div class="border p-2 text-xs text-center">Year 2:  1.000%</div>
                        <div class="border p-2 text-xs text-center">Year 3:  1.920%</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="flex justify-between p-2 loan-package-bg-color rounded-b-xl text-dark-red custom-bg-color">
                <div class="px-5">
                  <p class="text-dark-red">Rates</p>
                </div>
                <div><DownArrow/></div>
              </div>
              <div class="flex flex-col px-5 my-5">
                <div>
                  <div class="grid grid-cols-2">
                    <div class= "p-2">
                      <p class="text-sm text-black">Year 1</p>
                    </div>
                    <div class="p-2">
                      <p class="text-sm text-black">
                        Fixed (0.00)% + 1.000% = 
                        <b>1.000%</b>
                      </p>
                    </div>
                  </div>
                </div>
                <hr>
                <div>
                  <div class="grid grid-cols-2">
                    <div class= "p-2">
                      <p class="text-sm text-black">Year 2</p>
                    </div>
                    <div class="p-2">
                      <p class="text-sm text-black">
                        Fixed (0.00)% + 1.000% = 
                        <b>1.000%</b>
                      </p>
                    </div>
                  </div>
                </div>
                <hr>
                <div>
                  <div class="grid grid-cols-2">
                    <div class= "p-2">
                      <p class="text-sm text-black">Year 3</p>
                    </div>
                    <div class="p-2">
                      <p class="text-sm text-black">
                        36 FDR (0.720)% + 1.200% = 
                        <b>1.920%</b>
                      </p>
                    </div>
                  </div>
                </div>
                <hr>
                <div>
                  <div class="grid grid-cols-2">
                    <div class= "p-2">
                      <p class="text-sm text-black">Year 4</p>
                    </div>
                    <div class="p-2">
                      <p class="text-sm text-black">
                        36 FDR (0.720)% + 1.200% = 
                        <b>1.920%</b>
                      </p>
                    </div>
                  </div>
                </div>
                <hr>
                <div>
                  <div class="grid grid-cols-2">
                    <div class= "p-2">
                      <p class="text-black text-sm">Year 5</p>
                    </div>
                    <div class="p-2">
                      <p class="text-sm text-black">
                        36 FDR (0.720)% + 1.200% = 
                        <b>1.920%</b>
                      </p>
                    </div>
                  </div>
                </div>
                <hr>
                <div>
                  <div class="grid grid-cols-2">
                    <div class= "p-2">
                      <p class="text-black text-sm">Thereafter</p>
                    </div>
                    <div class="p-2">
                      <p class="text-sm text-black">
                        36 FDR (0.720)% + 1.200% = 
                        <b>1.920%</b>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="flex justify-between p-2 loan-package-bg-color text-dark-red custom-bg-color">
                <div class="px-5">
                  <p class="text-dark-red">Key Features</p>
                </div>
                <div><DownArrow/></div>
              </div>
              <div class="flex flex-col px-5 my-5">
                <div>
                  <div class="grid grid-cols-2">
                    <div class= "p-2">
                      <p class="text-black text-sm">Property Type</p>
                    </div>
                    <div class="p-2">
                      <p class="text-sm text-black">
                        Private Residential
                      </p>
                    </div>
                  </div>
                </div>
                <hr>
                <div>
                  <div class="grid grid-cols-2">
                    <div class= "p-2">
                      <p class="text-black text-sm">Type of Loan</p>
                    </div>
                    <div class="p-2">
                      <p class="text-sm text-black">
                        New Purchase/ Refinance
                      </p>
                    </div>
                  </div>
                </div>
                <hr>
                <div>
                  <div class="grid grid-cols-2">
                    <div class= "p-2">
                      <p class="text-black text-sm">Lock in Period</p>
                    </div>
                    <div class="p-2">
                      <p class="text-sm text-black">
                        2 Years
                      </p>
                    </div>
                  </div>
                </div>
                <hr>
                <div>
                  <div class="grid grid-cols-2">
                    <div class= "p-2">
                      <p class="text-black text-sm">Min Loan Amount</p>
                    </div>
                    <div class="p-2">
                      <p class="text-sm text-black">
                        $1,200,000
                      </p>
                    </div>
                  </div>
                </div>
                <hr>
                <div>
                  <div class="grid grid-cols-2">
                    <div class= "p-2">
                      <p class="text-black text-sm">Deposit to Place</p>
                    </div>
                    <div class="p-2">
                      <p class="text-sm text-black">
                        To deposit Fresh funds within from LO
                      </p>
                    </div>
                  </div>
                </div>
                <hr>
                <div>
                  <div class="grid grid-cols-2">
                    <div class= "p-2">
                      <p class="text-black text-sm">Remarks for Applicant</p>
                    </div>
                    <div class="p-2">
                      <p class="text-sm text-black">
                        1 Free Conversion after Lock in Period
                      </p>
                    </div>
                  </div>
                </div>
                <hr>
                <div>
                  <div class="grid grid-cols-2">
                    <div class= "p-2">
                      <p class="text-black text-sm">Remarks for Broker</p>
                    </div>
                    <div class="p-2">
                      <p class="text-sm text-black">
                        Last Submission on 15/11/2021
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="flex justify-between p-2 loan-package-bg-color text-dark-red custom-bg-color">
                <div class="px-5">
                  <p class="text-dark-red">Bank ‘s Subsidy</p>
                </div>
                <div><DownArrow/></div>
              </div>
              <div class="flex flex-col px-5 my-5">
                <div>
                  <div class="grid grid-cols-2">
                    <div class= "p-2">
                      <p class="text-black text-sm">Cash Rebate / Legal Subsidy</p>
                    </div>
                    <div class="p-2">
                      <p class="text-sm text-black">
                        PTE: > $500,000 :$2000 PTE: > $1,000,000:$2500 
                      </p>
                    </div>
                  </div>
                </div>
                <hr>
                <div>
                  <div class="grid grid-cols-2">
                    <div class= "p-2">
                      <p class="text-black text-sm">Valuation Subsidy</p>
                    </div>
                    <div class="p-2">
                      <p class="text-sm text-black">
                        $600,000: up to $350
                      </p>
                    </div>
                  </div>
                </div>
                <hr>
                <div>
                  <div class="grid grid-cols-2">
                    <div class= "p-2">
                      <p class="text-black text-sm">Cash Rebate / Subsidy Clawback</p>
                    </div>
                    <div class="p-2">
                      <p class="text-sm text-black">
                        3 Years 
                      </p>
                    </div>
                  </div>
                </div>
                <hr>
                <div>
                  <div class="grid grid-cols-2">
                    <div class= "p-2">
                      <p class="text-black text-sm">Fire Insurance Subsidy</p>
                    </div>
                    <div class="p-2">
                      <p class="text-sm text-black">
                        Na
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="flex justify-between p-2 loan-package-bg-color text-dark-red custom-bg-color">
                <div class="px-5">
                  <p class="text-dark-red">Early Repayment Penality</p>
                </div>
                <div><DownArrow/></div>
              </div>
              <div class="flex flex-col px-5 my-5">
                <div>
                  <div class="grid grid-cols-2">
                    <div class= "p-2">
                      <p class="text-black text-sm">Partial Repayment Penality</p>
                    </div>
                    <div class="p-2">
                      <p class="text-sm text-black">
                        1.5 % - Allow partial Repayment upto 50% During locking
                      </p>
                    </div>
                  </div>
                </div>
                <hr>
                <div>
                  <div class="grid grid-cols-2">
                    <div class= "p-2">
                      <p class="text-black text-sm">Full Repayment Penality</p>
                    </div>
                    <div class="p-2">
                      <p class="text-sm text-black">
                        1.5 % - 100 % waiver of Ful Repayment Penality fee due to sale 
                      </p>
                    </div>
                  </div>
                </div>
                <hr>
                <div>
                  <div class="grid grid-cols-2">
                    <div class= "p-2">
                      <p class="text-black text-sm">Cancellation Fee</p>
                    </div>
                    <div class="p-2">
                      <p class="text-sm text-black">
                        1.5 % 
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="flex justify-center p-2 loan-package-bg-color rounded-b-xl text-dark-red">
                <DoubleDownArrow />
              </div>
            </div>
          </div>
        </div>
      </div>
      <h1 class="mb-2 text-xl text-dark-red">Lowest Floating</h1>
      <hr/>
      <div class="my-6 flex justify-center">
        <div class=" w-full">
          <div class="grid grid-rows-2 gap-6">
            <div>
              <div class="bg-white p-6 rounded-t-xl border">
                <div class="flex justify-center">
                  <div class="w-3/5">
                    <div>
                      <div class="grid grid-cols-3 gap-4">
                        <div>
                          <div class="flex flex-col items-center loan-package-bg-color rounded-full h-14 w-full py-2">
                            <img class="h-10" src="/assets/images/standardchartered.webp" alt="iQrate"/>
                          </div>
                        </div>
                        <div class="col-span-2">
                          <div class="grid grid-rows-2 grid-flow-col">
                            <div>
                              <p class="text-lg font-bold">Standard Chartered Bank</p>
                            </div>
                            <div>
                              <p class="text-md">Fixed (Exclusive)</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="mt-6">
                      <div class="grid grid-cols-3">
                        <div class="border p-2 text-xs text-center">Year 1:  1.000%</div>
                        <div class="border p-2 text-xs text-center">Year 2:  1.000%</div>
                        <div class="border p-2 text-xs text-center">Year 3:  1.920%</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="flex justify-center p-2 loan-package-bg-color rounded-b-xl text-dark-red">
                <DoubleDownArrow />
              </div>
            </div>
            <div>
              <div class="bg-white p-6 rounded-t-xl border">
                <div class="flex justify-center">
                  <div class="w-3/5">
                    <div>
                      <div class="grid grid-cols-3 gap-4">
                        <div>
                          <div class="flex flex-col items-center loan-package-bg-color rounded-full h-14 w-full py-2">
                            <img class="h-10" src="/assets/images/logo.png" alt="iQrate"/>
                          </div>
                        </div>
                        <div class="col-span-2 ">
                          <div class="grid grid-rows-2 grid-flow-col">
                            <div>
                              <p class="text-lg font-bold">Standard Chartered Bank</p>
                            </div>
                            <div>
                              <p class="text-md">Fixed (Exclusive)</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="mt-6">
                      <div class="grid grid-cols-3">
                        <div class="border p-2 text-xs text-center">Year 1:  1.000%</div>
                        <div class="border p-2 text-xs text-center">Year 2:  1.000%</div>
                        <div class="border p-2 text-xs text-center">Year 3:  1.920%</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="flex justify-center p-2 loan-package-bg-color rounded-b-xl text-dark-red">
                <DoubleDownArrow />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-col w-full my-16 gap-y-4 items-center">
    <div class="w-full lg:w-1/2 lg:ml-5">
      <Button
        gradient={true}
        htmlType="button"
        text="Generate Report"
        btnclick={hadleRefinanceProceedToContinue}
      />
    </div>
  </div>
</main>

<style>
  .loan-package-bg-color{
    background-color:#F2F2F2;
  }
</style>