<script>
    // import Dropzone from 'svelte-file-dropzone';
    import { useNavigate } from 'svelte-navigator';
    import Formitems from '../../../../../components/forms/FormItem.svelte';
    import Button from '../../../../../components/Button.svelte';
  
    const navigate = useNavigate();
    let faq_categories = [
      { value: '1', label: 'Account Creation' }
    ];
    const fields = {
      name: '',
      descriptiion: '',
      faq_category:'1'
    };
  
    let back = () => {
      navigate('/faq/list');
    };
  </script>
  
  <main>
    <div class="">
      <h2
        class="my-6 ml-6 text-2xl font-semibold lg:mt-6 lg:mb-10 lg:text-3xl text-dark-red"
      >
        FAQ
      </h2>
      <div class="p-6 border shadow-lg drop-shadow-lg bg-base-100 rounded-box">
        <!-- <Form {schema} {fields} submitHandler={formSubmit} {submitted}> -->
        <div class="flex flex-col w-full md:w-1/2">
          <Formitems
            className="w-full"
            label="Title"
            name="name"
            bind:value={fields.name}
            placeholder="What is IQrate?"
            htmlType='text'
          />
          <Formitems
            className="w-full"
            label="description"
            name="description"
            bind:value={fields.description}
            placeholder="IQrate is the first Fin-Tech platform that allows everyone to apply and/or refer home loans and be rewarded."
            formType='textarea'
            />
            <Formitems
                formType="select"
                name="faq_category"
                label="FAQ Category"
                defaultSelectValue={''}
                bind:value={fields.faq_category}
            >
                {#each faq_categories as format}
                <option value={format.value}>{format.label}</option>
                {/each}
            </Formitems>
  
          <div class="mt-10 md:flex md:justify-end">
            <div class="w-full mt-4 md:w-32">
              <Button gradient={true} htmlType="submit" text="Save" />
            </div>
            <div class="w-full mt-4 md:w-32 md:ml-3">
              <Button
                gradientInverse={true}
                htmlType={'button'}
                isOutlined={true}
                text={'Back'}
                btnclick={back}
              />
            </div>
          </div>
        </div>
        <!-- </Form> -->
      </div>
    </div>
  </main>
  