<script>
    import BinButton from '../../../../../components/IconButton.svelte';
    import Bin from '../../../../../components/icons/Bin.svelte';
    import IconButton from '../../../../../components/IconButton.svelte';
    import FilterIcon from '../../../../../components/icons/Filter.svelte';
    import Formitems from '../../../../../components/forms/FormItem.svelte';
    import Filter from '../../../../../components/Filter.svelte';
    import Button from '../../../../../components/Button.svelte';
    import { Link } from 'svelte-navigator';

  
    //Filter
    let filter_page = {
        title: '',
    };

    let filter;
  
    const onFilter = () => {
      filter = false;
    };
  
    const onResetFilter = () => {
      filter_page = {
        title: '',
      };
    };
  </script>
  
  <main>
    <div class="">
      <h2
        class="my-6 ml-6 text-2xl font-semibold lg:mt-6 lg:mb-10 lg:text-3xl text-dark-red"
      >
        FAQ
      </h2>
      <div class="p-6 border shadow-lg drop-shadow-lg bg-base-100 rounded-box">
        <div class="flex justify-end gap-6">
          <Link to={'/faq/add'}>
            <Button
              htmlType={'submit'}
              gradient={true}
              text={'+ Add'}
              className="px-10 text-lg rounded-2xl"
            />
          </Link>
          <IconButton
            className="border border-dark-red"
            text={'i'}
            textIcon={FilterIcon}
            htmlType="button"
            bind:filter
          />
        </div>
        <!-- Filter Slot -->
        <div class="absolute top-0 right-0 z-10 sm:px-0">
          {#if filter}
            <div>
              <Filter
                on:close={() => {
                  filter = false;
                }}
                {onFilter}
                {onResetFilter}
              >
                <div class="gap-3 w-80">
                  <div class="w-full mt-3 mr-2">
                    <Formitems
                      labelClass="text-dark-red text-lg"
                      label="Title"
                      name="title"
                      placeholder="Search Title"
                      bind:value={filter_page.title}
                    />
                  </div>
                </div>
              </Filter>
            </div>
          {/if}
        </div>
  
        <div class="px-8">
          <div class="flex flex-col mt-8">
            <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
              <div class="inline-block min-w-full py-2 align-middle ">
                <div
                  class="overflow-hidden ring-1 ring-white ring-opacity-5 md:rounded-lg"
                >
                  <table class="min-w-full divide-y divide-gray-300">
                    <thead class="bg-white">
                      <tr>
                        <th
                          scope="col"
                          class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-dark-red sm:pl-6"
                          >Priority</th
                        >
                        <th
                          scope="col"
                          class="px-3 py-3.5 text-left text-sm font-semibold text-dark-red"
                          >Title</th
                        >
                        <th
                          scope="col"
                          class="px-3 py-3.5 text-left text-sm font-semibold text-dark-red"
                          >Description</th
                        >
  
                        <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-6">
                          <span class="sr-only">Edit</span>
                        </th>
                      </tr>
                    </thead>
                    <tbody class="bg-white divide-y divide-gray-200">
                      <tr>
                        <td
                          class="py-0 pl-2 pr-3 text-sm font-medium text-gray-900 whitespace-nowrap sm:pl-3"
                        >
                          <BinButton binUpDown={true} className="cursor-move" />
                        </td>
                        <td
                          class="px-3 py-0 text-sm text-gray-500 whitespace-nowrap"
                          >What is IQrate?</td
                        >
                        <td
                          class="px-3 py-0 text-sm text-gray-500 whitespace-nowrap"
                        >IQrate is the first Fin-Tech platform that allo...</td>
                        <td
                          class="px-3 py-0 text-sm text-gray-500 whitespace-nowrap"
                        >
                          <div class="flex">
                            <div><BinButton binEdit={true} /></div>
                            <div class="ml-3"><Bin /></div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td
                          class="py-0 pl-2 pr-3 text-sm font-medium text-gray-900 whitespace-nowrap sm:pl-3"
                        >
                          <BinButton binUpDown={true} className="cursor-move" />
                        </td>
                        <td
                          class="px-3 py-0 text-sm text-gray-500 whitespace-nowrap"
                          >How is IQrate different from other mortgage ...</td
                        >
                        <td
                          class="px-3 py-0 text-sm text-gray-500 whitespace-nowrap"
                        >IQrate is the only fintech platform that rewar...</td>
                        <td
                          class="px-3 py-0 text-sm text-gray-500 whitespace-nowrap"
                        >
                          <div class="flex">
                            <div><BinButton binEdit={true} /></div>
                            <div class="ml-3"><Bin /></div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td
                          class="py-0 pl-2 pr-3 text-sm font-medium text-gray-900 whitespace-nowrap sm:pl-3"
                        >
                          <BinButton binUpDown={true} className="cursor-move" />
                        </td>
                        <td
                          class="px-3 py-0 text-sm text-gray-500 whitespace-nowrap"
                          >How do I create an account?</td
                        >
                        <td
                          class="px-3 py-0 text-sm text-gray-500 whitespace-nowrap"
                        >Download our IQrate App to create an accou...</td>
                        <td
                          class="px-3 py-0 text-sm text-gray-500 whitespace-nowrap"
                        >
                          <div class="flex">
                            <div><BinButton binEdit={true} /></div>
                            <div class="ml-3"><Bin /></div>
                          </div>
                        </td>
                      </tr>
                      <!-- More people... -->
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  