<script>
  export let options = [];
  export let selected = [];
</script>

<div class="grid grid-cols-1 md:grid-cols-2">
  {#each options as option}
    <div class="gap-2 my-2 flex align-middle items-center">
      <input
        class="border border-gray-300 checkbox checkbox-primary"
        type="checkbox"
        value={option.value}
        bind:group={selected}
      />
      <span class="label-text text-gray-label">
        {option.label}
      </span>
    </div>
  {/each}
</div>
