<script>
  import Switch from 'svelte-switch';
  export let toggleText = null;
  // export let toggleName = "toggle";
  export let checked = false;
  export let disabled = false;
  export let onChange;
  export let Green = false;
  // export let className = "justify-center";
</script>

{#if Green}
  <Switch
    on:change={onChange}
    bind:checked
    onColor="#61E766"
    handleDiameter={18}
    width="50"
    height="24"
    {disabled}
  >
    <span slot="checkedIcon" />
    <span slot="unCheckedIcon" />
  </Switch>
{:else}
  <div class="form-control">
    <label class="gap-2 cursor-pointer label">
      {#if toggleText}
        <span class="label-text">{toggleText}</span>
      {/if}
      <input type="checkbox" bind:checked class="toggle" />
    </label>
  </div>
{/if}

<!-- {#if Green}
  <div class="flex items-center justify-center w-full ">
    <label for="toggle" class="flex items-center cursor-pointer">
      <div class="relative">
        <input type="checkbox" id={toggleName} class="sr-only" bind:checked />

        <div class="block w-12 rounded-full h-7 back" />

        <div
          class="absolute w-5 h-5 transition bg-white rounded-full dot left-1 top-1"
        />
      </div>

      {#if toggleText}
        <div class="ml-3 font-medium text-gray-700">
          {toggleText}
        </div>
      {/if}
    </label>
  </div>
{:else}
  <div class="form-control">
    <label class="gap-2 cursor-pointer label">
      {#if toggleText}
        <span class="label-text">{toggleText}</span>
      {/if}
      <input
        type="checkbox"
        bind:checked
        on:change={onChange}
        class="toggle"
        {disabled}
      />
    </label>
  </div>
{/if} -->
<style>
  /* input:checked ~ .dot {
    transform: translateX(100%);
    background-color: white;
  }
  .back {
    background: rgb(212, 91, 91);
  }

  input:checked ~ .back {
    background: #61e766;
  } */
</style>
