<script>
  export let checked = false;
  export let disabled = false;
  export let group = '';
  export let value = '';
  export let style = '';

  export const change = null;
</script>

<div class="gap-2 my-2 flex align-middle items-center">
  <input
    class="border border-gray-300 checkbox checkbox-primary"
    type="checkbox"
    {value}
    bind:group
    bind:checked
    {style}
    {disabled}
    on:change
  />
  <span class="label-text text-gray-label">
    <slot />
  </span>
</div>
