<script>
  import { Route, Router } from 'svelte-navigator';
  // component
  import AuthRoute from './components/routes/AuthRoute.svelte';
  import PrivateRoute from './components/routes/PrivateRoute.svelte';
  import Layout from './components/Layout.svelte';
  import Profile from './layouts/App/Profile/index.svelte';

  // public/test routes
  import UiComponents from './routes/UiComponents.svelte';
  import TestForm from './routes/TestForm.svelte';

  // guest routes only
  import SignIn from './layouts/Auth/SignIn.svelte';

  // authenticated routes
  import Lead from './layouts/App/Lead/index.svelte';

  import Home from './layouts/App/Dashboard/index.svelte';

  //User Managements
  import UserManagement from './layouts/App/UserManagement/index.svelte';

  //won Loan review
  import PayoutReview from './layouts/App/PayoutReview/index.svelte';
  // import WonLoanDetails from "./layouts/App/WonLoanReview/Details/index.svelte";
  //Lead Management
  import LeadManagement from './layouts/App/LeadManagement/index.svelte';

  //Bank management
  import Bank from './layouts/App/BankManagement/Bank/index.svelte';
  import Banker from './layouts/App/BankManagement/Banker/index.svelte';

  //Loan Management
  import Rate from './layouts/App/LoanManagement/Rate/index.svelte';
  import Package from './layouts/App/LoanManagement/Package/index.svelte';

  import AccessRights from './layouts/App/UserManagement/accessRights/index.svelte';

  import LawFirm from './layouts/App/LawFirm/index.svelte';
  import CampaignManagement from './layouts/App/CampaignManagement/index.svelte';
  import ContactListing from './layouts/App/ContactListing/index.svelte';

  //Configuration
  import Configaration from './layouts/App/Configuration/index.svelte';

  //Admin Management
  import Admin from './layouts/App/AdminManagement/index.svelte';

  // push notification
  import Notify from './layouts/App/PushNotification/index.svelte';

  //CMS
  import Faq from './layouts/App/CMS/Faq/index.svelte';
  import FaqCategory from './layouts/App/CMS/FaqCategory/index.svelte';
  import Resources from './layouts/App/CMS/Resources/index.svelte';
  import ResourcesCategory from './layouts/App/CMS/ResourcesCategory/index.svelte';
  import Training from './layouts/App/CMS/Training/index.svelte';
  import TrainingCategory from './layouts/App/CMS/TrainingCategory/index.svelte';

  //  Report
  import Report from './layouts/App/Reports/index.svelte';

</script>

<Router primary={false}>
  <div class="py-4 lg:p-4">
    <Layout>
      <AuthRoute path="signin"><SignIn /></AuthRoute>
      <!-- <PrivateRoute path="lead/*"><Lead /></PrivateRoute> -->
      <PrivateRoute path="/"><Home /></PrivateRoute>
      <!--Profile update-->
      <PrivateRoute path="profile/"><Profile /></PrivateRoute>

      <!-- User Management -->
      <PrivateRoute path="/user/*"><UserManagement /></PrivateRoute>

      <!-- <PrivateRoute path="/user-list"><UserManagementList /></PrivateRoute>
      <PrivateRoute path="/user-details"><UserDetails /></PrivateRoute> -->

      <!-- Won Loan Review -->

      <PrivateRoute path="/payout/*"><PayoutReview /></PrivateRoute>
      <!-- <PrivateRoute path="/wonloan/*"><WonLoanDetails /></PrivateRoute> -->

      <!-- Lead Management -->
      <PrivateRoute path="/lead/*"><LeadManagement /></PrivateRoute>

      <!-- bank management -->
      <PrivateRoute path="/bank/*"><Bank /></PrivateRoute>
      <PrivateRoute path="/banker/*"><Banker /></PrivateRoute>

      <!-- Loan Management -->
      <PrivateRoute path="/rate/*"><Rate /></PrivateRoute>

      <!-- Campaign Management -->
      <PrivateRoute path="/campaign-management/*">
        <CampaignManagement />
      </PrivateRoute>

      <PrivateRoute path="/package/*"><Package /></PrivateRoute>

      <PrivateRoute path="/law-firm/*"><LawFirm /></PrivateRoute>

      <PrivateRoute path="/access-rights"><AccessRights /></PrivateRoute>

      <PrivateRoute path="configuration/*"><Configaration /></PrivateRoute>

      <PrivateRoute path="/admin/*"><Admin /></PrivateRoute>
      <!-- Contact Listing -->
      <PrivateRoute path="/contact/*"><ContactListing /></PrivateRoute>
      <!-- Notify -->
      <PrivateRoute path="/notify/*"><Notify /></PrivateRoute>
      <!-- CMS -->
      <PrivateRoute path="/faq/*"><Faq /></PrivateRoute>
      <PrivateRoute path="/faq-category/*"><FaqCategory /></PrivateRoute>
      <PrivateRoute path="/resources/*"><Resources /></PrivateRoute>
      <PrivateRoute path="/resources-category/*"
        ><ResourcesCategory /></PrivateRoute
      >
      <PrivateRoute path="/training/*"><Training /></PrivateRoute>
      <PrivateRoute path="/training-category/*"
        ><TrainingCategory /></PrivateRoute
      >

        <!-- Reports-->
        <PrivateRoute path="/report/*"><Report /></PrivateRoute>

      <Route path="uicomp" component={UiComponents} />
      <Route path="test-form" component={TestForm} />
    </Layout>
  </div>
</Router>
