<script>
  import { Router, Route } from 'svelte-navigator';
  // component
  import AuthRoute from './components/routes/AuthRoute.svelte';
  import PrivateRoute from './components/routes/PrivateRoute.svelte';
  import Layout from './components/Layout.svelte';

  // public/test routes
  import UiComponents from './routes/UiComponents.svelte';
  import TestForm from './routes/TestForm.svelte';

  // Document Drawer Magic link
  import MagicDrawer from './layouts/App/Lead/LeadList/screens/DocumentDrawer/index.svelte';
  import MagicPdpaApproval from './layouts/App/Lead/views/index.svelte';

  // guest routes only
  import SignIn from './layouts/Auth/SignIn.svelte';
  import SignUp from './layouts/Auth/SignUp.svelte';
  // import VerifyOtp from "./layouts/Auth/VerifyOtp.svelte"; // guarded by PendingOtpEmail
  // import VerifyEmail from "./layouts/Auth/VerifyEmail.svelte"; // guarded by PendingOtpPhone
  import ForgotPassword from './layouts/Auth/ForgotPassword.svelte';
  // import ForgotPasswordVerify from "./layouts/Auth/ForgotPasswordVerify.svelte"; // guarded by resetPasswordEmail
  import ResetPassword from './layouts/Auth/ResetPassword.svelte'; // guarded by forgotPasswordOtp
  import Restricted from './layouts/Auth/Restricted.svelte';
  import Locked from './layouts/Auth/Locked.svelte';
  import EmailVerifyTemplate from './layouts/Auth/EmailVerified.svelte';
  import EmailVerifiedScreen from './layouts/Auth/EmailVerifiedScreen.svelte';

  import PageNotFound from './layouts/Auth/PageNotFound.svelte';

  // authenticated routes
  // import Lead from "./layouts/App/Lead/index.svelte";
  import Profile from './layouts/App/Profile/index.svelte';
  import ContactUs from './layouts/App/ContactUs/ContactUs.svelte';
  import Leads from './layouts/App/Lead/CreateLead/index.svelte';
  import LeadList from './layouts/App/Lead/LeadList/index.svelte';
  import CreateLead from './layouts/App/Lead/CreateLead/screens/CreateLead.svelte';
  import ManageLead from './layouts/App/Lead/LeadList/screens/Manage.svelte';
  import Resource from './layouts/App/Resources/index.svelte';
  import Rates from './layouts/App/Rates/index.svelte';
  import Faqs from './layouts/App/Faq/index.svelte';
  import Training from './layouts/App/Training/index.svelte';
  import BasicModule from './layouts/App/Training/screens/BasicModule/BasicModuleDetail.svelte';
  import ApplicationDemo from './layouts/App/Training/screens/ApplicationDemo/ApplicationDemoDetails.svelte';
  import UserGuide from './layouts/App/Training/screens/UserGuide/UserGuideDetails.svelte';
  import LawFirm from './layouts/App/Resources/screens/LawFirm/LawfirmDetails.svelte';

  // Calculators
  import Calculators from './layouts/App/Calculator/index.svelte';
  import Equity from './layouts/App/Calculator/EquityLoan/index.svelte';
  import BuyerDuty from './layouts/App/Calculator/BuyerStampDuty/index.svelte';
  import SellerDuty from './layouts/App/Calculator/SellerStampDuty/index.svelte';
  import NewPurchase from './layouts/App/Calculator/NewPurchase/index.svelte';
  import Refinance from './layouts/App/Calculator/Refinance/index.svelte';
  import BucMortgage from './layouts/App/Calculator/BucMortgage/index.svelte';
  import MortgageRepayment from './layouts/App/Calculator/MortgageRepayment/index.svelte';

  import Home from './layouts/App/Dashboard/index.svelte';
  import PrivateRouteGuard from './components/routes/PrivateRouteGuard.svelte';
  import CallbackAppleSignin from './layouts/Auth/CallbackAppleSignin.svelte';
  import Notification from './routes/Notification.svelte';
</script>

<Router primary={false}>
  <div class="">
    <Layout>
      <AuthRoute path="signin"><SignIn /></AuthRoute>
      <!-- <AuthRoute path="signup"><SignUp /></AuthRoute> -->
      <!-- <AuthRoute path="verify-otp"><VerifyOtp /></AuthRoute>
      <AuthRoute path="verify-email"><VerifyEmail /></AuthRoute> -->
      <!-- <AuthRoute path="forgot-password-verify"
        ><ForgotPasswordVerify /></AuthRoute
      > -->
      <AuthRoute path="restricted"><Restricted /></AuthRoute>
      <AuthRoute path="locked"><Locked /></AuthRoute>

      <Route path="page-not-found"><PageNotFound /></Route>
      <!-- <PrivateRoute path="lead/*"><Lead /></PrivateRoute> -->
      <PrivateRoute path="profile/"><Profile /></PrivateRoute>
      <PrivateRoute path="/"><Home /></PrivateRoute>
      <PrivateRoute path="create-lead/"><Leads /></PrivateRoute>
      <PrivateRoute path="create-lead/:id" let:params
        ><CreateLead id={params.id} /></PrivateRoute
      >
      <!-- <PrivateRoute path="create-lead/form"><CreateLead /></PrivateRoute> -->
      <PrivateRoute path="customer/*"><ManageLead /></PrivateRoute>
      <PrivateRoute path="/lead/*"><LeadList /></PrivateRoute>
      <!-- <PrivateRoute path="lead-list/*"><ManageLead /></PrivateRoute> -->
      <PrivateRoute path="resource"><Resource /></PrivateRoute>
      <PrivateRoute path="rates"><Rates /></PrivateRoute>
      <PrivateRoute path="faq"><Faqs /></PrivateRoute>
      <PrivateRoute path="training"><Training /></PrivateRoute>
      <PrivateRoute path="contact"><ContactUs /></PrivateRoute>
      <PrivateRoute path="training/basic-details/:id"
        ><BasicModule /></PrivateRoute
      >
      <PrivateRoute path="training/application-demo/:id"
        ><ApplicationDemo /></PrivateRoute
      >
      <PrivateRoute path="training/user-guide/:id"><UserGuide /></PrivateRoute>
      <PrivateRoute path="resource/lawfirm/:id"><LawFirm /></PrivateRoute>

      <!-- Calculator -->
      <PrivateRoute path="calculators/*"><Calculators /></PrivateRoute>
      <PrivateRoute path="calculators/equity/*"><Equity /></PrivateRoute>
      <PrivateRoute path="calculators/buyer/*"><BuyerDuty /></PrivateRoute>
      <PrivateRoute path="calculators/seller/*"><SellerDuty /></PrivateRoute>
      <PrivateRoute path="calculators/buc-mortgage/*"
        ><BucMortgage /></PrivateRoute
      >
      <PrivateRoute path="calculators/mortgage-repayment/*">
        <MortgageRepayment />
      </PrivateRoute>

      <PrivateRoute path="calculators/new-purchase/*"
        ><NewPurchase /></PrivateRoute
      >
      <PrivateRoute path="calculators/refinance/*"><Refinance /></PrivateRoute>

      <!-- Document Drawer Magic link -->
      <Route path="/magic/ui/drawer/*" component={MagicDrawer} />
      <Route path="/magic/pdpa/*" component={MagicPdpaApproval} />

      <Route path="uicomp" component={UiComponents} />
      <Route path="test-form" component={TestForm} />

      <Route path="forgot-password"><ForgotPassword /></Route>
      <Route path="reset-password"><ResetPassword /></Route>
      <Route path="email-verified"><EmailVerifyTemplate /></Route>
      <Route path="email-verified-successful"><EmailVerifiedScreen /></Route>
      <Route path="callbacks/sign_in_with_apple"><CallbackAppleSignin /></Route>

      <Route path="notification"><Notification /></Route>
    </Layout>
  </div>
</Router>
