<svg
  width="28"
  height="30"
  viewBox="0 0 28 30"
  fill="currentColor"
  xmlns="http://www.w3.org/2000/svg"
>
  <g filter="url(#filter0_d_520_415)">
    <path
      d="M20.331 8.14714C20.3289 6.85996 19.9355 5.60388 19.203 4.54572C18.4704 3.4878 17.4337 2.67787 16.2304 2.22375C16.2273 1.4282 15.8017 0.694491 15.1129 0.297621C14.424 -0.0992069 13.5764 -0.0992069 12.8877 0.297621C12.199 0.694448 11.7731 1.4282 11.7701 2.22375C10.5678 2.67649 9.5314 3.48502 8.79914 4.54149C8.06657 5.59772 7.67251 6.85241 7.66943 8.1382C7.66778 8.21818 7.46414 16.1366 4.22424 17.8615H4.224C4.05289 17.9526 3.96568 18.1489 4.01258 18.3372C4.05949 18.5254 4.22848 18.6576 4.42246 18.6576H10.6494C10.8082 19.74 11.4793 20.679 12.4512 21.1794C13.4232 21.6798 14.5768 21.6798 15.5488 21.1794C16.5207 20.679 17.1918 19.74 17.3506 18.6576H23.5775C23.7715 18.6576 23.9405 18.5254 23.9874 18.3372C24.0343 18.1489 23.9471 17.9526 23.776 17.8615C20.5359 16.1367 20.3323 8.21853 20.3306 8.14726L20.331 8.14714ZM14.0003 0.845725C14.3204 0.846197 14.6308 0.957557 14.8783 1.16093C15.1258 1.36406 15.2957 1.6467 15.3587 1.96095C14.4642 1.76017 13.5365 1.76017 12.6421 1.96095C12.705 1.64669 12.8749 1.36405 13.1224 1.16068C13.3699 0.957551 13.6803 0.846196 14.0004 0.845725H14.0003ZM14.0003 20.7092V20.7094C13.4116 20.7084 12.8412 20.5037 12.3858 20.1297C11.9307 19.7558 11.6189 19.2358 11.5034 18.6578H16.4973C16.3818 19.2358 16.07 19.7558 15.6149 20.1297C15.1595 20.5037 14.5891 20.7084 14.0003 20.7094V20.7092ZM17.1945 17.8122C17.0607 17.7131 16.8778 17.7131 16.7439 17.8122H11.2568C11.123 17.7131 10.9401 17.7131 10.8062 17.8122H5.65929C8.33866 15.0403 8.50767 8.46513 8.51425 8.14744C8.51425 6.69012 9.09264 5.29271 10.1224 4.2627C11.1524 3.23286 12.5489 2.65462 14.0045 2.65583C15.4604 2.65701 16.856 3.23739 17.8841 4.26886C18.9124 5.30056 19.4887 6.69888 19.4864 8.15596C19.493 8.4662 19.6627 15.04 22.3413 17.8123L17.1945 17.8122Z"
    />
    <path
      d="M13.811 4.20446C12.757 4.72657 11.8701 5.53393 11.2506 6.53471C10.6315 7.53573 10.3045 8.69017 10.3071 9.86743C10.2393 11.7209 9.9675 13.5608 9.49655 15.3546C9.46591 15.4627 9.47935 15.5785 9.53427 15.6767C9.58895 15.7746 9.6804 15.8468 9.78834 15.8772C9.89629 15.9076 10.012 15.894 10.1098 15.8388C10.2076 15.7838 10.2795 15.692 10.3097 15.584C10.8035 13.7189 11.0858 11.8042 11.1518 9.87593C11.1485 8.85461 11.4314 7.85262 11.968 6.98369C12.5047 6.115 13.2741 5.41409 14.1885 4.96087C14.3969 4.85635 14.4813 4.60273 14.3771 4.39394C14.2729 4.18538 14.0195 4.10068 13.811 4.20449L13.811 4.20446Z"
    />
  </g>
  <defs>
    <filter
      id="filter0_d_520_415"
      x="0"
      y="0"
      width="28"
      height="29.5547"
      filterUnits="userSpaceOnUse"
      color-interpolation-filters="sRGB"
    >
      <feFlood flood-opacity="0" result="BackgroundImageFix" />
      <feColorMatrix
        in="SourceAlpha"
        type="matrix"
        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
        result="hardAlpha"
      />
      <feOffset dy="4" />
      <feGaussianBlur stdDeviation="2" />
      <feComposite in2="hardAlpha" operator="out" />
      <feColorMatrix
        type="matrix"
        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"
      />
      <feBlend
        mode="normal"
        in2="BackgroundImageFix"
        result="effect1_dropShadow_520_415"
      />
      <feBlend
        mode="normal"
        in="SourceGraphic"
        in2="effect1_dropShadow_520_415"
        result="shape"
      />
    </filter>
  </defs>
</svg>
