<svg
  width="17"
  height="22"
  viewBox="0 0 17 22"
  fill="currentColor"
  xmlns="http://www.w3.org/2000/svg"
>
  <g clip-path="url(#clip0_520_457)">
    <path d="M5.35449 13.0527H11.3654V13.6737H5.35449V13.0527Z" />
    <path d="M5.35449 9.45117H9.25425V10.0721H5.35449V9.45117Z" />
    <path d="M5.35449 5.84961H13.2035V6.47058H5.35449V5.84961Z" />
    <path d="M5.35449 16.2812H8.75735V16.9022H5.35449V16.2812Z" />
    <path
      d="M14.0976 0.856601H12.7314V1.47757H14.0976C14.9918 1.47757 15.737 2.1978 15.737 3.11697V16.7534L11.6634 16.7532C11.4895 16.7532 11.3405 16.9022 11.3405 17.0762V21.3982H1.95143C1.20622 21.3982 0.610226 20.802 0.610226 20.057V2.81891C0.610226 2.07371 1.2064 1.47771 1.95143 1.47771H3.61562V2.54569H4.23659V-0.0126953H3.61562V0.856747H1.95143C0.883452 0.856747 -0.0107422 1.72619 -0.0107422 2.81891V20.057C-0.0107422 21.1249 0.858702 22.0191 1.95143 22.0191H11.5143H11.5888H11.6633H14.8179C15.6624 22.0191 16.3579 21.3236 16.3579 20.4792V3.11693C16.3329 1.875 15.3394 0.85657 14.0975 0.85657L14.0976 0.856601ZM11.9614 17.3743H15.2898L11.9614 20.8021V17.3743ZM15.712 20.4792C15.712 20.9759 15.2898 21.3981 14.793 21.3981L12.2595 21.3983L15.7368 17.8465L15.737 20.4792L15.712 20.4792Z"
    />
    <path d="M2.94531 5.84961H4.33624V6.47058H2.94531V5.84961Z" />
    <path d="M2.94531 9.45117H4.33624V10.0721H2.94531V9.45117Z" />
    <path d="M2.94531 13.0527H4.33624V13.6737H2.94531V13.0527Z" />
    <path d="M2.94531 16.2812H4.33624V16.9022H2.94531V16.2812Z" />
    <path
      d="M11.1415 0.856748H4.98145V1.47772H11.1415V2.54569H11.7624V-0.0126953H11.1415V0.856748Z"
    />
  </g>
  <defs>
    <clipPath id="clip0_520_457">
      <rect width="16.3669" height="22" />
    </clipPath>
  </defs>
</svg>
