<script>
  import { onMount } from 'svelte';
  import { toastAlert } from '../../../utils/toaster';
  import { fetchApi } from '../../../services/api';
  import Modal from '../../../components/Modal.svelte';
  import Button from '../../../components/Button.svelte';
  import AccordionMenu from '../../../components/AccordionMenu.svelte';
  import MyTab from '../../../components/MyTab.svelte';
  import ProfileList from '../Profile/screens/ProfileLists.svelte';
  import UpdateMobile from '../Profile/screens/UpdateMobileNumber.svelte';
  import UpdateEmailAddress from '../Profile/screens/UpdateEmailAddress.svelte';
  import ResetPassword from '../Profile/screens/ResetPassword.svelte';
  import TwoFactorAuth from '../Profile/screens/TwoFactorAuth.svelte';
  import BankAccInfo from '../Profile/screens/BankAccInfo.svelte';
  import { getUserInfo } from '../../../utils/storage';
  import { userDetail } from '../../../stores';
  import { useNavigate } from 'svelte-navigator';

  const navigate = useNavigate();
  $: isChecked = false;
  const popUp = () => {
    isChecked = true;
  };
  const deleteMyAccount = async () => {
    const res = await fetchApi('PATCH', `user/deleteUser`);
    const json = await res.json();
    if (res.status >= 200 && res.status <= 300) {
      toastAlert(
        'success',
        json.message ? json.message : 'Account has been deleted!',
      );
      isChecked = false;
      setTimeout(goToLogin, 1000);
    } else if (res.status === 403) {
      toastAlert('error', json.message ? json.message : 'backend err msg.');
    } else {
      toastAlert('error', json.message ? json.message : 'backend err msg.');
    }
  };
  const goToLogin = () => {
    navigate('/signin');
    location.reload();
  };
  let step2fa = 1;
  let activeKey = null;
  let activeBank = null;

  onMount(() => {
    step2fa = $userDetail.isTwoFactorAuthenticationEnabled ? 4 : 1;
    activeKey =
      $userDetail.is_mobile_verified === 0
        ? 'b'
        : $userDetail.is_email_verified === 0
        ? 'c'
        : null;
    activeBank = $userDetail?.bankers[0] || null;
  });
</script>

<!-- <main>
  <div class="">
    <h2 class="mt-6 mb-10 text-3xl font-bold text-dark-red">Profile</h2>
    <div>
      <AccordionMenu props={{ key: 'a', contentLabel: 'Profile' }}>
        <div class="body-manual">
          <ProfileList />
        </div>
      </AccordionMenu>

      <AccordionMenu
        props={{ key: 'b', contentLabel: 'Update Mobile Number' }}
        {activeKey}
      >
        <div class="body-manual">
          <UpdateMobile />
        </div>
      </AccordionMenu>

      <AccordionMenu
        props={{ key: 'c', contentLabel: 'Update Email Address' }}
        {activeKey}
      >
        <div class="body-manual">
          <UpdateEmailAddress />
        </div>
      </AccordionMenu>

      <AccordionMenu props={{ key: 'd', contentLabel: 'Reset Password' }}>
        <div class="body-manual">
          <ResetPassword />
        </div>
      </AccordionMenu>

      <AccordionMenu
        props={{ key: 'e', contentLabel: 'Bank Account Information' }}
      >
        <div class="body-manual">
          <BankAccInfo {activeBank} />
        </div>
      </AccordionMenu>

      <AccordionMenu
        props={{ key: 'f', contentLabel: 'Enable 2 Factor Authentication' }}
      >
        <div class="body-manual">
          <TwoFactorAuth {step2fa} />
        </div>
      </AccordionMenu>
    </div>
  </div>
</main> -->

<div>
  <h2 class="mt-6 mb-10 text-3xl font-bold text-dark-red">Profile</h2>

  <MyTab props={{ title: 'Profile', id: 1 }}>
    <div class="body-manual">
      <ProfileList />
    </div>
  </MyTab>
  <MyTab props={{ title: 'Update Mobile Number', id: 2 }}>
    <div class="body-manual">
      <UpdateMobile />
    </div>
  </MyTab>
  <MyTab props={{ title: 'Update Email Address', id: 3 }}>
    <div class="body-manual">
      <UpdateEmailAddress />
    </div>
  </MyTab>
  <MyTab props={{ title: 'Reset Password', id: 4 }}>
    <div class="body-manual">
      <ResetPassword />
    </div>
  </MyTab>
  <MyTab props={{ title: 'Bank Account Information', id: 5 }}>
    <div class="body-manual">
      <BankAccInfo {activeBank} />
    </div>
  </MyTab>
  <MyTab props={{ title: '2 Factor Authentication', id: 6 }}>
    <div class="body-manual">
      <TwoFactorAuth {step2fa} />
    </div>
  </MyTab>
</div>
<div class="flex justify-between px-4 py-4 border rounded-lg" on:click={popUp}>
  <p class="text-lg font-semibold text-dark-red">Delete My Account</p>
  <p class="text-dark-red">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="block w-6 h-6 svelte-19bhopa"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
      stroke-width="2"
      ><path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M5 15l7-7 7 7"
      /></svg
    >
  </p>
</div>
<div>
  <Modal
    showCloseButton={false}
    className="w-full mb-20 md:mb-0"
    on:close={() => (isChecked = !isChecked)}
    props={{
      btnKey: '1',
      btnLabel: 'Delete-account',
    }}
    checked={isChecked}
  >
    <div class="gap-5 py-6">
      <div class="my-4 space-y-4">
        <p class="mb-3 text-2xl font-semibold text-center text-dark-red">
          Attention
        </p>
        <p class="font-semibold text-gray-label">
          Please note that once you delete your account, you cannot restore and
          will have no access to all the data in your account. You will not be
          able to sign up a new account with the same email id and mobile
          number.
        </p>
      </div>

      <div class="my-4 space-y-4">
        <div
          class="w-full my-4 p-0.5 border-0 btn mb-1 focus:outline-none rounded-lg bg-gradient-to-r from-yellow-500 to-red-500 "
        >
          <Button
            gradient={true}
            htmlType="submit"
            text="Conform"
            btnclick={deleteMyAccount}
          />
        </div>
        <div
          class="w-full my-4 p-0.5 border-0 btn mb-1 focus:outline-none rounded-lg bg-gradient-to-r from-yellow-500 to-red-500 "
        >
          <button
            type="button"
            on:click={() => (isChecked = false)}
            class="w-full h-full font-medium capitalize border-0 rounded-md text-dark-red focus:outline-none bg-gradient-to-r from-white to-white "
          >
            Cancel
          </button>
        </div>
      </div>
    </div>
  </Modal>
</div>
