<script>
  export let rateYears;
  export let loanIndex;
  export let referenceRateList;
  export let handleChangeRate;

  import InputItem from '../../../../../../../components/forms/FormItem.svelte';
</script>

<div class="grid grid-cols-1 gap-4">
  <div class="grid grid-cols-6 gap-x-4">
    <div />
    <div>
      <span class="mb-4 capitalize label-text text-gray-label">
        Reference Rate
      </span>
    </div>
    <div />
    <div />
    <div>
      <span class="mb-4 capitalize label-text text-gray-label">
        Bank Spread
      </span>
    </div>
    <div>
      <span class="mb-4 capitalize label-text text-gray-label">
        Total Interest Rate
      </span>
    </div>
    <div />
  </div>

  {#each rateYears as rateYear, i}
    <div class="grid items-center grid-cols-6 gap-x-4">
      <div class="mb-3">
        <span class="capitalize label-text text-gray-label">
          {rateYear.year.label}
        </span>
      </div>

      <div>
        <InputItem
          formType="select"
          name={`loans[${loanIndex}].rates.reference_rate`}
          handleChange={(e) =>
            handleChangeRate(
              rateYear.year.value,
              'reference_rate',
              parseInt(e.target.value),
              i,
              loanIndex,
            )}
          bind:value={rateYear.rateId}
        >
          {#each referenceRateList as rate}
            <option value={rate.id}>{rate.reference}</option>
          {/each}
        </InputItem>
      </div>

      <div class="mb-3 text-center">
        {rateYear.interestRate}%
      </div>

      <div class="mb-3 text-center">
        {rateYear.equation}
      </div>

      <div>
        <!-- disabled={rateYear.equation === '='} -->
        <InputItem
          htmlType="percentage"
          name={`loans[${loanIndex}].rates.bank_spread`}
          placeholder="Bank Spread"
          handleChange={(e) =>
            handleChangeRate(
              rateYear.year.value,
              'bank_spread',
              e.target.value,
              i,
              loanIndex,
            )}
          bind:value={rateYear.bankSpread}
        />
      </div>
      <div class="mb-3 text-center">
        {rateYear.totalInterestRate}%
      </div>
    </div>
  {/each}
  <!-- {#if $errors.loans[j]}
    <div class="text-sm text-right text-red-500">
      {$errors.loans[j].rates.reference_rate}
    </div>
  {/if} -->
</div>
