<script>
  import FormItem from '../../components/forms/FormItem.svelte';
  import Datepicker from '../../components/Datepicker.svelte';
  import Checkbox from '../../components/forms/FormCheckbox.svelte';
  import Button from '../../components/Button.svelte';

  export let title = '';

  // Form
  let state = {
    lead_name: '',
    lead_mobile: '',
    email: '',
    annual_income: '',
    dob: '',
    nationality: '',
    agreed_term: false,
  };
</script>

<main>
  <div class="lg:mx-80">
    <h1 class="mb-5 text-2xl text-dark-red">{title}</h1>
    <form>
      <div>
        <!-- Product Type -->
        <div>
          <FormItem label="Product Type" name="productType" formType="select" />
        </div>
        <!-- Lead name -->
        <div>
          <FormItem
            label="Lead Name"
            name="lead_name"
            placeholder="Enter your Lead Name"
            $borderColor
            bind:value={state.lead_name}
          />
        </div>
        <!-- Lead Mobile -->
        <div>
          <FormItem
            formType="inputPreSelect"
            type="text"
            label="Lead Mobile No"
            name="mobileNo"
            placeholder="Enter your Lead Mobile Number"
            bind:value={state.lead_mobile}
          />
        </div>
        <!-- Lead Email Address -->
        <div>
          <FormItem
            label="email address"
            name="emailAddress"
            placeholder="Enter your Email Address"
            bind:value={state.email}
          />
        </div>
        <!-- Lead name -->
        <div>
          <FormItem
            label="Annual Income"
            name="annual_income"
            placeholder="Enter your Annual Income"
            bind:value={state.annual_income}
          />
        </div>
        <!-- Date -->
        <div class="flex justify-between w-full mt-5">
          <Datepicker label={'Date Of Birth'} bind:value={state.dob} />
        </div>
        <!-- Nationality -->
        <div>
          <FormItem
            label="Nationality"
            name="nationality"
            formType="select"
            bind:value={state.nationality}
          />
        </div>
        <!-- Checkbox -->
        <div class="flex mt-5 text-gray-600">
          <Checkbox bind:checked={state.agreed_term}>
            <slot>
              Upon creating a lead, an sms will be sent to the lead to download
              and agree to IQrate’s Terms & Conditions & Privacy Policy
            </slot>
          </Checkbox>
        </div>
        <!-- Submit Button -->
        <div class="mt-4">
          <Button
            htmlType="submit"
            text="Create Now"
            className="w-full"
            disabled={!state.agreed_term}
          />
        </div>
      </div>
    </form>
  </div>
</main>
