<script>
  import Table from '../../components/Table.svelte';
  export let title = '';
  export let subTitle = '';

  let tableHead = [
    {
      heading: 'Creation Date',
    },
    {
      heading: 'Lead Name',
    },
    {
      heading: 'Loan Amount',
    },
    {
      heading: 'Lead Status',
    },
    {
      heading: 'Bank',
    },
    {
      heading: 'Co-Broke',
    },
    {
      heading: 'Payout Amount',
    },
    {
      heading: 'Payout Status',
    },
    {
      heading: 'Law Firm',
    },
    {
      heading: 'Action',
    },
  ];

  let tableData = [
    {
      data: '12/01/1998',
    },
    {
      data: 'John',
    },
    {
      data: '$ 100000',
    },
    {
      data: 'Pending',
    },
    {
      data: 'DBS Ibi@dbs.com',
    },
    {
      data: 'Thomas lee +6545894251',
    },
    {
      data: '$  1,500',
    },
    {
      data: 'Paid',
    },
    {
      data: 'K&T Partners',
    },
  ];
</script>

<main>
  <h1 class="mb-5 text-2xl text-dark-red">{title}</h1>
  <p class="mb-5">{subTitle}</p>
  <Table {tableHead} {tableData} />
</main>
