<script>
  import { Tab, TabList, TabPanel, Tabs } from 'svelte-tabs';
  import Admin from '../screens/Admin-tab.svelte';
  import AccessRights from '../screens/AccessRights-tab.svelte';
  import BinButton from '../../../../components/IconButton.svelte';
  import { useNavigate,useParams } from 'svelte-navigator';
  import { fetchApi } from '../../../../services/api';
  // import { toastAlert } from '../../../../utils/toaster';
  import { toastAlert } from '../../../../utils/toaster';
  import DeletePopup from '../../../../components/DeleteModal.svelte';

  const navigate = useNavigate();
  const params = useParams();
  $: editId = $params.id;

  const removeRecord = async () => {
    const res = await fetchApi(
      'DELETE',
      `api-admin/deleteAdmin/${editId}`,
    );
    const json = await res.json();
    if (res.status >= 200 && res.status <= 300) {
      toastAlert( 'success',json.message ? json.message : 'Admin has been updated!');
      back();
    } else {
      toastAlert('error',json.message ? json.message: 'backend err msg.');
    }
  };

  //Delete popup
  let deletePop = false;
  const deletePopup = () => {
    deletePop = true;
  };
  const back = () => {
    navigate('/admin/list');
  };
</script>

<div class="w-full">
  <div class="w-full">
    <h2 class="my-6 ml-6 text-2xl font-semibold lg:mt-6 lg:mb-10 lg:text-3xl text-dark-red">Admin User</h2>
    <div class="w-full p-6 border shadow bg-base-100 rounded-box">
      <div class="flex justify-end cursor-pointer">
        {#if editId}
          <div class="flex justify-end w-full">
            <BinButton
              bin={true}
              on:click={deletePopup}
              className="border rounded-lg border-dark-red"
            />
          </div>
        {/if}
      </div>
      <Tabs>
        <TabList>
          <div class="flex justify-between w-full">
            <div class="w-full">
              <Tab>Admin</Tab>
            </div>
            {#if editId}
            <div class="w-full">
              <Tab>Access Rights</Tab>
            </div>
            {/if}
          </div>
        </TabList>

        <TabPanel>
          <div class="py-6">
            <Admin />
          </div>
        </TabPanel>

        <TabPanel>
          <div class="px-2 py-10">
            <AccessRights />
          </div>
        </TabPanel>
      </Tabs>
    </div>
  </div>
  <!-- Delete Popup -->
  {#if editId}
    {#if deletePop}
      <div class="absolute top-0 right-0 z-10 sm:px-0">
        <DeletePopup
          on:close={() => (deletePop = false)}
          on:delete={removeRecord}
        />
      </div>
    {/if}
  {/if}
</div>
<style>
  :global(.svelte-tabs) {
    text-align: center;
  }
  :global(.svelte-tabs__tab) {
    color: #df5356 !important;
  }

  :global(.svelte-tabs li.svelte-tabs__selected) {
    border-bottom: 4px solid #df5356;
    width: 100%;
    color: #df5356;
    text-align: center;
    outline: none;
  }
  :global(.svelte-tabs li.svelte-tabs__selected):focus {
    outline: none;
  }
</style>
