<script>
  // import Lawfirm from '../LawFirmSubmission/LawFirm.svelte';
  import LawfirmDrawer from '../LawFirmSubmission/LawfirmDrawer.svelte';
</script>

<div>
  <LawfirmDrawer />
  <!-- <Lawfirm /> -->
</div>
