<script>
  import Formitems from '../../../../../components/forms/FormItem.svelte';
  import Button from '../../../../../components/Button.svelte';
  import { toastAlert } from '../../../../../utils/toaster';
  import { fetchApi } from '../../../../../services/api';
  import DatePicker from '../../../../../components/SveltyPickerDate.svelte';
  import * as yup from 'yup';
  import { Form, Message } from 'svelte-yup';

  const today = new Date();
  // validation
  let schema = yup.object().shape({
    selling_price: yup
      .string()
      .required()
      .typeError('Seller price is required and must be a number')
      .label('Selling price*'),
    date: yup
      .date()
      .required()
      .typeError('Date is a required field and should not future')
      .max(today, 'Date cannot be in the future')
      .label('Date of options exercised'),
  });

  let fields = {
    selling_price: null,
    date: '',
  };

  // validation
  let submitted = false;
  let isValid;

  // add
  async function formSubmit() {
    submitted = true;
    isValid = schema.isValidSync({
      selling_price: Number(parseFloat(fields.selling_price.replace(/,/g, ''))),
      date: fields.date.split('-').reverse().join('-'),
    });

    if (isValid && fields.selling_price.length > 0) {
      {
        const res = await fetchApi(
          'POST',
          `user/api/calculator/seller-stamp-duty`,
          JSON.stringify({
            selling_price: Number(
              parseFloat(fields.selling_price.replace(/,/g, '')),
            ),
            date: fields.date.split('-').reverse().join('-'),
          }),
        );
        const data = await res.json();
        if (res.status >= 200 && res.status <= 300) {
          // to show the calculation
          show = true;
          total = data.seller_stamp_duty;
          // total = data.calculator_response['Maximum Equity Loan'];
        }
        if (data.statusCode >= 400 && data.statusCode <= 500) {
          if (data.message.length >= 0) {
            data.message.forEach((element) => {
              toastAlert('error', element ? element : 'backend error');
            });
          }
        } else if(res.status === 403){
          if(data.name === 'MEMBERSHIP_ACL_CHECK'){
            toastAlert('error', data.message ? data.message : 'We have encountered a technical difficulty onboarding you. Please try again later.');
          }else{
            toastAlert('error', data.detail ? data.detail : 'We have encountered a technical difficulty onboarding you. Please try again later.');
          }
        }
      }
    }
  }

  // show the calculation
  $: show = false;
  $: total = null;
</script>

<main>
  <div class="">
    <h2
      class="my-6 ml-6 text-2xl font-semibold lg:mt-6 lg:mb-10 lg:text-3xl text-dark-red"
    >
      Seller's Stamp Duty
    </h2>
    <div class="p-6 border bg-base-100 rounded-box">
      <div class="w-full h-full lg:w-1/2">
        <Form {schema} {fields} submitHandler={formSubmit} {submitted}>
          <div class="flex flex-col justify-center gap-3 my-5 lg:px-1">
            <div>
              <Formitems
                label="Selling Price*"
                name="fields.selling_price"
                formType="priceInput"
                placeholder="1,500.00"
                bind:value={fields.selling_price}
              />
            </div>
            <div class="text-right">
              <Message name="selling_price" />
            </div>

            <div>
              <DatePicker
                label="Date of Purchase (Option Exercised)*"
                bind:value={fields.date}
              />
            </div>
            {#if total === null}
              <div class="text-right">
                <Message name="date" />
              </div>
            {/if}
            <!-- toggle submit button -->
            {#if !show}
              <Button gradient={true} htmlType={'submit'} text={'Calculate'} />
            {/if}
          </div>

          <!-- show calculation -->
          {#if show}
            <div class="space-y-3 ">
              <div class="w-full my-10 overflow-hidden rounded-lg ">
                <div
                  class="px-4 py-4 bg-gray-50 text-dark-red rounded-md-tr rounded-mg-tl"
                >
                  Seller's stamp duty
                </div>
                <hr class="text-dark-red" />
                <div
                  class="px-4 py-4 text-black bg-gray-50 rounded-md-bl rounded-md-br"
                >
                  ${total}
                </div>
                <p class="pt-2 text-gray-label">
                  "With the assumption that you are selling today"
                </p>
              </div>
              <Button gradient={true} htmlType={'submit'} text={'Calculate'} />
            </div>
          {/if}
        </Form>
      </div>
    </div>
  </div>
</main>
