<script>
  import MyTab from '../../../../../../components/MyTab.svelte';

  export let repaymentReport = [];
  let result = repaymentReport['Prefered BUC Rate'];

  //   console.log('year1', repaymentReport);
</script>

<main>
  <MyTab props={{ title: 'Year 1-5', id: 6 }}>
    <div class="body-manual">
      <section>
        <div class="">
          <div class="px-4 sm:px-6 lg:px-8">
            <div class="flex flex-col mt-8">
              <div class="-mx-4 -my-2 overflxow-x-auto sm:-mx-6 lg:-mx-8">
                <div
                  class="inline-block min-w-full py-2 align-middle md:pr-4 lg:pr-4 md:pl-2 lg:pl-2"
                >
                  <div
                    class="shadow ring-1 ring-black ring-opacity-5 md:rounded-lg"
                  >
                    <table class="min-w-full divide-y divide-gray-300">
                      <thead class="bg-gray-50">
                        <tr class="divide-x divide-gray-200">
                          <th
                            scope="col"
                            class="py-3.5  pl-4 pr-4 text-left text-sm font-semibold text-dark-red sm:pl-6"
                            >Year</th
                          >
                          <th
                            scope="col"
                            class="py-3.5  pl-4 pr-4 text-left text-sm font-semibold text-dark-red sm:pl-6"
                            >Month</th
                          >
                          <th
                            scope="col"
                            class="px-4  py-3.5 text-left text-sm font-semibold text-dark-red "
                            >Interest Rate</th
                          >
                          <th
                            scope="col"
                            class="px-4  py-3.5 text-left text-sm font-semibold text-dark-red "
                            >Disbursement Ratio(Property Price (%))</th
                          >
                          <th
                            scope="col"
                            class="px-4 py-3.5 text-left text-sm font-semibold text-dark-red "
                            >Outstanding Principal (Start of Month)</th
                          >
                          <th
                            scope="col"
                            class="px-4  py-3.5 text-left text-sm font-semibold text-dark-red "
                            >Monthly Installment</th
                          >
                          <th
                            scope="col"
                            class="px-4  py-3.5 text-left text-sm font-semibold text-dark-red "
                            >Interest Payment</th
                          >
                          <th
                            scope="col"
                            class="px-4  py-3.5 text-left text-sm font-semibold text-dark-red "
                            >Principal Payment</th
                          >
                          <th
                            scope="col"
                            class="px-4  py-3.5 text-left text-sm font-semibold text-dark-red "
                            >Outstanding Principal (End of Month)</th
                          >
                        </tr>
                      </thead>
                      <tbody class="bg-white divide-y divide-gray-200">
                        <!-- year1 -->
                        {#each Object.entries(repaymentReport['Prefered BUC Rate']) as [keys, values], i}
                          <!-- year1 -->
                          {#each Object.entries(result[keys]) as [key, value]}
                            {#if value.year > 0 && value.year < 6}
                              <tr
                                class={`${
                                  value.month === 12 ? 'bg-gray-100' : ''
                                }`}
                              >
                                <td
                                  class="pl-1 py-2.5 text-center border font-bold text-base w-28"
                                >
                                  {value.month === 1 ? 'Yr ' + value.year : ''}
                                </td>
                                <td
                                  class=" pl-1 py-2.5 text-center border font-normal text-base w-28 "
                                >
                                  {value.month}
                                </td>
                                <td
                                  class=" pl-1 py-2.5 text-center border font-normal text-base w-28"
                                >
                                  {Number(
                                    parseFloat(value.interest_rate).toFixed(2),
                                  ).toLocaleString('en', {
                                    minimumFractionDigits: 2,
                                  })} %
                                </td>
                                <td
                                  class="pl-1 py-2.5 text-center border font-normal text-base w-28"
                                >
                                  {Number(
                                    parseFloat(
                                      value.disbursement_ratio,
                                    ).toFixed(2),
                                  ).toLocaleString('en', {
                                    minimumFractionDigits: 2,
                                  })} %
                                </td>
                                <td
                                  class="pl-1 py-2.5 text-center border font-normal text-base w-28"
                                >
                                  $ {Number(
                                    parseFloat(
                                      value.outstanding_principal_start,
                                    ).toFixed(2),
                                  ).toLocaleString('en', {
                                    minimumFractionDigits: 2,
                                  })}
                                </td>
                                <td
                                  class="pl-1 py-2.5 text-center border font-normal text-base w-28"
                                >
                                  $ {Number(
                                    parseFloat(
                                      value.monthly_installment,
                                    ).toFixed(2),
                                  ).toLocaleString('en', {
                                    minimumFractionDigits: 2,
                                  })}
                                </td>
                                <td
                                  class="pl-1 py-2.5 text-center border font-normal text-base w-28 "
                                >
                                  $ {Number(
                                    parseFloat(value.interest_payment).toFixed(
                                      2,
                                    ),
                                  ).toLocaleString('en', {
                                    minimumFractionDigits: 2,
                                  })}
                                </td>
                                <td
                                  class="pl-1 py-2.5 text-center border font-normal text-base w-28"
                                >
                                  $ {Number(
                                    parseFloat(value.principal_payment).toFixed(
                                      2,
                                    ),
                                  ).toLocaleString('en', {
                                    minimumFractionDigits: 2,
                                  })}
                                </td>
                                <td
                                  class="pl-1 py-2.5 text-center border font-normal text-base w-28 "
                                >
                                  $ {value.outstanding_principal_end}
                                </td>
                              </tr>
                            {/if}
                          {/each}
                        {/each}
                        <!-- {#each Object.entries(repaymentReport['Prefered BUC Rate']['Downpayment - 15']) as [key, value]}
                          <tr
                            class={`${value.month === 12 ? 'bg-gray-100' : ''}`}
                          >
                            <td
                              class="pl-1 py-2.5 text-center border font-normal text-base w-24"
                            >
                              {value.month === 1 ? 'Yr ' + value.year : ''}
                            </td>
                            <td
                              class=" pl-1 py-2.5 text-center border font-normal text-base w-28 "
                            >
                              {value.month}
                            </td>
                            <td
                              class=" pl-1 py-2.5 text-center border font-normal text-base w-28"
                            >
                              {value.interest_rate}
                            </td>
                            <td
                              class="pl-1 py-2.5 text-center border font-normal text-base w-28"
                            >
                              {value.disbursement_ratio} %
                            </td>
                            <td
                              class="pl-1 py-2.5 text-center border font-normal text-base w-28"
                            >
                              $ {value.outstanding_principal_start}
                            </td>
                            <td
                              class="pl-1 py-2.5 text-center border font-normal text-base w-28"
                            >
                              $ {value.monthly_installment}
                            </td>
                            <td
                              class="pl-1 py-2.5 text-center border font-normal text-base w-28 "
                            >
                              $ {value.interest_payment}
                            </td>
                            <td
                              class="pl-1 py-2.5 text-center border font-normal text-base w-28"
                            >
                              $ {value.principal_payment}
                            </td>
                            <td
                              class="pl-1 py-2.5 text-center border font-normal text-base w-28 "
                            >
                              $ {value.outstanding_principal_end}
                            </td>
                          </tr>
                        {/each} -->
                        <!-- year2 -->
                        <!-- {#each Object.entries(repaymentReport['Prefered BUC Rate']['Completion of Foundation - 10']) as [key, value]}
                          <tr
                            class={`${value.month === 12 ? 'bg-gray-100' : ''}`}
                          >
                            <td
                              class="pl-1 py-2.5 text-center border font-normal text-base w-24"
                            >
                              {value.month === 1 ? 'Yr ' + value.year : ''}
                            </td>
                            <td
                              class=" pl-1 py-2.5 text-center border font-normal text-base w-28 "
                            >
                              {value.month}
                            </td>
                            <td
                              class=" pl-1 py-2.5 text-center border font-normal text-base w-28"
                            >
                              {value.interest_rate}
                            </td>
                            <td
                              class="pl-1 py-2.5 text-center border font-normal text-base w-28"
                            >
                              {value.disbursement_ratio} %
                            </td>
                            <td
                              class="pl-1 py-2.5 text-center border font-normal text-base w-28"
                            >
                              $ {value.outstanding_principal_start}
                            </td>
                            <td
                              class="pl-1 py-2.5 text-center border font-normal text-base w-28"
                            >
                              $ {value.monthly_installment}
                            </td>
                            <td
                              class="pl-1 py-2.5 text-center border font-normal text-base w-28 "
                            >
                              $ {value.interest_payment}
                            </td>
                            <td
                              class="pl-1 py-2.5 text-center border font-normal text-base w-28"
                            >
                              $ {value.principal_payment}
                            </td>
                            <td
                              class="pl-1 py-2.5 text-center border font-normal text-base w-28 "
                            >
                              $ {value.outstanding_principal_end}
                            </td>
                          </tr>
                        {/each}
                        {#each Object.entries(repaymentReport['Prefered BUC Rate']['Reinforcement Concrete - 10']) as [key, value]}
                          <tr
                            class={`${value.month === 12 ? 'bg-gray-100' : ''}`}
                          >
                            <td
                              class="pl-1 py-2.5 text-center border font-normal text-base w-24"
                            >
                              {value.month === 1 ? 'Yr ' + value.year : ''}
                            </td>
                            <td
                              class=" pl-1 py-2.5 text-center border font-normal text-base w-28 "
                            >
                              {value.month}
                            </td>
                            <td
                              class=" pl-1 py-2.5 text-center border font-normal text-base w-28"
                            >
                              {value.interest_rate}
                            </td>
                            <td
                              class="pl-1 py-2.5 text-center border font-normal text-base w-28"
                            >
                              {value.disbursement_ratio} %
                            </td>
                            <td
                              class="pl-1 py-2.5 text-center border font-normal text-base w-28"
                            >
                              $ {value.outstanding_principal_start}
                            </td>
                            <td
                              class="pl-1 py-2.5 text-center border font-normal text-base w-28"
                            >
                              $ {value.monthly_installment}
                            </td>
                            <td
                              class="pl-1 py-2.5 text-center border font-normal text-base w-28 "
                            >
                              $ {value.interest_payment}
                            </td>
                            <td
                              class="pl-1 py-2.5 text-center border font-normal text-base w-28"
                            >
                              $ {value.principal_payment}
                            </td>
                            <td
                              class="pl-1 py-2.5 text-center border font-normal text-base w-28 "
                            >
                              $ {value.outstanding_principal_end}
                            </td>
                          </tr>
                        {/each} -->
                        <!-- year3 -->
                        <!-- {#each Object.entries(repaymentReport['Prefered BUC Rate']['Brick Walls - 5']) as [key, value]}
                          <tr
                            class={`${value.month === 12 ? 'bg-gray-100' : ''}`}
                          >
                            <td
                              class="pl-1 py-2.5 text-center border font-normal text-base w-24"
                            >
                              {value.month === 1 ? 'Yr ' + value.year : ''}
                            </td>
                            <td
                              class=" pl-1 py-2.5 text-center border font-normal text-base w-28 "
                            >
                              {value.month}
                            </td>
                            <td
                              class=" pl-1 py-2.5 text-center border font-normal text-base w-28"
                            >
                              {value.interest_rate}
                            </td>
                            <td
                              class="pl-1 py-2.5 text-center border font-normal text-base w-28"
                            >
                              {value.disbursement_ratio} %
                            </td>
                            <td
                              class="pl-1 py-2.5 text-center border font-normal text-base w-28"
                            >
                              $ {value.outstanding_principal_start}
                            </td>
                            <td
                              class="pl-1 py-2.5 text-center border font-normal text-base w-28"
                            >
                              $ {value.monthly_installment}
                            </td>
                            <td
                              class="pl-1 py-2.5 text-center border font-normal text-base w-28 "
                            >
                              $ {value.interest_payment}
                            </td>
                            <td
                              class="pl-1 py-2.5 text-center border font-normal text-base w-28"
                            >
                              $ {value.principal_payment}
                            </td>
                            <td
                              class="pl-1 py-2.5 text-center border font-normal text-base w-28 "
                            >
                              $ {value.outstanding_principal_end}
                            </td>
                          </tr>
                        {/each}
                        {#each Object.entries(repaymentReport['Prefered BUC Rate']['Roofing / Ceiling - 5']) as [key, value]}
                          <tr
                            class={`${value.month === 12 ? 'bg-gray-100' : ''}`}
                          >
                            <td
                              class="pl-1 py-2.5 text-center border font-normal text-base w-24"
                            >
                              {value.month === 1 ? 'Yr ' + value.year : ''}
                            </td>
                            <td
                              class=" pl-1 py-2.5 text-center border font-normal text-base w-28 "
                            >
                              {value.month}
                            </td>
                            <td
                              class=" pl-1 py-2.5 text-center border font-normal text-base w-28"
                            >
                              {value.interest_rate}
                            </td>
                            <td
                              class="pl-1 py-2.5 text-center border font-normal text-base w-28"
                            >
                              {value.disbursement_ratio} %
                            </td>
                            <td
                              class="pl-1 py-2.5 text-center border font-normal text-base w-28"
                            >
                              $ {value.outstanding_principal_start}
                            </td>
                            <td
                              class="pl-1 py-2.5 text-center border font-normal text-base w-28"
                            >
                              $ {value.monthly_installment}
                            </td>
                            <td
                              class="pl-1 py-2.5 text-center border font-normal text-base w-28 "
                            >
                              $ {value.interest_payment}
                            </td>
                            <td
                              class="pl-1 py-2.5 text-center border font-normal text-base w-28"
                            >
                              $ {value.principal_payment}
                            </td>
                            <td
                              class="pl-1 py-2.5 text-center border font-normal text-base w-28 "
                            >
                              $ {value.outstanding_principal_end}
                            </td>
                          </tr>
                        {/each} -->
                        <!-- year4 -->
                        <!-- {#each Object.entries(repaymentReport['Prefered BUC Rate']['Electrical Wiring - 5']) as [key, value]}
                          <tr
                            class={`${value.month === 12 ? 'bg-gray-100' : ''}`}
                          >
                            <td
                              class="pl-1 py-2.5 text-center border font-normal text-base w-24"
                            >
                              {value.month === 1 ? 'Yr ' + value.year : ''}
                            </td>
                            <td
                              class=" pl-1 py-2.5 text-center border font-normal text-base w-28 "
                            >
                              {value.month}
                            </td>
                            <td
                              class=" pl-1 py-2.5 text-center border font-normal text-base w-28"
                            >
                              {value.interest_rate}
                            </td>
                            <td
                              class="pl-1 py-2.5 text-center border font-normal text-base w-28"
                            >
                              {value.disbursement_ratio} %
                            </td>
                            <td
                              class="pl-1 py-2.5 text-center border font-normal text-base w-28"
                            >
                              $ {value.outstanding_principal_start}
                            </td>
                            <td
                              class="pl-1 py-2.5 text-center border font-normal text-base w-28"
                            >
                              $ {value.monthly_installment}
                            </td>
                            <td
                              class="pl-1 py-2.5 text-center border font-normal text-base w-28 "
                            >
                              $ {value.interest_payment}
                            </td>
                            <td
                              class="pl-1 py-2.5 text-center border font-normal text-base w-28"
                            >
                              $ {value.principal_payment}
                            </td>
                            <td
                              class="pl-1 py-2.5 text-center border font-normal text-base w-28 "
                            >
                              $ {value.outstanding_principal_end}
                            </td>
                          </tr>
                        {/each}
                        {#each Object.entries(repaymentReport['Prefered BUC Rate']['Car Park Roads Drains - 5']) as [key, value]}
                          <tr
                            class={`${value.month === 12 ? 'bg-gray-100' : ''}`}
                          >
                            <td
                              class="pl-1 py-2.5 text-center border font-normal text-base w-24"
                            >
                              {value.month === 1 ? 'Yr ' + value.year : ''}
                            </td>
                            <td
                              class=" pl-1 py-2.5 text-center border font-normal text-base w-28 "
                            >
                              {value.month}
                            </td>
                            <td
                              class=" pl-1 py-2.5 text-center border font-normal text-base w-28"
                            >
                              {value.interest_rate}
                            </td>
                            <td
                              class="pl-1 py-2.5 text-center border font-normal text-base w-28"
                            >
                              {value.disbursement_ratio} %
                            </td>
                            <td
                              class="pl-1 py-2.5 text-center border font-normal text-base w-28"
                            >
                              $ {value.outstanding_principal_start}
                            </td>
                            <td
                              class="pl-1 py-2.5 text-center border font-normal text-base w-28"
                            >
                              $ {value.monthly_installment}
                            </td>
                            <td
                              class="pl-1 py-2.5 text-center border font-normal text-base w-28 "
                            >
                              $ {value.interest_payment}
                            </td>
                            <td
                              class="pl-1 py-2.5 text-center border font-normal text-base w-28"
                            >
                              $ {value.principal_payment}
                            </td>
                            <td
                              class="pl-1 py-2.5 text-center border font-normal text-base w-28 "
                            >
                              $ {value.outstanding_principal_end}
                            </td>
                          </tr>
                        {/each} -->
                        <!-- year5 -->
                        <!-- {#each Object.entries(repaymentReport['Prefered BUC Rate']['Temporary Occupation Permit - 25']) as [key, value]}
                          {#if value.year <= 5}
                            <tr
                              class={`${
                                value.month === 12 ? 'bg-gray-100' : ''
                              }`}
                            >
                              <td
                                class="pl-1 py-2.5 text-center border font-normal text-base w-24"
                              >
                                {value.month === 1 ? 'Yr ' + value.year : ''}
                              </td>
                              <td
                                class=" pl-1 py-2.5 text-center border font-normal text-base w-28 "
                              >
                                {value.month}
                              </td>
                              <td
                                class=" pl-1 py-2.5 text-center border font-normal text-base w-28"
                              >
                                {value.interest_rate}
                              </td>
                              <td
                                class="pl-1 py-2.5 text-center border font-normal text-base w-28"
                              >
                                {value.disbursement_ratio} %
                              </td>
                              <td
                                class="pl-1 py-2.5 text-center border font-normal text-base w-28"
                              >
                                $ {value.outstanding_principal_start}
                              </td>
                              <td
                                class="pl-1 py-2.5 text-center border font-normal text-base w-28"
                              >
                                $ {value.monthly_installment}
                              </td>
                              <td
                                class="pl-1 py-2.5 text-center border font-normal text-base w-28 "
                              >
                                $ {value.interest_payment}
                              </td>
                              <td
                                class="pl-1 py-2.5 text-center border font-normal text-base w-28"
                              >
                                $ {value.principal_payment}
                              </td>
                              <td
                                class="pl-1 py-2.5 text-center border font-normal text-base w-28 "
                              >
                                $ {value.outstanding_principal_end}
                              </td>
                            </tr>
                          {/if}
                        {/each}
                        {#each Object.entries(repaymentReport['Prefered BUC Rate']['Certificate of Statutory Completion - 12']) as [key, value]}
                          {#if value.year <= 5}
                            <tr
                              class={`${
                                value.month === 12 ? 'bg-gray-100' : ''
                              }`}
                            >
                              <td
                                class="pl-1 py-2.5 text-center border font-normal text-base w-24"
                              >
                                {value.month === 1 ? 'Yr ' + value.year : ''}
                              </td>
                              <td
                                class=" pl-1 py-2.5 text-center border font-normal text-base w-28 "
                              >
                                {value.month}
                              </td>
                              <td
                                class=" pl-1 py-2.5 text-center border font-normal text-base w-28"
                              >
                                {value.interest_rate}
                              </td>
                              <td
                                class="pl-1 py-2.5 text-center border font-normal text-base w-28"
                              >
                                {value.disbursement_ratio} %
                              </td>
                              <td
                                class="pl-1 py-2.5 text-center border font-normal text-base w-28"
                              >
                                $ {value.outstanding_principal_start}
                              </td>
                              <td
                                class="pl-1 py-2.5 text-center border font-normal text-base w-28"
                              >
                                $ {value.monthly_installment}
                              </td>
                              <td
                                class="pl-1 py-2.5 text-center border font-normal text-base w-28 "
                              >
                                $ {value.interest_payment}
                              </td>
                              <td
                                class="pl-1 py-2.5 text-center border font-normal text-base w-28"
                              >
                                $ {value.principal_payment}
                              </td>
                              <td
                                class="pl-1 py-2.5 text-center border font-normal text-base w-28 "
                              >
                                $ {value.outstanding_principal_end}
                              </td>
                            </tr>
                          {/if}
                        {/each} -->
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </MyTab>
</main>
