<script>
  import { Route, Router } from 'svelte-navigator';

  import TrainingListing from './screens/List.svelte';
  import TrainingAdd from './screens/Add.svelte';
</script>

<Router>
  <Route path="list"><TrainingListing /></Route>
  <Route path="add"><TrainingAdd /></Route>
  <Route path="edit/:id" component={TrainingAdd} />
</Router>
