<script>
  import { Router, Route } from 'svelte-navigator';
  import ExistingLeadLoanApplication from './ExistingLead/screens/LoanApplication.svelte';
  import ExistingLeadPropertyLoanDetails from './ExistingLead/screens/PropertyLoanDetails.svelte';
  import ExistingLeadGenerateReport from './ExistingLead/screens/GenerateReport.svelte';
  import ExistingLeadDownloadReport from './ExistingLead/screens/DownloadReport.svelte';
  import ExistingLeadSavingsFromRefinancing from './ExistingLead/screens/SavingsFromRefinancing.svelte';
  import ExistingLeadMortgageRepayment from './ExistingLead/screens/MortgageRepayment.svelte';

  import NewLeadLoanApplication from './NewLead/screens/LoanApplication.svelte';
  import NewLeadPropertyLoanDetails from './NewLead/screens/PropertyLoanDetails.svelte';
  import NewLeadGenerateReport from './NewLead/screens/GenerateReport.svelte';
  import NewLeadDownloadReport from './NewLead/screens/DownloadReport.svelte';
  import NewLeadSavingsFromRefinancing from './NewLead/screens/SavingsFromRefinancing.svelte';
  import NewLeadMortgageRepayment from './NewLead/screens/MortgageRepayment.svelte';
</script>

<Router>
  <Route path="existing-lead-loan-application/:id" let:params
    ><ExistingLeadLoanApplication leadId={params.id} /></Route
  >
  <Route path="existing-lead-property-loan-details"
    ><ExistingLeadPropertyLoanDetails /></Route
  >
  <Route path="existing-lead-generate-report"
    ><ExistingLeadGenerateReport /></Route
  >
  <Route path="existing-lead-download-report"
    ><ExistingLeadDownloadReport /></Route
  >
  <Route path="existing-lead-savings-from-refinancing"
    ><ExistingLeadSavingsFromRefinancing /></Route
  >
  <Route path="existing-lead-mortgage-repayment"
    ><ExistingLeadMortgageRepayment /></Route
  >
</Router>

<Router>
  <Route path="new-lead-loan-application/:id" let:params>
    <NewLeadLoanApplication leadName={params.id} /></Route
  >
  <Route path="new-lead-property-loan-details/:id" let:params
    ><NewLeadPropertyLoanDetails /></Route
  >
  <Route path="new-lead-generate-report"><NewLeadGenerateReport /></Route>
  <Route path="new-lead-download-report"><NewLeadDownloadReport /></Route>
  <Route path="new-lead-savings-from-refinancing"
    ><NewLeadSavingsFromRefinancing /></Route
  >
  <Route path="new-lead-mortgage-repayment"><NewLeadMortgageRepayment /></Route>
</Router>
