<script>
  import { createEventDispatcher } from 'svelte';
  import { useNavigate, Link } from 'svelte-navigator';

  import Button from '../Button.svelte';
  import IconButton from '../IconButton.svelte';
  import DropdownV2 from '../v2/Dropdown.svelte';

  import NotificationIcon from '../icons/Notification.svelte';
  import RecentNotification from '../dashboard/RecentNotification.svelte';

  import { fetchApi } from '../../services/api';

  import { deleteCookie, getCookie } from '../../utils/cookie';
  import { toastAlert } from '../../utils/toaster';

  import { userDetail, userToken } from '../../stores';
  import { onMount } from 'svelte';

  const dispatch = createEventDispatcher();
  const navigate = useNavigate();

  let RecentNotify = false;

  let state = {
    device_id: '',
    membership_type: '',
    user_id: '',
    appId: '',
  };

  let notificationList = [
    {
      image: 'https://miro.medium.com/max/1400/0*0fClPmIScV5pTLoE.jpg',
      link: '/kishor',
      name: 'Kishor Jadav',
      status: 'Loan Has Been Approved',
      time: '5h',
    },
    {
      image: '',
      link: '/stanley',
      name: 'Stanley',
      status: 'Client meet @12pm today sghajwqwqwqwqwqw',
      time: '10h',
    },
  ];

  let shown;

  let user_name;
  let user_photo;

  $: if ($userDetail) {
    user_name = $userDetail.full_name ? $userDetail.full_name : 'Guest';
    user_photo = $userDetail.photo ? $userDetail.photo : '';
  }

  /*push notification start here*/
  // $: if ($userDetail) {
  //   state.membership_type = $userDetail.membership_type;
  //   state.user_id = $userDetail.id;
  // }

  onMount(async () => {
    const response = await fetchApi('GET', `user`);
    const userData = await response.json();
    state.membership_type = userData.membership_type;
    state.user_id = userData.id;
    // console.log('user', state.membership_type, state.user_id);
    oneSignal();
  });

  const oneSignal = async () => {
    window.OneSignal = window.OneSignal || [];
    OneSignal.push(function () {
      OneSignal.setExternalUserId(state.user_id);
      OneSignal.init({
        // You can get this appId from /user api
        appId: 'c5a5afd0-acc5-4461-81c6-abd27a4985ce',
      });

      OneSignal.on('notificationDisplay', function (event) {
        // console.log('OneSignal notification displayed:', event);
      });

      const user = OneSignal.getUserId();

      user.then(function (token) {
        if (token) {
          // get user Data
          state.device_id = token;
          getUserData(token);
        }
      });
    });
  };

  const getUserData = async (token) => {
    console.log('token', state);
    const res = await fetchApi(
      'POST',
      `user/sendPushNotification`,
      JSON.stringify(state),
    );
    // const json = await res.json();
    // if (res.status >= 200 && res.status <= 300) {
    //   toastAlert('success', json.message ? json.message : 'backend err msg.');
    // } else {
    //   console.log('Error', json.message ? json.message : 'backend err msg.');
    //   toastAlert('error', json.message ? json.message : 'backend err msg.');
    // }
  };

  /*push notification end here*/

  const onLogout = async () => {
    // backend - after logout, still can login with old access_token via GetUserDetail
    const res = await fetchApi(
      'PATCH',
      'auth/logout',
      JSON.stringify({
        refresh_token: getCookie('refresh_token'),
      }),
    );
    if (res.status >= 200 && res.status <= 300) {
      userToken.set('');
      deleteCookie('cookie');
      deleteCookie('refresh_token');
      localStorage.removeItem('user_info');
      userDetail.set(null);
      toastAlert('success', 'Logout success');
      navigate('/signin');
    } else {
      console.log('fail logout.', res);
    }
  };
</script>

<main>
  <div class="sticky top-0 z-10 flex flex-shrink-0 h-16 bg-white">
    <button
      on:click={() => dispatch('open')}
      type="button"
      class="px-4 text-gray-500 border-r border-gray-200 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500 md:hidden"
    >
      <span class="sr-only">Open sidebar</span>
      <svg
        class="w-6 h-6"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        aria-hidden="true"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16M4 18h7"
        />
      </svg>
    </button>

    <div class="flex justify-between flex-1 pl-2 md:mt-4 md:px-0">
      <div class="flex flex-1">
        <!-- header left -->
        <h1 class="mt-5 text-xl text-gray-label md:mt-3">
          👋 Hi {user_name} !
        </h1>
      </div>
      <div class="right-0 flex items-center md:gap-6 md:-mr-8">
        <div class="sr-only sm:not-sr-only">
          <Button
            gradient
            className="w-40"
            text={'Create a Lead'}
            btnclick={() => {
              navigate('/create-lead');
            }}
            width={true}
          />
        </div>
        <!-- <div class="mr-2 md:mr-0">
          <IconButton
            text={'i'}
            textIcon={NotificationIcon}
            htmlType="button"
            bind:RecentNotify
          />
        </div> -->
        <div>
          <!-- <Avatar
            isSmall
            img={user_photo}
            fallbackName={user_name ? user_name.charAt(0) : "U"}
          /> -->
          <DropdownV2
            type="avatar"
            user={{
              picture: user_photo,
              name: user_name ? user_name.charAt(0) : 'U',
            }}
            className="w-12 h-12 shadow-md rounded-2xl flex items-center justify-center"
          >
            <Link
              to="/profile"
              class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
              role="menuitem"
              tabindex="-1"
              id="menu-profile-0">Profile</Link
            >
            <button
              type="button"
              class="block w-full px-4 py-2 text-sm text-left text-gray-700 hover:bg-gray-100"
              role="menuitem"
              tabindex="-1"
              on:click|once={onLogout}>Sign out</button
            >
          </DropdownV2>
        </div>
        <!-- <button
          on:click={() => (RecentNotify = !RecentNotify)}
          type="button"
          class="p-1 text-gray-400 bg-white rounded-full hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
        >
          <span class="sr-only">View notifications</span>
          <svg
            class="w-6 h-6"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"
            />
          </svg>
        </button> -->

        <!-- Profile dropdown -->
        <div class="relative ml-3">
          <!-- <div>
            <button
              type="button"
              class="flex items-center max-w-xs text-sm rounded-full focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
              id="user-menu-button"
              aria-expanded="false"
              aria-haspopup="true"
            >
              <span class="sr-only">Open user menu</span>
              <img
                class="w-8 h-8 rounded-full"
                src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                alt=""
              />
            </button>
          </div> -->

          <!-- Recentotification -->
          {#if RecentNotify}
            <div class="mt-12">
              <RecentNotification {notificationList} />
            </div>
          {/if}
        </div>
      </div>
    </div>
  </div>
</main>

<!-- <div class="flex items-center justify-between w-full">
  <div>👋 Hi {user_name}!</div>
  <div>
    <div class="flex items-center gap-6">
      <Button
        gradient
        className="w-40"
        text={"Create a Lead"}
        btnclick={() => {
          navigate("/create-lead");
        }}
        width={true}
      />
      <IconButton
        text={"i"}
        textIcon={NotificationIcon}
        htmlType="button"
        bind:shown
      />
      <Avatar
        isSmall
        img={user_photo}
        fallbackName={user_name ? user_name.charAt(0) : "U"}
      />
    </div>
  </div>
</div>
<div class="z-50">
  {#if shown}
    <div><RecentNotification {notificationList} /></div>
  {/if}
</div> -->
