<svg
  class="w-6 h-6"
  viewBox="0 0 24 24"
  fill="currentColor"
  xmlns="http://www.w3.org/2000/svg"
>
  <path
    d="M16.7509 0.988281H2.10469C1.02489 0.988281 0.146484 1.86668 0.146484 2.94649V17.5928C0.146484 18.6726 1.02489 19.551 2.10469 19.551H16.7509C17.8305 19.551 18.7089 18.6726 18.7089 17.5928V2.94649C18.7089 1.86694 17.8305 0.988281 16.7509 0.988281ZM9.0527 18.8013H2.10469C1.4385 18.8013 0.896313 18.2594 0.896313 17.5929V10.6449H9.05289L9.0527 18.8013ZM9.0527 9.89509H0.896121V2.94707C0.896121 2.28088 1.43803 1.73869 2.1045 1.73869H9.0525L9.0527 9.89509ZM17.9588 17.5933C17.9588 18.2595 17.4169 18.8017 16.7507 18.8017H9.80272V10.6451H17.9593L17.9588 17.5933ZM17.9588 9.89509H9.80227V1.7385H16.7503C17.4162 1.7385 17.9584 2.28041 17.9584 2.94688L17.9588 9.89509Z"
    stroke-width="0.7"
  />
  <path
    d="M4.55842 8.082H5.30851V6.20693H7.1836V5.45711H5.30851V3.58203H4.55842V5.45711H2.68359V6.20693H4.55842V8.082Z"
  />
  <path
    d="M3.60628 16.5425L4.93217 15.2164L6.25806 16.5425L6.78842 16.0122L5.46253 14.6863L6.78842 13.3602L6.25806 12.8301L4.93217 14.156L3.60628 12.8301L3.07617 13.3602L4.40181 14.6863L3.07617 16.0122L3.60628 16.5425Z"
  />
  <path d="M11.7246 5.45703H16.2246V6.20709H11.7246V5.45703Z" />
  <path d="M11.7246 13.1836H16.2246V13.9337H11.7246V13.1836Z" />
  <path d="M11.7246 15.4414H16.2246V16.1915H11.7246V15.4414Z" />
</svg>
