<div>
  <svg width="22" height="22" fill="currentColor" viewBox="0 0 22 22">
    <path
      d="M11 22C4.93449 22 0 17.0647 0 11C0 4.93528 4.93409 0 11 0C17.0659 0 22 4.93409 22 11C22 17.0659 17.0659 22 11 22ZM11 1.20193C5.59726 1.20193 1.20193 5.59725 1.20193 11C1.20193 16.4027 5.59726 20.798 11 20.798C16.4027 20.798 20.7981 16.4019 20.7981 11C20.7981 5.59804 16.4027 1.20193 11 1.20193Z"
    />
    <path
      d="M10.6303 16.38V15.06C10.0943 15.028 9.59034 14.932 9.11834 14.772C8.64634 14.604 8.23434 14.372 7.88234 14.076L8.29034 13.092C8.67434 13.396 9.08234 13.624 9.51434 13.776C9.95434 13.928 10.4503 14.004 11.0023 14.004C11.6343 14.004 12.1023 13.884 12.4063 13.644C12.7183 13.404 12.8743 13.096 12.8743 12.72C12.8743 12.4 12.7663 12.148 12.5503 11.964C12.3343 11.772 11.9703 11.62 11.4583 11.508L10.2223 11.244C9.50234 11.084 8.96234 10.824 8.60234 10.464C8.24234 10.096 8.06234 9.608 8.06234 9C8.06234 8.544 8.16634 8.14 8.37434 7.788C8.59034 7.436 8.89034 7.148 9.27434 6.924C9.65834 6.7 10.1103 6.56 10.6303 6.504V5.16H11.6143V6.504C12.0303 6.544 12.4343 6.648 12.8263 6.816C13.2263 6.976 13.5703 7.2 13.8583 7.488L13.4623 8.436C13.1503 8.132 12.7983 7.908 12.4063 7.764C12.0143 7.612 11.5823 7.536 11.1103 7.536C10.5583 7.536 10.1143 7.668 9.77834 7.932C9.45034 8.196 9.28634 8.54 9.28634 8.964C9.28634 9.292 9.39034 9.552 9.59834 9.744C9.80634 9.936 10.1383 10.084 10.5943 10.188L11.8303 10.452C12.5983 10.612 13.1703 10.872 13.5463 11.232C13.9223 11.584 14.1103 12.052 14.1103 12.636C14.1103 13.3 13.8783 13.844 13.4143 14.268C12.9503 14.684 12.3503 14.936 11.6143 15.024V16.38H10.6303Z"
    />
  </svg>
</div>
