<svg
  width="23"
  height="21"
  viewBox="0 0 23 21"
  fill="currentColor"
  xmlns="http://www.w3.org/2000/svg"
>
  <path
    d="M4.61564 11.8125C6.67815 11.8125 7.65315 9.0375 7.65315 7.1625C7.65315 5.2125 6.56565 4.125 4.61564 4.125C2.66563 4.125 1.57812 5.2125 1.57812 7.1625C1.57812 9.0375 2.55313 11.8125 4.61564 11.8125ZM4.61564 4.87479C6.04065 4.87479 6.75315 5.47479 6.86565 6.74979L5.25314 6.07479C4.72814 5.84979 4.12814 5.99979 3.71564 6.41229C3.37813 6.71229 2.77813 6.48729 2.40313 6.29979C2.66563 5.32479 3.37813 4.87479 4.61564 4.87479ZM2.32813 7.08729C2.85313 7.31229 3.64063 7.49979 4.24064 6.97479C4.46564 6.74979 4.72814 6.67479 4.99064 6.78729L6.86565 7.57479C6.75315 9.11229 5.96565 11.0623 4.61564 11.0623C3.15313 11.0623 2.32813 8.77479 2.32813 7.16229V7.08729Z"
  />
  <path
    d="M22.2375 0.5625H0.4875V15.3375C0.1875 15.975 0 16.6875 0 17.4V20.4375H9.225V17.9625L9.975 18.2625C10.4625 18.4875 11.0625 18.3375 11.4 17.8875L12.3375 16.725H22.2375V0.5625ZM10.7998 17.4375C10.6873 17.5875 10.4623 17.6625 10.2748 17.5875L8.47479 16.8375V19.6875H0.749786V17.4C0.749786 16.35 1.16229 15.375 1.87479 14.6625C2.58729 13.95 3.59979 13.5375 4.61229 13.5375C5.36229 13.5375 6.11229 13.7625 6.71229 14.175L9.52479 15.375C10.0498 15.6375 10.6498 15.4875 11.0248 15.075L12.9748 12.7875C13.1998 12.5625 13.4998 12.4875 13.7623 12.675C13.9123 12.7875 13.9873 12.9375 14.0248 13.0875C14.0623 13.2375 13.9873 13.3875 13.9123 13.5L10.7998 17.4375ZM21.4875 15.975H12.8998L14.4748 13.95C14.6998 13.6875 14.8123 13.3125 14.7373 12.9375C14.6998 12.7125 14.6248 12.4875 14.4748 12.3375L17.5498 8.2125L16.9498 7.7625L13.8748 11.8875C13.3498 11.7 12.7873 11.85 12.3748 12.2625L10.4248 14.55C10.3123 14.7 10.0873 14.8125 9.78729 14.6625L7.31229 13.6125L7.04979 13.5C6.29979 13.0125 5.43729 12.75 4.53729 12.75C3.33729 12.75 2.13729 13.2375 1.27479 14.1L1.16229 14.2125V1.3125H21.4123V15.9748L21.4875 15.975Z"
  />
  <path d="M8.77344 4.125H20.3234V4.875H8.77344V4.125Z" />
  <path d="M8.77344 6H20.3234V6.75H8.77344V6Z" />
</svg>
