<script>
  // import Dropzone from 'svelte-file-dropzone';
  import { toastAlert } from '../../../../../utils/toaster';
  import { fetchApi } from '../../../../../services/api';
  import { useNavigate, useParams } from 'svelte-navigator';
  import { onMount } from 'svelte';
  import * as yup from 'yup';
  import { Form, Message } from 'svelte-yup';
  import Formitems from '../../../../../components/forms/FormItem.svelte';
  import Button from '../../../../../components/Button.svelte';

  const params = useParams();
  const navigate = useNavigate();
  const fields = {
    name: '',
    thumbnail: null,
    detail_image: null,
  };

  // dropzone
  //   function handleFilesSelect(e) {
  //     const { acceptedFiles, fileRejections } = e.detail;
  //     // check size less than 3MB
  //     let size = acceptedFiles[0].size / 1024 / 1024 / 1024;
  //     if (size > 3) {
  //       toastAlert('error', 'Max size is 3MB');
  //     } else {
  //       files.accepted = [...files.accepted, ...acceptedFiles];
  //       files.rejected = [...files.rejected, ...fileRejections];
  //     }
  //   }

  let back = () => {
    navigate('/resources-category/list');
  };
</script>

<main>
  <div class="">
    <h2
      class="my-6 ml-6 text-2xl font-semibold lg:mt-6 lg:mb-10 lg:text-3xl text-dark-red"
    >
      Resource Category
    </h2>
    <div class="p-6 border shadow-lg drop-shadow-lg bg-base-100 rounded-box">
      <!-- <Form {schema} {fields} submitHandler={formSubmit} {submitted}> -->
      <div class="flex flex-col w-full md:w-1/2">
        <Formitems
          htmlType="url"
          className="w-full"
          label="Link"
          name="link"
          bind:value={fields.link}
          placeholder="Enter url link"
        />

        <!-- <div class="my-4">
            <label for="file" class="mb-2 capitalize label-text text-gray-label">
              Attach Documents*
            </label>
  
            <Dropzone
              id="file"
              on:drop={handleFilesSelect}
              name="file"
              bind:input={fields.thumbnail}
            >
              <button
                class="flex flex-col items-center space-y-4 focus:outline-none"
              >
                <span class="inline-block">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="w-5 h-5 md:w-6 md:h-6"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    stroke-width="2"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-8l-4-4m0 0L8 8m4-4v12"
                    />
                  </svg>
                </span>
                <p>Drag and Drop here</p>
              </button>
              <p>OR</p>
              <p class="font-normal underline cursor-pointer text-dark-red">
                Browse files
              </p>
            </Dropzone>
          </div> -->

        <div class=" md:flex md:justify-end md:mt-2">
          <div class="w-full mt-4 md:w-32 md:mt-2">
            <Button gradient={true} htmlType="submit" text="Save" />
          </div>
          <div class="w-full mt-4 md:mt-2 md:w-32 md:ml-3">
            <Button
              gradientInverse={true}
              htmlType={'button'}
              isOutlined={true}
              text={'Back'}
              btnclick={back}
            />
          </div>
        </div>
      </div>
      <!-- </Form> -->
    </div>
  </div>
</main>
