<svg
  width="36"
  height="38"
  viewBox="0 0 40 42"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <g clip-path="url(#clip0_520_327)">
    <path
      d="M10.9548 9.67408H10.0587C9.37594 9.67408 8.82149 9.07676 8.86401 8.35149C8.90657 7.75417 9.50389 7.28482 10.1012 7.28482H11.1679C11.5518 7.28482 11.8932 7.58364 11.9786 7.9247C12.0212 8.01012 12.1066 8.09524 12.192 8.09524H13.3867C13.5147 8.09524 13.6426 7.96726 13.6426 7.83929C13.5147 6.64462 12.5334 5.70595 11.3388 5.62054V4.42588C11.3388 4.2979 11.2534 4.16992 11.0828 4.16992H9.88815C9.76017 4.16992 9.63219 4.2979 9.63219 4.42588V5.62054C8.1387 5.83394 7.02951 7.15654 7.15751 8.73513C7.28549 10.2286 8.65101 11.2953 10.1016 11.2953H10.8695C11.5522 11.2953 12.1066 11.8926 12.0641 12.6179C12.0216 13.2152 11.4242 13.6845 10.8269 13.6845H9.76027C9.37634 13.6845 9.03497 13.3857 8.94952 13.0447C8.90696 12.9592 8.82155 12.8741 8.73613 12.8741H7.54146C7.41348 12.8741 7.2855 13.0021 7.2855 13.1301C7.41348 14.3247 8.39476 15.2634 9.58936 15.3488V16.5435C9.58936 16.6715 9.67478 16.7994 9.84531 16.7994H11.04C11.168 16.7994 11.2959 16.714 11.2959 16.5435V15.3063C12.576 15.0929 13.6427 14.1116 13.7706 12.7891C13.984 11.1247 12.6188 9.67416 10.9548 9.67416V9.67408Z"
      fill="#9E988B"
    />
    <path
      d="M30.2832 25.8885C30.9659 25.8885 31.6487 26.1873 32.2031 26.7417C32.2885 26.8272 32.4165 26.8272 32.5019 26.7417L33.4832 25.8456C33.5257 25.803 33.5686 25.7602 33.5686 25.7176C33.5686 25.6751 33.5686 25.5896 33.526 25.5896C32.6299 24.6935 31.5207 24.1816 30.326 24.1816C28.3632 24.1816 26.5713 25.5896 25.8888 27.6376H24.6939C24.5659 27.6376 24.4805 27.723 24.4805 27.851V28.7471C24.4805 28.8751 24.5659 28.9605 24.6939 28.9605H25.5471C25.5471 29.1739 25.5046 29.3444 25.5046 29.5153C25.5046 29.6858 25.5046 29.8566 25.5471 30.07H24.6939C24.5659 30.07 24.4805 30.1554 24.4805 30.2834V31.1796C24.4805 31.3075 24.5659 31.393 24.6939 31.393H25.8031C26.4859 33.4837 28.2778 34.8489 30.2403 34.8489C31.435 34.8489 32.587 34.337 33.4403 33.4834C33.4829 33.4408 33.4829 33.398 33.4829 33.3554C33.4829 33.3129 33.4403 33.2274 33.3974 33.2274L32.4162 32.3313C32.3308 32.2459 32.2028 32.2459 32.1174 32.3313C31.5626 32.8861 30.8802 33.1846 30.1975 33.1846C29.1308 33.1846 28.1495 32.5447 27.6373 31.4351H30.3254C30.4534 31.4351 30.5388 31.3497 30.5388 31.2217L30.5391 30.2402C30.5391 30.1122 30.4537 30.0268 30.3257 30.0268H27.2537V29.4723C27.2537 29.3018 27.2537 29.131 27.2962 28.9176H30.3682C30.4962 28.9176 30.5816 28.8322 30.5816 28.7042V27.808C30.5816 27.68 30.4962 27.5946 30.3682 27.5946L27.6805 27.5949C28.2349 26.5709 29.2165 25.8884 30.2831 25.8884L30.2832 25.8885Z"
      fill="#9E988B"
    />
    <path
      d="M27.04 12.4048C27.2534 12.6182 27.5094 12.7036 27.8079 12.7036C28.0638 12.7036 28.3626 12.6182 28.5757 12.4048C29.0025 11.978 29.0025 11.2955 28.5757 10.9113L27.4664 9.80203C30.581 10.058 33.0557 12.6181 33.0557 15.8181C33.0557 16.4154 33.5251 16.8848 34.1224 16.8848C34.7197 16.8848 35.1891 16.4154 35.1891 15.8181C35.1891 11.466 31.7331 7.88211 27.4237 7.66878L28.5758 6.5167C29.0026 6.08991 29.0026 5.40744 28.5758 5.02322C28.149 4.59643 27.4665 4.59643 27.0823 5.02322L24.0957 8.00981C23.8823 8.2232 23.7969 8.47916 23.7969 8.77765C23.7969 9.07647 23.9249 9.33241 24.0957 9.5455L27.04 12.4048Z"
      fill="#9E988B"
    />
    <path
      d="M12.9603 27.5952C12.5335 27.1684 11.8511 27.1684 11.4668 27.5952C11.0401 28.022 11.0401 28.7045 11.4668 29.0887L12.5761 30.198C9.46152 29.942 6.98685 27.3819 6.98685 24.1819C6.98685 23.5846 6.5175 23.1152 5.92018 23.1152C5.32286 23.1152 4.85352 23.5846 4.85352 24.1819C4.85352 28.534 8.30944 32.1179 12.6188 32.3312L11.4668 33.5259C11.04 33.9527 11.04 34.6352 11.4668 35.0194C11.6802 35.2328 11.9361 35.3182 12.2346 35.3182C12.4906 35.3182 12.7894 35.2328 13.0025 35.0194L15.9891 32.0328C16.4158 31.606 16.4158 30.9661 15.9891 30.5393L12.9603 27.5952Z"
      fill="#9E988B"
    />
    <path
      d="M29.4717 18.7207C23.5411 18.7207 18.7197 23.5421 18.7197 29.4727C18.7197 35.4034 23.5411 40.2674 29.5144 40.2674C35.4876 40.2674 40.3091 35.446 40.3091 29.4727C40.2665 23.542 35.4451 18.7207 29.4717 18.7207ZM29.4717 38.134C24.6931 38.134 20.8531 34.2513 20.8531 29.4727C20.8531 24.7367 24.6932 20.854 29.4717 20.854C34.2502 20.854 38.1331 24.7368 38.1331 29.5154C38.1331 34.2514 34.2503 38.134 29.4717 38.134Z"
      fill="#9E988B"
    />
    <path
      d="M10.5281 -0.266602C4.55488 -0.266602 -0.266602 4.55481 -0.266602 10.5281C-0.266602 16.5012 4.55481 21.2801 10.5281 21.2801C16.5012 21.2801 21.2801 16.4587 21.2801 10.5281C21.2801 4.5974 16.4587 -0.266602 10.5281 -0.266602ZM10.5281 19.1467C5.74947 19.1467 1.86673 15.264 1.86673 10.5281C1.86673 5.79206 5.74947 1.86673 10.5281 1.86673C15.3067 1.86673 19.1467 5.74947 19.1467 10.5281C19.1467 15.3067 15.3066 19.1467 10.5281 19.1467Z"
      fill="#9E988B"
    />
  </g>
  <defs>
    <clipPath id="clip0_520_327">
      <rect width="40" height="41.3333" fill="white" />
    </clipPath>
  </defs>
</svg>
