<svg
  width="40"
  height="39"
  viewBox="0 0 40 39"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <g clip-path="url(#clip0_520_351)">
    <path
      d="M18.0868 23.8555H15.9629V25.9963H18.0868V23.8555Z"
      fill="#E09207"
    />
    <path
      d="M18.0868 26.7109H15.9629V28.8518H18.0868V26.7109Z"
      fill="#E09207"
    />
    <path
      d="M21.0155 23.8555H18.8916V25.9963H21.0155V23.8555Z"
      fill="#E09207"
    />
    <path
      d="M21.0155 26.7109H18.8916V28.8518H21.0155V26.7109Z"
      fill="#E09207"
    />
    <path
      d="M7.99449 6.67392C10.0889 4.59441 12.6993 3.11022 15.5574 2.37392C18.4155 1.63762 21.4181 1.6758 24.2566 2.48451C27.095 3.29323 29.6669 4.84331 31.7077 6.97539C33.7486 9.10747 35.1848 11.7446 35.8687 14.6157C36.1689 15.8764 36.322 17.1676 36.325 18.4636C36.3262 21.1656 35.6667 23.8269 34.4039 26.2157C34.3359 26.3273 34.2915 26.4516 34.2733 26.581C34.2552 26.7104 34.2637 26.8421 34.2984 26.9681C34.3331 27.0941 34.3931 27.2117 34.4749 27.3135C34.5567 27.4154 34.6585 27.4995 34.774 27.5606C34.8895 27.6217 35.0163 27.6585 35.1466 27.6688C35.2768 27.679 35.4078 27.6625 35.5315 27.6203C35.6551 27.578 35.7688 27.5109 35.8655 27.4231C35.9623 27.3353 36.04 27.2286 36.094 27.1096C38.1518 23.1919 38.7399 18.6673 37.7519 14.3537C36.764 10.0402 34.2652 6.22255 30.7075 3.59103C27.1497 0.959517 22.7678 -0.312144 18.354 0.00598596C13.9402 0.324116 9.78598 2.21104 6.64238 5.32557C6.55323 5.41435 6.48244 5.51982 6.43405 5.63596C6.38566 5.7521 6.36062 5.87663 6.36035 6.00245C6.36009 6.12826 6.38461 6.2529 6.43252 6.36924C6.48043 6.48558 6.55078 6.59135 6.63956 6.6805C6.72834 6.76965 6.83381 6.84044 6.94995 6.88883C7.06609 6.93722 7.19063 6.96226 7.31644 6.96252C7.44226 6.96278 7.56689 6.93826 7.68323 6.89035C7.79957 6.84245 7.90534 6.77209 7.99449 6.68331V6.67392Z"
      fill="#DA3B3E"
    />
    <path
      d="M38.2538 33.3648L18.9487 15.0493C18.8553 14.9611 18.7452 14.8926 18.6248 14.8477C18.5045 14.8028 18.3764 14.7825 18.2481 14.7879C18.1198 14.7934 17.9939 14.8244 17.8778 14.8793C17.7617 14.9342 17.6578 15.0118 17.5721 15.1075L6.10172 28.0127C4.60714 25.8807 3.63396 23.4276 3.26049 20.8508C2.88702 18.274 3.1237 15.6456 3.95148 13.177C3.96275 13.1432 3.96651 13.1094 3.97402 13.0775H4.10923C4.75997 13.0779 5.39036 12.8507 5.89125 12.4352C6.39213 12.0198 6.73196 11.4423 6.85189 10.8027C6.97183 10.1631 6.86432 9.50172 6.54797 8.93304C6.23163 8.36437 5.72637 7.92423 5.11969 7.68884C4.51302 7.45345 3.84313 7.43763 3.22602 7.64413C2.60891 7.85062 2.08344 8.26642 1.7406 8.81953C1.39777 9.37264 1.25916 10.0282 1.34877 10.6728C1.43839 11.3173 1.75058 11.9102 2.2313 12.3488C2.18872 12.414 2.15404 12.4839 2.12801 12.5573C1.2738 15.0991 0.981104 17.7959 1.27011 20.4618C1.55912 23.1277 2.42295 25.6992 3.80203 27.9989C5.1811 30.2986 7.0426 32.2718 9.25813 33.7824C11.4737 35.2931 13.9905 36.3051 16.6351 36.7488C17.6421 36.9188 18.6616 37.0042 19.6829 37.0042C22.209 37.0087 24.709 36.4943 27.0281 35.4929C29.3472 34.4915 31.4359 33.0244 33.1646 31.1826L36.9205 34.7507C37.1068 34.9145 37.3494 34.9997 37.5973 34.9882C37.8451 34.9767 38.0788 34.8695 38.2492 34.6892C38.4196 34.5088 38.5133 34.2694 38.5107 34.0213C38.508 33.7732 38.4092 33.5358 38.2351 33.3591L38.2538 33.3648ZM4.10923 9.11878C4.34286 9.11878 4.57123 9.18805 4.76548 9.31785C4.95973 9.44764 5.11113 9.63212 5.20054 9.84796C5.28994 10.0638 5.31333 10.3013 5.26775 10.5304C5.22218 10.7596 5.10968 10.97 4.94448 11.1352C4.77928 11.3004 4.56881 11.4129 4.33968 11.4585C4.11054 11.5041 3.87304 11.4807 3.6572 11.3913C3.44136 11.3019 3.25688 11.1505 3.12708 10.9562C2.99729 10.762 2.92801 10.5336 2.92801 10.3C2.92801 9.98672 3.05246 9.68627 3.27398 9.46475C3.4955 9.24323 3.79595 9.11878 4.10923 9.11878ZM28.205 32.7488C24.8914 34.7227 20.994 35.4817 17.1818 34.8954C13.3696 34.3091 9.88034 32.4141 7.31299 29.5357L18.3477 17.1207L31.7825 29.8681C30.73 30.9903 29.5259 31.9599 28.205 32.7488Z"
      fill="#DA3B3E"
    />
  </g>
  <defs>
    <clipPath id="clip0_520_351">
      <rect width="40" height="39" fill="white" />
    </clipPath>
  </defs>
</svg>
