<svg
  width="40"
  height="45"
  viewBox="0 0 48 50"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <g filter="url(#filter0_d_520_335)">
    <path
      d="M43.1778 20.884H42.529L37.0782 5.31011H37.9433C39.0249 5.31011 39.0249 3.66613 37.9433 3.66613L24.8353 3.66643V0.81114C24.8353 -0.27038 23.1913 -0.27038 23.1913 0.81114V3.66643H10.1266C9.04507 3.66643 9.04507 5.31042 10.1266 5.31042H10.9486L5.54102 20.8843L4.84908 20.884C4.63271 20.884 4.41635 20.9706 4.24344 21.1435C3.24822 22.1818 5.19487 29.7957 12.1169 29.7957C19.4281 29.7957 21.6343 20.8839 19.3846 20.8839H18.7358L13.285 5.31007H23.1917V34.7707H12.4198C11.9439 34.7707 11.5977 35.1599 11.5977 35.5927V40.611C11.5977 41.0869 11.987 41.433 12.4198 41.433H35.6076C36.0834 41.433 36.4296 41.0438 36.4296 40.611L36.4293 35.6359C36.4293 35.16 36.04 34.8138 35.6073 34.8138H24.8353V5.30999H34.742L29.3344 20.8839C28.772 20.8839 28.4258 20.7973 28.08 21.1434C27.0417 22.1817 28.9887 29.7955 35.9102 29.7955C40.4092 29.7955 44 26.1617 44 21.7058C44 21.273 43.6539 20.8834 43.178 20.8834L43.1778 20.884ZM5.7572 22.528H6.14648H18.5191C17.5241 30.012 6.70887 29.8822 5.75713 22.528H5.7572ZM7.27148 20.884L12.1166 6.99728L16.9617 20.884H7.27148ZM34.7853 39.7457H13.2415V36.4145H34.7853V39.7457ZM35.91 6.99728L40.7552 20.884L31.0648 20.8837L35.91 6.99728ZM29.5507 22.5279H42.3126C41.3609 30.0119 30.5024 29.8822 29.5507 22.5279Z"
      fill="#726955"
    />
  </g>
  <defs>
    <filter
      id="filter0_d_520_335"
      x="0"
      y="0"
      width="48"
      height="49.4326"
      filterUnits="userSpaceOnUse"
      color-interpolation-filters="sRGB"
    >
      <feFlood flood-opacity="0" result="BackgroundImageFix" />
      <feColorMatrix
        in="SourceAlpha"
        type="matrix"
        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
        result="hardAlpha"
      />
      <feOffset dy="4" />
      <feGaussianBlur stdDeviation="2" />
      <feComposite in2="hardAlpha" operator="out" />
      <feColorMatrix
        type="matrix"
        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"
      />
      <feBlend
        mode="normal"
        in2="BackgroundImageFix"
        result="effect1_dropShadow_520_335"
      />
      <feBlend
        mode="normal"
        in="SourceGraphic"
        in2="effect1_dropShadow_520_335"
        result="shape"
      />
    </filter>
  </defs>
</svg>
