<script>
  import { Router, Route, Link } from 'svelte-navigator';
  import LeadDetail from './LeadDetail/index.svelte';
</script>

<ul>
  <li><Link to="10" style="color: salmon;">LeadDetail /:10</Link></li>
</ul>

<Router>
  <Route path=":id" let:params><LeadDetail id={params.id} /></Route>
</Router>
